In [1]:
import pandas as pd
import datetime

## Задание путей и имени исследуемого

In [2]:
dataDir = 'D:\\dataPoly\\'
faceData = dataDir + 'facereader\\'
polyData = dataDir + 'polygraph\\'
timeData = dataDir + 'time\\'
subject = r'Базаев Кирилл'

## Импорт данных полиграфа

In [3]:
pathP1 = polyData + subject + '\\' + 'Фигуры_ABS_BLOOD_VOLUME.txt' #путь к файлу
readColsP = ['Time', 'Value']
bd_vl = pd.read_table(pathP1 ,sep='\s+', usecols = readColsP)
bd_vl['Time'] = bd_vl['Time'].apply(lambda x: datetime.datetime.utcfromtimestamp(x//1000).replace(microsecond=x%1000*1000))
bd_vl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13345 entries, 0 to 13344
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    13345 non-null  datetime64[ns]
 1   Value   13345 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 208.6 KB

In [4]:
bd_vl['Time'].dt.time

0        00:00:00.066000
1        00:00:00.100000
2        00:00:00.132000
3        00:00:00.164000
4        00:00:00.195000
              ...
13340    00:07:07.696000
13341    00:07:07.727000
13342    00:07:07.759000
13343    00:07:07.791000
13344    00:07:07.823000
Name: Time, Length: 13345, dtype: object

In [39]:
#emotions['Video Time'] = pd.to_datetime(emotions['Video Time'])
#pd.to_datetime(emotions['Video Time']).dt.time

## Импорт FaceReader

In [5]:
#cols = ['Neutral', 'Happy', 'Sad', 'Angry', 'Surprised', 'Scared',
#       'Disgusted', 'Contempt', 'Valence', 'Arousal', 'Y - Head Orientation', 
#        'X - Head Orientation','Z - Head Orientation', 'Quality']

readColsF = ['Video Time', 'Neutral', 'Happy', 'Sad', 'Angry', 'Surprised', 'Scared', 'Disgusted', 'Contempt', 'Valence', 'Arousal'] 
colsF = ['Neutral', 'Happy', 'Sad', 'Angry', 'Surprised', 'Scared', 'Disgusted', 'Contempt', 'Valence', 'Arousal'] 
#conv = dict.fromkeys(cols, lambda x: pd.to_numeric(x, errors='coerce'))
na = ["FIND_FAILED", "FIT_FAILED"] #значения NA
pathF1 = faceData + subject + '.txt'

emotions = pd.read_table(pathF1, sep='\t', skiprows=8, index_col=False, parse_dates = ['Video Time'], na_values = na, usecols = readColsF)
#converters= conv

emotions[colsF] = emotions[colsF].apply(pd.to_numeric,errors='coerce').fillna(emotions)

#for i in range(26, 68):
#    emotions.iloc[:,i] = pd.to_numeric(emotions.iloc[:,i], errors='coerce').fillna(0, downcast='infer')

In [6]:
emotions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10681 entries, 0 to 10680
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Video Time  10681 non-null  datetime64[ns]
 1   Neutral     10651 non-null  float64
 2   Happy       10651 non-null  float64
 3   Sad         10651 non-null  float64
 4   Angry       10651 non-null  float64
 5   Surprised   10651 non-null  float64
 6   Scared      10651 non-null  float64
 7   Disgusted   10651 non-null  float64
 8   Contempt    10651 non-null  float64
 9   Valence     10651 non-null  float64
 10  Arousal     10651 non-null  float64
dtypes: datetime64[ns](1), float64(10)
memory usage: 918.0 KB

In [7]:
emotions.iloc[:10] #проверка значений NaN

,Video Time,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted,Contempt,Valence,Arousal
0,2023-04-08 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-04-08 00:00:00.040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-04-08 00:00:00.080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-04-08 00:00:00.120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-04-08 00:00:00.160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2023-04-08 00:00:00.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2023-04-08 00:00:00.240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2023-04-08 00:00:00.280,0.506445,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.606562
8,2023-04-08 00:00:00.320,0.506471,1.000000e-09,0.000006,0.000000,1.940000e-07,4.000000e-09,0.000010,0.000025,-0.000010,0.606562
9,2023-04-08 00:00:00.360,0.504043,1.900000e-08,0.000012,0.004911,1.720000e-07,1.230000e-07,0.000284,0.000022,-0.004911,0.606548

In [8]:
#pd.DataFrame(columns= list(emotions.columns) + list(bd_vl.columns))

In [9]:
#end_time = 0 #в миллисекундах
#if (bd_vl['Time'].iloc[-1].time() > emotions['Video Time'].iloc[-1].time()):
#    end_time = bd_vl['Time'][len(bd_vl)-1].timestamp() * 1000
#else:
#    end_time = emotions['Video Time'][len(emotions)-1].timestamp() * 1000

#print (end_time)
#
#i = 0 #start_time
#while i < int(end_time):
#    i += 50
#    print (i)