In [1]:
import pandas as pd
import numpy as np
import datetime

## Задание путей и имени исследуемого

In [2]:
dataDir = 'D:\\dataPoly\\'
faceData = dataDir + 'facereader\\'
polyData = dataDir + 'polygraph\\'
timeData = dataDir + 'time\\'
polyChannels = ["ABDOMINAL_RESP", "ABS_BLOOD_VOLUME", "BLOOD_VOLUME", "EDA", "HEART_RATE", "PLE", "THORACIC_RESP", "TONIC_EDA", "TREMOR"]
subject = r'Базаев Кирилл'

## Импорт файла timeline

In [3]:
custom_date_parser = lambda x: datetime.datetime.strptime(x, "%M:%S:%f") #парсер для времени
timeline = pd.read_excel(timeData + 'timeline.xlsx', parse_dates = list(range(2,20)), date_parser = custom_date_parser) #парсим время в колонках 2-19
timeline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      56 non-null     int64
 1   name    56 non-null     object
 2   C0_1    56 non-null     datetime64[ns]
 3   C1_1    56 non-null     datetime64[ns]
 4   C2_1    56 non-null     datetime64[ns]
 5   C3_1    56 non-null     datetime64[ns]
 6   C4_1    56 non-null     datetime64[ns]
 7   C5_1    56 non-null     datetime64[ns]
 8   C0_2    56 non-null     datetime64[ns]
 9   C4_2    56 non-null     datetime64[ns]
 10  C5_2    56 non-null     datetime64[ns]
 11  C2_2    56 non-null     datetime64[ns]
 12  C1_2    56 non-null     datetime64[ns]
 13  C3_2    56 non-null     datetime64[ns]
 14  C0_3    56 non-null     datetime64[ns]
 15  C5_3    56 non-null     datetime64[ns]
 16  C3_3    56 non-null     datetime64[ns]
 17  C1_3    56 non-null     datetime64[ns]
 18  C2_3    56 non-null     datetime64[ns]
 19  C4_3    56 non-null     datetime64[ns]
dtypes: datetime64[ns](18), int64(1), object(1)
memory usage: 8.9+ KB

In [4]:
timeline.head()

,id,name,C0_1,C1_1,C2_1,C3_1,C4_1,C5_1,C0_2,C4_2,C5_2,C2_2,C1_2,C3_2,C0_3,C5_3,C3_3,C1_3,C2_3,C4_3
0,1,Базаев Кирилл,1900-01-01 00:01:05.302,1900-01-01 00:01:25.656,1900-01-01 00:01:42.966,1900-01-01 00:01:59.607,1900-01-01 00:02:14.862,1900-01-01 00:02:28.700,1900-01-01 00:03:04.222,1900-01-01 00:03:24.951,1900-01-01 00:03:43.267,1900-01-01 00:04:01.486,1900-01-01 00:04:16.666,1900-01-01 00:04:30.894,1900-01-01 00:05:35.598,1900-01-01 00:05:52.870,1900-01-01 00:06:07.758,1900-01-01 00:06:22.134,1900-01-01 00:06:36.667,1900-01-01 00:06:52.270
1,2,Барсукова Мария,1900-01-01 00:00:58.441,1900-01-01 00:01:20.377,1900-01-01 00:01:37.649,1900-01-01 00:01:51.945,1900-01-01 00:02:08.205,1900-01-01 00:02:32.106,1900-01-01 00:03:18.457,1900-01-01 00:03:32.896,1900-01-01 00:03:48.295,1900-01-01 00:04:02.601,1900-01-01 00:04:18.021,1900-01-01 00:04:35.321,1900-01-01 00:04:51.897,1900-01-01 00:05:12.297,1900-01-01 00:05:28.057,1900-01-01 00:05:47.322,1900-01-01 00:06:03.922,1900-01-01 00:06:22.081
2,3,Белоус Полина,1900-01-01 00:03:29.261,1900-01-01 00:03:43.350,1900-01-01 00:04:02.956,1900-01-01 00:04:19.804,1900-01-01 00:04:34.109,1900-01-01 00:04:51.717,1900-01-01 00:05:33.717,1900-01-01 00:05:48.357,1900-01-01 00:06:03.545,1900-01-01 00:06:18.301,1900-01-01 00:06:32.620,1900-01-01 00:06:47.350,1900-01-01 00:07:35.167,1900-01-01 00:07:50.820,1900-01-01 00:08:05.837,1900-01-01 00:08:23.700,1900-01-01 00:08:39.181,1900-01-01 00:08:59.517
3,4,Богеварова Елена,1900-01-01 00:00:44.229,1900-01-01 00:01:04.277,1900-01-01 00:01:23.597,1900-01-01 00:01:40.029,1900-01-01 00:01:57.810,1900-01-01 00:02:11.949,1900-01-01 00:02:45.943,1900-01-01 00:03:03.429,1900-01-01 00:03:17.622,1900-01-01 00:03:32.230,1900-01-01 00:03:46.561,1900-01-01 00:04:00.278,1900-01-01 00:04:41.557,1900-01-01 00:04:55.781,1900-01-01 00:05:09.834,1900-01-01 00:05:26.360,1900-01-01 00:05:40.885,1900-01-01 00:05:55.237
4,5,Браславская Элеонора,1900-01-01 00:02:07.703,1900-01-01 00:02:23.513,1900-01-01 00:02:39.265,1900-01-01 00:02:54.249,1900-01-01 00:03:07.977,1900-01-01 00:03:22.169,1900-01-01 00:04:17.569,1900-01-01 00:04:33.737,1900-01-01 00:04:47.859,1900-01-01 00:05:03.025,1900-01-01 00:05:18.326,1900-01-01 00:05:33.097,1900-01-01 00:06:15.742,1900-01-01 00:06:29.553,1900-01-01 00:06:43.321,1900-01-01 00:06:57.281,1900-01-01 00:07:11.226,1900-01-01 00:07:24.909

## Импорт данных полиграфа

In [49]:
pathP1 = polyData + subject + '\\' + 'Фигуры_BLOOD_VOLUME.txt' #путь к файлу
readColsP = ['Time', 'Value']
bd_vl = pd.read_table(pathP1 ,sep='\s+', usecols = readColsP)
bd_vl['Time'] = bd_vl['Time'].apply(lambda x: datetime.datetime.utcfromtimestamp(x//1000).replace(microsecond=x%1000*1000))
bd_vl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13345 entries, 0 to 13344
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    13345 non-null  datetime64[ns]
 1   Value   13345 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 208.6 KB

In [50]:
bd_vl['Time'].dt.time

0        00:00:00.066000
1        00:00:00.100000
2        00:00:00.132000
3        00:00:00.164000
4        00:00:00.195000
              ...
13340    00:07:07.696000
13341    00:07:07.727000
13342    00:07:07.759000
13343    00:07:07.791000
13344    00:07:07.823000
Name: Time, Length: 13345, dtype: object

In [7]:
#emotions['Video Time'] = pd.to_datetime(emotions['Video Time'])
#pd.to_datetime(emotions['Video Time']).dt.time

## Импорт FaceReader

In [8]:
#cols = ['Neutral', 'Happy', 'Sad', 'Angry', 'Surprised', 'Scared',
#       'Disgusted', 'Contempt', 'Valence', 'Arousal', 'Y - Head Orientation', 
#        'X - Head Orientation','Z - Head Orientation', 'Quality']

readColsF = ['Video Time', 'Neutral', 'Happy', 'Sad', 'Angry', 'Surprised', 'Scared', 'Disgusted', 'Contempt', 'Valence', 'Arousal'] 
colsF = ['Neutral', 'Happy', 'Sad', 'Angry', 'Surprised', 'Scared', 'Disgusted', 'Contempt', 'Valence', 'Arousal'] 
#conv = dict.fromkeys(cols, lambda x: pd.to_numeric(x, errors='coerce'))
na = ["FIND_FAILED", "FIT_FAILED"] #значения NA
pathF1 = faceData + subject + '.txt'

emotions = pd.read_table(pathF1, sep='\t', skiprows=8, index_col=False, parse_dates = ['Video Time'], na_values = na, usecols = readColsF)
#converters= conv

emotions[colsF] = emotions[colsF].apply(pd.to_numeric,errors='coerce').fillna(emotions)

#for i in range(26, 68):
#    emotions.iloc[:,i] = pd.to_numeric(emotions.iloc[:,i], errors='coerce').fillna(0, downcast='infer')

In [9]:
emotions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10681 entries, 0 to 10680
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Video Time  10681 non-null  datetime64[ns]
 1   Neutral     10651 non-null  float64
 2   Happy       10651 non-null  float64
 3   Sad         10651 non-null  float64
 4   Angry       10651 non-null  float64
 5   Surprised   10651 non-null  float64
 6   Scared      10651 non-null  float64
 7   Disgusted   10651 non-null  float64
 8   Contempt    10651 non-null  float64
 9   Valence     10651 non-null  float64
 10  Arousal     10651 non-null  float64
dtypes: datetime64[ns](1), float64(10)
memory usage: 918.0 KB

In [10]:
emotions.iloc[:10] #проверка значений NaN

,Video Time,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted,Contempt,Valence,Arousal
0,2023-04-17 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-04-17 00:00:00.040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-04-17 00:00:00.080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-04-17 00:00:00.120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-04-17 00:00:00.160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2023-04-17 00:00:00.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2023-04-17 00:00:00.240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2023-04-17 00:00:00.280,0.506445,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.606562
8,2023-04-17 00:00:00.320,0.506471,1.000000e-09,0.000006,0.000000,1.940000e-07,4.000000e-09,0.000010,0.000025,-0.000010,0.606562
9,2023-04-17 00:00:00.360,0.504043,1.900000e-08,0.000012,0.004911,1.720000e-07,1.230000e-07,0.000284,0.000022,-0.004911,0.606548

## Формирование итогового выходного массива

In [9]:
#end_time = 0 #в миллисекундах
#if (bd_vl['Time'].iloc[-1].time() > emotions['Video Time'].iloc[-1].time()):
#    end_time = bd_vl['Time'][len(bd_vl)-1].timestamp() * 1000
#else:
#    end_time = emotions['Video Time'][len(emotions)-1].timestamp() * 1000

#print (end_time)
#
#i = 0 #start_time
#while i < int(end_time):
#    i += 50
#    print (i)

#### Скелет итогового датафрейма

In [51]:
for j, row in timeline.iterrows():
    if (row['name'] == subject):
        subID = row['id']
test = pd.DataFrame(columns= ['id', 'name', 'time', 'stimul', 'trial'] + list(emotions.columns)[1:] + polyChannels)
test

Empty DataFrame
Columns: [id, name, time, stimul, trial, Neutral, Happy, Sad, Angry, Surprised, Scared, Disgusted, Contempt, Valence, Arousal, ABDOMINAL_RESP, ABS_BLOOD_VOLUME, BLOOD_VOLUME, EDA, HEART_RATE, PLE, THORACIC_RESP, TONIC_EDA, TREMOR]
Index: []

[0 rows x 24 columns]

#### Функция для конвертации объекта datetime.time в миллисекунды

In [12]:
def totalMiliSec(time):
    return (time.microsecond + time.second * 1000000 + time.minute * 60 * 1000000 + time.hour * 60 * 60 * 1000000)/1000

In [93]:
emotions.columns[1:]

Index(['Neutral', 'Happy', 'Sad', 'Angry', 'Surprised', 'Scared', 'Disgusted',
       'Contempt', 'Valence', 'Arousal'],
      dtype='object')

#### Формирование итогового датафрейма

In [95]:
#конечное время
end_time = 0 #в миллисекундах, самая ппоследняя временная метка из двух файлов
if (bd_vl['Time'].iloc[-1].time() > emotions['Video Time'].iloc[-1].time()):
    end_time = totalMiliSec(bd_vl['Time'].iloc[-1].time())
else:
    end_time = totalMiliSec(emotions['Video Time'].iloc[-1].time())

print (end_time)

427823.0

In [136]:
test.drop(test.index,inplace=True)

In [ ]:
time = 0 #начальное время
polyCurRow = 0 #на какой строчке в датафрейме с данными полиграфа остановились во время прохода по строкам
emotionsCurRow = 0 #на какой строчке в датафрейме с данными мимики остановились во время прохода по строкам


pRows = pd.DataFrame(columns= ['Value'])
eRows = pd.DataFrame(columns= ['Neutral', 'Happy', 'Sad', 'Angry', 'Surprised', 'Scared', 'Disgusted', 'Contempt', 'Valence', 'Arousal'])

while time < int(end_time):
    print('----Time----')
    print (time)
    
    for k, row in bd_vl.iloc[polyCurRow:, : ].iterrows(): #проходим по датафрейму с данными полиграфа
        if (time < totalMiliSec(row['Time']) <= time+50): #если строка попадает во временной интервал
            polyCurRow = k #фиксируем индекс строки
            pRows.loc[len(pRows.index)] = [row['Value']]
                
    #print(pRows) 
    
    if (len(pRows) > 1):
        pTotal = pRows['Value'].mean()
    elif(len(pRows) != 0):
        pTotal = pRows.iloc[0]['Value']
    else:
        pTotal = 0
        
        
    for l, row in emotions.iloc[emotionsCurRow:, : ].iterrows(): #проходим по датафрейму с данными по мимике
        if (time < totalMiliSec(row['Video Time']) <= time+50):
            emotionsCurRow = l
            eRows.loc[len(eRows.index)] = [row['Neutral'], row['Happy'], 
                                           row['Sad'], row['Angry'], row['Surprised'], row['Scared'], 
                                           row['Disgusted'], row['Contempt'], row['Valence'], row['Arousal']]
                        
    #print(eRows)
    if (len(eRows) > 1):
        print('1')
        eTotal = np.mean(eRows).to_frame()
        #eTotal = eRows.mean(axis=0,numeric_only=True, skipna=True).to_frame()
        #print(eTotal)
    elif(len(eRows) != 0):
        print('2')
        eTotal = eRows.iloc[0].to_frame()
        #print(pd.to_numeric(eTotal.loc['Sad']))
    else:
        print('3')
        eTotal = [0]*10
    
    
    time += 50 #временной шаг (может регулироваться)
    test.loc[len(test.index)] = [subID, subject, time, 0, 0, eTotal.loc['Neutral'], eTotal.loc['Happy'], 
                                 eTotal.loc['Sad'], eTotal.loc['Angry'], eTotal.loc['Surprised'], eTotal.loc['Scared'], 
                                 eTotal.loc['Disgusted'], eTotal.loc['Contempt'], eTotal.loc['Valence'], eTotal.loc['Arousal'], 
                                 0, 0, pTotal, 0, 0, 0, 0, 0, 0]
    print(test)
    pRows.drop(pRows.index,inplace=True)
    eRows.drop(eRows.index,inplace=True)

----Time----
0
2
  id           name time stimul trial                                Neutral  \
0  1  Базаев Кирилл   50      0     0  0    NaN
Name: Neutral, dtype: object

                                 Happy                                Sad  \
0  0    NaN
Name: Happy, dtype: object  0    NaN
Name: Sad, dtype: object

                                 Angry  \
0  0    NaN
Name: Angry, dtype: object

                                 Surprised  ...  \
0  0    NaN
Name: Surprised, dtype: object  ...

                                 Arousal ABDOMINAL_RESP ABS_BLOOD_VOLUME  \
0  0    NaN
Name: Arousal, dtype: object              0                0

  BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA TREMOR
0            0   0          0   0             0         0      0

[1 rows x 24 columns]
----Time----
50
2
  id           name time stimul trial                                Neutral  \
0  1  Базаев Кирилл   50      0     0  0    NaN
Name: Neutral, dtype: object
1  1  Базаев Кирилл  100      0     0  0    NaN
Name: Neutral, dtype: object

                                 Happy                                Sad  \
0  0    NaN
Name: Happy, dtype: object  0    NaN
Name: Sad, dtype: object
1  0    NaN
Name: Happy, dtype: object  0    NaN
Name: Sad, dtype: object

                                 Angry  \
0  0    NaN
Name: Angry, dtype: object
1  0    NaN
Name: Angry, dtype: object

                                 Surprised  ...  \
0  0    NaN
Name: Surprised, dtype: object  ...
1  0    NaN
Name: Surprised, dtype: object  ...

                                 Arousal ABDOMINAL_RESP ABS_BLOOD_VOLUME  \
0  0    NaN
Name: Arousal, dtype: object              0                0
1  0    NaN
Name: Arousal, dtype: object              0                0

  BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA TREMOR
0            0   0          0   0             0         0      0
1        222.5   0          0   0             0         0      0

[2 rows x 24 columns]
----Time----
100
2
  id           name time stimul trial                                Neutral  \
0  1  Базаев Кирилл   50      0     0  0    NaN
Name: Neutral, dtype: object
1  1  Базаев Кирилл  100      0     0  0    NaN
Name: Neutral, dtype: object
2  1  Базаев Кирилл  150      0     0  0    NaN
Name: Neutral, dtype: object

                                 Happy                                Sad  \
0  0    NaN
Name: Happy, dtype: object  0    NaN
Name: Sad, dtype: object
1  0    NaN
Name: Happy, dtype: object  0    NaN
Name: Sad, dtype: object
2  0    NaN
Name: Happy, dtype: object  0    NaN
Name: Sad, dtype: object

                                 Angry  \
0  0    NaN
Name: Angry, dtype: object
1  0    NaN
Name: Angry, dtype: object
2  0    NaN
Name: Angry, dtype: object

                                 Surprised  ...  \
0  0    NaN
Name: Surprised, dtype: object  ...
1  0    NaN
Name: Surprised, dtype: object  ...
2  0    NaN
Name: Surprised, dtype: object  ...

                                 Arousal ABDOMINAL_RESP ABS_BLOOD_VOLUME  \
0  0    NaN
Name: Arousal, dtype: object              0                0
1  0    NaN
Name: Arousal, dtype: object              0                0
2  0    NaN
Name: Arousal, dtype: object              0                0

  BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA TREMOR
0            0   0          0   0             0         0      0
1        222.5   0          0   0             0         0      0
2          223   0          0   0             0         0      0

[3 rows x 24 columns]
----Time----
150
1
  id           name time stimul trial                                Neutral  \
0  1  Базаев Кирилл   50      0     0  0    NaN
Name: Neutral, dtype: object
1  1  Базаев Кирилл  100      0     0  0    NaN
Name: Neutral, dtype: object
2  1  Базаев Кирилл  150      0     0  0    NaN
Name: Neutral, dtype: object
3  1  Базаев Кирилл  200      0     0  0   NaN
Name: Neutral, dtype: float64

                                 Happy                                Sad  \
0  0    NaN
Name: Happy, dtype: object  0    NaN
Name: Sad, dtype: object
1  0    NaN
Name: Happy, dtype: object  0    NaN
Name: Sad, dtype: object
2  0    NaN
Name: Happy, dtype: object  0    NaN
Name: Sad, dtype: object
3  0   NaN
Name: Happy, dtype: float64  0   NaN
Name: Sad, dtype: float64

                                 Angry  \
0  0    NaN
Name: Angry, dtype: object
1  0    NaN
Name: Angry, dtype: object
2  0    NaN
Name: Angry, dtype: object
3  0   NaN
Name: Angry, dtype: float64

                                 Surprised  ...  \
0  0    NaN
Name: Surprised, dtype: object  ...
1  0    NaN
Name: Surprised, dtype: object  ...
2  0    NaN
Name: Surprised, dtype: object  ...
3  0   NaN
Name: Surprised, dtype: float64  ...

                                 Arousal ABDOMINAL_RESP ABS_BLOOD_VOLUME  \
0  0    NaN
Name: Arousal, dtype: object              0                0
1  0    NaN
Name: Arousal, dtype: object              0                0
2  0    NaN
Name: Arousal, dtype: object              0                0
3  0   NaN
Name: Arousal, dtype: float64              0                0

  BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA TREMOR
0            0   0          0   0             0         0      0
1        222.5   0          0   0             0         0      0
2          223   0          0   0             0         0      0
3        111.5   0          0   0             0         0      0

[4 rows x 24 columns]
----Time----
200
2
  id           name time stimul trial                                Neutral  \
0  1  Базаев Кирилл   50      0     0  0    NaN
Name: Neutral, dtype: object
1  1  Базаев Кирилл  100      0     0  0    NaN
Name: Neutral, dtype: object
2  1  Базаев Кирилл  150      0     0  0    NaN
Name: Neutral, dtype: object
3  1  Базаев Кирилл  200      0     0  0   NaN
Name: Neutral, dtype: float64
4  1  Базаев Кирилл  250      0     0  0    NaN
Name: Neutral, dtype: object

                                 Happy                                Sad  \
0  0    NaN
Name: Happy, dtype: object  0    NaN
Name: Sad, dtype: object
1  0    NaN
Name: Happy, dtype: object  0    NaN
Name: Sad, dtype: object
2  0    NaN
Name: Happy, dtype: object  0    NaN
Name: Sad, dtype: object
3  0   NaN
Name: Happy, dtype: float64  0   NaN
Name: Sad, dtype: float64
4  0    NaN
Name: Happy, dtype: object  0    NaN
Name: Sad, dtype: object

                                 Angry  \
0  0    NaN
Name: Angry, dtype: object
1  0    NaN
Name: Angry, dtype: object
2  0    NaN
Name: Angry, dtype: object
3  0   NaN
Name: Angry, dtype: float64
4  0    NaN
Name: Angry, dtype: object

                                 Surprised  ...  \
0  0    NaN
Name: Surprised, dtype: object  ...
1  0    NaN
Name: Surprised, dtype: object  ...
2  0    NaN
Name: Surprised, dtype: object  ...
3  0   NaN
Name: Surprised, dtype: float64  ...
4  0    NaN
Name: Surprised, dtype: object  ...

                                 Arousal ABDOMINAL_RESP ABS_BLOOD_VOLUME  \
0  0    NaN
Name: Arousal, dtype: object              0                0
1  0    NaN
Name: Arousal, dtype: object              0                0
2  0    NaN
Name: Arousal, dtype: object              0                0
3  0   NaN
Name: Arousal, dtype: float64              0                0
4  0    NaN
Name: Arousal, dtype: object              0                0

  BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA TREMOR
0            0   0          0   0             0         0      0
1        222.5   0          0   0             0         0      0
2          223   0          0   0             0         0      0
3        111.5   0          0   0             0         0      0
4            0   0          0   0             0         0      0

[5 rows x 24 columns]
----Time----
250
2
  id           name time stimul trial  \
0  1  Базаев Кирилл   50      0     0
1  1  Базаев Кирилл  100      0     0
2  1  Базаев Кирилл  150      0     0
3  1  Базаев Кирилл  200      0     0
4  1  Базаев Кирилл  250      0     0
5  1  Базаев Кирилл  300      0     0

                                       Neutral  \
0        0    NaN
Name: Neutral, dtype: object
1        0    NaN
Name: Neutral, dtype: object
2        0    NaN
Name: Neutral, dtype: object
3        0   NaN
Name: Neutral, dtype: float64
4        0    NaN
Name: Neutral, dtype: object
5  0    0.506445
Name: Neutral, dtype: float64

                                  Happy                                 Sad  \
0   0    NaN
Name: Happy, dtype: object   0    NaN
Name: Sad, dtype: object
1   0    NaN
Name: Happy, dtype: object   0    NaN
Name: Sad, dtype: object
2   0    NaN
Name: Happy, dtype: object   0    NaN
Name: Sad, dtype: object
3   0   NaN
Name: Happy, dtype: float64   0   NaN
Name: Sad, dtype: float64
4   0    NaN
Name: Happy, dtype: object   0    NaN
Name: Sad, dtype: object
5  0    0.0
Name: Happy, dtype: float64  0    0.0
Name: Sad, dtype: float64

                                  Angry  \
0   0    NaN
Name: Angry, dtype: object
1   0    NaN
Name: Angry, dtype: object
2   0    NaN
Name: Angry, dtype: object
3   0   NaN
Name: Angry, dtype: float64
4   0    NaN
Name: Angry, dtype: object
5  0    0.0
Name: Angry, dtype: float64

                                  Surprised  ...  \
0   0    NaN
Name: Surprised, dtype: object  ...
1   0    NaN
Name: Surprised, dtype: object  ...
2   0    NaN
Name: Surprised, dtype: object  ...
3   0   NaN
Name: Surprised, dtype: float64  ...
4   0    NaN
Name: Surprised, dtype: object  ...
5  0    0.0
Name: Surprised, dtype: float64  ...

                                       Arousal ABDOMINAL_RESP  \
0        0    NaN
Name: Arousal, dtype: object              0
1        0    NaN
Name: Arousal, dtype: object              0
2        0    NaN
Name: Arousal, dtype: object              0
3        0   NaN
Name: Arousal, dtype: float64              0
4        0    NaN
Name: Arousal, dtype: object              0
5  0    0.606562
Name: Arousal, dtype: float64              0

  ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                0            0   0          0   0             0         0
1                0        222.5   0          0   0             0         0
2                0          223   0          0   0             0         0
3                0        111.5   0          0   0             0         0
4                0            0   0          0   0             0         0
5                0        190.5   0          0   0             0         0

  TREMOR
0      0
1      0
2      0
3      0
4      0
5      0

[6 rows x 24 columns]
----Time----
300

2
  id           name time stimul trial  \
0  1  Базаев Кирилл   50      0     0
1  1  Базаев Кирилл  100      0     0
2  1  Базаев Кирилл  150      0     0
3  1  Базаев Кирилл  200      0     0
4  1  Базаев Кирилл  250      0     0
5  1  Базаев Кирилл  300      0     0
6  1  Базаев Кирилл  350      0     0

                                       Neutral  \
0        0    NaN
Name: Neutral, dtype: object
1        0    NaN
Name: Neutral, dtype: object
2        0    NaN
Name: Neutral, dtype: object
3        0   NaN
Name: Neutral, dtype: float64
4        0    NaN
Name: Neutral, dtype: object
5  0    0.506445
Name: Neutral, dtype: float64
6  0    0.506471
Name: Neutral, dtype: float64

                                           Happy  \
0            0    NaN
Name: Happy, dtype: object
1            0    NaN
Name: Happy, dtype: object
2            0    NaN
Name: Happy, dtype: object
3            0   NaN
Name: Happy, dtype: float64
4            0    NaN
Name: Happy, dtype: object
5           0    0.0
Name: Happy, dtype: float64
6  0    1.000000e-09
Name: Happy, dtype: float64

                                       Sad  \
0        0    NaN
Name: Sad, dtype: object
1        0    NaN
Name: Sad, dtype: object
2        0    NaN
Name: Sad, dtype: object
3        0   NaN
Name: Sad, dtype: float64
4        0    NaN
Name: Sad, dtype: object
5       0    0.0
Name: Sad, dtype: float64
6  0    0.000006
Name: Sad, dtype: float64

                                  Angry  \
0   0    NaN
Name: Angry, dtype: object
1   0    NaN
Name: Angry, dtype: object
2   0    NaN
Name: Angry, dtype: object
3   0   NaN
Name: Angry, dtype: float64
4   0    NaN
Name: Angry, dtype: object
5  0    0.0
Name: Angry, dtype: float64
6  0    0.0
Name: Angry, dtype: float64

                                           Surprised  ...  \
0            0    NaN
Name: Surprised, dtype: object  ...
1            0    NaN
Name: Surprised, dtype: object  ...
2            0    NaN
Name: Surprised, dtype: object  ...
3            0   NaN
Name: Surprised, dtype: float64  ...
4            0    NaN
Name: Surprised, dtype: object  ...
5           0    0.0
Name: Surprised, dtype: float64  ...
6  0    1.940000e-07
Name: Surprised, dtype: float64  ...

                                       Arousal ABDOMINAL_RESP  \
0        0    NaN
Name: Arousal, dtype: object              0
1        0    NaN
Name: Arousal, dtype: object              0
2        0    NaN
Name: Arousal, dtype: object              0
3        0   NaN
Name: Arousal, dtype: float64              0
4        0    NaN
Name: Arousal, dtype: object              0
5  0    0.606562
Name: Arousal, dtype: float64              0
6  0    0.606562
Name: Arousal, dtype: float64              0

  ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                0            0   0          0   0             0         0
1                0        222.5   0          0   0             0         0
2                0          223   0          0   0             0         0
3                0        111.5   0          0   0             0         0
4                0            0   0          0   0             0         0
5                0        190.5   0          0   0             0         0
6                0          418   0          0   0             0         0

  TREMOR
0      0
1      0
2      0
3      0
4      0
5      0
6      0

[7 rows x 24 columns]
----Time----
350
1
  id           name time stimul trial  \
0  1  Базаев Кирилл   50      0     0
1  1  Базаев Кирилл  100      0     0
2  1  Базаев Кирилл  150      0     0
3  1  Базаев Кирилл  200      0     0
4  1  Базаев Кирилл  250      0     0
5  1  Базаев Кирилл  300      0     0
6  1  Базаев Кирилл  350      0     0
7  1  Базаев Кирилл  400      0     0

                                       Neutral  \
0        0    NaN
Name: Neutral, dtype: object
1        0    NaN
Name: Neutral, dtype: object
2        0    NaN
Name: Neutral, dtype: object
3        0   NaN
Name: Neutral, dtype: float64
4        0    NaN
Name: Neutral, dtype: object
5  0    0.506445
Name: Neutral, dtype: float64
6  0    0.506471
Name: Neutral, dtype: float64
7  0    0.504041
Name: Neutral, dtype: float64

                                           Happy  \
0            0    NaN
Name: Happy, dtype: object
1            0    NaN
Name: Happy, dtype: object
2            0    NaN
Name: Happy, dtype: object
3            0   NaN
Name: Happy, dtype: float64
4            0    NaN
Name: Happy, dtype: object
5           0    0.0
Name: Happy, dtype: float64
6  0    1.000000e-09
Name: Happy, dtype: float64
7  0    2.700000e-08
Name: Happy, dtype: float64

                                       Sad  \
0        0    NaN
Name: Sad, dtype: object
1        0    NaN
Name: Sad, dtype: object
2        0    NaN
Name: Sad, dtype: object
3        0   NaN
Name: Sad, dtype: float64
4        0    NaN
Name: Sad, dtype: object
5       0    0.0
Name: Sad, dtype: float64
6  0    0.000006
Name: Sad, dtype: float64
7  0    0.000028
Name: Sad, dtype: float64

                                       Angry  \
0        0    NaN
Name: Angry, dtype: object
1        0    NaN
Name: Angry, dtype: object
2        0    NaN
Name: Angry, dtype: object
3        0   NaN
Name: Angry, dtype: float64
4        0    NaN
Name: Angry, dtype: object
5       0    0.0
Name: Angry, dtype: float64
6       0    0.0
Name: Angry, dtype: float64
7  0    0.004634
Name: Angry, dtype: float64

                                           Surprised  ...  \
0            0    NaN
Name: Surprised, dtype: object  ...
1            0    NaN
Name: Surprised, dtype: object  ...
2            0    NaN
Name: Surprised, dtype: object  ...
3            0   NaN
Name: Surprised, dtype: float64  ...
4            0    NaN
Name: Surprised, dtype: object  ...
5           0    0.0
Name: Surprised, dtype: float64  ...
6  0    1.940000e-07
Name: Surprised, dtype: float64  ...
7      0    0.000001
Name: Surprised, dtype: float64  ...

                                       Arousal ABDOMINAL_RESP  \
0        0    NaN
Name: Arousal, dtype: object              0
1        0    NaN
Name: Arousal, dtype: object              0
2        0    NaN
Name: Arousal, dtype: object              0
3        0   NaN
Name: Arousal, dtype: float64              0
4        0    NaN
Name: Arousal, dtype: object              0
5  0    0.606562
Name: Arousal, dtype: float64              0
6  0    0.606562
Name: Arousal, dtype: float64              0
7  0    0.606541
Name: Arousal, dtype: float64              0

  ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                0            0   0          0   0             0         0
1                0        222.5   0          0   0             0         0
2                0          223   0          0   0             0         0
3                0        111.5   0          0   0             0         0
4                0            0   0          0   0             0         0
5                0        190.5   0          0   0             0         0
6                0          418   0          0   0             0         0
7                0        269.0   0          0   0             0         0

  TREMOR
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0

[8 rows x 24 columns]
----Time----
400
2
  id           name time stimul trial  \
0  1  Базаев Кирилл   50      0     0
1  1  Базаев Кирилл  100      0     0
2  1  Базаев Кирилл  150      0     0
3  1  Базаев Кирилл  200      0     0
4  1  Базаев Кирилл  250      0     0
5  1  Базаев Кирилл  300      0     0
6  1  Базаев Кирилл  350      0     0
7  1  Базаев Кирилл  400      0     0
8  1  Базаев Кирилл  450      0     0

                                       Neutral  \
0        0    NaN
Name: Neutral, dtype: object
1        0    NaN
Name: Neutral, dtype: object
2        0    NaN
Name: Neutral, dtype: object
3        0   NaN
Name: Neutral, dtype: float64
4        0    NaN
Name: Neutral, dtype: object
5  0    0.506445
Name: Neutral, dtype: float64
6  0    0.506471
Name: Neutral, dtype: float64
7  0    0.504041
Name: Neutral, dtype: float64
8  0    0.503837
Name: Neutral, dtype: float64

                                           Happy  \
0            0    NaN
Name: Happy, dtype: object
1            0    NaN
Name: Happy, dtype: object
2            0    NaN
Name: Happy, dtype: object
3            0   NaN
Name: Happy, dtype: float64
4            0    NaN
Name: Happy, dtype: object
5           0    0.0
Name: Happy, dtype: float64
6  0    1.000000e-09
Name: Happy, dtype: float64
7  0    2.700000e-08
Name: Happy, dtype: float64
8  0    7.300000e-08
Name: Happy, dtype: float64

                                       Sad  \
0        0    NaN
Name: Sad, dtype: object
1        0    NaN
Name: Sad, dtype: object
2        0    NaN
Name: Sad, dtype: object
3        0   NaN
Name: Sad, dtype: float64
4        0    NaN
Name: Sad, dtype: object
5       0    0.0
Name: Sad, dtype: float64
6  0    0.000006
Name: Sad, dtype: float64
7  0    0.000028
Name: Sad, dtype: float64
8  0    0.000106
Name: Sad, dtype: float64

                                       Angry  \
0        0    NaN
Name: Angry, dtype: object
1        0    NaN
Name: Angry, dtype: object
2        0    NaN
Name: Angry, dtype: object
3        0   NaN
Name: Angry, dtype: float64
4        0    NaN
Name: Angry, dtype: object
5       0    0.0
Name: Angry, dtype: float64
6       0    0.0
Name: Angry, dtype: float64
7  0    0.004634
Name: Angry, dtype: float64
8  0    0.003865
Name: Angry, dtype: float64

                                           Surprised  ...  \
0            0    NaN
Name: Surprised, dtype: object  ...
1            0    NaN
Name: Surprised, dtype: object  ...
2            0    NaN
Name: Surprised, dtype: object  ...
3            0   NaN
Name: Surprised, dtype: float64  ...
4            0    NaN
Name: Surprised, dtype: object  ...
5           0    0.0
Name: Surprised, dtype: float64  ...
6  0    1.940000e-07
Name: Surprised, dtype: float64  ...
7      0    0.000001
Name: Surprised, dtype: float64  ...
8      0    0.000003
Name: Surprised, dtype: float64  ...

                                       Arousal ABDOMINAL_RESP  \
0        0    NaN
Name: Arousal, dtype: object              0
1        0    NaN
Name: Arousal, dtype: object              0
2        0    NaN
Name: Arousal, dtype: object              0
3        0   NaN
Name: Arousal, dtype: float64              0
4        0    NaN
Name: Arousal, dtype: object              0
5  0    0.606562
Name: Arousal, dtype: float64              0
6  0    0.606562
Name: Arousal, dtype: float64              0
7  0    0.606541
Name: Arousal, dtype: float64              0
8  0    0.606524
Name: Arousal, dtype: float64              0

  ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                0            0   0          0   0             0         0
1                0        222.5   0          0   0             0         0
2                0          223   0          0   0             0         0
3                0        111.5   0          0   0             0         0
4                0            0   0          0   0             0         0
5                0        190.5   0          0   0             0         0
6                0          418   0          0   0             0         0
7                0        269.0   0          0   0             0         0
8                0          179   0          0   0             0         0

  TREMOR
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0

[9 rows x 24 columns]
----Time----
450

2
  id           name time stimul trial  \
0  1  Базаев Кирилл   50      0     0
1  1  Базаев Кирилл  100      0     0
2  1  Базаев Кирилл  150      0     0
3  1  Базаев Кирилл  200      0     0
4  1  Базаев Кирилл  250      0     0
5  1  Базаев Кирилл  300      0     0
6  1  Базаев Кирилл  350      0     0
7  1  Базаев Кирилл  400      0     0
8  1  Базаев Кирилл  450      0     0
9  1  Базаев Кирилл  500      0     0

                                       Neutral  \
0        0    NaN
Name: Neutral, dtype: object
1        0    NaN
Name: Neutral, dtype: object
2        0    NaN
Name: Neutral, dtype: object
3        0   NaN
Name: Neutral, dtype: float64
4        0    NaN
Name: Neutral, dtype: object
5  0    0.506445
Name: Neutral, dtype: float64
6  0    0.506471
Name: Neutral, dtype: float64
7  0    0.504041
Name: Neutral, dtype: float64
8  0    0.503837
Name: Neutral, dtype: float64
9  0    0.503519
Name: Neutral, dtype: float64

                                           Happy  \
0            0    NaN
Name: Happy, dtype: object
1            0    NaN
Name: Happy, dtype: object
2            0    NaN
Name: Happy, dtype: object
3            0   NaN
Name: Happy, dtype: float64
4            0    NaN
Name: Happy, dtype: object
5           0    0.0
Name: Happy, dtype: float64
6  0    1.000000e-09
Name: Happy, dtype: float64
7  0    2.700000e-08
Name: Happy, dtype: float64
8  0    7.300000e-08
Name: Happy, dtype: float64
9  0    9.400000e-08
Name: Happy, dtype: float64

                                       Sad  \
0        0    NaN
Name: Sad, dtype: object
1        0    NaN
Name: Sad, dtype: object
2        0    NaN
Name: Sad, dtype: object
3        0   NaN
Name: Sad, dtype: float64
4        0    NaN
Name: Sad, dtype: object
5       0    0.0
Name: Sad, dtype: float64
6  0    0.000006
Name: Sad, dtype: float64
7  0    0.000028
Name: Sad, dtype: float64
8  0    0.000106
Name: Sad, dtype: float64
9  0    0.000149
Name: Sad, dtype: float64

                                       Angry  \
0        0    NaN
Name: Angry, dtype: object
1        0    NaN
Name: Angry, dtype: object
2        0    NaN
Name: Angry, dtype: object
3        0   NaN
Name: Angry, dtype: float64
4        0    NaN
Name: Angry, dtype: object
5       0    0.0
Name: Angry, dtype: float64
6       0    0.0
Name: Angry, dtype: float64
7  0    0.004634
Name: Angry, dtype: float64
8  0    0.003865
Name: Angry, dtype: float64
9  0    0.003428
Name: Angry, dtype: float64

                                           Surprised  ...  \
0            0    NaN
Name: Surprised, dtype: object  ...
1            0    NaN
Name: Surprised, dtype: object  ...
2            0    NaN
Name: Surprised, dtype: object  ...
3            0   NaN
Name: Surprised, dtype: float64  ...
4            0    NaN
Name: Surprised, dtype: object  ...
5           0    0.0
Name: Surprised, dtype: float64  ...
6  0    1.940000e-07
Name: Surprised, dtype: float64  ...
7      0    0.000001
Name: Surprised, dtype: float64  ...
8      0    0.000003
Name: Surprised, dtype: float64  ...
9      0    0.000003
Name: Surprised, dtype: float64  ...

                                       Arousal ABDOMINAL_RESP  \
0        0    NaN
Name: Arousal, dtype: object              0
1        0    NaN
Name: Arousal, dtype: object              0
2        0    NaN
Name: Arousal, dtype: object              0
3        0   NaN
Name: Arousal, dtype: float64              0
4        0    NaN
Name: Arousal, dtype: object              0
5  0    0.606562
Name: Arousal, dtype: float64              0
6  0    0.606562
Name: Arousal, dtype: float64              0
7  0    0.606541
Name: Arousal, dtype: float64              0
8  0    0.606524
Name: Arousal, dtype: float64              0
9  0    0.606499
Name: Arousal, dtype: float64              0

  ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                0            0   0          0   0             0         0
1                0        222.5   0          0   0             0         0
2                0          223   0          0   0             0         0
3                0        111.5   0          0   0             0         0
4                0            0   0          0   0             0         0
5                0        190.5   0          0   0             0         0
6                0          418   0          0   0             0         0
7                0        269.0   0          0   0             0         0
8                0          179   0          0   0             0         0
9                0        202.5   0          0   0             0         0

  TREMOR
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0

[10 rows x 24 columns]
----Time----
500
2
   id           name time stimul trial  \
0   1  Базаев Кирилл   50      0     0
1   1  Базаев Кирилл  100      0     0
2   1  Базаев Кирилл  150      0     0
3   1  Базаев Кирилл  200      0     0
4   1  Базаев Кирилл  250      0     0
5   1  Базаев Кирилл  300      0     0
6   1  Базаев Кирилл  350      0     0
7   1  Базаев Кирилл  400      0     0
8   1  Базаев Кирилл  450      0     0
9   1  Базаев Кирилл  500      0     0
10  1  Базаев Кирилл  550      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0

[11 rows x 24 columns]
----Time----
550

1
   id           name time stimul trial  \
0   1  Базаев Кирилл   50      0     0
1   1  Базаев Кирилл  100      0     0
2   1  Базаев Кирилл  150      0     0
3   1  Базаев Кирилл  200      0     0
4   1  Базаев Кирилл  250      0     0
5   1  Базаев Кирилл  300      0     0
6   1  Базаев Кирилл  350      0     0
7   1  Базаев Кирилл  400      0     0
8   1  Базаев Кирилл  450      0     0
9   1  Базаев Кирилл  500      0     0
10  1  Базаев Кирилл  550      0     0
11  1  Базаев Кирилл  600      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0

[12 rows x 24 columns]
----Time----
600
2
   id           name time stimul trial  \
0   1  Базаев Кирилл   50      0     0
1   1  Базаев Кирилл  100      0     0
2   1  Базаев Кирилл  150      0     0
3   1  Базаев Кирилл  200      0     0
4   1  Базаев Кирилл  250      0     0
5   1  Базаев Кирилл  300      0     0
6   1  Базаев Кирилл  350      0     0
7   1  Базаев Кирилл  400      0     0
8   1  Базаев Кирилл  450      0     0
9   1  Базаев Кирилл  500      0     0
10  1  Базаев Кирилл  550      0     0
11  1  Базаев Кирилл  600      0     0
12  1  Базаев Кирилл  650      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0

[13 rows x 24 columns]
----Time----
650

2
   id           name time stimul trial  \
0   1  Базаев Кирилл   50      0     0
1   1  Базаев Кирилл  100      0     0
2   1  Базаев Кирилл  150      0     0
3   1  Базаев Кирилл  200      0     0
4   1  Базаев Кирилл  250      0     0
5   1  Базаев Кирилл  300      0     0
6   1  Базаев Кирилл  350      0     0
7   1  Базаев Кирилл  400      0     0
8   1  Базаев Кирилл  450      0     0
9   1  Базаев Кирилл  500      0     0
10  1  Базаев Кирилл  550      0     0
11  1  Базаев Кирилл  600      0     0
12  1  Базаев Кирилл  650      0     0
13  1  Базаев Кирилл  700      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0

[14 rows x 24 columns]
----Time----
700
2
   id           name time stimul trial  \
0   1  Базаев Кирилл   50      0     0
1   1  Базаев Кирилл  100      0     0
2   1  Базаев Кирилл  150      0     0
3   1  Базаев Кирилл  200      0     0
4   1  Базаев Кирилл  250      0     0
5   1  Базаев Кирилл  300      0     0
6   1  Базаев Кирилл  350      0     0
7   1  Базаев Кирилл  400      0     0
8   1  Базаев Кирилл  450      0     0
9   1  Базаев Кирилл  500      0     0
10  1  Базаев Кирилл  550      0     0
11  1  Базаев Кирилл  600      0     0
12  1  Базаев Кирилл  650      0     0
13  1  Базаев Кирилл  700      0     0
14  1  Базаев Кирилл  750      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0

[15 rows x 24 columns]
----Time----
750

1
   id           name time stimul trial  \
0   1  Базаев Кирилл   50      0     0
1   1  Базаев Кирилл  100      0     0
2   1  Базаев Кирилл  150      0     0
3   1  Базаев Кирилл  200      0     0
4   1  Базаев Кирилл  250      0     0
5   1  Базаев Кирилл  300      0     0
6   1  Базаев Кирилл  350      0     0
7   1  Базаев Кирилл  400      0     0
8   1  Базаев Кирилл  450      0     0
9   1  Базаев Кирилл  500      0     0
10  1  Базаев Кирилл  550      0     0
11  1  Базаев Кирилл  600      0     0
12  1  Базаев Кирилл  650      0     0
13  1  Базаев Кирилл  700      0     0
14  1  Базаев Кирилл  750      0     0
15  1  Базаев Кирилл  800      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0

[16 rows x 24 columns]
----Time----
800
2
   id           name time stimul trial  \
0   1  Базаев Кирилл   50      0     0
1   1  Базаев Кирилл  100      0     0
2   1  Базаев Кирилл  150      0     0
3   1  Базаев Кирилл  200      0     0
4   1  Базаев Кирилл  250      0     0
5   1  Базаев Кирилл  300      0     0
6   1  Базаев Кирилл  350      0     0
7   1  Базаев Кирилл  400      0     0
8   1  Базаев Кирилл  450      0     0
9   1  Базаев Кирилл  500      0     0
10  1  Базаев Кирилл  550      0     0
11  1  Базаев Кирилл  600      0     0
12  1  Базаев Кирилл  650      0     0
13  1  Базаев Кирилл  700      0     0
14  1  Базаев Кирилл  750      0     0
15  1  Базаев Кирилл  800      0     0
16  1  Базаев Кирилл  850      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0

[17 rows x 24 columns]
----Time----
850

2
   id           name time stimul trial  \
0   1  Базаев Кирилл   50      0     0
1   1  Базаев Кирилл  100      0     0
2   1  Базаев Кирилл  150      0     0
3   1  Базаев Кирилл  200      0     0
4   1  Базаев Кирилл  250      0     0
5   1  Базаев Кирилл  300      0     0
6   1  Базаев Кирилл  350      0     0
7   1  Базаев Кирилл  400      0     0
8   1  Базаев Кирилл  450      0     0
9   1  Базаев Кирилл  500      0     0
10  1  Базаев Кирилл  550      0     0
11  1  Базаев Кирилл  600      0     0
12  1  Базаев Кирилл  650      0     0
13  1  Базаев Кирилл  700      0     0
14  1  Базаев Кирилл  750      0     0
15  1  Базаев Кирилл  800      0     0
16  1  Базаев Кирилл  850      0     0
17  1  Базаев Кирилл  900      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0

[18 rows x 24 columns]
----Time----
900

2
   id           name time stimul trial  \
0   1  Базаев Кирилл   50      0     0
1   1  Базаев Кирилл  100      0     0
2   1  Базаев Кирилл  150      0     0
3   1  Базаев Кирилл  200      0     0
4   1  Базаев Кирилл  250      0     0
5   1  Базаев Кирилл  300      0     0
6   1  Базаев Кирилл  350      0     0
7   1  Базаев Кирилл  400      0     0
8   1  Базаев Кирилл  450      0     0
9   1  Базаев Кирилл  500      0     0
10  1  Базаев Кирилл  550      0     0
11  1  Базаев Кирилл  600      0     0
12  1  Базаев Кирилл  650      0     0
13  1  Базаев Кирилл  700      0     0
14  1  Базаев Кирилл  750      0     0
15  1  Базаев Кирилл  800      0     0
16  1  Базаев Кирилл  850      0     0
17  1  Базаев Кирилл  900      0     0
18  1  Базаев Кирилл  950      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0

[19 rows x 24 columns]
----Time----
950

1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0

[20 rows x 24 columns]
----Time----
1000

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0

[21 rows x 24 columns]
----Time----
1050

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0

[22 rows x 24 columns]
----Time----
1100

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0

[23 rows x 24 columns]
----Time----
1150

1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0

[24 rows x 24 columns]
----Time----
1200

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0

[25 rows x 24 columns]
----Time----
1250

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0

[26 rows x 24 columns]
----Time----
1300

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0

[27 rows x 24 columns]
----Time----
1350

1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0

[28 rows x 24 columns]
----Time----
1400

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0

[29 rows x 24 columns]
----Time----
1450

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0

[30 rows x 24 columns]
----Time----
1500

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0

[31 rows x 24 columns]
----Time----
1550

1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0

[32 rows x 24 columns]
----Time----
1600

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0

[33 rows x 24 columns]
----Time----
1650

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0

[34 rows x 24 columns]
----Time----
1700

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0

[35 rows x 24 columns]
----Time----
1750

1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0
35                0        221.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0

[36 rows x 24 columns]
----Time----
1800

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0
35                0        221.5   0          0   0             0         0
36                0          222   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0
36      0

[37 rows x 24 columns]
----Time----
1850

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0
35                0        221.5   0          0   0             0         0
36                0          222   0          0   0             0         0
37                0        221.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0
36      0
37      0

[38 rows x 24 columns]
----Time----
1900

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0
35                0        221.5   0          0   0             0         0
36                0          222   0          0   0             0         0
37                0        221.5   0          0   0             0         0
38                0          220   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0
36      0
37      0
38      0

[39 rows x 24 columns]
----Time----
1950

1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0
35                0        221.5   0          0   0             0         0
36                0          222   0          0   0             0         0
37                0        221.5   0          0   0             0         0
38                0          220   0          0   0             0         0
39                0          219   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0
36      0
37      0
38      0
39      0

[40 rows x 24 columns]
----Time----
2000

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0
35                0        221.5   0          0   0             0         0
36                0          222   0          0   0             0         0
37                0        221.5   0          0   0             0         0
38                0          220   0          0   0             0         0
39                0          219   0          0   0             0         0
40                0        222.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0
36      0
37      0
38      0
39      0
40      0

[41 rows x 24 columns]
----Time----
2050

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0
35                0        221.5   0          0   0             0         0
36                0          222   0          0   0             0         0
37                0        221.5   0          0   0             0         0
38                0          220   0          0   0             0         0
39                0          219   0          0   0             0         0
40                0        222.0   0          0   0             0         0
41                0        224.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0
36      0
37      0
38      0
39      0
40      0
41      0

[42 rows x 24 columns]
----Time----
2100

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0
35                0        221.5   0          0   0             0         0
36                0          222   0          0   0             0         0
37                0        221.5   0          0   0             0         0
38                0          220   0          0   0             0         0
39                0          219   0          0   0             0         0
40                0        222.0   0          0   0             0         0
41                0        224.5   0          0   0             0         0
42                0          225   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0
36      0
37      0
38      0
39      0
40      0
41      0
42      0

[43 rows x 24 columns]
----Time----
2150

1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0
35                0        221.5   0          0   0             0         0
36                0          222   0          0   0             0         0
37                0        221.5   0          0   0             0         0
38                0          220   0          0   0             0         0
39                0          219   0          0   0             0         0
40                0        222.0   0          0   0             0         0
41                0        224.5   0          0   0             0         0
42                0          225   0          0   0             0         0
43                0        223.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0
36      0
37      0
38      0
39      0
40      0
41      0
42      0
43      0

[44 rows x 24 columns]
----Time----
2200

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0
35                0        221.5   0          0   0             0         0
36                0          222   0          0   0             0         0
37                0        221.5   0          0   0             0         0
38                0          220   0          0   0             0         0
39                0          219   0          0   0             0         0
40                0        222.0   0          0   0             0         0
41                0        224.5   0          0   0             0         0
42                0          225   0          0   0             0         0
43                0        223.0   0          0   0             0         0
44                0          222   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0
45  0    0.485517
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0
35                0        221.5   0          0   0             0         0
36                0          222   0          0   0             0         0
37                0        221.5   0          0   0             0         0
38                0          220   0          0   0             0         0
39                0          219   0          0   0             0         0
40                0        222.0   0          0   0             0         0
41                0        224.5   0          0   0             0         0
42                0          225   0          0   0             0         0
43                0        223.0   0          0   0             0         0
44                0          222   0          0   0             0         0

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0
45  0    0.485517
Name: Arousal, dtype: float64              0
46   0    0.48101
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0
35                0        221.5   0          0   0             0         0
36                0          222   0          0   0             0         0
37                0        221.5   0          0   0             0         0
38                0          220   0          0   0             0         0
39                0          219   0          0   0             0         0

----Time----
2350
1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0
47  1  Базаев Кирилл  2400      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64
47   0    0.72125
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64
47      0    0.000441
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64
47  0    0.082015
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64
47  0    0.000012
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...
47        0    0.0024
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0
45  0    0.485517
Name: Arousal, dtype: float64              0
46   0    0.48101
Name: Arousal, dtype: float64              0
47  0    0.474518
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0
31                0          223   0          0   0             0         0
32                0        222.0   0          0   0             0         0
33                0        221.5   0          0   0             0         0
34                0          221   0          0   0             0         0

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0
47  1  Базаев Кирилл  2400      0     0
48  1  Базаев Кирилл  2450      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64
47   0    0.72125
Name: Neutral, dtype: float64
48  0    0.728193
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64
47      0    0.000441
Name: Happy, dtype: float64
48      0    0.000613
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64
47  0    0.082015
Name: Sad, dtype: float64
48  0    0.077465
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64
47  0    0.000012
Name: Angry, dtype: float64
48   0    0.00001
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...
47        0    0.0024
Name: Surprised, dtype: float64  ...
48      0    0.005698
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0
45  0    0.485517
Name: Arousal, dtype: float64              0
46   0    0.48101
Name: Arousal, dtype: float64              0
47  0    0.474518
Name: Arousal, dtype: float64              0
48  0    0.468263
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0
26                0        223.0   0          0   0             0         0
27                0          222   0          0   0             0         0
28                0        221.5   0          0   0             0         0
29                0          223   0          0   0             0         0
30                0        224.0   0          0   0             0         0

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0
47  1  Базаев Кирилл  2400      0     0
48  1  Базаев Кирилл  2450      0     0
49  1  Базаев Кирилл  2500      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64
47   0    0.72125
Name: Neutral, dtype: float64
48  0    0.728193
Name: Neutral, dtype: float64
49  0    0.732542
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64
47      0    0.000441
Name: Happy, dtype: float64
48      0    0.000613
Name: Happy, dtype: float64
49      0    0.000679
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64
47  0    0.082015
Name: Sad, dtype: float64
48  0    0.077465
Name: Sad, dtype: float64
49  0    0.074307
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64
47  0    0.000012
Name: Angry, dtype: float64
48   0    0.00001
Name: Angry, dtype: float64
49  0    0.000009
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...
47        0    0.0024
Name: Surprised, dtype: float64  ...
48      0    0.005698
Name: Surprised, dtype: float64  ...
49      0    0.008202
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0
45  0    0.485517
Name: Arousal, dtype: float64              0
46   0    0.48101
Name: Arousal, dtype: float64              0
47  0    0.474518
Name: Arousal, dtype: float64              0
48  0    0.468263
Name: Arousal, dtype: float64              0
49  0    0.464269
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0
22                0          223   0          0   0             0         0
23                0        221.0   0          0   0             0         0
24                0          220   0          0   0             0         0
25                0        221.5   0          0   0             0         0

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0
47  1  Базаев Кирилл  2400      0     0
48  1  Базаев Кирилл  2450      0     0
49  1  Базаев Кирилл  2500      0     0
50  1  Базаев Кирилл  2550      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64
47   0    0.72125
Name: Neutral, dtype: float64
48  0    0.728193
Name: Neutral, dtype: float64
49  0    0.732542
Name: Neutral, dtype: float64
50  0    0.735226
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64
47      0    0.000441
Name: Happy, dtype: float64
48      0    0.000613
Name: Happy, dtype: float64
49      0    0.000679
Name: Happy, dtype: float64
50      0    0.000716
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64
47  0    0.082015
Name: Sad, dtype: float64
48  0    0.077465
Name: Sad, dtype: float64
49  0    0.074307
Name: Sad, dtype: float64
50  0    0.069911
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64
47  0    0.000012
Name: Angry, dtype: float64
48   0    0.00001
Name: Angry, dtype: float64
49  0    0.000009
Name: Angry, dtype: float64
50  0    0.000008
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...
47        0    0.0024
Name: Surprised, dtype: float64  ...
48      0    0.005698
Name: Surprised, dtype: float64  ...
49      0    0.008202
Name: Surprised, dtype: float64  ...
50      0    0.010203
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0
45  0    0.485517
Name: Arousal, dtype: float64              0
46   0    0.48101
Name: Arousal, dtype: float64              0
47  0    0.474518
Name: Arousal, dtype: float64              0
48  0    0.468263
Name: Arousal, dtype: float64              0
49  0    0.464269
Name: Arousal, dtype: float64              0
50  0    0.460417
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0
17                0        223.0   0          0   0             0         0
18                0          223   0          0   0             0         0
19                0        221.5   0          0   0             0         0
20                0          221   0          0   0             0         0
21                0        222.5   0          0   0             0         0

1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0
47  1  Базаев Кирилл  2400      0     0
48  1  Базаев Кирилл  2450      0     0
49  1  Базаев Кирилл  2500      0     0
50  1  Базаев Кирилл  2550      0     0
51  1  Базаев Кирилл  2600      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64
47   0    0.72125
Name: Neutral, dtype: float64
48  0    0.728193
Name: Neutral, dtype: float64
49  0    0.732542
Name: Neutral, dtype: float64
50  0    0.735226
Name: Neutral, dtype: float64
51  0    0.737465
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64
47      0    0.000441
Name: Happy, dtype: float64
48      0    0.000613
Name: Happy, dtype: float64
49      0    0.000679
Name: Happy, dtype: float64
50      0    0.000716
Name: Happy, dtype: float64
51      0    0.000782
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64
47  0    0.082015
Name: Sad, dtype: float64
48  0    0.077465
Name: Sad, dtype: float64
49  0    0.074307
Name: Sad, dtype: float64
50  0    0.069911
Name: Sad, dtype: float64
51  0    0.061332
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64
47  0    0.000012
Name: Angry, dtype: float64
48   0    0.00001
Name: Angry, dtype: float64
49  0    0.000009
Name: Angry, dtype: float64
50  0    0.000008
Name: Angry, dtype: float64
51  0    0.000006
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...
47        0    0.0024
Name: Surprised, dtype: float64  ...
48      0    0.005698
Name: Surprised, dtype: float64  ...
49      0    0.008202
Name: Surprised, dtype: float64  ...
50      0    0.010203
Name: Surprised, dtype: float64  ...
51      0    0.012016
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0
45  0    0.485517
Name: Arousal, dtype: float64              0
46   0    0.48101
Name: Arousal, dtype: float64              0
47  0    0.474518
Name: Arousal, dtype: float64              0
48  0    0.468263
Name: Arousal, dtype: float64              0
49  0    0.464269
Name: Arousal, dtype: float64              0
50  0    0.460417
Name: Arousal, dtype: float64              0
51  0    0.454876
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0
13                0          221   0          0   0             0         0
14                0        222.5   0          0   0             0         0
15                0          222   0          0   0             0         0
16                0        222.0   0          0   0             0         0

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0
47  1  Базаев Кирилл  2400      0     0
48  1  Базаев Кирилл  2450      0     0
49  1  Базаев Кирилл  2500      0     0
50  1  Базаев Кирилл  2550      0     0
51  1  Базаев Кирилл  2600      0     0
52  1  Базаев Кирилл  2650      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64
47   0    0.72125
Name: Neutral, dtype: float64
48  0    0.728193
Name: Neutral, dtype: float64
49  0    0.732542
Name: Neutral, dtype: float64
50  0    0.735226
Name: Neutral, dtype: float64
51  0    0.737465
Name: Neutral, dtype: float64
52  0    0.731918
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64
47      0    0.000441
Name: Happy, dtype: float64
48      0    0.000613
Name: Happy, dtype: float64
49      0    0.000679
Name: Happy, dtype: float64
50      0    0.000716
Name: Happy, dtype: float64
51      0    0.000782
Name: Happy, dtype: float64
52      0    0.000854
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64
47  0    0.082015
Name: Sad, dtype: float64
48  0    0.077465
Name: Sad, dtype: float64
49  0    0.074307
Name: Sad, dtype: float64
50  0    0.069911
Name: Sad, dtype: float64
51  0    0.061332
Name: Sad, dtype: float64
52  0    0.051738
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64
47  0    0.000012
Name: Angry, dtype: float64
48   0    0.00001
Name: Angry, dtype: float64
49  0    0.000009
Name: Angry, dtype: float64
50  0    0.000008
Name: Angry, dtype: float64
51  0    0.000006
Name: Angry, dtype: float64
52  0    0.000005
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...
47        0    0.0024
Name: Surprised, dtype: float64  ...
48      0    0.005698
Name: Surprised, dtype: float64  ...
49      0    0.008202
Name: Surprised, dtype: float64  ...
50      0    0.010203
Name: Surprised, dtype: float64  ...
51      0    0.012016
Name: Surprised, dtype: float64  ...
52      0    0.012777
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0
45  0    0.485517
Name: Arousal, dtype: float64              0
46   0    0.48101
Name: Arousal, dtype: float64              0
47  0    0.474518
Name: Arousal, dtype: float64              0
48  0    0.468263
Name: Arousal, dtype: float64              0
49  0    0.464269
Name: Arousal, dtype: float64              0
50  0    0.460417
Name: Arousal, dtype: float64              0
51  0    0.454876
Name: Arousal, dtype: float64              0
52  0    0.449579
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0
8                 0          179   0          0   0             0         0
9                 0        202.5   0          0   0             0         0
10                0        231.0   0          0   0             0         0
11                0          227   0          0   0             0         0
12                0        221.0   0          0   0             0         0

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0
47  1  Базаев Кирилл  2400      0     0
48  1  Базаев Кирилл  2450      0     0
49  1  Базаев Кирилл  2500      0     0
50  1  Базаев Кирилл  2550      0     0
51  1  Базаев Кирилл  2600      0     0
52  1  Базаев Кирилл  2650      0     0
53  1  Базаев Кирилл  2700      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64
47   0    0.72125
Name: Neutral, dtype: float64
48  0    0.728193
Name: Neutral, dtype: float64
49  0    0.732542
Name: Neutral, dtype: float64
50  0    0.735226
Name: Neutral, dtype: float64
51  0    0.737465
Name: Neutral, dtype: float64
52  0    0.731918
Name: Neutral, dtype: float64
53  0    0.724322
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64
47      0    0.000441
Name: Happy, dtype: float64
48      0    0.000613
Name: Happy, dtype: float64
49      0    0.000679
Name: Happy, dtype: float64
50      0    0.000716
Name: Happy, dtype: float64
51      0    0.000782
Name: Happy, dtype: float64
52      0    0.000854
Name: Happy, dtype: float64
53      0    0.000812
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64
47  0    0.082015
Name: Sad, dtype: float64
48  0    0.077465
Name: Sad, dtype: float64
49  0    0.074307
Name: Sad, dtype: float64
50  0    0.069911
Name: Sad, dtype: float64
51  0    0.061332
Name: Sad, dtype: float64
52  0    0.051738
Name: Sad, dtype: float64
53  0    0.045895
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64
47  0    0.000012
Name: Angry, dtype: float64
48   0    0.00001
Name: Angry, dtype: float64
49  0    0.000009
Name: Angry, dtype: float64
50  0    0.000008
Name: Angry, dtype: float64
51  0    0.000006
Name: Angry, dtype: float64
52  0    0.000005
Name: Angry, dtype: float64
53  0    0.000005
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...
47        0    0.0024
Name: Surprised, dtype: float64  ...
48      0    0.005698
Name: Surprised, dtype: float64  ...
49      0    0.008202
Name: Surprised, dtype: float64  ...
50      0    0.010203
Name: Surprised, dtype: float64  ...
51      0    0.012016
Name: Surprised, dtype: float64  ...
52      0    0.012777
Name: Surprised, dtype: float64  ...
53      0    0.011334
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0
45  0    0.485517
Name: Arousal, dtype: float64              0
46   0    0.48101
Name: Arousal, dtype: float64              0
47  0    0.474518
Name: Arousal, dtype: float64              0
48  0    0.468263
Name: Arousal, dtype: float64              0
49  0    0.464269
Name: Arousal, dtype: float64              0
50  0    0.460417
Name: Arousal, dtype: float64              0
51  0    0.454876
Name: Arousal, dtype: float64              0
52  0    0.449579
Name: Arousal, dtype: float64              0
53  0    0.446159
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
5                 0        190.5   0          0   0             0         0
6                 0          418   0          0   0             0         0
7                 0        269.0   0          0   0             0         0

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0
47  1  Базаев Кирилл  2400      0     0
48  1  Базаев Кирилл  2450      0     0
49  1  Базаев Кирилл  2500      0     0
50  1  Базаев Кирилл  2550      0     0
51  1  Базаев Кирилл  2600      0     0
52  1  Базаев Кирилл  2650      0     0
53  1  Базаев Кирилл  2700      0     0
54  1  Базаев Кирилл  2750      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64
47   0    0.72125
Name: Neutral, dtype: float64
48  0    0.728193
Name: Neutral, dtype: float64
49  0    0.732542
Name: Neutral, dtype: float64
50  0    0.735226
Name: Neutral, dtype: float64
51  0    0.737465
Name: Neutral, dtype: float64
52  0    0.731918
Name: Neutral, dtype: float64
53  0    0.724322
Name: Neutral, dtype: float64
54  0    0.722943
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64
47      0    0.000441
Name: Happy, dtype: float64
48      0    0.000613
Name: Happy, dtype: float64
49      0    0.000679
Name: Happy, dtype: float64
50      0    0.000716
Name: Happy, dtype: float64
51      0    0.000782
Name: Happy, dtype: float64
52      0    0.000854
Name: Happy, dtype: float64
53      0    0.000812
Name: Happy, dtype: float64
54      0    0.000816
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64
47  0    0.082015
Name: Sad, dtype: float64
48  0    0.077465
Name: Sad, dtype: float64
49  0    0.074307
Name: Sad, dtype: float64
50  0    0.069911
Name: Sad, dtype: float64
51  0    0.061332
Name: Sad, dtype: float64
52  0    0.051738
Name: Sad, dtype: float64
53  0    0.045895
Name: Sad, dtype: float64
54  0    0.040713
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64
47  0    0.000012
Name: Angry, dtype: float64
48   0    0.00001
Name: Angry, dtype: float64
49  0    0.000009
Name: Angry, dtype: float64
50  0    0.000008
Name: Angry, dtype: float64
51  0    0.000006
Name: Angry, dtype: float64
52  0    0.000005
Name: Angry, dtype: float64
53  0    0.000005
Name: Angry, dtype: float64
54  0    0.000004
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...
47        0    0.0024
Name: Surprised, dtype: float64  ...
48      0    0.005698
Name: Surprised, dtype: float64  ...
49      0    0.008202
Name: Surprised, dtype: float64  ...
50      0    0.010203
Name: Surprised, dtype: float64  ...
51      0    0.012016
Name: Surprised, dtype: float64  ...
52      0    0.012777
Name: Surprised, dtype: float64  ...
53      0    0.011334
Name: Surprised, dtype: float64  ...
54      0    0.011238
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0
45  0    0.485517
Name: Arousal, dtype: float64              0
46   0    0.48101
Name: Arousal, dtype: float64              0
47  0    0.474518
Name: Arousal, dtype: float64              0
48  0    0.468263
Name: Arousal, dtype: float64              0
49  0    0.464269
Name: Arousal, dtype: float64              0
50  0    0.460417
Name: Arousal, dtype: float64              0
51  0    0.454876
Name: Arousal, dtype: float64              0
52  0    0.449579
Name: Arousal, dtype: float64              0
53  0    0.446159
Name: Arousal, dtype: float64              0
54  0    0.442767
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0

1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0
47  1  Базаев Кирилл  2400      0     0
48  1  Базаев Кирилл  2450      0     0
49  1  Базаев Кирилл  2500      0     0
50  1  Базаев Кирилл  2550      0     0
51  1  Базаев Кирилл  2600      0     0
52  1  Базаев Кирилл  2650      0     0
53  1  Базаев Кирилл  2700      0     0
54  1  Базаев Кирилл  2750      0     0
55  1  Базаев Кирилл  2800      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64
47   0    0.72125
Name: Neutral, dtype: float64
48  0    0.728193
Name: Neutral, dtype: float64
49  0    0.732542
Name: Neutral, dtype: float64
50  0    0.735226
Name: Neutral, dtype: float64
51  0    0.737465
Name: Neutral, dtype: float64
52  0    0.731918
Name: Neutral, dtype: float64
53  0    0.724322
Name: Neutral, dtype: float64
54  0    0.722943
Name: Neutral, dtype: float64
55  0    0.714416
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64
47      0    0.000441
Name: Happy, dtype: float64
48      0    0.000613
Name: Happy, dtype: float64
49      0    0.000679
Name: Happy, dtype: float64
50      0    0.000716
Name: Happy, dtype: float64
51      0    0.000782
Name: Happy, dtype: float64
52      0    0.000854
Name: Happy, dtype: float64
53      0    0.000812
Name: Happy, dtype: float64
54      0    0.000816
Name: Happy, dtype: float64
55      0    0.000736
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64
47  0    0.082015
Name: Sad, dtype: float64
48  0    0.077465
Name: Sad, dtype: float64
49  0    0.074307
Name: Sad, dtype: float64
50  0    0.069911
Name: Sad, dtype: float64
51  0    0.061332
Name: Sad, dtype: float64
52  0    0.051738
Name: Sad, dtype: float64
53  0    0.045895
Name: Sad, dtype: float64
54  0    0.040713
Name: Sad, dtype: float64
55  0    0.034076
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64
47  0    0.000012
Name: Angry, dtype: float64
48   0    0.00001
Name: Angry, dtype: float64
49  0    0.000009
Name: Angry, dtype: float64
50  0    0.000008
Name: Angry, dtype: float64
51  0    0.000006
Name: Angry, dtype: float64
52  0    0.000005
Name: Angry, dtype: float64
53  0    0.000005
Name: Angry, dtype: float64
54  0    0.000004
Name: Angry, dtype: float64
55  0    0.016754
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...
47        0    0.0024
Name: Surprised, dtype: float64  ...
48      0    0.005698
Name: Surprised, dtype: float64  ...
49      0    0.008202
Name: Surprised, dtype: float64  ...
50      0    0.010203
Name: Surprised, dtype: float64  ...
51      0    0.012016
Name: Surprised, dtype: float64  ...
52      0    0.012777
Name: Surprised, dtype: float64  ...
53      0    0.011334
Name: Surprised, dtype: float64  ...
54      0    0.011238
Name: Surprised, dtype: float64  ...
55       0    0.00979
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0
45  0    0.485517
Name: Arousal, dtype: float64              0
46   0    0.48101
Name: Arousal, dtype: float64              0
47  0    0.474518
Name: Arousal, dtype: float64              0
48  0    0.468263
Name: Arousal, dtype: float64              0
49  0    0.464269
Name: Arousal, dtype: float64              0
50  0    0.460417
Name: Arousal, dtype: float64              0
51  0    0.454876
Name: Arousal, dtype: float64              0
52  0    0.449579
Name: Arousal, dtype: float64              0
53  0    0.446159
Name: Arousal, dtype: float64              0
54  0    0.442767
Name: Arousal, dtype: float64              0
55  0    0.437756
Name: Arousal, dtype: float64              0


2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0
47  1  Базаев Кирилл  2400      0     0
48  1  Базаев Кирилл  2450      0     0
49  1  Базаев Кирилл  2500      0     0
50  1  Базаев Кирилл  2550      0     0
51  1  Базаев Кирилл  2600      0     0
52  1  Базаев Кирилл  2650      0     0
53  1  Базаев Кирилл  2700      0     0
54  1  Базаев Кирилл  2750      0     0
55  1  Базаев Кирилл  2800      0     0
56  1  Базаев Кирилл  2850      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64
47   0    0.72125
Name: Neutral, dtype: float64
48  0    0.728193
Name: Neutral, dtype: float64
49  0    0.732542
Name: Neutral, dtype: float64
50  0    0.735226
Name: Neutral, dtype: float64
51  0    0.737465
Name: Neutral, dtype: float64
52  0    0.731918
Name: Neutral, dtype: float64
53  0    0.724322
Name: Neutral, dtype: float64
54  0    0.722943
Name: Neutral, dtype: float64
55  0    0.714416
Name: Neutral, dtype: float64
56  0    0.715437
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64
47      0    0.000441
Name: Happy, dtype: float64
48      0    0.000613
Name: Happy, dtype: float64
49      0    0.000679
Name: Happy, dtype: float64
50      0    0.000716
Name: Happy, dtype: float64
51      0    0.000782
Name: Happy, dtype: float64
52      0    0.000854
Name: Happy, dtype: float64
53      0    0.000812
Name: Happy, dtype: float64
54      0    0.000816
Name: Happy, dtype: float64
55      0    0.000736
Name: Happy, dtype: float64
56      0    0.000739
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64
47  0    0.082015
Name: Sad, dtype: float64
48  0    0.077465
Name: Sad, dtype: float64
49  0    0.074307
Name: Sad, dtype: float64
50  0    0.069911
Name: Sad, dtype: float64
51  0    0.061332
Name: Sad, dtype: float64
52  0    0.051738
Name: Sad, dtype: float64
53  0    0.045895
Name: Sad, dtype: float64
54  0    0.040713
Name: Sad, dtype: float64
55  0    0.034076
Name: Sad, dtype: float64
56  0    0.028419
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64
47  0    0.000012
Name: Angry, dtype: float64
48   0    0.00001
Name: Angry, dtype: float64
49  0    0.000009
Name: Angry, dtype: float64
50  0    0.000008
Name: Angry, dtype: float64
51  0    0.000006
Name: Angry, dtype: float64
52  0    0.000005
Name: Angry, dtype: float64
53  0    0.000005
Name: Angry, dtype: float64
54  0    0.000004
Name: Angry, dtype: float64
55  0    0.016754
Name: Angry, dtype: float64
56  0    0.013973
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...
47        0    0.0024
Name: Surprised, dtype: float64  ...
48      0    0.005698
Name: Surprised, dtype: float64  ...
49      0    0.008202
Name: Surprised, dtype: float64  ...
50      0    0.010203
Name: Surprised, dtype: float64  ...
51      0    0.012016
Name: Surprised, dtype: float64  ...
52      0    0.012777
Name: Surprised, dtype: float64  ...
53      0    0.011334
Name: Surprised, dtype: float64  ...
54      0    0.011238
Name: Surprised, dtype: float64  ...
55       0    0.00979
Name: Surprised, dtype: float64  ...
56      0    0.009124
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0
45  0    0.485517
Name: Arousal, dtype: float64              0
46   0    0.48101
Name: Arousal, dtype: float64              0
47  0    0.474518
Name: Arousal, dtype: float64              0
48  0    0.468263
Name: Arousal, dtype: float64              0
49  0    0.464269
Name: Arousal, dtype: float64              0
50  0    0.460417
Name: Arousal, dtype: float64              0
51  0    0.454876

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0
47  1  Базаев Кирилл  2400      0     0
48  1  Базаев Кирилл  2450      0     0
49  1  Базаев Кирилл  2500      0     0
50  1  Базаев Кирилл  2550      0     0
51  1  Базаев Кирилл  2600      0     0
52  1  Базаев Кирилл  2650      0     0
53  1  Базаев Кирилл  2700      0     0
54  1  Базаев Кирилл  2750      0     0
55  1  Базаев Кирилл  2800      0     0
56  1  Базаев Кирилл  2850      0     0
57  1  Базаев Кирилл  2900      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64
47   0    0.72125
Name: Neutral, dtype: float64
48  0    0.728193
Name: Neutral, dtype: float64
49  0    0.732542
Name: Neutral, dtype: float64
50  0    0.735226
Name: Neutral, dtype: float64
51  0    0.737465
Name: Neutral, dtype: float64
52  0    0.731918
Name: Neutral, dtype: float64
53  0    0.724322
Name: Neutral, dtype: float64
54  0    0.722943
Name: Neutral, dtype: float64
55  0    0.714416
Name: Neutral, dtype: float64
56  0    0.715437
Name: Neutral, dtype: float64
57  0    0.715317
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64
47      0    0.000441
Name: Happy, dtype: float64
48      0    0.000613
Name: Happy, dtype: float64
49      0    0.000679
Name: Happy, dtype: float64
50      0    0.000716
Name: Happy, dtype: float64
51      0    0.000782
Name: Happy, dtype: float64
52      0    0.000854
Name: Happy, dtype: float64
53      0    0.000812
Name: Happy, dtype: float64
54      0    0.000816
Name: Happy, dtype: float64
55      0    0.000736
Name: Happy, dtype: float64
56      0    0.000739
Name: Happy, dtype: float64
57      0    0.000733
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64
47  0    0.082015
Name: Sad, dtype: float64
48  0    0.077465
Name: Sad, dtype: float64
49  0    0.074307
Name: Sad, dtype: float64
50  0    0.069911
Name: Sad, dtype: float64
51  0    0.061332
Name: Sad, dtype: float64
52  0    0.051738
Name: Sad, dtype: float64
53  0    0.045895
Name: Sad, dtype: float64
54  0    0.040713
Name: Sad, dtype: float64
55  0    0.034076
Name: Sad, dtype: float64
56  0    0.028419
Name: Sad, dtype: float64
57  0    0.025209
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64
47  0    0.000012
Name: Angry, dtype: float64
48   0    0.00001
Name: Angry, dtype: float64
49  0    0.000009
Name: Angry, dtype: float64
50  0    0.000008
Name: Angry, dtype: float64
51  0    0.000006
Name: Angry, dtype: float64
52  0    0.000005
Name: Angry, dtype: float64
53  0    0.000005
Name: Angry, dtype: float64
54  0    0.000004
Name: Angry, dtype: float64
55  0    0.016754
Name: Angry, dtype: float64
56  0    0.013973
Name: Angry, dtype: float64
57  0    0.012395
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...
47        0    0.0024
Name: Surprised, dtype: float64  ...
48      0    0.005698
Name: Surprised, dtype: float64  ...
49      0    0.008202
Name: Surprised, dtype: float64  ...
50      0    0.010203
Name: Surprised, dtype: float64  ...
51      0    0.012016
Name: Surprised, dtype: float64  ...
52      0    0.012777
Name: Surprised, dtype: float64  ...
53      0    0.011334
Name: Surprised, dtype: float64  ...
54      0    0.011238
Name: Surprised, dtype: float64  ...
55       0    0.00979
Name: Surprised, dtype: float64  ...
56      0    0.009124
Name: Surprised, dtype: float64  ...
57      0    0.008542
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696
Name: Arousal, dtype: float64              0
43   0    0.49731
Name: Arousal, dtype: float64              0
44  0    0.490155
Name: Arousal, dtype: float64              0
45  0    0.485517
Name: Arousal, dtype: float64              0
46   0    0.48101
Name: Arousal, dtype: float64              0

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0
47  1  Базаев Кирилл  2400      0     0
48  1  Базаев Кирилл  2450      0     0
49  1  Базаев Кирилл  2500      0     0
50  1  Базаев Кирилл  2550      0     0
51  1  Базаев Кирилл  2600      0     0
52  1  Базаев Кирилл  2650      0     0
53  1  Базаев Кирилл  2700      0     0
54  1  Базаев Кирилл  2750      0     0
55  1  Базаев Кирилл  2800      0     0
56  1  Базаев Кирилл  2850      0     0
57  1  Базаев Кирилл  2900      0     0
58  1  Базаев Кирилл  2950      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64
47   0    0.72125
Name: Neutral, dtype: float64
48  0    0.728193
Name: Neutral, dtype: float64
49  0    0.732542
Name: Neutral, dtype: float64
50  0    0.735226
Name: Neutral, dtype: float64
51  0    0.737465
Name: Neutral, dtype: float64
52  0    0.731918
Name: Neutral, dtype: float64
53  0    0.724322
Name: Neutral, dtype: float64
54  0    0.722943
Name: Neutral, dtype: float64
55  0    0.714416
Name: Neutral, dtype: float64
56  0    0.715437
Name: Neutral, dtype: float64
57  0    0.715317
Name: Neutral, dtype: float64
58  0    0.712461
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64
47      0    0.000441
Name: Happy, dtype: float64
48      0    0.000613
Name: Happy, dtype: float64
49      0    0.000679
Name: Happy, dtype: float64
50      0    0.000716
Name: Happy, dtype: float64
51      0    0.000782
Name: Happy, dtype: float64
52      0    0.000854
Name: Happy, dtype: float64
53      0    0.000812
Name: Happy, dtype: float64
54      0    0.000816
Name: Happy, dtype: float64
55      0    0.000736
Name: Happy, dtype: float64
56      0    0.000739
Name: Happy, dtype: float64
57      0    0.000733
Name: Happy, dtype: float64
58      0    0.000735
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64
47  0    0.082015
Name: Sad, dtype: float64
48  0    0.077465
Name: Sad, dtype: float64
49  0    0.074307
Name: Sad, dtype: float64
50  0    0.069911
Name: Sad, dtype: float64
51  0    0.061332
Name: Sad, dtype: float64
52  0    0.051738
Name: Sad, dtype: float64
53  0    0.045895
Name: Sad, dtype: float64
54  0    0.040713
Name: Sad, dtype: float64
55  0    0.034076
Name: Sad, dtype: float64
56  0    0.028419
Name: Sad, dtype: float64
57  0    0.025209
Name: Sad, dtype: float64
58  0    0.022363
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64
47  0    0.000012
Name: Angry, dtype: float64
48   0    0.00001
Name: Angry, dtype: float64
49  0    0.000009
Name: Angry, dtype: float64
50  0    0.000008
Name: Angry, dtype: float64
51  0    0.000006
Name: Angry, dtype: float64
52  0    0.000005
Name: Angry, dtype: float64
53  0    0.000005
Name: Angry, dtype: float64
54  0    0.000004
Name: Angry, dtype: float64
55  0    0.016754
Name: Angry, dtype: float64
56  0    0.013973
Name: Angry, dtype: float64
57  0    0.012395
Name: Angry, dtype: float64
58   0    0.01132
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...
47        0    0.0024
Name: Surprised, dtype: float64  ...
48      0    0.005698
Name: Surprised, dtype: float64  ...
49      0    0.008202
Name: Surprised, dtype: float64  ...
50      0    0.010203
Name: Surprised, dtype: float64  ...
51      0    0.012016
Name: Surprised, dtype: float64  ...
52      0    0.012777
Name: Surprised, dtype: float64  ...
53      0    0.011334
Name: Surprised, dtype: float64  ...
54      0    0.011238
Name: Surprised, dtype: float64  ...
55       0    0.00979
Name: Surprised, dtype: float64  ...
56      0    0.009124
Name: Surprised, dtype: float64  ...
57      0    0.008542
Name: Surprised, dtype: float64  ...
58       0    0.00793
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0
38   0    0.53161
Name: Arousal, dtype: float64              0
39  0    0.523252
Name: Arousal, dtype: float64              0
40  0    0.515059
Name: Arousal, dtype: float64              0
41  0    0.509827
Name: Arousal, dtype: float64              0
42  0    0.504696

1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
5   1  Базаев Кирилл   300      0     0
6   1  Базаев Кирилл   350      0     0
7   1  Базаев Кирилл   400      0     0
8   1  Базаев Кирилл   450      0     0
9   1  Базаев Кирилл   500      0     0
10  1  Базаев Кирилл   550      0     0
11  1  Базаев Кирилл   600      0     0
12  1  Базаев Кирилл   650      0     0
13  1  Базаев Кирилл   700      0     0
14  1  Базаев Кирилл   750      0     0
15  1  Базаев Кирилл   800      0     0
16  1  Базаев Кирилл   850      0     0
17  1  Базаев Кирилл   900      0     0
18  1  Базаев Кирилл   950      0     0
19  1  Базаев Кирилл  1000      0     0
20  1  Базаев Кирилл  1050      0     0
21  1  Базаев Кирилл  1100      0     0
22  1  Базаев Кирилл  1150      0     0
23  1  Базаев Кирилл  1200      0     0
24  1  Базаев Кирилл  1250      0     0
25  1  Базаев Кирилл  1300      0     0
26  1  Базаев Кирилл  1350      0     0
27  1  Базаев Кирилл  1400      0     0
28  1  Базаев Кирилл  1450      0     0
29  1  Базаев Кирилл  1500      0     0
30  1  Базаев Кирилл  1550      0     0
31  1  Базаев Кирилл  1600      0     0
32  1  Базаев Кирилл  1650      0     0
33  1  Базаев Кирилл  1700      0     0
34  1  Базаев Кирилл  1750      0     0
35  1  Базаев Кирилл  1800      0     0
36  1  Базаев Кирилл  1850      0     0
37  1  Базаев Кирилл  1900      0     0
38  1  Базаев Кирилл  1950      0     0
39  1  Базаев Кирилл  2000      0     0
40  1  Базаев Кирилл  2050      0     0
41  1  Базаев Кирилл  2100      0     0
42  1  Базаев Кирилл  2150      0     0
43  1  Базаев Кирилл  2200      0     0
44  1  Базаев Кирилл  2250      0     0
45  1  Базаев Кирилл  2300      0     0
46  1  Базаев Кирилл  2350      0     0
47  1  Базаев Кирилл  2400      0     0
48  1  Базаев Кирилл  2450      0     0
49  1  Базаев Кирилл  2500      0     0
50  1  Базаев Кирилл  2550      0     0
51  1  Базаев Кирилл  2600      0     0
52  1  Базаев Кирилл  2650      0     0
53  1  Базаев Кирилл  2700      0     0
54  1  Базаев Кирилл  2750      0     0
55  1  Базаев Кирилл  2800      0     0
56  1  Базаев Кирилл  2850      0     0
57  1  Базаев Кирилл  2900      0     0
58  1  Базаев Кирилл  2950      0     0
59  1  Базаев Кирилл  3000      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
5   0    0.506445
Name: Neutral, dtype: float64
6   0    0.506471
Name: Neutral, dtype: float64
7   0    0.504041
Name: Neutral, dtype: float64
8   0    0.503837
Name: Neutral, dtype: float64
9   0    0.503519
Name: Neutral, dtype: float64
10  0    0.503208
Name: Neutral, dtype: float64
11  0    0.502755
Name: Neutral, dtype: float64
12  0    0.502358
Name: Neutral, dtype: float64
13  0    0.502233
Name: Neutral, dtype: float64
14  0    0.502361
Name: Neutral, dtype: float64
15   0    0.50269
Name: Neutral, dtype: float64
16  0    0.502338
Name: Neutral, dtype: float64
17  0    0.501913
Name: Neutral, dtype: float64
18  0    0.501922
Name: Neutral, dtype: float64
19   0    0.50364
Name: Neutral, dtype: float64
20  0    0.506643
Name: Neutral, dtype: float64
21  0    0.510749
Name: Neutral, dtype: float64
22  0    0.517107
Name: Neutral, dtype: float64
23  0    0.528975
Name: Neutral, dtype: float64
24  0    0.541313
Name: Neutral, dtype: float64
25  0    0.552519
Name: Neutral, dtype: float64
26  0    0.562545
Name: Neutral, dtype: float64
27  0    0.580819
Name: Neutral, dtype: float64
28  0    0.601372
Name: Neutral, dtype: float64
29    0    0.6173
Name: Neutral, dtype: float64
30  0    0.634135
Name: Neutral, dtype: float64
31  0    0.658405
Name: Neutral, dtype: float64
32  0    0.680243
Name: Neutral, dtype: float64
33  0    0.689663
Name: Neutral, dtype: float64
34  0    0.695065
Name: Neutral, dtype: float64
35  0    0.700964
Name: Neutral, dtype: float64
36  0    0.703107
Name: Neutral, dtype: float64
37  0    0.701423
Name: Neutral, dtype: float64
38  0    0.699219
Name: Neutral, dtype: float64
39  0    0.698779
Name: Neutral, dtype: float64
40  0    0.699962
Name: Neutral, dtype: float64
41  0    0.702079
Name: Neutral, dtype: float64
42  0    0.706361
Name: Neutral, dtype: float64
43  0    0.713488
Name: Neutral, dtype: float64
44  0    0.715605
Name: Neutral, dtype: float64
45  0    0.715127
Name: Neutral, dtype: float64
46   0    0.71532
Name: Neutral, dtype: float64
47   0    0.72125
Name: Neutral, dtype: float64
48  0    0.728193
Name: Neutral, dtype: float64
49  0    0.732542
Name: Neutral, dtype: float64
50  0    0.735226
Name: Neutral, dtype: float64
51  0    0.737465
Name: Neutral, dtype: float64
52  0    0.731918
Name: Neutral, dtype: float64
53  0    0.724322
Name: Neutral, dtype: float64
54  0    0.722943
Name: Neutral, dtype: float64
55  0    0.714416
Name: Neutral, dtype: float64
56  0    0.715437
Name: Neutral, dtype: float64
57  0    0.715317
Name: Neutral, dtype: float64
58  0    0.712461
Name: Neutral, dtype: float64
59  0    0.706319
Name: Neutral, dtype: float64

                                            Happy  \
0             0    NaN
Name: Happy, dtype: object
1             0    NaN
Name: Happy, dtype: object
2             0    NaN
Name: Happy, dtype: object
3             0   NaN
Name: Happy, dtype: float64
4             0    NaN
Name: Happy, dtype: object
5            0    0.0
Name: Happy, dtype: float64
6   0    1.000000e-09
Name: Happy, dtype: float64
7   0    2.700000e-08
Name: Happy, dtype: float64
8   0    7.300000e-08
Name: Happy, dtype: float64
9   0    9.400000e-08
Name: Happy, dtype: float64
10  0    1.050000e-07
Name: Happy, dtype: float64
11  0    1.090000e-07
Name: Happy, dtype: float64
12  0    1.150000e-07
Name: Happy, dtype: float64
13  0    1.180000e-07
Name: Happy, dtype: float64
14  0    1.200000e-07
Name: Happy, dtype: float64
15  0    1.225000e-07
Name: Happy, dtype: float64
16  0    1.290000e-07
Name: Happy, dtype: float64
17  0    1.700000e-07
Name: Happy, dtype: float64
18  0    2.630000e-07
Name: Happy, dtype: float64
19  0    4.065000e-07
Name: Happy, dtype: float64
20  0    5.780000e-07
Name: Happy, dtype: float64
21  0    7.940000e-07
Name: Happy, dtype: float64
22      0    0.000001
Name: Happy, dtype: float64
23       0    0.00001
Name: Happy, dtype: float64
24      0    0.000043
Name: Happy, dtype: float64
25      0    0.000071
Name: Happy, dtype: float64
26      0    0.000103
Name: Happy, dtype: float64
27      0    0.000138
Name: Happy, dtype: float64
28      0    0.000164
Name: Happy, dtype: float64
29      0    0.000176
Name: Happy, dtype: float64
30      0    0.000182
Name: Happy, dtype: float64
31      0    0.000184
Name: Happy, dtype: float64
32      0    0.000178
Name: Happy, dtype: float64
33      0    0.000171
Name: Happy, dtype: float64
34      0    0.000169
Name: Happy, dtype: float64
35      0    0.000161
Name: Happy, dtype: float64
36      0    0.000149
Name: Happy, dtype: float64
37      0    0.000139
Name: Happy, dtype: float64
38      0    0.000127
Name: Happy, dtype: float64
39      0    0.000108
Name: Happy, dtype: float64
40       0    0.00009
Name: Happy, dtype: float64
41       0    0.00008
Name: Happy, dtype: float64
42      0    0.000071
Name: Happy, dtype: float64
43       0    0.00008
Name: Happy, dtype: float64
44      0    0.000114
Name: Happy, dtype: float64
45      0    0.000158
Name: Happy, dtype: float64
46      0    0.000218
Name: Happy, dtype: float64
47      0    0.000441
Name: Happy, dtype: float64
48      0    0.000613
Name: Happy, dtype: float64
49      0    0.000679
Name: Happy, dtype: float64
50      0    0.000716
Name: Happy, dtype: float64
51      0    0.000782
Name: Happy, dtype: float64
52      0    0.000854
Name: Happy, dtype: float64
53      0    0.000812
Name: Happy, dtype: float64
54      0    0.000816
Name: Happy, dtype: float64
55      0    0.000736
Name: Happy, dtype: float64
56      0    0.000739
Name: Happy, dtype: float64
57      0    0.000733
Name: Happy, dtype: float64
58      0    0.000735
Name: Happy, dtype: float64
59      0    0.000778
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
5        0    0.0
Name: Sad, dtype: float64
6   0    0.000006
Name: Sad, dtype: float64
7   0    0.000028
Name: Sad, dtype: float64
8   0    0.000106
Name: Sad, dtype: float64
9   0    0.000149
Name: Sad, dtype: float64
10  0    0.000181
Name: Sad, dtype: float64
11  0    0.000282
Name: Sad, dtype: float64
12   0    0.00041
Name: Sad, dtype: float64
13   0    0.00049
Name: Sad, dtype: float64
14  0    0.000684
Name: Sad, dtype: float64
15   0    0.00111
Name: Sad, dtype: float64
16  0    0.003522
Name: Sad, dtype: float64
17   0    0.00643
Name: Sad, dtype: float64
18  0    0.011009
Name: Sad, dtype: float64
19  0    0.016201
Name: Sad, dtype: float64
20  0    0.018593
Name: Sad, dtype: float64
21  0    0.018995
Name: Sad, dtype: float64
22  0    0.018711
Name: Sad, dtype: float64
23  0    0.017429
Name: Sad, dtype: float64
24  0    0.015886
Name: Sad, dtype: float64
25  0    0.014881
Name: Sad, dtype: float64
26  0    0.013858
Name: Sad, dtype: float64
27  0    0.013024
Name: Sad, dtype: float64
28  0    0.013305
Name: Sad, dtype: float64
29  0    0.013914
Name: Sad, dtype: float64
30  0    0.014503
Name: Sad, dtype: float64
31  0    0.015656
Name: Sad, dtype: float64
32  0    0.017524
Name: Sad, dtype: float64
33  0    0.020403
Name: Sad, dtype: float64
34  0    0.024969
Name: Sad, dtype: float64
35  0    0.032139
Name: Sad, dtype: float64
36   0    0.04081
Name: Sad, dtype: float64
37  0    0.049061
Name: Sad, dtype: float64
38  0    0.055718
Name: Sad, dtype: float64
39  0    0.063578
Name: Sad, dtype: float64
40  0    0.070402
Name: Sad, dtype: float64
41  0    0.073823
Name: Sad, dtype: float64
42  0    0.076985
Name: Sad, dtype: float64
43  0    0.079041
Name: Sad, dtype: float64
44   0    0.08148
Name: Sad, dtype: float64
45  0    0.084207
Name: Sad, dtype: float64
46  0    0.085087
Name: Sad, dtype: float64
47  0    0.082015
Name: Sad, dtype: float64
48  0    0.077465
Name: Sad, dtype: float64
49  0    0.074307
Name: Sad, dtype: float64
50  0    0.069911
Name: Sad, dtype: float64
51  0    0.061332
Name: Sad, dtype: float64
52  0    0.051738
Name: Sad, dtype: float64
53  0    0.045895
Name: Sad, dtype: float64
54  0    0.040713
Name: Sad, dtype: float64
55  0    0.034076
Name: Sad, dtype: float64
56  0    0.028419
Name: Sad, dtype: float64
57  0    0.025209
Name: Sad, dtype: float64
58  0    0.022363
Name: Sad, dtype: float64
59  0    0.018717
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
5        0    0.0
Name: Angry, dtype: float64
6        0    0.0
Name: Angry, dtype: float64
7   0    0.004634
Name: Angry, dtype: float64
8   0    0.003865
Name: Angry, dtype: float64
9   0    0.003428
Name: Angry, dtype: float64
10  0    0.003041
Name: Angry, dtype: float64
11  0    0.002545
Name: Angry, dtype: float64
12  0    0.002123
Name: Angry, dtype: float64
13  0    0.001883
Name: Angry, dtype: float64
14   0    0.00167
Name: Angry, dtype: float64
15  0    0.001398
Name: Angry, dtype: float64
16  0    0.001166
Name: Angry, dtype: float64
17  0    0.001034
Name: Angry, dtype: float64
18  0    0.000918
Name: Angry, dtype: float64
19  0    0.000768
Name: Angry, dtype: float64
20   0    0.00064
Name: Angry, dtype: float64
21  0    0.000568
Name: Angry, dtype: float64
22  0    0.000504
Name: Angry, dtype: float64
23  0    0.000422
Name: Angry, dtype: float64
24  0    0.000352
Name: Angry, dtype: float64
25  0    0.000312
Name: Angry, dtype: float64
26  0    0.000277
Name: Angry, dtype: float64
27  0    0.000232
Name: Angry, dtype: float64
28  0    0.000193
Name: Angry, dtype: float64
29  0    0.000171
Name: Angry, dtype: float64
30  0    0.000152
Name: Angry, dtype: float64
31  0    0.000127
Name: Angry, dtype: float64
32  0    0.000106
Name: Angry, dtype: float64
33  0    0.000094
Name: Angry, dtype: float64
34  0    0.000084
Name: Angry, dtype: float64
35   0    0.00007
Name: Angry, dtype: float64
36  0    0.000058
Name: Angry, dtype: float64
37  0    0.000052
Name: Angry, dtype: float64
38  0    0.000046
Name: Angry, dtype: float64
39  0    0.000038
Name: Angry, dtype: float64
40  0    0.000032
Name: Angry, dtype: float64
41  0    0.000028
Name: Angry, dtype: float64
42  0    0.000025
Name: Angry, dtype: float64
43  0    0.000021
Name: Angry, dtype: float64
44  0    0.000018
Name: Angry, dtype: float64
45  0    0.000016
Name: Angry, dtype: float64
46  0    0.000014
Name: Angry, dtype: float64
47  0    0.000012
Name: Angry, dtype: float64
48   0    0.00001
Name: Angry, dtype: float64
49  0    0.000009
Name: Angry, dtype: float64
50  0    0.000008
Name: Angry, dtype: float64
51  0    0.000006
Name: Angry, dtype: float64
52  0    0.000005
Name: Angry, dtype: float64
53  0    0.000005
Name: Angry, dtype: float64
54  0    0.000004
Name: Angry, dtype: float64
55  0    0.016754
Name: Angry, dtype: float64
56  0    0.013973
Name: Angry, dtype: float64
57  0    0.012395
Name: Angry, dtype: float64
58   0    0.01132
Name: Angry, dtype: float64
59  0    0.013001
Name: Angry, dtype: float64

                                            Surprised  ...  \
0             0    NaN
Name: Surprised, dtype: object  ...
1             0    NaN
Name: Surprised, dtype: object  ...
2             0    NaN
Name: Surprised, dtype: object  ...
3             0   NaN
Name: Surprised, dtype: float64  ...
4             0    NaN
Name: Surprised, dtype: object  ...
5            0    0.0
Name: Surprised, dtype: float64  ...
6   0    1.940000e-07
Name: Surprised, dtype: float64  ...
7       0    0.000001
Name: Surprised, dtype: float64  ...
8       0    0.000003
Name: Surprised, dtype: float64  ...
9       0    0.000003
Name: Surprised, dtype: float64  ...
10      0    0.000003
Name: Surprised, dtype: float64  ...
11      0    0.000002
Name: Surprised, dtype: float64  ...
12      0    0.000002
Name: Surprised, dtype: float64  ...
13      0    0.000002
Name: Surprised, dtype: float64  ...
14      0    0.000002
Name: Surprised, dtype: float64  ...
15      0    0.000001
Name: Surprised, dtype: float64  ...
16      0    0.000001
Name: Surprised, dtype: float64  ...
17      0    0.000001
Name: Surprised, dtype: float64  ...
18      0    0.000002
Name: Surprised, dtype: float64  ...
19      0    0.000003
Name: Surprised, dtype: float64  ...
20      0    0.000002
Name: Surprised, dtype: float64  ...
21      0    0.000002
Name: Surprised, dtype: float64  ...
22      0    0.000013
Name: Surprised, dtype: float64  ...
23      0    0.000065
Name: Surprised, dtype: float64  ...
24      0    0.000136
Name: Surprised, dtype: float64  ...
25      0    0.000252
Name: Surprised, dtype: float64  ...
26      0    0.000366
Name: Surprised, dtype: float64  ...
27      0    0.000519
Name: Surprised, dtype: float64  ...
28      0    0.000661
Name: Surprised, dtype: float64  ...
29      0    0.000733
Name: Surprised, dtype: float64  ...
30      0    0.000807
Name: Surprised, dtype: float64  ...
31      0    0.000913
Name: Surprised, dtype: float64  ...
32      0    0.000967
Name: Surprised, dtype: float64  ...
33      0    0.000977
Name: Surprised, dtype: float64  ...
34      0    0.001017
Name: Surprised, dtype: float64  ...
35      0    0.001033
Name: Surprised, dtype: float64  ...
36      0    0.001004
Name: Surprised, dtype: float64  ...
37      0    0.000955
Name: Surprised, dtype: float64  ...
38      0    0.000894
Name: Surprised, dtype: float64  ...
39      0    0.000795
Name: Surprised, dtype: float64  ...
40      0    0.000696
Name: Surprised, dtype: float64  ...
41       0    0.00065
Name: Surprised, dtype: float64  ...
42      0    0.000619
Name: Surprised, dtype: float64  ...
43      0    0.000644
Name: Surprised, dtype: float64  ...
44      0    0.000667
Name: Surprised, dtype: float64  ...
45      0    0.000667
Name: Surprised, dtype: float64  ...
46       0    0.00068
Name: Surprised, dtype: float64  ...
47        0    0.0024
Name: Surprised, dtype: float64  ...
48      0    0.005698
Name: Surprised, dtype: float64  ...
49      0    0.008202
Name: Surprised, dtype: float64  ...
50      0    0.010203
Name: Surprised, dtype: float64  ...
51      0    0.012016
Name: Surprised, dtype: float64  ...
52      0    0.012777
Name: Surprised, dtype: float64  ...
53      0    0.011334
Name: Surprised, dtype: float64  ...
54      0    0.011238
Name: Surprised, dtype: float64  ...
55       0    0.00979
Name: Surprised, dtype: float64  ...
56      0    0.009124
Name: Surprised, dtype: float64  ...
57      0    0.008542
Name: Surprised, dtype: float64  ...
58       0    0.00793
Name: Surprised, dtype: float64  ...
59      0    0.007145
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
5   0    0.606562
Name: Arousal, dtype: float64              0
6   0    0.606562
Name: Arousal, dtype: float64              0
7   0    0.606541
Name: Arousal, dtype: float64              0
8   0    0.606524
Name: Arousal, dtype: float64              0
9   0    0.606499
Name: Arousal, dtype: float64              0
10  0    0.606459
Name: Arousal, dtype: float64              0
11   0    0.60633
Name: Arousal, dtype: float64              0
12    0    0.6062
Name: Arousal, dtype: float64              0
13  0    0.606088
Name: Arousal, dtype: float64              0
14  0    0.605925
Name: Arousal, dtype: float64              0
15  0    0.605552
Name: Arousal, dtype: float64              0
16  0    0.604774
Name: Arousal, dtype: float64              0
17  0    0.603909
Name: Arousal, dtype: float64              0
18  0    0.602827
Name: Arousal, dtype: float64              0
19  0    0.600932
Name: Arousal, dtype: float64              0
20  0    0.598924
Name: Arousal, dtype: float64              0
21  0    0.597559
Name: Arousal, dtype: float64              0
22  0    0.596201
Name: Arousal, dtype: float64              0
23   0    0.59417
Name: Arousal, dtype: float64              0
24   0    0.59186
Name: Arousal, dtype: float64              0
25  0    0.590083
Name: Arousal, dtype: float64              0
26  0    0.588141
Name: Arousal, dtype: float64              0
27  0    0.584796
Name: Arousal, dtype: float64              0
28  0    0.580986
Name: Arousal, dtype: float64              0
29  0    0.578072
Name: Arousal, dtype: float64              0
30  0    0.574903
Name: Arousal, dtype: float64              0
31  0    0.569842
Name: Arousal, dtype: float64              0
32  0    0.564536
Name: Arousal, dtype: float64              0
33  0    0.560726
Name: Arousal, dtype: float64              0
34   0    0.55679
Name: Arousal, dtype: float64              0
35  0    0.550252
Name: Arousal, dtype: float64              0
36  0    0.542795
Name: Arousal, dtype: float64              0
37  0    0.537282
Name: Arousal, dtype: float64              0

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
56  1  Базаев Кирилл  2850      0     0
57  1  Базаев Кирилл  2900      0     0
58  1  Базаев Кирилл  2950      0     0
59  1  Базаев Кирилл  3000      0     0
60  1  Базаев Кирилл  3050      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
56  0    0.715437
Name: Neutral, dtype: float64
57  0    0.715317
Name: Neutral, dtype: float64
58  0    0.712461
Name: Neutral, dtype: float64
59  0    0.706319
Name: Neutral, dtype: float64
60  0    0.695205
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
56  0    0.000739
Name: Happy, dtype: float64
57  0    0.000733
Name: Happy, dtype: float64
58  0    0.000735
Name: Happy, dtype: float64
59  0    0.000778
Name: Happy, dtype: float64
60   0    0.00078
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
56  0    0.028419
Name: Sad, dtype: float64
57  0    0.025209
Name: Sad, dtype: float64
58  0    0.022363
Name: Sad, dtype: float64
59  0    0.018717
Name: Sad, dtype: float64
60   0    0.01561
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
56  0    0.013973
Name: Angry, dtype: float64
57  0    0.012395
Name: Angry, dtype: float64
58   0    0.01132
Name: Angry, dtype: float64
59  0    0.013001
Name: Angry, dtype: float64
60  0    0.024266
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
56  0    0.009124
Name: Surprised, dtype: float64  ...
57  0    0.008542
Name: Surprised, dtype: float64  ...
58   0    0.00793
Name: Surprised, dtype: float64  ...
59  0    0.007145
Name: Surprised, dtype: float64  ...
60  0    0.006293
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
56  0    0.432814
Name: Arousal, dtype: float64              0
57  0    0.429587
Name: Arousal, dtype: float64              0
58  0    0.426415
Name: Arousal, dtype: float64              0
59  0    0.421736
Name: Arousal, dtype: float64              0
60   0    0.41719
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
56                0        221.0   0          0   0             0         0
57                0        224.5   0          0   0             0         0
58                0          224   0          0   0             0         0
59                0        222.0   0          0   0             0         0
60                0          223   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
56      0
57      0
58      0
59      0
60      0

[61 rows x 24 columns]
----Time----
3050
2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
57  1  Базаев Кирилл  2900      0     0
58  1  Базаев Кирилл  2950      0     0
59  1  Базаев Кирилл  3000      0     0
60  1  Базаев Кирилл  3050      0     0
61  1  Базаев Кирилл  3100      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
57  0    0.715317
Name: Neutral, dtype: float64
58  0    0.712461
Name: Neutral, dtype: float64
59  0    0.706319
Name: Neutral, dtype: float64
60  0    0.695205
Name: Neutral, dtype: float64
61  0    0.687312
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
57  0    0.000733
Name: Happy, dtype: float64
58  0    0.000735
Name: Happy, dtype: float64
59  0    0.000778
Name: Happy, dtype: float64
60   0    0.00078
Name: Happy, dtype: float64
61  0    0.000769
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
57  0    0.025209
Name: Sad, dtype: float64
58  0    0.022363
Name: Sad, dtype: float64
59  0    0.018717
Name: Sad, dtype: float64
60   0    0.01561
Name: Sad, dtype: float64
61  0    0.013847
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
57  0    0.012395
Name: Angry, dtype: float64
58   0    0.01132
Name: Angry, dtype: float64
59  0    0.013001
Name: Angry, dtype: float64
60  0    0.024266
Name: Angry, dtype: float64
61  0    0.032509
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
57  0    0.008542
Name: Surprised, dtype: float64  ...
58   0    0.00793
Name: Surprised, dtype: float64  ...
59  0    0.007145
Name: Surprised, dtype: float64  ...
60  0    0.006293
Name: Surprised, dtype: float64  ...
61  0    0.005703
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
57  0    0.429587
Name: Arousal, dtype: float64              0
58  0    0.426415
Name: Arousal, dtype: float64              0
59  0    0.421736
Name: Arousal, dtype: float64              0
60   0    0.41719
Name: Arousal, dtype: float64              0
61  0    0.414239
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
57                0        224.5   0          0   0             0         0
58                0          224   0          0   0             0         0
59                0        222.0   0          0   0             0         0
60                0          223   0          0   0             0         0
61                0        223.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
57      0
58      0
59      0
60      0
61      0

[62 rows x 24 columns]
----Time----
3100

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
58  1  Базаев Кирилл  2950      0     0
59  1  Базаев Кирилл  3000      0     0
60  1  Базаев Кирилл  3050      0     0
61  1  Базаев Кирилл  3100      0     0
62  1  Базаев Кирилл  3150      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
58  0    0.712461
Name: Neutral, dtype: float64
59  0    0.706319
Name: Neutral, dtype: float64
60  0    0.695205
Name: Neutral, dtype: float64
61  0    0.687312
Name: Neutral, dtype: float64
62   0    0.68292
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
58  0    0.000735
Name: Happy, dtype: float64
59  0    0.000778
Name: Happy, dtype: float64
60   0    0.00078
Name: Happy, dtype: float64
61  0    0.000769
Name: Happy, dtype: float64
62  0    0.000744
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
58  0    0.022363
Name: Sad, dtype: float64
59  0    0.018717
Name: Sad, dtype: float64
60   0    0.01561
Name: Sad, dtype: float64
61  0    0.013847
Name: Sad, dtype: float64
62  0    0.012283
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
58   0    0.01132
Name: Angry, dtype: float64
59  0    0.013001
Name: Angry, dtype: float64
60  0    0.024266
Name: Angry, dtype: float64
61  0    0.032509
Name: Angry, dtype: float64
62  0    0.037181
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
58   0    0.00793
Name: Surprised, dtype: float64  ...
59  0    0.007145
Name: Surprised, dtype: float64  ...
60  0    0.006293
Name: Surprised, dtype: float64  ...
61  0    0.005703
Name: Surprised, dtype: float64  ...
62  0    0.005107
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
58  0    0.426415
Name: Arousal, dtype: float64              0
59  0    0.421736
Name: Arousal, dtype: float64              0
60   0    0.41719
Name: Arousal, dtype: float64              0
61  0    0.414239
Name: Arousal, dtype: float64              0
62  0    0.411326
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
58                0          224   0          0   0             0         0
59                0        222.0   0          0   0             0         0
60                0          223   0          0   0             0         0
61                0        223.5   0          0   0             0         0
62                0          222   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
58      0
59      0
60      0
61      0
62      0

[63 rows x 24 columns]
----Time----
3150
1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
59  1  Базаев Кирилл  3000      0     0
60  1  Базаев Кирилл  3050      0     0
61  1  Базаев Кирилл  3100      0     0
62  1  Базаев Кирилл  3150      0     0
63  1  Базаев Кирилл  3200      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
59  0    0.706319
Name: Neutral, dtype: float64
60  0    0.695205
Name: Neutral, dtype: float64
61  0    0.687312
Name: Neutral, dtype: float64
62   0    0.68292
Name: Neutral, dtype: float64
63  0    0.676389
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
59  0    0.000778
Name: Happy, dtype: float64
60   0    0.00078
Name: Happy, dtype: float64
61  0    0.000769
Name: Happy, dtype: float64
62  0    0.000744
Name: Happy, dtype: float64
63  0    0.002722
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
59  0    0.018717
Name: Sad, dtype: float64
60   0    0.01561
Name: Sad, dtype: float64
61  0    0.013847
Name: Sad, dtype: float64
62  0    0.012283
Name: Sad, dtype: float64
63  0    0.010281
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
59  0    0.013001
Name: Angry, dtype: float64
60  0    0.024266
Name: Angry, dtype: float64
61  0    0.032509
Name: Angry, dtype: float64
62  0    0.037181
Name: Angry, dtype: float64
63   0    0.03112
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
59  0    0.007145
Name: Surprised, dtype: float64  ...
60  0    0.006293
Name: Surprised, dtype: float64  ...
61  0    0.005703
Name: Surprised, dtype: float64  ...
62  0    0.005107
Name: Surprised, dtype: float64  ...
63  0    0.009553
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
59  0    0.421736
Name: Arousal, dtype: float64              0
60   0    0.41719
Name: Arousal, dtype: float64              0
61  0    0.414239
Name: Arousal, dtype: float64              0
62  0    0.411326
Name: Arousal, dtype: float64              0
63  0    0.407001
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
59                0        222.0   0          0   0             0         0
60                0          223   0          0   0             0         0
61                0        223.5   0          0   0             0         0
62                0          222   0          0   0             0         0
63                0        221.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
59      0
60      0
61      0
62      0
63      0

[64 rows x 24 columns]
----Time----
3200

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
60  1  Базаев Кирилл  3050      0     0
61  1  Базаев Кирилл  3100      0     0
62  1  Базаев Кирилл  3150      0     0
63  1  Базаев Кирилл  3200      0     0
64  1  Базаев Кирилл  3250      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
60  0    0.695205
Name: Neutral, dtype: float64
61  0    0.687312
Name: Neutral, dtype: float64
62   0    0.68292
Name: Neutral, dtype: float64
63  0    0.676389
Name: Neutral, dtype: float64
64  0    0.669744
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
60   0    0.00078
Name: Happy, dtype: float64
61  0    0.000769
Name: Happy, dtype: float64
62  0    0.000744
Name: Happy, dtype: float64
63  0    0.002722
Name: Happy, dtype: float64
64  0    0.004008
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
60   0    0.01561
Name: Sad, dtype: float64
61  0    0.013847
Name: Sad, dtype: float64
62  0    0.012283
Name: Sad, dtype: float64
63  0    0.010281
Name: Sad, dtype: float64
64  0    0.008574
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
60  0    0.024266
Name: Angry, dtype: float64
61  0    0.032509
Name: Angry, dtype: float64
62  0    0.037181
Name: Angry, dtype: float64
63   0    0.03112
Name: Angry, dtype: float64
64  0    0.025954
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
60  0    0.006293
Name: Surprised, dtype: float64  ...
61  0    0.005703
Name: Surprised, dtype: float64  ...
62  0    0.005107
Name: Surprised, dtype: float64  ...
63  0    0.009553
Name: Surprised, dtype: float64  ...
64  0    0.012187
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
60   0    0.41719
Name: Arousal, dtype: float64              0
61  0    0.414239
Name: Arousal, dtype: float64              0
62  0    0.411326
Name: Arousal, dtype: float64              0
63  0    0.407001
Name: Arousal, dtype: float64              0
64  0    0.402724
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
60                0          223   0          0   0             0         0
61                0        223.5   0          0   0             0         0
62                0          222   0          0   0             0         0
63                0        221.0   0          0   0             0         0
64                0        222.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
60      0
61      0
62      0
63      0
64      0

[65 rows x 24 columns]
----Time----
3250
2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
61  1  Базаев Кирилл  3100      0     0
62  1  Базаев Кирилл  3150      0     0
63  1  Базаев Кирилл  3200      0     0
64  1  Базаев Кирилл  3250      0     0
65  1  Базаев Кирилл  3300      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
61  0    0.687312
Name: Neutral, dtype: float64
62   0    0.68292
Name: Neutral, dtype: float64
63  0    0.676389
Name: Neutral, dtype: float64
64  0    0.669744
Name: Neutral, dtype: float64
65  0    0.660097
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
61  0    0.000769
Name: Happy, dtype: float64
62  0    0.000744
Name: Happy, dtype: float64
63  0    0.002722
Name: Happy, dtype: float64
64  0    0.004008
Name: Happy, dtype: float64
65  0    0.005743
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
61  0    0.013847
Name: Sad, dtype: float64
62  0    0.012283
Name: Sad, dtype: float64
63  0    0.010281
Name: Sad, dtype: float64
64  0    0.008574
Name: Sad, dtype: float64
65  0    0.007606
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
61  0    0.032509
Name: Angry, dtype: float64
62  0    0.037181
Name: Angry, dtype: float64
63   0    0.03112
Name: Angry, dtype: float64
64  0    0.025954
Name: Angry, dtype: float64
65  0    0.023023
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
61  0    0.005703
Name: Surprised, dtype: float64  ...
62  0    0.005107
Name: Surprised, dtype: float64  ...
63  0    0.009553
Name: Surprised, dtype: float64  ...
64  0    0.012187
Name: Surprised, dtype: float64  ...
65  0    0.020686
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
61  0    0.414239
Name: Arousal, dtype: float64              0
62  0    0.411326
Name: Arousal, dtype: float64              0
63  0    0.407001
Name: Arousal, dtype: float64              0
64  0    0.402724
Name: Arousal, dtype: float64              0
65  0    0.399972
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
61                0        223.5   0          0   0             0         0
62                0          222   0          0   0             0         0
63                0        221.0   0          0   0             0         0
64                0        222.0   0          0   0             0         0
65                0          222   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
61      0
62      0
63      0
64      0
65      0

[66 rows x 24 columns]
----Time----
3300

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
62  1  Базаев Кирилл  3150      0     0
63  1  Базаев Кирилл  3200      0     0
64  1  Базаев Кирилл  3250      0     0
65  1  Базаев Кирилл  3300      0     0
66  1  Базаев Кирилл  3350      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
62   0    0.68292
Name: Neutral, dtype: float64
63  0    0.676389
Name: Neutral, dtype: float64
64  0    0.669744
Name: Neutral, dtype: float64
65  0    0.660097
Name: Neutral, dtype: float64
66  0    0.651352
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
62  0    0.000744
Name: Happy, dtype: float64
63  0    0.002722
Name: Happy, dtype: float64
64  0    0.004008
Name: Happy, dtype: float64
65  0    0.005743
Name: Happy, dtype: float64
66  0    0.007078
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
62  0    0.012283
Name: Sad, dtype: float64
63  0    0.010281
Name: Sad, dtype: float64
64  0    0.008574
Name: Sad, dtype: float64
65  0    0.007606
Name: Sad, dtype: float64
66  0    0.006747
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
62  0    0.037181
Name: Angry, dtype: float64
63   0    0.03112
Name: Angry, dtype: float64
64  0    0.025954
Name: Angry, dtype: float64
65  0    0.023023
Name: Angry, dtype: float64
66  0    0.020423
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
62  0    0.005107
Name: Surprised, dtype: float64  ...
63  0    0.009553
Name: Surprised, dtype: float64  ...
64  0    0.012187
Name: Surprised, dtype: float64  ...
65  0    0.020686
Name: Surprised, dtype: float64  ...
66  0    0.028452
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
62  0    0.411326
Name: Arousal, dtype: float64              0
63  0    0.407001
Name: Arousal, dtype: float64              0
64  0    0.402724
Name: Arousal, dtype: float64              0
65  0    0.399972
Name: Arousal, dtype: float64              0
66   0    0.39726
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
62                0          222   0          0   0             0         0
63                0        221.0   0          0   0             0         0
64                0        222.0   0          0   0             0         0
65                0          222   0          0   0             0         0
66                0        222.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
62      0
63      0
64      0
65      0
66      0

[67 rows x 24 columns]
----Time----
3350
1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
63  1  Базаев Кирилл  3200      0     0
64  1  Базаев Кирилл  3250      0     0
65  1  Базаев Кирилл  3300      0     0
66  1  Базаев Кирилл  3350      0     0
67  1  Базаев Кирилл  3400      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
63  0    0.676389
Name: Neutral, dtype: float64
64  0    0.669744
Name: Neutral, dtype: float64
65  0    0.660097
Name: Neutral, dtype: float64
66  0    0.651352
Name: Neutral, dtype: float64
67  0    0.640786
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
63  0    0.002722
Name: Happy, dtype: float64
64  0    0.004008
Name: Happy, dtype: float64
65  0    0.005743
Name: Happy, dtype: float64
66  0    0.007078
Name: Happy, dtype: float64
67  0    0.008205
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
63  0    0.010281
Name: Sad, dtype: float64
64  0    0.008574
Name: Sad, dtype: float64
65  0    0.007606
Name: Sad, dtype: float64
66  0    0.006747
Name: Sad, dtype: float64
67  0    0.005647
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
63   0    0.03112
Name: Angry, dtype: float64
64  0    0.025954
Name: Angry, dtype: float64
65  0    0.023023
Name: Angry, dtype: float64
66  0    0.020423
Name: Angry, dtype: float64
67  0    0.017094
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
63  0    0.009553
Name: Surprised, dtype: float64  ...
64  0    0.012187
Name: Surprised, dtype: float64  ...
65  0    0.020686
Name: Surprised, dtype: float64  ...
66  0    0.028452
Name: Surprised, dtype: float64  ...
67  0    0.035274
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
63  0    0.407001
Name: Arousal, dtype: float64              0
64  0    0.402724
Name: Arousal, dtype: float64              0
65  0    0.399972
Name: Arousal, dtype: float64              0
66   0    0.39726
Name: Arousal, dtype: float64              0
67  0    0.393358
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
63                0        221.0   0          0   0             0         0
64                0        222.0   0          0   0             0         0
65                0          222   0          0   0             0         0
66                0        222.5   0          0   0             0         0
67                0          222   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
63      0
64      0
65      0
66      0
67      0

[68 rows x 24 columns]
----Time----
3400

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
64  1  Базаев Кирилл  3250      0     0
65  1  Базаев Кирилл  3300      0     0
66  1  Базаев Кирилл  3350      0     0
67  1  Базаев Кирилл  3400      0     0
68  1  Базаев Кирилл  3450      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
64  0    0.669744
Name: Neutral, dtype: float64
65  0    0.660097
Name: Neutral, dtype: float64
66  0    0.651352
Name: Neutral, dtype: float64
67  0    0.640786
Name: Neutral, dtype: float64
68  0    0.631066
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
64  0    0.004008
Name: Happy, dtype: float64
65  0    0.005743
Name: Happy, dtype: float64
66  0    0.007078
Name: Happy, dtype: float64
67  0    0.008205
Name: Happy, dtype: float64
68  0    0.008653
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
64  0    0.008574
Name: Sad, dtype: float64
65  0    0.007606
Name: Sad, dtype: float64
66  0    0.006747
Name: Sad, dtype: float64
67  0    0.005647
Name: Sad, dtype: float64
68   0    0.00471
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
64  0    0.025954
Name: Angry, dtype: float64
65  0    0.023023
Name: Angry, dtype: float64
66  0    0.020423
Name: Angry, dtype: float64
67  0    0.017094
Name: Angry, dtype: float64
68  0    0.014256
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
64  0    0.012187
Name: Surprised, dtype: float64  ...
65  0    0.020686
Name: Surprised, dtype: float64  ...
66  0    0.028452
Name: Surprised, dtype: float64  ...
67  0    0.035274
Name: Surprised, dtype: float64  ...
68  0    0.038502
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
64  0    0.402724
Name: Arousal, dtype: float64              0
65  0    0.399972
Name: Arousal, dtype: float64              0
66   0    0.39726
Name: Arousal, dtype: float64              0
67  0    0.393358
Name: Arousal, dtype: float64              0
68  0    0.389595
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
64                0        222.0   0          0   0             0         0
65                0          222   0          0   0             0         0
66                0        222.5   0          0   0             0         0
67                0          222   0          0   0             0         0
68                0        223.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
64      0
65      0
66      0
67      0
68      0

[69 rows x 24 columns]
----Time----
3450
2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
65  1  Базаев Кирилл  3300      0     0
66  1  Базаев Кирилл  3350      0     0
67  1  Базаев Кирилл  3400      0     0
68  1  Базаев Кирилл  3450      0     0
69  1  Базаев Кирилл  3500      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
65  0    0.660097
Name: Neutral, dtype: float64
66  0    0.651352
Name: Neutral, dtype: float64
67  0    0.640786
Name: Neutral, dtype: float64
68  0    0.631066
Name: Neutral, dtype: float64
69  0    0.626321
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
65  0    0.005743
Name: Happy, dtype: float64
66  0    0.007078
Name: Happy, dtype: float64
67  0    0.008205
Name: Happy, dtype: float64
68  0    0.008653
Name: Happy, dtype: float64
69  0    0.008622
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
65  0    0.007606
Name: Sad, dtype: float64
66  0    0.006747
Name: Sad, dtype: float64
67  0    0.005647
Name: Sad, dtype: float64
68   0    0.00471
Name: Sad, dtype: float64
69  0    0.004178
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
65  0    0.023023
Name: Angry, dtype: float64
66  0    0.020423
Name: Angry, dtype: float64
67  0    0.017094
Name: Angry, dtype: float64
68  0    0.014256
Name: Angry, dtype: float64
69  0    0.014526
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
65  0    0.020686
Name: Surprised, dtype: float64  ...
66  0    0.028452
Name: Surprised, dtype: float64  ...
67  0    0.035274
Name: Surprised, dtype: float64  ...
68  0    0.038502
Name: Surprised, dtype: float64  ...
69  0    0.038896
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
65  0    0.399972
Name: Arousal, dtype: float64              0
66   0    0.39726
Name: Arousal, dtype: float64              0
67  0    0.393358
Name: Arousal, dtype: float64              0
68  0    0.389595
Name: Arousal, dtype: float64              0
69  0    0.387177
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
65                0          222   0          0   0             0         0
66                0        222.5   0          0   0             0         0
67                0          222   0          0   0             0         0
68                0        223.5   0          0   0             0         0
69                0          223   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
65      0
66      0
67      0
68      0
69      0

[70 rows x 24 columns]
----Time----
3500

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
66  1  Базаев Кирилл  3350      0     0
67  1  Базаев Кирилл  3400      0     0
68  1  Базаев Кирилл  3450      0     0
69  1  Базаев Кирилл  3500      0     0
70  1  Базаев Кирилл  3550      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
66  0    0.651352
Name: Neutral, dtype: float64
67  0    0.640786
Name: Neutral, dtype: float64
68  0    0.631066
Name: Neutral, dtype: float64
69  0    0.626321
Name: Neutral, dtype: float64
70  0    0.621494
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
66  0    0.007078
Name: Happy, dtype: float64
67  0    0.008205
Name: Happy, dtype: float64
68  0    0.008653
Name: Happy, dtype: float64
69  0    0.008622
Name: Happy, dtype: float64
70  0    0.008417
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
66  0    0.006747
Name: Sad, dtype: float64
67  0    0.005647
Name: Sad, dtype: float64
68   0    0.00471
Name: Sad, dtype: float64
69  0    0.004178
Name: Sad, dtype: float64
70  0    0.003706
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
66  0    0.020423
Name: Angry, dtype: float64
67  0    0.017094
Name: Angry, dtype: float64
68  0    0.014256
Name: Angry, dtype: float64
69  0    0.014526
Name: Angry, dtype: float64
70  0    0.023701
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
66  0    0.028452
Name: Surprised, dtype: float64  ...
67  0    0.035274
Name: Surprised, dtype: float64  ...
68  0    0.038502
Name: Surprised, dtype: float64  ...
69  0    0.038896
Name: Surprised, dtype: float64  ...
70  0    0.038347
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
66   0    0.39726
Name: Arousal, dtype: float64              0
67  0    0.393358
Name: Arousal, dtype: float64              0
68  0    0.389595
Name: Arousal, dtype: float64              0
69  0    0.387177
Name: Arousal, dtype: float64              0
70  0    0.384821
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
66                0        222.5   0          0   0             0         0
67                0          222   0          0   0             0         0
68                0        223.5   0          0   0             0         0
69                0          223   0          0   0             0         0
70                0        221.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
66      0
67      0
68      0
69      0
70      0

[71 rows x 24 columns]
----Time----
3550
1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
67  1  Базаев Кирилл  3400      0     0
68  1  Базаев Кирилл  3450      0     0
69  1  Базаев Кирилл  3500      0     0
70  1  Базаев Кирилл  3550      0     0
71  1  Базаев Кирилл  3600      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
67  0    0.640786
Name: Neutral, dtype: float64
68  0    0.631066
Name: Neutral, dtype: float64
69  0    0.626321
Name: Neutral, dtype: float64
70  0    0.621494
Name: Neutral, dtype: float64
71  0    0.619769
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
67  0    0.008205
Name: Happy, dtype: float64
68  0    0.008653
Name: Happy, dtype: float64
69  0    0.008622
Name: Happy, dtype: float64
70  0    0.008417
Name: Happy, dtype: float64
71  0    0.007869
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
67  0    0.005647
Name: Sad, dtype: float64
68   0    0.00471
Name: Sad, dtype: float64
69  0    0.004178
Name: Sad, dtype: float64
70  0    0.003706
Name: Sad, dtype: float64
71  0    0.003102
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
67  0    0.017094
Name: Angry, dtype: float64
68  0    0.014256
Name: Angry, dtype: float64
69  0    0.014526
Name: Angry, dtype: float64
70  0    0.023701
Name: Angry, dtype: float64
71  0    0.033851
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
67  0    0.035274
Name: Surprised, dtype: float64  ...
68  0    0.038502
Name: Surprised, dtype: float64  ...
69  0    0.038896
Name: Surprised, dtype: float64  ...
70  0    0.038347
Name: Surprised, dtype: float64  ...
71  0    0.036206
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
67  0    0.393358
Name: Arousal, dtype: float64              0
68  0    0.389595
Name: Arousal, dtype: float64              0
69  0    0.387177
Name: Arousal, dtype: float64              0
70  0    0.384821
Name: Arousal, dtype: float64              0
71  0    0.381403
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
67                0          222   0          0   0             0         0
68                0        223.5   0          0   0             0         0
69                0          223   0          0   0             0         0
70                0        221.0   0          0   0             0         0
71                0          220   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
67      0
68      0
69      0
70      0
71      0

[72 rows x 24 columns]
----Time----
3600

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
68  1  Базаев Кирилл  3450      0     0
69  1  Базаев Кирилл  3500      0     0
70  1  Базаев Кирилл  3550      0     0
71  1  Базаев Кирилл  3600      0     0
72  1  Базаев Кирилл  3650      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
68  0    0.631066
Name: Neutral, dtype: float64
69  0    0.626321
Name: Neutral, dtype: float64
70  0    0.621494
Name: Neutral, dtype: float64
71  0    0.619769
Name: Neutral, dtype: float64
72  0    0.620993
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
68  0    0.008653
Name: Happy, dtype: float64
69  0    0.008622
Name: Happy, dtype: float64
70  0    0.008417
Name: Happy, dtype: float64
71  0    0.007869
Name: Happy, dtype: float64
72  0    0.007166
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
68   0    0.00471
Name: Sad, dtype: float64
69  0    0.004178
Name: Sad, dtype: float64
70  0    0.003706
Name: Sad, dtype: float64
71  0    0.003102
Name: Sad, dtype: float64
72  0    0.002587
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
68  0    0.014256
Name: Angry, dtype: float64
69  0    0.014526
Name: Angry, dtype: float64
70  0    0.023701
Name: Angry, dtype: float64
71  0    0.033851
Name: Angry, dtype: float64
72  0    0.041454
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
68  0    0.038502
Name: Surprised, dtype: float64  ...
69  0    0.038896
Name: Surprised, dtype: float64  ...
70  0    0.038347
Name: Surprised, dtype: float64  ...
71  0    0.036206
Name: Surprised, dtype: float64  ...
72  0    0.033187
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
68  0    0.389595
Name: Arousal, dtype: float64              0
69  0    0.387177
Name: Arousal, dtype: float64              0
70  0    0.384821
Name: Arousal, dtype: float64              0
71  0    0.381403
Name: Arousal, dtype: float64              0
72   0    0.37818
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
68                0        223.5   0          0   0             0         0
69                0          223   0          0   0             0         0
70                0        221.0   0          0   0             0         0
71                0          220   0          0   0             0         0
72                0        222.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
68      0
69      0
70      0
71      0
72      0

[73 rows x 24 columns]
----Time----
3650
2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
69  1  Базаев Кирилл  3500      0     0
70  1  Базаев Кирилл  3550      0     0
71  1  Базаев Кирилл  3600      0     0
72  1  Базаев Кирилл  3650      0     0
73  1  Базаев Кирилл  3700      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
69  0    0.626321
Name: Neutral, dtype: float64
70  0    0.621494
Name: Neutral, dtype: float64
71  0    0.619769
Name: Neutral, dtype: float64
72  0    0.620993
Name: Neutral, dtype: float64
73  0    0.620627
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
69  0    0.008622
Name: Happy, dtype: float64
70  0    0.008417
Name: Happy, dtype: float64
71  0    0.007869
Name: Happy, dtype: float64
72  0    0.007166
Name: Happy, dtype: float64
73  0    0.006637
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
69  0    0.004178
Name: Sad, dtype: float64
70  0    0.003706
Name: Sad, dtype: float64
71  0    0.003102
Name: Sad, dtype: float64
72  0    0.002587
Name: Sad, dtype: float64
73  0    0.002295
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
69  0    0.014526
Name: Angry, dtype: float64
70  0    0.023701
Name: Angry, dtype: float64
71  0    0.033851
Name: Angry, dtype: float64
72  0    0.041454
Name: Angry, dtype: float64
73  0    0.046847
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
69  0    0.038896
Name: Surprised, dtype: float64  ...
70  0    0.038347
Name: Surprised, dtype: float64  ...
71  0    0.036206
Name: Surprised, dtype: float64  ...
72  0    0.033187
Name: Surprised, dtype: float64  ...
73  0    0.030822
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
69  0    0.387177
Name: Arousal, dtype: float64              0
70  0    0.384821
Name: Arousal, dtype: float64              0
71  0    0.381403
Name: Arousal, dtype: float64              0
72   0    0.37818
Name: Arousal, dtype: float64              0
73  0    0.376302
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
69                0          223   0          0   0             0         0
70                0        221.0   0          0   0             0         0
71                0          220   0          0   0             0         0
72                0        222.0   0          0   0             0         0
73                0        224.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
69      0
70      0
71      0
72      0
73      0

[74 rows x 24 columns]
----Time----
3700

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
70  1  Базаев Кирилл  3550      0     0
71  1  Базаев Кирилл  3600      0     0
72  1  Базаев Кирилл  3650      0     0
73  1  Базаев Кирилл  3700      0     0
74  1  Базаев Кирилл  3750      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
70  0    0.621494
Name: Neutral, dtype: float64
71  0    0.619769
Name: Neutral, dtype: float64
72  0    0.620993
Name: Neutral, dtype: float64
73  0    0.620627
Name: Neutral, dtype: float64
74  0    0.623805
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
70  0    0.008417
Name: Happy, dtype: float64
71  0    0.007869
Name: Happy, dtype: float64
72  0    0.007166
Name: Happy, dtype: float64
73  0    0.006637
Name: Happy, dtype: float64
74  0    0.006087
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
70  0    0.003706
Name: Sad, dtype: float64
71  0    0.003102
Name: Sad, dtype: float64
72  0    0.002587
Name: Sad, dtype: float64
73  0    0.002295
Name: Sad, dtype: float64
74  0    0.002036
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
70  0    0.023701
Name: Angry, dtype: float64
71  0    0.033851
Name: Angry, dtype: float64
72  0    0.041454
Name: Angry, dtype: float64
73  0    0.046847
Name: Angry, dtype: float64
74  0    0.049662
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
70  0    0.038347
Name: Surprised, dtype: float64  ...
71  0    0.036206
Name: Surprised, dtype: float64  ...
72  0    0.033187
Name: Surprised, dtype: float64  ...
73  0    0.030822
Name: Surprised, dtype: float64  ...
74  0    0.028318
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
70  0    0.384821
Name: Arousal, dtype: float64              0
71  0    0.381403
Name: Arousal, dtype: float64              0
72   0    0.37818
Name: Arousal, dtype: float64              0
73  0    0.376302
Name: Arousal, dtype: float64              0
74  0    0.374471
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
70                0        221.0   0          0   0             0         0
71                0          220   0          0   0             0         0
72                0        222.0   0          0   0             0         0
73                0        224.0   0          0   0             0         0
74                0          224   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
70      0
71      0
72      0
73      0
74      0

[75 rows x 24 columns]
----Time----
3750
1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
71  1  Базаев Кирилл  3600      0     0
72  1  Базаев Кирилл  3650      0     0
73  1  Базаев Кирилл  3700      0     0
74  1  Базаев Кирилл  3750      0     0
75  1  Базаев Кирилл  3800      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
71  0    0.619769
Name: Neutral, dtype: float64
72  0    0.620993
Name: Neutral, dtype: float64
73  0    0.620627
Name: Neutral, dtype: float64
74  0    0.623805
Name: Neutral, dtype: float64
75  0    0.627778
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
71  0    0.007869
Name: Happy, dtype: float64
72  0    0.007166
Name: Happy, dtype: float64
73  0    0.006637
Name: Happy, dtype: float64
74  0    0.006087
Name: Happy, dtype: float64
75  0    0.005258
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
71  0    0.003102
Name: Sad, dtype: float64
72  0    0.002587
Name: Sad, dtype: float64
73  0    0.002295
Name: Sad, dtype: float64
74  0    0.002036
Name: Sad, dtype: float64
75  0    0.001704
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
71  0    0.033851
Name: Angry, dtype: float64
72  0    0.041454
Name: Angry, dtype: float64
73  0    0.046847
Name: Angry, dtype: float64
74  0    0.049662
Name: Angry, dtype: float64
75  0    0.053663
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
71  0    0.036206
Name: Surprised, dtype: float64  ...
72  0    0.033187
Name: Surprised, dtype: float64  ...
73  0    0.030822
Name: Surprised, dtype: float64  ...
74  0    0.028318
Name: Surprised, dtype: float64  ...
75   0    0.02448
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
71  0    0.381403
Name: Arousal, dtype: float64              0
72   0    0.37818
Name: Arousal, dtype: float64              0
73  0    0.376302
Name: Arousal, dtype: float64              0
74  0    0.374471
Name: Arousal, dtype: float64              0
75  0    0.372119
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
71                0          220   0          0   0             0         0
72                0        222.0   0          0   0             0         0
73                0        224.0   0          0   0             0         0
74                0          224   0          0   0             0         0
75                0        223.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
71      0
72      0
73      0
74      0
75      0

[76 rows x 24 columns]
----Time----
3800

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
72  1  Базаев Кирилл  3650      0     0
73  1  Базаев Кирилл  3700      0     0
74  1  Базаев Кирилл  3750      0     0
75  1  Базаев Кирилл  3800      0     0
76  1  Базаев Кирилл  3850      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
72  0    0.620993
Name: Neutral, dtype: float64
73  0    0.620627
Name: Neutral, dtype: float64
74  0    0.623805
Name: Neutral, dtype: float64
75  0    0.627778
Name: Neutral, dtype: float64
76  0    0.638007
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
72  0    0.007166
Name: Happy, dtype: float64
73  0    0.006637
Name: Happy, dtype: float64
74  0    0.006087
Name: Happy, dtype: float64
75  0    0.005258
Name: Happy, dtype: float64
76  0    0.004448
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
72  0    0.002587
Name: Sad, dtype: float64
73  0    0.002295
Name: Sad, dtype: float64
74  0    0.002036
Name: Sad, dtype: float64
75  0    0.001704
Name: Sad, dtype: float64
76  0    0.001421
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
72  0    0.041454
Name: Angry, dtype: float64
73  0    0.046847
Name: Angry, dtype: float64
74  0    0.049662
Name: Angry, dtype: float64
75  0    0.053663
Name: Angry, dtype: float64
76  0    0.049643
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
72  0    0.033187
Name: Surprised, dtype: float64  ...
73  0    0.030822
Name: Surprised, dtype: float64  ...
74  0    0.028318
Name: Surprised, dtype: float64  ...
75   0    0.02448
Name: Surprised, dtype: float64  ...
76  0    0.020697
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
72   0    0.37818
Name: Arousal, dtype: float64              0
73  0    0.376302
Name: Arousal, dtype: float64              0
74  0    0.374471
Name: Arousal, dtype: float64              0
75  0    0.372119
Name: Arousal, dtype: float64              0
76  0    0.369962
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
72                0        222.0   0          0   0             0         0
73                0        224.0   0          0   0             0         0
74                0          224   0          0   0             0         0
75                0        223.0   0          0   0             0         0
76                0          224   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
72      0
73      0
74      0
75      0
76      0

[77 rows x 24 columns]
----Time----
3850
2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
73  1  Базаев Кирилл  3700      0     0
74  1  Базаев Кирилл  3750      0     0
75  1  Базаев Кирилл  3800      0     0
76  1  Базаев Кирилл  3850      0     0
77  1  Базаев Кирилл  3900      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
73  0    0.620627
Name: Neutral, dtype: float64
74  0    0.623805
Name: Neutral, dtype: float64
75  0    0.627778
Name: Neutral, dtype: float64
76  0    0.638007
Name: Neutral, dtype: float64
77  0    0.644155
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
73  0    0.006637
Name: Happy, dtype: float64
74  0    0.006087
Name: Happy, dtype: float64
75  0    0.005258
Name: Happy, dtype: float64
76  0    0.004448
Name: Happy, dtype: float64
77  0    0.003946
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
73  0    0.002295
Name: Sad, dtype: float64
74  0    0.002036
Name: Sad, dtype: float64
75  0    0.001704
Name: Sad, dtype: float64
76  0    0.001421
Name: Sad, dtype: float64
77   0    0.00126
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
73  0    0.046847
Name: Angry, dtype: float64
74  0    0.049662
Name: Angry, dtype: float64
75  0    0.053663
Name: Angry, dtype: float64
76  0    0.049643
Name: Angry, dtype: float64
77  0    0.045553
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
73  0    0.030822
Name: Surprised, dtype: float64  ...
74  0    0.028318
Name: Surprised, dtype: float64  ...
75   0    0.02448
Name: Surprised, dtype: float64  ...
76  0    0.020697
Name: Surprised, dtype: float64  ...
77  0    0.018359
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
73  0    0.376302
Name: Arousal, dtype: float64              0
74  0    0.374471
Name: Arousal, dtype: float64              0
75  0    0.372119
Name: Arousal, dtype: float64              0
76  0    0.369962
Name: Arousal, dtype: float64              0
77  0    0.368693
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
73                0        224.0   0          0   0             0         0
74                0          224   0          0   0             0         0
75                0        223.0   0          0   0             0         0
76                0          224   0          0   0             0         0
77                0        225.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
73      0
74      0
75      0
76      0
77      0

[78 rows x 24 columns]
----Time----
3900

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
74  1  Базаев Кирилл  3750      0     0
75  1  Базаев Кирилл  3800      0     0
76  1  Базаев Кирилл  3850      0     0
77  1  Базаев Кирилл  3900      0     0
78  1  Базаев Кирилл  3950      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
74  0    0.623805
Name: Neutral, dtype: float64
75  0    0.627778
Name: Neutral, dtype: float64
76  0    0.638007
Name: Neutral, dtype: float64
77  0    0.644155
Name: Neutral, dtype: float64
78  0    0.650071
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
74  0    0.006087
Name: Happy, dtype: float64
75  0    0.005258
Name: Happy, dtype: float64
76  0    0.004448
Name: Happy, dtype: float64
77  0    0.003946
Name: Happy, dtype: float64
78    0    0.0035
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
74  0    0.002036
Name: Sad, dtype: float64
75  0    0.001704
Name: Sad, dtype: float64
76  0    0.001421
Name: Sad, dtype: float64
77   0    0.00126
Name: Sad, dtype: float64
78  0    0.001118
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
74  0    0.049662
Name: Angry, dtype: float64
75  0    0.053663
Name: Angry, dtype: float64
76  0    0.049643
Name: Angry, dtype: float64
77  0    0.045553
Name: Angry, dtype: float64
78  0    0.040654
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
74  0    0.028318
Name: Surprised, dtype: float64  ...
75   0    0.02448
Name: Surprised, dtype: float64  ...
76  0    0.020697
Name: Surprised, dtype: float64  ...
77  0    0.018359
Name: Surprised, dtype: float64  ...
78  0    0.016286
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
74  0    0.374471
Name: Arousal, dtype: float64              0
75  0    0.372119
Name: Arousal, dtype: float64              0
76  0    0.369962
Name: Arousal, dtype: float64              0
77  0    0.368693
Name: Arousal, dtype: float64              0
78  0    0.367488
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
74                0          224   0          0   0             0         0
75                0        223.0   0          0   0             0         0
76                0          224   0          0   0             0         0
77                0        225.5   0          0   0             0         0
78                0          224   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
74      0
75      0
76      0
77      0
78      0

[79 rows x 24 columns]
----Time----
3950
1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
75  1  Базаев Кирилл  3800      0     0
76  1  Базаев Кирилл  3850      0     0
77  1  Базаев Кирилл  3900      0     0
78  1  Базаев Кирилл  3950      0     0
79  1  Базаев Кирилл  4000      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
75  0    0.627778
Name: Neutral, dtype: float64
76  0    0.638007
Name: Neutral, dtype: float64
77  0    0.644155
Name: Neutral, dtype: float64
78  0    0.650071
Name: Neutral, dtype: float64
79  0    0.658777
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
75  0    0.005258
Name: Happy, dtype: float64
76  0    0.004448
Name: Happy, dtype: float64
77  0    0.003946
Name: Happy, dtype: float64
78    0    0.0035
Name: Happy, dtype: float64
79   0    0.00293
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
75  0    0.001704
Name: Sad, dtype: float64
76  0    0.001421
Name: Sad, dtype: float64
77   0    0.00126
Name: Sad, dtype: float64
78  0    0.001118
Name: Sad, dtype: float64
79  0    0.000936
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
75  0    0.053663
Name: Angry, dtype: float64
76  0    0.049643
Name: Angry, dtype: float64
77  0    0.045553
Name: Angry, dtype: float64
78  0    0.040654
Name: Angry, dtype: float64
79  0    0.034027
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
75   0    0.02448
Name: Surprised, dtype: float64  ...
76  0    0.020697
Name: Surprised, dtype: float64  ...
77  0    0.018359
Name: Surprised, dtype: float64  ...
78  0    0.016286
Name: Surprised, dtype: float64  ...
79  0    0.013631
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
75  0    0.372119
Name: Arousal, dtype: float64              0
76  0    0.369962
Name: Arousal, dtype: float64              0
77  0    0.368693
Name: Arousal, dtype: float64              0
78  0    0.367488
Name: Arousal, dtype: float64              0
79   0    0.36598
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
75                0        223.0   0          0   0             0         0
76                0          224   0          0   0             0         0
77                0        225.5   0          0   0             0         0
78                0          224   0          0   0             0         0
79                0        223.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
75      0
76      0
77      0
78      0
79      0

[80 rows x 24 columns]
----Time----
4000

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
76  1  Базаев Кирилл  3850      0     0
77  1  Базаев Кирилл  3900      0     0
78  1  Базаев Кирилл  3950      0     0
79  1  Базаев Кирилл  4000      0     0
80  1  Базаев Кирилл  4050      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
76  0    0.638007
Name: Neutral, dtype: float64
77  0    0.644155
Name: Neutral, dtype: float64
78  0    0.650071
Name: Neutral, dtype: float64
79  0    0.658777
Name: Neutral, dtype: float64
80  0    0.665308
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
76  0    0.004448
Name: Happy, dtype: float64
77  0    0.003946
Name: Happy, dtype: float64
78    0    0.0035
Name: Happy, dtype: float64
79   0    0.00293
Name: Happy, dtype: float64
80  0    0.002443
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
76  0    0.001421
Name: Sad, dtype: float64
77   0    0.00126
Name: Sad, dtype: float64
78  0    0.001118
Name: Sad, dtype: float64
79  0    0.000936
Name: Sad, dtype: float64
80   0    0.00078
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
76  0    0.049643
Name: Angry, dtype: float64
77  0    0.045553
Name: Angry, dtype: float64
78  0    0.040654
Name: Angry, dtype: float64
79  0    0.034027
Name: Angry, dtype: float64
80  0    0.028378
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
76  0    0.020697
Name: Surprised, dtype: float64  ...
77  0    0.018359
Name: Surprised, dtype: float64  ...
78  0    0.016286
Name: Surprised, dtype: float64  ...
79  0    0.013631
Name: Surprised, dtype: float64  ...
80  0    0.011368
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
76  0    0.369962
Name: Arousal, dtype: float64              0
77  0    0.368693
Name: Arousal, dtype: float64              0
78  0    0.367488
Name: Arousal, dtype: float64              0
79   0    0.36598
Name: Arousal, dtype: float64              0
80  0    0.364596
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
76                0          224   0          0   0             0         0
77                0        225.5   0          0   0             0         0
78                0          224   0          0   0             0         0
79                0        223.0   0          0   0             0         0
80                0        223.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
76      0
77      0
78      0
79      0
80      0

[81 rows x 24 columns]
----Time----
4050
2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
77  1  Базаев Кирилл  3900      0     0
78  1  Базаев Кирилл  3950      0     0
79  1  Базаев Кирилл  4000      0     0
80  1  Базаев Кирилл  4050      0     0
81  1  Базаев Кирилл  4100      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
77  0    0.644155
Name: Neutral, dtype: float64
78  0    0.650071
Name: Neutral, dtype: float64
79  0    0.658777
Name: Neutral, dtype: float64
80  0    0.665308
Name: Neutral, dtype: float64
81  0    0.667099
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
77  0    0.003946
Name: Happy, dtype: float64
78    0    0.0035
Name: Happy, dtype: float64
79   0    0.00293
Name: Happy, dtype: float64
80  0    0.002443
Name: Happy, dtype: float64
81  0    0.002167
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
77   0    0.00126
Name: Sad, dtype: float64
78  0    0.001118
Name: Sad, dtype: float64
79  0    0.000936
Name: Sad, dtype: float64
80   0    0.00078
Name: Sad, dtype: float64
81  0    0.000692
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
77  0    0.045553
Name: Angry, dtype: float64
78  0    0.040654
Name: Angry, dtype: float64
79  0    0.034027
Name: Angry, dtype: float64
80  0    0.028378
Name: Angry, dtype: float64
81  0    0.025173
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
77  0    0.018359
Name: Surprised, dtype: float64  ...
78  0    0.016286
Name: Surprised, dtype: float64  ...
79  0    0.013631
Name: Surprised, dtype: float64  ...
80  0    0.011368
Name: Surprised, dtype: float64  ...
81  0    0.010084
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
77  0    0.368693
Name: Arousal, dtype: float64              0
78  0    0.367488
Name: Arousal, dtype: float64              0
79   0    0.36598
Name: Arousal, dtype: float64              0
80  0    0.364596
Name: Arousal, dtype: float64              0
81  0    0.363875
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
77                0        225.5   0          0   0             0         0
78                0          224   0          0   0             0         0
79                0        223.0   0          0   0             0         0
80                0        223.0   0          0   0             0         0
81                0          223   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
77      0
78      0
79      0
80      0
81      0

[82 rows x 24 columns]
----Time----
4100

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
78  1  Базаев Кирилл  3950      0     0
79  1  Базаев Кирилл  4000      0     0
80  1  Базаев Кирилл  4050      0     0
81  1  Базаев Кирилл  4100      0     0
82  1  Базаев Кирилл  4150      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
78  0    0.650071
Name: Neutral, dtype: float64
79  0    0.658777
Name: Neutral, dtype: float64
80  0    0.665308
Name: Neutral, dtype: float64
81  0    0.667099
Name: Neutral, dtype: float64
82  0    0.668905
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
78    0    0.0035
Name: Happy, dtype: float64
79   0    0.00293
Name: Happy, dtype: float64
80  0    0.002443
Name: Happy, dtype: float64
81  0    0.002167
Name: Happy, dtype: float64
82  0    0.001923
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
78  0    0.001118
Name: Sad, dtype: float64
79  0    0.000936
Name: Sad, dtype: float64
80   0    0.00078
Name: Sad, dtype: float64
81  0    0.000692
Name: Sad, dtype: float64
82  0    0.000614
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
78  0    0.040654
Name: Angry, dtype: float64
79  0    0.034027
Name: Angry, dtype: float64
80  0    0.028378
Name: Angry, dtype: float64
81  0    0.025173
Name: Angry, dtype: float64
82  0    0.022331
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
78  0    0.016286
Name: Surprised, dtype: float64  ...
79  0    0.013631
Name: Surprised, dtype: float64  ...
80  0    0.011368
Name: Surprised, dtype: float64  ...
81  0    0.010084
Name: Surprised, dtype: float64  ...
82  0    0.008946
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
78  0    0.367488
Name: Arousal, dtype: float64              0
79   0    0.36598
Name: Arousal, dtype: float64              0
80  0    0.364596
Name: Arousal, dtype: float64              0
81  0    0.363875
Name: Arousal, dtype: float64              0
82  0    0.363223
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
78                0          224   0          0   0             0         0
79                0        223.0   0          0   0             0         0
80                0        223.0   0          0   0             0         0
81                0          223   0          0   0             0         0
82                0        222.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
78      0
79      0
80      0
81      0
82      0

[83 rows x 24 columns]
----Time----
4150
1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
79  1  Базаев Кирилл  4000      0     0
80  1  Базаев Кирилл  4050      0     0
81  1  Базаев Кирилл  4100      0     0
82  1  Базаев Кирилл  4150      0     0
83  1  Базаев Кирилл  4200      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
79  0    0.658777
Name: Neutral, dtype: float64
80  0    0.665308
Name: Neutral, dtype: float64
81  0    0.667099
Name: Neutral, dtype: float64
82  0    0.668905
Name: Neutral, dtype: float64
83  0    0.674343
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
79   0    0.00293
Name: Happy, dtype: float64
80  0    0.002443
Name: Happy, dtype: float64
81  0    0.002167
Name: Happy, dtype: float64
82  0    0.001923
Name: Happy, dtype: float64
83  0    0.001609
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
79  0    0.000936
Name: Sad, dtype: float64
80   0    0.00078
Name: Sad, dtype: float64
81  0    0.000692
Name: Sad, dtype: float64
82  0    0.000614
Name: Sad, dtype: float64
83  0    0.000514
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
79  0    0.034027
Name: Angry, dtype: float64
80  0    0.028378
Name: Angry, dtype: float64
81  0    0.025173
Name: Angry, dtype: float64
82  0    0.022331
Name: Angry, dtype: float64
83   0    0.01869
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
79  0    0.013631
Name: Surprised, dtype: float64  ...
80  0    0.011368
Name: Surprised, dtype: float64  ...
81  0    0.010084
Name: Surprised, dtype: float64  ...
82  0    0.008946
Name: Surprised, dtype: float64  ...
83  0    0.007487
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
79   0    0.36598
Name: Arousal, dtype: float64              0
80  0    0.364596
Name: Arousal, dtype: float64              0
81  0    0.363875
Name: Arousal, dtype: float64              0
82  0    0.363223
Name: Arousal, dtype: float64              0
83  0    0.362235
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
79                0        223.0   0          0   0             0         0
80                0        223.0   0          0   0             0         0
81                0          223   0          0   0             0         0
82                0        222.0   0          0   0             0         0
83                0          222   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
79      0
80      0
81      0
82      0
83      0

[84 rows x 24 columns]
----Time----
4200

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
80  1  Базаев Кирилл  4050      0     0
81  1  Базаев Кирилл  4100      0     0
82  1  Базаев Кирилл  4150      0     0
83  1  Базаев Кирилл  4200      0     0
84  1  Базаев Кирилл  4250      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
80  0    0.665308
Name: Neutral, dtype: float64
81  0    0.667099
Name: Neutral, dtype: float64
82  0    0.668905
Name: Neutral, dtype: float64
83  0    0.674343
Name: Neutral, dtype: float64
84   0    0.67979
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
80  0    0.002443
Name: Happy, dtype: float64
81  0    0.002167
Name: Happy, dtype: float64
82  0    0.001923
Name: Happy, dtype: float64
83  0    0.001609
Name: Happy, dtype: float64
84  0    0.001342
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
80   0    0.00078
Name: Sad, dtype: float64
81  0    0.000692
Name: Sad, dtype: float64
82  0    0.000614
Name: Sad, dtype: float64
83  0    0.000514
Name: Sad, dtype: float64
84  0    0.000429
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
80  0    0.028378
Name: Angry, dtype: float64
81  0    0.025173
Name: Angry, dtype: float64
82  0    0.022331
Name: Angry, dtype: float64
83   0    0.01869
Name: Angry, dtype: float64
84  0    0.015587
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
80  0    0.011368
Name: Surprised, dtype: float64  ...
81  0    0.010084
Name: Surprised, dtype: float64  ...
82  0    0.008946
Name: Surprised, dtype: float64  ...
83  0    0.007487
Name: Surprised, dtype: float64  ...
84  0    0.006244
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
80  0    0.364596
Name: Arousal, dtype: float64              0
81  0    0.363875
Name: Arousal, dtype: float64              0
82  0    0.363223
Name: Arousal, dtype: float64              0
83  0    0.362235
Name: Arousal, dtype: float64              0
84  0    0.361223
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
80                0        223.0   0          0   0             0         0
81                0          223   0          0   0             0         0
82                0        222.0   0          0   0             0         0
83                0          222   0          0   0             0         0
84                0        222.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
80      0
81      0
82      0
83      0
84      0

[85 rows x 24 columns]
----Time----
4250
2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
81  1  Базаев Кирилл  4100      0     0
82  1  Базаев Кирилл  4150      0     0
83  1  Базаев Кирилл  4200      0     0
84  1  Базаев Кирилл  4250      0     0
85  1  Базаев Кирилл  4300      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
81  0    0.667099
Name: Neutral, dtype: float64
82  0    0.668905
Name: Neutral, dtype: float64
83  0    0.674343
Name: Neutral, dtype: float64
84   0    0.67979
Name: Neutral, dtype: float64
85  0    0.679816
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
81  0    0.002167
Name: Happy, dtype: float64
82  0    0.001923
Name: Happy, dtype: float64
83  0    0.001609
Name: Happy, dtype: float64
84  0    0.001342
Name: Happy, dtype: float64
85   0    0.00119
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
81  0    0.000692
Name: Sad, dtype: float64
82  0    0.000614
Name: Sad, dtype: float64
83  0    0.000514
Name: Sad, dtype: float64
84  0    0.000429
Name: Sad, dtype: float64
85   0    0.00038
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
81  0    0.025173
Name: Angry, dtype: float64
82  0    0.022331
Name: Angry, dtype: float64
83   0    0.01869
Name: Angry, dtype: float64
84  0    0.015587
Name: Angry, dtype: float64
85  0    0.013827
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
81  0    0.010084
Name: Surprised, dtype: float64  ...
82  0    0.008946
Name: Surprised, dtype: float64  ...
83  0    0.007487
Name: Surprised, dtype: float64  ...
84  0    0.006244
Name: Surprised, dtype: float64  ...
85  0    0.005539
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
81  0    0.363875
Name: Arousal, dtype: float64              0
82  0    0.363223
Name: Arousal, dtype: float64              0
83  0    0.362235
Name: Arousal, dtype: float64              0
84  0    0.361223
Name: Arousal, dtype: float64              0
85  0    0.360439
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
81                0          223   0          0   0             0         0
82                0        222.0   0          0   0             0         0
83                0          222   0          0   0             0         0
84                0        222.5   0          0   0             0         0
85                0          224   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
81      0
82      0
83      0
84      0
85      0

[86 rows x 24 columns]
----Time----
4300

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
82  1  Базаев Кирилл  4150      0     0
83  1  Базаев Кирилл  4200      0     0
84  1  Базаев Кирилл  4250      0     0
85  1  Базаев Кирилл  4300      0     0
86  1  Базаев Кирилл  4350      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
82  0    0.668905
Name: Neutral, dtype: float64
83  0    0.674343
Name: Neutral, dtype: float64
84   0    0.67979
Name: Neutral, dtype: float64
85  0    0.679816
Name: Neutral, dtype: float64
86  0    0.681504
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
82  0    0.001923
Name: Happy, dtype: float64
83  0    0.001609
Name: Happy, dtype: float64
84  0    0.001342
Name: Happy, dtype: float64
85   0    0.00119
Name: Happy, dtype: float64
86  0    0.001056
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
82  0    0.000614
Name: Sad, dtype: float64
83  0    0.000514
Name: Sad, dtype: float64
84  0    0.000429
Name: Sad, dtype: float64
85   0    0.00038
Name: Sad, dtype: float64
86  0    0.000337
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
82  0    0.022331
Name: Angry, dtype: float64
83   0    0.01869
Name: Angry, dtype: float64
84  0    0.015587
Name: Angry, dtype: float64
85  0    0.013827
Name: Angry, dtype: float64
86  0    0.012266
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
82  0    0.008946
Name: Surprised, dtype: float64  ...
83  0    0.007487
Name: Surprised, dtype: float64  ...
84  0    0.006244
Name: Surprised, dtype: float64  ...
85  0    0.005539
Name: Surprised, dtype: float64  ...
86  0    0.004914
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
82  0    0.363223
Name: Arousal, dtype: float64              0
83  0    0.362235
Name: Arousal, dtype: float64              0
84  0    0.361223
Name: Arousal, dtype: float64              0
85  0    0.360439
Name: Arousal, dtype: float64              0
86  0    0.359503
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
82                0        222.0   0          0   0             0         0
83                0          222   0          0   0             0         0
84                0        222.5   0          0   0             0         0
85                0          224   0          0   0             0         0
86                0        223.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
82      0
83      0
84      0
85      0
86      0

[87 rows x 24 columns]
----Time----
4350
1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
83  1  Базаев Кирилл  4200      0     0
84  1  Базаев Кирилл  4250      0     0
85  1  Базаев Кирилл  4300      0     0
86  1  Базаев Кирилл  4350      0     0
87  1  Базаев Кирилл  4400      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
83  0    0.674343
Name: Neutral, dtype: float64
84   0    0.67979
Name: Neutral, dtype: float64
85  0    0.679816
Name: Neutral, dtype: float64
86  0    0.681504
Name: Neutral, dtype: float64
87  0    0.676368
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
83  0    0.001609
Name: Happy, dtype: float64
84  0    0.001342
Name: Happy, dtype: float64
85   0    0.00119
Name: Happy, dtype: float64
86  0    0.001056
Name: Happy, dtype: float64
87  0    0.000884
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
83  0    0.000514
Name: Sad, dtype: float64
84  0    0.000429
Name: Sad, dtype: float64
85   0    0.00038
Name: Sad, dtype: float64
86  0    0.000337
Name: Sad, dtype: float64
87  0    0.009744
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
83   0    0.01869
Name: Angry, dtype: float64
84  0    0.015587
Name: Angry, dtype: float64
85  0    0.013827
Name: Angry, dtype: float64
86  0    0.012266
Name: Angry, dtype: float64
87  0    0.010266
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
83  0    0.007487
Name: Surprised, dtype: float64  ...
84  0    0.006244
Name: Surprised, dtype: float64  ...
85  0    0.005539
Name: Surprised, dtype: float64  ...
86  0    0.004914
Name: Surprised, dtype: float64  ...
87  0    0.004113
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
83  0    0.362235
Name: Arousal, dtype: float64              0
84  0    0.361223
Name: Arousal, dtype: float64              0
85  0    0.360439
Name: Arousal, dtype: float64              0
86  0    0.359503
Name: Arousal, dtype: float64              0
87  0    0.357881
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
83                0          222   0          0   0             0         0
84                0        222.5   0          0   0             0         0
85                0          224   0          0   0             0         0
86                0        223.5   0          0   0             0         0
87                0          222   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
83      0
84      0
85      0
86      0
87      0

[88 rows x 24 columns]
----Time----
4400

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
84  1  Базаев Кирилл  4250      0     0
85  1  Базаев Кирилл  4300      0     0
86  1  Базаев Кирилл  4350      0     0
87  1  Базаев Кирилл  4400      0     0
88  1  Базаев Кирилл  4450      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
84   0    0.67979
Name: Neutral, dtype: float64
85  0    0.679816
Name: Neutral, dtype: float64
86  0    0.681504
Name: Neutral, dtype: float64
87  0    0.676368
Name: Neutral, dtype: float64
88  0    0.668695
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
84  0    0.001342
Name: Happy, dtype: float64
85   0    0.00119
Name: Happy, dtype: float64
86  0    0.001056
Name: Happy, dtype: float64
87  0    0.000884
Name: Happy, dtype: float64
88  0    0.000737
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
84  0    0.000429
Name: Sad, dtype: float64
85   0    0.00038
Name: Sad, dtype: float64
86  0    0.000337
Name: Sad, dtype: float64
87  0    0.009744
Name: Sad, dtype: float64
88  0    0.018424
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
84  0    0.015587
Name: Angry, dtype: float64
85  0    0.013827
Name: Angry, dtype: float64
86  0    0.012266
Name: Angry, dtype: float64
87  0    0.010266
Name: Angry, dtype: float64
88  0    0.008562
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
84  0    0.006244
Name: Surprised, dtype: float64  ...
85  0    0.005539
Name: Surprised, dtype: float64  ...
86  0    0.004914
Name: Surprised, dtype: float64  ...
87  0    0.004113
Name: Surprised, dtype: float64  ...
88   0    0.00343
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
84  0    0.361223
Name: Arousal, dtype: float64              0
85  0    0.360439
Name: Arousal, dtype: float64              0
86  0    0.359503
Name: Arousal, dtype: float64              0
87  0    0.357881
Name: Arousal, dtype: float64              0
88  0    0.356226
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
84                0        222.5   0          0   0             0         0
85                0          224   0          0   0             0         0
86                0        223.5   0          0   0             0         0
87                0          222   0          0   0             0         0
88                0        222.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
84      0
85      0
86      0
87      0
88      0

[89 rows x 24 columns]
----Time----
4450
2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
85  1  Базаев Кирилл  4300      0     0
86  1  Базаев Кирилл  4350      0     0
87  1  Базаев Кирилл  4400      0     0
88  1  Базаев Кирилл  4450      0     0
89  1  Базаев Кирилл  4500      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
85  0    0.679816
Name: Neutral, dtype: float64
86  0    0.681504
Name: Neutral, dtype: float64
87  0    0.676368
Name: Neutral, dtype: float64
88  0    0.668695
Name: Neutral, dtype: float64
89  0    0.666539
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
85   0    0.00119
Name: Happy, dtype: float64
86  0    0.001056
Name: Happy, dtype: float64
87  0    0.000884
Name: Happy, dtype: float64
88  0    0.000737
Name: Happy, dtype: float64
89  0    0.000654
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
85   0    0.00038
Name: Sad, dtype: float64
86  0    0.000337
Name: Sad, dtype: float64
87  0    0.009744
Name: Sad, dtype: float64
88  0    0.018424
Name: Sad, dtype: float64
89  0    0.021377
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
85  0    0.013827
Name: Angry, dtype: float64
86  0    0.012266
Name: Angry, dtype: float64
87  0    0.010266
Name: Angry, dtype: float64
88  0    0.008562
Name: Angry, dtype: float64
89  0    0.007595
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
85  0    0.005539
Name: Surprised, dtype: float64  ...
86  0    0.004914
Name: Surprised, dtype: float64  ...
87  0    0.004113
Name: Surprised, dtype: float64  ...
88   0    0.00343
Name: Surprised, dtype: float64  ...
89  0    0.003043
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
85  0    0.360439
Name: Arousal, dtype: float64              0
86  0    0.359503
Name: Arousal, dtype: float64              0
87  0    0.357881
Name: Arousal, dtype: float64              0
88  0    0.356226
Name: Arousal, dtype: float64              0
89  0    0.355141
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
85                0          224   0          0   0             0         0
86                0        223.5   0          0   0             0         0
87                0          222   0          0   0             0         0
88                0        222.0   0          0   0             0         0
89                0        221.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
85      0
86      0
87      0
88      0
89      0

[90 rows x 24 columns]
----Time----
4500

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
86  1  Базаев Кирилл  4350      0     0
87  1  Базаев Кирилл  4400      0     0
88  1  Базаев Кирилл  4450      0     0
89  1  Базаев Кирилл  4500      0     0
90  1  Базаев Кирилл  4550      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
86  0    0.681504
Name: Neutral, dtype: float64
87  0    0.676368
Name: Neutral, dtype: float64
88  0    0.668695
Name: Neutral, dtype: float64
89  0    0.666539
Name: Neutral, dtype: float64
90   0    0.66758
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
86  0    0.001056
Name: Happy, dtype: float64
87  0    0.000884
Name: Happy, dtype: float64
88  0    0.000737
Name: Happy, dtype: float64
89  0    0.000654
Name: Happy, dtype: float64
90   0    0.00058
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
86  0    0.000337
Name: Sad, dtype: float64
87  0    0.009744
Name: Sad, dtype: float64
88  0    0.018424
Name: Sad, dtype: float64
89  0    0.021377
Name: Sad, dtype: float64
90  0    0.022652
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
86  0    0.012266
Name: Angry, dtype: float64
87  0    0.010266
Name: Angry, dtype: float64
88  0    0.008562
Name: Angry, dtype: float64
89  0    0.007595
Name: Angry, dtype: float64
90  0    0.006737
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
86  0    0.004914
Name: Surprised, dtype: float64  ...
87  0    0.004113
Name: Surprised, dtype: float64  ...
88   0    0.00343
Name: Surprised, dtype: float64  ...
89  0    0.003043
Name: Surprised, dtype: float64  ...
90  0    0.002699
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
86  0    0.359503
Name: Arousal, dtype: float64              0
87  0    0.357881
Name: Arousal, dtype: float64              0
88  0    0.356226
Name: Arousal, dtype: float64              0
89  0    0.355141
Name: Arousal, dtype: float64              0
90  0    0.354033
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
86                0        223.5   0          0   0             0         0
87                0          222   0          0   0             0         0
88                0        222.0   0          0   0             0         0
89                0        221.0   0          0   0             0         0
90                0          221   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
86      0
87      0
88      0
89      0
90      0

[91 rows x 24 columns]
----Time----
4550
1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
87  1  Базаев Кирилл  4400      0     0
88  1  Базаев Кирилл  4450      0     0
89  1  Базаев Кирилл  4500      0     0
90  1  Базаев Кирилл  4550      0     0
91  1  Базаев Кирилл  4600      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
87  0    0.676368
Name: Neutral, dtype: float64
88  0    0.668695
Name: Neutral, dtype: float64
89  0    0.666539
Name: Neutral, dtype: float64
90   0    0.66758
Name: Neutral, dtype: float64
91  0    0.673808
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
87  0    0.000884
Name: Happy, dtype: float64
88  0    0.000737
Name: Happy, dtype: float64
89  0    0.000654
Name: Happy, dtype: float64
90   0    0.00058
Name: Happy, dtype: float64
91  0    0.000485
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
87  0    0.009744
Name: Sad, dtype: float64
88  0    0.018424
Name: Sad, dtype: float64
89  0    0.021377
Name: Sad, dtype: float64
90  0    0.022652
Name: Sad, dtype: float64
91  0    0.022291
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
87  0    0.010266
Name: Angry, dtype: float64
88  0    0.008562
Name: Angry, dtype: float64
89  0    0.007595
Name: Angry, dtype: float64
90  0    0.006737
Name: Angry, dtype: float64
91  0    0.005639
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
87  0    0.004113
Name: Surprised, dtype: float64  ...
88   0    0.00343
Name: Surprised, dtype: float64  ...
89  0    0.003043
Name: Surprised, dtype: float64  ...
90  0    0.002699
Name: Surprised, dtype: float64  ...
91  0    0.002259
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
87  0    0.357881
Name: Arousal, dtype: float64              0
88  0    0.356226
Name: Arousal, dtype: float64              0
89  0    0.355141
Name: Arousal, dtype: float64              0
90  0    0.354033
Name: Arousal, dtype: float64              0
91   0    0.35236
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
87                0          222   0          0   0             0         0
88                0        222.0   0          0   0             0         0
89                0        221.0   0          0   0             0         0
90                0          221   0          0   0             0         0
91                0        223.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
87      0
88      0
89      0
90      0
91      0

[92 rows x 24 columns]
----Time----
4600

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
88  1  Базаев Кирилл  4450      0     0
89  1  Базаев Кирилл  4500      0     0
90  1  Базаев Кирилл  4550      0     0
91  1  Базаев Кирилл  4600      0     0
92  1  Базаев Кирилл  4650      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
88  0    0.668695
Name: Neutral, dtype: float64
89  0    0.666539
Name: Neutral, dtype: float64
90   0    0.66758
Name: Neutral, dtype: float64
91  0    0.673808
Name: Neutral, dtype: float64
92  0    0.682811
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
88  0    0.000737
Name: Happy, dtype: float64
89  0    0.000654
Name: Happy, dtype: float64
90   0    0.00058
Name: Happy, dtype: float64
91  0    0.000485
Name: Happy, dtype: float64
92  0    0.000405
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
88  0    0.018424
Name: Sad, dtype: float64
89  0    0.021377
Name: Sad, dtype: float64
90  0    0.022652
Name: Sad, dtype: float64
91  0    0.022291
Name: Sad, dtype: float64
92  0    0.020308
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
88  0    0.008562
Name: Angry, dtype: float64
89  0    0.007595
Name: Angry, dtype: float64
90  0    0.006737
Name: Angry, dtype: float64
91  0    0.005639
Name: Angry, dtype: float64
92  0    0.004703
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
88   0    0.00343
Name: Surprised, dtype: float64  ...
89  0    0.003043
Name: Surprised, dtype: float64  ...
90  0    0.002699
Name: Surprised, dtype: float64  ...
91  0    0.002259
Name: Surprised, dtype: float64  ...
92  0    0.001884
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
88  0    0.356226
Name: Arousal, dtype: float64              0
89  0    0.355141
Name: Arousal, dtype: float64              0
90  0    0.354033
Name: Arousal, dtype: float64              0
91   0    0.35236
Name: Arousal, dtype: float64              0
92  0    0.350679
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
88                0        222.0   0          0   0             0         0
89                0        221.0   0          0   0             0         0
90                0          221   0          0   0             0         0
91                0        223.5   0          0   0             0         0
92                0          224   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
88      0
89      0
90      0
91      0
92      0

[93 rows x 24 columns]
----Time----
4650
2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
89  1  Базаев Кирилл  4500      0     0
90  1  Базаев Кирилл  4550      0     0
91  1  Базаев Кирилл  4600      0     0
92  1  Базаев Кирилл  4650      0     0
93  1  Базаев Кирилл  4700      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
89  0    0.666539
Name: Neutral, dtype: float64
90   0    0.66758
Name: Neutral, dtype: float64
91  0    0.673808
Name: Neutral, dtype: float64
92  0    0.682811
Name: Neutral, dtype: float64
93  0    0.690894
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
89  0    0.000654
Name: Happy, dtype: float64
90   0    0.00058
Name: Happy, dtype: float64
91  0    0.000485
Name: Happy, dtype: float64
92  0    0.000405
Name: Happy, dtype: float64
93  0    0.000359
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
89  0    0.021377
Name: Sad, dtype: float64
90  0    0.022652
Name: Sad, dtype: float64
91  0    0.022291
Name: Sad, dtype: float64
92  0    0.020308
Name: Sad, dtype: float64
93  0    0.018157
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
89  0    0.007595
Name: Angry, dtype: float64
90  0    0.006737
Name: Angry, dtype: float64
91  0    0.005639
Name: Angry, dtype: float64
92  0    0.004703
Name: Angry, dtype: float64
93  0    0.004172
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
89  0    0.003043
Name: Surprised, dtype: float64  ...
90  0    0.002699
Name: Surprised, dtype: float64  ...
91  0    0.002259
Name: Surprised, dtype: float64  ...
92  0    0.001884
Name: Surprised, dtype: float64  ...
93  0    0.001671
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
89  0    0.355141
Name: Arousal, dtype: float64              0
90  0    0.354033
Name: Arousal, dtype: float64              0
91   0    0.35236
Name: Arousal, dtype: float64              0
92  0    0.350679
Name: Arousal, dtype: float64              0
93  0    0.349538
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
89                0        221.0   0          0   0             0         0
90                0          221   0          0   0             0         0
91                0        223.5   0          0   0             0         0
92                0          224   0          0   0             0         0
93                0        223.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
89      0
90      0
91      0
92      0
93      0

[94 rows x 24 columns]
----Time----
4700

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
90  1  Базаев Кирилл  4550      0     0
91  1  Базаев Кирилл  4600      0     0
92  1  Базаев Кирилл  4650      0     0
93  1  Базаев Кирилл  4700      0     0
94  1  Базаев Кирилл  4750      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
90   0    0.66758
Name: Neutral, dtype: float64
91  0    0.673808
Name: Neutral, dtype: float64
92  0    0.682811
Name: Neutral, dtype: float64
93  0    0.690894
Name: Neutral, dtype: float64
94  0    0.699358
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
90   0    0.00058
Name: Happy, dtype: float64
91  0    0.000485
Name: Happy, dtype: float64
92  0    0.000405
Name: Happy, dtype: float64
93  0    0.000359
Name: Happy, dtype: float64
94  0    0.000319
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
90  0    0.022652
Name: Sad, dtype: float64
91  0    0.022291
Name: Sad, dtype: float64
92  0    0.020308
Name: Sad, dtype: float64
93  0    0.018157
Name: Sad, dtype: float64
94  0    0.016107
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
90  0    0.006737
Name: Angry, dtype: float64
91  0    0.005639
Name: Angry, dtype: float64
92  0    0.004703
Name: Angry, dtype: float64
93  0    0.004172
Name: Angry, dtype: float64
94  0    0.003701
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
90  0    0.002699
Name: Surprised, dtype: float64  ...
91  0    0.002259
Name: Surprised, dtype: float64  ...
92  0    0.001884
Name: Surprised, dtype: float64  ...
93  0    0.001671
Name: Surprised, dtype: float64  ...
94  0    0.001482
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
90  0    0.354033
Name: Arousal, dtype: float64              0
91   0    0.35236
Name: Arousal, dtype: float64              0
92  0    0.350679
Name: Arousal, dtype: float64              0
93  0    0.349538
Name: Arousal, dtype: float64              0
94  0    0.348409
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
90                0          221   0          0   0             0         0
91                0        223.5   0          0   0             0         0
92                0          224   0          0   0             0         0
93                0        223.5   0          0   0             0         0
94                0          223   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
90      0
91      0
92      0
93      0
94      0

[95 rows x 24 columns]
----Time----
4750
1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
91  1  Базаев Кирилл  4600      0     0
92  1  Базаев Кирилл  4650      0     0
93  1  Базаев Кирилл  4700      0     0
94  1  Базаев Кирилл  4750      0     0
95  1  Базаев Кирилл  4800      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
91  0    0.673808
Name: Neutral, dtype: float64
92  0    0.682811
Name: Neutral, dtype: float64
93  0    0.690894
Name: Neutral, dtype: float64
94  0    0.699358
Name: Neutral, dtype: float64
95   0    0.71313
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
91  0    0.000485
Name: Happy, dtype: float64
92  0    0.000405
Name: Happy, dtype: float64
93  0    0.000359
Name: Happy, dtype: float64
94  0    0.000319
Name: Happy, dtype: float64
95  0    0.000267
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
91  0    0.022291
Name: Sad, dtype: float64
92  0    0.020308
Name: Sad, dtype: float64
93  0    0.018157
Name: Sad, dtype: float64
94  0    0.016107
Name: Sad, dtype: float64
95  0    0.013481
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
91  0    0.005639
Name: Angry, dtype: float64
92  0    0.004703
Name: Angry, dtype: float64
93  0    0.004172
Name: Angry, dtype: float64
94  0    0.003701
Name: Angry, dtype: float64
95  0    0.003097
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
91  0    0.002259
Name: Surprised, dtype: float64  ...
92  0    0.001884
Name: Surprised, dtype: float64  ...
93  0    0.001671
Name: Surprised, dtype: float64  ...
94  0    0.001482
Name: Surprised, dtype: float64  ...
95  0    0.001241
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
91   0    0.35236
Name: Arousal, dtype: float64              0
92  0    0.350679
Name: Arousal, dtype: float64              0
93  0    0.349538
Name: Arousal, dtype: float64              0
94  0    0.348409
Name: Arousal, dtype: float64              0
95  0    0.346725
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
91                0        223.5   0          0   0             0         0
92                0          224   0          0   0             0         0
93                0        223.5   0          0   0             0         0
94                0          223   0          0   0             0         0
95                0        223.5   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
91      0
92      0
93      0
94      0
95      0

[96 rows x 24 columns]
----Time----
4800

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
92  1  Базаев Кирилл  4650      0     0
93  1  Базаев Кирилл  4700      0     0
94  1  Базаев Кирилл  4750      0     0
95  1  Базаев Кирилл  4800      0     0
96  1  Базаев Кирилл  4850      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
92  0    0.682811
Name: Neutral, dtype: float64
93  0    0.690894
Name: Neutral, dtype: float64
94  0    0.699358
Name: Neutral, dtype: float64
95   0    0.71313
Name: Neutral, dtype: float64
96  0    0.725637
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
92  0    0.000405
Name: Happy, dtype: float64
93  0    0.000359
Name: Happy, dtype: float64
94  0    0.000319
Name: Happy, dtype: float64
95  0    0.000267
Name: Happy, dtype: float64
96  0    0.000222
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
92  0    0.020308
Name: Sad, dtype: float64
93  0    0.018157
Name: Sad, dtype: float64
94  0    0.016107
Name: Sad, dtype: float64
95  0    0.013481
Name: Sad, dtype: float64
96  0    0.011243
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
92  0    0.004703
Name: Angry, dtype: float64
93  0    0.004172
Name: Angry, dtype: float64
94  0    0.003701
Name: Angry, dtype: float64
95  0    0.003097
Name: Angry, dtype: float64
96  0    0.002583
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
92  0    0.001884
Name: Surprised, dtype: float64  ...
93  0    0.001671
Name: Surprised, dtype: float64  ...
94  0    0.001482
Name: Surprised, dtype: float64  ...
95  0    0.001241
Name: Surprised, dtype: float64  ...
96  0    0.001035
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
92  0    0.350679
Name: Arousal, dtype: float64              0
93  0    0.349538
Name: Arousal, dtype: float64              0
94  0    0.348409
Name: Arousal, dtype: float64              0
95  0    0.346725
Name: Arousal, dtype: float64              0
96  0    0.345087
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
92                0          224   0          0   0             0         0
93                0        223.5   0          0   0             0         0
94                0          223   0          0   0             0         0
95                0        223.5   0          0   0             0         0
96                0        224.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
92      0
93      0
94      0
95      0
96      0

[97 rows x 24 columns]
----Time----
4850
2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
93  1  Базаев Кирилл  4700      0     0
94  1  Базаев Кирилл  4750      0     0
95  1  Базаев Кирилл  4800      0     0
96  1  Базаев Кирилл  4850      0     0
97  1  Базаев Кирилл  4900      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
93  0    0.690894
Name: Neutral, dtype: float64
94  0    0.699358
Name: Neutral, dtype: float64
95   0    0.71313
Name: Neutral, dtype: float64
96  0    0.725637
Name: Neutral, dtype: float64
97  0    0.735413
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
93  0    0.000359
Name: Happy, dtype: float64
94  0    0.000319
Name: Happy, dtype: float64
95  0    0.000267
Name: Happy, dtype: float64
96  0    0.000222
Name: Happy, dtype: float64
97  0    0.000197
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
93  0    0.018157
Name: Sad, dtype: float64
94  0    0.016107
Name: Sad, dtype: float64
95  0    0.013481
Name: Sad, dtype: float64
96  0    0.011243
Name: Sad, dtype: float64
97  0    0.009973
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
93  0    0.004172
Name: Angry, dtype: float64
94  0    0.003701
Name: Angry, dtype: float64
95  0    0.003097
Name: Angry, dtype: float64
96  0    0.002583
Name: Angry, dtype: float64
97  0    0.002291
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
93  0    0.001671
Name: Surprised, dtype: float64  ...
94  0    0.001482
Name: Surprised, dtype: float64  ...
95  0    0.001241
Name: Surprised, dtype: float64  ...
96  0    0.001035
Name: Surprised, dtype: float64  ...
97  0    0.000918
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
93  0    0.349538
Name: Arousal, dtype: float64              0
94  0    0.348409
Name: Arousal, dtype: float64              0
95  0    0.346725
Name: Arousal, dtype: float64              0
96  0    0.345087
Name: Arousal, dtype: float64              0
97  0    0.343977
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
93                0        223.5   0          0   0             0         0
94                0          223   0          0   0             0         0
95                0        223.5   0          0   0             0         0
96                0        224.0   0          0   0             0         0
97                0          223   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
93      0
94      0
95      0
96      0
97      0

[98 rows x 24 columns]
----Time----
4900

2
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
94  1  Базаев Кирилл  4750      0     0
95  1  Базаев Кирилл  4800      0     0
96  1  Базаев Кирилл  4850      0     0
97  1  Базаев Кирилл  4900      0     0
98  1  Базаев Кирилл  4950      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
94  0    0.699358
Name: Neutral, dtype: float64
95   0    0.71313
Name: Neutral, dtype: float64
96  0    0.725637
Name: Neutral, dtype: float64
97  0    0.735413
Name: Neutral, dtype: float64
98  0    0.745326
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
94  0    0.000319
Name: Happy, dtype: float64
95  0    0.000267
Name: Happy, dtype: float64
96  0    0.000222
Name: Happy, dtype: float64
97  0    0.000197
Name: Happy, dtype: float64
98  0    0.000175
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
94  0    0.016107
Name: Sad, dtype: float64
95  0    0.013481
Name: Sad, dtype: float64
96  0    0.011243
Name: Sad, dtype: float64
97  0    0.009973
Name: Sad, dtype: float64
98  0    0.008847
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
94  0    0.003701
Name: Angry, dtype: float64
95  0    0.003097
Name: Angry, dtype: float64
96  0    0.002583
Name: Angry, dtype: float64
97  0    0.002291
Name: Angry, dtype: float64
98  0    0.002033
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
94  0    0.001482
Name: Surprised, dtype: float64  ...
95  0    0.001241
Name: Surprised, dtype: float64  ...
96  0    0.001035
Name: Surprised, dtype: float64  ...
97  0    0.000918
Name: Surprised, dtype: float64  ...
98  0    0.000814
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
94  0    0.348409
Name: Arousal, dtype: float64              0
95  0    0.346725
Name: Arousal, dtype: float64              0
96  0    0.345087
Name: Arousal, dtype: float64              0
97  0    0.343977
Name: Arousal, dtype: float64              0
98  0    0.342854
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
94                0          223   0          0   0             0         0
95                0        223.5   0          0   0             0         0
96                0        224.0   0          0   0             0         0
97                0          223   0          0   0             0         0
98                0        222.0   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
94      0
95      0
96      0
97      0
98      0

[99 rows x 24 columns]
----Time----
4950
1
   id           name  time stimul trial  \
0   1  Базаев Кирилл    50      0     0
1   1  Базаев Кирилл   100      0     0
2   1  Базаев Кирилл   150      0     0
3   1  Базаев Кирилл   200      0     0
4   1  Базаев Кирилл   250      0     0
.. ..            ...   ...    ...   ...
95  1  Базаев Кирилл  4800      0     0
96  1  Базаев Кирилл  4850      0     0
97  1  Базаев Кирилл  4900      0     0
98  1  Базаев Кирилл  4950      0     0
99  1  Базаев Кирилл  5000      0     0

                                        Neutral  \
0         0    NaN
Name: Neutral, dtype: object
1         0    NaN
Name: Neutral, dtype: object
2         0    NaN
Name: Neutral, dtype: object
3         0   NaN
Name: Neutral, dtype: float64
4         0    NaN
Name: Neutral, dtype: object
..                                          ...
95   0    0.71313
Name: Neutral, dtype: float64
96  0    0.725637
Name: Neutral, dtype: float64
97  0    0.735413
Name: Neutral, dtype: float64
98  0    0.745326
Name: Neutral, dtype: float64
99   0    0.76022
Name: Neutral, dtype: float64

                                        Happy  \
0         0    NaN
Name: Happy, dtype: object
1         0    NaN
Name: Happy, dtype: object
2         0    NaN
Name: Happy, dtype: object
3         0   NaN
Name: Happy, dtype: float64
4         0    NaN
Name: Happy, dtype: object
..                                        ...
95  0    0.000267
Name: Happy, dtype: float64
96  0    0.000222
Name: Happy, dtype: float64
97  0    0.000197
Name: Happy, dtype: float64
98  0    0.000175
Name: Happy, dtype: float64
99  0    0.000146
Name: Happy, dtype: float64

                                        Sad  \
0         0    NaN
Name: Sad, dtype: object
1         0    NaN
Name: Sad, dtype: object
2         0    NaN
Name: Sad, dtype: object
3         0   NaN
Name: Sad, dtype: float64
4         0    NaN
Name: Sad, dtype: object
..                                      ...
95  0    0.013481
Name: Sad, dtype: float64
96  0    0.011243
Name: Sad, dtype: float64
97  0    0.009973
Name: Sad, dtype: float64
98  0    0.008847
Name: Sad, dtype: float64
99  0    0.007405
Name: Sad, dtype: float64

                                        Angry  \
0         0    NaN
Name: Angry, dtype: object
1         0    NaN
Name: Angry, dtype: object
2         0    NaN
Name: Angry, dtype: object
3         0   NaN
Name: Angry, dtype: float64
4         0    NaN
Name: Angry, dtype: object
..                                        ...
95  0    0.003097
Name: Angry, dtype: float64
96  0    0.002583
Name: Angry, dtype: float64
97  0    0.002291
Name: Angry, dtype: float64
98  0    0.002033
Name: Angry, dtype: float64
99  0    0.001701
Name: Angry, dtype: float64

                                        Surprised  ...  \
0         0    NaN
Name: Surprised, dtype: object  ...
1         0    NaN
Name: Surprised, dtype: object  ...
2         0    NaN
Name: Surprised, dtype: object  ...
3         0   NaN
Name: Surprised, dtype: float64  ...
4         0    NaN
Name: Surprised, dtype: object  ...
..                                            ...  ...
95  0    0.001241
Name: Surprised, dtype: float64  ...
96  0    0.001035
Name: Surprised, dtype: float64  ...
97  0    0.000918
Name: Surprised, dtype: float64  ...
98  0    0.000814
Name: Surprised, dtype: float64  ...
99  0    0.000682
Name: Surprised, dtype: float64  ...

                                        Arousal ABDOMINAL_RESP  \
0         0    NaN
Name: Arousal, dtype: object              0
1         0    NaN
Name: Arousal, dtype: object              0
2         0    NaN
Name: Arousal, dtype: object              0
3         0   NaN
Name: Arousal, dtype: float64              0
4         0    NaN
Name: Arousal, dtype: object              0
..                                          ...            ...
95  0    0.346725
Name: Arousal, dtype: float64              0
96  0    0.345087
Name: Arousal, dtype: float64              0
97  0    0.343977
Name: Arousal, dtype: float64              0
98  0    0.342854
Name: Arousal, dtype: float64              0
99  0    0.341171
Name: Arousal, dtype: float64              0

   ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                 0            0   0          0   0             0         0
1                 0        222.5   0          0   0             0         0
2                 0          223   0          0   0             0         0
3                 0        111.5   0          0   0             0         0
4                 0            0   0          0   0             0         0
..              ...          ...  ..        ...  ..           ...       ...
95                0        223.5   0          0   0             0         0
96                0        224.0   0          0   0             0         0
97                0          223   0          0   0             0         0
98                0        222.0   0          0   0             0         0
99                0          222   0          0   0             0         0

   TREMOR
0       0
1       0
2       0
3       0
4       0
..    ...
95      0
96      0
97      0
98      0
99      0

[100 rows x 24 columns]
----Time----
5000

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
96   1  Базаев Кирилл  4850      0     0
97   1  Базаев Кирилл  4900      0     0
98   1  Базаев Кирилл  4950      0     0
99   1  Базаев Кирилл  5000      0     0
100  1  Базаев Кирилл  5050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
96   0    0.725637
Name: Neutral, dtype: float64
97   0    0.735413
Name: Neutral, dtype: float64
98   0    0.745326
Name: Neutral, dtype: float64
99    0    0.76022
Name: Neutral, dtype: float64
100  0    0.774155
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
96   0    0.000222
Name: Happy, dtype: float64
97   0    0.000197
Name: Happy, dtype: float64
98   0    0.000175
Name: Happy, dtype: float64
99   0    0.000146
Name: Happy, dtype: float64
100  0    0.000122
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
96   0    0.011243
Name: Sad, dtype: float64
97   0    0.009973
Name: Sad, dtype: float64
98   0    0.008847
Name: Sad, dtype: float64
99   0    0.007405
Name: Sad, dtype: float64
100  0    0.006176
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
96   0    0.002583
Name: Angry, dtype: float64
97   0    0.002291
Name: Angry, dtype: float64
98   0    0.002033
Name: Angry, dtype: float64
99   0    0.001701
Name: Angry, dtype: float64
100  0    0.001419
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
96   0    0.001035
Name: Surprised, dtype: float64  ...
97   0    0.000918
Name: Surprised, dtype: float64  ...
98   0    0.000814
Name: Surprised, dtype: float64  ...
99   0    0.000682
Name: Surprised, dtype: float64  ...
100  0    0.000568
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
96   0    0.345087
Name: Arousal, dtype: float64              0
97   0    0.343977
Name: Arousal, dtype: float64              0
98   0    0.342854
Name: Arousal, dtype: float64              0
99   0    0.341171
Name: Arousal, dtype: float64              0
100  0    0.339495
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
96                 0        224.0   0          0   0             0         0
97                 0          223   0          0   0             0         0
98                 0        222.0   0          0   0             0         0
99                 0          222   0          0   0             0         0
100                0        222.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
96       0
97       0
98       0
99       0
100      0

[101 rows x 24 columns]
----Time----
5050
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
97   1  Базаев Кирилл  4900      0     0
98   1  Базаев Кирилл  4950      0     0
99   1  Базаев Кирилл  5000      0     0
100  1  Базаев Кирилл  5050      0     0
101  1  Базаев Кирилл  5100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
97   0    0.735413
Name: Neutral, dtype: float64
98   0    0.745326
Name: Neutral, dtype: float64
99    0    0.76022
Name: Neutral, dtype: float64
100  0    0.774155
Name: Neutral, dtype: float64
101  0    0.782576
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
97   0    0.000197
Name: Happy, dtype: float64
98   0    0.000175
Name: Happy, dtype: float64
99   0    0.000146
Name: Happy, dtype: float64
100  0    0.000122
Name: Happy, dtype: float64
101  0    0.000108
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
97   0    0.009973
Name: Sad, dtype: float64
98   0    0.008847
Name: Sad, dtype: float64
99   0    0.007405
Name: Sad, dtype: float64
100  0    0.006176
Name: Sad, dtype: float64
101  0    0.005478
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
97   0    0.002291
Name: Angry, dtype: float64
98   0    0.002033
Name: Angry, dtype: float64
99   0    0.001701
Name: Angry, dtype: float64
100  0    0.001419
Name: Angry, dtype: float64
101  0    0.001259
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
97   0    0.000918
Name: Surprised, dtype: float64  ...
98   0    0.000814
Name: Surprised, dtype: float64  ...
99   0    0.000682
Name: Surprised, dtype: float64  ...
100  0    0.000568
Name: Surprised, dtype: float64  ...
101  0    0.000504
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
97   0    0.343977
Name: Arousal, dtype: float64              0
98   0    0.342854
Name: Arousal, dtype: float64              0
99   0    0.341171
Name: Arousal, dtype: float64              0
100  0    0.339495
Name: Arousal, dtype: float64              0
101  0    0.338376
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
97                 0          223   0          0   0             0         0
98                 0        222.0   0          0   0             0         0
99                 0          222   0          0   0             0         0
100                0        222.0   0          0   0             0         0
101                0          222   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
97       0
98       0
99       0
100      0
101      0

[102 rows x 24 columns]
----Time----
5100

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
98   1  Базаев Кирилл  4950      0     0
99   1  Базаев Кирилл  5000      0     0
100  1  Базаев Кирилл  5050      0     0
101  1  Базаев Кирилл  5100      0     0
102  1  Базаев Кирилл  5150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
98   0    0.745326
Name: Neutral, dtype: float64
99    0    0.76022
Name: Neutral, dtype: float64
100  0    0.774155
Name: Neutral, dtype: float64
101  0    0.782576
Name: Neutral, dtype: float64
102  0    0.789604
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
98   0    0.000175
Name: Happy, dtype: float64
99   0    0.000146
Name: Happy, dtype: float64
100  0    0.000122
Name: Happy, dtype: float64
101  0    0.000108
Name: Happy, dtype: float64
102  0    0.000096
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
98   0    0.008847
Name: Sad, dtype: float64
99   0    0.007405
Name: Sad, dtype: float64
100  0    0.006176
Name: Sad, dtype: float64
101  0    0.005478
Name: Sad, dtype: float64
102  0    0.004859
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
98   0    0.002033
Name: Angry, dtype: float64
99   0    0.001701
Name: Angry, dtype: float64
100  0    0.001419
Name: Angry, dtype: float64
101  0    0.001259
Name: Angry, dtype: float64
102  0    0.001117
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
98   0    0.000814
Name: Surprised, dtype: float64  ...
99   0    0.000682
Name: Surprised, dtype: float64  ...
100  0    0.000568
Name: Surprised, dtype: float64  ...
101  0    0.000504
Name: Surprised, dtype: float64  ...
102  0    0.000447
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
98   0    0.342854
Name: Arousal, dtype: float64              0
99   0    0.341171
Name: Arousal, dtype: float64              0
100  0    0.339495
Name: Arousal, dtype: float64              0
101  0    0.338376
Name: Arousal, dtype: float64              0
102  0    0.337282
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
98                 0        222.0   0          0   0             0         0
99                 0          222   0          0   0             0         0
100                0        222.0   0          0   0             0         0
101                0          222   0          0   0             0         0
102                0        223.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
98       0
99       0
100      0
101      0
102      0

[103 rows x 24 columns]
----Time----
5150
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
99   1  Базаев Кирилл  5000      0     0
100  1  Базаев Кирилл  5050      0     0
101  1  Базаев Кирилл  5100      0     0
102  1  Базаев Кирилл  5150      0     0
103  1  Базаев Кирилл  5200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
99    0    0.76022
Name: Neutral, dtype: float64
100  0    0.774155
Name: Neutral, dtype: float64
101  0    0.782576
Name: Neutral, dtype: float64
102  0    0.789604
Name: Neutral, dtype: float64
103  0    0.799957
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
99   0    0.000146
Name: Happy, dtype: float64
100  0    0.000122
Name: Happy, dtype: float64
101  0    0.000108
Name: Happy, dtype: float64
102  0    0.000096
Name: Happy, dtype: float64
103   0    0.00008
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
99   0    0.007405
Name: Sad, dtype: float64
100  0    0.006176
Name: Sad, dtype: float64
101  0    0.005478
Name: Sad, dtype: float64
102  0    0.004859
Name: Sad, dtype: float64
103  0    0.004067
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
99   0    0.001701
Name: Angry, dtype: float64
100  0    0.001419
Name: Angry, dtype: float64
101  0    0.001259
Name: Angry, dtype: float64
102  0    0.001117
Name: Angry, dtype: float64
103  0    0.000935
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
99   0    0.000682
Name: Surprised, dtype: float64  ...
100  0    0.000568
Name: Surprised, dtype: float64  ...
101  0    0.000504
Name: Surprised, dtype: float64  ...
102  0    0.000447
Name: Surprised, dtype: float64  ...
103  0    0.000374
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
99   0    0.341171
Name: Arousal, dtype: float64              0
100  0    0.339495
Name: Arousal, dtype: float64              0
101  0    0.338376
Name: Arousal, dtype: float64              0
102  0    0.337282
Name: Arousal, dtype: float64              0
103  0    0.335652
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
99                 0          222   0          0   0             0         0
100                0        222.0   0          0   0             0         0
101                0          222   0          0   0             0         0
102                0        223.5   0          0   0             0         0
103                0          224   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
99       0
100      0
101      0
102      0
103      0

[104 rows x 24 columns]
----Time----
5200

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
100  1  Базаев Кирилл  5050      0     0
101  1  Базаев Кирилл  5100      0     0
102  1  Базаев Кирилл  5150      0     0
103  1  Базаев Кирилл  5200      0     0
104  1  Базаев Кирилл  5250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
100  0    0.774155
Name: Neutral, dtype: float64
101  0    0.782576
Name: Neutral, dtype: float64
102  0    0.789604
Name: Neutral, dtype: float64
103  0    0.799957
Name: Neutral, dtype: float64
104  0    0.810057
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
100  0    0.000122
Name: Happy, dtype: float64
101  0    0.000108
Name: Happy, dtype: float64
102  0    0.000096
Name: Happy, dtype: float64
103   0    0.00008
Name: Happy, dtype: float64
104  0    0.000067
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
100  0    0.006176
Name: Sad, dtype: float64
101  0    0.005478
Name: Sad, dtype: float64
102  0    0.004859
Name: Sad, dtype: float64
103  0    0.004067
Name: Sad, dtype: float64
104  0    0.003392
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
100  0    0.001419
Name: Angry, dtype: float64
101  0    0.001259
Name: Angry, dtype: float64
102  0    0.001117
Name: Angry, dtype: float64
103  0    0.000935
Name: Angry, dtype: float64
104  0    0.000779
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
100  0    0.000568
Name: Surprised, dtype: float64  ...
101  0    0.000504
Name: Surprised, dtype: float64  ...
102  0    0.000447
Name: Surprised, dtype: float64  ...
103  0    0.000374
Name: Surprised, dtype: float64  ...
104  0    0.000312
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
100  0    0.339495
Name: Arousal, dtype: float64              0
101  0    0.338376
Name: Arousal, dtype: float64              0
102  0    0.337282
Name: Arousal, dtype: float64              0
103  0    0.335652
Name: Arousal, dtype: float64              0
104   0    0.33405
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
100                0        222.0   0          0   0             0         0
101                0          222   0          0   0             0         0
102                0        223.5   0          0   0             0         0
103                0          224   0          0   0             0         0
104                0        225.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
100      0
101      0
102      0
103      0
104      0

[105 rows x 24 columns]
----Time----
5250
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
101  1  Базаев Кирилл  5100      0     0
102  1  Базаев Кирилл  5150      0     0
103  1  Базаев Кирилл  5200      0     0
104  1  Базаев Кирилл  5250      0     0
105  1  Базаев Кирилл  5300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
101  0    0.782576
Name: Neutral, dtype: float64
102  0    0.789604
Name: Neutral, dtype: float64
103  0    0.799957
Name: Neutral, dtype: float64
104  0    0.810057
Name: Neutral, dtype: float64
105  0    0.816111
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
101  0    0.000108
Name: Happy, dtype: float64
102  0    0.000096
Name: Happy, dtype: float64
103   0    0.00008
Name: Happy, dtype: float64
104  0    0.000067
Name: Happy, dtype: float64
105   0    0.00006
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
101  0    0.005478
Name: Sad, dtype: float64
102  0    0.004859
Name: Sad, dtype: float64
103  0    0.004067
Name: Sad, dtype: float64
104  0    0.003392
Name: Sad, dtype: float64
105  0    0.003009
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
101  0    0.001259
Name: Angry, dtype: float64
102  0    0.001117
Name: Angry, dtype: float64
103  0    0.000935
Name: Angry, dtype: float64
104  0    0.000779
Name: Angry, dtype: float64
105  0    0.000691
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
101  0    0.000504
Name: Surprised, dtype: float64  ...
102  0    0.000447
Name: Surprised, dtype: float64  ...
103  0    0.000374
Name: Surprised, dtype: float64  ...
104  0    0.000312
Name: Surprised, dtype: float64  ...
105  0    0.000277
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
101  0    0.338376
Name: Arousal, dtype: float64              0
102  0    0.337282
Name: Arousal, dtype: float64              0
103  0    0.335652
Name: Arousal, dtype: float64              0
104   0    0.33405
Name: Arousal, dtype: float64              0
105  0    0.332977
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
101                0          222   0          0   0             0         0
102                0        223.5   0          0   0             0         0
103                0          224   0          0   0             0         0
104                0        225.5   0          0   0             0         0
105                0        225.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
101      0
102      0
103      0
104      0
105      0

[106 rows x 24 columns]
----Time----
5300

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
102  1  Базаев Кирилл  5150      0     0
103  1  Базаев Кирилл  5200      0     0
104  1  Базаев Кирилл  5250      0     0
105  1  Базаев Кирилл  5300      0     0
106  1  Базаев Кирилл  5350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
102  0    0.789604
Name: Neutral, dtype: float64
103  0    0.799957
Name: Neutral, dtype: float64
104  0    0.810057
Name: Neutral, dtype: float64
105  0    0.816111
Name: Neutral, dtype: float64
106  0    0.821321
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
102  0    0.000096
Name: Happy, dtype: float64
103   0    0.00008
Name: Happy, dtype: float64
104  0    0.000067
Name: Happy, dtype: float64
105   0    0.00006
Name: Happy, dtype: float64
106  0    0.000053
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
102  0    0.004859
Name: Sad, dtype: float64
103  0    0.004067
Name: Sad, dtype: float64
104  0    0.003392
Name: Sad, dtype: float64
105  0    0.003009
Name: Sad, dtype: float64
106  0    0.002669
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
102  0    0.001117
Name: Angry, dtype: float64
103  0    0.000935
Name: Angry, dtype: float64
104  0    0.000779
Name: Angry, dtype: float64
105  0    0.000691
Name: Angry, dtype: float64
106  0    0.000613
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
102  0    0.000447
Name: Surprised, dtype: float64  ...
103  0    0.000374
Name: Surprised, dtype: float64  ...
104  0    0.000312
Name: Surprised, dtype: float64  ...
105  0    0.000277
Name: Surprised, dtype: float64  ...
106  0    0.000246
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
102  0    0.337282
Name: Arousal, dtype: float64              0
103  0    0.335652
Name: Arousal, dtype: float64              0
104   0    0.33405
Name: Arousal, dtype: float64              0
105  0    0.332977
Name: Arousal, dtype: float64              0
106  0    0.331918
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
102                0        223.5   0          0   0             0         0
103                0          224   0          0   0             0         0
104                0        225.5   0          0   0             0         0
105                0        225.5   0          0   0             0         0
106                0          223   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
102      0
103      0
104      0
105      0
106      0

[107 rows x 24 columns]
----Time----
5350
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
103  1  Базаев Кирилл  5200      0     0
104  1  Базаев Кирилл  5250      0     0
105  1  Базаев Кирилл  5300      0     0
106  1  Базаев Кирилл  5350      0     0
107  1  Базаев Кирилл  5400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
103  0    0.799957
Name: Neutral, dtype: float64
104  0    0.810057
Name: Neutral, dtype: float64
105  0    0.816111
Name: Neutral, dtype: float64
106  0    0.821321
Name: Neutral, dtype: float64
107  0    0.827675
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
103   0    0.00008
Name: Happy, dtype: float64
104  0    0.000067
Name: Happy, dtype: float64
105   0    0.00006
Name: Happy, dtype: float64
106  0    0.000053
Name: Happy, dtype: float64
107  0    0.000044
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
103  0    0.004067
Name: Sad, dtype: float64
104  0    0.003392
Name: Sad, dtype: float64
105  0    0.003009
Name: Sad, dtype: float64
106  0    0.002669
Name: Sad, dtype: float64
107  0    0.002234
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
103  0    0.000935
Name: Angry, dtype: float64
104  0    0.000779
Name: Angry, dtype: float64
105  0    0.000691
Name: Angry, dtype: float64
106  0    0.000613
Name: Angry, dtype: float64
107  0    0.000513
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
103  0    0.000374
Name: Surprised, dtype: float64  ...
104  0    0.000312
Name: Surprised, dtype: float64  ...
105  0    0.000277
Name: Surprised, dtype: float64  ...
106  0    0.000246
Name: Surprised, dtype: float64  ...
107  0    0.000206
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
103  0    0.335652
Name: Arousal, dtype: float64              0
104   0    0.33405
Name: Arousal, dtype: float64              0
105  0    0.332977
Name: Arousal, dtype: float64              0
106  0    0.331918
Name: Arousal, dtype: float64              0
107   0    0.33038
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
103                0          224   0          0   0             0         0
104                0        225.5   0          0   0             0         0
105                0        225.5   0          0   0             0         0
106                0          223   0          0   0             0         0
107                0        222.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
103      0
104      0
105      0
106      0
107      0

[108 rows x 24 columns]
----Time----
5400

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
104  1  Базаев Кирилл  5250      0     0
105  1  Базаев Кирилл  5300      0     0
106  1  Базаев Кирилл  5350      0     0
107  1  Базаев Кирилл  5400      0     0
108  1  Базаев Кирилл  5450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
104  0    0.810057
Name: Neutral, dtype: float64
105  0    0.816111
Name: Neutral, dtype: float64
106  0    0.821321
Name: Neutral, dtype: float64
107  0    0.827675
Name: Neutral, dtype: float64
108  0    0.831723
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
104  0    0.000067
Name: Happy, dtype: float64
105   0    0.00006
Name: Happy, dtype: float64
106  0    0.000053
Name: Happy, dtype: float64
107  0    0.000044
Name: Happy, dtype: float64
108  0    0.000037
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
104  0    0.003392
Name: Sad, dtype: float64
105  0    0.003009
Name: Sad, dtype: float64
106  0    0.002669
Name: Sad, dtype: float64
107  0    0.002234
Name: Sad, dtype: float64
108  0    0.001863
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
104  0    0.000779
Name: Angry, dtype: float64
105  0    0.000691
Name: Angry, dtype: float64
106  0    0.000613
Name: Angry, dtype: float64
107  0    0.000513
Name: Angry, dtype: float64
108  0    0.000428
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
104  0    0.000312
Name: Surprised, dtype: float64  ...
105  0    0.000277
Name: Surprised, dtype: float64  ...
106  0    0.000246
Name: Surprised, dtype: float64  ...
107  0    0.000206
Name: Surprised, dtype: float64  ...
108  0    0.000171
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
104   0    0.33405
Name: Arousal, dtype: float64              0
105  0    0.332977
Name: Arousal, dtype: float64              0
106  0    0.331918
Name: Arousal, dtype: float64              0
107   0    0.33038
Name: Arousal, dtype: float64              0
108  0    0.328923
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
104                0        225.5   0          0   0             0         0
105                0        225.5   0          0   0             0         0
106                0          223   0          0   0             0         0
107                0        222.0   0          0   0             0         0
108                0          223   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
104      0
105      0
106      0
107      0
108      0

[109 rows x 24 columns]
----Time----
5450
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
105  1  Базаев Кирилл  5300      0     0
106  1  Базаев Кирилл  5350      0     0
107  1  Базаев Кирилл  5400      0     0
108  1  Базаев Кирилл  5450      0     0
109  1  Базаев Кирилл  5500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
105  0    0.816111
Name: Neutral, dtype: float64
106  0    0.821321
Name: Neutral, dtype: float64
107  0    0.827675
Name: Neutral, dtype: float64
108  0    0.831723
Name: Neutral, dtype: float64
109    0    0.8338
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
105   0    0.00006
Name: Happy, dtype: float64
106  0    0.000053
Name: Happy, dtype: float64
107  0    0.000044
Name: Happy, dtype: float64
108  0    0.000037
Name: Happy, dtype: float64
109  0    0.000033
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
105  0    0.003009
Name: Sad, dtype: float64
106  0    0.002669
Name: Sad, dtype: float64
107  0    0.002234
Name: Sad, dtype: float64
108  0    0.001863
Name: Sad, dtype: float64
109  0    0.001653
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
105  0    0.000691
Name: Angry, dtype: float64
106  0    0.000613
Name: Angry, dtype: float64
107  0    0.000513
Name: Angry, dtype: float64
108  0    0.000428
Name: Angry, dtype: float64
109   0    0.00038
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
105  0    0.000277
Name: Surprised, dtype: float64  ...
106  0    0.000246
Name: Surprised, dtype: float64  ...
107  0    0.000206
Name: Surprised, dtype: float64  ...
108  0    0.000171
Name: Surprised, dtype: float64  ...
109  0    0.000152
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
105  0    0.332977
Name: Arousal, dtype: float64              0
106  0    0.331918
Name: Arousal, dtype: float64              0
107   0    0.33038
Name: Arousal, dtype: float64              0
108  0    0.328923
Name: Arousal, dtype: float64              0
109  0    0.327998
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
105                0        225.5   0          0   0             0         0
106                0          223   0          0   0             0         0
107                0        222.0   0          0   0             0         0
108                0          223   0          0   0             0         0
109                0        224.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
105      0
106      0
107      0
108      0
109      0

[110 rows x 24 columns]
----Time----
5500

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
106  1  Базаев Кирилл  5350      0     0
107  1  Базаев Кирилл  5400      0     0
108  1  Базаев Кирилл  5450      0     0
109  1  Базаев Кирилл  5500      0     0
110  1  Базаев Кирилл  5550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
106  0    0.821321
Name: Neutral, dtype: float64
107  0    0.827675
Name: Neutral, dtype: float64
108  0    0.831723
Name: Neutral, dtype: float64
109    0    0.8338
Name: Neutral, dtype: float64
110  0    0.834125
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
106  0    0.000053
Name: Happy, dtype: float64
107  0    0.000044
Name: Happy, dtype: float64
108  0    0.000037
Name: Happy, dtype: float64
109  0    0.000033
Name: Happy, dtype: float64
110  0    0.000029
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
106  0    0.002669
Name: Sad, dtype: float64
107  0    0.002234
Name: Sad, dtype: float64
108  0    0.001863
Name: Sad, dtype: float64
109  0    0.001653
Name: Sad, dtype: float64
110  0    0.001466
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
106  0    0.000613
Name: Angry, dtype: float64
107  0    0.000513
Name: Angry, dtype: float64
108  0    0.000428
Name: Angry, dtype: float64
109   0    0.00038
Name: Angry, dtype: float64
110  0    0.000337
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
106  0    0.000246
Name: Surprised, dtype: float64  ...
107  0    0.000206
Name: Surprised, dtype: float64  ...
108  0    0.000171
Name: Surprised, dtype: float64  ...
109  0    0.000152
Name: Surprised, dtype: float64  ...
110  0    0.000135
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
106  0    0.331918
Name: Arousal, dtype: float64              0
107   0    0.33038
Name: Arousal, dtype: float64              0
108  0    0.328923
Name: Arousal, dtype: float64              0
109  0    0.327998
Name: Arousal, dtype: float64              0
110   0    0.32712
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
106                0          223   0          0   0             0         0
107                0        222.0   0          0   0             0         0
108                0          223   0          0   0             0         0
109                0        224.0   0          0   0             0         0
110                0          224   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
106      0
107      0
108      0
109      0
110      0

[111 rows x 24 columns]
----Time----
5550
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
107  1  Базаев Кирилл  5400      0     0
108  1  Базаев Кирилл  5450      0     0
109  1  Базаев Кирилл  5500      0     0
110  1  Базаев Кирилл  5550      0     0
111  1  Базаев Кирилл  5600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
107  0    0.827675
Name: Neutral, dtype: float64
108  0    0.831723
Name: Neutral, dtype: float64
109    0    0.8338
Name: Neutral, dtype: float64
110  0    0.834125
Name: Neutral, dtype: float64
111   0    0.83323
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
107  0    0.000044
Name: Happy, dtype: float64
108  0    0.000037
Name: Happy, dtype: float64
109  0    0.000033
Name: Happy, dtype: float64
110  0    0.000029
Name: Happy, dtype: float64
111  0    0.000024
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
107  0    0.002234
Name: Sad, dtype: float64
108  0    0.001863
Name: Sad, dtype: float64
109  0    0.001653
Name: Sad, dtype: float64
110  0    0.001466
Name: Sad, dtype: float64
111  0    0.001227
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
107  0    0.000513
Name: Angry, dtype: float64
108  0    0.000428
Name: Angry, dtype: float64
109   0    0.00038
Name: Angry, dtype: float64
110  0    0.000337
Name: Angry, dtype: float64
111  0    0.000282
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
107  0    0.000206
Name: Surprised, dtype: float64  ...
108  0    0.000171
Name: Surprised, dtype: float64  ...
109  0    0.000152
Name: Surprised, dtype: float64  ...
110  0    0.000135
Name: Surprised, dtype: float64  ...
111  0    0.000113
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
107   0    0.33038
Name: Arousal, dtype: float64              0
108  0    0.328923
Name: Arousal, dtype: float64              0
109  0    0.327998
Name: Arousal, dtype: float64              0
110   0    0.32712
Name: Arousal, dtype: float64              0
111  0    0.325877
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
107                0        222.0   0          0   0             0         0
108                0          223   0          0   0             0         0
109                0        224.0   0          0   0             0         0
110                0          224   0          0   0             0         0
111                0        223.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
107      0
108      0
109      0
110      0
111      0

[112 rows x 24 columns]
----Time----
5600

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
108  1  Базаев Кирилл  5450      0     0
109  1  Базаев Кирилл  5500      0     0
110  1  Базаев Кирилл  5550      0     0
111  1  Базаев Кирилл  5600      0     0
112  1  Базаев Кирилл  5650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
108  0    0.831723
Name: Neutral, dtype: float64
109    0    0.8338
Name: Neutral, dtype: float64
110  0    0.834125
Name: Neutral, dtype: float64
111   0    0.83323
Name: Neutral, dtype: float64
112  0    0.832601
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
108  0    0.000037
Name: Happy, dtype: float64
109  0    0.000033
Name: Happy, dtype: float64
110  0    0.000029
Name: Happy, dtype: float64
111  0    0.000024
Name: Happy, dtype: float64
112   0    0.00002
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
108  0    0.001863
Name: Sad, dtype: float64
109  0    0.001653
Name: Sad, dtype: float64
110  0    0.001466
Name: Sad, dtype: float64
111  0    0.001227
Name: Sad, dtype: float64
112  0    0.001023
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
108  0    0.000428
Name: Angry, dtype: float64
109   0    0.00038
Name: Angry, dtype: float64
110  0    0.000337
Name: Angry, dtype: float64
111  0    0.000282
Name: Angry, dtype: float64
112  0    0.000235
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
108  0    0.000171
Name: Surprised, dtype: float64  ...
109  0    0.000152
Name: Surprised, dtype: float64  ...
110  0    0.000135
Name: Surprised, dtype: float64  ...
111  0    0.000113
Name: Surprised, dtype: float64  ...
112  0    0.000094
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
108  0    0.328923
Name: Arousal, dtype: float64              0
109  0    0.327998
Name: Arousal, dtype: float64              0
110   0    0.32712
Name: Arousal, dtype: float64              0
111  0    0.325877
Name: Arousal, dtype: float64              0
112  0    0.324677
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
108                0          223   0          0   0             0         0
109                0        224.0   0          0   0             0         0
110                0          224   0          0   0             0         0
111                0        223.5   0          0   0             0         0
112                0        223.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
108      0
109      0
110      0
111      0
112      0

[113 rows x 24 columns]
----Time----
5650
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
109  1  Базаев Кирилл  5500      0     0
110  1  Базаев Кирилл  5550      0     0
111  1  Базаев Кирилл  5600      0     0
112  1  Базаев Кирилл  5650      0     0
113  1  Базаев Кирилл  5700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
109    0    0.8338
Name: Neutral, dtype: float64
110  0    0.834125
Name: Neutral, dtype: float64
111   0    0.83323
Name: Neutral, dtype: float64
112  0    0.832601
Name: Neutral, dtype: float64
113  0    0.831068
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
109  0    0.000033
Name: Happy, dtype: float64
110  0    0.000029
Name: Happy, dtype: float64
111  0    0.000024
Name: Happy, dtype: float64
112   0    0.00002
Name: Happy, dtype: float64
113  0    0.000018
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
109  0    0.001653
Name: Sad, dtype: float64
110  0    0.001466
Name: Sad, dtype: float64
111  0    0.001227
Name: Sad, dtype: float64
112  0    0.001023
Name: Sad, dtype: float64
113  0    0.000908
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
109   0    0.00038
Name: Angry, dtype: float64
110  0    0.000337
Name: Angry, dtype: float64
111  0    0.000282
Name: Angry, dtype: float64
112  0    0.000235
Name: Angry, dtype: float64
113  0    0.000209
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
109  0    0.000152
Name: Surprised, dtype: float64  ...
110  0    0.000135
Name: Surprised, dtype: float64  ...
111  0    0.000113
Name: Surprised, dtype: float64  ...
112  0    0.000094
Name: Surprised, dtype: float64  ...
113  0    0.000084
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
109  0    0.327998
Name: Arousal, dtype: float64              0
110   0    0.32712
Name: Arousal, dtype: float64              0
111  0    0.325877
Name: Arousal, dtype: float64              0
112  0    0.324677
Name: Arousal, dtype: float64              0
113   0    0.32389
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
109                0        224.0   0          0   0             0         0
110                0          224   0          0   0             0         0
111                0        223.5   0          0   0             0         0
112                0        223.5   0          0   0             0         0
113                0          223   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
109      0
110      0
111      0
112      0
113      0

[114 rows x 24 columns]
----Time----
5700

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
110  1  Базаев Кирилл  5550      0     0
111  1  Базаев Кирилл  5600      0     0
112  1  Базаев Кирилл  5650      0     0
113  1  Базаев Кирилл  5700      0     0
114  1  Базаев Кирилл  5750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
110  0    0.834125
Name: Neutral, dtype: float64
111   0    0.83323
Name: Neutral, dtype: float64
112  0    0.832601
Name: Neutral, dtype: float64
113  0    0.831068
Name: Neutral, dtype: float64
114  0    0.828025
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
110  0    0.000029
Name: Happy, dtype: float64
111  0    0.000024
Name: Happy, dtype: float64
112   0    0.00002
Name: Happy, dtype: float64
113  0    0.000018
Name: Happy, dtype: float64
114  0    0.000016
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
110  0    0.001466
Name: Sad, dtype: float64
111  0    0.001227
Name: Sad, dtype: float64
112  0    0.001023
Name: Sad, dtype: float64
113  0    0.000908
Name: Sad, dtype: float64
114  0    0.000805
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
110  0    0.000337
Name: Angry, dtype: float64
111  0    0.000282
Name: Angry, dtype: float64
112  0    0.000235
Name: Angry, dtype: float64
113  0    0.000209
Name: Angry, dtype: float64
114  0    0.000185
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
110  0    0.000135
Name: Surprised, dtype: float64  ...
111  0    0.000113
Name: Surprised, dtype: float64  ...
112  0    0.000094
Name: Surprised, dtype: float64  ...
113  0    0.000084
Name: Surprised, dtype: float64  ...
114  0    0.000074
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
110   0    0.32712
Name: Arousal, dtype: float64              0
111  0    0.325877
Name: Arousal, dtype: float64              0
112  0    0.324677
Name: Arousal, dtype: float64              0
113   0    0.32389
Name: Arousal, dtype: float64              0
114  0    0.323158
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
110                0          224   0          0   0             0         0
111                0        223.5   0          0   0             0         0
112                0        223.5   0          0   0             0         0
113                0          223   0          0   0             0         0
114                0        221.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
110      0
111      0
112      0
113      0
114      0

[115 rows x 24 columns]
----Time----
5750
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
111  1  Базаев Кирилл  5600      0     0
112  1  Базаев Кирилл  5650      0     0
113  1  Базаев Кирилл  5700      0     0
114  1  Базаев Кирилл  5750      0     0
115  1  Базаев Кирилл  5800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
111   0    0.83323
Name: Neutral, dtype: float64
112  0    0.832601
Name: Neutral, dtype: float64
113  0    0.831068
Name: Neutral, dtype: float64
114  0    0.828025
Name: Neutral, dtype: float64
115  0    0.824058
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
111  0    0.000024
Name: Happy, dtype: float64
112   0    0.00002
Name: Happy, dtype: float64
113  0    0.000018
Name: Happy, dtype: float64
114  0    0.000016
Name: Happy, dtype: float64
115  0    0.000013
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
111  0    0.001227
Name: Sad, dtype: float64
112  0    0.001023
Name: Sad, dtype: float64
113  0    0.000908
Name: Sad, dtype: float64
114  0    0.000805
Name: Sad, dtype: float64
115  0    0.000674
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
111  0    0.000282
Name: Angry, dtype: float64
112  0    0.000235
Name: Angry, dtype: float64
113  0    0.000209
Name: Angry, dtype: float64
114  0    0.000185
Name: Angry, dtype: float64
115  0    0.000155
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
111  0    0.000113
Name: Surprised, dtype: float64  ...
112  0    0.000094
Name: Surprised, dtype: float64  ...
113  0    0.000084
Name: Surprised, dtype: float64  ...
114  0    0.000074
Name: Surprised, dtype: float64  ...
115  0    0.000062
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
111  0    0.325877
Name: Arousal, dtype: float64              0
112  0    0.324677
Name: Arousal, dtype: float64              0
113   0    0.32389
Name: Arousal, dtype: float64              0
114  0    0.323158
Name: Arousal, dtype: float64              0
115  0    0.322095
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
111                0        223.5   0          0   0             0         0
112                0        223.5   0          0   0             0         0
113                0          223   0          0   0             0         0
114                0        221.5   0          0   0             0         0
115                0          222   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
111      0
112      0
113      0
114      0
115      0

[116 rows x 24 columns]
----Time----
5800

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
112  1  Базаев Кирилл  5650      0     0
113  1  Базаев Кирилл  5700      0     0
114  1  Базаев Кирилл  5750      0     0
115  1  Базаев Кирилл  5800      0     0
116  1  Базаев Кирилл  5850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
112  0    0.832601
Name: Neutral, dtype: float64
113  0    0.831068
Name: Neutral, dtype: float64
114  0    0.828025
Name: Neutral, dtype: float64
115  0    0.824058
Name: Neutral, dtype: float64
116  0    0.816692
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
112   0    0.00002
Name: Happy, dtype: float64
113  0    0.000018
Name: Happy, dtype: float64
114  0    0.000016
Name: Happy, dtype: float64
115  0    0.000013
Name: Happy, dtype: float64
116  0    0.000011
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
112  0    0.001023
Name: Sad, dtype: float64
113  0    0.000908
Name: Sad, dtype: float64
114  0    0.000805
Name: Sad, dtype: float64
115  0    0.000674
Name: Sad, dtype: float64
116  0    0.000562
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
112  0    0.000235
Name: Angry, dtype: float64
113  0    0.000209
Name: Angry, dtype: float64
114  0    0.000185
Name: Angry, dtype: float64
115  0    0.000155
Name: Angry, dtype: float64
116  0    0.000129
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
112  0    0.000094
Name: Surprised, dtype: float64  ...
113  0    0.000084
Name: Surprised, dtype: float64  ...
114  0    0.000074
Name: Surprised, dtype: float64  ...
115  0    0.000062
Name: Surprised, dtype: float64  ...
116  0    0.000052
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
112  0    0.324677
Name: Arousal, dtype: float64              0
113   0    0.32389
Name: Arousal, dtype: float64              0
114  0    0.323158
Name: Arousal, dtype: float64              0
115  0    0.322095
Name: Arousal, dtype: float64              0
116  0    0.321121
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
112                0        223.5   0          0   0             0         0
113                0          223   0          0   0             0         0
114                0        221.5   0          0   0             0         0
115                0          222   0          0   0             0         0
116                0        223.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
112      0
113      0
114      0
115      0
116      0

[117 rows x 24 columns]
----Time----
5850
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
113  1  Базаев Кирилл  5700      0     0
114  1  Базаев Кирилл  5750      0     0
115  1  Базаев Кирилл  5800      0     0
116  1  Базаев Кирилл  5850      0     0
117  1  Базаев Кирилл  5900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
113  0    0.831068
Name: Neutral, dtype: float64
114  0    0.828025
Name: Neutral, dtype: float64
115  0    0.824058
Name: Neutral, dtype: float64
116  0    0.816692
Name: Neutral, dtype: float64
117  0    0.811665
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
113  0    0.000018
Name: Happy, dtype: float64
114  0    0.000016
Name: Happy, dtype: float64
115  0    0.000013
Name: Happy, dtype: float64
116  0    0.000011
Name: Happy, dtype: float64
117   0    0.00001
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
113  0    0.000908
Name: Sad, dtype: float64
114  0    0.000805
Name: Sad, dtype: float64
115  0    0.000674
Name: Sad, dtype: float64
116  0    0.000562
Name: Sad, dtype: float64
117  0    0.000499
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
113  0    0.000209
Name: Angry, dtype: float64
114  0    0.000185
Name: Angry, dtype: float64
115  0    0.000155
Name: Angry, dtype: float64
116  0    0.000129
Name: Angry, dtype: float64
117  0    0.000115
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
113  0    0.000084
Name: Surprised, dtype: float64  ...
114  0    0.000074
Name: Surprised, dtype: float64  ...
115  0    0.000062
Name: Surprised, dtype: float64  ...
116  0    0.000052
Name: Surprised, dtype: float64  ...
117  0    0.000046
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
113   0    0.32389
Name: Arousal, dtype: float64              0
114  0    0.323158
Name: Arousal, dtype: float64              0
115  0    0.322095
Name: Arousal, dtype: float64              0
116  0    0.321121
Name: Arousal, dtype: float64              0
117  0    0.320515
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
113                0          223   0          0   0             0         0
114                0        221.5   0          0   0             0         0
115                0          222   0          0   0             0         0
116                0        223.0   0          0   0             0         0
117                0          222   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
113      0
114      0
115      0
116      0
117      0

[118 rows x 24 columns]
----Time----
5900

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
114  1  Базаев Кирилл  5750      0     0
115  1  Базаев Кирилл  5800      0     0
116  1  Базаев Кирилл  5850      0     0
117  1  Базаев Кирилл  5900      0     0
118  1  Базаев Кирилл  5950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
114  0    0.828025
Name: Neutral, dtype: float64
115  0    0.824058
Name: Neutral, dtype: float64
116  0    0.816692
Name: Neutral, dtype: float64
117  0    0.811665
Name: Neutral, dtype: float64
118  0    0.808806
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
114  0    0.000016
Name: Happy, dtype: float64
115  0    0.000013
Name: Happy, dtype: float64
116  0    0.000011
Name: Happy, dtype: float64
117   0    0.00001
Name: Happy, dtype: float64
118  0    0.000009
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
114  0    0.000805
Name: Sad, dtype: float64
115  0    0.000674
Name: Sad, dtype: float64
116  0    0.000562
Name: Sad, dtype: float64
117  0    0.000499
Name: Sad, dtype: float64
118  0    0.000442
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
114  0    0.000185
Name: Angry, dtype: float64
115  0    0.000155
Name: Angry, dtype: float64
116  0    0.000129
Name: Angry, dtype: float64
117  0    0.000115
Name: Angry, dtype: float64
118  0    0.000102
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
114  0    0.000074
Name: Surprised, dtype: float64  ...
115  0    0.000062
Name: Surprised, dtype: float64  ...
116  0    0.000052
Name: Surprised, dtype: float64  ...
117  0    0.000046
Name: Surprised, dtype: float64  ...
118  0    0.000041
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
114  0    0.323158
Name: Arousal, dtype: float64              0
115  0    0.322095
Name: Arousal, dtype: float64              0
116  0    0.321121
Name: Arousal, dtype: float64              0
117  0    0.320515
Name: Arousal, dtype: float64              0
118  0    0.319943
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
114                0        221.5   0          0   0             0         0
115                0          222   0          0   0             0         0
116                0        223.0   0          0   0             0         0
117                0          222   0          0   0             0         0
118                0        221.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
114      0
115      0
116      0
117      0
118      0

[119 rows x 24 columns]
----Time----
5950
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
115  1  Базаев Кирилл  5800      0     0
116  1  Базаев Кирилл  5850      0     0
117  1  Базаев Кирилл  5900      0     0
118  1  Базаев Кирилл  5950      0     0
119  1  Базаев Кирилл  6000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
115  0    0.824058
Name: Neutral, dtype: float64
116  0    0.816692
Name: Neutral, dtype: float64
117  0    0.811665
Name: Neutral, dtype: float64
118  0    0.808806
Name: Neutral, dtype: float64
119  0    0.806326
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
115  0    0.000013
Name: Happy, dtype: float64
116  0    0.000011
Name: Happy, dtype: float64
117   0    0.00001
Name: Happy, dtype: float64
118  0    0.000009
Name: Happy, dtype: float64
119  0    0.000007
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
115  0    0.000674
Name: Sad, dtype: float64
116  0    0.000562
Name: Sad, dtype: float64
117  0    0.000499
Name: Sad, dtype: float64
118  0    0.000442
Name: Sad, dtype: float64
119   0    0.00037
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
115  0    0.000155
Name: Angry, dtype: float64
116  0    0.000129
Name: Angry, dtype: float64
117  0    0.000115
Name: Angry, dtype: float64
118  0    0.000102
Name: Angry, dtype: float64
119  0    0.000085
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
115  0    0.000062
Name: Surprised, dtype: float64  ...
116  0    0.000052
Name: Surprised, dtype: float64  ...
117  0    0.000046
Name: Surprised, dtype: float64  ...
118  0    0.000041
Name: Surprised, dtype: float64  ...
119  0    0.000034
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
115  0    0.322095
Name: Arousal, dtype: float64              0
116  0    0.321121
Name: Arousal, dtype: float64              0
117  0    0.320515
Name: Arousal, dtype: float64              0
118  0    0.319943
Name: Arousal, dtype: float64              0
119  0    0.319126
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
115                0          222   0          0   0             0         0
116                0        223.0   0          0   0             0         0
117                0          222   0          0   0             0         0
118                0        221.0   0          0   0             0         0
119                0          222   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
115      0
116      0
117      0
118      0
119      0

[120 rows x 24 columns]
----Time----
6000

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
116  1  Базаев Кирилл  5850      0     0
117  1  Базаев Кирилл  5900      0     0
118  1  Базаев Кирилл  5950      0     0
119  1  Базаев Кирилл  6000      0     0
120  1  Базаев Кирилл  6050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
116  0    0.816692
Name: Neutral, dtype: float64
117  0    0.811665
Name: Neutral, dtype: float64
118  0    0.808806
Name: Neutral, dtype: float64
119  0    0.806326
Name: Neutral, dtype: float64
120   0    0.80514
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
116  0    0.000011
Name: Happy, dtype: float64
117   0    0.00001
Name: Happy, dtype: float64
118  0    0.000009
Name: Happy, dtype: float64
119  0    0.000007
Name: Happy, dtype: float64
120  0    0.000006
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
116  0    0.000562
Name: Sad, dtype: float64
117  0    0.000499
Name: Sad, dtype: float64
118  0    0.000442
Name: Sad, dtype: float64
119   0    0.00037
Name: Sad, dtype: float64
120  0    0.000309
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
116  0    0.000129
Name: Angry, dtype: float64
117  0    0.000115
Name: Angry, dtype: float64
118  0    0.000102
Name: Angry, dtype: float64
119  0    0.000085
Name: Angry, dtype: float64
120  0    0.000071
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
116  0    0.000052
Name: Surprised, dtype: float64  ...
117  0    0.000046
Name: Surprised, dtype: float64  ...
118  0    0.000041
Name: Surprised, dtype: float64  ...
119  0    0.000034
Name: Surprised, dtype: float64  ...
120  0    0.000028
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
116  0    0.321121
Name: Arousal, dtype: float64              0
117  0    0.320515
Name: Arousal, dtype: float64              0
118  0    0.319943
Name: Arousal, dtype: float64              0
119  0    0.319126
Name: Arousal, dtype: float64              0
120  0    0.318303
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
116                0        223.0   0          0   0             0         0
117                0          222   0          0   0             0         0
118                0        221.0   0          0   0             0         0
119                0          222   0          0   0             0         0
120                0        222.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
116      0
117      0
118      0
119      0
120      0

[121 rows x 24 columns]
----Time----
6050
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
117  1  Базаев Кирилл  5900      0     0
118  1  Базаев Кирилл  5950      0     0
119  1  Базаев Кирилл  6000      0     0
120  1  Базаев Кирилл  6050      0     0
121  1  Базаев Кирилл  6100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
117  0    0.811665
Name: Neutral, dtype: float64
118  0    0.808806
Name: Neutral, dtype: float64
119  0    0.806326
Name: Neutral, dtype: float64
120   0    0.80514
Name: Neutral, dtype: float64
121  0    0.803318
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
117   0    0.00001
Name: Happy, dtype: float64
118  0    0.000009
Name: Happy, dtype: float64
119  0    0.000007
Name: Happy, dtype: float64
120  0    0.000006
Name: Happy, dtype: float64
121  0    0.000005
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
117  0    0.000499
Name: Sad, dtype: float64
118  0    0.000442
Name: Sad, dtype: float64
119   0    0.00037
Name: Sad, dtype: float64
120  0    0.000309
Name: Sad, dtype: float64
121  0    0.000274
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
117  0    0.000115
Name: Angry, dtype: float64
118  0    0.000102
Name: Angry, dtype: float64
119  0    0.000085
Name: Angry, dtype: float64
120  0    0.000071
Name: Angry, dtype: float64
121  0    0.000063
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
117  0    0.000046
Name: Surprised, dtype: float64  ...
118  0    0.000041
Name: Surprised, dtype: float64  ...
119  0    0.000034
Name: Surprised, dtype: float64  ...
120  0    0.000028
Name: Surprised, dtype: float64  ...
121  0    0.000025
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
117  0    0.320515
Name: Arousal, dtype: float64              0
118  0    0.319943
Name: Arousal, dtype: float64              0
119  0    0.319126
Name: Arousal, dtype: float64              0
120  0    0.318303
Name: Arousal, dtype: float64              0
121  0    0.317798
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
117                0          222   0          0   0             0         0
118                0        221.0   0          0   0             0         0
119                0          222   0          0   0             0         0
120                0        222.0   0          0   0             0         0
121                0          222   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
117      0
118      0
119      0
120      0
121      0

[122 rows x 24 columns]
----Time----
6100

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
118  1  Базаев Кирилл  5950      0     0
119  1  Базаев Кирилл  6000      0     0
120  1  Базаев Кирилл  6050      0     0
121  1  Базаев Кирилл  6100      0     0
122  1  Базаев Кирилл  6150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
118  0    0.808806
Name: Neutral, dtype: float64
119  0    0.806326
Name: Neutral, dtype: float64
120   0    0.80514
Name: Neutral, dtype: float64
121  0    0.803318
Name: Neutral, dtype: float64
122  0    0.803917
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
118  0    0.000009
Name: Happy, dtype: float64
119  0    0.000007
Name: Happy, dtype: float64
120  0    0.000006
Name: Happy, dtype: float64
121  0    0.000005
Name: Happy, dtype: float64
122  0    0.000005
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
118  0    0.000442
Name: Sad, dtype: float64
119   0    0.00037
Name: Sad, dtype: float64
120  0    0.000309
Name: Sad, dtype: float64
121  0    0.000274
Name: Sad, dtype: float64
122  0    0.000243
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
118  0    0.000102
Name: Angry, dtype: float64
119  0    0.000085
Name: Angry, dtype: float64
120  0    0.000071
Name: Angry, dtype: float64
121  0    0.000063
Name: Angry, dtype: float64
122  0    0.000056
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
118  0    0.000041
Name: Surprised, dtype: float64  ...
119  0    0.000034
Name: Surprised, dtype: float64  ...
120  0    0.000028
Name: Surprised, dtype: float64  ...
121  0    0.000025
Name: Surprised, dtype: float64  ...
122  0    0.000022
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
118  0    0.319943
Name: Arousal, dtype: float64              0
119  0    0.319126
Name: Arousal, dtype: float64              0
120  0    0.318303
Name: Arousal, dtype: float64              0
121  0    0.317798
Name: Arousal, dtype: float64              0
122  0    0.317256
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
118                0        221.0   0          0   0             0         0
119                0          222   0          0   0             0         0
120                0        222.0   0          0   0             0         0
121                0          222   0          0   0             0         0
122                0        223.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
118      0
119      0
120      0
121      0
122      0

[123 rows x 24 columns]
----Time----
6150
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
119  1  Базаев Кирилл  6000      0     0
120  1  Базаев Кирилл  6050      0     0
121  1  Базаев Кирилл  6100      0     0
122  1  Базаев Кирилл  6150      0     0
123  1  Базаев Кирилл  6200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
119  0    0.806326
Name: Neutral, dtype: float64
120   0    0.80514
Name: Neutral, dtype: float64
121  0    0.803318
Name: Neutral, dtype: float64
122  0    0.803917
Name: Neutral, dtype: float64
123  0    0.805946
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
119  0    0.000007
Name: Happy, dtype: float64
120  0    0.000006
Name: Happy, dtype: float64
121  0    0.000005
Name: Happy, dtype: float64
122  0    0.000005
Name: Happy, dtype: float64
123  0    0.000004
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
119   0    0.00037
Name: Sad, dtype: float64
120  0    0.000309
Name: Sad, dtype: float64
121  0    0.000274
Name: Sad, dtype: float64
122  0    0.000243
Name: Sad, dtype: float64
123  0    0.000203
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
119  0    0.000085
Name: Angry, dtype: float64
120  0    0.000071
Name: Angry, dtype: float64
121  0    0.000063
Name: Angry, dtype: float64
122  0    0.000056
Name: Angry, dtype: float64
123  0    0.000047
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
119  0    0.000034
Name: Surprised, dtype: float64  ...
120  0    0.000028
Name: Surprised, dtype: float64  ...
121  0    0.000025
Name: Surprised, dtype: float64  ...
122  0    0.000022
Name: Surprised, dtype: float64  ...
123  0    0.000019
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
119  0    0.319126
Name: Arousal, dtype: float64              0
120  0    0.318303
Name: Arousal, dtype: float64              0
121  0    0.317798
Name: Arousal, dtype: float64              0
122  0    0.317256
Name: Arousal, dtype: float64              0
123  0    0.316424
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
119                0          222   0          0   0             0         0
120                0        222.0   0          0   0             0         0
121                0          222   0          0   0             0         0
122                0        223.0   0          0   0             0         0
123                0          223   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
119      0
120      0
121      0
122      0
123      0

[124 rows x 24 columns]
----Time----
6200

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
120  1  Базаев Кирилл  6050      0     0
121  1  Базаев Кирилл  6100      0     0
122  1  Базаев Кирилл  6150      0     0
123  1  Базаев Кирилл  6200      0     0
124  1  Базаев Кирилл  6250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
120   0    0.80514
Name: Neutral, dtype: float64
121  0    0.803318
Name: Neutral, dtype: float64
122  0    0.803917
Name: Neutral, dtype: float64
123  0    0.805946
Name: Neutral, dtype: float64
124  0    0.805902
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
120  0    0.000006
Name: Happy, dtype: float64
121  0    0.000005
Name: Happy, dtype: float64
122  0    0.000005
Name: Happy, dtype: float64
123  0    0.000004
Name: Happy, dtype: float64
124  0    0.000003
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
120  0    0.000309
Name: Sad, dtype: float64
121  0    0.000274
Name: Sad, dtype: float64
122  0    0.000243
Name: Sad, dtype: float64
123  0    0.000203
Name: Sad, dtype: float64
124   0    0.00017
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
120  0    0.000071
Name: Angry, dtype: float64
121  0    0.000063
Name: Angry, dtype: float64
122  0    0.000056
Name: Angry, dtype: float64
123  0    0.000047
Name: Angry, dtype: float64
124  0    0.000039
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
120  0    0.000028
Name: Surprised, dtype: float64  ...
121  0    0.000025
Name: Surprised, dtype: float64  ...
122  0    0.000022
Name: Surprised, dtype: float64  ...
123  0    0.000019
Name: Surprised, dtype: float64  ...
124  0    0.000016
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
120  0    0.318303
Name: Arousal, dtype: float64              0
121  0    0.317798
Name: Arousal, dtype: float64              0
122  0    0.317256
Name: Arousal, dtype: float64              0
123  0    0.316424
Name: Arousal, dtype: float64              0
124  0    0.315698
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
120                0        222.0   0          0   0             0         0
121                0          222   0          0   0             0         0
122                0        223.0   0          0   0             0         0
123                0          223   0          0   0             0         0
124                0        221.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
120      0
121      0
122      0
123      0
124      0

[125 rows x 24 columns]
----Time----
6250
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
121  1  Базаев Кирилл  6100      0     0
122  1  Базаев Кирилл  6150      0     0
123  1  Базаев Кирилл  6200      0     0
124  1  Базаев Кирилл  6250      0     0
125  1  Базаев Кирилл  6300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
121  0    0.803318
Name: Neutral, dtype: float64
122  0    0.803917
Name: Neutral, dtype: float64
123  0    0.805946
Name: Neutral, dtype: float64
124  0    0.805902
Name: Neutral, dtype: float64
125  0    0.804613
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
121  0    0.000005
Name: Happy, dtype: float64
122  0    0.000005
Name: Happy, dtype: float64
123  0    0.000004
Name: Happy, dtype: float64
124  0    0.000003
Name: Happy, dtype: float64
125  0    0.000003
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
121  0    0.000274
Name: Sad, dtype: float64
122  0    0.000243
Name: Sad, dtype: float64
123  0    0.000203
Name: Sad, dtype: float64
124   0    0.00017
Name: Sad, dtype: float64
125   0    0.00015
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
121  0    0.000063
Name: Angry, dtype: float64
122  0    0.000056
Name: Angry, dtype: float64
123  0    0.000047
Name: Angry, dtype: float64
124  0    0.000039
Name: Angry, dtype: float64
125  0    0.000035
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
121  0    0.000025
Name: Surprised, dtype: float64  ...
122  0    0.000022
Name: Surprised, dtype: float64  ...
123  0    0.000019
Name: Surprised, dtype: float64  ...
124  0    0.000016
Name: Surprised, dtype: float64  ...
125  0    0.000014
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
121  0    0.317798
Name: Arousal, dtype: float64              0
122  0    0.317256
Name: Arousal, dtype: float64              0
123  0    0.316424
Name: Arousal, dtype: float64              0
124  0    0.315698
Name: Arousal, dtype: float64              0
125  0    0.315291
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
121                0          222   0          0   0             0         0
122                0        223.0   0          0   0             0         0
123                0          223   0          0   0             0         0
124                0        221.5   0          0   0             0         0
125                0          221   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
121      0
122      0
123      0
124      0
125      0

[126 rows x 24 columns]
----Time----
6300

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
122  1  Базаев Кирилл  6150      0     0
123  1  Базаев Кирилл  6200      0     0
124  1  Базаев Кирилл  6250      0     0
125  1  Базаев Кирилл  6300      0     0
126  1  Базаев Кирилл  6350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
122  0    0.803917
Name: Neutral, dtype: float64
123  0    0.805946
Name: Neutral, dtype: float64
124  0    0.805902
Name: Neutral, dtype: float64
125  0    0.804613
Name: Neutral, dtype: float64
126  0    0.801288
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
122  0    0.000005
Name: Happy, dtype: float64
123  0    0.000004
Name: Happy, dtype: float64
124  0    0.000003
Name: Happy, dtype: float64
125  0    0.000003
Name: Happy, dtype: float64
126  0    0.000003
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
122  0    0.000243
Name: Sad, dtype: float64
123  0    0.000203
Name: Sad, dtype: float64
124   0    0.00017
Name: Sad, dtype: float64
125   0    0.00015
Name: Sad, dtype: float64
126  0    0.000133
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
122  0    0.000056
Name: Angry, dtype: float64
123  0    0.000047
Name: Angry, dtype: float64
124  0    0.000039
Name: Angry, dtype: float64
125  0    0.000035
Name: Angry, dtype: float64
126  0    0.000031
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
122  0    0.000022
Name: Surprised, dtype: float64  ...
123  0    0.000019
Name: Surprised, dtype: float64  ...
124  0    0.000016
Name: Surprised, dtype: float64  ...
125  0    0.000014
Name: Surprised, dtype: float64  ...
126  0    0.000012
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
122  0    0.317256
Name: Arousal, dtype: float64              0
123  0    0.316424
Name: Arousal, dtype: float64              0
124  0    0.315698
Name: Arousal, dtype: float64              0
125  0    0.315291
Name: Arousal, dtype: float64              0
126  0    0.314995
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
122                0        223.0   0          0   0             0         0
123                0          223   0          0   0             0         0
124                0        221.5   0          0   0             0         0
125                0          221   0          0   0             0         0
126                0        221.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
122      0
123      0
124      0
125      0
126      0

[127 rows x 24 columns]
----Time----
6350
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
123  1  Базаев Кирилл  6200      0     0
124  1  Базаев Кирилл  6250      0     0
125  1  Базаев Кирилл  6300      0     0
126  1  Базаев Кирилл  6350      0     0
127  1  Базаев Кирилл  6400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
123  0    0.805946
Name: Neutral, dtype: float64
124  0    0.805902
Name: Neutral, dtype: float64
125  0    0.804613
Name: Neutral, dtype: float64
126  0    0.801288
Name: Neutral, dtype: float64
127  0    0.798218
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
123  0    0.000004
Name: Happy, dtype: float64
124  0    0.000003
Name: Happy, dtype: float64
125  0    0.000003
Name: Happy, dtype: float64
126  0    0.000003
Name: Happy, dtype: float64
127  0    0.000002
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
123  0    0.000203
Name: Sad, dtype: float64
124   0    0.00017
Name: Sad, dtype: float64
125   0    0.00015
Name: Sad, dtype: float64
126  0    0.000133
Name: Sad, dtype: float64
127  0    0.000112
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
123  0    0.000047
Name: Angry, dtype: float64
124  0    0.000039
Name: Angry, dtype: float64
125  0    0.000035
Name: Angry, dtype: float64
126  0    0.000031
Name: Angry, dtype: float64
127  0    0.000026
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
123  0    0.000019
Name: Surprised, dtype: float64  ...
124  0    0.000016
Name: Surprised, dtype: float64  ...
125  0    0.000014
Name: Surprised, dtype: float64  ...
126  0    0.000012
Name: Surprised, dtype: float64  ...
127   0    0.00001
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
123  0    0.316424
Name: Arousal, dtype: float64              0
124  0    0.315698
Name: Arousal, dtype: float64              0
125  0    0.315291
Name: Arousal, dtype: float64              0
126  0    0.314995
Name: Arousal, dtype: float64              0
127  0    0.314521
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
123                0          223   0          0   0             0         0
124                0        221.5   0          0   0             0         0
125                0          221   0          0   0             0         0
126                0        221.5   0          0   0             0         0
127                0          223   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
123      0
124      0
125      0
126      0
127      0

[128 rows x 24 columns]
----Time----
6400

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
124  1  Базаев Кирилл  6250      0     0
125  1  Базаев Кирилл  6300      0     0
126  1  Базаев Кирилл  6350      0     0
127  1  Базаев Кирилл  6400      0     0
128  1  Базаев Кирилл  6450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
124  0    0.805902
Name: Neutral, dtype: float64
125  0    0.804613
Name: Neutral, dtype: float64
126  0    0.801288
Name: Neutral, dtype: float64
127  0    0.798218
Name: Neutral, dtype: float64
128  0    0.793222
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
124  0    0.000003
Name: Happy, dtype: float64
125  0    0.000003
Name: Happy, dtype: float64
126  0    0.000003
Name: Happy, dtype: float64
127  0    0.000002
Name: Happy, dtype: float64
128  0    0.000002
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
124   0    0.00017
Name: Sad, dtype: float64
125   0    0.00015
Name: Sad, dtype: float64
126  0    0.000133
Name: Sad, dtype: float64
127  0    0.000112
Name: Sad, dtype: float64
128  0    0.000093
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
124  0    0.000039
Name: Angry, dtype: float64
125  0    0.000035
Name: Angry, dtype: float64
126  0    0.000031
Name: Angry, dtype: float64
127  0    0.000026
Name: Angry, dtype: float64
128  0    0.000021
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
124  0    0.000016
Name: Surprised, dtype: float64  ...
125  0    0.000014
Name: Surprised, dtype: float64  ...
126  0    0.000012
Name: Surprised, dtype: float64  ...
127   0    0.00001
Name: Surprised, dtype: float64  ...
128  0    0.000009
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
124  0    0.315698
Name: Arousal, dtype: float64              0
125  0    0.315291
Name: Arousal, dtype: float64              0
126  0    0.314995
Name: Arousal, dtype: float64              0
127  0    0.314521
Name: Arousal, dtype: float64              0
128  0    0.314098
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
124                0        221.5   0          0   0             0         0
125                0          221   0          0   0             0         0
126                0        221.5   0          0   0             0         0
127                0          223   0          0   0             0         0
128                0        225.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
124      0
125      0
126      0
127      0
128      0

[129 rows x 24 columns]
----Time----
6450
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
125  1  Базаев Кирилл  6300      0     0
126  1  Базаев Кирилл  6350      0     0
127  1  Базаев Кирилл  6400      0     0
128  1  Базаев Кирилл  6450      0     0
129  1  Базаев Кирилл  6500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
125  0    0.804613
Name: Neutral, dtype: float64
126  0    0.801288
Name: Neutral, dtype: float64
127  0    0.798218
Name: Neutral, dtype: float64
128  0    0.793222
Name: Neutral, dtype: float64
129  0    0.788513
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
125  0    0.000003
Name: Happy, dtype: float64
126  0    0.000003
Name: Happy, dtype: float64
127  0    0.000002
Name: Happy, dtype: float64
128  0    0.000002
Name: Happy, dtype: float64
129  0    0.000002
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
125   0    0.00015
Name: Sad, dtype: float64
126  0    0.000133
Name: Sad, dtype: float64
127  0    0.000112
Name: Sad, dtype: float64
128  0    0.000093
Name: Sad, dtype: float64
129  0    0.000083
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
125  0    0.000035
Name: Angry, dtype: float64
126  0    0.000031
Name: Angry, dtype: float64
127  0    0.000026
Name: Angry, dtype: float64
128  0    0.000021
Name: Angry, dtype: float64
129  0    0.000019
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
125  0    0.000014
Name: Surprised, dtype: float64  ...
126  0    0.000012
Name: Surprised, dtype: float64  ...
127   0    0.00001
Name: Surprised, dtype: float64  ...
128  0    0.000009
Name: Surprised, dtype: float64  ...
129  0    0.000008
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
125  0    0.315291
Name: Arousal, dtype: float64              0
126  0    0.314995
Name: Arousal, dtype: float64              0
127  0    0.314521
Name: Arousal, dtype: float64              0
128  0    0.314098
Name: Arousal, dtype: float64              0
129  0    0.313877
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
125                0          221   0          0   0             0         0
126                0        221.5   0          0   0             0         0
127                0          223   0          0   0             0         0
128                0        225.0   0          0   0             0         0
129                0        224.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
125      0
126      0
127      0
128      0
129      0

[130 rows x 24 columns]
----Time----
6500

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
126  1  Базаев Кирилл  6350      0     0
127  1  Базаев Кирилл  6400      0     0
128  1  Базаев Кирилл  6450      0     0
129  1  Базаев Кирилл  6500      0     0
130  1  Базаев Кирилл  6550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
126  0    0.801288
Name: Neutral, dtype: float64
127  0    0.798218
Name: Neutral, dtype: float64
128  0    0.793222
Name: Neutral, dtype: float64
129  0    0.788513
Name: Neutral, dtype: float64
130  0    0.782594
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
126  0    0.000003
Name: Happy, dtype: float64
127  0    0.000002
Name: Happy, dtype: float64
128  0    0.000002
Name: Happy, dtype: float64
129  0    0.000002
Name: Happy, dtype: float64
130  0    0.000001
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
126  0    0.000133
Name: Sad, dtype: float64
127  0    0.000112
Name: Sad, dtype: float64
128  0    0.000093
Name: Sad, dtype: float64
129  0    0.000083
Name: Sad, dtype: float64
130  0    0.000073
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
126  0    0.000031
Name: Angry, dtype: float64
127  0    0.000026
Name: Angry, dtype: float64
128  0    0.000021
Name: Angry, dtype: float64
129  0    0.000019
Name: Angry, dtype: float64
130  0    0.000017
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
126  0    0.000012
Name: Surprised, dtype: float64  ...
127   0    0.00001
Name: Surprised, dtype: float64  ...
128  0    0.000009
Name: Surprised, dtype: float64  ...
129  0    0.000008
Name: Surprised, dtype: float64  ...
130  0    0.000007
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
126  0    0.314995
Name: Arousal, dtype: float64              0
127  0    0.314521
Name: Arousal, dtype: float64              0
128  0    0.314098
Name: Arousal, dtype: float64              0
129  0    0.313877
Name: Arousal, dtype: float64              0
130  0    0.313714
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
126                0        221.5   0          0   0             0         0
127                0          223   0          0   0             0         0
128                0        225.0   0          0   0             0         0
129                0        224.5   0          0   0             0         0
130                0          224   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
126      0
127      0
128      0
129      0
130      0

[131 rows x 24 columns]
----Time----
6550
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
127  1  Базаев Кирилл  6400      0     0
128  1  Базаев Кирилл  6450      0     0
129  1  Базаев Кирилл  6500      0     0
130  1  Базаев Кирилл  6550      0     0
131  1  Базаев Кирилл  6600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
127  0    0.798218
Name: Neutral, dtype: float64
128  0    0.793222
Name: Neutral, dtype: float64
129  0    0.788513
Name: Neutral, dtype: float64
130  0    0.782594
Name: Neutral, dtype: float64
131  0    0.775688
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
127  0    0.000002
Name: Happy, dtype: float64
128  0    0.000002
Name: Happy, dtype: float64
129  0    0.000002
Name: Happy, dtype: float64
130  0    0.000001
Name: Happy, dtype: float64
131  0    0.000001
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
127  0    0.000112
Name: Sad, dtype: float64
128  0    0.000093
Name: Sad, dtype: float64
129  0    0.000083
Name: Sad, dtype: float64
130  0    0.000073
Name: Sad, dtype: float64
131  0    0.000061
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
127  0    0.000026
Name: Angry, dtype: float64
128  0    0.000021
Name: Angry, dtype: float64
129  0    0.000019
Name: Angry, dtype: float64
130  0    0.000017
Name: Angry, dtype: float64
131  0    0.000424
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
127   0    0.00001
Name: Surprised, dtype: float64  ...
128  0    0.000009
Name: Surprised, dtype: float64  ...
129  0    0.000008
Name: Surprised, dtype: float64  ...
130  0    0.000007
Name: Surprised, dtype: float64  ...
131  0    0.000006
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
127  0    0.314521
Name: Arousal, dtype: float64              0
128  0    0.314098
Name: Arousal, dtype: float64              0
129  0    0.313877
Name: Arousal, dtype: float64              0
130  0    0.313714
Name: Arousal, dtype: float64              0
131  0    0.313488
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
127                0          223   0          0   0             0         0
128                0        225.0   0          0   0             0         0
129                0        224.5   0          0   0             0         0
130                0          224   0          0   0             0         0
131                0        224.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
127      0
128      0
129      0
130      0
131      0

[132 rows x 24 columns]
----Time----
6600

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
128  1  Базаев Кирилл  6450      0     0
129  1  Базаев Кирилл  6500      0     0
130  1  Базаев Кирилл  6550      0     0
131  1  Базаев Кирилл  6600      0     0
132  1  Базаев Кирилл  6650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
128  0    0.793222
Name: Neutral, dtype: float64
129  0    0.788513
Name: Neutral, dtype: float64
130  0    0.782594
Name: Neutral, dtype: float64
131  0    0.775688
Name: Neutral, dtype: float64
132  0    0.768567
Name: Neutral, dtype: float64

                                         Happy  \
0          0    NaN
Name: Happy, dtype: object
1          0    NaN
Name: Happy, dtype: object
2          0    NaN
Name: Happy, dtype: object
3          0   NaN
Name: Happy, dtype: float64
4          0    NaN
Name: Happy, dtype: object
..                                         ...
128  0    0.000002
Name: Happy, dtype: float64
129  0    0.000002
Name: Happy, dtype: float64
130  0    0.000001
Name: Happy, dtype: float64
131  0    0.000001
Name: Happy, dtype: float64
132  0    0.000001
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
128  0    0.000093
Name: Sad, dtype: float64
129  0    0.000083
Name: Sad, dtype: float64
130  0    0.000073
Name: Sad, dtype: float64
131  0    0.000061
Name: Sad, dtype: float64
132  0    0.000051
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
128  0    0.000021
Name: Angry, dtype: float64
129  0    0.000019
Name: Angry, dtype: float64
130  0    0.000017
Name: Angry, dtype: float64
131  0    0.000424
Name: Angry, dtype: float64
132  0    0.000354
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
128  0    0.000009
Name: Surprised, dtype: float64  ...
129  0    0.000008
Name: Surprised, dtype: float64  ...
130  0    0.000007
Name: Surprised, dtype: float64  ...
131  0    0.000006
Name: Surprised, dtype: float64  ...
132  0    0.000005
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
128  0    0.314098
Name: Arousal, dtype: float64              0
129  0    0.313877
Name: Arousal, dtype: float64              0
130  0    0.313714
Name: Arousal, dtype: float64              0
131  0    0.313488
Name: Arousal, dtype: float64              0
132  0    0.313283
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
128                0        225.0   0          0   0             0         0
129                0        224.5   0          0   0             0         0
130                0          224   0          0   0             0         0
131                0        224.0   0          0   0             0         0
132                0          223   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
128      0
129      0
130      0
131      0
132      0

[133 rows x 24 columns]
----Time----
6650
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
129  1  Базаев Кирилл  6500      0     0
130  1  Базаев Кирилл  6550      0     0
131  1  Базаев Кирилл  6600      0     0
132  1  Базаев Кирилл  6650      0     0
133  1  Базаев Кирилл  6700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
129  0    0.788513
Name: Neutral, dtype: float64
130  0    0.782594
Name: Neutral, dtype: float64
131  0    0.775688
Name: Neutral, dtype: float64
132  0    0.768567
Name: Neutral, dtype: float64
133  0    0.762898
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
129      0    0.000002
Name: Happy, dtype: float64
130      0    0.000001
Name: Happy, dtype: float64
131      0    0.000001
Name: Happy, dtype: float64
132      0    0.000001
Name: Happy, dtype: float64
133  0    8.980000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
129  0    0.000083
Name: Sad, dtype: float64
130  0    0.000073
Name: Sad, dtype: float64
131  0    0.000061
Name: Sad, dtype: float64
132  0    0.000051
Name: Sad, dtype: float64
133  0    0.000045
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
129  0    0.000019
Name: Angry, dtype: float64
130  0    0.000017
Name: Angry, dtype: float64
131  0    0.000424
Name: Angry, dtype: float64
132  0    0.000354
Name: Angry, dtype: float64
133  0    0.000314
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
129  0    0.000008
Name: Surprised, dtype: float64  ...
130  0    0.000007
Name: Surprised, dtype: float64  ...
131  0    0.000006
Name: Surprised, dtype: float64  ...
132  0    0.000005
Name: Surprised, dtype: float64  ...
133  0    0.000004
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
129  0    0.313877
Name: Arousal, dtype: float64              0
130  0    0.313714
Name: Arousal, dtype: float64              0
131  0    0.313488
Name: Arousal, dtype: float64              0
132  0    0.313283
Name: Arousal, dtype: float64              0
133  0    0.313165
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
129                0        224.5   0          0   0             0         0
130                0          224   0          0   0             0         0
131                0        224.0   0          0   0             0         0
132                0          223   0          0   0             0         0
133                0        221.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
129      0
130      0
131      0
132      0
133      0

[134 rows x 24 columns]
----Time----
6700

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
130  1  Базаев Кирилл  6550      0     0
131  1  Базаев Кирилл  6600      0     0
132  1  Базаев Кирилл  6650      0     0
133  1  Базаев Кирилл  6700      0     0
134  1  Базаев Кирилл  6750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
130  0    0.782594
Name: Neutral, dtype: float64
131  0    0.775688
Name: Neutral, dtype: float64
132  0    0.768567
Name: Neutral, dtype: float64
133  0    0.762898
Name: Neutral, dtype: float64
134  0    0.758142
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
130      0    0.000001
Name: Happy, dtype: float64
131      0    0.000001
Name: Happy, dtype: float64
132      0    0.000001
Name: Happy, dtype: float64
133  0    8.980000e-07
Name: Happy, dtype: float64
134  0    7.970000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
130  0    0.000073
Name: Sad, dtype: float64
131  0    0.000061
Name: Sad, dtype: float64
132  0    0.000051
Name: Sad, dtype: float64
133  0    0.000045
Name: Sad, dtype: float64
134   0    0.00004
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
130  0    0.000017
Name: Angry, dtype: float64
131  0    0.000424
Name: Angry, dtype: float64
132  0    0.000354
Name: Angry, dtype: float64
133  0    0.000314
Name: Angry, dtype: float64
134  0    0.000279
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
130  0    0.000007
Name: Surprised, dtype: float64  ...
131  0    0.000006
Name: Surprised, dtype: float64  ...
132  0    0.000005
Name: Surprised, dtype: float64  ...
133  0    0.000004
Name: Surprised, dtype: float64  ...
134  0    0.000004
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
130  0    0.313714
Name: Arousal, dtype: float64              0
131  0    0.313488
Name: Arousal, dtype: float64              0
132  0    0.313283
Name: Arousal, dtype: float64              0
133  0    0.313165
Name: Arousal, dtype: float64              0
134  0    0.313003
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
130                0          224   0          0   0             0         0
131                0        224.0   0          0   0             0         0
132                0          223   0          0   0             0         0
133                0        221.5   0          0   0             0         0
134                0          221   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
130      0
131      0
132      0
133      0
134      0

[135 rows x 24 columns]
----Time----
6750
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
131  1  Базаев Кирилл  6600      0     0
132  1  Базаев Кирилл  6650      0     0
133  1  Базаев Кирилл  6700      0     0
134  1  Базаев Кирилл  6750      0     0
135  1  Базаев Кирилл  6800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
131  0    0.775688
Name: Neutral, dtype: float64
132  0    0.768567
Name: Neutral, dtype: float64
133  0    0.762898
Name: Neutral, dtype: float64
134  0    0.758142
Name: Neutral, dtype: float64
135  0    0.755862
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
131      0    0.000001
Name: Happy, dtype: float64
132      0    0.000001
Name: Happy, dtype: float64
133  0    8.980000e-07
Name: Happy, dtype: float64
134  0    7.970000e-07
Name: Happy, dtype: float64
135  0    6.670000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
131  0    0.000061
Name: Sad, dtype: float64
132  0    0.000051
Name: Sad, dtype: float64
133  0    0.000045
Name: Sad, dtype: float64
134   0    0.00004
Name: Sad, dtype: float64
135  0    0.000034
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
131  0    0.000424
Name: Angry, dtype: float64
132  0    0.000354
Name: Angry, dtype: float64
133  0    0.000314
Name: Angry, dtype: float64
134  0    0.000279
Name: Angry, dtype: float64
135  0    0.000233
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
131  0    0.000006
Name: Surprised, dtype: float64  ...
132  0    0.000005
Name: Surprised, dtype: float64  ...
133  0    0.000004
Name: Surprised, dtype: float64  ...
134  0    0.000004
Name: Surprised, dtype: float64  ...
135  0    0.000003
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
131  0    0.313488
Name: Arousal, dtype: float64              0
132  0    0.313283
Name: Arousal, dtype: float64              0
133  0    0.313165
Name: Arousal, dtype: float64              0
134  0    0.313003
Name: Arousal, dtype: float64              0
135  0    0.312649
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
131                0        224.0   0          0   0             0         0
132                0          223   0          0   0             0         0
133                0        221.5   0          0   0             0         0
134                0          221   0          0   0             0         0
135                0        221.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
131      0
132      0
133      0
134      0
135      0

[136 rows x 24 columns]
----Time----
6800

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
132  1  Базаев Кирилл  6650      0     0
133  1  Базаев Кирилл  6700      0     0
134  1  Базаев Кирилл  6750      0     0
135  1  Базаев Кирилл  6800      0     0
136  1  Базаев Кирилл  6850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
132  0    0.768567
Name: Neutral, dtype: float64
133  0    0.762898
Name: Neutral, dtype: float64
134  0    0.758142
Name: Neutral, dtype: float64
135  0    0.755862
Name: Neutral, dtype: float64
136  0    0.759227
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
132      0    0.000001
Name: Happy, dtype: float64
133  0    8.980000e-07
Name: Happy, dtype: float64
134  0    7.970000e-07
Name: Happy, dtype: float64
135  0    6.670000e-07
Name: Happy, dtype: float64
136  0    5.560000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
132  0    0.000051
Name: Sad, dtype: float64
133  0    0.000045
Name: Sad, dtype: float64
134   0    0.00004
Name: Sad, dtype: float64
135  0    0.000034
Name: Sad, dtype: float64
136  0    0.000028
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
132  0    0.000354
Name: Angry, dtype: float64
133  0    0.000314
Name: Angry, dtype: float64
134  0    0.000279
Name: Angry, dtype: float64
135  0    0.000233
Name: Angry, dtype: float64
136  0    0.000194
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
132  0    0.000005
Name: Surprised, dtype: float64  ...
133  0    0.000004
Name: Surprised, dtype: float64  ...
134  0    0.000004
Name: Surprised, dtype: float64  ...
135  0    0.000003
Name: Surprised, dtype: float64  ...
136  0    0.000003
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
132  0    0.313283
Name: Arousal, dtype: float64              0
133  0    0.313165
Name: Arousal, dtype: float64              0
134  0    0.313003
Name: Arousal, dtype: float64              0
135  0    0.312649
Name: Arousal, dtype: float64              0
136  0    0.312182
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
132                0          223   0          0   0             0         0
133                0        221.5   0          0   0             0         0
134                0          221   0          0   0             0         0
135                0        221.0   0          0   0             0         0
136                0        223.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
132      0
133      0
134      0
135      0
136      0

[137 rows x 24 columns]
----Time----
6850
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
133  1  Базаев Кирилл  6700      0     0
134  1  Базаев Кирилл  6750      0     0
135  1  Базаев Кирилл  6800      0     0
136  1  Базаев Кирилл  6850      0     0
137  1  Базаев Кирилл  6900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
133  0    0.762898
Name: Neutral, dtype: float64
134  0    0.758142
Name: Neutral, dtype: float64
135  0    0.755862
Name: Neutral, dtype: float64
136  0    0.759227
Name: Neutral, dtype: float64
137  0    0.764329
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
133  0    8.980000e-07
Name: Happy, dtype: float64
134  0    7.970000e-07
Name: Happy, dtype: float64
135  0    6.670000e-07
Name: Happy, dtype: float64
136  0    5.560000e-07
Name: Happy, dtype: float64
137  0    4.930000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
133  0    0.000045
Name: Sad, dtype: float64
134   0    0.00004
Name: Sad, dtype: float64
135  0    0.000034
Name: Sad, dtype: float64
136  0    0.000028
Name: Sad, dtype: float64
137  0    0.000025
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
133  0    0.000314
Name: Angry, dtype: float64
134  0    0.000279
Name: Angry, dtype: float64
135  0    0.000233
Name: Angry, dtype: float64
136  0    0.000194
Name: Angry, dtype: float64
137  0    0.000172
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
133  0    0.000004
Name: Surprised, dtype: float64  ...
134  0    0.000004
Name: Surprised, dtype: float64  ...
135  0    0.000003
Name: Surprised, dtype: float64  ...
136  0    0.000003
Name: Surprised, dtype: float64  ...
137  0    0.000002
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
133  0    0.313165
Name: Arousal, dtype: float64              0
134  0    0.313003
Name: Arousal, dtype: float64              0
135  0    0.312649
Name: Arousal, dtype: float64              0
136  0    0.312182
Name: Arousal, dtype: float64              0
137  0    0.311794
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
133                0        221.5   0          0   0             0         0
134                0          221   0          0   0             0         0
135                0        221.0   0          0   0             0         0
136                0        223.5   0          0   0             0         0
137                0          223   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
133      0
134      0
135      0
136      0
137      0

[138 rows x 24 columns]
----Time----
6900

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
134  1  Базаев Кирилл  6750      0     0
135  1  Базаев Кирилл  6800      0     0
136  1  Базаев Кирилл  6850      0     0
137  1  Базаев Кирилл  6900      0     0
138  1  Базаев Кирилл  6950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
134  0    0.758142
Name: Neutral, dtype: float64
135  0    0.755862
Name: Neutral, dtype: float64
136  0    0.759227
Name: Neutral, dtype: float64
137  0    0.764329
Name: Neutral, dtype: float64
138  0    0.770763
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
134  0    7.970000e-07
Name: Happy, dtype: float64
135  0    6.670000e-07
Name: Happy, dtype: float64
136  0    5.560000e-07
Name: Happy, dtype: float64
137  0    4.930000e-07
Name: Happy, dtype: float64
138  0    4.380000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
134   0    0.00004
Name: Sad, dtype: float64
135  0    0.000034
Name: Sad, dtype: float64
136  0    0.000028
Name: Sad, dtype: float64
137  0    0.000025
Name: Sad, dtype: float64
138  0    0.000022
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
134  0    0.000279
Name: Angry, dtype: float64
135  0    0.000233
Name: Angry, dtype: float64
136  0    0.000194
Name: Angry, dtype: float64
137  0    0.000172
Name: Angry, dtype: float64
138  0    0.000153
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
134  0    0.000004
Name: Surprised, dtype: float64  ...
135  0    0.000003
Name: Surprised, dtype: float64  ...
136  0    0.000003
Name: Surprised, dtype: float64  ...
137  0    0.000002
Name: Surprised, dtype: float64  ...
138  0    0.000002
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
134  0    0.313003
Name: Arousal, dtype: float64              0
135  0    0.312649
Name: Arousal, dtype: float64              0
136  0    0.312182
Name: Arousal, dtype: float64              0
137  0    0.311794
Name: Arousal, dtype: float64              0
138  0    0.311327
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
134                0          221   0          0   0             0         0
135                0        221.0   0          0   0             0         0
136                0        223.5   0          0   0             0         0
137                0          223   0          0   0             0         0
138                0        222.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
134      0
135      0
136      0
137      0
138      0

[139 rows x 24 columns]
----Time----
6950
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
135  1  Базаев Кирилл  6800      0     0
136  1  Базаев Кирилл  6850      0     0
137  1  Базаев Кирилл  6900      0     0
138  1  Базаев Кирилл  6950      0     0
139  1  Базаев Кирилл  7000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
135  0    0.755862
Name: Neutral, dtype: float64
136  0    0.759227
Name: Neutral, dtype: float64
137  0    0.764329
Name: Neutral, dtype: float64
138  0    0.770763
Name: Neutral, dtype: float64
139  0    0.781599
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
135  0    6.670000e-07
Name: Happy, dtype: float64
136  0    5.560000e-07
Name: Happy, dtype: float64
137  0    4.930000e-07
Name: Happy, dtype: float64
138  0    4.380000e-07
Name: Happy, dtype: float64
139  0    3.660000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
135  0    0.000034
Name: Sad, dtype: float64
136  0    0.000028
Name: Sad, dtype: float64
137  0    0.000025
Name: Sad, dtype: float64
138  0    0.000022
Name: Sad, dtype: float64
139  0    0.000019
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
135  0    0.000233
Name: Angry, dtype: float64
136  0    0.000194
Name: Angry, dtype: float64
137  0    0.000172
Name: Angry, dtype: float64
138  0    0.000153
Name: Angry, dtype: float64
139  0    0.000128
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
135  0    0.000003
Name: Surprised, dtype: float64  ...
136  0    0.000003
Name: Surprised, dtype: float64  ...
137  0    0.000002
Name: Surprised, dtype: float64  ...
138  0    0.000002
Name: Surprised, dtype: float64  ...
139  0    0.000002
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
135  0    0.312649
Name: Arousal, dtype: float64              0
136  0    0.312182
Name: Arousal, dtype: float64              0
137  0    0.311794
Name: Arousal, dtype: float64              0
138  0    0.311327
Name: Arousal, dtype: float64              0
139  0    0.310493
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
135                0        221.0   0          0   0             0         0
136                0        223.5   0          0   0             0         0
137                0          223   0          0   0             0         0
138                0        222.0   0          0   0             0         0
139                0          223   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
135      0
136      0
137      0
138      0
139      0

[140 rows x 24 columns]
----Time----
7000

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
136  1  Базаев Кирилл  6850      0     0
137  1  Базаев Кирилл  6900      0     0
138  1  Базаев Кирилл  6950      0     0
139  1  Базаев Кирилл  7000      0     0
140  1  Базаев Кирилл  7050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
136  0    0.759227
Name: Neutral, dtype: float64
137  0    0.764329
Name: Neutral, dtype: float64
138  0    0.770763
Name: Neutral, dtype: float64
139  0    0.781599
Name: Neutral, dtype: float64
140  0    0.793575
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
136  0    5.560000e-07
Name: Happy, dtype: float64
137  0    4.930000e-07
Name: Happy, dtype: float64
138  0    4.380000e-07
Name: Happy, dtype: float64
139  0    3.660000e-07
Name: Happy, dtype: float64
140  0    3.050000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
136  0    0.000028
Name: Sad, dtype: float64
137  0    0.000025
Name: Sad, dtype: float64
138  0    0.000022
Name: Sad, dtype: float64
139  0    0.000019
Name: Sad, dtype: float64
140  0    0.000015
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
136  0    0.000194
Name: Angry, dtype: float64
137  0    0.000172
Name: Angry, dtype: float64
138  0    0.000153
Name: Angry, dtype: float64
139  0    0.000128
Name: Angry, dtype: float64
140  0    0.000107
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
136  0    0.000003
Name: Surprised, dtype: float64  ...
137  0    0.000002
Name: Surprised, dtype: float64  ...
138  0    0.000002
Name: Surprised, dtype: float64  ...
139  0    0.000002
Name: Surprised, dtype: float64  ...
140  0    0.000001
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
136  0    0.312182
Name: Arousal, dtype: float64              0
137  0    0.311794
Name: Arousal, dtype: float64              0
138  0    0.311327
Name: Arousal, dtype: float64              0
139  0    0.310493
Name: Arousal, dtype: float64              0
140  0    0.309538
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
136                0        223.5   0          0   0             0         0
137                0          223   0          0   0             0         0
138                0        222.0   0          0   0             0         0
139                0          223   0          0   0             0         0
140                0        223.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
136      0
137      0
138      0
139      0
140      0

[141 rows x 24 columns]
----Time----
7050
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
137  1  Базаев Кирилл  6900      0     0
138  1  Базаев Кирилл  6950      0     0
139  1  Базаев Кирилл  7000      0     0
140  1  Базаев Кирилл  7050      0     0
141  1  Базаев Кирилл  7100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
137  0    0.764329
Name: Neutral, dtype: float64
138  0    0.770763
Name: Neutral, dtype: float64
139  0    0.781599
Name: Neutral, dtype: float64
140  0    0.793575
Name: Neutral, dtype: float64
141  0    0.801244
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
137  0    4.930000e-07
Name: Happy, dtype: float64
138  0    4.380000e-07
Name: Happy, dtype: float64
139  0    3.660000e-07
Name: Happy, dtype: float64
140  0    3.050000e-07
Name: Happy, dtype: float64
141  0    2.710000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
137  0    0.000025
Name: Sad, dtype: float64
138  0    0.000022
Name: Sad, dtype: float64
139  0    0.000019
Name: Sad, dtype: float64
140  0    0.000015
Name: Sad, dtype: float64
141  0    0.000014
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
137  0    0.000172
Name: Angry, dtype: float64
138  0    0.000153
Name: Angry, dtype: float64
139  0    0.000128
Name: Angry, dtype: float64
140  0    0.000107
Name: Angry, dtype: float64
141  0    0.000095
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
137  0    0.000002
Name: Surprised, dtype: float64  ...
138  0    0.000002
Name: Surprised, dtype: float64  ...
139  0    0.000002
Name: Surprised, dtype: float64  ...
140  0    0.000001
Name: Surprised, dtype: float64  ...
141  0    0.000001
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
137  0    0.311794
Name: Arousal, dtype: float64              0
138  0    0.311327
Name: Arousal, dtype: float64              0
139  0    0.310493
Name: Arousal, dtype: float64              0
140  0    0.309538
Name: Arousal, dtype: float64              0
141  0    0.308862
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
137                0          223   0          0   0             0         0
138                0        222.0   0          0   0             0         0
139                0          223   0          0   0             0         0
140                0        223.5   0          0   0             0         0
141                0          222   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
137      0
138      0
139      0
140      0
141      0

[142 rows x 24 columns]
----Time----
7100

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
138  1  Базаев Кирилл  6950      0     0
139  1  Базаев Кирилл  7000      0     0
140  1  Базаев Кирилл  7050      0     0
141  1  Базаев Кирилл  7100      0     0
142  1  Базаев Кирилл  7150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
138  0    0.770763
Name: Neutral, dtype: float64
139  0    0.781599
Name: Neutral, dtype: float64
140  0    0.793575
Name: Neutral, dtype: float64
141  0    0.801244
Name: Neutral, dtype: float64
142  0    0.808431
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
138  0    4.380000e-07
Name: Happy, dtype: float64
139  0    3.660000e-07
Name: Happy, dtype: float64
140  0    3.050000e-07
Name: Happy, dtype: float64
141  0    2.710000e-07
Name: Happy, dtype: float64
142  0    2.400000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
138  0    0.000022
Name: Sad, dtype: float64
139  0    0.000019
Name: Sad, dtype: float64
140  0    0.000015
Name: Sad, dtype: float64
141  0    0.000014
Name: Sad, dtype: float64
142  0    0.000012
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
138  0    0.000153
Name: Angry, dtype: float64
139  0    0.000128
Name: Angry, dtype: float64
140  0    0.000107
Name: Angry, dtype: float64
141  0    0.000095
Name: Angry, dtype: float64
142  0    0.000084
Name: Angry, dtype: float64

                                         Surprised  ...  \
0          0    NaN
Name: Surprised, dtype: object  ...
1          0    NaN
Name: Surprised, dtype: object  ...
2          0    NaN
Name: Surprised, dtype: object  ...
3          0   NaN
Name: Surprised, dtype: float64  ...
4          0    NaN
Name: Surprised, dtype: object  ...
..                                             ...  ...
138  0    0.000002
Name: Surprised, dtype: float64  ...
139  0    0.000002
Name: Surprised, dtype: float64  ...
140  0    0.000001
Name: Surprised, dtype: float64  ...
141  0    0.000001
Name: Surprised, dtype: float64  ...
142  0    0.000001
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
138  0    0.311327
Name: Arousal, dtype: float64              0
139  0    0.310493
Name: Arousal, dtype: float64              0
140  0    0.309538
Name: Arousal, dtype: float64              0
141  0    0.308862
Name: Arousal, dtype: float64              0
142  0    0.308165
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
138                0        222.0   0          0   0             0         0
139                0          223   0          0   0             0         0
140                0        223.5   0          0   0             0         0
141                0          222   0          0   0             0         0
142                0        222.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
138      0
139      0
140      0
141      0
142      0

[143 rows x 24 columns]
----Time----
7150
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
139  1  Базаев Кирилл  7000      0     0
140  1  Базаев Кирилл  7050      0     0
141  1  Базаев Кирилл  7100      0     0
142  1  Базаев Кирилл  7150      0     0
143  1  Базаев Кирилл  7200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
139  0    0.781599
Name: Neutral, dtype: float64
140  0    0.793575
Name: Neutral, dtype: float64
141  0    0.801244
Name: Neutral, dtype: float64
142  0    0.808431
Name: Neutral, dtype: float64
143  0    0.818527
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
139  0    3.660000e-07
Name: Happy, dtype: float64
140  0    3.050000e-07
Name: Happy, dtype: float64
141  0    2.710000e-07
Name: Happy, dtype: float64
142  0    2.400000e-07
Name: Happy, dtype: float64
143  0    2.010000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
139  0    0.000019
Name: Sad, dtype: float64
140  0    0.000015
Name: Sad, dtype: float64
141  0    0.000014
Name: Sad, dtype: float64
142  0    0.000012
Name: Sad, dtype: float64
143   0    0.00001
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
139  0    0.000128
Name: Angry, dtype: float64
140  0    0.000107
Name: Angry, dtype: float64
141  0    0.000095
Name: Angry, dtype: float64
142  0    0.000084
Name: Angry, dtype: float64
143   0    0.00007
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
139      0    0.000002
Name: Surprised, dtype: float64  ...
140      0    0.000001
Name: Surprised, dtype: float64  ...
141      0    0.000001
Name: Surprised, dtype: float64  ...
142      0    0.000001
Name: Surprised, dtype: float64  ...
143  0    9.360000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
139  0    0.310493
Name: Arousal, dtype: float64              0
140  0    0.309538
Name: Arousal, dtype: float64              0
141  0    0.308862
Name: Arousal, dtype: float64              0
142  0    0.308165
Name: Arousal, dtype: float64              0
143   0    0.30707
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
139                0          223   0          0   0             0         0
140                0        223.5   0          0   0             0         0
141                0          222   0          0   0             0         0
142                0        222.0   0          0   0             0         0
143                0        223.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
139      0
140      0
141      0
142      0
143      0

[144 rows x 24 columns]
----Time----
7200

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
140  1  Базаев Кирилл  7050      0     0
141  1  Базаев Кирилл  7100      0     0
142  1  Базаев Кирилл  7150      0     0
143  1  Базаев Кирилл  7200      0     0
144  1  Базаев Кирилл  7250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
140  0    0.793575
Name: Neutral, dtype: float64
141  0    0.801244
Name: Neutral, dtype: float64
142  0    0.808431
Name: Neutral, dtype: float64
143  0    0.818527
Name: Neutral, dtype: float64
144  0    0.826244
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
140  0    3.050000e-07
Name: Happy, dtype: float64
141  0    2.710000e-07
Name: Happy, dtype: float64
142  0    2.400000e-07
Name: Happy, dtype: float64
143  0    2.010000e-07
Name: Happy, dtype: float64
144  0    1.680000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
140  0    0.000015
Name: Sad, dtype: float64
141  0    0.000014
Name: Sad, dtype: float64
142  0    0.000012
Name: Sad, dtype: float64
143   0    0.00001
Name: Sad, dtype: float64
144  0    0.000008
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
140  0    0.000107
Name: Angry, dtype: float64
141  0    0.000095
Name: Angry, dtype: float64
142  0    0.000084
Name: Angry, dtype: float64
143   0    0.00007
Name: Angry, dtype: float64
144  0    0.000059
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
140      0    0.000001
Name: Surprised, dtype: float64  ...
141      0    0.000001
Name: Surprised, dtype: float64  ...
142      0    0.000001
Name: Surprised, dtype: float64  ...
143  0    9.360000e-07
Name: Surprised, dtype: float64  ...
144  0    7.810000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
140  0    0.309538
Name: Arousal, dtype: float64              0
141  0    0.308862
Name: Arousal, dtype: float64              0
142  0    0.308165
Name: Arousal, dtype: float64              0
143   0    0.30707
Name: Arousal, dtype: float64              0
144  0    0.305942
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
140                0        223.5   0          0   0             0         0
141                0          222   0          0   0             0         0
142                0        222.0   0          0   0             0         0
143                0        223.0   0          0   0             0         0
144                0          222   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
140      0
141      0
142      0
143      0
144      0

[145 rows x 24 columns]
----Time----
7250
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
141  1  Базаев Кирилл  7100      0     0
142  1  Базаев Кирилл  7150      0     0
143  1  Базаев Кирилл  7200      0     0
144  1  Базаев Кирилл  7250      0     0
145  1  Базаев Кирилл  7300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
141  0    0.801244
Name: Neutral, dtype: float64
142  0    0.808431
Name: Neutral, dtype: float64
143  0    0.818527
Name: Neutral, dtype: float64
144  0    0.826244
Name: Neutral, dtype: float64
145  0    0.831353
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
141  0    2.710000e-07
Name: Happy, dtype: float64
142  0    2.400000e-07
Name: Happy, dtype: float64
143  0    2.010000e-07
Name: Happy, dtype: float64
144  0    1.680000e-07
Name: Happy, dtype: float64
145  0    1.490000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
141  0    0.000014
Name: Sad, dtype: float64
142  0    0.000012
Name: Sad, dtype: float64
143   0    0.00001
Name: Sad, dtype: float64
144  0    0.000008
Name: Sad, dtype: float64
145  0    0.000008
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
141  0    0.000095
Name: Angry, dtype: float64
142  0    0.000084
Name: Angry, dtype: float64
143   0    0.00007
Name: Angry, dtype: float64
144  0    0.000059
Name: Angry, dtype: float64
145  0    0.000052
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
141      0    0.000001
Name: Surprised, dtype: float64  ...
142      0    0.000001
Name: Surprised, dtype: float64  ...
143  0    9.360000e-07
Name: Surprised, dtype: float64  ...
144  0    7.810000e-07
Name: Surprised, dtype: float64  ...
145  0    6.920000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
141  0    0.308862
Name: Arousal, dtype: float64              0
142  0    0.308165
Name: Arousal, dtype: float64              0
143   0    0.30707
Name: Arousal, dtype: float64              0
144  0    0.305942
Name: Arousal, dtype: float64              0
145  0    0.305123
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
141                0          222   0          0   0             0         0
142                0        222.0   0          0   0             0         0
143                0        223.0   0          0   0             0         0
144                0          222   0          0   0             0         0
145                0        221.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
141      0
142      0
143      0
144      0
145      0

[146 rows x 24 columns]
----Time----
7300

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
142  1  Базаев Кирилл  7150      0     0
143  1  Базаев Кирилл  7200      0     0
144  1  Базаев Кирилл  7250      0     0
145  1  Базаев Кирилл  7300      0     0
146  1  Базаев Кирилл  7350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
142  0    0.808431
Name: Neutral, dtype: float64
143  0    0.818527
Name: Neutral, dtype: float64
144  0    0.826244
Name: Neutral, dtype: float64
145  0    0.831353
Name: Neutral, dtype: float64
146  0    0.836584
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
142  0    2.400000e-07
Name: Happy, dtype: float64
143  0    2.010000e-07
Name: Happy, dtype: float64
144  0    1.680000e-07
Name: Happy, dtype: float64
145  0    1.490000e-07
Name: Happy, dtype: float64
146  0    1.320000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
142  0    0.000012
Name: Sad, dtype: float64
143   0    0.00001
Name: Sad, dtype: float64
144  0    0.000008
Name: Sad, dtype: float64
145  0    0.000008
Name: Sad, dtype: float64
146  0    0.000007
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
142  0    0.000084
Name: Angry, dtype: float64
143   0    0.00007
Name: Angry, dtype: float64
144  0    0.000059
Name: Angry, dtype: float64
145  0    0.000052
Name: Angry, dtype: float64
146  0    0.000046
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
142      0    0.000001
Name: Surprised, dtype: float64  ...
143  0    9.360000e-07
Name: Surprised, dtype: float64  ...
144  0    7.810000e-07
Name: Surprised, dtype: float64  ...
145  0    6.920000e-07
Name: Surprised, dtype: float64  ...
146  0    6.140000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
142  0    0.308165
Name: Arousal, dtype: float64              0
143   0    0.30707
Name: Arousal, dtype: float64              0
144  0    0.305942
Name: Arousal, dtype: float64              0
145  0    0.305123
Name: Arousal, dtype: float64              0
146   0    0.30429
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
142                0        222.0   0          0   0             0         0
143                0        223.0   0          0   0             0         0
144                0          222   0          0   0             0         0
145                0        221.5   0          0   0             0         0
146                0          221   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
142      0
143      0
144      0
145      0
146      0

[147 rows x 24 columns]
----Time----
7350
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
143  1  Базаев Кирилл  7200      0     0
144  1  Базаев Кирилл  7250      0     0
145  1  Базаев Кирилл  7300      0     0
146  1  Базаев Кирилл  7350      0     0
147  1  Базаев Кирилл  7400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
143  0    0.818527
Name: Neutral, dtype: float64
144  0    0.826244
Name: Neutral, dtype: float64
145  0    0.831353
Name: Neutral, dtype: float64
146  0    0.836584
Name: Neutral, dtype: float64
147  0    0.842292
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
143  0    2.010000e-07
Name: Happy, dtype: float64
144  0    1.680000e-07
Name: Happy, dtype: float64
145  0    1.490000e-07
Name: Happy, dtype: float64
146  0    1.320000e-07
Name: Happy, dtype: float64
147  0    1.105000e-07
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
143   0    0.00001
Name: Sad, dtype: float64
144  0    0.000008
Name: Sad, dtype: float64
145  0    0.000008
Name: Sad, dtype: float64
146  0    0.000007
Name: Sad, dtype: float64
147  0    0.000006
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
143   0    0.00007
Name: Angry, dtype: float64
144  0    0.000059
Name: Angry, dtype: float64
145  0    0.000052
Name: Angry, dtype: float64
146  0    0.000046
Name: Angry, dtype: float64
147  0    0.000039
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
143  0    9.360000e-07
Name: Surprised, dtype: float64  ...
144  0    7.810000e-07
Name: Surprised, dtype: float64  ...
145  0    6.920000e-07
Name: Surprised, dtype: float64  ...
146  0    6.140000e-07
Name: Surprised, dtype: float64  ...
147  0    5.140000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
143   0    0.30707
Name: Arousal, dtype: float64              0
144  0    0.305942
Name: Arousal, dtype: float64              0
145  0    0.305123
Name: Arousal, dtype: float64              0
146   0    0.30429
Name: Arousal, dtype: float64              0
147  0    0.303012
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
143                0        223.0   0          0   0             0         0
144                0          222   0          0   0             0         0
145                0        221.5   0          0   0             0         0
146                0          221   0          0   0             0         0
147                0        221.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
143      0
144      0
145      0
146      0
147      0

[148 rows x 24 columns]
----Time----
7400

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
144  1  Базаев Кирилл  7250      0     0
145  1  Базаев Кирилл  7300      0     0
146  1  Базаев Кирилл  7350      0     0
147  1  Базаев Кирилл  7400      0     0
148  1  Базаев Кирилл  7450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
144  0    0.826244
Name: Neutral, dtype: float64
145  0    0.831353
Name: Neutral, dtype: float64
146  0    0.836584
Name: Neutral, dtype: float64
147  0    0.842292
Name: Neutral, dtype: float64
148   0    0.84813
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
144  0    1.680000e-07
Name: Happy, dtype: float64
145  0    1.490000e-07
Name: Happy, dtype: float64
146  0    1.320000e-07
Name: Happy, dtype: float64
147  0    1.105000e-07
Name: Happy, dtype: float64
148  0    9.200000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
144  0    0.000008
Name: Sad, dtype: float64
145  0    0.000008
Name: Sad, dtype: float64
146  0    0.000007
Name: Sad, dtype: float64
147  0    0.000006
Name: Sad, dtype: float64
148  0    0.000005
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
144  0    0.000059
Name: Angry, dtype: float64
145  0    0.000052
Name: Angry, dtype: float64
146  0    0.000046
Name: Angry, dtype: float64
147  0    0.000039
Name: Angry, dtype: float64
148  0    0.000032
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
144  0    7.810000e-07
Name: Surprised, dtype: float64  ...
145  0    6.920000e-07
Name: Surprised, dtype: float64  ...
146  0    6.140000e-07
Name: Surprised, dtype: float64  ...
147  0    5.140000e-07
Name: Surprised, dtype: float64  ...
148  0    4.290000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
144  0    0.305942
Name: Arousal, dtype: float64              0
145  0    0.305123
Name: Arousal, dtype: float64              0
146   0    0.30429
Name: Arousal, dtype: float64              0
147  0    0.303012
Name: Arousal, dtype: float64              0
148  0    0.301706
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
144                0          222   0          0   0             0         0
145                0        221.5   0          0   0             0         0
146                0          221   0          0   0             0         0
147                0        221.0   0          0   0             0         0
148                0          221   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
144      0
145      0
146      0
147      0
148      0

[149 rows x 24 columns]
----Time----
7450
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
145  1  Базаев Кирилл  7300      0     0
146  1  Базаев Кирилл  7350      0     0
147  1  Базаев Кирилл  7400      0     0
148  1  Базаев Кирилл  7450      0     0
149  1  Базаев Кирилл  7500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
145  0    0.831353
Name: Neutral, dtype: float64
146  0    0.836584
Name: Neutral, dtype: float64
147  0    0.842292
Name: Neutral, dtype: float64
148   0    0.84813
Name: Neutral, dtype: float64
149  0    0.852249
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
145  0    1.490000e-07
Name: Happy, dtype: float64
146  0    1.320000e-07
Name: Happy, dtype: float64
147  0    1.105000e-07
Name: Happy, dtype: float64
148  0    9.200000e-08
Name: Happy, dtype: float64
149  0    8.200000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
145  0    0.000008
Name: Sad, dtype: float64
146  0    0.000007
Name: Sad, dtype: float64
147  0    0.000006
Name: Sad, dtype: float64
148  0    0.000005
Name: Sad, dtype: float64
149  0    0.000004
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
145  0    0.000052
Name: Angry, dtype: float64
146  0    0.000046
Name: Angry, dtype: float64
147  0    0.000039
Name: Angry, dtype: float64
148  0    0.000032
Name: Angry, dtype: float64
149  0    0.000029
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
145  0    6.920000e-07
Name: Surprised, dtype: float64  ...
146  0    6.140000e-07
Name: Surprised, dtype: float64  ...
147  0    5.140000e-07
Name: Surprised, dtype: float64  ...
148  0    4.290000e-07
Name: Surprised, dtype: float64  ...
149  0    3.800000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
145  0    0.305123
Name: Arousal, dtype: float64              0
146   0    0.30429
Name: Arousal, dtype: float64              0
147  0    0.303012
Name: Arousal, dtype: float64              0
148  0    0.301706
Name: Arousal, dtype: float64              0
149  0    0.300808
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
145                0        221.5   0          0   0             0         0
146                0          221   0          0   0             0         0
147                0        221.0   0          0   0             0         0
148                0          221   0          0   0             0         0
149                0        221.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
145      0
146      0
147      0
148      0
149      0

[150 rows x 24 columns]
----Time----
7500

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
146  1  Базаев Кирилл  7350      0     0
147  1  Базаев Кирилл  7400      0     0
148  1  Базаев Кирилл  7450      0     0
149  1  Базаев Кирилл  7500      0     0
150  1  Базаев Кирилл  7550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
146  0    0.836584
Name: Neutral, dtype: float64
147  0    0.842292
Name: Neutral, dtype: float64
148   0    0.84813
Name: Neutral, dtype: float64
149  0    0.852249
Name: Neutral, dtype: float64
150  0    0.852591
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
146  0    1.320000e-07
Name: Happy, dtype: float64
147  0    1.105000e-07
Name: Happy, dtype: float64
148  0    9.200000e-08
Name: Happy, dtype: float64
149  0    8.200000e-08
Name: Happy, dtype: float64
150  0    7.300000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
146  0    0.000007
Name: Sad, dtype: float64
147  0    0.000006
Name: Sad, dtype: float64
148  0    0.000005
Name: Sad, dtype: float64
149  0    0.000004
Name: Sad, dtype: float64
150  0    0.000004
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
146  0    0.000046
Name: Angry, dtype: float64
147  0    0.000039
Name: Angry, dtype: float64
148  0    0.000032
Name: Angry, dtype: float64
149  0    0.000029
Name: Angry, dtype: float64
150  0    0.000025
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
146  0    6.140000e-07
Name: Surprised, dtype: float64  ...
147  0    5.140000e-07
Name: Surprised, dtype: float64  ...
148  0    4.290000e-07
Name: Surprised, dtype: float64  ...
149  0    3.800000e-07
Name: Surprised, dtype: float64  ...
150  0    3.370000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
146   0    0.30429
Name: Arousal, dtype: float64              0
147  0    0.303012
Name: Arousal, dtype: float64              0
148  0    0.301706
Name: Arousal, dtype: float64              0
149  0    0.300808
Name: Arousal, dtype: float64              0
150  0    0.299919
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
146                0          221   0          0   0             0         0
147                0        221.0   0          0   0             0         0
148                0          221   0          0   0             0         0
149                0        221.0   0          0   0             0         0
150                0          221   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
146      0
147      0
148      0
149      0
150      0

[151 rows x 24 columns]
----Time----
7550
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
147  1  Базаев Кирилл  7400      0     0
148  1  Базаев Кирилл  7450      0     0
149  1  Базаев Кирилл  7500      0     0
150  1  Базаев Кирилл  7550      0     0
151  1  Базаев Кирилл  7600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
147  0    0.842292
Name: Neutral, dtype: float64
148   0    0.84813
Name: Neutral, dtype: float64
149  0    0.852249
Name: Neutral, dtype: float64
150  0    0.852591
Name: Neutral, dtype: float64
151  0    0.850426
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
147  0    1.105000e-07
Name: Happy, dtype: float64
148  0    9.200000e-08
Name: Happy, dtype: float64
149  0    8.200000e-08
Name: Happy, dtype: float64
150  0    7.300000e-08
Name: Happy, dtype: float64
151  0    6.050000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
147  0    0.000006
Name: Sad, dtype: float64
148  0    0.000005
Name: Sad, dtype: float64
149  0    0.000004
Name: Sad, dtype: float64
150  0    0.000004
Name: Sad, dtype: float64
151  0    0.000003
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
147  0    0.000039
Name: Angry, dtype: float64
148  0    0.000032
Name: Angry, dtype: float64
149  0    0.000029
Name: Angry, dtype: float64
150  0    0.000025
Name: Angry, dtype: float64
151  0    0.000021
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
147  0    5.140000e-07
Name: Surprised, dtype: float64  ...
148  0    4.290000e-07
Name: Surprised, dtype: float64  ...
149  0    3.800000e-07
Name: Surprised, dtype: float64  ...
150  0    3.370000e-07
Name: Surprised, dtype: float64  ...
151  0    2.820000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
147  0    0.303012
Name: Arousal, dtype: float64              0
148  0    0.301706
Name: Arousal, dtype: float64              0
149  0    0.300808
Name: Arousal, dtype: float64              0
150  0    0.299919
Name: Arousal, dtype: float64              0
151  0    0.298606
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
147                0        221.0   0          0   0             0         0
148                0          221   0          0   0             0         0
149                0        221.0   0          0   0             0         0
150                0          221   0          0   0             0         0
151                0        221.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
147      0
148      0
149      0
150      0
151      0

[152 rows x 24 columns]
----Time----
7600

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
148  1  Базаев Кирилл  7450      0     0
149  1  Базаев Кирилл  7500      0     0
150  1  Базаев Кирилл  7550      0     0
151  1  Базаев Кирилл  7600      0     0
152  1  Базаев Кирилл  7650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
148   0    0.84813
Name: Neutral, dtype: float64
149  0    0.852249
Name: Neutral, dtype: float64
150  0    0.852591
Name: Neutral, dtype: float64
151  0    0.850426
Name: Neutral, dtype: float64
152  0    0.847774
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
148  0    9.200000e-08
Name: Happy, dtype: float64
149  0    8.200000e-08
Name: Happy, dtype: float64
150  0    7.300000e-08
Name: Happy, dtype: float64
151  0    6.050000e-08
Name: Happy, dtype: float64
152  0    5.100000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
148  0    0.000005
Name: Sad, dtype: float64
149  0    0.000004
Name: Sad, dtype: float64
150  0    0.000004
Name: Sad, dtype: float64
151  0    0.000003
Name: Sad, dtype: float64
152  0    0.000003
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
148  0    0.000032
Name: Angry, dtype: float64
149  0    0.000029
Name: Angry, dtype: float64
150  0    0.000025
Name: Angry, dtype: float64
151  0    0.000021
Name: Angry, dtype: float64
152  0    0.000018
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
148  0    4.290000e-07
Name: Surprised, dtype: float64  ...
149  0    3.800000e-07
Name: Surprised, dtype: float64  ...
150  0    3.370000e-07
Name: Surprised, dtype: float64  ...
151  0    2.820000e-07
Name: Surprised, dtype: float64  ...
152  0    2.350000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
148  0    0.301706
Name: Arousal, dtype: float64              0
149  0    0.300808
Name: Arousal, dtype: float64              0
150  0    0.299919
Name: Arousal, dtype: float64              0
151  0    0.298606
Name: Arousal, dtype: float64              0
152  0    0.297282
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
148                0          221   0          0   0             0         0
149                0        221.0   0          0   0             0         0
150                0          221   0          0   0             0         0
151                0        221.0   0          0   0             0         0
152                0        221.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
148      0
149      0
150      0
151      0
152      0

[153 rows x 24 columns]
----Time----
7650
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
149  1  Базаев Кирилл  7500      0     0
150  1  Базаев Кирилл  7550      0     0
151  1  Базаев Кирилл  7600      0     0
152  1  Базаев Кирилл  7650      0     0
153  1  Базаев Кирилл  7700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
149  0    0.852249
Name: Neutral, dtype: float64
150  0    0.852591
Name: Neutral, dtype: float64
151  0    0.850426
Name: Neutral, dtype: float64
152  0    0.847774
Name: Neutral, dtype: float64
153  0    0.844468
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
149  0    8.200000e-08
Name: Happy, dtype: float64
150  0    7.300000e-08
Name: Happy, dtype: float64
151  0    6.050000e-08
Name: Happy, dtype: float64
152  0    5.100000e-08
Name: Happy, dtype: float64
153  0    4.500000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
149  0    0.000004
Name: Sad, dtype: float64
150  0    0.000004
Name: Sad, dtype: float64
151  0    0.000003
Name: Sad, dtype: float64
152  0    0.000003
Name: Sad, dtype: float64
153  0    0.000002
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
149  0    0.000029
Name: Angry, dtype: float64
150  0    0.000025
Name: Angry, dtype: float64
151  0    0.000021
Name: Angry, dtype: float64
152  0    0.000018
Name: Angry, dtype: float64
153  0    0.000016
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
149  0    3.800000e-07
Name: Surprised, dtype: float64  ...
150  0    3.370000e-07
Name: Surprised, dtype: float64  ...
151  0    2.820000e-07
Name: Surprised, dtype: float64  ...
152  0    2.350000e-07
Name: Surprised, dtype: float64  ...
153  0    2.090000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
149  0    0.300808
Name: Arousal, dtype: float64              0
150  0    0.299919
Name: Arousal, dtype: float64              0
151  0    0.298606
Name: Arousal, dtype: float64              0
152  0    0.297282
Name: Arousal, dtype: float64              0
153  0    0.296394
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
149                0        221.0   0          0   0             0         0
150                0          221   0          0   0             0         0
151                0        221.0   0          0   0             0         0
152                0        221.0   0          0   0             0         0
153                0          222   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
149      0
150      0
151      0
152      0
153      0

[154 rows x 24 columns]
----Time----
7700

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
150  1  Базаев Кирилл  7550      0     0
151  1  Базаев Кирилл  7600      0     0
152  1  Базаев Кирилл  7650      0     0
153  1  Базаев Кирилл  7700      0     0
154  1  Базаев Кирилл  7750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
150  0    0.852591
Name: Neutral, dtype: float64
151  0    0.850426
Name: Neutral, dtype: float64
152  0    0.847774
Name: Neutral, dtype: float64
153  0    0.844468
Name: Neutral, dtype: float64
154   0    0.83979
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
150  0    7.300000e-08
Name: Happy, dtype: float64
151  0    6.050000e-08
Name: Happy, dtype: float64
152  0    5.100000e-08
Name: Happy, dtype: float64
153  0    4.500000e-08
Name: Happy, dtype: float64
154  0    4.000000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
150  0    0.000004
Name: Sad, dtype: float64
151  0    0.000003
Name: Sad, dtype: float64
152  0    0.000003
Name: Sad, dtype: float64
153  0    0.000002
Name: Sad, dtype: float64
154  0    0.000002
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
150  0    0.000025
Name: Angry, dtype: float64
151  0    0.000021
Name: Angry, dtype: float64
152  0    0.000018
Name: Angry, dtype: float64
153  0    0.000016
Name: Angry, dtype: float64
154  0    0.000014
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
150  0    3.370000e-07
Name: Surprised, dtype: float64  ...
151  0    2.820000e-07
Name: Surprised, dtype: float64  ...
152  0    2.350000e-07
Name: Surprised, dtype: float64  ...
153  0    2.090000e-07
Name: Surprised, dtype: float64  ...
154  0    1.850000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
150  0    0.299919
Name: Arousal, dtype: float64              0
151  0    0.298606
Name: Arousal, dtype: float64              0
152  0    0.297282
Name: Arousal, dtype: float64              0
153  0    0.296394
Name: Arousal, dtype: float64              0
154  0    0.295504
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
150                0          221   0          0   0             0         0
151                0        221.0   0          0   0             0         0
152                0        221.0   0          0   0             0         0
153                0          222   0          0   0             0         0
154                0        223.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
150      0
151      0
152      0
153      0
154      0

[155 rows x 24 columns]
----Time----
7750
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
151  1  Базаев Кирилл  7600      0     0
152  1  Базаев Кирилл  7650      0     0
153  1  Базаев Кирилл  7700      0     0
154  1  Базаев Кирилл  7750      0     0
155  1  Базаев Кирилл  7800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
151  0    0.850426
Name: Neutral, dtype: float64
152  0    0.847774
Name: Neutral, dtype: float64
153  0    0.844468
Name: Neutral, dtype: float64
154   0    0.83979
Name: Neutral, dtype: float64
155  0    0.830397
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
151  0    6.050000e-08
Name: Happy, dtype: float64
152  0    5.100000e-08
Name: Happy, dtype: float64
153  0    4.500000e-08
Name: Happy, dtype: float64
154  0    4.000000e-08
Name: Happy, dtype: float64
155  0    3.300000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
151  0    0.000003
Name: Sad, dtype: float64
152  0    0.000003
Name: Sad, dtype: float64
153  0    0.000002
Name: Sad, dtype: float64
154  0    0.000002
Name: Sad, dtype: float64
155  0    0.000002
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
151  0    0.000021
Name: Angry, dtype: float64
152  0    0.000018
Name: Angry, dtype: float64
153  0    0.000016
Name: Angry, dtype: float64
154  0    0.000014
Name: Angry, dtype: float64
155  0    0.000012
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
151  0    2.820000e-07
Name: Surprised, dtype: float64  ...
152  0    2.350000e-07
Name: Surprised, dtype: float64  ...
153  0    2.090000e-07
Name: Surprised, dtype: float64  ...
154  0    1.850000e-07
Name: Surprised, dtype: float64  ...
155  0    1.550000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
151  0    0.298606
Name: Arousal, dtype: float64              0
152  0    0.297282
Name: Arousal, dtype: float64              0
153  0    0.296394
Name: Arousal, dtype: float64              0
154  0    0.295504
Name: Arousal, dtype: float64              0
155  0    0.294224
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
151                0        221.0   0          0   0             0         0
152                0        221.0   0          0   0             0         0
153                0          222   0          0   0             0         0
154                0        223.0   0          0   0             0         0
155                0          224   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
151      0
152      0
153      0
154      0
155      0

[156 rows x 24 columns]
----Time----
7800

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
152  1  Базаев Кирилл  7650      0     0
153  1  Базаев Кирилл  7700      0     0
154  1  Базаев Кирилл  7750      0     0
155  1  Базаев Кирилл  7800      0     0
156  1  Базаев Кирилл  7850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
152  0    0.847774
Name: Neutral, dtype: float64
153  0    0.844468
Name: Neutral, dtype: float64
154   0    0.83979
Name: Neutral, dtype: float64
155  0    0.830397
Name: Neutral, dtype: float64
156  0    0.817995
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
152  0    5.100000e-08
Name: Happy, dtype: float64
153  0    4.500000e-08
Name: Happy, dtype: float64
154  0    4.000000e-08
Name: Happy, dtype: float64
155  0    3.300000e-08
Name: Happy, dtype: float64
156  0    2.800000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
152  0    0.000003
Name: Sad, dtype: float64
153  0    0.000002
Name: Sad, dtype: float64
154  0    0.000002
Name: Sad, dtype: float64
155  0    0.000002
Name: Sad, dtype: float64
156  0    0.000001
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
152  0    0.000018
Name: Angry, dtype: float64
153  0    0.000016
Name: Angry, dtype: float64
154  0    0.000014
Name: Angry, dtype: float64
155  0    0.000012
Name: Angry, dtype: float64
156   0    0.00001
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
152  0    2.350000e-07
Name: Surprised, dtype: float64  ...
153  0    2.090000e-07
Name: Surprised, dtype: float64  ...
154  0    1.850000e-07
Name: Surprised, dtype: float64  ...
155  0    1.550000e-07
Name: Surprised, dtype: float64  ...
156  0    1.290000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
152  0    0.297282
Name: Arousal, dtype: float64              0
153  0    0.296394
Name: Arousal, dtype: float64              0
154  0    0.295504
Name: Arousal, dtype: float64              0
155  0    0.294224
Name: Arousal, dtype: float64              0
156  0    0.292991
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
152                0        221.0   0          0   0             0         0
153                0          222   0          0   0             0         0
154                0        223.0   0          0   0             0         0
155                0          224   0          0   0             0         0
156                0        223.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
152      0
153      0
154      0
155      0
156      0

[157 rows x 24 columns]
----Time----
7850
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
153  1  Базаев Кирилл  7700      0     0
154  1  Базаев Кирилл  7750      0     0
155  1  Базаев Кирилл  7800      0     0
156  1  Базаев Кирилл  7850      0     0
157  1  Базаев Кирилл  7900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
153  0    0.844468
Name: Neutral, dtype: float64
154   0    0.83979
Name: Neutral, dtype: float64
155  0    0.830397
Name: Neutral, dtype: float64
156  0    0.817995
Name: Neutral, dtype: float64
157  0    0.806236
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
153  0    4.500000e-08
Name: Happy, dtype: float64
154  0    4.000000e-08
Name: Happy, dtype: float64
155  0    3.300000e-08
Name: Happy, dtype: float64
156  0    2.800000e-08
Name: Happy, dtype: float64
157  0    2.500000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
153  0    0.000002
Name: Sad, dtype: float64
154  0    0.000002
Name: Sad, dtype: float64
155  0    0.000002
Name: Sad, dtype: float64
156  0    0.000001
Name: Sad, dtype: float64
157  0    0.000855
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
153  0    0.000016
Name: Angry, dtype: float64
154  0    0.000014
Name: Angry, dtype: float64
155  0    0.000012
Name: Angry, dtype: float64
156   0    0.00001
Name: Angry, dtype: float64
157  0    0.000009
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
153  0    2.090000e-07
Name: Surprised, dtype: float64  ...
154  0    1.850000e-07
Name: Surprised, dtype: float64  ...
155  0    1.550000e-07
Name: Surprised, dtype: float64  ...
156  0    1.290000e-07
Name: Surprised, dtype: float64  ...
157  0    1.150000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
153  0    0.296394
Name: Arousal, dtype: float64              0
154  0    0.295504
Name: Arousal, dtype: float64              0
155  0    0.294224
Name: Arousal, dtype: float64              0
156  0    0.292991
Name: Arousal, dtype: float64              0
157  0    0.292178
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
153                0          222   0          0   0             0         0
154                0        223.0   0          0   0             0         0
155                0          224   0          0   0             0         0
156                0        223.0   0          0   0             0         0
157                0          220   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
153      0
154      0
155      0
156      0
157      0

[158 rows x 24 columns]
----Time----
7900

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
154  1  Базаев Кирилл  7750      0     0
155  1  Базаев Кирилл  7800      0     0
156  1  Базаев Кирилл  7850      0     0
157  1  Базаев Кирилл  7900      0     0
158  1  Базаев Кирилл  7950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
154   0    0.83979
Name: Neutral, dtype: float64
155  0    0.830397
Name: Neutral, dtype: float64
156  0    0.817995
Name: Neutral, dtype: float64
157  0    0.806236
Name: Neutral, dtype: float64
158  0    0.791785
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
154  0    4.000000e-08
Name: Happy, dtype: float64
155  0    3.300000e-08
Name: Happy, dtype: float64
156  0    2.800000e-08
Name: Happy, dtype: float64
157  0    2.500000e-08
Name: Happy, dtype: float64
158  0    2.200000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
154  0    0.000002
Name: Sad, dtype: float64
155  0    0.000002
Name: Sad, dtype: float64
156  0    0.000001
Name: Sad, dtype: float64
157  0    0.000855
Name: Sad, dtype: float64
158  0    0.003678
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
154  0    0.000014
Name: Angry, dtype: float64
155  0    0.000012
Name: Angry, dtype: float64
156   0    0.00001
Name: Angry, dtype: float64
157  0    0.000009
Name: Angry, dtype: float64
158  0    0.000008
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
154  0    1.850000e-07
Name: Surprised, dtype: float64  ...
155  0    1.550000e-07
Name: Surprised, dtype: float64  ...
156  0    1.290000e-07
Name: Surprised, dtype: float64  ...
157  0    1.150000e-07
Name: Surprised, dtype: float64  ...
158  0    1.020000e-07
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
154  0    0.295504
Name: Arousal, dtype: float64              0
155  0    0.294224
Name: Arousal, dtype: float64              0
156  0    0.292991
Name: Arousal, dtype: float64              0
157  0    0.292178
Name: Arousal, dtype: float64              0
158   0    0.29137
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
154                0        223.0   0          0   0             0         0
155                0          224   0          0   0             0         0
156                0        223.0   0          0   0             0         0
157                0          220   0          0   0             0         0
158                0        219.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
154      0
155      0
156      0
157      0
158      0

[159 rows x 24 columns]
----Time----
7950
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
155  1  Базаев Кирилл  7800      0     0
156  1  Базаев Кирилл  7850      0     0
157  1  Базаев Кирилл  7900      0     0
158  1  Базаев Кирилл  7950      0     0
159  1  Базаев Кирилл  8000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
155  0    0.830397
Name: Neutral, dtype: float64
156  0    0.817995
Name: Neutral, dtype: float64
157  0    0.806236
Name: Neutral, dtype: float64
158  0    0.791785
Name: Neutral, dtype: float64
159  0    0.767416
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
155  0    3.300000e-08
Name: Happy, dtype: float64
156  0    2.800000e-08
Name: Happy, dtype: float64
157  0    2.500000e-08
Name: Happy, dtype: float64
158  0    2.200000e-08
Name: Happy, dtype: float64
159  0    1.800000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
155  0    0.000002
Name: Sad, dtype: float64
156  0    0.000001
Name: Sad, dtype: float64
157  0    0.000855
Name: Sad, dtype: float64
158  0    0.003678
Name: Sad, dtype: float64
159   0    0.01197
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
155  0    0.000012
Name: Angry, dtype: float64
156   0    0.00001
Name: Angry, dtype: float64
157  0    0.000009
Name: Angry, dtype: float64
158  0    0.000008
Name: Angry, dtype: float64
159  0    0.000006
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
155  0    1.550000e-07
Name: Surprised, dtype: float64  ...
156  0    1.290000e-07
Name: Surprised, dtype: float64  ...
157  0    1.150000e-07
Name: Surprised, dtype: float64  ...
158  0    1.020000e-07
Name: Surprised, dtype: float64  ...
159  0    8.500000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
155  0    0.294224
Name: Arousal, dtype: float64              0
156  0    0.292991
Name: Arousal, dtype: float64              0
157  0    0.292178
Name: Arousal, dtype: float64              0
158   0    0.29137
Name: Arousal, dtype: float64              0
159  0    0.290156
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
155                0          224   0          0   0             0         0
156                0        223.0   0          0   0             0         0
157                0          220   0          0   0             0         0
158                0        219.5   0          0   0             0         0
159                0        220.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
155      0
156      0
157      0
158      0
159      0

[160 rows x 24 columns]
----Time----
8000

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
156  1  Базаев Кирилл  7850      0     0
157  1  Базаев Кирилл  7900      0     0
158  1  Базаев Кирилл  7950      0     0
159  1  Базаев Кирилл  8000      0     0
160  1  Базаев Кирилл  8050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
156  0    0.817995
Name: Neutral, dtype: float64
157  0    0.806236
Name: Neutral, dtype: float64
158  0    0.791785
Name: Neutral, dtype: float64
159  0    0.767416
Name: Neutral, dtype: float64
160  0    0.745761
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
156  0    2.800000e-08
Name: Happy, dtype: float64
157  0    2.500000e-08
Name: Happy, dtype: float64
158  0    2.200000e-08
Name: Happy, dtype: float64
159  0    1.800000e-08
Name: Happy, dtype: float64
160  0    1.500000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
156  0    0.000001
Name: Sad, dtype: float64
157  0    0.000855
Name: Sad, dtype: float64
158  0    0.003678
Name: Sad, dtype: float64
159   0    0.01197
Name: Sad, dtype: float64
160   0    0.01944
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
156   0    0.00001
Name: Angry, dtype: float64
157  0    0.000009
Name: Angry, dtype: float64
158  0    0.000008
Name: Angry, dtype: float64
159  0    0.000006
Name: Angry, dtype: float64
160  0    0.000005
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
156  0    1.290000e-07
Name: Surprised, dtype: float64  ...
157  0    1.150000e-07
Name: Surprised, dtype: float64  ...
158  0    1.020000e-07
Name: Surprised, dtype: float64  ...
159  0    8.500000e-08
Name: Surprised, dtype: float64  ...
160  0    7.100000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
156  0    0.292991
Name: Arousal, dtype: float64              0
157  0    0.292178
Name: Arousal, dtype: float64              0
158   0    0.29137
Name: Arousal, dtype: float64              0
159  0    0.290156
Name: Arousal, dtype: float64              0
160  0    0.288977
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
156                0        223.0   0          0   0             0         0
157                0          220   0          0   0             0         0
158                0        219.5   0          0   0             0         0
159                0        220.5   0          0   0             0         0
160                0          221   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
156      0
157      0
158      0
159      0
160      0

[161 rows x 24 columns]
----Time----
8050
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
157  1  Базаев Кирилл  7900      0     0
158  1  Базаев Кирилл  7950      0     0
159  1  Базаев Кирилл  8000      0     0
160  1  Базаев Кирилл  8050      0     0
161  1  Базаев Кирилл  8100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
157  0    0.806236
Name: Neutral, dtype: float64
158  0    0.791785
Name: Neutral, dtype: float64
159  0    0.767416
Name: Neutral, dtype: float64
160  0    0.745761
Name: Neutral, dtype: float64
161  0    0.733194
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
157  0    2.500000e-08
Name: Happy, dtype: float64
158  0    2.200000e-08
Name: Happy, dtype: float64
159  0    1.800000e-08
Name: Happy, dtype: float64
160  0    1.500000e-08
Name: Happy, dtype: float64
161  0    1.400000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
157  0    0.000855
Name: Sad, dtype: float64
158  0    0.003678
Name: Sad, dtype: float64
159   0    0.01197
Name: Sad, dtype: float64
160   0    0.01944
Name: Sad, dtype: float64
161  0    0.022423
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
157  0    0.000009
Name: Angry, dtype: float64
158  0    0.000008
Name: Angry, dtype: float64
159  0    0.000006
Name: Angry, dtype: float64
160  0    0.000005
Name: Angry, dtype: float64
161  0    0.000005
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
157  0    1.150000e-07
Name: Surprised, dtype: float64  ...
158  0    1.020000e-07
Name: Surprised, dtype: float64  ...
159  0    8.500000e-08
Name: Surprised, dtype: float64  ...
160  0    7.100000e-08
Name: Surprised, dtype: float64  ...
161  0    6.300000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
157  0    0.292178
Name: Arousal, dtype: float64              0
158   0    0.29137
Name: Arousal, dtype: float64              0
159  0    0.290156
Name: Arousal, dtype: float64              0
160  0    0.288977
Name: Arousal, dtype: float64              0
161  0    0.288239
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
157                0          220   0          0   0             0         0
158                0        219.5   0          0   0             0         0
159                0        220.5   0          0   0             0         0
160                0          221   0          0   0             0         0
161                0        221.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
157      0
158      0
159      0
160      0
161      0

[162 rows x 24 columns]
----Time----
8100

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
158  1  Базаев Кирилл  7950      0     0
159  1  Базаев Кирилл  8000      0     0
160  1  Базаев Кирилл  8050      0     0
161  1  Базаев Кирилл  8100      0     0
162  1  Базаев Кирилл  8150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
158  0    0.791785
Name: Neutral, dtype: float64
159  0    0.767416
Name: Neutral, dtype: float64
160  0    0.745761
Name: Neutral, dtype: float64
161  0    0.733194
Name: Neutral, dtype: float64
162  0    0.721257
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
158  0    2.200000e-08
Name: Happy, dtype: float64
159  0    1.800000e-08
Name: Happy, dtype: float64
160  0    1.500000e-08
Name: Happy, dtype: float64
161  0    1.400000e-08
Name: Happy, dtype: float64
162  0    1.200000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
158  0    0.003678
Name: Sad, dtype: float64
159   0    0.01197
Name: Sad, dtype: float64
160   0    0.01944
Name: Sad, dtype: float64
161  0    0.022423
Name: Sad, dtype: float64
162  0    0.025101
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
158  0    0.000008
Name: Angry, dtype: float64
159  0    0.000006
Name: Angry, dtype: float64
160  0    0.000005
Name: Angry, dtype: float64
161  0    0.000005
Name: Angry, dtype: float64
162  0    0.000004
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
158  0    1.020000e-07
Name: Surprised, dtype: float64  ...
159  0    8.500000e-08
Name: Surprised, dtype: float64  ...
160  0    7.100000e-08
Name: Surprised, dtype: float64  ...
161  0    6.300000e-08
Name: Surprised, dtype: float64  ...
162  0    5.600000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
158   0    0.29137
Name: Arousal, dtype: float64              0
159  0    0.290156
Name: Arousal, dtype: float64              0
160  0    0.288977
Name: Arousal, dtype: float64              0
161  0    0.288239
Name: Arousal, dtype: float64              0
162  0    0.287543
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
158                0        219.5   0          0   0             0         0
159                0        220.5   0          0   0             0         0
160                0          221   0          0   0             0         0
161                0        221.0   0          0   0             0         0
162                0          222   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
158      0
159      0
160      0
161      0
162      0

[163 rows x 24 columns]
----Time----
8150
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
159  1  Базаев Кирилл  8000      0     0
160  1  Базаев Кирилл  8050      0     0
161  1  Базаев Кирилл  8100      0     0
162  1  Базаев Кирилл  8150      0     0
163  1  Базаев Кирилл  8200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
159  0    0.767416
Name: Neutral, dtype: float64
160  0    0.745761
Name: Neutral, dtype: float64
161  0    0.733194
Name: Neutral, dtype: float64
162  0    0.721257
Name: Neutral, dtype: float64
163  0    0.706358
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
159  0    1.800000e-08
Name: Happy, dtype: float64
160  0    1.500000e-08
Name: Happy, dtype: float64
161  0    1.400000e-08
Name: Happy, dtype: float64
162  0    1.200000e-08
Name: Happy, dtype: float64
163  0    1.000000e-08
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
159   0    0.01197
Name: Sad, dtype: float64
160   0    0.01944
Name: Sad, dtype: float64
161  0    0.022423
Name: Sad, dtype: float64
162  0    0.025101
Name: Sad, dtype: float64
163  0    0.026442
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
159  0    0.000006
Name: Angry, dtype: float64
160  0    0.000005
Name: Angry, dtype: float64
161  0    0.000005
Name: Angry, dtype: float64
162  0    0.000004
Name: Angry, dtype: float64
163  0    0.000004
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
159  0    8.500000e-08
Name: Surprised, dtype: float64  ...
160  0    7.100000e-08
Name: Surprised, dtype: float64  ...
161  0    6.300000e-08
Name: Surprised, dtype: float64  ...
162  0    5.600000e-08
Name: Surprised, dtype: float64  ...
163  0    4.700000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
159  0    0.290156
Name: Arousal, dtype: float64              0
160  0    0.288977
Name: Arousal, dtype: float64              0
161  0    0.288239
Name: Arousal, dtype: float64              0
162  0    0.287543
Name: Arousal, dtype: float64              0
163    0    0.2866
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
159                0        220.5   0          0   0             0         0
160                0          221   0          0   0             0         0
161                0        221.0   0          0   0             0         0
162                0          222   0          0   0             0         0
163                0        223.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
159      0
160      0
161      0
162      0
163      0

[164 rows x 24 columns]
----Time----
8200

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
160  1  Базаев Кирилл  8050      0     0
161  1  Базаев Кирилл  8100      0     0
162  1  Базаев Кирилл  8150      0     0
163  1  Базаев Кирилл  8200      0     0
164  1  Базаев Кирилл  8250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
160  0    0.745761
Name: Neutral, dtype: float64
161  0    0.733194
Name: Neutral, dtype: float64
162  0    0.721257
Name: Neutral, dtype: float64
163  0    0.706358
Name: Neutral, dtype: float64
164  0    0.698076
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
160  0    1.500000e-08
Name: Happy, dtype: float64
161  0    1.400000e-08
Name: Happy, dtype: float64
162  0    1.200000e-08
Name: Happy, dtype: float64
163  0    1.000000e-08
Name: Happy, dtype: float64
164  0    8.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
160   0    0.01944
Name: Sad, dtype: float64
161  0    0.022423
Name: Sad, dtype: float64
162  0    0.025101
Name: Sad, dtype: float64
163  0    0.026442
Name: Sad, dtype: float64
164  0    0.027441
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
160  0    0.000005
Name: Angry, dtype: float64
161  0    0.000005
Name: Angry, dtype: float64
162  0    0.000004
Name: Angry, dtype: float64
163  0    0.000004
Name: Angry, dtype: float64
164  0    0.000003
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
160  0    7.100000e-08
Name: Surprised, dtype: float64  ...
161  0    6.300000e-08
Name: Surprised, dtype: float64  ...
162  0    5.600000e-08
Name: Surprised, dtype: float64  ...
163  0    4.700000e-08
Name: Surprised, dtype: float64  ...
164  0    3.900000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
160  0    0.288977
Name: Arousal, dtype: float64              0
161  0    0.288239
Name: Arousal, dtype: float64              0
162  0    0.287543
Name: Arousal, dtype: float64              0
163    0    0.2866
Name: Arousal, dtype: float64              0
164  0    0.285694
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
160                0          221   0          0   0             0         0
161                0        221.0   0          0   0             0         0
162                0          222   0          0   0             0         0
163                0        223.5   0          0   0             0         0
164                0          224   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
160      0
161      0
162      0
163      0
164      0

[165 rows x 24 columns]
----Time----
8250
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
161  1  Базаев Кирилл  8100      0     0
162  1  Базаев Кирилл  8150      0     0
163  1  Базаев Кирилл  8200      0     0
164  1  Базаев Кирилл  8250      0     0
165  1  Базаев Кирилл  8300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
161  0    0.733194
Name: Neutral, dtype: float64
162  0    0.721257
Name: Neutral, dtype: float64
163  0    0.706358
Name: Neutral, dtype: float64
164  0    0.698076
Name: Neutral, dtype: float64
165  0    0.695493
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
161  0    1.400000e-08
Name: Happy, dtype: float64
162  0    1.200000e-08
Name: Happy, dtype: float64
163  0    1.000000e-08
Name: Happy, dtype: float64
164  0    8.000000e-09
Name: Happy, dtype: float64
165  0    7.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
161  0    0.022423
Name: Sad, dtype: float64
162  0    0.025101
Name: Sad, dtype: float64
163  0    0.026442
Name: Sad, dtype: float64
164  0    0.027441
Name: Sad, dtype: float64
165  0    0.027733
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
161  0    0.000005
Name: Angry, dtype: float64
162  0    0.000004
Name: Angry, dtype: float64
163  0    0.000004
Name: Angry, dtype: float64
164  0    0.000003
Name: Angry, dtype: float64
165  0    0.000003
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
161  0    6.300000e-08
Name: Surprised, dtype: float64  ...
162  0    5.600000e-08
Name: Surprised, dtype: float64  ...
163  0    4.700000e-08
Name: Surprised, dtype: float64  ...
164  0    3.900000e-08
Name: Surprised, dtype: float64  ...
165  0    3.500000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
161  0    0.288239
Name: Arousal, dtype: float64              0
162  0    0.287543
Name: Arousal, dtype: float64              0
163    0    0.2866
Name: Arousal, dtype: float64              0
164  0    0.285694
Name: Arousal, dtype: float64              0
165  0    0.285112
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
161                0        221.0   0          0   0             0         0
162                0          222   0          0   0             0         0
163                0        223.5   0          0   0             0         0
164                0          224   0          0   0             0         0
165                0        222.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
161      0
162      0
163      0
164      0
165      0

[166 rows x 24 columns]
----Time----
8300

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
162  1  Базаев Кирилл  8150      0     0
163  1  Базаев Кирилл  8200      0     0
164  1  Базаев Кирилл  8250      0     0
165  1  Базаев Кирилл  8300      0     0
166  1  Базаев Кирилл  8350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
162  0    0.721257
Name: Neutral, dtype: float64
163  0    0.706358
Name: Neutral, dtype: float64
164  0    0.698076
Name: Neutral, dtype: float64
165  0    0.695493
Name: Neutral, dtype: float64
166  0    0.691712
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
162  0    1.200000e-08
Name: Happy, dtype: float64
163  0    1.000000e-08
Name: Happy, dtype: float64
164  0    8.000000e-09
Name: Happy, dtype: float64
165  0    7.000000e-09
Name: Happy, dtype: float64
166  0    7.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
162  0    0.025101
Name: Sad, dtype: float64
163  0    0.026442
Name: Sad, dtype: float64
164  0    0.027441
Name: Sad, dtype: float64
165  0    0.027733
Name: Sad, dtype: float64
166  0    0.030114
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
162  0    0.000004
Name: Angry, dtype: float64
163  0    0.000004
Name: Angry, dtype: float64
164  0    0.000003
Name: Angry, dtype: float64
165  0    0.000003
Name: Angry, dtype: float64
166  0    0.000002
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
162  0    5.600000e-08
Name: Surprised, dtype: float64  ...
163  0    4.700000e-08
Name: Surprised, dtype: float64  ...
164  0    3.900000e-08
Name: Surprised, dtype: float64  ...
165  0    3.500000e-08
Name: Surprised, dtype: float64  ...
166  0    3.100000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
162  0    0.287543
Name: Arousal, dtype: float64              0
163    0    0.2866
Name: Arousal, dtype: float64              0
164  0    0.285694
Name: Arousal, dtype: float64              0
165  0    0.285112
Name: Arousal, dtype: float64              0
166  0    0.284547
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
162                0          222   0          0   0             0         0
163                0        223.5   0          0   0             0         0
164                0          224   0          0   0             0         0
165                0        222.0   0          0   0             0         0
166                0          220   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
162      0
163      0
164      0
165      0
166      0

[167 rows x 24 columns]
----Time----
8350
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
163  1  Базаев Кирилл  8200      0     0
164  1  Базаев Кирилл  8250      0     0
165  1  Базаев Кирилл  8300      0     0
166  1  Базаев Кирилл  8350      0     0
167  1  Базаев Кирилл  8400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
163  0    0.706358
Name: Neutral, dtype: float64
164  0    0.698076
Name: Neutral, dtype: float64
165  0    0.695493
Name: Neutral, dtype: float64
166  0    0.691712
Name: Neutral, dtype: float64
167  0    0.692789
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
163  0    1.000000e-08
Name: Happy, dtype: float64
164  0    8.000000e-09
Name: Happy, dtype: float64
165  0    7.000000e-09
Name: Happy, dtype: float64
166  0    7.000000e-09
Name: Happy, dtype: float64
167  0    5.500000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
163  0    0.026442
Name: Sad, dtype: float64
164  0    0.027441
Name: Sad, dtype: float64
165  0    0.027733
Name: Sad, dtype: float64
166  0    0.030114
Name: Sad, dtype: float64
167   0    0.03185
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
163  0    0.000004
Name: Angry, dtype: float64
164  0    0.000003
Name: Angry, dtype: float64
165  0    0.000003
Name: Angry, dtype: float64
166  0    0.000002
Name: Angry, dtype: float64
167  0    0.000002
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
163  0    4.700000e-08
Name: Surprised, dtype: float64  ...
164  0    3.900000e-08
Name: Surprised, dtype: float64  ...
165  0    3.500000e-08
Name: Surprised, dtype: float64  ...
166  0    3.100000e-08
Name: Surprised, dtype: float64  ...
167  0    2.550000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
163    0    0.2866
Name: Arousal, dtype: float64              0
164  0    0.285694
Name: Arousal, dtype: float64              0
165  0    0.285112
Name: Arousal, dtype: float64              0
166  0    0.284547
Name: Arousal, dtype: float64              0
167  0    0.283723
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
163                0        223.5   0          0   0             0         0
164                0          224   0          0   0             0         0
165                0        222.0   0          0   0             0         0
166                0          220   0          0   0             0         0
167                0        221.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
163      0
164      0
165      0
166      0
167      0

[168 rows x 24 columns]
----Time----
8400

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
164  1  Базаев Кирилл  8250      0     0
165  1  Базаев Кирилл  8300      0     0
166  1  Базаев Кирилл  8350      0     0
167  1  Базаев Кирилл  8400      0     0
168  1  Базаев Кирилл  8450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
164  0    0.698076
Name: Neutral, dtype: float64
165  0    0.695493
Name: Neutral, dtype: float64
166  0    0.691712
Name: Neutral, dtype: float64
167  0    0.692789
Name: Neutral, dtype: float64
168  0    0.696248
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
164  0    8.000000e-09
Name: Happy, dtype: float64
165  0    7.000000e-09
Name: Happy, dtype: float64
166  0    7.000000e-09
Name: Happy, dtype: float64
167  0    5.500000e-09
Name: Happy, dtype: float64
168  0    5.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
164  0    0.027441
Name: Sad, dtype: float64
165  0    0.027733
Name: Sad, dtype: float64
166  0    0.030114
Name: Sad, dtype: float64
167   0    0.03185
Name: Sad, dtype: float64
168  0    0.031842
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
164  0    0.000003
Name: Angry, dtype: float64
165  0    0.000003
Name: Angry, dtype: float64
166  0    0.000002
Name: Angry, dtype: float64
167  0    0.000002
Name: Angry, dtype: float64
168  0    0.000002
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
164  0    3.900000e-08
Name: Surprised, dtype: float64  ...
165  0    3.500000e-08
Name: Surprised, dtype: float64  ...
166  0    3.100000e-08
Name: Surprised, dtype: float64  ...
167  0    2.550000e-08
Name: Surprised, dtype: float64  ...
168  0    2.100000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
164  0    0.285694
Name: Arousal, dtype: float64              0
165  0    0.285112
Name: Arousal, dtype: float64              0
166  0    0.284547
Name: Arousal, dtype: float64              0
167  0    0.283723
Name: Arousal, dtype: float64              0
168  0    0.282942
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
164                0          224   0          0   0             0         0
165                0        222.0   0          0   0             0         0
166                0          220   0          0   0             0         0
167                0        221.5   0          0   0             0         0
168                0        223.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
164      0
165      0
166      0
167      0
168      0

[169 rows x 24 columns]
----Time----
8450
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
165  1  Базаев Кирилл  8300      0     0
166  1  Базаев Кирилл  8350      0     0
167  1  Базаев Кирилл  8400      0     0
168  1  Базаев Кирилл  8450      0     0
169  1  Базаев Кирилл  8500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
165  0    0.695493
Name: Neutral, dtype: float64
166  0    0.691712
Name: Neutral, dtype: float64
167  0    0.692789
Name: Neutral, dtype: float64
168  0    0.696248
Name: Neutral, dtype: float64
169  0    0.696547
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
165  0    7.000000e-09
Name: Happy, dtype: float64
166  0    7.000000e-09
Name: Happy, dtype: float64
167  0    5.500000e-09
Name: Happy, dtype: float64
168  0    5.000000e-09
Name: Happy, dtype: float64
169  0    4.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
165  0    0.027733
Name: Sad, dtype: float64
166  0    0.030114
Name: Sad, dtype: float64
167   0    0.03185
Name: Sad, dtype: float64
168  0    0.031842
Name: Sad, dtype: float64
169  0    0.031591
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
165  0    0.000003
Name: Angry, dtype: float64
166  0    0.000002
Name: Angry, dtype: float64
167  0    0.000002
Name: Angry, dtype: float64
168  0    0.000002
Name: Angry, dtype: float64
169  0    0.000001
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
165  0    3.500000e-08
Name: Surprised, dtype: float64  ...
166  0    3.100000e-08
Name: Surprised, dtype: float64  ...
167  0    2.550000e-08
Name: Surprised, dtype: float64  ...
168  0    2.100000e-08
Name: Surprised, dtype: float64  ...
169  0    1.900000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
165  0    0.285112
Name: Arousal, dtype: float64              0
166  0    0.284547
Name: Arousal, dtype: float64              0
167  0    0.283723
Name: Arousal, dtype: float64              0
168  0    0.282942
Name: Arousal, dtype: float64              0
169  0    0.282465
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
165                0        222.0   0          0   0             0         0
166                0          220   0          0   0             0         0
167                0        221.5   0          0   0             0         0
168                0        223.0   0          0   0             0         0
169                0          223   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
165      0
166      0
167      0
168      0
169      0

[170 rows x 24 columns]
----Time----
8500

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
166  1  Базаев Кирилл  8350      0     0
167  1  Базаев Кирилл  8400      0     0
168  1  Базаев Кирилл  8450      0     0
169  1  Базаев Кирилл  8500      0     0
170  1  Базаев Кирилл  8550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
166  0    0.691712
Name: Neutral, dtype: float64
167  0    0.692789
Name: Neutral, dtype: float64
168  0    0.696248
Name: Neutral, dtype: float64
169  0    0.696547
Name: Neutral, dtype: float64
170  0    0.696531
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
166  0    7.000000e-09
Name: Happy, dtype: float64
167  0    5.500000e-09
Name: Happy, dtype: float64
168  0    5.000000e-09
Name: Happy, dtype: float64
169  0    4.000000e-09
Name: Happy, dtype: float64
170  0    4.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
166  0    0.030114
Name: Sad, dtype: float64
167   0    0.03185
Name: Sad, dtype: float64
168  0    0.031842
Name: Sad, dtype: float64
169  0    0.031591
Name: Sad, dtype: float64
170   0    0.03165
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
166  0    0.000002
Name: Angry, dtype: float64
167  0    0.000002
Name: Angry, dtype: float64
168  0    0.000002
Name: Angry, dtype: float64
169  0    0.000001
Name: Angry, dtype: float64
170  0    0.000001
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
166  0    3.100000e-08
Name: Surprised, dtype: float64  ...
167  0    2.550000e-08
Name: Surprised, dtype: float64  ...
168  0    2.100000e-08
Name: Surprised, dtype: float64  ...
169  0    1.900000e-08
Name: Surprised, dtype: float64  ...
170  0    1.700000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
166  0    0.284547
Name: Arousal, dtype: float64              0
167  0    0.283723
Name: Arousal, dtype: float64              0
168  0    0.282942
Name: Arousal, dtype: float64              0
169  0    0.282465
Name: Arousal, dtype: float64              0
170  0    0.282033
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
166                0          220   0          0   0             0         0
167                0        221.5   0          0   0             0         0
168                0        223.0   0          0   0             0         0
169                0          223   0          0   0             0         0
170                0        224.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
166      0
167      0
168      0
169      0
170      0

[171 rows x 24 columns]
----Time----
8550
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
167  1  Базаев Кирилл  8400      0     0
168  1  Базаев Кирилл  8450      0     0
169  1  Базаев Кирилл  8500      0     0
170  1  Базаев Кирилл  8550      0     0
171  1  Базаев Кирилл  8600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
167  0    0.692789
Name: Neutral, dtype: float64
168  0    0.696248
Name: Neutral, dtype: float64
169  0    0.696547
Name: Neutral, dtype: float64
170  0    0.696531
Name: Neutral, dtype: float64
171  0    0.698358
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
167  0    5.500000e-09
Name: Happy, dtype: float64
168  0    5.000000e-09
Name: Happy, dtype: float64
169  0    4.000000e-09
Name: Happy, dtype: float64
170  0    4.000000e-09
Name: Happy, dtype: float64
171  0    3.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
167   0    0.03185
Name: Sad, dtype: float64
168  0    0.031842
Name: Sad, dtype: float64
169  0    0.031591
Name: Sad, dtype: float64
170   0    0.03165
Name: Sad, dtype: float64
171  0    0.029829
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
167  0    0.000002
Name: Angry, dtype: float64
168  0    0.000002
Name: Angry, dtype: float64
169  0    0.000001
Name: Angry, dtype: float64
170  0    0.000001
Name: Angry, dtype: float64
171  0    0.000001
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
167  0    2.550000e-08
Name: Surprised, dtype: float64  ...
168  0    2.100000e-08
Name: Surprised, dtype: float64  ...
169  0    1.900000e-08
Name: Surprised, dtype: float64  ...
170  0    1.700000e-08
Name: Surprised, dtype: float64  ...
171  0    1.400000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
167  0    0.283723
Name: Arousal, dtype: float64              0
168  0    0.282942
Name: Arousal, dtype: float64              0
169  0    0.282465
Name: Arousal, dtype: float64              0
170  0    0.282033
Name: Arousal, dtype: float64              0
171   0    0.28141
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
167                0        221.5   0          0   0             0         0
168                0        223.0   0          0   0             0         0
169                0          223   0          0   0             0         0
170                0        224.5   0          0   0             0         0
171                0          225   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
167      0
168      0
169      0
170      0
171      0

[172 rows x 24 columns]
----Time----
8600

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
168  1  Базаев Кирилл  8450      0     0
169  1  Базаев Кирилл  8500      0     0
170  1  Базаев Кирилл  8550      0     0
171  1  Базаев Кирилл  8600      0     0
172  1  Базаев Кирилл  8650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
168  0    0.696248
Name: Neutral, dtype: float64
169  0    0.696547
Name: Neutral, dtype: float64
170  0    0.696531
Name: Neutral, dtype: float64
171  0    0.698358
Name: Neutral, dtype: float64
172  0    0.703371
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
168  0    5.000000e-09
Name: Happy, dtype: float64
169  0    4.000000e-09
Name: Happy, dtype: float64
170  0    4.000000e-09
Name: Happy, dtype: float64
171  0    3.000000e-09
Name: Happy, dtype: float64
172  0    3.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
168  0    0.031842
Name: Sad, dtype: float64
169  0    0.031591
Name: Sad, dtype: float64
170   0    0.03165
Name: Sad, dtype: float64
171  0    0.029829
Name: Sad, dtype: float64
172  0    0.027167
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
168      0    0.000002
Name: Angry, dtype: float64
169      0    0.000001
Name: Angry, dtype: float64
170      0    0.000001
Name: Angry, dtype: float64
171      0    0.000001
Name: Angry, dtype: float64
172  0    8.850000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
168  0    2.100000e-08
Name: Surprised, dtype: float64  ...
169  0    1.900000e-08
Name: Surprised, dtype: float64  ...
170  0    1.700000e-08
Name: Surprised, dtype: float64  ...
171  0    1.400000e-08
Name: Surprised, dtype: float64  ...
172  0    1.200000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
168  0    0.282942
Name: Arousal, dtype: float64              0
169  0    0.282465
Name: Arousal, dtype: float64              0
170  0    0.282033
Name: Arousal, dtype: float64              0
171   0    0.28141
Name: Arousal, dtype: float64              0
172  0    0.280813
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
168                0        223.0   0          0   0             0         0
169                0          223   0          0   0             0         0
170                0        224.5   0          0   0             0         0
171                0          225   0          0   0             0         0
172                0        224.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
168      0
169      0
170      0
171      0
172      0

[173 rows x 24 columns]
----Time----
8650
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
169  1  Базаев Кирилл  8500      0     0
170  1  Базаев Кирилл  8550      0     0
171  1  Базаев Кирилл  8600      0     0
172  1  Базаев Кирилл  8650      0     0
173  1  Базаев Кирилл  8700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
169  0    0.696547
Name: Neutral, dtype: float64
170  0    0.696531
Name: Neutral, dtype: float64
171  0    0.698358
Name: Neutral, dtype: float64
172  0    0.703371
Name: Neutral, dtype: float64
173  0    0.708719
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
169  0    4.000000e-09
Name: Happy, dtype: float64
170  0    4.000000e-09
Name: Happy, dtype: float64
171  0    3.000000e-09
Name: Happy, dtype: float64
172  0    3.000000e-09
Name: Happy, dtype: float64
173  0    2.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
169  0    0.031591
Name: Sad, dtype: float64
170   0    0.03165
Name: Sad, dtype: float64
171  0    0.029829
Name: Sad, dtype: float64
172  0    0.027167
Name: Sad, dtype: float64
173  0    0.025395
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
169      0    0.000001
Name: Angry, dtype: float64
170      0    0.000001
Name: Angry, dtype: float64
171      0    0.000001
Name: Angry, dtype: float64
172  0    8.850000e-07
Name: Angry, dtype: float64
173  0    7.850000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
169  0    1.900000e-08
Name: Surprised, dtype: float64  ...
170  0    1.700000e-08
Name: Surprised, dtype: float64  ...
171  0    1.400000e-08
Name: Surprised, dtype: float64  ...
172  0    1.200000e-08
Name: Surprised, dtype: float64  ...
173  0    1.000000e-08
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
169  0    0.282465
Name: Arousal, dtype: float64              0
170  0    0.282033
Name: Arousal, dtype: float64              0
171   0    0.28141
Name: Arousal, dtype: float64              0
172  0    0.280813
Name: Arousal, dtype: float64              0
173  0    0.280395
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
169                0          223   0          0   0             0         0
170                0        224.5   0          0   0             0         0
171                0          225   0          0   0             0         0
172                0        224.5   0          0   0             0         0
173                0          223   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
169      0
170      0
171      0
172      0
173      0

[174 rows x 24 columns]
----Time----
8700

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
170  1  Базаев Кирилл  8550      0     0
171  1  Базаев Кирилл  8600      0     0
172  1  Базаев Кирилл  8650      0     0
173  1  Базаев Кирилл  8700      0     0
174  1  Базаев Кирилл  8750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
170  0    0.696531
Name: Neutral, dtype: float64
171  0    0.698358
Name: Neutral, dtype: float64
172  0    0.703371
Name: Neutral, dtype: float64
173  0    0.708719
Name: Neutral, dtype: float64
174  0    0.713051
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
170  0    4.000000e-09
Name: Happy, dtype: float64
171  0    3.000000e-09
Name: Happy, dtype: float64
172  0    3.000000e-09
Name: Happy, dtype: float64
173  0    2.000000e-09
Name: Happy, dtype: float64
174  0    2.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
170   0    0.03165
Name: Sad, dtype: float64
171  0    0.029829
Name: Sad, dtype: float64
172  0    0.027167
Name: Sad, dtype: float64
173  0    0.025395
Name: Sad, dtype: float64
174  0    0.023838
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
170      0    0.000001
Name: Angry, dtype: float64
171      0    0.000001
Name: Angry, dtype: float64
172  0    8.850000e-07
Name: Angry, dtype: float64
173  0    7.850000e-07
Name: Angry, dtype: float64
174  0    6.960000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
170  0    1.700000e-08
Name: Surprised, dtype: float64  ...
171  0    1.400000e-08
Name: Surprised, dtype: float64  ...
172  0    1.200000e-08
Name: Surprised, dtype: float64  ...
173  0    1.000000e-08
Name: Surprised, dtype: float64  ...
174  0    9.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
170  0    0.282033
Name: Arousal, dtype: float64              0
171   0    0.28141
Name: Arousal, dtype: float64              0
172  0    0.280813
Name: Arousal, dtype: float64              0
173  0    0.280395
Name: Arousal, dtype: float64              0
174  0    0.280004
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
170                0        224.5   0          0   0             0         0
171                0          225   0          0   0             0         0
172                0        224.5   0          0   0             0         0
173                0          223   0          0   0             0         0
174                0        222.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
170      0
171      0
172      0
173      0
174      0

[175 rows x 24 columns]
----Time----
8750
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
171  1  Базаев Кирилл  8600      0     0
172  1  Базаев Кирилл  8650      0     0
173  1  Базаев Кирилл  8700      0     0
174  1  Базаев Кирилл  8750      0     0
175  1  Базаев Кирилл  8800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
171  0    0.698358
Name: Neutral, dtype: float64
172  0    0.703371
Name: Neutral, dtype: float64
173  0    0.708719
Name: Neutral, dtype: float64
174  0    0.713051
Name: Neutral, dtype: float64
175  0    0.722576
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
171  0    3.000000e-09
Name: Happy, dtype: float64
172  0    3.000000e-09
Name: Happy, dtype: float64
173  0    2.000000e-09
Name: Happy, dtype: float64
174  0    2.000000e-09
Name: Happy, dtype: float64
175  0    2.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
171  0    0.029829
Name: Sad, dtype: float64
172  0    0.027167
Name: Sad, dtype: float64
173  0    0.025395
Name: Sad, dtype: float64
174  0    0.023838
Name: Sad, dtype: float64
175  0    0.020541
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
171      0    0.000001
Name: Angry, dtype: float64
172  0    8.850000e-07
Name: Angry, dtype: float64
173  0    7.850000e-07
Name: Angry, dtype: float64
174  0    6.960000e-07
Name: Angry, dtype: float64
175  0    5.830000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
171  0    1.400000e-08
Name: Surprised, dtype: float64  ...
172  0    1.200000e-08
Name: Surprised, dtype: float64  ...
173  0    1.000000e-08
Name: Surprised, dtype: float64  ...
174  0    9.000000e-09
Name: Surprised, dtype: float64  ...
175  0    7.500000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
171   0    0.28141
Name: Arousal, dtype: float64              0
172  0    0.280813
Name: Arousal, dtype: float64              0
173  0    0.280395
Name: Arousal, dtype: float64              0
174  0    0.280004
Name: Arousal, dtype: float64              0
175  0    0.279402
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
171                0          225   0          0   0             0         0
172                0        224.5   0          0   0             0         0
173                0          223   0          0   0             0         0
174                0        222.5   0          0   0             0         0
175                0        224.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
171      0
172      0
173      0
174      0
175      0

[176 rows x 24 columns]
----Time----
8800

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
172  1  Базаев Кирилл  8650      0     0
173  1  Базаев Кирилл  8700      0     0
174  1  Базаев Кирилл  8750      0     0
175  1  Базаев Кирилл  8800      0     0
176  1  Базаев Кирилл  8850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
172  0    0.703371
Name: Neutral, dtype: float64
173  0    0.708719
Name: Neutral, dtype: float64
174  0    0.713051
Name: Neutral, dtype: float64
175  0    0.722576
Name: Neutral, dtype: float64
176  0    0.733245
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
172  0    3.000000e-09
Name: Happy, dtype: float64
173  0    2.000000e-09
Name: Happy, dtype: float64
174  0    2.000000e-09
Name: Happy, dtype: float64
175  0    2.000000e-09
Name: Happy, dtype: float64
176  0    1.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
172  0    0.027167
Name: Sad, dtype: float64
173  0    0.025395
Name: Sad, dtype: float64
174  0    0.023838
Name: Sad, dtype: float64
175  0    0.020541
Name: Sad, dtype: float64
176  0    0.017194
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
172  0    8.850000e-07
Name: Angry, dtype: float64
173  0    7.850000e-07
Name: Angry, dtype: float64
174  0    6.960000e-07
Name: Angry, dtype: float64
175  0    5.830000e-07
Name: Angry, dtype: float64
176  0    4.860000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
172  0    1.200000e-08
Name: Surprised, dtype: float64  ...
173  0    1.000000e-08
Name: Surprised, dtype: float64  ...
174  0    9.000000e-09
Name: Surprised, dtype: float64  ...
175  0    7.500000e-09
Name: Surprised, dtype: float64  ...
176  0    6.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
172  0    0.280813
Name: Arousal, dtype: float64              0
173  0    0.280395
Name: Arousal, dtype: float64              0
174  0    0.280004
Name: Arousal, dtype: float64              0
175  0    0.279402
Name: Arousal, dtype: float64              0
176    0    0.2788
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
172                0        224.5   0          0   0             0         0
173                0          223   0          0   0             0         0
174                0        222.5   0          0   0             0         0
175                0        224.0   0          0   0             0         0
176                0          224   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
172      0
173      0
174      0
175      0
176      0

[177 rows x 24 columns]
----Time----
8850
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
173  1  Базаев Кирилл  8700      0     0
174  1  Базаев Кирилл  8750      0     0
175  1  Базаев Кирилл  8800      0     0
176  1  Базаев Кирилл  8850      0     0
177  1  Базаев Кирилл  8900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
173  0    0.708719
Name: Neutral, dtype: float64
174  0    0.713051
Name: Neutral, dtype: float64
175  0    0.722576
Name: Neutral, dtype: float64
176  0    0.733245
Name: Neutral, dtype: float64
177  0    0.740537
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
173  0    2.000000e-09
Name: Happy, dtype: float64
174  0    2.000000e-09
Name: Happy, dtype: float64
175  0    2.000000e-09
Name: Happy, dtype: float64
176  0    1.000000e-09
Name: Happy, dtype: float64
177  0    1.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
173  0    0.025395
Name: Sad, dtype: float64
174  0    0.023838
Name: Sad, dtype: float64
175  0    0.020541
Name: Sad, dtype: float64
176  0    0.017194
Name: Sad, dtype: float64
177  0    0.015252
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
173  0    7.850000e-07
Name: Angry, dtype: float64
174  0    6.960000e-07
Name: Angry, dtype: float64
175  0    5.830000e-07
Name: Angry, dtype: float64
176  0    4.860000e-07
Name: Angry, dtype: float64
177  0    4.310000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
173  0    1.000000e-08
Name: Surprised, dtype: float64  ...
174  0    9.000000e-09
Name: Surprised, dtype: float64  ...
175  0    7.500000e-09
Name: Surprised, dtype: float64  ...
176  0    6.000000e-09
Name: Surprised, dtype: float64  ...
177  0    6.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
173  0    0.280395
Name: Arousal, dtype: float64              0
174  0    0.280004
Name: Arousal, dtype: float64              0
175  0    0.279402
Name: Arousal, dtype: float64              0
176    0    0.2788
Name: Arousal, dtype: float64              0
177  0    0.278414
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
173                0          223   0          0   0             0         0
174                0        222.5   0          0   0             0         0
175                0        224.0   0          0   0             0         0
176                0          224   0          0   0             0         0
177                0        224.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
173      0
174      0
175      0
176      0
177      0

[178 rows x 24 columns]
----Time----
8900

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
174  1  Базаев Кирилл  8750      0     0
175  1  Базаев Кирилл  8800      0     0
176  1  Базаев Кирилл  8850      0     0
177  1  Базаев Кирилл  8900      0     0
178  1  Базаев Кирилл  8950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
174  0    0.713051
Name: Neutral, dtype: float64
175  0    0.722576
Name: Neutral, dtype: float64
176  0    0.733245
Name: Neutral, dtype: float64
177  0    0.740537
Name: Neutral, dtype: float64
178  0    0.748497
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
174  0    2.000000e-09
Name: Happy, dtype: float64
175  0    2.000000e-09
Name: Happy, dtype: float64
176  0    1.000000e-09
Name: Happy, dtype: float64
177  0    1.000000e-09
Name: Happy, dtype: float64
178  0    1.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
174  0    0.023838
Name: Sad, dtype: float64
175  0    0.020541
Name: Sad, dtype: float64
176  0    0.017194
Name: Sad, dtype: float64
177  0    0.015252
Name: Sad, dtype: float64
178   0    0.01353
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
174  0    6.960000e-07
Name: Angry, dtype: float64
175  0    5.830000e-07
Name: Angry, dtype: float64
176  0    4.860000e-07
Name: Angry, dtype: float64
177  0    4.310000e-07
Name: Angry, dtype: float64
178  0    3.820000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
174  0    9.000000e-09
Name: Surprised, dtype: float64  ...
175  0    7.500000e-09
Name: Surprised, dtype: float64  ...
176  0    6.000000e-09
Name: Surprised, dtype: float64  ...
177  0    6.000000e-09
Name: Surprised, dtype: float64  ...
178  0    5.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
174  0    0.280004
Name: Arousal, dtype: float64              0
175  0    0.279402
Name: Arousal, dtype: float64              0
176    0    0.2788
Name: Arousal, dtype: float64              0
177  0    0.278414
Name: Arousal, dtype: float64              0
178  0    0.278021
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
174                0        222.5   0          0   0             0         0
175                0        224.0   0          0   0             0         0
176                0          224   0          0   0             0         0
177                0        224.5   0          0   0             0         0
178                0          225   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
174      0
175      0
176      0
177      0
178      0

[179 rows x 24 columns]
----Time----
8950
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
175  1  Базаев Кирилл  8800      0     0
176  1  Базаев Кирилл  8850      0     0
177  1  Базаев Кирилл  8900      0     0
178  1  Базаев Кирилл  8950      0     0
179  1  Базаев Кирилл  9000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
175  0    0.722576
Name: Neutral, dtype: float64
176  0    0.733245
Name: Neutral, dtype: float64
177  0    0.740537
Name: Neutral, dtype: float64
178  0    0.748497
Name: Neutral, dtype: float64
179   0    0.75737
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
175  0    2.000000e-09
Name: Happy, dtype: float64
176  0    1.000000e-09
Name: Happy, dtype: float64
177  0    1.000000e-09
Name: Happy, dtype: float64
178  0    1.000000e-09
Name: Happy, dtype: float64
179  0    1.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
175  0    0.020541
Name: Sad, dtype: float64
176  0    0.017194
Name: Sad, dtype: float64
177  0    0.015252
Name: Sad, dtype: float64
178   0    0.01353
Name: Sad, dtype: float64
179  0    0.011324
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
175  0    5.830000e-07
Name: Angry, dtype: float64
176  0    4.860000e-07
Name: Angry, dtype: float64
177  0    4.310000e-07
Name: Angry, dtype: float64
178  0    3.820000e-07
Name: Angry, dtype: float64
179  0    3.200000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
175  0    7.500000e-09
Name: Surprised, dtype: float64  ...
176  0    6.000000e-09
Name: Surprised, dtype: float64  ...
177  0    6.000000e-09
Name: Surprised, dtype: float64  ...
178  0    5.000000e-09
Name: Surprised, dtype: float64  ...
179  0    4.500000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
175  0    0.279402
Name: Arousal, dtype: float64              0
176    0    0.2788
Name: Arousal, dtype: float64              0
177  0    0.278414
Name: Arousal, dtype: float64              0
178  0    0.278021
Name: Arousal, dtype: float64              0
179   0    0.27745
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
175                0        224.0   0          0   0             0         0
176                0          224   0          0   0             0         0
177                0        224.5   0          0   0             0         0
178                0          225   0          0   0             0         0
179                0        226.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
175      0
176      0
177      0
178      0
179      0

[180 rows x 24 columns]
----Time----
9000

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
176  1  Базаев Кирилл  8850      0     0
177  1  Базаев Кирилл  8900      0     0
178  1  Базаев Кирилл  8950      0     0
179  1  Базаев Кирилл  9000      0     0
180  1  Базаев Кирилл  9050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
176  0    0.733245
Name: Neutral, dtype: float64
177  0    0.740537
Name: Neutral, dtype: float64
178  0    0.748497
Name: Neutral, dtype: float64
179   0    0.75737
Name: Neutral, dtype: float64
180  0    0.765579
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
176  0    1.000000e-09
Name: Happy, dtype: float64
177  0    1.000000e-09
Name: Happy, dtype: float64
178  0    1.000000e-09
Name: Happy, dtype: float64
179  0    1.000000e-09
Name: Happy, dtype: float64
180  0    1.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
176  0    0.017194
Name: Sad, dtype: float64
177  0    0.015252
Name: Sad, dtype: float64
178   0    0.01353
Name: Sad, dtype: float64
179  0    0.011324
Name: Sad, dtype: float64
180  0    0.009444
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
176  0    4.860000e-07
Name: Angry, dtype: float64
177  0    4.310000e-07
Name: Angry, dtype: float64
178  0    3.820000e-07
Name: Angry, dtype: float64
179  0    3.200000e-07
Name: Angry, dtype: float64
180  0    2.670000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
176  0    6.000000e-09
Name: Surprised, dtype: float64  ...
177  0    6.000000e-09
Name: Surprised, dtype: float64  ...
178  0    5.000000e-09
Name: Surprised, dtype: float64  ...
179  0    4.500000e-09
Name: Surprised, dtype: float64  ...
180  0    4.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
176    0    0.2788
Name: Arousal, dtype: float64              0
177  0    0.278414
Name: Arousal, dtype: float64              0
178  0    0.278021
Name: Arousal, dtype: float64              0
179   0    0.27745
Name: Arousal, dtype: float64              0
180  0    0.276847
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
176                0          224   0          0   0             0         0
177                0        224.5   0          0   0             0         0
178                0          225   0          0   0             0         0
179                0        226.0   0          0   0             0         0
180                0          226   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
176      0
177      0
178      0
179      0
180      0

[181 rows x 24 columns]
----Time----
9050
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
177  1  Базаев Кирилл  8900      0     0
178  1  Базаев Кирилл  8950      0     0
179  1  Базаев Кирилл  9000      0     0
180  1  Базаев Кирилл  9050      0     0
181  1  Базаев Кирилл  9100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
177  0    0.740537
Name: Neutral, dtype: float64
178  0    0.748497
Name: Neutral, dtype: float64
179   0    0.75737
Name: Neutral, dtype: float64
180  0    0.765579
Name: Neutral, dtype: float64
181  0    0.772513
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
177  0    1.000000e-09
Name: Happy, dtype: float64
178  0    1.000000e-09
Name: Happy, dtype: float64
179  0    1.000000e-09
Name: Happy, dtype: float64
180  0    1.000000e-09
Name: Happy, dtype: float64
181  0    1.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
177  0    0.015252
Name: Sad, dtype: float64
178   0    0.01353
Name: Sad, dtype: float64
179  0    0.011324
Name: Sad, dtype: float64
180  0    0.009444
Name: Sad, dtype: float64
181  0    0.008378
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
177  0    4.310000e-07
Name: Angry, dtype: float64
178  0    3.820000e-07
Name: Angry, dtype: float64
179  0    3.200000e-07
Name: Angry, dtype: float64
180  0    2.670000e-07
Name: Angry, dtype: float64
181  0    2.370000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
177  0    6.000000e-09
Name: Surprised, dtype: float64  ...
178  0    5.000000e-09
Name: Surprised, dtype: float64  ...
179  0    4.500000e-09
Name: Surprised, dtype: float64  ...
180  0    4.000000e-09
Name: Surprised, dtype: float64  ...
181  0    3.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
177  0    0.278414
Name: Arousal, dtype: float64              0
178  0    0.278021
Name: Arousal, dtype: float64              0
179   0    0.27745
Name: Arousal, dtype: float64              0
180  0    0.276847
Name: Arousal, dtype: float64              0
181  0    0.276426
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
177                0        224.5   0          0   0             0         0
178                0          225   0          0   0             0         0
179                0        226.0   0          0   0             0         0
180                0          226   0          0   0             0         0
181                0          225   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
177      0
178      0
179      0
180      0
181      0

[182 rows x 24 columns]
----Time----
9100

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
178  1  Базаев Кирилл  8950      0     0
179  1  Базаев Кирилл  9000      0     0
180  1  Базаев Кирилл  9050      0     0
181  1  Базаев Кирилл  9100      0     0
182  1  Базаев Кирилл  9150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
178  0    0.748497
Name: Neutral, dtype: float64
179   0    0.75737
Name: Neutral, dtype: float64
180  0    0.765579
Name: Neutral, dtype: float64
181  0    0.772513
Name: Neutral, dtype: float64
182  0    0.779762
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
178  0    1.000000e-09
Name: Happy, dtype: float64
179  0    1.000000e-09
Name: Happy, dtype: float64
180  0    1.000000e-09
Name: Happy, dtype: float64
181  0    1.000000e-09
Name: Happy, dtype: float64
182  0    1.000000e-09
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
178   0    0.01353
Name: Sad, dtype: float64
179  0    0.011324
Name: Sad, dtype: float64
180  0    0.009444
Name: Sad, dtype: float64
181  0    0.008378
Name: Sad, dtype: float64
182  0    0.007432
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
178  0    3.820000e-07
Name: Angry, dtype: float64
179  0    3.200000e-07
Name: Angry, dtype: float64
180  0    2.670000e-07
Name: Angry, dtype: float64
181  0    2.370000e-07
Name: Angry, dtype: float64
182  0    2.100000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
178  0    5.000000e-09
Name: Surprised, dtype: float64  ...
179  0    4.500000e-09
Name: Surprised, dtype: float64  ...
180  0    4.000000e-09
Name: Surprised, dtype: float64  ...
181  0    3.000000e-09
Name: Surprised, dtype: float64  ...
182  0    3.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
178  0    0.278021
Name: Arousal, dtype: float64              0
179   0    0.27745
Name: Arousal, dtype: float64              0
180  0    0.276847
Name: Arousal, dtype: float64              0
181  0    0.276426
Name: Arousal, dtype: float64              0
182  0    0.275969
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
178                0          225   0          0   0             0         0
179                0        226.0   0          0   0             0         0
180                0          226   0          0   0             0         0
181                0          225   0          0   0             0         0
182                0        223.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
178      0
179      0
180      0
181      0
182      0

[183 rows x 24 columns]
----Time----
9150
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
179  1  Базаев Кирилл  9000      0     0
180  1  Базаев Кирилл  9050      0     0
181  1  Базаев Кирилл  9100      0     0
182  1  Базаев Кирилл  9150      0     0
183  1  Базаев Кирилл  9200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
179   0    0.75737
Name: Neutral, dtype: float64
180  0    0.765579
Name: Neutral, dtype: float64
181  0    0.772513
Name: Neutral, dtype: float64
182  0    0.779762
Name: Neutral, dtype: float64
183  0    0.787373
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
179  0    1.000000e-09
Name: Happy, dtype: float64
180  0    1.000000e-09
Name: Happy, dtype: float64
181  0    1.000000e-09
Name: Happy, dtype: float64
182  0    1.000000e-09
Name: Happy, dtype: float64
183  0    5.000000e-10
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
179  0    0.011324
Name: Sad, dtype: float64
180  0    0.009444
Name: Sad, dtype: float64
181  0    0.008378
Name: Sad, dtype: float64
182  0    0.007432
Name: Sad, dtype: float64
183   0    0.00622
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
179  0    3.200000e-07
Name: Angry, dtype: float64
180  0    2.670000e-07
Name: Angry, dtype: float64
181  0    2.370000e-07
Name: Angry, dtype: float64
182  0    2.100000e-07
Name: Angry, dtype: float64
183  0    1.755000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
179  0    4.500000e-09
Name: Surprised, dtype: float64  ...
180  0    4.000000e-09
Name: Surprised, dtype: float64  ...
181  0    3.000000e-09
Name: Surprised, dtype: float64  ...
182  0    3.000000e-09
Name: Surprised, dtype: float64  ...
183  0    2.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
179   0    0.27745
Name: Arousal, dtype: float64              0
180  0    0.276847
Name: Arousal, dtype: float64              0
181  0    0.276426
Name: Arousal, dtype: float64              0
182  0    0.275969
Name: Arousal, dtype: float64              0
183  0    0.275289
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
179                0        226.0   0          0   0             0         0
180                0          226   0          0   0             0         0
181                0          225   0          0   0             0         0
182                0        223.5   0          0   0             0         0
183                0        223.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
179      0
180      0
181      0
182      0
183      0

[184 rows x 24 columns]
----Time----
9200

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
180  1  Базаев Кирилл  9050      0     0
181  1  Базаев Кирилл  9100      0     0
182  1  Базаев Кирилл  9150      0     0
183  1  Базаев Кирилл  9200      0     0
184  1  Базаев Кирилл  9250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
180  0    0.765579
Name: Neutral, dtype: float64
181  0    0.772513
Name: Neutral, dtype: float64
182  0    0.779762
Name: Neutral, dtype: float64
183  0    0.787373
Name: Neutral, dtype: float64
184  0    0.791306
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
180  0    1.000000e-09
Name: Happy, dtype: float64
181  0    1.000000e-09
Name: Happy, dtype: float64
182  0    1.000000e-09
Name: Happy, dtype: float64
183  0    5.000000e-10
Name: Happy, dtype: float64
184           0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
180  0    0.009444
Name: Sad, dtype: float64
181  0    0.008378
Name: Sad, dtype: float64
182  0    0.007432
Name: Sad, dtype: float64
183   0    0.00622
Name: Sad, dtype: float64
184   0    0.00543
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
180  0    2.670000e-07
Name: Angry, dtype: float64
181  0    2.370000e-07
Name: Angry, dtype: float64
182  0    2.100000e-07
Name: Angry, dtype: float64
183  0    1.755000e-07
Name: Angry, dtype: float64
184  0    1.470000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
180  0    4.000000e-09
Name: Surprised, dtype: float64  ...
181  0    3.000000e-09
Name: Surprised, dtype: float64  ...
182  0    3.000000e-09
Name: Surprised, dtype: float64  ...
183  0    2.000000e-09
Name: Surprised, dtype: float64  ...
184  0    2.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
180  0    0.276847
Name: Arousal, dtype: float64              0
181  0    0.276426
Name: Arousal, dtype: float64              0
182  0    0.275969
Name: Arousal, dtype: float64              0
183  0    0.275289
Name: Arousal, dtype: float64              0
184  0    0.274633
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
180                0          226   0          0   0             0         0
181                0          225   0          0   0             0         0
182                0        223.5   0          0   0             0         0
183                0        223.5   0          0   0             0         0
184                0          225   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
180      0
181      0
182      0
183      0
184      0

[185 rows x 24 columns]
----Time----
9250
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
181  1  Базаев Кирилл  9100      0     0
182  1  Базаев Кирилл  9150      0     0
183  1  Базаев Кирилл  9200      0     0
184  1  Базаев Кирилл  9250      0     0
185  1  Базаев Кирилл  9300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
181  0    0.772513
Name: Neutral, dtype: float64
182  0    0.779762
Name: Neutral, dtype: float64
183  0    0.787373
Name: Neutral, dtype: float64
184  0    0.791306
Name: Neutral, dtype: float64
185  0    0.793077
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
181  0    1.000000e-09
Name: Happy, dtype: float64
182  0    1.000000e-09
Name: Happy, dtype: float64
183  0    5.000000e-10
Name: Happy, dtype: float64
184           0    0.0
Name: Happy, dtype: float64
185           0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
181  0    0.008378
Name: Sad, dtype: float64
182  0    0.007432
Name: Sad, dtype: float64
183   0    0.00622
Name: Sad, dtype: float64
184   0    0.00543
Name: Sad, dtype: float64
185  0    0.005394
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
181  0    2.370000e-07
Name: Angry, dtype: float64
182  0    2.100000e-07
Name: Angry, dtype: float64
183  0    1.755000e-07
Name: Angry, dtype: float64
184  0    1.470000e-07
Name: Angry, dtype: float64
185  0    1.300000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
181  0    3.000000e-09
Name: Surprised, dtype: float64  ...
182  0    3.000000e-09
Name: Surprised, dtype: float64  ...
183  0    2.000000e-09
Name: Surprised, dtype: float64  ...
184  0    2.000000e-09
Name: Surprised, dtype: float64  ...
185  0    2.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
181  0    0.276426
Name: Arousal, dtype: float64              0
182  0    0.275969
Name: Arousal, dtype: float64              0
183  0    0.275289
Name: Arousal, dtype: float64              0
184  0    0.274633
Name: Arousal, dtype: float64              0
185  0    0.274185
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
181                0          225   0          0   0             0         0
182                0        223.5   0          0   0             0         0
183                0        223.5   0          0   0             0         0
184                0          225   0          0   0             0         0
185                0        225.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
181      0
182      0
183      0
184      0
185      0

[186 rows x 24 columns]
----Time----
9300

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
182  1  Базаев Кирилл  9150      0     0
183  1  Базаев Кирилл  9200      0     0
184  1  Базаев Кирилл  9250      0     0
185  1  Базаев Кирилл  9300      0     0
186  1  Базаев Кирилл  9350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
182  0    0.779762
Name: Neutral, dtype: float64
183  0    0.787373
Name: Neutral, dtype: float64
184  0    0.791306
Name: Neutral, dtype: float64
185  0    0.793077
Name: Neutral, dtype: float64
186  0    0.795631
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
182  0    1.000000e-09
Name: Happy, dtype: float64
183  0    5.000000e-10
Name: Happy, dtype: float64
184           0    0.0
Name: Happy, dtype: float64
185           0    0.0
Name: Happy, dtype: float64
186           0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
182  0    0.007432
Name: Sad, dtype: float64
183   0    0.00622
Name: Sad, dtype: float64
184   0    0.00543
Name: Sad, dtype: float64
185  0    0.005394
Name: Sad, dtype: float64
186  0    0.004785
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
182  0    2.100000e-07
Name: Angry, dtype: float64
183  0    1.755000e-07
Name: Angry, dtype: float64
184  0    1.470000e-07
Name: Angry, dtype: float64
185  0    1.300000e-07
Name: Angry, dtype: float64
186  0    1.150000e-07
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
182  0    3.000000e-09
Name: Surprised, dtype: float64  ...
183  0    2.000000e-09
Name: Surprised, dtype: float64  ...
184  0    2.000000e-09
Name: Surprised, dtype: float64  ...
185  0    2.000000e-09
Name: Surprised, dtype: float64  ...
186  0    2.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
182  0    0.275969
Name: Arousal, dtype: float64              0
183  0    0.275289
Name: Arousal, dtype: float64              0
184  0    0.274633
Name: Arousal, dtype: float64              0
185  0    0.274185
Name: Arousal, dtype: float64              0
186   0    0.27369
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
182                0        223.5   0          0   0             0         0
183                0        223.5   0          0   0             0         0
184                0          225   0          0   0             0         0
185                0        225.0   0          0   0             0         0
186                0          226   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
182      0
183      0
184      0
185      0
186      0

[187 rows x 24 columns]
----Time----
9350
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
183  1  Базаев Кирилл  9200      0     0
184  1  Базаев Кирилл  9250      0     0
185  1  Базаев Кирилл  9300      0     0
186  1  Базаев Кирилл  9350      0     0
187  1  Базаев Кирилл  9400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
183  0    0.787373
Name: Neutral, dtype: float64
184  0    0.791306
Name: Neutral, dtype: float64
185  0    0.793077
Name: Neutral, dtype: float64
186  0    0.795631
Name: Neutral, dtype: float64
187   0    0.80227
Name: Neutral, dtype: float64

                                             Happy  \
0              0    NaN
Name: Happy, dtype: object
1              0    NaN
Name: Happy, dtype: object
2              0    NaN
Name: Happy, dtype: object
3              0   NaN
Name: Happy, dtype: float64
4              0    NaN
Name: Happy, dtype: object
..                                             ...
183  0    5.000000e-10
Name: Happy, dtype: float64
184           0    0.0
Name: Happy, dtype: float64
185           0    0.0
Name: Happy, dtype: float64
186           0    0.0
Name: Happy, dtype: float64
187           0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
183   0    0.00622
Name: Sad, dtype: float64
184   0    0.00543
Name: Sad, dtype: float64
185  0    0.005394
Name: Sad, dtype: float64
186  0    0.004785
Name: Sad, dtype: float64
187  0    0.004005
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
183  0    1.755000e-07
Name: Angry, dtype: float64
184  0    1.470000e-07
Name: Angry, dtype: float64
185  0    1.300000e-07
Name: Angry, dtype: float64
186  0    1.150000e-07
Name: Angry, dtype: float64
187  0    9.650000e-08
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
183  0    2.000000e-09
Name: Surprised, dtype: float64  ...
184  0    2.000000e-09
Name: Surprised, dtype: float64  ...
185  0    2.000000e-09
Name: Surprised, dtype: float64  ...
186  0    2.000000e-09
Name: Surprised, dtype: float64  ...
187  0    1.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
183  0    0.275289
Name: Arousal, dtype: float64              0
184  0    0.274633
Name: Arousal, dtype: float64              0
185  0    0.274185
Name: Arousal, dtype: float64              0
186   0    0.27369
Name: Arousal, dtype: float64              0
187  0    0.272922
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
183                0        223.5   0          0   0             0         0
184                0          225   0          0   0             0         0
185                0        225.0   0          0   0             0         0
186                0          226   0          0   0             0         0
187                0        226.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
183      0
184      0
185      0
186      0
187      0

[188 rows x 24 columns]
----Time----
9400

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
184  1  Базаев Кирилл  9250      0     0
185  1  Базаев Кирилл  9300      0     0
186  1  Базаев Кирилл  9350      0     0
187  1  Базаев Кирилл  9400      0     0
188  1  Базаев Кирилл  9450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
184  0    0.791306
Name: Neutral, dtype: float64
185  0    0.793077
Name: Neutral, dtype: float64
186  0    0.795631
Name: Neutral, dtype: float64
187   0    0.80227
Name: Neutral, dtype: float64
188  0    0.811088
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
184  0    0.0
Name: Happy, dtype: float64
185  0    0.0
Name: Happy, dtype: float64
186  0    0.0
Name: Happy, dtype: float64
187  0    0.0
Name: Happy, dtype: float64
188  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
184   0    0.00543
Name: Sad, dtype: float64
185  0    0.005394
Name: Sad, dtype: float64
186  0    0.004785
Name: Sad, dtype: float64
187  0    0.004005
Name: Sad, dtype: float64
188   0    0.00334
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
184  0    1.470000e-07
Name: Angry, dtype: float64
185  0    1.300000e-07
Name: Angry, dtype: float64
186  0    1.150000e-07
Name: Angry, dtype: float64
187  0    9.650000e-08
Name: Angry, dtype: float64
188  0    8.100000e-08
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
184  0    2.000000e-09
Name: Surprised, dtype: float64  ...
185  0    2.000000e-09
Name: Surprised, dtype: float64  ...
186  0    2.000000e-09
Name: Surprised, dtype: float64  ...
187  0    1.000000e-09
Name: Surprised, dtype: float64  ...
188  0    1.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
184  0    0.274633
Name: Arousal, dtype: float64              0
185  0    0.274185
Name: Arousal, dtype: float64              0
186   0    0.27369
Name: Arousal, dtype: float64              0
187  0    0.272922
Name: Arousal, dtype: float64              0
188  0    0.272154
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
184                0          225   0          0   0             0         0
185                0        225.0   0          0   0             0         0
186                0          226   0          0   0             0         0
187                0        226.0   0          0   0             0         0
188                0          224   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
184      0
185      0
186      0
187      0
188      0

[189 rows x 24 columns]
----Time----
9450
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
185  1  Базаев Кирилл  9300      0     0
186  1  Базаев Кирилл  9350      0     0
187  1  Базаев Кирилл  9400      0     0
188  1  Базаев Кирилл  9450      0     0
189  1  Базаев Кирилл  9500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
185  0    0.793077
Name: Neutral, dtype: float64
186  0    0.795631
Name: Neutral, dtype: float64
187   0    0.80227
Name: Neutral, dtype: float64
188  0    0.811088
Name: Neutral, dtype: float64
189  0    0.817983
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
185  0    0.0
Name: Happy, dtype: float64
186  0    0.0
Name: Happy, dtype: float64
187  0    0.0
Name: Happy, dtype: float64
188  0    0.0
Name: Happy, dtype: float64
189  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
185  0    0.005394
Name: Sad, dtype: float64
186  0    0.004785
Name: Sad, dtype: float64
187  0    0.004005
Name: Sad, dtype: float64
188   0    0.00334
Name: Sad, dtype: float64
189  0    0.002963
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
185  0    1.300000e-07
Name: Angry, dtype: float64
186  0    1.150000e-07
Name: Angry, dtype: float64
187  0    9.650000e-08
Name: Angry, dtype: float64
188  0    8.100000e-08
Name: Angry, dtype: float64
189  0    7.100000e-08
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
185  0    2.000000e-09
Name: Surprised, dtype: float64  ...
186  0    2.000000e-09
Name: Surprised, dtype: float64  ...
187  0    1.000000e-09
Name: Surprised, dtype: float64  ...
188  0    1.000000e-09
Name: Surprised, dtype: float64  ...
189  0    1.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
185  0    0.274185
Name: Arousal, dtype: float64              0
186   0    0.27369
Name: Arousal, dtype: float64              0
187  0    0.272922
Name: Arousal, dtype: float64              0
188  0    0.272154
Name: Arousal, dtype: float64              0
189  0    0.271655
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
185                0        225.0   0          0   0             0         0
186                0          226   0          0   0             0         0
187                0        226.0   0          0   0             0         0
188                0          224   0          0   0             0         0
189                0        223.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
185      0
186      0
187      0
188      0
189      0

[190 rows x 24 columns]
----Time----
9500

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
186  1  Базаев Кирилл  9350      0     0
187  1  Базаев Кирилл  9400      0     0
188  1  Базаев Кирилл  9450      0     0
189  1  Базаев Кирилл  9500      0     0
190  1  Базаев Кирилл  9550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
186  0    0.795631
Name: Neutral, dtype: float64
187   0    0.80227
Name: Neutral, dtype: float64
188  0    0.811088
Name: Neutral, dtype: float64
189  0    0.817983
Name: Neutral, dtype: float64
190  0    0.824847
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
186  0    0.0
Name: Happy, dtype: float64
187  0    0.0
Name: Happy, dtype: float64
188  0    0.0
Name: Happy, dtype: float64
189  0    0.0
Name: Happy, dtype: float64
190  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
186  0    0.004785
Name: Sad, dtype: float64
187  0    0.004005
Name: Sad, dtype: float64
188   0    0.00334
Name: Sad, dtype: float64
189  0    0.002963
Name: Sad, dtype: float64
190  0    0.002628
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
186  0    1.150000e-07
Name: Angry, dtype: float64
187  0    9.650000e-08
Name: Angry, dtype: float64
188  0    8.100000e-08
Name: Angry, dtype: float64
189  0    7.100000e-08
Name: Angry, dtype: float64
190  0    6.300000e-08
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
186  0    2.000000e-09
Name: Surprised, dtype: float64  ...
187  0    1.000000e-09
Name: Surprised, dtype: float64  ...
188  0    1.000000e-09
Name: Surprised, dtype: float64  ...
189  0    1.000000e-09
Name: Surprised, dtype: float64  ...
190  0    1.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
186   0    0.27369
Name: Arousal, dtype: float64              0
187  0    0.272922
Name: Arousal, dtype: float64              0
188  0    0.272154
Name: Arousal, dtype: float64              0
189  0    0.271655
Name: Arousal, dtype: float64              0
190  0    0.271166
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
186                0          226   0          0   0             0         0
187                0        226.0   0          0   0             0         0
188                0          224   0          0   0             0         0
189                0        223.5   0          0   0             0         0
190                0          225   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
186      0
187      0
188      0
189      0
190      0

[191 rows x 24 columns]
----Time----
9550
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
187  1  Базаев Кирилл  9400      0     0
188  1  Базаев Кирилл  9450      0     0
189  1  Базаев Кирилл  9500      0     0
190  1  Базаев Кирилл  9550      0     0
191  1  Базаев Кирилл  9600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
187   0    0.80227
Name: Neutral, dtype: float64
188  0    0.811088
Name: Neutral, dtype: float64
189  0    0.817983
Name: Neutral, dtype: float64
190  0    0.824847
Name: Neutral, dtype: float64
191  0    0.834559
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
187  0    0.0
Name: Happy, dtype: float64
188  0    0.0
Name: Happy, dtype: float64
189  0    0.0
Name: Happy, dtype: float64
190  0    0.0
Name: Happy, dtype: float64
191  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
187  0    0.004005
Name: Sad, dtype: float64
188   0    0.00334
Name: Sad, dtype: float64
189  0    0.002963
Name: Sad, dtype: float64
190  0    0.002628
Name: Sad, dtype: float64
191    0    0.0022
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
187  0    9.650000e-08
Name: Angry, dtype: float64
188  0    8.100000e-08
Name: Angry, dtype: float64
189  0    7.100000e-08
Name: Angry, dtype: float64
190  0    6.300000e-08
Name: Angry, dtype: float64
191  0    5.300000e-08
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
187  0    1.000000e-09
Name: Surprised, dtype: float64  ...
188  0    1.000000e-09
Name: Surprised, dtype: float64  ...
189  0    1.000000e-09
Name: Surprised, dtype: float64  ...
190  0    1.000000e-09
Name: Surprised, dtype: float64  ...
191  0    1.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
187  0    0.272922
Name: Arousal, dtype: float64              0
188  0    0.272154
Name: Arousal, dtype: float64              0
189  0    0.271655
Name: Arousal, dtype: float64              0
190  0    0.271166
Name: Arousal, dtype: float64              0
191  0    0.270453
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
187                0        226.0   0          0   0             0         0
188                0          224   0          0   0             0         0
189                0        223.5   0          0   0             0         0
190                0          225   0          0   0             0         0
191                0        226.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
187      0
188      0
189      0
190      0
191      0

[192 rows x 24 columns]
----Time----
9600

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
188  1  Базаев Кирилл  9450      0     0
189  1  Базаев Кирилл  9500      0     0
190  1  Базаев Кирилл  9550      0     0
191  1  Базаев Кирилл  9600      0     0
192  1  Базаев Кирилл  9650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
188  0    0.811088
Name: Neutral, dtype: float64
189  0    0.817983
Name: Neutral, dtype: float64
190  0    0.824847
Name: Neutral, dtype: float64
191  0    0.834559
Name: Neutral, dtype: float64
192  0    0.842512
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
188  0    0.0
Name: Happy, dtype: float64
189  0    0.0
Name: Happy, dtype: float64
190  0    0.0
Name: Happy, dtype: float64
191  0    0.0
Name: Happy, dtype: float64
192  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
188   0    0.00334
Name: Sad, dtype: float64
189  0    0.002963
Name: Sad, dtype: float64
190  0    0.002628
Name: Sad, dtype: float64
191    0    0.0022
Name: Sad, dtype: float64
192  0    0.001835
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
188  0    8.100000e-08
Name: Angry, dtype: float64
189  0    7.100000e-08
Name: Angry, dtype: float64
190  0    6.300000e-08
Name: Angry, dtype: float64
191  0    5.300000e-08
Name: Angry, dtype: float64
192  0    4.400000e-08
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
188  0    1.000000e-09
Name: Surprised, dtype: float64  ...
189  0    1.000000e-09
Name: Surprised, dtype: float64  ...
190  0    1.000000e-09
Name: Surprised, dtype: float64  ...
191  0    1.000000e-09
Name: Surprised, dtype: float64  ...
192  0    1.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
188  0    0.272154
Name: Arousal, dtype: float64              0
189  0    0.271655
Name: Arousal, dtype: float64              0
190  0    0.271166
Name: Arousal, dtype: float64              0
191  0    0.270453
Name: Arousal, dtype: float64              0
192  0    0.269759
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
188                0          224   0          0   0             0         0
189                0        223.5   0          0   0             0         0
190                0          225   0          0   0             0         0
191                0        226.0   0          0   0             0         0
192                0        225.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
188      0
189      0
190      0
191      0
192      0

[193 rows x 24 columns]
----Time----
9650
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
189  1  Базаев Кирилл  9500      0     0
190  1  Базаев Кирилл  9550      0     0
191  1  Базаев Кирилл  9600      0     0
192  1  Базаев Кирилл  9650      0     0
193  1  Базаев Кирилл  9700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
189  0    0.817983
Name: Neutral, dtype: float64
190  0    0.824847
Name: Neutral, dtype: float64
191  0    0.834559
Name: Neutral, dtype: float64
192  0    0.842512
Name: Neutral, dtype: float64
193  0    0.847709
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
189  0    0.0
Name: Happy, dtype: float64
190  0    0.0
Name: Happy, dtype: float64
191  0    0.0
Name: Happy, dtype: float64
192  0    0.0
Name: Happy, dtype: float64
193  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
189  0    0.002963
Name: Sad, dtype: float64
190  0    0.002628
Name: Sad, dtype: float64
191    0    0.0022
Name: Sad, dtype: float64
192  0    0.001835
Name: Sad, dtype: float64
193  0    0.001627
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
189  0    7.100000e-08
Name: Angry, dtype: float64
190  0    6.300000e-08
Name: Angry, dtype: float64
191  0    5.300000e-08
Name: Angry, dtype: float64
192  0    4.400000e-08
Name: Angry, dtype: float64
193  0    3.900000e-08
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
189  0    1.000000e-09
Name: Surprised, dtype: float64  ...
190  0    1.000000e-09
Name: Surprised, dtype: float64  ...
191  0    1.000000e-09
Name: Surprised, dtype: float64  ...
192  0    1.000000e-09
Name: Surprised, dtype: float64  ...
193  0    1.000000e-09
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
189  0    0.271655
Name: Arousal, dtype: float64              0
190  0    0.271166
Name: Arousal, dtype: float64              0
191  0    0.270453
Name: Arousal, dtype: float64              0
192  0    0.269759
Name: Arousal, dtype: float64              0
193  0    0.269309
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
189                0        223.5   0          0   0             0         0
190                0          225   0          0   0             0         0
191                0        226.0   0          0   0             0         0
192                0        225.5   0          0   0             0         0
193                0          225   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
189      0
190      0
191      0
192      0
193      0

[194 rows x 24 columns]
----Time----
9700

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
190  1  Базаев Кирилл  9550      0     0
191  1  Базаев Кирилл  9600      0     0
192  1  Базаев Кирилл  9650      0     0
193  1  Базаев Кирилл  9700      0     0
194  1  Базаев Кирилл  9750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
190  0    0.824847
Name: Neutral, dtype: float64
191  0    0.834559
Name: Neutral, dtype: float64
192  0    0.842512
Name: Neutral, dtype: float64
193  0    0.847709
Name: Neutral, dtype: float64
194  0    0.852888
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
190  0    0.0
Name: Happy, dtype: float64
191  0    0.0
Name: Happy, dtype: float64
192  0    0.0
Name: Happy, dtype: float64
193  0    0.0
Name: Happy, dtype: float64
194  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
190  0    0.002628
Name: Sad, dtype: float64
191    0    0.0022
Name: Sad, dtype: float64
192  0    0.001835
Name: Sad, dtype: float64
193  0    0.001627
Name: Sad, dtype: float64
194  0    0.001444
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
190  0    6.300000e-08
Name: Angry, dtype: float64
191  0    5.300000e-08
Name: Angry, dtype: float64
192  0    4.400000e-08
Name: Angry, dtype: float64
193  0    3.900000e-08
Name: Angry, dtype: float64
194  0    3.500000e-08
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
190  0    1.000000e-09
Name: Surprised, dtype: float64  ...
191  0    1.000000e-09
Name: Surprised, dtype: float64  ...
192  0    1.000000e-09
Name: Surprised, dtype: float64  ...
193  0    1.000000e-09
Name: Surprised, dtype: float64  ...
194           0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
190  0    0.271166
Name: Arousal, dtype: float64              0
191  0    0.270453
Name: Arousal, dtype: float64              0
192  0    0.269759
Name: Arousal, dtype: float64              0
193  0    0.269309
Name: Arousal, dtype: float64              0
194  0    0.268868
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
190                0          225   0          0   0             0         0
191                0        226.0   0          0   0             0         0
192                0        225.5   0          0   0             0         0
193                0          225   0          0   0             0         0
194                0        226.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
190      0
191      0
192      0
193      0
194      0

[195 rows x 24 columns]
----Time----
9750
1
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
191  1  Базаев Кирилл  9600      0     0
192  1  Базаев Кирилл  9650      0     0
193  1  Базаев Кирилл  9700      0     0
194  1  Базаев Кирилл  9750      0     0
195  1  Базаев Кирилл  9800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
191  0    0.834559
Name: Neutral, dtype: float64
192  0    0.842512
Name: Neutral, dtype: float64
193  0    0.847709
Name: Neutral, dtype: float64
194  0    0.852888
Name: Neutral, dtype: float64
195  0    0.855629
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
191  0    0.0
Name: Happy, dtype: float64
192  0    0.0
Name: Happy, dtype: float64
193  0    0.0
Name: Happy, dtype: float64
194  0    0.0
Name: Happy, dtype: float64
195  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
191    0    0.0022
Name: Sad, dtype: float64
192  0    0.001835
Name: Sad, dtype: float64
193  0    0.001627
Name: Sad, dtype: float64
194  0    0.001444
Name: Sad, dtype: float64
195  0    0.001208
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
191  0    5.300000e-08
Name: Angry, dtype: float64
192  0    4.400000e-08
Name: Angry, dtype: float64
193  0    3.900000e-08
Name: Angry, dtype: float64
194  0    3.500000e-08
Name: Angry, dtype: float64
195  0    2.900000e-08
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
191  0    1.000000e-09
Name: Surprised, dtype: float64  ...
192  0    1.000000e-09
Name: Surprised, dtype: float64  ...
193  0    1.000000e-09
Name: Surprised, dtype: float64  ...
194           0    0.0
Name: Surprised, dtype: float64  ...
195           0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
191  0    0.270453
Name: Arousal, dtype: float64              0
192  0    0.269759
Name: Arousal, dtype: float64              0
193  0    0.269309
Name: Arousal, dtype: float64              0
194  0    0.268868
Name: Arousal, dtype: float64              0
195  0    0.268224
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
191                0        226.0   0          0   0             0         0
192                0        225.5   0          0   0             0         0
193                0          225   0          0   0             0         0
194                0        226.0   0          0   0             0         0
195                0          227   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
191      0
192      0
193      0
194      0
195      0

[196 rows x 24 columns]
----Time----
9800

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
192  1  Базаев Кирилл  9650      0     0
193  1  Базаев Кирилл  9700      0     0
194  1  Базаев Кирилл  9750      0     0
195  1  Базаев Кирилл  9800      0     0
196  1  Базаев Кирилл  9850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
192  0    0.842512
Name: Neutral, dtype: float64
193  0    0.847709
Name: Neutral, dtype: float64
194  0    0.852888
Name: Neutral, dtype: float64
195  0    0.855629
Name: Neutral, dtype: float64
196  0    0.857259
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
192  0    0.0
Name: Happy, dtype: float64
193  0    0.0
Name: Happy, dtype: float64
194  0    0.0
Name: Happy, dtype: float64
195  0    0.0
Name: Happy, dtype: float64
196  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
192  0    0.001835
Name: Sad, dtype: float64
193  0    0.001627
Name: Sad, dtype: float64
194  0    0.001444
Name: Sad, dtype: float64
195  0    0.001208
Name: Sad, dtype: float64
196  0    0.001008
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
192  0    4.400000e-08
Name: Angry, dtype: float64
193  0    3.900000e-08
Name: Angry, dtype: float64
194  0    3.500000e-08
Name: Angry, dtype: float64
195  0    2.900000e-08
Name: Angry, dtype: float64
196  0    2.400000e-08
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
192  0    1.000000e-09
Name: Surprised, dtype: float64  ...
193  0    1.000000e-09
Name: Surprised, dtype: float64  ...
194           0    0.0
Name: Surprised, dtype: float64  ...
195           0    0.0
Name: Surprised, dtype: float64  ...
196           0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
192  0    0.269759
Name: Arousal, dtype: float64              0
193  0    0.269309
Name: Arousal, dtype: float64              0
194  0    0.268868
Name: Arousal, dtype: float64              0
195  0    0.268224
Name: Arousal, dtype: float64              0
196  0    0.267598
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
192                0        225.5   0          0   0             0         0
193                0          225   0          0   0             0         0
194                0        226.0   0          0   0             0         0
195                0          227   0          0   0             0         0
196                0        225.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
192      0
193      0
194      0
195      0
196      0

[197 rows x 24 columns]
----Time----
9850
2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
193  1  Базаев Кирилл  9700      0     0
194  1  Базаев Кирилл  9750      0     0
195  1  Базаев Кирилл  9800      0     0
196  1  Базаев Кирилл  9850      0     0
197  1  Базаев Кирилл  9900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
193  0    0.847709
Name: Neutral, dtype: float64
194  0    0.852888
Name: Neutral, dtype: float64
195  0    0.855629
Name: Neutral, dtype: float64
196  0    0.857259
Name: Neutral, dtype: float64
197  0    0.857325
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
193  0    0.0
Name: Happy, dtype: float64
194  0    0.0
Name: Happy, dtype: float64
195  0    0.0
Name: Happy, dtype: float64
196  0    0.0
Name: Happy, dtype: float64
197  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
193  0    0.001627
Name: Sad, dtype: float64
194  0    0.001444
Name: Sad, dtype: float64
195  0    0.001208
Name: Sad, dtype: float64
196  0    0.001008
Name: Sad, dtype: float64
197  0    0.000894
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
193  0    3.900000e-08
Name: Angry, dtype: float64
194  0    3.500000e-08
Name: Angry, dtype: float64
195  0    2.900000e-08
Name: Angry, dtype: float64
196  0    2.400000e-08
Name: Angry, dtype: float64
197  0    2.200000e-08
Name: Angry, dtype: float64

                                             Surprised  ...  \
0              0    NaN
Name: Surprised, dtype: object  ...
1              0    NaN
Name: Surprised, dtype: object  ...
2              0    NaN
Name: Surprised, dtype: object  ...
3              0   NaN
Name: Surprised, dtype: float64  ...
4              0    NaN
Name: Surprised, dtype: object  ...
..                                                 ...  ...
193  0    1.000000e-09
Name: Surprised, dtype: float64  ...
194           0    0.0
Name: Surprised, dtype: float64  ...
195           0    0.0
Name: Surprised, dtype: float64  ...
196           0    0.0
Name: Surprised, dtype: float64  ...
197           0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
193  0    0.269309
Name: Arousal, dtype: float64              0
194  0    0.268868
Name: Arousal, dtype: float64              0
195  0    0.268224
Name: Arousal, dtype: float64              0
196  0    0.267598
Name: Arousal, dtype: float64              0
197  0    0.267191
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
193                0          225   0          0   0             0         0
194                0        226.0   0          0   0             0         0
195                0          227   0          0   0             0         0
196                0        225.0   0          0   0             0         0
197                0          222   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
193      0
194      0
195      0
196      0
197      0

[198 rows x 24 columns]
----Time----
9900

2
    id           name  time stimul trial  \
0    1  Базаев Кирилл    50      0     0
1    1  Базаев Кирилл   100      0     0
2    1  Базаев Кирилл   150      0     0
3    1  Базаев Кирилл   200      0     0
4    1  Базаев Кирилл   250      0     0
..  ..            ...   ...    ...   ...
194  1  Базаев Кирилл  9750      0     0
195  1  Базаев Кирилл  9800      0     0
196  1  Базаев Кирилл  9850      0     0
197  1  Базаев Кирилл  9900      0     0
198  1  Базаев Кирилл  9950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
194  0    0.852888
Name: Neutral, dtype: float64
195  0    0.855629
Name: Neutral, dtype: float64
196  0    0.857259
Name: Neutral, dtype: float64
197  0    0.857325
Name: Neutral, dtype: float64
198  0    0.858334
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
194  0    0.0
Name: Happy, dtype: float64
195  0    0.0
Name: Happy, dtype: float64
196  0    0.0
Name: Happy, dtype: float64
197  0    0.0
Name: Happy, dtype: float64
198  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
194  0    0.001444
Name: Sad, dtype: float64
195  0    0.001208
Name: Sad, dtype: float64
196  0    0.001008
Name: Sad, dtype: float64
197  0    0.000894
Name: Sad, dtype: float64
198  0    0.000793
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
194  0    3.500000e-08
Name: Angry, dtype: float64
195  0    2.900000e-08
Name: Angry, dtype: float64
196  0    2.400000e-08
Name: Angry, dtype: float64
197  0    2.200000e-08
Name: Angry, dtype: float64
198  0    1.900000e-08
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
194  0    0.0
Name: Surprised, dtype: float64  ...
195  0    0.0
Name: Surprised, dtype: float64  ...
196  0    0.0
Name: Surprised, dtype: float64  ...
197  0    0.0
Name: Surprised, dtype: float64  ...
198  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
194  0    0.268868
Name: Arousal, dtype: float64              0
195  0    0.268224
Name: Arousal, dtype: float64              0
196  0    0.267598
Name: Arousal, dtype: float64              0
197  0    0.267191
Name: Arousal, dtype: float64              0
198  0    0.266793
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
194                0        226.0   0          0   0             0         0
195                0          227   0          0   0             0         0
196                0        225.0   0          0   0             0         0
197                0          222   0          0   0             0         0
198                0        222.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
194      0
195      0
196      0
197      0
198      0

[199 rows x 24 columns]
----Time----
9950
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
195  1  Базаев Кирилл   9800      0     0
196  1  Базаев Кирилл   9850      0     0
197  1  Базаев Кирилл   9900      0     0
198  1  Базаев Кирилл   9950      0     0
199  1  Базаев Кирилл  10000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
195  0    0.855629
Name: Neutral, dtype: float64
196  0    0.857259
Name: Neutral, dtype: float64
197  0    0.857325
Name: Neutral, dtype: float64
198  0    0.858334
Name: Neutral, dtype: float64
199  0    0.857796
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
195  0    0.0
Name: Happy, dtype: float64
196  0    0.0
Name: Happy, dtype: float64
197  0    0.0
Name: Happy, dtype: float64
198  0    0.0
Name: Happy, dtype: float64
199  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
195  0    0.001208
Name: Sad, dtype: float64
196  0    0.001008
Name: Sad, dtype: float64
197  0    0.000894
Name: Sad, dtype: float64
198  0    0.000793
Name: Sad, dtype: float64
199  0    0.000664
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
195  0    2.900000e-08
Name: Angry, dtype: float64
196  0    2.400000e-08
Name: Angry, dtype: float64
197  0    2.200000e-08
Name: Angry, dtype: float64
198  0    1.900000e-08
Name: Angry, dtype: float64
199  0    1.600000e-08
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
195  0    0.0
Name: Surprised, dtype: float64  ...
196  0    0.0
Name: Surprised, dtype: float64  ...
197  0    0.0
Name: Surprised, dtype: float64  ...
198  0    0.0
Name: Surprised, dtype: float64  ...
199  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
195  0    0.268224
Name: Arousal, dtype: float64              0
196  0    0.267598
Name: Arousal, dtype: float64              0
197  0    0.267191
Name: Arousal, dtype: float64              0
198  0    0.266793
Name: Arousal, dtype: float64              0
199  0    0.266212
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
195                0          227   0          0   0             0         0
196                0        225.0   0          0   0             0         0
197                0          222   0          0   0             0         0
198                0        222.5   0          0   0             0         0
199                0        223.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
195      0
196      0
197      0
198      0
199      0

[200 rows x 24 columns]
----Time----
10000

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
196  1  Базаев Кирилл   9850      0     0
197  1  Базаев Кирилл   9900      0     0
198  1  Базаев Кирилл   9950      0     0
199  1  Базаев Кирилл  10000      0     0
200  1  Базаев Кирилл  10050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
196  0    0.857259
Name: Neutral, dtype: float64
197  0    0.857325
Name: Neutral, dtype: float64
198  0    0.858334
Name: Neutral, dtype: float64
199  0    0.857796
Name: Neutral, dtype: float64
200  0    0.857166
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
196  0    0.0
Name: Happy, dtype: float64
197  0    0.0
Name: Happy, dtype: float64
198  0    0.0
Name: Happy, dtype: float64
199  0    0.0
Name: Happy, dtype: float64
200  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
196  0    0.001008
Name: Sad, dtype: float64
197  0    0.000894
Name: Sad, dtype: float64
198  0    0.000793
Name: Sad, dtype: float64
199  0    0.000664
Name: Sad, dtype: float64
200  0    0.000554
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
196  0    2.400000e-08
Name: Angry, dtype: float64
197  0    2.200000e-08
Name: Angry, dtype: float64
198  0    1.900000e-08
Name: Angry, dtype: float64
199  0    1.600000e-08
Name: Angry, dtype: float64
200  0    1.300000e-08
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
196  0    0.0
Name: Surprised, dtype: float64  ...
197  0    0.0
Name: Surprised, dtype: float64  ...
198  0    0.0
Name: Surprised, dtype: float64  ...
199  0    0.0
Name: Surprised, dtype: float64  ...
200  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
196  0    0.267598
Name: Arousal, dtype: float64              0
197  0    0.267191
Name: Arousal, dtype: float64              0
198  0    0.266793
Name: Arousal, dtype: float64              0
199  0    0.266212
Name: Arousal, dtype: float64              0
200  0    0.265646
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
196                0        225.0   0          0   0             0         0
197                0          222   0          0   0             0         0
198                0        222.5   0          0   0             0         0
199                0        223.0   0          0   0             0         0
200                0          223   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
196      0
197      0
198      0
199      0
200      0

[201 rows x 24 columns]
----Time----
10050
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
197  1  Базаев Кирилл   9900      0     0
198  1  Базаев Кирилл   9950      0     0
199  1  Базаев Кирилл  10000      0     0
200  1  Базаев Кирилл  10050      0     0
201  1  Базаев Кирилл  10100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
197  0    0.857325
Name: Neutral, dtype: float64
198  0    0.858334
Name: Neutral, dtype: float64
199  0    0.857796
Name: Neutral, dtype: float64
200  0    0.857166
Name: Neutral, dtype: float64
201  0    0.857031
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
197  0    0.0
Name: Happy, dtype: float64
198  0    0.0
Name: Happy, dtype: float64
199  0    0.0
Name: Happy, dtype: float64
200  0    0.0
Name: Happy, dtype: float64
201  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
197  0    0.000894
Name: Sad, dtype: float64
198  0    0.000793
Name: Sad, dtype: float64
199  0    0.000664
Name: Sad, dtype: float64
200  0    0.000554
Name: Sad, dtype: float64
201  0    0.000491
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
197  0    2.200000e-08
Name: Angry, dtype: float64
198  0    1.900000e-08
Name: Angry, dtype: float64
199  0    1.600000e-08
Name: Angry, dtype: float64
200  0    1.300000e-08
Name: Angry, dtype: float64
201  0    1.200000e-08
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
197  0    0.0
Name: Surprised, dtype: float64  ...
198  0    0.0
Name: Surprised, dtype: float64  ...
199  0    0.0
Name: Surprised, dtype: float64  ...
200  0    0.0
Name: Surprised, dtype: float64  ...
201  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
197  0    0.267191
Name: Arousal, dtype: float64              0
198  0    0.266793
Name: Arousal, dtype: float64              0
199  0    0.266212
Name: Arousal, dtype: float64              0
200  0    0.265646
Name: Arousal, dtype: float64              0
201  0    0.265279
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
197                0          222   0          0   0             0         0
198                0        222.5   0          0   0             0         0
199                0        223.0   0          0   0             0         0
200                0          223   0          0   0             0         0
201                0        223.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
197      0
198      0
199      0
200      0
201      0

[202 rows x 24 columns]
----Time----
10100

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
198  1  Базаев Кирилл   9950      0     0
199  1  Базаев Кирилл  10000      0     0
200  1  Базаев Кирилл  10050      0     0
201  1  Базаев Кирилл  10100      0     0
202  1  Базаев Кирилл  10150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
198  0    0.858334
Name: Neutral, dtype: float64
199  0    0.857796
Name: Neutral, dtype: float64
200  0    0.857166
Name: Neutral, dtype: float64
201  0    0.857031
Name: Neutral, dtype: float64
202  0    0.856426
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
198  0    0.0
Name: Happy, dtype: float64
199  0    0.0
Name: Happy, dtype: float64
200  0    0.0
Name: Happy, dtype: float64
201  0    0.0
Name: Happy, dtype: float64
202  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
198  0    0.000793
Name: Sad, dtype: float64
199  0    0.000664
Name: Sad, dtype: float64
200  0    0.000554
Name: Sad, dtype: float64
201  0    0.000491
Name: Sad, dtype: float64
202  0    0.000436
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
198  0    1.900000e-08
Name: Angry, dtype: float64
199  0    1.600000e-08
Name: Angry, dtype: float64
200  0    1.300000e-08
Name: Angry, dtype: float64
201  0    1.200000e-08
Name: Angry, dtype: float64
202  0    1.100000e-08
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
198  0    0.0
Name: Surprised, dtype: float64  ...
199  0    0.0
Name: Surprised, dtype: float64  ...
200  0    0.0
Name: Surprised, dtype: float64  ...
201  0    0.0
Name: Surprised, dtype: float64  ...
202  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
198  0    0.266793
Name: Arousal, dtype: float64              0
199  0    0.266212
Name: Arousal, dtype: float64              0
200  0    0.265646
Name: Arousal, dtype: float64              0
201  0    0.265279
Name: Arousal, dtype: float64              0
202  0    0.264919
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
198                0        222.5   0          0   0             0         0
199                0        223.0   0          0   0             0         0
200                0          223   0          0   0             0         0
201                0        223.0   0          0   0             0         0
202                0          223   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
198      0
199      0
200      0
201      0
202      0

[203 rows x 24 columns]
----Time----
10150
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
199  1  Базаев Кирилл  10000      0     0
200  1  Базаев Кирилл  10050      0     0
201  1  Базаев Кирилл  10100      0     0
202  1  Базаев Кирилл  10150      0     0
203  1  Базаев Кирилл  10200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
199  0    0.857796
Name: Neutral, dtype: float64
200  0    0.857166
Name: Neutral, dtype: float64
201  0    0.857031
Name: Neutral, dtype: float64
202  0    0.856426
Name: Neutral, dtype: float64
203  0    0.855976
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
199  0    0.0
Name: Happy, dtype: float64
200  0    0.0
Name: Happy, dtype: float64
201  0    0.0
Name: Happy, dtype: float64
202  0    0.0
Name: Happy, dtype: float64
203  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
199  0    0.000664
Name: Sad, dtype: float64
200  0    0.000554
Name: Sad, dtype: float64
201  0    0.000491
Name: Sad, dtype: float64
202  0    0.000436
Name: Sad, dtype: float64
203  0    0.000365
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
199  0    1.600000e-08
Name: Angry, dtype: float64
200  0    1.300000e-08
Name: Angry, dtype: float64
201  0    1.200000e-08
Name: Angry, dtype: float64
202  0    1.100000e-08
Name: Angry, dtype: float64
203  0    8.500000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
199  0    0.0
Name: Surprised, dtype: float64  ...
200  0    0.0
Name: Surprised, dtype: float64  ...
201  0    0.0
Name: Surprised, dtype: float64  ...
202  0    0.0
Name: Surprised, dtype: float64  ...
203  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
199  0    0.266212
Name: Arousal, dtype: float64              0
200  0    0.265646
Name: Arousal, dtype: float64              0
201  0    0.265279
Name: Arousal, dtype: float64              0
202  0    0.264919
Name: Arousal, dtype: float64              0
203  0    0.264394
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
199                0        223.0   0          0   0             0         0
200                0          223   0          0   0             0         0
201                0        223.0   0          0   0             0         0
202                0          223   0          0   0             0         0
203                0        221.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
199      0
200      0
201      0
202      0
203      0

[204 rows x 24 columns]
----Time----
10200

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
200  1  Базаев Кирилл  10050      0     0
201  1  Базаев Кирилл  10100      0     0
202  1  Базаев Кирилл  10150      0     0
203  1  Базаев Кирилл  10200      0     0
204  1  Базаев Кирилл  10250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
200  0    0.857166
Name: Neutral, dtype: float64
201  0    0.857031
Name: Neutral, dtype: float64
202  0    0.856426
Name: Neutral, dtype: float64
203  0    0.855976
Name: Neutral, dtype: float64
204  0    0.855592
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
200  0    0.0
Name: Happy, dtype: float64
201  0    0.0
Name: Happy, dtype: float64
202  0    0.0
Name: Happy, dtype: float64
203  0    0.0
Name: Happy, dtype: float64
204  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
200  0    0.000554
Name: Sad, dtype: float64
201  0    0.000491
Name: Sad, dtype: float64
202  0    0.000436
Name: Sad, dtype: float64
203  0    0.000365
Name: Sad, dtype: float64
204  0    0.000304
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
200  0    1.300000e-08
Name: Angry, dtype: float64
201  0    1.200000e-08
Name: Angry, dtype: float64
202  0    1.100000e-08
Name: Angry, dtype: float64
203  0    8.500000e-09
Name: Angry, dtype: float64
204  0    7.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
200  0    0.0
Name: Surprised, dtype: float64  ...
201  0    0.0
Name: Surprised, dtype: float64  ...
202  0    0.0
Name: Surprised, dtype: float64  ...
203  0    0.0
Name: Surprised, dtype: float64  ...
204  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
200  0    0.265646
Name: Arousal, dtype: float64              0
201  0    0.265279
Name: Arousal, dtype: float64              0
202  0    0.264919
Name: Arousal, dtype: float64              0
203  0    0.264394
Name: Arousal, dtype: float64              0
204  0    0.263883
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
200                0          223   0          0   0             0         0
201                0        223.0   0          0   0             0         0
202                0          223   0          0   0             0         0
203                0        221.5   0          0   0             0         0
204                0          220   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
200      0
201      0
202      0
203      0
204      0

[205 rows x 24 columns]
----Time----
10250
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
201  1  Базаев Кирилл  10100      0     0
202  1  Базаев Кирилл  10150      0     0
203  1  Базаев Кирилл  10200      0     0
204  1  Базаев Кирилл  10250      0     0
205  1  Базаев Кирилл  10300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
201  0    0.857031
Name: Neutral, dtype: float64
202  0    0.856426
Name: Neutral, dtype: float64
203  0    0.855976
Name: Neutral, dtype: float64
204  0    0.855592
Name: Neutral, dtype: float64
205  0    0.854024
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
201  0    0.0
Name: Happy, dtype: float64
202  0    0.0
Name: Happy, dtype: float64
203  0    0.0
Name: Happy, dtype: float64
204  0    0.0
Name: Happy, dtype: float64
205  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
201  0    0.000491
Name: Sad, dtype: float64
202  0    0.000436
Name: Sad, dtype: float64
203  0    0.000365
Name: Sad, dtype: float64
204  0    0.000304
Name: Sad, dtype: float64
205   0    0.00027
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
201  0    1.200000e-08
Name: Angry, dtype: float64
202  0    1.100000e-08
Name: Angry, dtype: float64
203  0    8.500000e-09
Name: Angry, dtype: float64
204  0    7.000000e-09
Name: Angry, dtype: float64
205  0    7.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
201  0    0.0
Name: Surprised, dtype: float64  ...
202  0    0.0
Name: Surprised, dtype: float64  ...
203  0    0.0
Name: Surprised, dtype: float64  ...
204  0    0.0
Name: Surprised, dtype: float64  ...
205  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
201  0    0.265279
Name: Arousal, dtype: float64              0
202  0    0.264919
Name: Arousal, dtype: float64              0
203  0    0.264394
Name: Arousal, dtype: float64              0
204  0    0.263883
Name: Arousal, dtype: float64              0
205  0    0.263552
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
201                0        223.0   0          0   0             0         0
202                0          223   0          0   0             0         0
203                0        221.5   0          0   0             0         0
204                0          220   0          0   0             0         0
205                0        222.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
201      0
202      0
203      0
204      0
205      0

[206 rows x 24 columns]
----Time----
10300

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
202  1  Базаев Кирилл  10150      0     0
203  1  Базаев Кирилл  10200      0     0
204  1  Базаев Кирилл  10250      0     0
205  1  Базаев Кирилл  10300      0     0
206  1  Базаев Кирилл  10350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
202  0    0.856426
Name: Neutral, dtype: float64
203  0    0.855976
Name: Neutral, dtype: float64
204  0    0.855592
Name: Neutral, dtype: float64
205  0    0.854024
Name: Neutral, dtype: float64
206  0    0.849975
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
202  0    0.0
Name: Happy, dtype: float64
203  0    0.0
Name: Happy, dtype: float64
204  0    0.0
Name: Happy, dtype: float64
205  0    0.0
Name: Happy, dtype: float64
206  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
202  0    0.000436
Name: Sad, dtype: float64
203  0    0.000365
Name: Sad, dtype: float64
204  0    0.000304
Name: Sad, dtype: float64
205   0    0.00027
Name: Sad, dtype: float64
206  0    0.000239
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
202  0    1.100000e-08
Name: Angry, dtype: float64
203  0    8.500000e-09
Name: Angry, dtype: float64
204  0    7.000000e-09
Name: Angry, dtype: float64
205  0    7.000000e-09
Name: Angry, dtype: float64
206  0    6.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
202  0    0.0
Name: Surprised, dtype: float64  ...
203  0    0.0
Name: Surprised, dtype: float64  ...
204  0    0.0
Name: Surprised, dtype: float64  ...
205  0    0.0
Name: Surprised, dtype: float64  ...
206  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
202  0    0.264919
Name: Arousal, dtype: float64              0
203  0    0.264394
Name: Arousal, dtype: float64              0
204  0    0.263883
Name: Arousal, dtype: float64              0
205  0    0.263552
Name: Arousal, dtype: float64              0
206  0    0.263227
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
202                0          223   0          0   0             0         0
203                0        221.5   0          0   0             0         0
204                0          220   0          0   0             0         0
205                0        222.5   0          0   0             0         0
206                0        230.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
202      0
203      0
204      0
205      0
206      0

[207 rows x 24 columns]
----Time----
10350
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
203  1  Базаев Кирилл  10200      0     0
204  1  Базаев Кирилл  10250      0     0
205  1  Базаев Кирилл  10300      0     0
206  1  Базаев Кирилл  10350      0     0
207  1  Базаев Кирилл  10400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
203  0    0.855976
Name: Neutral, dtype: float64
204  0    0.855592
Name: Neutral, dtype: float64
205  0    0.854024
Name: Neutral, dtype: float64
206  0    0.849975
Name: Neutral, dtype: float64
207   0    0.84542
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
203  0    0.0
Name: Happy, dtype: float64
204  0    0.0
Name: Happy, dtype: float64
205  0    0.0
Name: Happy, dtype: float64
206  0    0.0
Name: Happy, dtype: float64
207  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
203  0    0.000365
Name: Sad, dtype: float64
204  0    0.000304
Name: Sad, dtype: float64
205   0    0.00027
Name: Sad, dtype: float64
206  0    0.000239
Name: Sad, dtype: float64
207    0    0.0002
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
203  0    8.500000e-09
Name: Angry, dtype: float64
204  0    7.000000e-09
Name: Angry, dtype: float64
205  0    7.000000e-09
Name: Angry, dtype: float64
206  0    6.000000e-09
Name: Angry, dtype: float64
207  0    5.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
203  0    0.0
Name: Surprised, dtype: float64  ...
204  0    0.0
Name: Surprised, dtype: float64  ...
205  0    0.0
Name: Surprised, dtype: float64  ...
206  0    0.0
Name: Surprised, dtype: float64  ...
207  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
203  0    0.264394
Name: Arousal, dtype: float64              0
204  0    0.263883
Name: Arousal, dtype: float64              0
205  0    0.263552
Name: Arousal, dtype: float64              0
206  0    0.263227
Name: Arousal, dtype: float64              0
207  0    0.262754
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
203                0        221.5   0          0   0             0         0
204                0          220   0          0   0             0         0
205                0        222.5   0          0   0             0         0
206                0        230.0   0          0   0             0         0
207                0          231   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
203      0
204      0
205      0
206      0
207      0

[208 rows x 24 columns]
----Time----
10400

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
204  1  Базаев Кирилл  10250      0     0
205  1  Базаев Кирилл  10300      0     0
206  1  Базаев Кирилл  10350      0     0
207  1  Базаев Кирилл  10400      0     0
208  1  Базаев Кирилл  10450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
204  0    0.855592
Name: Neutral, dtype: float64
205  0    0.854024
Name: Neutral, dtype: float64
206  0    0.849975
Name: Neutral, dtype: float64
207   0    0.84542
Name: Neutral, dtype: float64
208  0    0.843471
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
204  0    0.0
Name: Happy, dtype: float64
205  0    0.0
Name: Happy, dtype: float64
206  0    0.0
Name: Happy, dtype: float64
207  0    0.0
Name: Happy, dtype: float64
208  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
204  0    0.000304
Name: Sad, dtype: float64
205   0    0.00027
Name: Sad, dtype: float64
206  0    0.000239
Name: Sad, dtype: float64
207    0    0.0002
Name: Sad, dtype: float64
208  0    0.000167
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
204  0    7.000000e-09
Name: Angry, dtype: float64
205  0    7.000000e-09
Name: Angry, dtype: float64
206  0    6.000000e-09
Name: Angry, dtype: float64
207  0    5.000000e-09
Name: Angry, dtype: float64
208  0    4.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
204  0    0.0
Name: Surprised, dtype: float64  ...
205  0    0.0
Name: Surprised, dtype: float64  ...
206  0    0.0
Name: Surprised, dtype: float64  ...
207  0    0.0
Name: Surprised, dtype: float64  ...
208  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
204  0    0.263883
Name: Arousal, dtype: float64              0
205  0    0.263552
Name: Arousal, dtype: float64              0
206  0    0.263227
Name: Arousal, dtype: float64              0
207  0    0.262754
Name: Arousal, dtype: float64              0
208  0    0.262292
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
204                0          220   0          0   0             0         0
205                0        222.5   0          0   0             0         0
206                0        230.0   0          0   0             0         0
207                0          231   0          0   0             0         0
208                0        227.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
204      0
205      0
206      0
207      0
208      0

[209 rows x 24 columns]
----Time----
10450
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
205  1  Базаев Кирилл  10300      0     0
206  1  Базаев Кирилл  10350      0     0
207  1  Базаев Кирилл  10400      0     0
208  1  Базаев Кирилл  10450      0     0
209  1  Базаев Кирилл  10500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
205  0    0.854024
Name: Neutral, dtype: float64
206  0    0.849975
Name: Neutral, dtype: float64
207   0    0.84542
Name: Neutral, dtype: float64
208  0    0.843471
Name: Neutral, dtype: float64
209  0    0.842635
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
205  0    0.0
Name: Happy, dtype: float64
206  0    0.0
Name: Happy, dtype: float64
207  0    0.0
Name: Happy, dtype: float64
208  0    0.0
Name: Happy, dtype: float64
209  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
205   0    0.00027
Name: Sad, dtype: float64
206  0    0.000239
Name: Sad, dtype: float64
207    0    0.0002
Name: Sad, dtype: float64
208  0    0.000167
Name: Sad, dtype: float64
209  0    0.000148
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
205  0    7.000000e-09
Name: Angry, dtype: float64
206  0    6.000000e-09
Name: Angry, dtype: float64
207  0    5.000000e-09
Name: Angry, dtype: float64
208  0    4.000000e-09
Name: Angry, dtype: float64
209  0    4.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
205  0    0.0
Name: Surprised, dtype: float64  ...
206  0    0.0
Name: Surprised, dtype: float64  ...
207  0    0.0
Name: Surprised, dtype: float64  ...
208  0    0.0
Name: Surprised, dtype: float64  ...
209  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
205  0    0.263552
Name: Arousal, dtype: float64              0
206  0    0.263227
Name: Arousal, dtype: float64              0
207  0    0.262754
Name: Arousal, dtype: float64              0
208  0    0.262292
Name: Arousal, dtype: float64              0
209  0    0.261993
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
205                0        222.5   0          0   0             0         0
206                0        230.0   0          0   0             0         0
207                0          231   0          0   0             0         0
208                0        227.5   0          0   0             0         0
209                0          224   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
205      0
206      0
207      0
208      0
209      0

[210 rows x 24 columns]
----Time----
10500

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
206  1  Базаев Кирилл  10350      0     0
207  1  Базаев Кирилл  10400      0     0
208  1  Базаев Кирилл  10450      0     0
209  1  Базаев Кирилл  10500      0     0
210  1  Базаев Кирилл  10550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
206  0    0.849975
Name: Neutral, dtype: float64
207   0    0.84542
Name: Neutral, dtype: float64
208  0    0.843471
Name: Neutral, dtype: float64
209  0    0.842635
Name: Neutral, dtype: float64
210  0    0.842369
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
206  0    0.0
Name: Happy, dtype: float64
207  0    0.0
Name: Happy, dtype: float64
208  0    0.0
Name: Happy, dtype: float64
209  0    0.0
Name: Happy, dtype: float64
210  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
206  0    0.000239
Name: Sad, dtype: float64
207    0    0.0002
Name: Sad, dtype: float64
208  0    0.000167
Name: Sad, dtype: float64
209  0    0.000148
Name: Sad, dtype: float64
210  0    0.000131
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
206  0    6.000000e-09
Name: Angry, dtype: float64
207  0    5.000000e-09
Name: Angry, dtype: float64
208  0    4.000000e-09
Name: Angry, dtype: float64
209  0    4.000000e-09
Name: Angry, dtype: float64
210  0    3.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
206  0    0.0
Name: Surprised, dtype: float64  ...
207  0    0.0
Name: Surprised, dtype: float64  ...
208  0    0.0
Name: Surprised, dtype: float64  ...
209  0    0.0
Name: Surprised, dtype: float64  ...
210  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
206  0    0.263227
Name: Arousal, dtype: float64              0
207  0    0.262754
Name: Arousal, dtype: float64              0
208  0    0.262292
Name: Arousal, dtype: float64              0
209  0    0.261993
Name: Arousal, dtype: float64              0
210    0    0.2617
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
206                0        230.0   0          0   0             0         0
207                0          231   0          0   0             0         0
208                0        227.5   0          0   0             0         0
209                0          224   0          0   0             0         0
210                0        227.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
206      0
207      0
208      0
209      0
210      0

[211 rows x 24 columns]
----Time----
10550
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
207  1  Базаев Кирилл  10400      0     0
208  1  Базаев Кирилл  10450      0     0
209  1  Базаев Кирилл  10500      0     0
210  1  Базаев Кирилл  10550      0     0
211  1  Базаев Кирилл  10600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
207   0    0.84542
Name: Neutral, dtype: float64
208  0    0.843471
Name: Neutral, dtype: float64
209  0    0.842635
Name: Neutral, dtype: float64
210  0    0.842369
Name: Neutral, dtype: float64
211  0    0.844192
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
207  0    0.0
Name: Happy, dtype: float64
208  0    0.0
Name: Happy, dtype: float64
209  0    0.0
Name: Happy, dtype: float64
210  0    0.0
Name: Happy, dtype: float64
211  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
207    0    0.0002
Name: Sad, dtype: float64
208  0    0.000167
Name: Sad, dtype: float64
209  0    0.000148
Name: Sad, dtype: float64
210  0    0.000131
Name: Sad, dtype: float64
211   0    0.00011
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
207  0    5.000000e-09
Name: Angry, dtype: float64
208  0    4.000000e-09
Name: Angry, dtype: float64
209  0    4.000000e-09
Name: Angry, dtype: float64
210  0    3.000000e-09
Name: Angry, dtype: float64
211  0    2.500000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
207  0    0.0
Name: Surprised, dtype: float64  ...
208  0    0.0
Name: Surprised, dtype: float64  ...
209  0    0.0
Name: Surprised, dtype: float64  ...
210  0    0.0
Name: Surprised, dtype: float64  ...
211  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
207  0    0.262754
Name: Arousal, dtype: float64              0
208  0    0.262292
Name: Arousal, dtype: float64              0
209  0    0.261993
Name: Arousal, dtype: float64              0
210    0    0.2617
Name: Arousal, dtype: float64              0
211  0    0.261272
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
207                0          231   0          0   0             0         0
208                0        227.5   0          0   0             0         0
209                0          224   0          0   0             0         0
210                0        227.0   0          0   0             0         0
211                0          309   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
207      0
208      0
209      0
210      0
211      0

[212 rows x 24 columns]
----Time----
10600

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
208  1  Базаев Кирилл  10450      0     0
209  1  Базаев Кирилл  10500      0     0
210  1  Базаев Кирилл  10550      0     0
211  1  Базаев Кирилл  10600      0     0
212  1  Базаев Кирилл  10650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
208  0    0.843471
Name: Neutral, dtype: float64
209  0    0.842635
Name: Neutral, dtype: float64
210  0    0.842369
Name: Neutral, dtype: float64
211  0    0.844192
Name: Neutral, dtype: float64
212   0    0.84679
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
208  0    0.0
Name: Happy, dtype: float64
209  0    0.0
Name: Happy, dtype: float64
210  0    0.0
Name: Happy, dtype: float64
211  0    0.0
Name: Happy, dtype: float64
212  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
208  0    0.000167
Name: Sad, dtype: float64
209  0    0.000148
Name: Sad, dtype: float64
210  0    0.000131
Name: Sad, dtype: float64
211   0    0.00011
Name: Sad, dtype: float64
212  0    0.000092
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
208  0    4.000000e-09
Name: Angry, dtype: float64
209  0    4.000000e-09
Name: Angry, dtype: float64
210  0    3.000000e-09
Name: Angry, dtype: float64
211  0    2.500000e-09
Name: Angry, dtype: float64
212  0    2.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
208  0    0.0
Name: Surprised, dtype: float64  ...
209  0    0.0
Name: Surprised, dtype: float64  ...
210  0    0.0
Name: Surprised, dtype: float64  ...
211  0    0.0
Name: Surprised, dtype: float64  ...
212  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
208  0    0.262292
Name: Arousal, dtype: float64              0
209  0    0.261993
Name: Arousal, dtype: float64              0
210    0    0.2617
Name: Arousal, dtype: float64              0
211  0    0.261272
Name: Arousal, dtype: float64              0
212  0    0.260856
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
208                0        227.5   0          0   0             0         0
209                0          224   0          0   0             0         0
210                0        227.0   0          0   0             0         0
211                0          309   0          0   0             0         0
212                0          563   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
208      0
209      0
210      0
211      0
212      0

[213 rows x 24 columns]
----Time----
10650
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
209  1  Базаев Кирилл  10500      0     0
210  1  Базаев Кирилл  10550      0     0
211  1  Базаев Кирилл  10600      0     0
212  1  Базаев Кирилл  10650      0     0
213  1  Базаев Кирилл  10700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
209  0    0.842635
Name: Neutral, dtype: float64
210  0    0.842369
Name: Neutral, dtype: float64
211  0    0.844192
Name: Neutral, dtype: float64
212   0    0.84679
Name: Neutral, dtype: float64
213  0    0.848357
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
209  0    0.0
Name: Happy, dtype: float64
210  0    0.0
Name: Happy, dtype: float64
211  0    0.0
Name: Happy, dtype: float64
212  0    0.0
Name: Happy, dtype: float64
213  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
209  0    0.000148
Name: Sad, dtype: float64
210  0    0.000131
Name: Sad, dtype: float64
211   0    0.00011
Name: Sad, dtype: float64
212  0    0.000092
Name: Sad, dtype: float64
213  0    0.000081
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
209  0    4.000000e-09
Name: Angry, dtype: float64
210  0    3.000000e-09
Name: Angry, dtype: float64
211  0    2.500000e-09
Name: Angry, dtype: float64
212  0    2.000000e-09
Name: Angry, dtype: float64
213  0    2.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
209  0    0.0
Name: Surprised, dtype: float64  ...
210  0    0.0
Name: Surprised, dtype: float64  ...
211  0    0.0
Name: Surprised, dtype: float64  ...
212  0    0.0
Name: Surprised, dtype: float64  ...
213  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
209  0    0.261993
Name: Arousal, dtype: float64              0
210    0    0.2617
Name: Arousal, dtype: float64              0
211  0    0.261272
Name: Arousal, dtype: float64              0
212  0    0.260856
Name: Arousal, dtype: float64              0
213  0    0.260586
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
209                0          224   0          0   0             0         0
210                0        227.0   0          0   0             0         0
211                0          309   0          0   0             0         0
212                0          563   0          0   0             0         0
213                0            0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
209      0
210      0
211      0
212      0
213      0

[214 rows x 24 columns]
----Time----
10700

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
210  1  Базаев Кирилл  10550      0     0
211  1  Базаев Кирилл  10600      0     0
212  1  Базаев Кирилл  10650      0     0
213  1  Базаев Кирилл  10700      0     0
214  1  Базаев Кирилл  10750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
210  0    0.842369
Name: Neutral, dtype: float64
211  0    0.844192
Name: Neutral, dtype: float64
212   0    0.84679
Name: Neutral, dtype: float64
213  0    0.848357
Name: Neutral, dtype: float64
214  0    0.850163
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
210  0    0.0
Name: Happy, dtype: float64
211  0    0.0
Name: Happy, dtype: float64
212  0    0.0
Name: Happy, dtype: float64
213  0    0.0
Name: Happy, dtype: float64
214  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
210  0    0.000131
Name: Sad, dtype: float64
211   0    0.00011
Name: Sad, dtype: float64
212  0    0.000092
Name: Sad, dtype: float64
213  0    0.000081
Name: Sad, dtype: float64
214  0    0.000072
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
210  0    3.000000e-09
Name: Angry, dtype: float64
211  0    2.500000e-09
Name: Angry, dtype: float64
212  0    2.000000e-09
Name: Angry, dtype: float64
213  0    2.000000e-09
Name: Angry, dtype: float64
214  0    2.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
210  0    0.0
Name: Surprised, dtype: float64  ...
211  0    0.0
Name: Surprised, dtype: float64  ...
212  0    0.0
Name: Surprised, dtype: float64  ...
213  0    0.0
Name: Surprised, dtype: float64  ...
214  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
210    0    0.2617
Name: Arousal, dtype: float64              0
211  0    0.261272
Name: Arousal, dtype: float64              0
212  0    0.260856
Name: Arousal, dtype: float64              0
213  0    0.260586
Name: Arousal, dtype: float64              0
214  0    0.260321
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
210                0        227.0   0          0   0             0         0
211                0          309   0          0   0             0         0
212                0          563   0          0   0             0         0
213                0            0   0          0   0             0         0
214                0       1391.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
210      0
211      0
212      0
213      0
214      0

[215 rows x 24 columns]
----Time----
10750
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
211  1  Базаев Кирилл  10600      0     0
212  1  Базаев Кирилл  10650      0     0
213  1  Базаев Кирилл  10700      0     0
214  1  Базаев Кирилл  10750      0     0
215  1  Базаев Кирилл  10800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
211  0    0.844192
Name: Neutral, dtype: float64
212   0    0.84679
Name: Neutral, dtype: float64
213  0    0.848357
Name: Neutral, dtype: float64
214  0    0.850163
Name: Neutral, dtype: float64
215  0    0.853814
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
211  0    0.0
Name: Happy, dtype: float64
212  0    0.0
Name: Happy, dtype: float64
213  0    0.0
Name: Happy, dtype: float64
214  0    0.0
Name: Happy, dtype: float64
215  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
211   0    0.00011
Name: Sad, dtype: float64
212  0    0.000092
Name: Sad, dtype: float64
213  0    0.000081
Name: Sad, dtype: float64
214  0    0.000072
Name: Sad, dtype: float64
215  0    0.000336
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
211  0    2.500000e-09
Name: Angry, dtype: float64
212  0    2.000000e-09
Name: Angry, dtype: float64
213  0    2.000000e-09
Name: Angry, dtype: float64
214  0    2.000000e-09
Name: Angry, dtype: float64
215  0    1.500000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
211  0    0.0
Name: Surprised, dtype: float64  ...
212  0    0.0
Name: Surprised, dtype: float64  ...
213  0    0.0
Name: Surprised, dtype: float64  ...
214  0    0.0
Name: Surprised, dtype: float64  ...
215  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
211  0    0.261272
Name: Arousal, dtype: float64              0
212  0    0.260856
Name: Arousal, dtype: float64              0
213  0    0.260586
Name: Arousal, dtype: float64              0
214  0    0.260321
Name: Arousal, dtype: float64              0
215  0    0.259935
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
211                0          309   0          0   0             0         0
212                0          563   0          0   0             0         0
213                0            0   0          0   0             0         0
214                0       1391.5   0          0   0             0         0
215                0         2158   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
211      0
212      0
213      0
214      0
215      0

[216 rows x 24 columns]
----Time----
10800

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
212  1  Базаев Кирилл  10650      0     0
213  1  Базаев Кирилл  10700      0     0
214  1  Базаев Кирилл  10750      0     0
215  1  Базаев Кирилл  10800      0     0
216  1  Базаев Кирилл  10850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
212   0    0.84679
Name: Neutral, dtype: float64
213  0    0.848357
Name: Neutral, dtype: float64
214  0    0.850163
Name: Neutral, dtype: float64
215  0    0.853814
Name: Neutral, dtype: float64
216  0    0.856945
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
212  0    0.0
Name: Happy, dtype: float64
213  0    0.0
Name: Happy, dtype: float64
214  0    0.0
Name: Happy, dtype: float64
215  0    0.0
Name: Happy, dtype: float64
216  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
212  0    0.000092
Name: Sad, dtype: float64
213  0    0.000081
Name: Sad, dtype: float64
214  0    0.000072
Name: Sad, dtype: float64
215  0    0.000336
Name: Sad, dtype: float64
216  0    0.001218
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
212  0    2.000000e-09
Name: Angry, dtype: float64
213  0    2.000000e-09
Name: Angry, dtype: float64
214  0    2.000000e-09
Name: Angry, dtype: float64
215  0    1.500000e-09
Name: Angry, dtype: float64
216  0    1.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
212  0    0.0
Name: Surprised, dtype: float64  ...
213  0    0.0
Name: Surprised, dtype: float64  ...
214  0    0.0
Name: Surprised, dtype: float64  ...
215  0    0.0
Name: Surprised, dtype: float64  ...
216  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
212  0    0.260856
Name: Arousal, dtype: float64              0
213  0    0.260586
Name: Arousal, dtype: float64              0
214  0    0.260321
Name: Arousal, dtype: float64              0
215  0    0.259935
Name: Arousal, dtype: float64              0
216  0    0.259559
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
212                0          563   0          0   0             0         0
213                0            0   0          0   0             0         0
214                0       1391.5   0          0   0             0         0
215                0         2158   0          0   0             0         0
216                0       2006.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
212      0
213      0
214      0
215      0
216      0

[217 rows x 24 columns]
----Time----
10850
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
213  1  Базаев Кирилл  10700      0     0
214  1  Базаев Кирилл  10750      0     0
215  1  Базаев Кирилл  10800      0     0
216  1  Базаев Кирилл  10850      0     0
217  1  Базаев Кирилл  10900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
213  0    0.848357
Name: Neutral, dtype: float64
214  0    0.850163
Name: Neutral, dtype: float64
215  0    0.853814
Name: Neutral, dtype: float64
216  0    0.856945
Name: Neutral, dtype: float64
217  0    0.859482
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
213  0    0.0
Name: Happy, dtype: float64
214  0    0.0
Name: Happy, dtype: float64
215  0    0.0
Name: Happy, dtype: float64
216  0    0.0
Name: Happy, dtype: float64
217  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
213  0    0.000081
Name: Sad, dtype: float64
214  0    0.000072
Name: Sad, dtype: float64
215  0    0.000336
Name: Sad, dtype: float64
216  0    0.001218
Name: Sad, dtype: float64
217  0    0.001419
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
213  0    2.000000e-09
Name: Angry, dtype: float64
214  0    2.000000e-09
Name: Angry, dtype: float64
215  0    1.500000e-09
Name: Angry, dtype: float64
216  0    1.000000e-09
Name: Angry, dtype: float64
217  0    1.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
213  0    0.0
Name: Surprised, dtype: float64  ...
214  0    0.0
Name: Surprised, dtype: float64  ...
215  0    0.0
Name: Surprised, dtype: float64  ...
216  0    0.0
Name: Surprised, dtype: float64  ...
217  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
213  0    0.260586
Name: Arousal, dtype: float64              0
214  0    0.260321
Name: Arousal, dtype: float64              0
215  0    0.259935
Name: Arousal, dtype: float64              0
216  0    0.259559
Name: Arousal, dtype: float64              0
217  0    0.259315
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
213                0            0   0          0   0             0         0
214                0       1391.5   0          0   0             0         0
215                0         2158   0          0   0             0         0
216                0       2006.0   0          0   0             0         0
217                0         1509   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
213      0
214      0
215      0
216      0
217      0

[218 rows x 24 columns]
----Time----
10900

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
214  1  Базаев Кирилл  10750      0     0
215  1  Базаев Кирилл  10800      0     0
216  1  Базаев Кирилл  10850      0     0
217  1  Базаев Кирилл  10900      0     0
218  1  Базаев Кирилл  10950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
214  0    0.850163
Name: Neutral, dtype: float64
215  0    0.853814
Name: Neutral, dtype: float64
216  0    0.856945
Name: Neutral, dtype: float64
217  0    0.859482
Name: Neutral, dtype: float64
218  0    0.861288
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
214  0    0.0
Name: Happy, dtype: float64
215  0    0.0
Name: Happy, dtype: float64
216  0    0.0
Name: Happy, dtype: float64
217  0    0.0
Name: Happy, dtype: float64
218  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
214  0    0.000072
Name: Sad, dtype: float64
215  0    0.000336
Name: Sad, dtype: float64
216  0    0.001218
Name: Sad, dtype: float64
217  0    0.001419
Name: Sad, dtype: float64
218  0    0.002538
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
214  0    2.000000e-09
Name: Angry, dtype: float64
215  0    1.500000e-09
Name: Angry, dtype: float64
216  0    1.000000e-09
Name: Angry, dtype: float64
217  0    1.000000e-09
Name: Angry, dtype: float64
218  0    1.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
214  0    0.0
Name: Surprised, dtype: float64  ...
215  0    0.0
Name: Surprised, dtype: float64  ...
216  0    0.0
Name: Surprised, dtype: float64  ...
217  0    0.0
Name: Surprised, dtype: float64  ...
218  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
214  0    0.260321
Name: Arousal, dtype: float64              0
215  0    0.259935
Name: Arousal, dtype: float64              0
216  0    0.259559
Name: Arousal, dtype: float64              0
217  0    0.259315
Name: Arousal, dtype: float64              0
218  0    0.259076
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
214                0       1391.5   0          0   0             0         0
215                0         2158   0          0   0             0         0
216                0       2006.0   0          0   0             0         0
217                0         1509   0          0   0             0         0
218                0       1348.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
214      0
215      0
216      0
217      0
218      0

[219 rows x 24 columns]
----Time----
10950
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
215  1  Базаев Кирилл  10800      0     0
216  1  Базаев Кирилл  10850      0     0
217  1  Базаев Кирилл  10900      0     0
218  1  Базаев Кирилл  10950      0     0
219  1  Базаев Кирилл  11000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
215  0    0.853814
Name: Neutral, dtype: float64
216  0    0.856945
Name: Neutral, dtype: float64
217  0    0.859482
Name: Neutral, dtype: float64
218  0    0.861288
Name: Neutral, dtype: float64
219  0    0.864414
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
215  0    0.0
Name: Happy, dtype: float64
216  0    0.0
Name: Happy, dtype: float64
217  0    0.0
Name: Happy, dtype: float64
218  0    0.0
Name: Happy, dtype: float64
219  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
215  0    0.000336
Name: Sad, dtype: float64
216  0    0.001218
Name: Sad, dtype: float64
217  0    0.001419
Name: Sad, dtype: float64
218  0    0.002538
Name: Sad, dtype: float64
219  0    0.004353
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
215  0    1.500000e-09
Name: Angry, dtype: float64
216  0    1.000000e-09
Name: Angry, dtype: float64
217  0    1.000000e-09
Name: Angry, dtype: float64
218  0    1.000000e-09
Name: Angry, dtype: float64
219  0    1.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
215  0    0.0
Name: Surprised, dtype: float64  ...
216  0    0.0
Name: Surprised, dtype: float64  ...
217  0    0.0
Name: Surprised, dtype: float64  ...
218  0    0.0
Name: Surprised, dtype: float64  ...
219  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
215  0    0.259935
Name: Arousal, dtype: float64              0
216  0    0.259559
Name: Arousal, dtype: float64              0
217  0    0.259315
Name: Arousal, dtype: float64              0
218  0    0.259076
Name: Arousal, dtype: float64              0
219  0    0.258727
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
215                0         2158   0          0   0             0         0
216                0       2006.0   0          0   0             0         0
217                0         1509   0          0   0             0         0
218                0       1348.5   0          0   0             0         0
219                0         1415   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
215      0
216      0
217      0
218      0
219      0

[220 rows x 24 columns]
----Time----
11000

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
216  1  Базаев Кирилл  10850      0     0
217  1  Базаев Кирилл  10900      0     0
218  1  Базаев Кирилл  10950      0     0
219  1  Базаев Кирилл  11000      0     0
220  1  Базаев Кирилл  11050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
216  0    0.856945
Name: Neutral, dtype: float64
217  0    0.859482
Name: Neutral, dtype: float64
218  0    0.861288
Name: Neutral, dtype: float64
219  0    0.864414
Name: Neutral, dtype: float64
220  0    0.867174
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
216  0    0.0
Name: Happy, dtype: float64
217  0    0.0
Name: Happy, dtype: float64
218  0    0.0
Name: Happy, dtype: float64
219  0    0.0
Name: Happy, dtype: float64
220  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
216  0    0.001218
Name: Sad, dtype: float64
217  0    0.001419
Name: Sad, dtype: float64
218  0    0.002538
Name: Sad, dtype: float64
219  0    0.004353
Name: Sad, dtype: float64
220  0    0.006285
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
216  0    1.000000e-09
Name: Angry, dtype: float64
217  0    1.000000e-09
Name: Angry, dtype: float64
218  0    1.000000e-09
Name: Angry, dtype: float64
219  0    1.000000e-09
Name: Angry, dtype: float64
220  0    1.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
216  0    0.0
Name: Surprised, dtype: float64  ...
217  0    0.0
Name: Surprised, dtype: float64  ...
218  0    0.0
Name: Surprised, dtype: float64  ...
219  0    0.0
Name: Surprised, dtype: float64  ...
220  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
216  0    0.259559
Name: Arousal, dtype: float64              0
217  0    0.259315
Name: Arousal, dtype: float64              0
218  0    0.259076
Name: Arousal, dtype: float64              0
219  0    0.258727
Name: Arousal, dtype: float64              0
220  0    0.258387
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
216                0       2006.0   0          0   0             0         0
217                0         1509   0          0   0             0         0
218                0       1348.5   0          0   0             0         0
219                0         1415   0          0   0             0         0
220                0       1456.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
216      0
217      0
218      0
219      0
220      0

[221 rows x 24 columns]
----Time----
11050
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
217  1  Базаев Кирилл  10900      0     0
218  1  Базаев Кирилл  10950      0     0
219  1  Базаев Кирилл  11000      0     0
220  1  Базаев Кирилл  11050      0     0
221  1  Базаев Кирилл  11100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
217  0    0.859482
Name: Neutral, dtype: float64
218  0    0.861288
Name: Neutral, dtype: float64
219  0    0.864414
Name: Neutral, dtype: float64
220  0    0.867174
Name: Neutral, dtype: float64
221  0    0.869101
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
217  0    0.0
Name: Happy, dtype: float64
218  0    0.0
Name: Happy, dtype: float64
219  0    0.0
Name: Happy, dtype: float64
220  0    0.0
Name: Happy, dtype: float64
221  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
217  0    0.001419
Name: Sad, dtype: float64
218  0    0.002538
Name: Sad, dtype: float64
219  0    0.004353
Name: Sad, dtype: float64
220  0    0.006285
Name: Sad, dtype: float64
221  0    0.007136
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
217  0    1.000000e-09
Name: Angry, dtype: float64
218  0    1.000000e-09
Name: Angry, dtype: float64
219  0    1.000000e-09
Name: Angry, dtype: float64
220  0    1.000000e-09
Name: Angry, dtype: float64
221  0    1.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
217  0    0.0
Name: Surprised, dtype: float64  ...
218  0    0.0
Name: Surprised, dtype: float64  ...
219  0    0.0
Name: Surprised, dtype: float64  ...
220  0    0.0
Name: Surprised, dtype: float64  ...
221  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
217  0    0.259315
Name: Arousal, dtype: float64              0
218  0    0.259076
Name: Arousal, dtype: float64              0
219  0    0.258727
Name: Arousal, dtype: float64              0
220  0    0.258387
Name: Arousal, dtype: float64              0
221  0    0.258167
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
217                0         1509   0          0   0             0         0
218                0       1348.5   0          0   0             0         0
219                0         1415   0          0   0             0         0
220                0       1456.5   0          0   0             0         0
221                0         1435   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
217      0
218      0
219      0
220      0
221      0

[222 rows x 24 columns]
----Time----
11100

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
218  1  Базаев Кирилл  10950      0     0
219  1  Базаев Кирилл  11000      0     0
220  1  Базаев Кирилл  11050      0     0
221  1  Базаев Кирилл  11100      0     0
222  1  Базаев Кирилл  11150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
218  0    0.861288
Name: Neutral, dtype: float64
219  0    0.864414
Name: Neutral, dtype: float64
220  0    0.867174
Name: Neutral, dtype: float64
221  0    0.869101
Name: Neutral, dtype: float64
222  0    0.870601
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
218  0    0.0
Name: Happy, dtype: float64
219  0    0.0
Name: Happy, dtype: float64
220  0    0.0
Name: Happy, dtype: float64
221  0    0.0
Name: Happy, dtype: float64
222  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
218  0    0.002538
Name: Sad, dtype: float64
219  0    0.004353
Name: Sad, dtype: float64
220  0    0.006285
Name: Sad, dtype: float64
221  0    0.007136
Name: Sad, dtype: float64
222  0    0.008521
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
218  0    1.000000e-09
Name: Angry, dtype: float64
219  0    1.000000e-09
Name: Angry, dtype: float64
220  0    1.000000e-09
Name: Angry, dtype: float64
221  0    1.000000e-09
Name: Angry, dtype: float64
222  0    1.000000e-09
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
218  0    0.0
Name: Surprised, dtype: float64  ...
219  0    0.0
Name: Surprised, dtype: float64  ...
220  0    0.0
Name: Surprised, dtype: float64  ...
221  0    0.0
Name: Surprised, dtype: float64  ...
222  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
218  0    0.259076
Name: Arousal, dtype: float64              0
219  0    0.258727
Name: Arousal, dtype: float64              0
220  0    0.258387
Name: Arousal, dtype: float64              0
221  0    0.258167
Name: Arousal, dtype: float64              0
222  0    0.257952
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
218                0       1348.5   0          0   0             0         0
219                0         1415   0          0   0             0         0
220                0       1456.5   0          0   0             0         0
221                0         1435   0          0   0             0         0
222                0       1534.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
218      0
219      0
220      0
221      0
222      0

[223 rows x 24 columns]
----Time----
11150
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
219  1  Базаев Кирилл  11000      0     0
220  1  Базаев Кирилл  11050      0     0
221  1  Базаев Кирилл  11100      0     0
222  1  Базаев Кирилл  11150      0     0
223  1  Базаев Кирилл  11200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
219  0    0.864414
Name: Neutral, dtype: float64
220  0    0.867174
Name: Neutral, dtype: float64
221  0    0.869101
Name: Neutral, dtype: float64
222  0    0.870601
Name: Neutral, dtype: float64
223  0    0.872869
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
219  0    0.0
Name: Happy, dtype: float64
220  0    0.0
Name: Happy, dtype: float64
221  0    0.0
Name: Happy, dtype: float64
222  0    0.0
Name: Happy, dtype: float64
223  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
219  0    0.004353
Name: Sad, dtype: float64
220  0    0.006285
Name: Sad, dtype: float64
221  0    0.007136
Name: Sad, dtype: float64
222  0    0.008521
Name: Sad, dtype: float64
223  0    0.010521
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
219  0    1.000000e-09
Name: Angry, dtype: float64
220  0    1.000000e-09
Name: Angry, dtype: float64
221  0    1.000000e-09
Name: Angry, dtype: float64
222  0    1.000000e-09
Name: Angry, dtype: float64
223           0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
219  0    0.0
Name: Surprised, dtype: float64  ...
220  0    0.0
Name: Surprised, dtype: float64  ...
221  0    0.0
Name: Surprised, dtype: float64  ...
222  0    0.0
Name: Surprised, dtype: float64  ...
223  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
219  0    0.258727
Name: Arousal, dtype: float64              0
220  0    0.258387
Name: Arousal, dtype: float64              0
221  0    0.258167
Name: Arousal, dtype: float64              0
222  0    0.257952
Name: Arousal, dtype: float64              0
223  0    0.257637
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
219                0         1415   0          0   0             0         0
220                0       1456.5   0          0   0             0         0
221                0         1435   0          0   0             0         0
222                0       1534.0   0          0   0             0         0
223                0         2005   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
219      0
220      0
221      0
222      0
223      0

[224 rows x 24 columns]
----Time----
11200

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
220  1  Базаев Кирилл  11050      0     0
221  1  Базаев Кирилл  11100      0     0
222  1  Базаев Кирилл  11150      0     0
223  1  Базаев Кирилл  11200      0     0
224  1  Базаев Кирилл  11250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
220  0    0.867174
Name: Neutral, dtype: float64
221  0    0.869101
Name: Neutral, dtype: float64
222  0    0.870601
Name: Neutral, dtype: float64
223  0    0.872869
Name: Neutral, dtype: float64
224  0    0.871734
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
220  0    0.0
Name: Happy, dtype: float64
221  0    0.0
Name: Happy, dtype: float64
222  0    0.0
Name: Happy, dtype: float64
223  0    0.0
Name: Happy, dtype: float64
224  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
220  0    0.006285
Name: Sad, dtype: float64
221  0    0.007136
Name: Sad, dtype: float64
222  0    0.008521
Name: Sad, dtype: float64
223  0    0.010521
Name: Sad, dtype: float64
224  0    0.011803
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
220  0    1.000000e-09
Name: Angry, dtype: float64
221  0    1.000000e-09
Name: Angry, dtype: float64
222  0    1.000000e-09
Name: Angry, dtype: float64
223           0    0.0
Name: Angry, dtype: float64
224           0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
220  0    0.0
Name: Surprised, dtype: float64  ...
221  0    0.0
Name: Surprised, dtype: float64  ...
222  0    0.0
Name: Surprised, dtype: float64  ...
223  0    0.0
Name: Surprised, dtype: float64  ...
224  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
220  0    0.258387
Name: Arousal, dtype: float64              0
221  0    0.258167
Name: Arousal, dtype: float64              0
222  0    0.257952
Name: Arousal, dtype: float64              0
223  0    0.257637
Name: Arousal, dtype: float64              0
224   0    0.25733
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
220                0       1456.5   0          0   0             0         0
221                0         1435   0          0   0             0         0
222                0       1534.0   0          0   0             0         0
223                0         2005   0          0   0             0         0
224                0       2756.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
220      0
221      0
222      0
223      0
224      0

[225 rows x 24 columns]
----Time----
11250
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
221  1  Базаев Кирилл  11100      0     0
222  1  Базаев Кирилл  11150      0     0
223  1  Базаев Кирилл  11200      0     0
224  1  Базаев Кирилл  11250      0     0
225  1  Базаев Кирилл  11300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
221  0    0.869101
Name: Neutral, dtype: float64
222  0    0.870601
Name: Neutral, dtype: float64
223  0    0.872869
Name: Neutral, dtype: float64
224  0    0.871734
Name: Neutral, dtype: float64
225  0    0.871345
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
221  0    0.0
Name: Happy, dtype: float64
222  0    0.0
Name: Happy, dtype: float64
223  0    0.0
Name: Happy, dtype: float64
224  0    0.0
Name: Happy, dtype: float64
225  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
221  0    0.007136
Name: Sad, dtype: float64
222  0    0.008521
Name: Sad, dtype: float64
223  0    0.010521
Name: Sad, dtype: float64
224  0    0.011803
Name: Sad, dtype: float64
225  0    0.012155
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
221  0    1.000000e-09
Name: Angry, dtype: float64
222  0    1.000000e-09
Name: Angry, dtype: float64
223           0    0.0
Name: Angry, dtype: float64
224           0    0.0
Name: Angry, dtype: float64
225           0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
221  0    0.0
Name: Surprised, dtype: float64  ...
222  0    0.0
Name: Surprised, dtype: float64  ...
223  0    0.0
Name: Surprised, dtype: float64  ...
224  0    0.0
Name: Surprised, dtype: float64  ...
225  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
221  0    0.258167
Name: Arousal, dtype: float64              0
222  0    0.257952
Name: Arousal, dtype: float64              0
223  0    0.257637
Name: Arousal, dtype: float64              0
224   0    0.25733
Name: Arousal, dtype: float64              0
225  0    0.257131
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
221                0         1435   0          0   0             0         0
222                0       1534.0   0          0   0             0         0
223                0         2005   0          0   0             0         0
224                0       2756.5   0          0   0             0         0
225                0       2788.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
221      0
222      0
223      0
224      0
225      0

[226 rows x 24 columns]
----Time----
11300

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
222  1  Базаев Кирилл  11150      0     0
223  1  Базаев Кирилл  11200      0     0
224  1  Базаев Кирилл  11250      0     0
225  1  Базаев Кирилл  11300      0     0
226  1  Базаев Кирилл  11350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
222  0    0.870601
Name: Neutral, dtype: float64
223  0    0.872869
Name: Neutral, dtype: float64
224  0    0.871734
Name: Neutral, dtype: float64
225  0    0.871345
Name: Neutral, dtype: float64
226  0    0.869726
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
222  0    0.0
Name: Happy, dtype: float64
223  0    0.0
Name: Happy, dtype: float64
224  0    0.0
Name: Happy, dtype: float64
225  0    0.0
Name: Happy, dtype: float64
226  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
222  0    0.008521
Name: Sad, dtype: float64
223  0    0.010521
Name: Sad, dtype: float64
224  0    0.011803
Name: Sad, dtype: float64
225  0    0.012155
Name: Sad, dtype: float64
226  0    0.014577
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
222  0    1.000000e-09
Name: Angry, dtype: float64
223           0    0.0
Name: Angry, dtype: float64
224           0    0.0
Name: Angry, dtype: float64
225           0    0.0
Name: Angry, dtype: float64
226           0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
222  0    0.0
Name: Surprised, dtype: float64  ...
223  0    0.0
Name: Surprised, dtype: float64  ...
224  0    0.0
Name: Surprised, dtype: float64  ...
225  0    0.0
Name: Surprised, dtype: float64  ...
226  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
222  0    0.257952
Name: Arousal, dtype: float64              0
223  0    0.257637
Name: Arousal, dtype: float64              0
224   0    0.25733
Name: Arousal, dtype: float64              0
225  0    0.257131
Name: Arousal, dtype: float64              0
226  0    0.256937
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
222                0       1534.0   0          0   0             0         0
223                0         2005   0          0   0             0         0
224                0       2756.5   0          0   0             0         0
225                0       2788.0   0          0   0             0         0
226                0         2080   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
222      0
223      0
224      0
225      0
226      0

[227 rows x 24 columns]
----Time----
11350
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
223  1  Базаев Кирилл  11200      0     0
224  1  Базаев Кирилл  11250      0     0
225  1  Базаев Кирилл  11300      0     0
226  1  Базаев Кирилл  11350      0     0
227  1  Базаев Кирилл  11400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
223  0    0.872869
Name: Neutral, dtype: float64
224  0    0.871734
Name: Neutral, dtype: float64
225  0    0.871345
Name: Neutral, dtype: float64
226  0    0.869726
Name: Neutral, dtype: float64
227  0    0.867584
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
223  0    0.0
Name: Happy, dtype: float64
224  0    0.0
Name: Happy, dtype: float64
225  0    0.0
Name: Happy, dtype: float64
226  0    0.0
Name: Happy, dtype: float64
227  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
223  0    0.010521
Name: Sad, dtype: float64
224  0    0.011803
Name: Sad, dtype: float64
225  0    0.012155
Name: Sad, dtype: float64
226  0    0.014577
Name: Sad, dtype: float64
227   0    0.01753
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
223  0    0.0
Name: Angry, dtype: float64
224  0    0.0
Name: Angry, dtype: float64
225  0    0.0
Name: Angry, dtype: float64
226  0    0.0
Name: Angry, dtype: float64
227  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
223  0    0.0
Name: Surprised, dtype: float64  ...
224  0    0.0
Name: Surprised, dtype: float64  ...
225  0    0.0
Name: Surprised, dtype: float64  ...
226  0    0.0
Name: Surprised, dtype: float64  ...
227  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
223  0    0.257637
Name: Arousal, dtype: float64              0
224   0    0.25733
Name: Arousal, dtype: float64              0
225  0    0.257131
Name: Arousal, dtype: float64              0
226  0    0.256937
Name: Arousal, dtype: float64              0
227  0    0.256652
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
223                0         2005   0          0   0             0         0
224                0       2756.5   0          0   0             0         0
225                0       2788.0   0          0   0             0         0
226                0         2080   0          0   0             0         0
227                0       1689.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
223      0
224      0
225      0
226      0
227      0

[228 rows x 24 columns]
----Time----
11400

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
224  1  Базаев Кирилл  11250      0     0
225  1  Базаев Кирилл  11300      0     0
226  1  Базаев Кирилл  11350      0     0
227  1  Базаев Кирилл  11400      0     0
228  1  Базаев Кирилл  11450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
224  0    0.871734
Name: Neutral, dtype: float64
225  0    0.871345
Name: Neutral, dtype: float64
226  0    0.869726
Name: Neutral, dtype: float64
227  0    0.867584
Name: Neutral, dtype: float64
228  0    0.863682
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
224  0    0.0
Name: Happy, dtype: float64
225  0    0.0
Name: Happy, dtype: float64
226  0    0.0
Name: Happy, dtype: float64
227  0    0.0
Name: Happy, dtype: float64
228  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
224  0    0.011803
Name: Sad, dtype: float64
225  0    0.012155
Name: Sad, dtype: float64
226  0    0.014577
Name: Sad, dtype: float64
227   0    0.01753
Name: Sad, dtype: float64
228  0    0.019273
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
224  0    0.0
Name: Angry, dtype: float64
225  0    0.0
Name: Angry, dtype: float64
226  0    0.0
Name: Angry, dtype: float64
227  0    0.0
Name: Angry, dtype: float64
228  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
224  0    0.0
Name: Surprised, dtype: float64  ...
225  0    0.0
Name: Surprised, dtype: float64  ...
226  0    0.0
Name: Surprised, dtype: float64  ...
227  0    0.0
Name: Surprised, dtype: float64  ...
228  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
224   0    0.25733
Name: Arousal, dtype: float64              0
225  0    0.257131
Name: Arousal, dtype: float64              0
226  0    0.256937
Name: Arousal, dtype: float64              0
227  0    0.256652
Name: Arousal, dtype: float64              0
228  0    0.256375
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
224                0       2756.5   0          0   0             0         0
225                0       2788.0   0          0   0             0         0
226                0         2080   0          0   0             0         0
227                0       1689.0   0          0   0             0         0
228                0         1697   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
224      0
225      0
226      0
227      0
228      0

[229 rows x 24 columns]
----Time----
11450
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
225  1  Базаев Кирилл  11300      0     0
226  1  Базаев Кирилл  11350      0     0
227  1  Базаев Кирилл  11400      0     0
228  1  Базаев Кирилл  11450      0     0
229  1  Базаев Кирилл  11500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
225  0    0.871345
Name: Neutral, dtype: float64
226  0    0.869726
Name: Neutral, dtype: float64
227  0    0.867584
Name: Neutral, dtype: float64
228  0    0.863682
Name: Neutral, dtype: float64
229  0    0.860045
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
225  0    0.0
Name: Happy, dtype: float64
226  0    0.0
Name: Happy, dtype: float64
227  0    0.0
Name: Happy, dtype: float64
228  0    0.0
Name: Happy, dtype: float64
229  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
225  0    0.012155
Name: Sad, dtype: float64
226  0    0.014577
Name: Sad, dtype: float64
227   0    0.01753
Name: Sad, dtype: float64
228  0    0.019273
Name: Sad, dtype: float64
229  0    0.020939
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
225  0    0.0
Name: Angry, dtype: float64
226  0    0.0
Name: Angry, dtype: float64
227  0    0.0
Name: Angry, dtype: float64
228  0    0.0
Name: Angry, dtype: float64
229  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
225  0    0.0
Name: Surprised, dtype: float64  ...
226  0    0.0
Name: Surprised, dtype: float64  ...
227  0    0.0
Name: Surprised, dtype: float64  ...
228  0    0.0
Name: Surprised, dtype: float64  ...
229  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
225  0    0.257131
Name: Arousal, dtype: float64              0
226  0    0.256937
Name: Arousal, dtype: float64              0
227  0    0.256652
Name: Arousal, dtype: float64              0
228  0    0.256375
Name: Arousal, dtype: float64              0
229  0    0.256196
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
225                0       2788.0   0          0   0             0         0
226                0         2080   0          0   0             0         0
227                0       1689.0   0          0   0             0         0
228                0         1697   0          0   0             0         0
229                0       1791.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
225      0
226      0
227      0
228      0
229      0

[230 rows x 24 columns]
----Time----
11500

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
226  1  Базаев Кирилл  11350      0     0
227  1  Базаев Кирилл  11400      0     0
228  1  Базаев Кирилл  11450      0     0
229  1  Базаев Кирилл  11500      0     0
230  1  Базаев Кирилл  11550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
226  0    0.869726
Name: Neutral, dtype: float64
227  0    0.867584
Name: Neutral, dtype: float64
228  0    0.863682
Name: Neutral, dtype: float64
229  0    0.860045
Name: Neutral, dtype: float64
230  0    0.856804
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
226  0    0.0
Name: Happy, dtype: float64
227  0    0.0
Name: Happy, dtype: float64
228  0    0.0
Name: Happy, dtype: float64
229  0    0.0
Name: Happy, dtype: float64
230  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
226  0    0.014577
Name: Sad, dtype: float64
227   0    0.01753
Name: Sad, dtype: float64
228  0    0.019273
Name: Sad, dtype: float64
229  0    0.020939
Name: Sad, dtype: float64
230    0    0.0232
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
226  0    0.0
Name: Angry, dtype: float64
227  0    0.0
Name: Angry, dtype: float64
228  0    0.0
Name: Angry, dtype: float64
229  0    0.0
Name: Angry, dtype: float64
230  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
226  0    0.0
Name: Surprised, dtype: float64  ...
227  0    0.0
Name: Surprised, dtype: float64  ...
228  0    0.0
Name: Surprised, dtype: float64  ...
229  0    0.0
Name: Surprised, dtype: float64  ...
230  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
226  0    0.256937
Name: Arousal, dtype: float64              0
227  0    0.256652
Name: Arousal, dtype: float64              0
228  0    0.256375
Name: Arousal, dtype: float64              0
229  0    0.256196
Name: Arousal, dtype: float64              0
230   0    0.25602
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
226                0         2080   0          0   0             0         0
227                0       1689.0   0          0   0             0         0
228                0         1697   0          0   0             0         0
229                0       1791.0   0          0   0             0         0
230                0       1787.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
226      0
227      0
228      0
229      0
230      0

[231 rows x 24 columns]
----Time----
11550
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
227  1  Базаев Кирилл  11400      0     0
228  1  Базаев Кирилл  11450      0     0
229  1  Базаев Кирилл  11500      0     0
230  1  Базаев Кирилл  11550      0     0
231  1  Базаев Кирилл  11600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
227  0    0.867584
Name: Neutral, dtype: float64
228  0    0.863682
Name: Neutral, dtype: float64
229  0    0.860045
Name: Neutral, dtype: float64
230  0    0.856804
Name: Neutral, dtype: float64
231  0    0.853889
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
227  0    0.0
Name: Happy, dtype: float64
228  0    0.0
Name: Happy, dtype: float64
229  0    0.0
Name: Happy, dtype: float64
230  0    0.0
Name: Happy, dtype: float64
231  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
227   0    0.01753
Name: Sad, dtype: float64
228  0    0.019273
Name: Sad, dtype: float64
229  0    0.020939
Name: Sad, dtype: float64
230    0    0.0232
Name: Sad, dtype: float64
231  0    0.027063
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
227  0    0.0
Name: Angry, dtype: float64
228  0    0.0
Name: Angry, dtype: float64
229  0    0.0
Name: Angry, dtype: float64
230  0    0.0
Name: Angry, dtype: float64
231  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
227  0    0.0
Name: Surprised, dtype: float64  ...
228  0    0.0
Name: Surprised, dtype: float64  ...
229  0    0.0
Name: Surprised, dtype: float64  ...
230  0    0.0
Name: Surprised, dtype: float64  ...
231  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
227  0    0.256652
Name: Arousal, dtype: float64              0
228  0    0.256375
Name: Arousal, dtype: float64              0
229  0    0.256196
Name: Arousal, dtype: float64              0
230   0    0.25602
Name: Arousal, dtype: float64              0
231  0    0.255763
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
227                0       1689.0   0          0   0             0         0
228                0         1697   0          0   0             0         0
229                0       1791.0   0          0   0             0         0
230                0       1787.5   0          0   0             0         0
231                0         1782   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
227      0
228      0
229      0
230      0
231      0

[232 rows x 24 columns]
----Time----
11600

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
228  1  Базаев Кирилл  11450      0     0
229  1  Базаев Кирилл  11500      0     0
230  1  Базаев Кирилл  11550      0     0
231  1  Базаев Кирилл  11600      0     0
232  1  Базаев Кирилл  11650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
228  0    0.863682
Name: Neutral, dtype: float64
229  0    0.860045
Name: Neutral, dtype: float64
230  0    0.856804
Name: Neutral, dtype: float64
231  0    0.853889
Name: Neutral, dtype: float64
232  0    0.851151
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
228  0    0.0
Name: Happy, dtype: float64
229  0    0.0
Name: Happy, dtype: float64
230  0    0.0
Name: Happy, dtype: float64
231  0    0.0
Name: Happy, dtype: float64
232  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
228  0    0.019273
Name: Sad, dtype: float64
229  0    0.020939
Name: Sad, dtype: float64
230    0    0.0232
Name: Sad, dtype: float64
231  0    0.027063
Name: Sad, dtype: float64
232  0    0.030775
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
228  0    0.0
Name: Angry, dtype: float64
229  0    0.0
Name: Angry, dtype: float64
230  0    0.0
Name: Angry, dtype: float64
231  0    0.0
Name: Angry, dtype: float64
232  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
228  0    0.0
Name: Surprised, dtype: float64  ...
229  0    0.0
Name: Surprised, dtype: float64  ...
230  0    0.0
Name: Surprised, dtype: float64  ...
231  0    0.0
Name: Surprised, dtype: float64  ...
232  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
228  0    0.256375
Name: Arousal, dtype: float64              0
229  0    0.256196
Name: Arousal, dtype: float64              0
230   0    0.25602
Name: Arousal, dtype: float64              0
231  0    0.255763
Name: Arousal, dtype: float64              0
232  0    0.255514
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
228                0         1697   0          0   0             0         0
229                0       1791.0   0          0   0             0         0
230                0       1787.5   0          0   0             0         0
231                0         1782   0          0   0             0         0
232                0       2085.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
228      0
229      0
230      0
231      0
232      0

[233 rows x 24 columns]
----Time----
11650
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
229  1  Базаев Кирилл  11500      0     0
230  1  Базаев Кирилл  11550      0     0
231  1  Базаев Кирилл  11600      0     0
232  1  Базаев Кирилл  11650      0     0
233  1  Базаев Кирилл  11700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
229  0    0.860045
Name: Neutral, dtype: float64
230  0    0.856804
Name: Neutral, dtype: float64
231  0    0.853889
Name: Neutral, dtype: float64
232  0    0.851151
Name: Neutral, dtype: float64
233  0    0.849118
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
229  0    0.0
Name: Happy, dtype: float64
230  0    0.0
Name: Happy, dtype: float64
231  0    0.0
Name: Happy, dtype: float64
232  0    0.0
Name: Happy, dtype: float64
233  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
229  0    0.020939
Name: Sad, dtype: float64
230    0    0.0232
Name: Sad, dtype: float64
231  0    0.027063
Name: Sad, dtype: float64
232  0    0.030775
Name: Sad, dtype: float64
233  0    0.032464
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
229  0    0.0
Name: Angry, dtype: float64
230  0    0.0
Name: Angry, dtype: float64
231  0    0.0
Name: Angry, dtype: float64
232  0    0.0
Name: Angry, dtype: float64
233  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
229  0    0.0
Name: Surprised, dtype: float64  ...
230  0    0.0
Name: Surprised, dtype: float64  ...
231  0    0.0
Name: Surprised, dtype: float64  ...
232  0    0.0
Name: Surprised, dtype: float64  ...
233  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
229  0    0.256196
Name: Arousal, dtype: float64              0
230   0    0.25602
Name: Arousal, dtype: float64              0
231  0    0.255763
Name: Arousal, dtype: float64              0
232  0    0.255514
Name: Arousal, dtype: float64              0
233  0    0.255351
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
229                0       1791.0   0          0   0             0         0
230                0       1787.5   0          0   0             0         0
231                0         1782   0          0   0             0         0
232                0       2085.5   0          0   0             0         0
233                0         2899   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
229      0
230      0
231      0
232      0
233      0

[234 rows x 24 columns]
----Time----
11700

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
230  1  Базаев Кирилл  11550      0     0
231  1  Базаев Кирилл  11600      0     0
232  1  Базаев Кирилл  11650      0     0
233  1  Базаев Кирилл  11700      0     0
234  1  Базаев Кирилл  11750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
230  0    0.856804
Name: Neutral, dtype: float64
231  0    0.853889
Name: Neutral, dtype: float64
232  0    0.851151
Name: Neutral, dtype: float64
233  0    0.849118
Name: Neutral, dtype: float64
234  0    0.847872
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
230  0    0.0
Name: Happy, dtype: float64
231  0    0.0
Name: Happy, dtype: float64
232  0    0.0
Name: Happy, dtype: float64
233  0    0.0
Name: Happy, dtype: float64
234  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
230    0    0.0232
Name: Sad, dtype: float64
231  0    0.027063
Name: Sad, dtype: float64
232  0    0.030775
Name: Sad, dtype: float64
233  0    0.032464
Name: Sad, dtype: float64
234  0    0.033711
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
230  0    0.0
Name: Angry, dtype: float64
231  0    0.0
Name: Angry, dtype: float64
232  0    0.0
Name: Angry, dtype: float64
233  0    0.0
Name: Angry, dtype: float64
234  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
230  0    0.0
Name: Surprised, dtype: float64  ...
231  0    0.0
Name: Surprised, dtype: float64  ...
232  0    0.0
Name: Surprised, dtype: float64  ...
233  0    0.0
Name: Surprised, dtype: float64  ...
234  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
230   0    0.25602
Name: Arousal, dtype: float64              0
231  0    0.255763
Name: Arousal, dtype: float64              0
232  0    0.255514
Name: Arousal, dtype: float64              0
233  0    0.255351
Name: Arousal, dtype: float64              0
234  0    0.255193
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
230                0       1787.5   0          0   0             0         0
231                0         1782   0          0   0             0         0
232                0       2085.5   0          0   0             0         0
233                0         2899   0          0   0             0         0
234                0       3959.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
230      0
231      0
232      0
233      0
234      0

[235 rows x 24 columns]
----Time----
11750
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
231  1  Базаев Кирилл  11600      0     0
232  1  Базаев Кирилл  11650      0     0
233  1  Базаев Кирилл  11700      0     0
234  1  Базаев Кирилл  11750      0     0
235  1  Базаев Кирилл  11800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
231  0    0.853889
Name: Neutral, dtype: float64
232  0    0.851151
Name: Neutral, dtype: float64
233  0    0.849118
Name: Neutral, dtype: float64
234  0    0.847872
Name: Neutral, dtype: float64
235  0    0.846074
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
231  0    0.0
Name: Happy, dtype: float64
232  0    0.0
Name: Happy, dtype: float64
233  0    0.0
Name: Happy, dtype: float64
234  0    0.0
Name: Happy, dtype: float64
235  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
231  0    0.027063
Name: Sad, dtype: float64
232  0    0.030775
Name: Sad, dtype: float64
233  0    0.032464
Name: Sad, dtype: float64
234  0    0.033711
Name: Sad, dtype: float64
235  0    0.036545
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
231  0    0.0
Name: Angry, dtype: float64
232  0    0.0
Name: Angry, dtype: float64
233  0    0.0
Name: Angry, dtype: float64
234  0    0.0
Name: Angry, dtype: float64
235  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
231  0    0.0
Name: Surprised, dtype: float64  ...
232  0    0.0
Name: Surprised, dtype: float64  ...
233  0    0.0
Name: Surprised, dtype: float64  ...
234  0    0.0
Name: Surprised, dtype: float64  ...
235  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
231  0    0.255763
Name: Arousal, dtype: float64              0
232  0    0.255514
Name: Arousal, dtype: float64              0
233  0    0.255351
Name: Arousal, dtype: float64              0
234  0    0.255193
Name: Arousal, dtype: float64              0
235  0    0.254961
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
231                0         1782   0          0   0             0         0
232                0       2085.5   0          0   0             0         0
233                0         2899   0          0   0             0         0
234                0       3959.0   0          0   0             0         0
235                0         4408   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
231      0
232      0
233      0
234      0
235      0

[236 rows x 24 columns]
----Time----
11800

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
232  1  Базаев Кирилл  11650      0     0
233  1  Базаев Кирилл  11700      0     0
234  1  Базаев Кирилл  11750      0     0
235  1  Базаев Кирилл  11800      0     0
236  1  Базаев Кирилл  11850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
232  0    0.851151
Name: Neutral, dtype: float64
233  0    0.849118
Name: Neutral, dtype: float64
234  0    0.847872
Name: Neutral, dtype: float64
235  0    0.846074
Name: Neutral, dtype: float64
236  0    0.844117
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
232  0    0.0
Name: Happy, dtype: float64
233  0    0.0
Name: Happy, dtype: float64
234  0    0.0
Name: Happy, dtype: float64
235  0    0.0
Name: Happy, dtype: float64
236  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
232  0    0.030775
Name: Sad, dtype: float64
233  0    0.032464
Name: Sad, dtype: float64
234  0    0.033711
Name: Sad, dtype: float64
235  0    0.036545
Name: Sad, dtype: float64
236   0    0.04015
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
232  0    0.0
Name: Angry, dtype: float64
233  0    0.0
Name: Angry, dtype: float64
234  0    0.0
Name: Angry, dtype: float64
235  0    0.0
Name: Angry, dtype: float64
236  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
232  0    0.0
Name: Surprised, dtype: float64  ...
233  0    0.0
Name: Surprised, dtype: float64  ...
234  0    0.0
Name: Surprised, dtype: float64  ...
235  0    0.0
Name: Surprised, dtype: float64  ...
236  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
232  0    0.255514
Name: Arousal, dtype: float64              0
233  0    0.255351
Name: Arousal, dtype: float64              0
234  0    0.255193
Name: Arousal, dtype: float64              0
235  0    0.254961
Name: Arousal, dtype: float64              0
236  0    0.254735
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
232                0       2085.5   0          0   0             0         0
233                0         2899   0          0   0             0         0
234                0       3959.0   0          0   0             0         0
235                0         4408   0          0   0             0         0
236                0       3632.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
232      0
233      0
234      0
235      0
236      0

[237 rows x 24 columns]
----Time----
11850
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
233  1  Базаев Кирилл  11700      0     0
234  1  Базаев Кирилл  11750      0     0
235  1  Базаев Кирилл  11800      0     0
236  1  Базаев Кирилл  11850      0     0
237  1  Базаев Кирилл  11900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
233  0    0.849118
Name: Neutral, dtype: float64
234  0    0.847872
Name: Neutral, dtype: float64
235  0    0.846074
Name: Neutral, dtype: float64
236  0    0.844117
Name: Neutral, dtype: float64
237   0    0.84186
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
233  0    0.0
Name: Happy, dtype: float64
234  0    0.0
Name: Happy, dtype: float64
235  0    0.0
Name: Happy, dtype: float64
236  0    0.0
Name: Happy, dtype: float64
237  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
233  0    0.032464
Name: Sad, dtype: float64
234  0    0.033711
Name: Sad, dtype: float64
235  0    0.036545
Name: Sad, dtype: float64
236   0    0.04015
Name: Sad, dtype: float64
237  0    0.042144
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
233  0    0.0
Name: Angry, dtype: float64
234  0    0.0
Name: Angry, dtype: float64
235  0    0.0
Name: Angry, dtype: float64
236  0    0.0
Name: Angry, dtype: float64
237  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
233  0    0.0
Name: Surprised, dtype: float64  ...
234  0    0.0
Name: Surprised, dtype: float64  ...
235  0    0.0
Name: Surprised, dtype: float64  ...
236  0    0.0
Name: Surprised, dtype: float64  ...
237  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
233  0    0.255351
Name: Arousal, dtype: float64              0
234  0    0.255193
Name: Arousal, dtype: float64              0
235  0    0.254961
Name: Arousal, dtype: float64              0
236  0    0.254735
Name: Arousal, dtype: float64              0
237  0    0.254589
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
233                0         2899   0          0   0             0         0
234                0       3959.0   0          0   0             0         0
235                0         4408   0          0   0             0         0
236                0       3632.0   0          0   0             0         0
237                0         2559   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
233      0
234      0
235      0
236      0
237      0

[238 rows x 24 columns]
----Time----
11900

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
234  1  Базаев Кирилл  11750      0     0
235  1  Базаев Кирилл  11800      0     0
236  1  Базаев Кирилл  11850      0     0
237  1  Базаев Кирилл  11900      0     0
238  1  Базаев Кирилл  11950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
234  0    0.847872
Name: Neutral, dtype: float64
235  0    0.846074
Name: Neutral, dtype: float64
236  0    0.844117
Name: Neutral, dtype: float64
237   0    0.84186
Name: Neutral, dtype: float64
238  0    0.840369
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
234  0    0.0
Name: Happy, dtype: float64
235  0    0.0
Name: Happy, dtype: float64
236  0    0.0
Name: Happy, dtype: float64
237  0    0.0
Name: Happy, dtype: float64
238  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
234  0    0.033711
Name: Sad, dtype: float64
235  0    0.036545
Name: Sad, dtype: float64
236   0    0.04015
Name: Sad, dtype: float64
237  0    0.042144
Name: Sad, dtype: float64
238  0    0.043163
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
234  0    0.0
Name: Angry, dtype: float64
235  0    0.0
Name: Angry, dtype: float64
236  0    0.0
Name: Angry, dtype: float64
237  0    0.0
Name: Angry, dtype: float64
238  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
234  0    0.0
Name: Surprised, dtype: float64  ...
235  0    0.0
Name: Surprised, dtype: float64  ...
236  0    0.0
Name: Surprised, dtype: float64  ...
237  0    0.0
Name: Surprised, dtype: float64  ...
238  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
234  0    0.255193
Name: Arousal, dtype: float64              0
235  0    0.254961
Name: Arousal, dtype: float64              0
236  0    0.254735
Name: Arousal, dtype: float64              0
237  0    0.254589
Name: Arousal, dtype: float64              0
238  0    0.254445
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
234                0       3959.0   0          0   0             0         0
235                0         4408   0          0   0             0         0
236                0       3632.0   0          0   0             0         0
237                0         2559   0          0   0             0         0
238                0       2139.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
234      0
235      0
236      0
237      0
238      0

[239 rows x 24 columns]
----Time----
11950
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
235  1  Базаев Кирилл  11800      0     0
236  1  Базаев Кирилл  11850      0     0
237  1  Базаев Кирилл  11900      0     0
238  1  Базаев Кирилл  11950      0     0
239  1  Базаев Кирилл  12000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
235  0    0.846074
Name: Neutral, dtype: float64
236  0    0.844117
Name: Neutral, dtype: float64
237   0    0.84186
Name: Neutral, dtype: float64
238  0    0.840369
Name: Neutral, dtype: float64
239   0    0.83882
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
235  0    0.0
Name: Happy, dtype: float64
236  0    0.0
Name: Happy, dtype: float64
237  0    0.0
Name: Happy, dtype: float64
238  0    0.0
Name: Happy, dtype: float64
239  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
235  0    0.036545
Name: Sad, dtype: float64
236   0    0.04015
Name: Sad, dtype: float64
237  0    0.042144
Name: Sad, dtype: float64
238  0    0.043163
Name: Sad, dtype: float64
239  0    0.044591
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
235  0    0.0
Name: Angry, dtype: float64
236  0    0.0
Name: Angry, dtype: float64
237  0    0.0
Name: Angry, dtype: float64
238  0    0.0
Name: Angry, dtype: float64
239  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
235  0    0.0
Name: Surprised, dtype: float64  ...
236  0    0.0
Name: Surprised, dtype: float64  ...
237  0    0.0
Name: Surprised, dtype: float64  ...
238  0    0.0
Name: Surprised, dtype: float64  ...
239  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
235  0    0.254961
Name: Arousal, dtype: float64              0
236  0    0.254735
Name: Arousal, dtype: float64              0
237  0    0.254589
Name: Arousal, dtype: float64              0
238  0    0.254445
Name: Arousal, dtype: float64              0
239  0    0.254236
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
235                0         4408   0          0   0             0         0
236                0       3632.0   0          0   0             0         0
237                0         2559   0          0   0             0         0
238                0       2139.5   0          0   0             0         0
239                0       2225.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
235      0
236      0
237      0
238      0
239      0

[240 rows x 24 columns]
----Time----
12000

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
236  1  Базаев Кирилл  11850      0     0
237  1  Базаев Кирилл  11900      0     0
238  1  Базаев Кирилл  11950      0     0
239  1  Базаев Кирилл  12000      0     0
240  1  Базаев Кирилл  12050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
236  0    0.844117
Name: Neutral, dtype: float64
237   0    0.84186
Name: Neutral, dtype: float64
238  0    0.840369
Name: Neutral, dtype: float64
239   0    0.83882
Name: Neutral, dtype: float64
240  0    0.837403
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
236  0    0.0
Name: Happy, dtype: float64
237  0    0.0
Name: Happy, dtype: float64
238  0    0.0
Name: Happy, dtype: float64
239  0    0.0
Name: Happy, dtype: float64
240  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
236   0    0.04015
Name: Sad, dtype: float64
237  0    0.042144
Name: Sad, dtype: float64
238  0    0.043163
Name: Sad, dtype: float64
239  0    0.044591
Name: Sad, dtype: float64
240  0    0.047765
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
236  0    0.0
Name: Angry, dtype: float64
237  0    0.0
Name: Angry, dtype: float64
238  0    0.0
Name: Angry, dtype: float64
239  0    0.0
Name: Angry, dtype: float64
240  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
236  0    0.0
Name: Surprised, dtype: float64  ...
237  0    0.0
Name: Surprised, dtype: float64  ...
238  0    0.0
Name: Surprised, dtype: float64  ...
239  0    0.0
Name: Surprised, dtype: float64  ...
240  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
236  0    0.254735
Name: Arousal, dtype: float64              0
237  0    0.254589
Name: Arousal, dtype: float64              0
238  0    0.254445
Name: Arousal, dtype: float64              0
239  0    0.254236
Name: Arousal, dtype: float64              0
240  0    0.254032
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
236                0       3632.0   0          0   0             0         0
237                0         2559   0          0   0             0         0
238                0       2139.5   0          0   0             0         0
239                0       2225.5   0          0   0             0         0
240                0         2278   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
236      0
237      0
238      0
239      0
240      0

[241 rows x 24 columns]
----Time----
12050
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
237  1  Базаев Кирилл  11900      0     0
238  1  Базаев Кирилл  11950      0     0
239  1  Базаев Кирилл  12000      0     0
240  1  Базаев Кирилл  12050      0     0
241  1  Базаев Кирилл  12100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
237   0    0.84186
Name: Neutral, dtype: float64
238  0    0.840369
Name: Neutral, dtype: float64
239   0    0.83882
Name: Neutral, dtype: float64
240  0    0.837403
Name: Neutral, dtype: float64
241  0    0.836481
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
237  0    0.0
Name: Happy, dtype: float64
238  0    0.0
Name: Happy, dtype: float64
239  0    0.0
Name: Happy, dtype: float64
240  0    0.0
Name: Happy, dtype: float64
241  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
237  0    0.042144
Name: Sad, dtype: float64
238  0    0.043163
Name: Sad, dtype: float64
239  0    0.044591
Name: Sad, dtype: float64
240  0    0.047765
Name: Sad, dtype: float64
241  0    0.049057
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
237  0    0.0
Name: Angry, dtype: float64
238  0    0.0
Name: Angry, dtype: float64
239  0    0.0
Name: Angry, dtype: float64
240  0    0.0
Name: Angry, dtype: float64
241  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
237  0    0.0
Name: Surprised, dtype: float64  ...
238  0    0.0
Name: Surprised, dtype: float64  ...
239  0    0.0
Name: Surprised, dtype: float64  ...
240  0    0.0
Name: Surprised, dtype: float64  ...
241  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
237  0    0.254589
Name: Arousal, dtype: float64              0
238  0    0.254445
Name: Arousal, dtype: float64              0
239  0    0.254236
Name: Arousal, dtype: float64              0
240  0    0.254032
Name: Arousal, dtype: float64              0
241    0    0.2539
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
237                0         2559   0          0   0             0         0
238                0       2139.5   0          0   0             0         0
239                0       2225.5   0          0   0             0         0
240                0         2278   0          0   0             0         0
241                0       2236.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
237      0
238      0
239      0
240      0
241      0

[242 rows x 24 columns]
----Time----
12100

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
238  1  Базаев Кирилл  11950      0     0
239  1  Базаев Кирилл  12000      0     0
240  1  Базаев Кирилл  12050      0     0
241  1  Базаев Кирилл  12100      0     0
242  1  Базаев Кирилл  12150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
238  0    0.840369
Name: Neutral, dtype: float64
239   0    0.83882
Name: Neutral, dtype: float64
240  0    0.837403
Name: Neutral, dtype: float64
241  0    0.836481
Name: Neutral, dtype: float64
242  0    0.836135
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
238  0    0.0
Name: Happy, dtype: float64
239  0    0.0
Name: Happy, dtype: float64
240  0    0.0
Name: Happy, dtype: float64
241  0    0.0
Name: Happy, dtype: float64
242  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
238  0    0.043163
Name: Sad, dtype: float64
239  0    0.044591
Name: Sad, dtype: float64
240  0    0.047765
Name: Sad, dtype: float64
241  0    0.049057
Name: Sad, dtype: float64
242  0    0.049197
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
238  0    0.0
Name: Angry, dtype: float64
239  0    0.0
Name: Angry, dtype: float64
240  0    0.0
Name: Angry, dtype: float64
241  0    0.0
Name: Angry, dtype: float64
242  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
238  0    0.0
Name: Surprised, dtype: float64  ...
239  0    0.0
Name: Surprised, dtype: float64  ...
240  0    0.0
Name: Surprised, dtype: float64  ...
241  0    0.0
Name: Surprised, dtype: float64  ...
242  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
238  0    0.254445
Name: Arousal, dtype: float64              0
239  0    0.254236
Name: Arousal, dtype: float64              0
240  0    0.254032
Name: Arousal, dtype: float64              0
241    0    0.2539
Name: Arousal, dtype: float64              0
242  0    0.253771
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
238                0       2139.5   0          0   0             0         0
239                0       2225.5   0          0   0             0         0
240                0         2278   0          0   0             0         0
241                0       2236.0   0          0   0             0         0
242                0         2330   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
238      0
239      0
240      0
241      0
242      0

[243 rows x 24 columns]
----Time----
12150
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
239  1  Базаев Кирилл  12000      0     0
240  1  Базаев Кирилл  12050      0     0
241  1  Базаев Кирилл  12100      0     0
242  1  Базаев Кирилл  12150      0     0
243  1  Базаев Кирилл  12200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
239   0    0.83882
Name: Neutral, dtype: float64
240  0    0.837403
Name: Neutral, dtype: float64
241  0    0.836481
Name: Neutral, dtype: float64
242  0    0.836135
Name: Neutral, dtype: float64
243  0    0.835604
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
239  0    0.0
Name: Happy, dtype: float64
240  0    0.0
Name: Happy, dtype: float64
241  0    0.0
Name: Happy, dtype: float64
242  0    0.0
Name: Happy, dtype: float64
243  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
239  0    0.044591
Name: Sad, dtype: float64
240  0    0.047765
Name: Sad, dtype: float64
241  0    0.049057
Name: Sad, dtype: float64
242  0    0.049197
Name: Sad, dtype: float64
243   0    0.04981
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
239  0    0.0
Name: Angry, dtype: float64
240  0    0.0
Name: Angry, dtype: float64
241  0    0.0
Name: Angry, dtype: float64
242  0    0.0
Name: Angry, dtype: float64
243  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
239  0    0.0
Name: Surprised, dtype: float64  ...
240  0    0.0
Name: Surprised, dtype: float64  ...
241  0    0.0
Name: Surprised, dtype: float64  ...
242  0    0.0
Name: Surprised, dtype: float64  ...
243  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
239  0    0.254236
Name: Arousal, dtype: float64              0
240  0    0.254032
Name: Arousal, dtype: float64              0
241    0    0.2539
Name: Arousal, dtype: float64              0
242  0    0.253771
Name: Arousal, dtype: float64              0
243  0    0.253582
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
239                0       2225.5   0          0   0             0         0
240                0         2278   0          0   0             0         0
241                0       2236.0   0          0   0             0         0
242                0         2330   0          0   0             0         0
243                0       3076.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
239      0
240      0
241      0
242      0
243      0

[244 rows x 24 columns]
----Time----
12200

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
240  1  Базаев Кирилл  12050      0     0
241  1  Базаев Кирилл  12100      0     0
242  1  Базаев Кирилл  12150      0     0
243  1  Базаев Кирилл  12200      0     0
244  1  Базаев Кирилл  12250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
240  0    0.837403
Name: Neutral, dtype: float64
241  0    0.836481
Name: Neutral, dtype: float64
242  0    0.836135
Name: Neutral, dtype: float64
243  0    0.835604
Name: Neutral, dtype: float64
244  0    0.834692
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
240  0    0.0
Name: Happy, dtype: float64
241  0    0.0
Name: Happy, dtype: float64
242  0    0.0
Name: Happy, dtype: float64
243  0    0.0
Name: Happy, dtype: float64
244  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
240  0    0.047765
Name: Sad, dtype: float64
241  0    0.049057
Name: Sad, dtype: float64
242  0    0.049197
Name: Sad, dtype: float64
243   0    0.04981
Name: Sad, dtype: float64
244  0    0.050954
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
240  0    0.0
Name: Angry, dtype: float64
241  0    0.0
Name: Angry, dtype: float64
242  0    0.0
Name: Angry, dtype: float64
243  0    0.0
Name: Angry, dtype: float64
244  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
240  0    0.0
Name: Surprised, dtype: float64  ...
241  0    0.0
Name: Surprised, dtype: float64  ...
242  0    0.0
Name: Surprised, dtype: float64  ...
243  0    0.0
Name: Surprised, dtype: float64  ...
244  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
240  0    0.254032
Name: Arousal, dtype: float64              0
241    0    0.2539
Name: Arousal, dtype: float64              0
242  0    0.253771
Name: Arousal, dtype: float64              0
243  0    0.253582
Name: Arousal, dtype: float64              0
244  0    0.253398
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
240                0         2278   0          0   0             0         0
241                0       2236.0   0          0   0             0         0
242                0         2330   0          0   0             0         0
243                0       3076.0   0          0   0             0         0
244                0         4416   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
240      0
241      0
242      0
243      0
244      0

[245 rows x 24 columns]
----Time----
12250
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
241  1  Базаев Кирилл  12100      0     0
242  1  Базаев Кирилл  12150      0     0
243  1  Базаев Кирилл  12200      0     0
244  1  Базаев Кирилл  12250      0     0
245  1  Базаев Кирилл  12300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
241  0    0.836481
Name: Neutral, dtype: float64
242  0    0.836135
Name: Neutral, dtype: float64
243  0    0.835604
Name: Neutral, dtype: float64
244  0    0.834692
Name: Neutral, dtype: float64
245  0    0.834911
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
241  0    0.0
Name: Happy, dtype: float64
242  0    0.0
Name: Happy, dtype: float64
243  0    0.0
Name: Happy, dtype: float64
244  0    0.0
Name: Happy, dtype: float64
245  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
241  0    0.049057
Name: Sad, dtype: float64
242  0    0.049197
Name: Sad, dtype: float64
243   0    0.04981
Name: Sad, dtype: float64
244  0    0.050954
Name: Sad, dtype: float64
245  0    0.050423
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
241  0    0.0
Name: Angry, dtype: float64
242  0    0.0
Name: Angry, dtype: float64
243  0    0.0
Name: Angry, dtype: float64
244  0    0.0
Name: Angry, dtype: float64
245  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
241  0    0.0
Name: Surprised, dtype: float64  ...
242  0    0.0
Name: Surprised, dtype: float64  ...
243  0    0.0
Name: Surprised, dtype: float64  ...
244  0    0.0
Name: Surprised, dtype: float64  ...
245  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
241    0    0.2539
Name: Arousal, dtype: float64              0
242  0    0.253771
Name: Arousal, dtype: float64              0
243  0    0.253582
Name: Arousal, dtype: float64              0
244  0    0.253398
Name: Arousal, dtype: float64              0
245  0    0.253279
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
241                0       2236.0   0          0   0             0         0
242                0         2330   0          0   0             0         0
243                0       3076.0   0          0   0             0         0
244                0         4416   0          0   0             0         0
245                0       5464.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
241      0
242      0
243      0
244      0
245      0

[246 rows x 24 columns]
----Time----
12300

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
242  1  Базаев Кирилл  12150      0     0
243  1  Базаев Кирилл  12200      0     0
244  1  Базаев Кирилл  12250      0     0
245  1  Базаев Кирилл  12300      0     0
246  1  Базаев Кирилл  12350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
242  0    0.836135
Name: Neutral, dtype: float64
243  0    0.835604
Name: Neutral, dtype: float64
244  0    0.834692
Name: Neutral, dtype: float64
245  0    0.834911
Name: Neutral, dtype: float64
246  0    0.834284
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
242  0    0.0
Name: Happy, dtype: float64
243  0    0.0
Name: Happy, dtype: float64
244  0    0.0
Name: Happy, dtype: float64
245  0    0.0
Name: Happy, dtype: float64
246  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
242  0    0.049197
Name: Sad, dtype: float64
243   0    0.04981
Name: Sad, dtype: float64
244  0    0.050954
Name: Sad, dtype: float64
245  0    0.050423
Name: Sad, dtype: float64
246  0    0.049797
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
242  0    0.0
Name: Angry, dtype: float64
243  0    0.0
Name: Angry, dtype: float64
244  0    0.0
Name: Angry, dtype: float64
245  0    0.0
Name: Angry, dtype: float64
246  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
242  0    0.0
Name: Surprised, dtype: float64  ...
243  0    0.0
Name: Surprised, dtype: float64  ...
244  0    0.0
Name: Surprised, dtype: float64  ...
245  0    0.0
Name: Surprised, dtype: float64  ...
246  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
242  0    0.253771
Name: Arousal, dtype: float64              0
243  0    0.253582
Name: Arousal, dtype: float64              0
244  0    0.253398
Name: Arousal, dtype: float64              0
245  0    0.253279
Name: Arousal, dtype: float64              0
246  0    0.253162
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
242                0         2330   0          0   0             0         0
243                0       3076.0   0          0   0             0         0
244                0         4416   0          0   0             0         0
245                0       5464.0   0          0   0             0         0
246                0         5253   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
242      0
243      0
244      0
245      0
246      0

[247 rows x 24 columns]
----Time----
12350
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
243  1  Базаев Кирилл  12200      0     0
244  1  Базаев Кирилл  12250      0     0
245  1  Базаев Кирилл  12300      0     0
246  1  Базаев Кирилл  12350      0     0
247  1  Базаев Кирилл  12400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
243  0    0.835604
Name: Neutral, dtype: float64
244  0    0.834692
Name: Neutral, dtype: float64
245  0    0.834911
Name: Neutral, dtype: float64
246  0    0.834284
Name: Neutral, dtype: float64
247  0    0.834913
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
243  0    0.0
Name: Happy, dtype: float64
244  0    0.0
Name: Happy, dtype: float64
245  0    0.0
Name: Happy, dtype: float64
246  0    0.0
Name: Happy, dtype: float64
247  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
243   0    0.04981
Name: Sad, dtype: float64
244  0    0.050954
Name: Sad, dtype: float64
245  0    0.050423
Name: Sad, dtype: float64
246  0    0.049797
Name: Sad, dtype: float64
247  0    0.048938
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
243  0    0.0
Name: Angry, dtype: float64
244  0    0.0
Name: Angry, dtype: float64
245  0    0.0
Name: Angry, dtype: float64
246  0    0.0
Name: Angry, dtype: float64
247  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
243  0    0.0
Name: Surprised, dtype: float64  ...
244  0    0.0
Name: Surprised, dtype: float64  ...
245  0    0.0
Name: Surprised, dtype: float64  ...
246  0    0.0
Name: Surprised, dtype: float64  ...
247  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
243  0    0.253582
Name: Arousal, dtype: float64              0
244  0    0.253398
Name: Arousal, dtype: float64              0
245  0    0.253279
Name: Arousal, dtype: float64              0
246  0    0.253162
Name: Arousal, dtype: float64              0
247  0    0.252991
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
243                0       3076.0   0          0   0             0         0
244                0         4416   0          0   0             0         0
245                0       5464.0   0          0   0             0         0
246                0         5253   0          0   0             0         0
247                0       3812.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
243      0
244      0
245      0
246      0
247      0

[248 rows x 24 columns]
----Time----
12400

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
244  1  Базаев Кирилл  12250      0     0
245  1  Базаев Кирилл  12300      0     0
246  1  Базаев Кирилл  12350      0     0
247  1  Базаев Кирилл  12400      0     0
248  1  Базаев Кирилл  12450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
244  0    0.834692
Name: Neutral, dtype: float64
245  0    0.834911
Name: Neutral, dtype: float64
246  0    0.834284
Name: Neutral, dtype: float64
247  0    0.834913
Name: Neutral, dtype: float64
248  0    0.835372
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
244  0    0.0
Name: Happy, dtype: float64
245  0    0.0
Name: Happy, dtype: float64
246  0    0.0
Name: Happy, dtype: float64
247  0    0.0
Name: Happy, dtype: float64
248  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
244  0    0.050954
Name: Sad, dtype: float64
245  0    0.050423
Name: Sad, dtype: float64
246  0    0.049797
Name: Sad, dtype: float64
247  0    0.048938
Name: Sad, dtype: float64
248  0    0.048964
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
244  0    0.0
Name: Angry, dtype: float64
245  0    0.0
Name: Angry, dtype: float64
246  0    0.0
Name: Angry, dtype: float64
247  0    0.0
Name: Angry, dtype: float64
248  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
244  0    0.0
Name: Surprised, dtype: float64  ...
245  0    0.0
Name: Surprised, dtype: float64  ...
246  0    0.0
Name: Surprised, dtype: float64  ...
247  0    0.0
Name: Surprised, dtype: float64  ...
248  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
244  0    0.253398
Name: Arousal, dtype: float64              0
245  0    0.253279
Name: Arousal, dtype: float64              0
246  0    0.253162
Name: Arousal, dtype: float64              0
247  0    0.252991
Name: Arousal, dtype: float64              0
248  0    0.252825
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
244                0         4416   0          0   0             0         0
245                0       5464.0   0          0   0             0         0
246                0         5253   0          0   0             0         0
247                0       3812.5   0          0   0             0         0
248                0       2604.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
244      0
245      0
246      0
247      0
248      0

[249 rows x 24 columns]
----Time----
12450
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
245  1  Базаев Кирилл  12300      0     0
246  1  Базаев Кирилл  12350      0     0
247  1  Базаев Кирилл  12400      0     0
248  1  Базаев Кирилл  12450      0     0
249  1  Базаев Кирилл  12500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
245  0    0.834911
Name: Neutral, dtype: float64
246  0    0.834284
Name: Neutral, dtype: float64
247  0    0.834913
Name: Neutral, dtype: float64
248  0    0.835372
Name: Neutral, dtype: float64
249  0    0.833969
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
245  0    0.0
Name: Happy, dtype: float64
246  0    0.0
Name: Happy, dtype: float64
247  0    0.0
Name: Happy, dtype: float64
248  0    0.0
Name: Happy, dtype: float64
249  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
245  0    0.050423
Name: Sad, dtype: float64
246  0    0.049797
Name: Sad, dtype: float64
247  0    0.048938
Name: Sad, dtype: float64
248  0    0.048964
Name: Sad, dtype: float64
249   0    0.04992
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
245  0    0.0
Name: Angry, dtype: float64
246  0    0.0
Name: Angry, dtype: float64
247  0    0.0
Name: Angry, dtype: float64
248  0    0.0
Name: Angry, dtype: float64
249  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
245  0    0.0
Name: Surprised, dtype: float64  ...
246  0    0.0
Name: Surprised, dtype: float64  ...
247  0    0.0
Name: Surprised, dtype: float64  ...
248  0    0.0
Name: Surprised, dtype: float64  ...
249  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
245  0    0.253279
Name: Arousal, dtype: float64              0
246  0    0.253162
Name: Arousal, dtype: float64              0
247  0    0.252991
Name: Arousal, dtype: float64              0
248  0    0.252825
Name: Arousal, dtype: float64              0
249  0    0.252717
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
245                0       5464.0   0          0   0             0         0
246                0         5253   0          0   0             0         0
247                0       3812.5   0          0   0             0         0
248                0       2604.5   0          0   0             0         0
249                0         2598   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
245      0
246      0
247      0
248      0
249      0

[250 rows x 24 columns]
----Time----
12500

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
246  1  Базаев Кирилл  12350      0     0
247  1  Базаев Кирилл  12400      0     0
248  1  Базаев Кирилл  12450      0     0
249  1  Базаев Кирилл  12500      0     0
250  1  Базаев Кирилл  12550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
246  0    0.834284
Name: Neutral, dtype: float64
247  0    0.834913
Name: Neutral, dtype: float64
248  0    0.835372
Name: Neutral, dtype: float64
249  0    0.833969
Name: Neutral, dtype: float64
250  0    0.832901
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
246  0    0.0
Name: Happy, dtype: float64
247  0    0.0
Name: Happy, dtype: float64
248  0    0.0
Name: Happy, dtype: float64
249  0    0.0
Name: Happy, dtype: float64
250  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
246  0    0.049797
Name: Sad, dtype: float64
247  0    0.048938
Name: Sad, dtype: float64
248  0    0.048964
Name: Sad, dtype: float64
249   0    0.04992
Name: Sad, dtype: float64
250  0    0.049707
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
246  0    0.0
Name: Angry, dtype: float64
247  0    0.0
Name: Angry, dtype: float64
248  0    0.0
Name: Angry, dtype: float64
249  0    0.0
Name: Angry, dtype: float64
250  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
246  0    0.0
Name: Surprised, dtype: float64  ...
247  0    0.0
Name: Surprised, dtype: float64  ...
248  0    0.0
Name: Surprised, dtype: float64  ...
249  0    0.0
Name: Surprised, dtype: float64  ...
250  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
246  0    0.253162
Name: Arousal, dtype: float64              0
247  0    0.252991
Name: Arousal, dtype: float64              0
248  0    0.252825
Name: Arousal, dtype: float64              0
249  0    0.252717
Name: Arousal, dtype: float64              0
250  0    0.252612
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
246                0         5253   0          0   0             0         0
247                0       3812.5   0          0   0             0         0
248                0       2604.5   0          0   0             0         0
249                0         2598   0          0   0             0         0
250                0       2730.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
246      0
247      0
248      0
249      0
250      0

[251 rows x 24 columns]
----Time----
12550
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
247  1  Базаев Кирилл  12400      0     0
248  1  Базаев Кирилл  12450      0     0
249  1  Базаев Кирилл  12500      0     0
250  1  Базаев Кирилл  12550      0     0
251  1  Базаев Кирилл  12600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
247  0    0.834913
Name: Neutral, dtype: float64
248  0    0.835372
Name: Neutral, dtype: float64
249  0    0.833969
Name: Neutral, dtype: float64
250  0    0.832901
Name: Neutral, dtype: float64
251  0    0.830155
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
247  0    0.0
Name: Happy, dtype: float64
248  0    0.0
Name: Happy, dtype: float64
249  0    0.0
Name: Happy, dtype: float64
250  0    0.0
Name: Happy, dtype: float64
251  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
247  0    0.048938
Name: Sad, dtype: float64
248  0    0.048964
Name: Sad, dtype: float64
249   0    0.04992
Name: Sad, dtype: float64
250  0    0.049707
Name: Sad, dtype: float64
251  0    0.050206
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
247  0    0.0
Name: Angry, dtype: float64
248  0    0.0
Name: Angry, dtype: float64
249  0    0.0
Name: Angry, dtype: float64
250  0    0.0
Name: Angry, dtype: float64
251  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
247  0    0.0
Name: Surprised, dtype: float64  ...
248  0    0.0
Name: Surprised, dtype: float64  ...
249  0    0.0
Name: Surprised, dtype: float64  ...
250  0    0.0
Name: Surprised, dtype: float64  ...
251  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
247  0    0.252991
Name: Arousal, dtype: float64              0
248  0    0.252825
Name: Arousal, dtype: float64              0
249  0    0.252717
Name: Arousal, dtype: float64              0
250  0    0.252612
Name: Arousal, dtype: float64              0
251  0    0.252458
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
247                0       3812.5   0          0   0             0         0
248                0       2604.5   0          0   0             0         0
249                0         2598   0          0   0             0         0
250                0       2730.0   0          0   0             0         0
251                0         2711   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
247      0
248      0
249      0
250      0
251      0

[252 rows x 24 columns]
----Time----
12600

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
248  1  Базаев Кирилл  12450      0     0
249  1  Базаев Кирилл  12500      0     0
250  1  Базаев Кирилл  12550      0     0
251  1  Базаев Кирилл  12600      0     0
252  1  Базаев Кирилл  12650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
248  0    0.835372
Name: Neutral, dtype: float64
249  0    0.833969
Name: Neutral, dtype: float64
250  0    0.832901
Name: Neutral, dtype: float64
251  0    0.830155
Name: Neutral, dtype: float64
252  0    0.828382
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
248  0    0.0
Name: Happy, dtype: float64
249  0    0.0
Name: Happy, dtype: float64
250  0    0.0
Name: Happy, dtype: float64
251  0    0.0
Name: Happy, dtype: float64
252  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
248  0    0.048964
Name: Sad, dtype: float64
249   0    0.04992
Name: Sad, dtype: float64
250  0    0.049707
Name: Sad, dtype: float64
251  0    0.050206
Name: Sad, dtype: float64
252  0    0.050926
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
248  0    0.0
Name: Angry, dtype: float64
249  0    0.0
Name: Angry, dtype: float64
250  0    0.0
Name: Angry, dtype: float64
251  0    0.0
Name: Angry, dtype: float64
252  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
248  0    0.0
Name: Surprised, dtype: float64  ...
249  0    0.0
Name: Surprised, dtype: float64  ...
250  0    0.0
Name: Surprised, dtype: float64  ...
251  0    0.0
Name: Surprised, dtype: float64  ...
252  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
248  0    0.252825
Name: Arousal, dtype: float64              0
249  0    0.252717
Name: Arousal, dtype: float64              0
250  0    0.252612
Name: Arousal, dtype: float64              0
251  0    0.252458
Name: Arousal, dtype: float64              0
252  0    0.252308
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
248                0       2604.5   0          0   0             0         0
249                0         2598   0          0   0             0         0
250                0       2730.0   0          0   0             0         0
251                0         2711   0          0   0             0         0
252                0       2676.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
248      0
249      0
250      0
251      0
252      0

[253 rows x 24 columns]
----Time----
12650
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
249  1  Базаев Кирилл  12500      0     0
250  1  Базаев Кирилл  12550      0     0
251  1  Базаев Кирилл  12600      0     0
252  1  Базаев Кирилл  12650      0     0
253  1  Базаев Кирилл  12700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
249  0    0.833969
Name: Neutral, dtype: float64
250  0    0.832901
Name: Neutral, dtype: float64
251  0    0.830155
Name: Neutral, dtype: float64
252  0    0.828382
Name: Neutral, dtype: float64
253  0    0.827444
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
249  0    0.0
Name: Happy, dtype: float64
250  0    0.0
Name: Happy, dtype: float64
251  0    0.0
Name: Happy, dtype: float64
252  0    0.0
Name: Happy, dtype: float64
253  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
249   0    0.04992
Name: Sad, dtype: float64
250  0    0.049707
Name: Sad, dtype: float64
251  0    0.050206
Name: Sad, dtype: float64
252  0    0.050926
Name: Sad, dtype: float64
253   0    0.05214
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
249  0    0.0
Name: Angry, dtype: float64
250  0    0.0
Name: Angry, dtype: float64
251  0    0.0
Name: Angry, dtype: float64
252  0    0.0
Name: Angry, dtype: float64
253  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
249  0    0.0
Name: Surprised, dtype: float64  ...
250  0    0.0
Name: Surprised, dtype: float64  ...
251  0    0.0
Name: Surprised, dtype: float64  ...
252  0    0.0
Name: Surprised, dtype: float64  ...
253  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
249  0    0.252717
Name: Arousal, dtype: float64              0
250  0    0.252612
Name: Arousal, dtype: float64              0
251  0    0.252458
Name: Arousal, dtype: float64              0
252  0    0.252308
Name: Arousal, dtype: float64              0
253  0    0.252211
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
249                0         2598   0          0   0             0         0
250                0       2730.0   0          0   0             0         0
251                0         2711   0          0   0             0         0
252                0       2676.5   0          0   0             0         0
253                0         2987   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
249      0
250      0
251      0
252      0
253      0

[254 rows x 24 columns]
----Time----
12700

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
250  1  Базаев Кирилл  12550      0     0
251  1  Базаев Кирилл  12600      0     0
252  1  Базаев Кирилл  12650      0     0
253  1  Базаев Кирилл  12700      0     0
254  1  Базаев Кирилл  12750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
250  0    0.832901
Name: Neutral, dtype: float64
251  0    0.830155
Name: Neutral, dtype: float64
252  0    0.828382
Name: Neutral, dtype: float64
253  0    0.827444
Name: Neutral, dtype: float64
254  0    0.825844
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
250  0    0.0
Name: Happy, dtype: float64
251  0    0.0
Name: Happy, dtype: float64
252  0    0.0
Name: Happy, dtype: float64
253  0    0.0
Name: Happy, dtype: float64
254  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
250  0    0.049707
Name: Sad, dtype: float64
251  0    0.050206
Name: Sad, dtype: float64
252  0    0.050926
Name: Sad, dtype: float64
253   0    0.05214
Name: Sad, dtype: float64
254  0    0.052681
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
250  0    0.0
Name: Angry, dtype: float64
251  0    0.0
Name: Angry, dtype: float64
252  0    0.0
Name: Angry, dtype: float64
253  0    0.0
Name: Angry, dtype: float64
254  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
250  0    0.0
Name: Surprised, dtype: float64  ...
251  0    0.0
Name: Surprised, dtype: float64  ...
252  0    0.0
Name: Surprised, dtype: float64  ...
253  0    0.0
Name: Surprised, dtype: float64  ...
254  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
250  0    0.252612
Name: Arousal, dtype: float64              0
251  0    0.252458
Name: Arousal, dtype: float64              0
252  0    0.252308
Name: Arousal, dtype: float64              0
253  0    0.252211
Name: Arousal, dtype: float64              0
254  0    0.252115
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
250                0       2730.0   0          0   0             0         0
251                0         2711   0          0   0             0         0
252                0       2676.5   0          0   0             0         0
253                0         2987   0          0   0             0         0
254                0       4229.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
250      0
251      0
252      0
253      0
254      0

[255 rows x 24 columns]
----Time----
12750
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
251  1  Базаев Кирилл  12600      0     0
252  1  Базаев Кирилл  12650      0     0
253  1  Базаев Кирилл  12700      0     0
254  1  Базаев Кирилл  12750      0     0
255  1  Базаев Кирилл  12800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
251  0    0.830155
Name: Neutral, dtype: float64
252  0    0.828382
Name: Neutral, dtype: float64
253  0    0.827444
Name: Neutral, dtype: float64
254  0    0.825844
Name: Neutral, dtype: float64
255   0    0.82346
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
251  0    0.0
Name: Happy, dtype: float64
252  0    0.0
Name: Happy, dtype: float64
253  0    0.0
Name: Happy, dtype: float64
254  0    0.0
Name: Happy, dtype: float64
255  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
251  0    0.050206
Name: Sad, dtype: float64
252  0    0.050926
Name: Sad, dtype: float64
253   0    0.05214
Name: Sad, dtype: float64
254  0    0.052681
Name: Sad, dtype: float64
255  0    0.052309
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
251  0    0.0
Name: Angry, dtype: float64
252  0    0.0
Name: Angry, dtype: float64
253  0    0.0
Name: Angry, dtype: float64
254  0    0.0
Name: Angry, dtype: float64
255  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
251  0    0.0
Name: Surprised, dtype: float64  ...
252  0    0.0
Name: Surprised, dtype: float64  ...
253  0    0.0
Name: Surprised, dtype: float64  ...
254  0    0.0
Name: Surprised, dtype: float64  ...
255  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
251  0    0.252458
Name: Arousal, dtype: float64              0
252  0    0.252308
Name: Arousal, dtype: float64              0
253  0    0.252211
Name: Arousal, dtype: float64              0
254  0    0.252115
Name: Arousal, dtype: float64              0
255  0    0.251976
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
251                0         2711   0          0   0             0         0
252                0       2676.5   0          0   0             0         0
253                0         2987   0          0   0             0         0
254                0       4229.5   0          0   0             0         0
255                0       6184.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
251      0
252      0
253      0
254      0
255      0

[256 rows x 24 columns]
----Time----
12800

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
252  1  Базаев Кирилл  12650      0     0
253  1  Базаев Кирилл  12700      0     0
254  1  Базаев Кирилл  12750      0     0
255  1  Базаев Кирилл  12800      0     0
256  1  Базаев Кирилл  12850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
252  0    0.828382
Name: Neutral, dtype: float64
253  0    0.827444
Name: Neutral, dtype: float64
254  0    0.825844
Name: Neutral, dtype: float64
255   0    0.82346
Name: Neutral, dtype: float64
256  0    0.821003
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
252  0    0.0
Name: Happy, dtype: float64
253  0    0.0
Name: Happy, dtype: float64
254  0    0.0
Name: Happy, dtype: float64
255  0    0.0
Name: Happy, dtype: float64
256  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
252  0    0.050926
Name: Sad, dtype: float64
253   0    0.05214
Name: Sad, dtype: float64
254  0    0.052681
Name: Sad, dtype: float64
255  0    0.052309
Name: Sad, dtype: float64
256  0    0.052307
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
252  0    0.0
Name: Angry, dtype: float64
253  0    0.0
Name: Angry, dtype: float64
254  0    0.0
Name: Angry, dtype: float64
255  0    0.0
Name: Angry, dtype: float64
256  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
252  0    0.0
Name: Surprised, dtype: float64  ...
253  0    0.0
Name: Surprised, dtype: float64  ...
254  0    0.0
Name: Surprised, dtype: float64  ...
255  0    0.0
Name: Surprised, dtype: float64  ...
256  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
252  0    0.252308
Name: Arousal, dtype: float64              0
253  0    0.252211
Name: Arousal, dtype: float64              0
254  0    0.252115
Name: Arousal, dtype: float64              0
255  0    0.251976
Name: Arousal, dtype: float64              0
256  0    0.251841
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
252                0       2676.5   0          0   0             0         0
253                0         2987   0          0   0             0         0
254                0       4229.5   0          0   0             0         0
255                0       6184.0   0          0   0             0         0
256                0         6360   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
252      0
253      0
254      0
255      0
256      0

[257 rows x 24 columns]
----Time----
12850
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
253  1  Базаев Кирилл  12700      0     0
254  1  Базаев Кирилл  12750      0     0
255  1  Базаев Кирилл  12800      0     0
256  1  Базаев Кирилл  12850      0     0
257  1  Базаев Кирилл  12900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
253  0    0.827444
Name: Neutral, dtype: float64
254  0    0.825844
Name: Neutral, dtype: float64
255   0    0.82346
Name: Neutral, dtype: float64
256  0    0.821003
Name: Neutral, dtype: float64
257  0    0.817504
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
253  0    0.0
Name: Happy, dtype: float64
254  0    0.0
Name: Happy, dtype: float64
255  0    0.0
Name: Happy, dtype: float64
256  0    0.0
Name: Happy, dtype: float64
257  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
253   0    0.05214
Name: Sad, dtype: float64
254  0    0.052681
Name: Sad, dtype: float64
255  0    0.052309
Name: Sad, dtype: float64
256  0    0.052307
Name: Sad, dtype: float64
257  0    0.053421
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
253  0    0.0
Name: Angry, dtype: float64
254  0    0.0
Name: Angry, dtype: float64
255  0    0.0
Name: Angry, dtype: float64
256  0    0.0
Name: Angry, dtype: float64
257  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
253  0    0.0
Name: Surprised, dtype: float64  ...
254  0    0.0
Name: Surprised, dtype: float64  ...
255  0    0.0
Name: Surprised, dtype: float64  ...
256  0    0.0
Name: Surprised, dtype: float64  ...
257  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
253  0    0.252211
Name: Arousal, dtype: float64              0
254  0    0.252115
Name: Arousal, dtype: float64              0
255  0    0.251976
Name: Arousal, dtype: float64              0
256  0    0.251841
Name: Arousal, dtype: float64              0
257  0    0.251753
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
253                0         2987   0          0   0             0         0
254                0       4229.5   0          0   0             0         0
255                0       6184.0   0          0   0             0         0
256                0         6360   0          0   0             0         0
257                0       4882.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
253      0
254      0
255      0
256      0
257      0

[258 rows x 24 columns]
----Time----
12900

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
254  1  Базаев Кирилл  12750      0     0
255  1  Базаев Кирилл  12800      0     0
256  1  Базаев Кирилл  12850      0     0
257  1  Базаев Кирилл  12900      0     0
258  1  Базаев Кирилл  12950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
254  0    0.825844
Name: Neutral, dtype: float64
255   0    0.82346
Name: Neutral, dtype: float64
256  0    0.821003
Name: Neutral, dtype: float64
257  0    0.817504
Name: Neutral, dtype: float64
258  0    0.813906
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
254  0    0.0
Name: Happy, dtype: float64
255  0    0.0
Name: Happy, dtype: float64
256  0    0.0
Name: Happy, dtype: float64
257  0    0.0
Name: Happy, dtype: float64
258  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
254  0    0.052681
Name: Sad, dtype: float64
255  0    0.052309
Name: Sad, dtype: float64
256  0    0.052307
Name: Sad, dtype: float64
257  0    0.053421
Name: Sad, dtype: float64
258   0    0.05454
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
254  0    0.0
Name: Angry, dtype: float64
255  0    0.0
Name: Angry, dtype: float64
256  0    0.0
Name: Angry, dtype: float64
257  0    0.0
Name: Angry, dtype: float64
258  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
254  0    0.0
Name: Surprised, dtype: float64  ...
255  0    0.0
Name: Surprised, dtype: float64  ...
256  0    0.0
Name: Surprised, dtype: float64  ...
257  0    0.0
Name: Surprised, dtype: float64  ...
258  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
254  0    0.252115
Name: Arousal, dtype: float64              0
255  0    0.251976
Name: Arousal, dtype: float64              0
256  0    0.251841
Name: Arousal, dtype: float64              0
257  0    0.251753
Name: Arousal, dtype: float64              0
258  0    0.251667
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
254                0       4229.5   0          0   0             0         0
255                0       6184.0   0          0   0             0         0
256                0         6360   0          0   0             0         0
257                0       4882.5   0          0   0             0         0
258                0         3402   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
254      0
255      0
256      0
257      0
258      0

[259 rows x 24 columns]
----Time----
12950
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
255  1  Базаев Кирилл  12800      0     0
256  1  Базаев Кирилл  12850      0     0
257  1  Базаев Кирилл  12900      0     0
258  1  Базаев Кирилл  12950      0     0
259  1  Базаев Кирилл  13000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
255   0    0.82346
Name: Neutral, dtype: float64
256  0    0.821003
Name: Neutral, dtype: float64
257  0    0.817504
Name: Neutral, dtype: float64
258  0    0.813906
Name: Neutral, dtype: float64
259   0    0.80782
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
255  0    0.0
Name: Happy, dtype: float64
256  0    0.0
Name: Happy, dtype: float64
257  0    0.0
Name: Happy, dtype: float64
258  0    0.0
Name: Happy, dtype: float64
259  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
255  0    0.052309
Name: Sad, dtype: float64
256  0    0.052307
Name: Sad, dtype: float64
257  0    0.053421
Name: Sad, dtype: float64
258   0    0.05454
Name: Sad, dtype: float64
259  0    0.055386
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
255  0    0.0
Name: Angry, dtype: float64
256  0    0.0
Name: Angry, dtype: float64
257  0    0.0
Name: Angry, dtype: float64
258  0    0.0
Name: Angry, dtype: float64
259  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
255  0    0.0
Name: Surprised, dtype: float64  ...
256  0    0.0
Name: Surprised, dtype: float64  ...
257  0    0.0
Name: Surprised, dtype: float64  ...
258  0    0.0
Name: Surprised, dtype: float64  ...
259  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
255  0    0.251976
Name: Arousal, dtype: float64              0
256  0    0.251841
Name: Arousal, dtype: float64              0
257  0    0.251753
Name: Arousal, dtype: float64              0
258  0    0.251667
Name: Arousal, dtype: float64              0
259  0    0.251542
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
255                0       6184.0   0          0   0             0         0
256                0         6360   0          0   0             0         0
257                0       4882.5   0          0   0             0         0
258                0         3402   0          0   0             0         0
259                0       3024.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
255      0
256      0
257      0
258      0
259      0

[260 rows x 24 columns]
----Time----
13000

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
256  1  Базаев Кирилл  12850      0     0
257  1  Базаев Кирилл  12900      0     0
258  1  Базаев Кирилл  12950      0     0
259  1  Базаев Кирилл  13000      0     0
260  1  Базаев Кирилл  13050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
256  0    0.821003
Name: Neutral, dtype: float64
257  0    0.817504
Name: Neutral, dtype: float64
258  0    0.813906
Name: Neutral, dtype: float64
259   0    0.80782
Name: Neutral, dtype: float64
260  0    0.800195
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
256  0    0.0
Name: Happy, dtype: float64
257  0    0.0
Name: Happy, dtype: float64
258  0    0.0
Name: Happy, dtype: float64
259  0    0.0
Name: Happy, dtype: float64
260  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
256  0    0.052307
Name: Sad, dtype: float64
257  0    0.053421
Name: Sad, dtype: float64
258   0    0.05454
Name: Sad, dtype: float64
259  0    0.055386
Name: Sad, dtype: float64
260   0    0.05541
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
256  0    0.0
Name: Angry, dtype: float64
257  0    0.0
Name: Angry, dtype: float64
258  0    0.0
Name: Angry, dtype: float64
259  0    0.0
Name: Angry, dtype: float64
260  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
256  0    0.0
Name: Surprised, dtype: float64  ...
257  0    0.0
Name: Surprised, dtype: float64  ...
258  0    0.0
Name: Surprised, dtype: float64  ...
259  0    0.0
Name: Surprised, dtype: float64  ...
260  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
256  0    0.251841
Name: Arousal, dtype: float64              0
257  0    0.251753
Name: Arousal, dtype: float64              0
258  0    0.251667
Name: Arousal, dtype: float64              0
259  0    0.251542
Name: Arousal, dtype: float64              0
260   0    0.25142
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
256                0         6360   0          0   0             0         0
257                0       4882.5   0          0   0             0         0
258                0         3402   0          0   0             0         0
259                0       3024.0   0          0   0             0         0
260                0         3152   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
256      0
257      0
258      0
259      0
260      0

[261 rows x 24 columns]
----Time----
13050
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
257  1  Базаев Кирилл  12900      0     0
258  1  Базаев Кирилл  12950      0     0
259  1  Базаев Кирилл  13000      0     0
260  1  Базаев Кирилл  13050      0     0
261  1  Базаев Кирилл  13100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
257  0    0.817504
Name: Neutral, dtype: float64
258  0    0.813906
Name: Neutral, dtype: float64
259   0    0.80782
Name: Neutral, dtype: float64
260  0    0.800195
Name: Neutral, dtype: float64
261   0    0.79669
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
257  0    0.0
Name: Happy, dtype: float64
258  0    0.0
Name: Happy, dtype: float64
259  0    0.0
Name: Happy, dtype: float64
260  0    0.0
Name: Happy, dtype: float64
261  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
257  0    0.053421
Name: Sad, dtype: float64
258   0    0.05454
Name: Sad, dtype: float64
259  0    0.055386
Name: Sad, dtype: float64
260   0    0.05541
Name: Sad, dtype: float64
261  0    0.054641
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
257  0    0.0
Name: Angry, dtype: float64
258  0    0.0
Name: Angry, dtype: float64
259  0    0.0
Name: Angry, dtype: float64
260  0    0.0
Name: Angry, dtype: float64
261  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
257  0    0.0
Name: Surprised, dtype: float64  ...
258  0    0.0
Name: Surprised, dtype: float64  ...
259  0    0.0
Name: Surprised, dtype: float64  ...
260  0    0.0
Name: Surprised, dtype: float64  ...
261  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
257  0    0.251753
Name: Arousal, dtype: float64              0
258  0    0.251667
Name: Arousal, dtype: float64              0
259  0    0.251542
Name: Arousal, dtype: float64              0
260   0    0.25142
Name: Arousal, dtype: float64              0
261   0    0.25134
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
257                0       4882.5   0          0   0             0         0
258                0         3402   0          0   0             0         0
259                0       3024.0   0          0   0             0         0
260                0         3152   0          0   0             0         0
261                0       3210.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
257      0
258      0
259      0
260      0
261      0

[262 rows x 24 columns]
----Time----
13100

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
258  1  Базаев Кирилл  12950      0     0
259  1  Базаев Кирилл  13000      0     0
260  1  Базаев Кирилл  13050      0     0
261  1  Базаев Кирилл  13100      0     0
262  1  Базаев Кирилл  13150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
258  0    0.813906
Name: Neutral, dtype: float64
259   0    0.80782
Name: Neutral, dtype: float64
260  0    0.800195
Name: Neutral, dtype: float64
261   0    0.79669
Name: Neutral, dtype: float64
262  0    0.795216
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
258  0    0.0
Name: Happy, dtype: float64
259  0    0.0
Name: Happy, dtype: float64
260  0    0.0
Name: Happy, dtype: float64
261  0    0.0
Name: Happy, dtype: float64
262  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
258   0    0.05454
Name: Sad, dtype: float64
259  0    0.055386
Name: Sad, dtype: float64
260   0    0.05541
Name: Sad, dtype: float64
261  0    0.054641
Name: Sad, dtype: float64
262  0    0.053478
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
258  0    0.0
Name: Angry, dtype: float64
259  0    0.0
Name: Angry, dtype: float64
260  0    0.0
Name: Angry, dtype: float64
261  0    0.0
Name: Angry, dtype: float64
262  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
258  0    0.0
Name: Surprised, dtype: float64  ...
259  0    0.0
Name: Surprised, dtype: float64  ...
260  0    0.0
Name: Surprised, dtype: float64  ...
261  0    0.0
Name: Surprised, dtype: float64  ...
262  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
258  0    0.251667
Name: Arousal, dtype: float64              0
259  0    0.251542
Name: Arousal, dtype: float64              0
260   0    0.25142
Name: Arousal, dtype: float64              0
261   0    0.25134
Name: Arousal, dtype: float64              0
262  0    0.251262
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
258                0         3402   0          0   0             0         0
259                0       3024.0   0          0   0             0         0
260                0         3152   0          0   0             0         0
261                0       3210.5   0          0   0             0         0
262                0         3133   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
258      0
259      0
260      0
261      0
262      0

[263 rows x 24 columns]
----Time----
13150
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
259  1  Базаев Кирилл  13000      0     0
260  1  Базаев Кирилл  13050      0     0
261  1  Базаев Кирилл  13100      0     0
262  1  Базаев Кирилл  13150      0     0
263  1  Базаев Кирилл  13200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
259   0    0.80782
Name: Neutral, dtype: float64
260  0    0.800195
Name: Neutral, dtype: float64
261   0    0.79669
Name: Neutral, dtype: float64
262  0    0.795216
Name: Neutral, dtype: float64
263   0    0.79567
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
259  0    0.0
Name: Happy, dtype: float64
260  0    0.0
Name: Happy, dtype: float64
261  0    0.0
Name: Happy, dtype: float64
262  0    0.0
Name: Happy, dtype: float64
263  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
259  0    0.055386
Name: Sad, dtype: float64
260   0    0.05541
Name: Sad, dtype: float64
261  0    0.054641
Name: Sad, dtype: float64
262  0    0.053478
Name: Sad, dtype: float64
263  0    0.050798
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
259  0    0.0
Name: Angry, dtype: float64
260  0    0.0
Name: Angry, dtype: float64
261  0    0.0
Name: Angry, dtype: float64
262  0    0.0
Name: Angry, dtype: float64
263  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
259  0    0.0
Name: Surprised, dtype: float64  ...
260  0    0.0
Name: Surprised, dtype: float64  ...
261  0    0.0
Name: Surprised, dtype: float64  ...
262  0    0.0
Name: Surprised, dtype: float64  ...
263  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
259  0    0.251542
Name: Arousal, dtype: float64              0
260   0    0.25142
Name: Arousal, dtype: float64              0
261   0    0.25134
Name: Arousal, dtype: float64              0
262  0    0.251262
Name: Arousal, dtype: float64              0
263  0    0.251149
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
259                0       3024.0   0          0   0             0         0
260                0         3152   0          0   0             0         0
261                0       3210.5   0          0   0             0         0
262                0         3133   0          0   0             0         0
263                0       3106.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
259      0
260      0
261      0
262      0
263      0

[264 rows x 24 columns]
----Time----
13200

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
260  1  Базаев Кирилл  13050      0     0
261  1  Базаев Кирилл  13100      0     0
262  1  Базаев Кирилл  13150      0     0
263  1  Базаев Кирилл  13200      0     0
264  1  Базаев Кирилл  13250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
260  0    0.800195
Name: Neutral, dtype: float64
261   0    0.79669
Name: Neutral, dtype: float64
262  0    0.795216
Name: Neutral, dtype: float64
263   0    0.79567
Name: Neutral, dtype: float64
264   0    0.79753
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
260  0    0.0
Name: Happy, dtype: float64
261  0    0.0
Name: Happy, dtype: float64
262  0    0.0
Name: Happy, dtype: float64
263  0    0.0
Name: Happy, dtype: float64
264  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
260   0    0.05541
Name: Sad, dtype: float64
261  0    0.054641
Name: Sad, dtype: float64
262  0    0.053478
Name: Sad, dtype: float64
263  0    0.050798
Name: Sad, dtype: float64
264  0    0.048051
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
260  0    0.0
Name: Angry, dtype: float64
261  0    0.0
Name: Angry, dtype: float64
262  0    0.0
Name: Angry, dtype: float64
263  0    0.0
Name: Angry, dtype: float64
264  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
260  0    0.0
Name: Surprised, dtype: float64  ...
261  0    0.0
Name: Surprised, dtype: float64  ...
262  0    0.0
Name: Surprised, dtype: float64  ...
263  0    0.0
Name: Surprised, dtype: float64  ...
264  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
260   0    0.25142
Name: Arousal, dtype: float64              0
261   0    0.25134
Name: Arousal, dtype: float64              0
262  0    0.251262
Name: Arousal, dtype: float64              0
263  0    0.251149
Name: Arousal, dtype: float64              0
264  0    0.251039
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
260                0         3152   0          0   0             0         0
261                0       3210.5   0          0   0             0         0
262                0         3133   0          0   0             0         0
263                0       3106.0   0          0   0             0         0
264                0         3444   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
260      0
261      0
262      0
263      0
264      0

[265 rows x 24 columns]
----Time----
13250
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
261  1  Базаев Кирилл  13100      0     0
262  1  Базаев Кирилл  13150      0     0
263  1  Базаев Кирилл  13200      0     0
264  1  Базаев Кирилл  13250      0     0
265  1  Базаев Кирилл  13300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
261   0    0.79669
Name: Neutral, dtype: float64
262  0    0.795216
Name: Neutral, dtype: float64
263   0    0.79567
Name: Neutral, dtype: float64
264   0    0.79753
Name: Neutral, dtype: float64
265  0    0.793697
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
261  0    0.0
Name: Happy, dtype: float64
262  0    0.0
Name: Happy, dtype: float64
263  0    0.0
Name: Happy, dtype: float64
264  0    0.0
Name: Happy, dtype: float64
265  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
261  0    0.054641
Name: Sad, dtype: float64
262  0    0.053478
Name: Sad, dtype: float64
263  0    0.050798
Name: Sad, dtype: float64
264  0    0.048051
Name: Sad, dtype: float64
265  0    0.049604
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
261  0    0.0
Name: Angry, dtype: float64
262  0    0.0
Name: Angry, dtype: float64
263  0    0.0
Name: Angry, dtype: float64
264  0    0.0
Name: Angry, dtype: float64
265  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
261  0    0.0
Name: Surprised, dtype: float64  ...
262  0    0.0
Name: Surprised, dtype: float64  ...
263  0    0.0
Name: Surprised, dtype: float64  ...
264  0    0.0
Name: Surprised, dtype: float64  ...
265  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
261   0    0.25134
Name: Arousal, dtype: float64              0
262  0    0.251262
Name: Arousal, dtype: float64              0
263  0    0.251149
Name: Arousal, dtype: float64              0
264  0    0.251039
Name: Arousal, dtype: float64              0
265  0    0.250967
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
261                0       3210.5   0          0   0             0         0
262                0         3133   0          0   0             0         0
263                0       3106.0   0          0   0             0         0
264                0         3444   0          0   0             0         0
265                0       4742.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
261      0
262      0
263      0
264      0
265      0

[266 rows x 24 columns]
----Time----
13300

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
262  1  Базаев Кирилл  13150      0     0
263  1  Базаев Кирилл  13200      0     0
264  1  Базаев Кирилл  13250      0     0
265  1  Базаев Кирилл  13300      0     0
266  1  Базаев Кирилл  13350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
262  0    0.795216
Name: Neutral, dtype: float64
263   0    0.79567
Name: Neutral, dtype: float64
264   0    0.79753
Name: Neutral, dtype: float64
265  0    0.793697
Name: Neutral, dtype: float64
266  0    0.784145
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
262  0    0.0
Name: Happy, dtype: float64
263  0    0.0
Name: Happy, dtype: float64
264  0    0.0
Name: Happy, dtype: float64
265  0    0.0
Name: Happy, dtype: float64
266  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
262  0    0.053478
Name: Sad, dtype: float64
263  0    0.050798
Name: Sad, dtype: float64
264  0    0.048051
Name: Sad, dtype: float64
265  0    0.049604
Name: Sad, dtype: float64
266  0    0.056549
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
262  0    0.0
Name: Angry, dtype: float64
263  0    0.0
Name: Angry, dtype: float64
264  0    0.0
Name: Angry, dtype: float64
265  0    0.0
Name: Angry, dtype: float64
266  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
262  0    0.0
Name: Surprised, dtype: float64  ...
263  0    0.0
Name: Surprised, dtype: float64  ...
264  0    0.0
Name: Surprised, dtype: float64  ...
265  0    0.0
Name: Surprised, dtype: float64  ...
266  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
262  0    0.251262
Name: Arousal, dtype: float64              0
263  0    0.251149
Name: Arousal, dtype: float64              0
264  0    0.251039
Name: Arousal, dtype: float64              0
265  0    0.250967
Name: Arousal, dtype: float64              0
266  0    0.250897
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
262                0         3133   0          0   0             0         0
263                0       3106.0   0          0   0             0         0
264                0         3444   0          0   0             0         0
265                0       4742.5   0          0   0             0         0
266                0         6468   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
262      0
263      0
264      0
265      0
266      0

[267 rows x 24 columns]
----Time----
13350
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
263  1  Базаев Кирилл  13200      0     0
264  1  Базаев Кирилл  13250      0     0
265  1  Базаев Кирилл  13300      0     0
266  1  Базаев Кирилл  13350      0     0
267  1  Базаев Кирилл  13400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
263   0    0.79567
Name: Neutral, dtype: float64
264   0    0.79753
Name: Neutral, dtype: float64
265  0    0.793697
Name: Neutral, dtype: float64
266  0    0.784145
Name: Neutral, dtype: float64
267  0    0.760874
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
263  0    0.0
Name: Happy, dtype: float64
264  0    0.0
Name: Happy, dtype: float64
265  0    0.0
Name: Happy, dtype: float64
266  0    0.0
Name: Happy, dtype: float64
267  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
263  0    0.050798
Name: Sad, dtype: float64
264  0    0.048051
Name: Sad, dtype: float64
265  0    0.049604
Name: Sad, dtype: float64
266  0    0.056549
Name: Sad, dtype: float64
267  0    0.076576
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
263  0    0.0
Name: Angry, dtype: float64
264  0    0.0
Name: Angry, dtype: float64
265  0    0.0
Name: Angry, dtype: float64
266  0    0.0
Name: Angry, dtype: float64
267  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
263  0    0.0
Name: Surprised, dtype: float64  ...
264  0    0.0
Name: Surprised, dtype: float64  ...
265  0    0.0
Name: Surprised, dtype: float64  ...
266  0    0.0
Name: Surprised, dtype: float64  ...
267  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
263  0    0.251149
Name: Arousal, dtype: float64              0
264  0    0.251039
Name: Arousal, dtype: float64              0
265  0    0.250967
Name: Arousal, dtype: float64              0
266  0    0.250897
Name: Arousal, dtype: float64              0
267  0    0.250795
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
263                0       3106.0   0          0   0             0         0
264                0         3444   0          0   0             0         0
265                0       4742.5   0          0   0             0         0
266                0         6468   0          0   0             0         0
267                0       7151.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
263      0
264      0
265      0
266      0
267      0

[268 rows x 24 columns]
----Time----
13400

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
264  1  Базаев Кирилл  13250      0     0
265  1  Базаев Кирилл  13300      0     0
266  1  Базаев Кирилл  13350      0     0
267  1  Базаев Кирилл  13400      0     0
268  1  Базаев Кирилл  13450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
264   0    0.79753
Name: Neutral, dtype: float64
265  0    0.793697
Name: Neutral, dtype: float64
266  0    0.784145
Name: Neutral, dtype: float64
267  0    0.760874
Name: Neutral, dtype: float64
268  0    0.732381
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
264  0    0.0
Name: Happy, dtype: float64
265  0    0.0
Name: Happy, dtype: float64
266  0    0.0
Name: Happy, dtype: float64
267  0    0.0
Name: Happy, dtype: float64
268  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
264  0    0.048051
Name: Sad, dtype: float64
265  0    0.049604
Name: Sad, dtype: float64
266  0    0.056549
Name: Sad, dtype: float64
267  0    0.076576
Name: Sad, dtype: float64
268  0    0.099103
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
264  0    0.0
Name: Angry, dtype: float64
265  0    0.0
Name: Angry, dtype: float64
266  0    0.0
Name: Angry, dtype: float64
267  0    0.0
Name: Angry, dtype: float64
268  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
264  0    0.0
Name: Surprised, dtype: float64  ...
265  0    0.0
Name: Surprised, dtype: float64  ...
266  0    0.0
Name: Surprised, dtype: float64  ...
267  0    0.0
Name: Surprised, dtype: float64  ...
268  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
264  0    0.251039
Name: Arousal, dtype: float64              0
265  0    0.250967
Name: Arousal, dtype: float64              0
266  0    0.250897
Name: Arousal, dtype: float64              0
267  0    0.250795
Name: Arousal, dtype: float64              0
268  0    0.250695
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
264                0         3444   0          0   0             0         0
265                0       4742.5   0          0   0             0         0
266                0         6468   0          0   0             0         0
267                0       7151.5   0          0   0             0         0
268                0         6144   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
264      0
265      0
266      0
267      0
268      0

[269 rows x 24 columns]
----Time----
13450
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
265  1  Базаев Кирилл  13300      0     0
266  1  Базаев Кирилл  13350      0     0
267  1  Базаев Кирилл  13400      0     0
268  1  Базаев Кирилл  13450      0     0
269  1  Базаев Кирилл  13500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
265  0    0.793697
Name: Neutral, dtype: float64
266  0    0.784145
Name: Neutral, dtype: float64
267  0    0.760874
Name: Neutral, dtype: float64
268  0    0.732381
Name: Neutral, dtype: float64
269  0    0.714068
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
265  0    0.0
Name: Happy, dtype: float64
266  0    0.0
Name: Happy, dtype: float64
267  0    0.0
Name: Happy, dtype: float64
268  0    0.0
Name: Happy, dtype: float64
269  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
265  0    0.049604
Name: Sad, dtype: float64
266  0    0.056549
Name: Sad, dtype: float64
267  0    0.076576
Name: Sad, dtype: float64
268  0    0.099103
Name: Sad, dtype: float64
269  0    0.110452
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
265  0    0.0
Name: Angry, dtype: float64
266  0    0.0
Name: Angry, dtype: float64
267  0    0.0
Name: Angry, dtype: float64
268  0    0.0
Name: Angry, dtype: float64
269  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
265  0    0.0
Name: Surprised, dtype: float64  ...
266  0    0.0
Name: Surprised, dtype: float64  ...
267  0    0.0
Name: Surprised, dtype: float64  ...
268  0    0.0
Name: Surprised, dtype: float64  ...
269  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
265  0    0.250967
Name: Arousal, dtype: float64              0
266  0    0.250897
Name: Arousal, dtype: float64              0
267  0    0.250795
Name: Arousal, dtype: float64              0
268  0    0.250695
Name: Arousal, dtype: float64              0
269   0    0.25063
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
265                0       4742.5   0          0   0             0         0
266                0         6468   0          0   0             0         0
267                0       7151.5   0          0   0             0         0
268                0         6144   0          0   0             0         0
269                0       4350.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
265      0
266      0
267      0
268      0
269      0

[270 rows x 24 columns]
----Time----
13500

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
266  1  Базаев Кирилл  13350      0     0
267  1  Базаев Кирилл  13400      0     0
268  1  Базаев Кирилл  13450      0     0
269  1  Базаев Кирилл  13500      0     0
270  1  Базаев Кирилл  13550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
266  0    0.784145
Name: Neutral, dtype: float64
267  0    0.760874
Name: Neutral, dtype: float64
268  0    0.732381
Name: Neutral, dtype: float64
269  0    0.714068
Name: Neutral, dtype: float64
270  0    0.698156
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
266  0    0.0
Name: Happy, dtype: float64
267  0    0.0
Name: Happy, dtype: float64
268  0    0.0
Name: Happy, dtype: float64
269  0    0.0
Name: Happy, dtype: float64
270  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
266  0    0.056549
Name: Sad, dtype: float64
267  0    0.076576
Name: Sad, dtype: float64
268  0    0.099103
Name: Sad, dtype: float64
269  0    0.110452
Name: Sad, dtype: float64
270  0    0.117367
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
266  0    0.0
Name: Angry, dtype: float64
267  0    0.0
Name: Angry, dtype: float64
268  0    0.0
Name: Angry, dtype: float64
269  0    0.0
Name: Angry, dtype: float64
270  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
266  0    0.0
Name: Surprised, dtype: float64  ...
267  0    0.0
Name: Surprised, dtype: float64  ...
268  0    0.0
Name: Surprised, dtype: float64  ...
269  0    0.0
Name: Surprised, dtype: float64  ...
270  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
266  0    0.250897
Name: Arousal, dtype: float64              0
267  0    0.250795
Name: Arousal, dtype: float64              0
268  0    0.250695
Name: Arousal, dtype: float64              0
269   0    0.25063
Name: Arousal, dtype: float64              0
270  0    0.250567
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
266                0         6468   0          0   0             0         0
267                0       7151.5   0          0   0             0         0
268                0         6144   0          0   0             0         0
269                0       4350.5   0          0   0             0         0
270                0       3503.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
266      0
267      0
268      0
269      0
270      0

[271 rows x 24 columns]
----Time----
13550
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
267  1  Базаев Кирилл  13400      0     0
268  1  Базаев Кирилл  13450      0     0
269  1  Базаев Кирилл  13500      0     0
270  1  Базаев Кирилл  13550      0     0
271  1  Базаев Кирилл  13600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
267  0    0.760874
Name: Neutral, dtype: float64
268  0    0.732381
Name: Neutral, dtype: float64
269  0    0.714068
Name: Neutral, dtype: float64
270  0    0.698156
Name: Neutral, dtype: float64
271  0    0.680734
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
267  0    0.0
Name: Happy, dtype: float64
268  0    0.0
Name: Happy, dtype: float64
269  0    0.0
Name: Happy, dtype: float64
270  0    0.0
Name: Happy, dtype: float64
271  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
267  0    0.076576
Name: Sad, dtype: float64
268  0    0.099103
Name: Sad, dtype: float64
269  0    0.110452
Name: Sad, dtype: float64
270  0    0.117367
Name: Sad, dtype: float64
271  0    0.122399
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
267  0    0.0
Name: Angry, dtype: float64
268  0    0.0
Name: Angry, dtype: float64
269  0    0.0
Name: Angry, dtype: float64
270  0    0.0
Name: Angry, dtype: float64
271  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
267  0    0.0
Name: Surprised, dtype: float64  ...
268  0    0.0
Name: Surprised, dtype: float64  ...
269  0    0.0
Name: Surprised, dtype: float64  ...
270  0    0.0
Name: Surprised, dtype: float64  ...
271  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
267  0    0.250795
Name: Arousal, dtype: float64              0
268  0    0.250695
Name: Arousal, dtype: float64              0
269   0    0.25063
Name: Arousal, dtype: float64              0
270  0    0.250567
Name: Arousal, dtype: float64              0
271  0    0.250475
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
267                0       7151.5   0          0   0             0         0
268                0         6144   0          0   0             0         0
269                0       4350.5   0          0   0             0         0
270                0       3503.0   0          0   0             0         0
271                0         3672   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
267      0
268      0
269      0
270      0
271      0

[272 rows x 24 columns]
----Time----
13600

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
268  1  Базаев Кирилл  13450      0     0
269  1  Базаев Кирилл  13500      0     0
270  1  Базаев Кирилл  13550      0     0
271  1  Базаев Кирилл  13600      0     0
272  1  Базаев Кирилл  13650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
268  0    0.732381
Name: Neutral, dtype: float64
269  0    0.714068
Name: Neutral, dtype: float64
270  0    0.698156
Name: Neutral, dtype: float64
271  0    0.680734
Name: Neutral, dtype: float64
272  0    0.671508
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
268  0    0.0
Name: Happy, dtype: float64
269  0    0.0
Name: Happy, dtype: float64
270  0    0.0
Name: Happy, dtype: float64
271  0    0.0
Name: Happy, dtype: float64
272  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
268  0    0.099103
Name: Sad, dtype: float64
269  0    0.110452
Name: Sad, dtype: float64
270  0    0.117367
Name: Sad, dtype: float64
271  0    0.122399
Name: Sad, dtype: float64
272  0    0.123209
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
268  0    0.0
Name: Angry, dtype: float64
269  0    0.0
Name: Angry, dtype: float64
270  0    0.0
Name: Angry, dtype: float64
271  0    0.0
Name: Angry, dtype: float64
272  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
268  0    0.0
Name: Surprised, dtype: float64  ...
269  0    0.0
Name: Surprised, dtype: float64  ...
270  0    0.0
Name: Surprised, dtype: float64  ...
271  0    0.0
Name: Surprised, dtype: float64  ...
272  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
268  0    0.250695
Name: Arousal, dtype: float64              0
269   0    0.25063
Name: Arousal, dtype: float64              0
270  0    0.250567
Name: Arousal, dtype: float64              0
271  0    0.250475
Name: Arousal, dtype: float64              0
272  0    0.250385
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
268                0         6144   0          0   0             0         0
269                0       4350.5   0          0   0             0         0
270                0       3503.0   0          0   0             0         0
271                0         3672   0          0   0             0         0
272                0       3721.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
268      0
269      0
270      0
271      0
272      0

[273 rows x 24 columns]
----Time----
13650
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
269  1  Базаев Кирилл  13500      0     0
270  1  Базаев Кирилл  13550      0     0
271  1  Базаев Кирилл  13600      0     0
272  1  Базаев Кирилл  13650      0     0
273  1  Базаев Кирилл  13700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
269  0    0.714068
Name: Neutral, dtype: float64
270  0    0.698156
Name: Neutral, dtype: float64
271  0    0.680734
Name: Neutral, dtype: float64
272  0    0.671508
Name: Neutral, dtype: float64
273  0    0.670387
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
269  0    0.0
Name: Happy, dtype: float64
270  0    0.0
Name: Happy, dtype: float64
271  0    0.0
Name: Happy, dtype: float64
272  0    0.0
Name: Happy, dtype: float64
273  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
269  0    0.110452
Name: Sad, dtype: float64
270  0    0.117367
Name: Sad, dtype: float64
271  0    0.122399
Name: Sad, dtype: float64
272  0    0.123209
Name: Sad, dtype: float64
273  0    0.121232
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
269  0    0.0
Name: Angry, dtype: float64
270  0    0.0
Name: Angry, dtype: float64
271  0    0.0
Name: Angry, dtype: float64
272  0    0.0
Name: Angry, dtype: float64
273  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
269  0    0.0
Name: Surprised, dtype: float64  ...
270  0    0.0
Name: Surprised, dtype: float64  ...
271  0    0.0
Name: Surprised, dtype: float64  ...
272  0    0.0
Name: Surprised, dtype: float64  ...
273  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
269   0    0.25063
Name: Arousal, dtype: float64              0
270  0    0.250567
Name: Arousal, dtype: float64              0
271  0    0.250475
Name: Arousal, dtype: float64              0
272  0    0.250385
Name: Arousal, dtype: float64              0
273  0    0.250326
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
269                0       4350.5   0          0   0             0         0
270                0       3503.0   0          0   0             0         0
271                0         3672   0          0   0             0         0
272                0       3721.0   0          0   0             0         0
273                0         3625   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
269      0
270      0
271      0
272      0
273      0

[274 rows x 24 columns]
----Time----
13700

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
270  1  Базаев Кирилл  13550      0     0
271  1  Базаев Кирилл  13600      0     0
272  1  Базаев Кирилл  13650      0     0
273  1  Базаев Кирилл  13700      0     0
274  1  Базаев Кирилл  13750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
270  0    0.698156
Name: Neutral, dtype: float64
271  0    0.680734
Name: Neutral, dtype: float64
272  0    0.671508
Name: Neutral, dtype: float64
273  0    0.670387
Name: Neutral, dtype: float64
274  0    0.670135
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
270  0    0.0
Name: Happy, dtype: float64
271  0    0.0
Name: Happy, dtype: float64
272  0    0.0
Name: Happy, dtype: float64
273  0    0.0
Name: Happy, dtype: float64
274  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
270  0    0.117367
Name: Sad, dtype: float64
271  0    0.122399
Name: Sad, dtype: float64
272  0    0.123209
Name: Sad, dtype: float64
273  0    0.121232
Name: Sad, dtype: float64
274   0    0.11877
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
270  0    0.0
Name: Angry, dtype: float64
271  0    0.0
Name: Angry, dtype: float64
272  0    0.0
Name: Angry, dtype: float64
273  0    0.0
Name: Angry, dtype: float64
274  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
270  0    0.0
Name: Surprised, dtype: float64  ...
271  0    0.0
Name: Surprised, dtype: float64  ...
272  0    0.0
Name: Surprised, dtype: float64  ...
273  0    0.0
Name: Surprised, dtype: float64  ...
274  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
270  0    0.250567
Name: Arousal, dtype: float64              0
271  0    0.250475
Name: Arousal, dtype: float64              0
272  0    0.250385
Name: Arousal, dtype: float64              0
273  0    0.250326
Name: Arousal, dtype: float64              0
274  0    0.250269
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
270                0       3503.0   0          0   0             0         0
271                0         3672   0          0   0             0         0
272                0       3721.0   0          0   0             0         0
273                0         3625   0          0   0             0         0
274                0       3673.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
270      0
271      0
272      0
273      0
274      0

[275 rows x 24 columns]
----Time----
13750
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
271  1  Базаев Кирилл  13600      0     0
272  1  Базаев Кирилл  13650      0     0
273  1  Базаев Кирилл  13700      0     0
274  1  Базаев Кирилл  13750      0     0
275  1  Базаев Кирилл  13800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
271  0    0.680734
Name: Neutral, dtype: float64
272  0    0.671508
Name: Neutral, dtype: float64
273  0    0.670387
Name: Neutral, dtype: float64
274  0    0.670135
Name: Neutral, dtype: float64
275  0    0.675453
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
271  0    0.0
Name: Happy, dtype: float64
272  0    0.0
Name: Happy, dtype: float64
273  0    0.0
Name: Happy, dtype: float64
274  0    0.0
Name: Happy, dtype: float64
275  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
271  0    0.122399
Name: Sad, dtype: float64
272  0    0.123209
Name: Sad, dtype: float64
273  0    0.121232
Name: Sad, dtype: float64
274   0    0.11877
Name: Sad, dtype: float64
275   0    0.11334
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
271  0    0.0
Name: Angry, dtype: float64
272  0    0.0
Name: Angry, dtype: float64
273  0    0.0
Name: Angry, dtype: float64
274  0    0.0
Name: Angry, dtype: float64
275  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
271  0    0.0
Name: Surprised, dtype: float64  ...
272  0    0.0
Name: Surprised, dtype: float64  ...
273  0    0.0
Name: Surprised, dtype: float64  ...
274  0    0.0
Name: Surprised, dtype: float64  ...
275  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
271  0    0.250475
Name: Arousal, dtype: float64              0
272  0    0.250385
Name: Arousal, dtype: float64              0
273  0    0.250326
Name: Arousal, dtype: float64              0
274  0    0.250269
Name: Arousal, dtype: float64              0
275  0    0.250186
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
271                0         3672   0          0   0             0         0
272                0       3721.0   0          0   0             0         0
273                0         3625   0          0   0             0         0
274                0       3673.5   0          0   0             0         0
275                0         4306   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
271      0
272      0
273      0
274      0
275      0

[276 rows x 24 columns]
----Time----
13800

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
272  1  Базаев Кирилл  13650      0     0
273  1  Базаев Кирилл  13700      0     0
274  1  Базаев Кирилл  13750      0     0
275  1  Базаев Кирилл  13800      0     0
276  1  Базаев Кирилл  13850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
272  0    0.671508
Name: Neutral, dtype: float64
273  0    0.670387
Name: Neutral, dtype: float64
274  0    0.670135
Name: Neutral, dtype: float64
275  0    0.675453
Name: Neutral, dtype: float64
276  0    0.682306
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
272  0    0.0
Name: Happy, dtype: float64
273  0    0.0
Name: Happy, dtype: float64
274  0    0.0
Name: Happy, dtype: float64
275  0    0.0
Name: Happy, dtype: float64
276  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
272  0    0.123209
Name: Sad, dtype: float64
273  0    0.121232
Name: Sad, dtype: float64
274   0    0.11877
Name: Sad, dtype: float64
275   0    0.11334
Name: Sad, dtype: float64
276  0    0.107291
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
272  0    0.0
Name: Angry, dtype: float64
273  0    0.0
Name: Angry, dtype: float64
274  0    0.0
Name: Angry, dtype: float64
275  0    0.0
Name: Angry, dtype: float64
276  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
272  0    0.0
Name: Surprised, dtype: float64  ...
273  0    0.0
Name: Surprised, dtype: float64  ...
274  0    0.0
Name: Surprised, dtype: float64  ...
275  0    0.0
Name: Surprised, dtype: float64  ...
276  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
272  0    0.250385
Name: Arousal, dtype: float64              0
273  0    0.250326
Name: Arousal, dtype: float64              0
274  0    0.250269
Name: Arousal, dtype: float64              0
275  0    0.250186
Name: Arousal, dtype: float64              0
276  0    0.250105
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
272                0       3721.0   0          0   0             0         0
273                0         3625   0          0   0             0         0
274                0       3673.5   0          0   0             0         0
275                0         4306   0          0   0             0         0
276                0         5300   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
272      0
273      0
274      0
275      0
276      0

[277 rows x 24 columns]
----Time----
13850
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
273  1  Базаев Кирилл  13700      0     0
274  1  Базаев Кирилл  13750      0     0
275  1  Базаев Кирилл  13800      0     0
276  1  Базаев Кирилл  13850      0     0
277  1  Базаев Кирилл  13900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
273  0    0.670387
Name: Neutral, dtype: float64
274  0    0.670135
Name: Neutral, dtype: float64
275  0    0.675453
Name: Neutral, dtype: float64
276  0    0.682306
Name: Neutral, dtype: float64
277   0    0.68823
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
273  0    0.0
Name: Happy, dtype: float64
274  0    0.0
Name: Happy, dtype: float64
275  0    0.0
Name: Happy, dtype: float64
276  0    0.0
Name: Happy, dtype: float64
277  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
273  0    0.121232
Name: Sad, dtype: float64
274   0    0.11877
Name: Sad, dtype: float64
275   0    0.11334
Name: Sad, dtype: float64
276  0    0.107291
Name: Sad, dtype: float64
277  0    0.102634
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
273  0    0.0
Name: Angry, dtype: float64
274  0    0.0
Name: Angry, dtype: float64
275  0    0.0
Name: Angry, dtype: float64
276  0    0.0
Name: Angry, dtype: float64
277  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
273  0    0.0
Name: Surprised, dtype: float64  ...
274  0    0.0
Name: Surprised, dtype: float64  ...
275  0    0.0
Name: Surprised, dtype: float64  ...
276  0    0.0
Name: Surprised, dtype: float64  ...
277  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
273  0    0.250326
Name: Arousal, dtype: float64              0
274  0    0.250269
Name: Arousal, dtype: float64              0
275  0    0.250186
Name: Arousal, dtype: float64              0
276  0    0.250105
Name: Arousal, dtype: float64              0
277  0    0.250052
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
273                0         3625   0          0   0             0         0
274                0       3673.5   0          0   0             0         0
275                0         4306   0          0   0             0         0
276                0         5300   0          0   0             0         0
277                0       6851.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
273      0
274      0
275      0
276      0
277      0

[278 rows x 24 columns]
----Time----
13900

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
274  1  Базаев Кирилл  13750      0     0
275  1  Базаев Кирилл  13800      0     0
276  1  Базаев Кирилл  13850      0     0
277  1  Базаев Кирилл  13900      0     0
278  1  Базаев Кирилл  13950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
274  0    0.670135
Name: Neutral, dtype: float64
275  0    0.675453
Name: Neutral, dtype: float64
276  0    0.682306
Name: Neutral, dtype: float64
277   0    0.68823
Name: Neutral, dtype: float64
278   0    0.69408
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
274  0    0.0
Name: Happy, dtype: float64
275  0    0.0
Name: Happy, dtype: float64
276  0    0.0
Name: Happy, dtype: float64
277  0    0.0
Name: Happy, dtype: float64
278  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
274   0    0.11877
Name: Sad, dtype: float64
275   0    0.11334
Name: Sad, dtype: float64
276  0    0.107291
Name: Sad, dtype: float64
277  0    0.102634
Name: Sad, dtype: float64
278  0    0.097937
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
274  0    0.0
Name: Angry, dtype: float64
275  0    0.0
Name: Angry, dtype: float64
276  0    0.0
Name: Angry, dtype: float64
277  0    0.0
Name: Angry, dtype: float64
278  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
274  0    0.0
Name: Surprised, dtype: float64  ...
275  0    0.0
Name: Surprised, dtype: float64  ...
276  0    0.0
Name: Surprised, dtype: float64  ...
277  0    0.0
Name: Surprised, dtype: float64  ...
278  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
274  0    0.250269
Name: Arousal, dtype: float64              0
275  0    0.250186
Name: Arousal, dtype: float64              0
276  0    0.250105
Name: Arousal, dtype: float64              0
277  0    0.250052
Name: Arousal, dtype: float64              0
278      0    0.25
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
274                0       3673.5   0          0   0             0         0
275                0         4306   0          0   0             0         0
276                0         5300   0          0   0             0         0
277                0       6851.5   0          0   0             0         0
278                0         7154   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
274      0
275      0
276      0
277      0
278      0

[279 rows x 24 columns]
----Time----
13950
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
275  1  Базаев Кирилл  13800      0     0
276  1  Базаев Кирилл  13850      0     0
277  1  Базаев Кирилл  13900      0     0
278  1  Базаев Кирилл  13950      0     0
279  1  Базаев Кирилл  14000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
275  0    0.675453
Name: Neutral, dtype: float64
276  0    0.682306
Name: Neutral, dtype: float64
277   0    0.68823
Name: Neutral, dtype: float64
278   0    0.69408
Name: Neutral, dtype: float64
279  0    0.701487
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
275  0    0.0
Name: Happy, dtype: float64
276  0    0.0
Name: Happy, dtype: float64
277  0    0.0
Name: Happy, dtype: float64
278  0    0.0
Name: Happy, dtype: float64
279  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
275   0    0.11334
Name: Sad, dtype: float64
276  0    0.107291
Name: Sad, dtype: float64
277  0    0.102634
Name: Sad, dtype: float64
278  0    0.097937
Name: Sad, dtype: float64
279  0    0.090717
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
275  0    0.0
Name: Angry, dtype: float64
276  0    0.0
Name: Angry, dtype: float64
277  0    0.0
Name: Angry, dtype: float64
278  0    0.0
Name: Angry, dtype: float64
279  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
275  0    0.0
Name: Surprised, dtype: float64  ...
276  0    0.0
Name: Surprised, dtype: float64  ...
277  0    0.0
Name: Surprised, dtype: float64  ...
278  0    0.0
Name: Surprised, dtype: float64  ...
279  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
275  0    0.250186
Name: Arousal, dtype: float64              0
276  0    0.250105
Name: Arousal, dtype: float64              0
277  0    0.250052
Name: Arousal, dtype: float64              0
278      0    0.25
Name: Arousal, dtype: float64              0
279  0    0.249925
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
275                0         4306   0          0   0             0         0
276                0         5300   0          0   0             0         0
277                0       6851.5   0          0   0             0         0
278                0         7154   0          0   0             0         0
279                0       5746.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
275      0
276      0
277      0
278      0
279      0

[280 rows x 24 columns]
----Time----
14000

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
276  1  Базаев Кирилл  13850      0     0
277  1  Базаев Кирилл  13900      0     0
278  1  Базаев Кирилл  13950      0     0
279  1  Базаев Кирилл  14000      0     0
280  1  Базаев Кирилл  14050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
276  0    0.682306
Name: Neutral, dtype: float64
277   0    0.68823
Name: Neutral, dtype: float64
278   0    0.69408
Name: Neutral, dtype: float64
279  0    0.701487
Name: Neutral, dtype: float64
280  0    0.707548
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
276  0    0.0
Name: Happy, dtype: float64
277  0    0.0
Name: Happy, dtype: float64
278  0    0.0
Name: Happy, dtype: float64
279  0    0.0
Name: Happy, dtype: float64
280  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
276  0    0.107291
Name: Sad, dtype: float64
277  0    0.102634
Name: Sad, dtype: float64
278  0    0.097937
Name: Sad, dtype: float64
279  0    0.090717
Name: Sad, dtype: float64
280  0    0.084539
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
276  0    0.0
Name: Angry, dtype: float64
277  0    0.0
Name: Angry, dtype: float64
278  0    0.0
Name: Angry, dtype: float64
279  0    0.0
Name: Angry, dtype: float64
280  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
276  0    0.0
Name: Surprised, dtype: float64  ...
277  0    0.0
Name: Surprised, dtype: float64  ...
278  0    0.0
Name: Surprised, dtype: float64  ...
279  0    0.0
Name: Surprised, dtype: float64  ...
280  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
276  0    0.250105
Name: Arousal, dtype: float64              0
277  0    0.250052
Name: Arousal, dtype: float64              0
278      0    0.25
Name: Arousal, dtype: float64              0
279  0    0.249925
Name: Arousal, dtype: float64              0
280  0    0.249852
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
276                0         5300   0          0   0             0         0
277                0       6851.5   0          0   0             0         0
278                0         7154   0          0   0             0         0
279                0       5746.5   0          0   0             0         0
280                0         4442   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
276      0
277      0
278      0
279      0
280      0

[281 rows x 24 columns]
----Time----
14050
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
277  1  Базаев Кирилл  13900      0     0
278  1  Базаев Кирилл  13950      0     0
279  1  Базаев Кирилл  14000      0     0
280  1  Базаев Кирилл  14050      0     0
281  1  Базаев Кирилл  14100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
277   0    0.68823
Name: Neutral, dtype: float64
278   0    0.69408
Name: Neutral, dtype: float64
279  0    0.701487
Name: Neutral, dtype: float64
280  0    0.707548
Name: Neutral, dtype: float64
281  0    0.711658
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
277  0    0.0
Name: Happy, dtype: float64
278  0    0.0
Name: Happy, dtype: float64
279  0    0.0
Name: Happy, dtype: float64
280  0    0.0
Name: Happy, dtype: float64
281  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
277  0    0.102634
Name: Sad, dtype: float64
278  0    0.097937
Name: Sad, dtype: float64
279  0    0.090717
Name: Sad, dtype: float64
280  0    0.084539
Name: Sad, dtype: float64
281  0    0.080241
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
277  0    0.0
Name: Angry, dtype: float64
278  0    0.0
Name: Angry, dtype: float64
279  0    0.0
Name: Angry, dtype: float64
280  0    0.0
Name: Angry, dtype: float64
281  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
277  0    0.0
Name: Surprised, dtype: float64  ...
278  0    0.0
Name: Surprised, dtype: float64  ...
279  0    0.0
Name: Surprised, dtype: float64  ...
280  0    0.0
Name: Surprised, dtype: float64  ...
281  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
277  0    0.250052
Name: Arousal, dtype: float64              0
278      0    0.25
Name: Arousal, dtype: float64              0
279  0    0.249925
Name: Arousal, dtype: float64              0
280  0    0.249852
Name: Arousal, dtype: float64              0
281  0    0.249804
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
277                0       6851.5   0          0   0             0         0
278                0         7154   0          0   0             0         0
279                0       5746.5   0          0   0             0         0
280                0         4442   0          0   0             0         0
281                0       4178.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
277      0
278      0
279      0
280      0
281      0

[282 rows x 24 columns]
----Time----
14100

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
278  1  Базаев Кирилл  13950      0     0
279  1  Базаев Кирилл  14000      0     0
280  1  Базаев Кирилл  14050      0     0
281  1  Базаев Кирилл  14100      0     0
282  1  Базаев Кирилл  14150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
278   0    0.69408
Name: Neutral, dtype: float64
279  0    0.701487
Name: Neutral, dtype: float64
280  0    0.707548
Name: Neutral, dtype: float64
281  0    0.711658
Name: Neutral, dtype: float64
282  0    0.716908
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
278  0    0.0
Name: Happy, dtype: float64
279  0    0.0
Name: Happy, dtype: float64
280  0    0.0
Name: Happy, dtype: float64
281  0    0.0
Name: Happy, dtype: float64
282  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
278  0    0.097937
Name: Sad, dtype: float64
279  0    0.090717
Name: Sad, dtype: float64
280  0    0.084539
Name: Sad, dtype: float64
281  0    0.080241
Name: Sad, dtype: float64
282  0    0.076131
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
278  0    0.0
Name: Angry, dtype: float64
279  0    0.0
Name: Angry, dtype: float64
280  0    0.0
Name: Angry, dtype: float64
281  0    0.0
Name: Angry, dtype: float64
282  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
278  0    0.0
Name: Surprised, dtype: float64  ...
279  0    0.0
Name: Surprised, dtype: float64  ...
280  0    0.0
Name: Surprised, dtype: float64  ...
281  0    0.0
Name: Surprised, dtype: float64  ...
282  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
278      0    0.25
Name: Arousal, dtype: float64              0
279  0    0.249925
Name: Arousal, dtype: float64              0
280  0    0.249852
Name: Arousal, dtype: float64              0
281  0    0.249804
Name: Arousal, dtype: float64              0
282  0    0.249757
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
278                0         7154   0          0   0             0         0
279                0       5746.5   0          0   0             0         0
280                0         4442   0          0   0             0         0
281                0       4178.5   0          0   0             0         0
282                0       4306.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
278      0
279      0
280      0
281      0
282      0

[283 rows x 24 columns]
----Time----
14150
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
279  1  Базаев Кирилл  14000      0     0
280  1  Базаев Кирилл  14050      0     0
281  1  Базаев Кирилл  14100      0     0
282  1  Базаев Кирилл  14150      0     0
283  1  Базаев Кирилл  14200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
279  0    0.701487
Name: Neutral, dtype: float64
280  0    0.707548
Name: Neutral, dtype: float64
281  0    0.711658
Name: Neutral, dtype: float64
282  0    0.716908
Name: Neutral, dtype: float64
283  0    0.724446
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
279  0    0.0
Name: Happy, dtype: float64
280  0    0.0
Name: Happy, dtype: float64
281  0    0.0
Name: Happy, dtype: float64
282  0    0.0
Name: Happy, dtype: float64
283  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
279  0    0.090717
Name: Sad, dtype: float64
280  0    0.084539
Name: Sad, dtype: float64
281  0    0.080241
Name: Sad, dtype: float64
282  0    0.076131
Name: Sad, dtype: float64
283   0    0.07072
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
279  0    0.0
Name: Angry, dtype: float64
280  0    0.0
Name: Angry, dtype: float64
281  0    0.0
Name: Angry, dtype: float64
282  0    0.0
Name: Angry, dtype: float64
283  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
279  0    0.0
Name: Surprised, dtype: float64  ...
280  0    0.0
Name: Surprised, dtype: float64  ...
281  0    0.0
Name: Surprised, dtype: float64  ...
282  0    0.0
Name: Surprised, dtype: float64  ...
283  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
279  0    0.249925
Name: Arousal, dtype: float64              0
280  0    0.249852
Name: Arousal, dtype: float64              0
281  0    0.249804
Name: Arousal, dtype: float64              0
282  0    0.249757
Name: Arousal, dtype: float64              0
283   0    0.24969
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
279                0       5746.5   0          0   0             0         0
280                0         4442   0          0   0             0         0
281                0       4178.5   0          0   0             0         0
282                0       4306.5   0          0   0             0         0
283                0         4277   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
279      0
280      0
281      0
282      0
283      0

[284 rows x 24 columns]
----Time----
14200

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
280  1  Базаев Кирилл  14050      0     0
281  1  Базаев Кирилл  14100      0     0
282  1  Базаев Кирилл  14150      0     0
283  1  Базаев Кирилл  14200      0     0
284  1  Базаев Кирилл  14250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
280  0    0.707548
Name: Neutral, dtype: float64
281  0    0.711658
Name: Neutral, dtype: float64
282  0    0.716908
Name: Neutral, dtype: float64
283  0    0.724446
Name: Neutral, dtype: float64
284   0    0.73238
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
280  0    0.0
Name: Happy, dtype: float64
281  0    0.0
Name: Happy, dtype: float64
282  0    0.0
Name: Happy, dtype: float64
283  0    0.0
Name: Happy, dtype: float64
284  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
280  0    0.084539
Name: Sad, dtype: float64
281  0    0.080241
Name: Sad, dtype: float64
282  0    0.076131
Name: Sad, dtype: float64
283   0    0.07072
Name: Sad, dtype: float64
284   0    0.06553
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
280  0    0.0
Name: Angry, dtype: float64
281  0    0.0
Name: Angry, dtype: float64
282  0    0.0
Name: Angry, dtype: float64
283  0    0.0
Name: Angry, dtype: float64
284  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
280  0    0.0
Name: Surprised, dtype: float64  ...
281  0    0.0
Name: Surprised, dtype: float64  ...
282  0    0.0
Name: Surprised, dtype: float64  ...
283  0    0.0
Name: Surprised, dtype: float64  ...
284  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
280  0    0.249852
Name: Arousal, dtype: float64              0
281  0    0.249804
Name: Arousal, dtype: float64              0
282  0    0.249757
Name: Arousal, dtype: float64              0
283   0    0.24969
Name: Arousal, dtype: float64              0
284  0    0.249623
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
280                0         4442   0          0   0             0         0
281                0       4178.5   0          0   0             0         0
282                0       4306.5   0          0   0             0         0
283                0         4277   0          0   0             0         0
284                0       4189.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
280      0
281      0
282      0
283      0
284      0

[285 rows x 24 columns]
----Time----
14250
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
281  1  Базаев Кирилл  14100      0     0
282  1  Базаев Кирилл  14150      0     0
283  1  Базаев Кирилл  14200      0     0
284  1  Базаев Кирилл  14250      0     0
285  1  Базаев Кирилл  14300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
281  0    0.711658
Name: Neutral, dtype: float64
282  0    0.716908
Name: Neutral, dtype: float64
283  0    0.724446
Name: Neutral, dtype: float64
284   0    0.73238
Name: Neutral, dtype: float64
285  0    0.736967
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
281  0    0.0
Name: Happy, dtype: float64
282  0    0.0
Name: Happy, dtype: float64
283  0    0.0
Name: Happy, dtype: float64
284  0    0.0
Name: Happy, dtype: float64
285  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
281  0    0.080241
Name: Sad, dtype: float64
282  0    0.076131
Name: Sad, dtype: float64
283   0    0.07072
Name: Sad, dtype: float64
284   0    0.06553
Name: Sad, dtype: float64
285   0    0.06289
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
281  0    0.0
Name: Angry, dtype: float64
282  0    0.0
Name: Angry, dtype: float64
283  0    0.0
Name: Angry, dtype: float64
284  0    0.0
Name: Angry, dtype: float64
285  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
281  0    0.0
Name: Surprised, dtype: float64  ...
282  0    0.0
Name: Surprised, dtype: float64  ...
283  0    0.0
Name: Surprised, dtype: float64  ...
284  0    0.0
Name: Surprised, dtype: float64  ...
285  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
281  0    0.249804
Name: Arousal, dtype: float64              0
282  0    0.249757
Name: Arousal, dtype: float64              0
283   0    0.24969
Name: Arousal, dtype: float64              0
284  0    0.249623
Name: Arousal, dtype: float64              0
285   0    0.24958
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
281                0       4178.5   0          0   0             0         0
282                0       4306.5   0          0   0             0         0
283                0         4277   0          0   0             0         0
284                0       4189.5   0          0   0             0         0
285                0         4270   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
281      0
282      0
283      0
284      0
285      0

[286 rows x 24 columns]
----Time----
14300

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
282  1  Базаев Кирилл  14150      0     0
283  1  Базаев Кирилл  14200      0     0
284  1  Базаев Кирилл  14250      0     0
285  1  Базаев Кирилл  14300      0     0
286  1  Базаев Кирилл  14350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
282  0    0.716908
Name: Neutral, dtype: float64
283  0    0.724446
Name: Neutral, dtype: float64
284   0    0.73238
Name: Neutral, dtype: float64
285  0    0.736967
Name: Neutral, dtype: float64
286  0    0.743057
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
282  0    0.0
Name: Happy, dtype: float64
283  0    0.0
Name: Happy, dtype: float64
284  0    0.0
Name: Happy, dtype: float64
285  0    0.0
Name: Happy, dtype: float64
286  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
282  0    0.076131
Name: Sad, dtype: float64
283   0    0.07072
Name: Sad, dtype: float64
284   0    0.06553
Name: Sad, dtype: float64
285   0    0.06289
Name: Sad, dtype: float64
286  0    0.059606
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
282  0    0.0
Name: Angry, dtype: float64
283  0    0.0
Name: Angry, dtype: float64
284  0    0.0
Name: Angry, dtype: float64
285  0    0.0
Name: Angry, dtype: float64
286  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
282  0    0.0
Name: Surprised, dtype: float64  ...
283  0    0.0
Name: Surprised, dtype: float64  ...
284  0    0.0
Name: Surprised, dtype: float64  ...
285  0    0.0
Name: Surprised, dtype: float64  ...
286  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
282  0    0.249757
Name: Arousal, dtype: float64              0
283   0    0.24969
Name: Arousal, dtype: float64              0
284  0    0.249623
Name: Arousal, dtype: float64              0
285   0    0.24958
Name: Arousal, dtype: float64              0
286  0    0.249538
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
282                0       4306.5   0          0   0             0         0
283                0         4277   0          0   0             0         0
284                0       4189.5   0          0   0             0         0
285                0         4270   0          0   0             0         0
286                0         4703   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
282      0
283      0
284      0
285      0
286      0

[287 rows x 24 columns]
----Time----
14350
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
283  1  Базаев Кирилл  14200      0     0
284  1  Базаев Кирилл  14250      0     0
285  1  Базаев Кирилл  14300      0     0
286  1  Базаев Кирилл  14350      0     0
287  1  Базаев Кирилл  14400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
283  0    0.724446
Name: Neutral, dtype: float64
284   0    0.73238
Name: Neutral, dtype: float64
285  0    0.736967
Name: Neutral, dtype: float64
286  0    0.743057
Name: Neutral, dtype: float64
287  0    0.748459
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
283  0    0.0
Name: Happy, dtype: float64
284  0    0.0
Name: Happy, dtype: float64
285  0    0.0
Name: Happy, dtype: float64
286  0    0.0
Name: Happy, dtype: float64
287  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
283   0    0.07072
Name: Sad, dtype: float64
284   0    0.06553
Name: Sad, dtype: float64
285   0    0.06289
Name: Sad, dtype: float64
286  0    0.059606
Name: Sad, dtype: float64
287  0    0.054296
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
283  0    0.0
Name: Angry, dtype: float64
284  0    0.0
Name: Angry, dtype: float64
285  0    0.0
Name: Angry, dtype: float64
286  0    0.0
Name: Angry, dtype: float64
287  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
283  0    0.0
Name: Surprised, dtype: float64  ...
284  0    0.0
Name: Surprised, dtype: float64  ...
285  0    0.0
Name: Surprised, dtype: float64  ...
286  0    0.0
Name: Surprised, dtype: float64  ...
287  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
283   0    0.24969
Name: Arousal, dtype: float64              0
284  0    0.249623
Name: Arousal, dtype: float64              0
285   0    0.24958
Name: Arousal, dtype: float64              0
286  0    0.249538
Name: Arousal, dtype: float64              0
287  0    0.249477
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
283                0         4277   0          0   0             0         0
284                0       4189.5   0          0   0             0         0
285                0         4270   0          0   0             0         0
286                0         4703   0          0   0             0         0
287                0       6312.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
283      0
284      0
285      0
286      0
287      0

[288 rows x 24 columns]
----Time----
14400

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
284  1  Базаев Кирилл  14250      0     0
285  1  Базаев Кирилл  14300      0     0
286  1  Базаев Кирилл  14350      0     0
287  1  Базаев Кирилл  14400      0     0
288  1  Базаев Кирилл  14450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
284   0    0.73238
Name: Neutral, dtype: float64
285  0    0.736967
Name: Neutral, dtype: float64
286  0    0.743057
Name: Neutral, dtype: float64
287  0    0.748459
Name: Neutral, dtype: float64
288  0    0.752839
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
284  0    0.0
Name: Happy, dtype: float64
285  0    0.0
Name: Happy, dtype: float64
286  0    0.0
Name: Happy, dtype: float64
287  0    0.0
Name: Happy, dtype: float64
288  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
284   0    0.06553
Name: Sad, dtype: float64
285   0    0.06289
Name: Sad, dtype: float64
286  0    0.059606
Name: Sad, dtype: float64
287  0    0.054296
Name: Sad, dtype: float64
288   0    0.04936
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
284  0    0.0
Name: Angry, dtype: float64
285  0    0.0
Name: Angry, dtype: float64
286  0    0.0
Name: Angry, dtype: float64
287  0    0.0
Name: Angry, dtype: float64
288  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
284  0    0.0
Name: Surprised, dtype: float64  ...
285  0    0.0
Name: Surprised, dtype: float64  ...
286  0    0.0
Name: Surprised, dtype: float64  ...
287  0    0.0
Name: Surprised, dtype: float64  ...
288  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
284  0    0.249623
Name: Arousal, dtype: float64              0
285   0    0.24958
Name: Arousal, dtype: float64              0
286  0    0.249538
Name: Arousal, dtype: float64              0
287  0    0.249477
Name: Arousal, dtype: float64              0
288  0    0.249417
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
284                0       4189.5   0          0   0             0         0
285                0         4270   0          0   0             0         0
286                0         4703   0          0   0             0         0
287                0       6312.5   0          0   0             0         0
288                0         7984   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
284      0
285      0
286      0
287      0
288      0

[289 rows x 24 columns]
----Time----
14450
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
285  1  Базаев Кирилл  14300      0     0
286  1  Базаев Кирилл  14350      0     0
287  1  Базаев Кирилл  14400      0     0
288  1  Базаев Кирилл  14450      0     0
289  1  Базаев Кирилл  14500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
285  0    0.736967
Name: Neutral, dtype: float64
286  0    0.743057
Name: Neutral, dtype: float64
287  0    0.748459
Name: Neutral, dtype: float64
288  0    0.752839
Name: Neutral, dtype: float64
289  0    0.757059
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
285  0    0.0
Name: Happy, dtype: float64
286  0    0.0
Name: Happy, dtype: float64
287  0    0.0
Name: Happy, dtype: float64
288  0    0.0
Name: Happy, dtype: float64
289  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
285   0    0.06289
Name: Sad, dtype: float64
286  0    0.059606
Name: Sad, dtype: float64
287  0    0.054296
Name: Sad, dtype: float64
288   0    0.04936
Name: Sad, dtype: float64
289  0    0.045587
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
285  0    0.0
Name: Angry, dtype: float64
286  0    0.0
Name: Angry, dtype: float64
287  0    0.0
Name: Angry, dtype: float64
288  0    0.0
Name: Angry, dtype: float64
289  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
285  0    0.0
Name: Surprised, dtype: float64  ...
286  0    0.0
Name: Surprised, dtype: float64  ...
287  0    0.0
Name: Surprised, dtype: float64  ...
288  0    0.0
Name: Surprised, dtype: float64  ...
289  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
285   0    0.24958
Name: Arousal, dtype: float64              0
286  0    0.249538
Name: Arousal, dtype: float64              0
287  0    0.249477
Name: Arousal, dtype: float64              0
288  0    0.249417
Name: Arousal, dtype: float64              0
289  0    0.249378
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
285                0         4270   0          0   0             0         0
286                0         4703   0          0   0             0         0
287                0       6312.5   0          0   0             0         0
288                0         7984   0          0   0             0         0
289                0       7730.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
285      0
286      0
287      0
288      0
289      0

[290 rows x 24 columns]
----Time----
14500

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
286  1  Базаев Кирилл  14350      0     0
287  1  Базаев Кирилл  14400      0     0
288  1  Базаев Кирилл  14450      0     0
289  1  Базаев Кирилл  14500      0     0
290  1  Базаев Кирилл  14550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
286  0    0.743057
Name: Neutral, dtype: float64
287  0    0.748459
Name: Neutral, dtype: float64
288  0    0.752839
Name: Neutral, dtype: float64
289  0    0.757059
Name: Neutral, dtype: float64
290  0    0.761741
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
286  0    0.0
Name: Happy, dtype: float64
287  0    0.0
Name: Happy, dtype: float64
288  0    0.0
Name: Happy, dtype: float64
289  0    0.0
Name: Happy, dtype: float64
290  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
286  0    0.059606
Name: Sad, dtype: float64
287  0    0.054296
Name: Sad, dtype: float64
288   0    0.04936
Name: Sad, dtype: float64
289  0    0.045587
Name: Sad, dtype: float64
290  0    0.042278
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
286  0    0.0
Name: Angry, dtype: float64
287  0    0.0
Name: Angry, dtype: float64
288  0    0.0
Name: Angry, dtype: float64
289  0    0.0
Name: Angry, dtype: float64
290  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
286  0    0.0
Name: Surprised, dtype: float64  ...
287  0    0.0
Name: Surprised, dtype: float64  ...
288  0    0.0
Name: Surprised, dtype: float64  ...
289  0    0.0
Name: Surprised, dtype: float64  ...
290  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
286  0    0.249538
Name: Arousal, dtype: float64              0
287  0    0.249477
Name: Arousal, dtype: float64              0
288  0    0.249417
Name: Arousal, dtype: float64              0
289  0    0.249378
Name: Arousal, dtype: float64              0
290   0    0.24934
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
286                0         4703   0          0   0             0         0
287                0       6312.5   0          0   0             0         0
288                0         7984   0          0   0             0         0
289                0       7730.0   0          0   0             0         0
290                0         6245   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
286      0
287      0
288      0
289      0
290      0

[291 rows x 24 columns]
----Time----
14550
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
287  1  Базаев Кирилл  14400      0     0
288  1  Базаев Кирилл  14450      0     0
289  1  Базаев Кирилл  14500      0     0
290  1  Базаев Кирилл  14550      0     0
291  1  Базаев Кирилл  14600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
287  0    0.748459
Name: Neutral, dtype: float64
288  0    0.752839
Name: Neutral, dtype: float64
289  0    0.757059
Name: Neutral, dtype: float64
290  0    0.761741
Name: Neutral, dtype: float64
291  0    0.767525
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
287  0    0.0
Name: Happy, dtype: float64
288  0    0.0
Name: Happy, dtype: float64
289  0    0.0
Name: Happy, dtype: float64
290  0    0.0
Name: Happy, dtype: float64
291  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
287  0    0.054296
Name: Sad, dtype: float64
288   0    0.04936
Name: Sad, dtype: float64
289  0    0.045587
Name: Sad, dtype: float64
290  0    0.042278
Name: Sad, dtype: float64
291  0    0.037848
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
287  0    0.0
Name: Angry, dtype: float64
288  0    0.0
Name: Angry, dtype: float64
289  0    0.0
Name: Angry, dtype: float64
290  0    0.0
Name: Angry, dtype: float64
291  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
287  0    0.0
Name: Surprised, dtype: float64  ...
288  0    0.0
Name: Surprised, dtype: float64  ...
289  0    0.0
Name: Surprised, dtype: float64  ...
290  0    0.0
Name: Surprised, dtype: float64  ...
291  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
287  0    0.249477
Name: Arousal, dtype: float64              0
288  0    0.249417
Name: Arousal, dtype: float64              0
289  0    0.249378
Name: Arousal, dtype: float64              0
290   0    0.24934
Name: Arousal, dtype: float64              0
291  0    0.249285
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
287                0       6312.5   0          0   0             0         0
288                0         7984   0          0   0             0         0
289                0       7730.0   0          0   0             0         0
290                0         6245   0          0   0             0         0
291                0       5248.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
287      0
288      0
289      0
290      0
291      0

[292 rows x 24 columns]
----Time----
14600

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
288  1  Базаев Кирилл  14450      0     0
289  1  Базаев Кирилл  14500      0     0
290  1  Базаев Кирилл  14550      0     0
291  1  Базаев Кирилл  14600      0     0
292  1  Базаев Кирилл  14650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
288  0    0.752839
Name: Neutral, dtype: float64
289  0    0.757059
Name: Neutral, dtype: float64
290  0    0.761741
Name: Neutral, dtype: float64
291  0    0.767525
Name: Neutral, dtype: float64
292  0    0.772701
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
288  0    0.0
Name: Happy, dtype: float64
289  0    0.0
Name: Happy, dtype: float64
290  0    0.0
Name: Happy, dtype: float64
291  0    0.0
Name: Happy, dtype: float64
292  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
288   0    0.04936
Name: Sad, dtype: float64
289  0    0.045587
Name: Sad, dtype: float64
290  0    0.042278
Name: Sad, dtype: float64
291  0    0.037848
Name: Sad, dtype: float64
292  0    0.033508
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
288  0    0.0
Name: Angry, dtype: float64
289  0    0.0
Name: Angry, dtype: float64
290  0    0.0
Name: Angry, dtype: float64
291  0    0.0
Name: Angry, dtype: float64
292  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
288  0    0.0
Name: Surprised, dtype: float64  ...
289  0    0.0
Name: Surprised, dtype: float64  ...
290  0    0.0
Name: Surprised, dtype: float64  ...
291  0    0.0
Name: Surprised, dtype: float64  ...
292  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
288  0    0.249417
Name: Arousal, dtype: float64              0
289  0    0.249378
Name: Arousal, dtype: float64              0
290   0    0.24934
Name: Arousal, dtype: float64              0
291  0    0.249285
Name: Arousal, dtype: float64              0
292  0    0.249231
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
288                0         7984   0          0   0             0         0
289                0       7730.0   0          0   0             0         0
290                0         6245   0          0   0             0         0
291                0       5248.5   0          0   0             0         0
292                0         5107   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
288      0
289      0
290      0
291      0
292      0

[293 rows x 24 columns]
----Time----
14650
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
289  1  Базаев Кирилл  14500      0     0
290  1  Базаев Кирилл  14550      0     0
291  1  Базаев Кирилл  14600      0     0
292  1  Базаев Кирилл  14650      0     0
293  1  Базаев Кирилл  14700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
289  0    0.757059
Name: Neutral, dtype: float64
290  0    0.761741
Name: Neutral, dtype: float64
291  0    0.767525
Name: Neutral, dtype: float64
292  0    0.772701
Name: Neutral, dtype: float64
293  0    0.774431
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
289  0    0.0
Name: Happy, dtype: float64
290  0    0.0
Name: Happy, dtype: float64
291  0    0.0
Name: Happy, dtype: float64
292  0    0.0
Name: Happy, dtype: float64
293  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
289  0    0.045587
Name: Sad, dtype: float64
290  0    0.042278
Name: Sad, dtype: float64
291  0    0.037848
Name: Sad, dtype: float64
292  0    0.033508
Name: Sad, dtype: float64
293  0    0.031536
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
289  0    0.0
Name: Angry, dtype: float64
290  0    0.0
Name: Angry, dtype: float64
291  0    0.0
Name: Angry, dtype: float64
292  0    0.0
Name: Angry, dtype: float64
293  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
289  0    0.0
Name: Surprised, dtype: float64  ...
290  0    0.0
Name: Surprised, dtype: float64  ...
291  0    0.0
Name: Surprised, dtype: float64  ...
292  0    0.0
Name: Surprised, dtype: float64  ...
293  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
289  0    0.249378
Name: Arousal, dtype: float64              0
290   0    0.24934
Name: Arousal, dtype: float64              0
291  0    0.249285
Name: Arousal, dtype: float64              0
292  0    0.249231
Name: Arousal, dtype: float64              0
293  0    0.249196
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
289                0       7730.0   0          0   0             0         0
290                0         6245   0          0   0             0         0
291                0       5248.5   0          0   0             0         0
292                0         5107   0          0   0             0         0
293                0       5244.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
289      0
290      0
291      0
292      0
293      0

[294 rows x 24 columns]
----Time----
14700

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
290  1  Базаев Кирилл  14550      0     0
291  1  Базаев Кирилл  14600      0     0
292  1  Базаев Кирилл  14650      0     0
293  1  Базаев Кирилл  14700      0     0
294  1  Базаев Кирилл  14750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
290  0    0.761741
Name: Neutral, dtype: float64
291  0    0.767525
Name: Neutral, dtype: float64
292  0    0.772701
Name: Neutral, dtype: float64
293  0    0.774431
Name: Neutral, dtype: float64
294  0    0.777643
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
290  0    0.0
Name: Happy, dtype: float64
291  0    0.0
Name: Happy, dtype: float64
292  0    0.0
Name: Happy, dtype: float64
293  0    0.0
Name: Happy, dtype: float64
294  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
290  0    0.042278
Name: Sad, dtype: float64
291  0    0.037848
Name: Sad, dtype: float64
292  0    0.033508
Name: Sad, dtype: float64
293  0    0.031536
Name: Sad, dtype: float64
294  0    0.029388
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
290  0    0.0
Name: Angry, dtype: float64
291  0    0.0
Name: Angry, dtype: float64
292  0    0.0
Name: Angry, dtype: float64
293  0    0.0
Name: Angry, dtype: float64
294  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
290  0    0.0
Name: Surprised, dtype: float64  ...
291  0    0.0
Name: Surprised, dtype: float64  ...
292  0    0.0
Name: Surprised, dtype: float64  ...
293  0    0.0
Name: Surprised, dtype: float64  ...
294  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
290   0    0.24934
Name: Arousal, dtype: float64              0
291  0    0.249285
Name: Arousal, dtype: float64              0
292  0    0.249231
Name: Arousal, dtype: float64              0
293  0    0.249196
Name: Arousal, dtype: float64              0
294  0    0.249162
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
290                0         6245   0          0   0             0         0
291                0       5248.5   0          0   0             0         0
292                0         5107   0          0   0             0         0
293                0       5244.5   0          0   0             0         0
294                0            0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
290      0
291      0
292      0
293      0
294      0

[295 rows x 24 columns]
----Time----
14750
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
291  1  Базаев Кирилл  14600      0     0
292  1  Базаев Кирилл  14650      0     0
293  1  Базаев Кирилл  14700      0     0
294  1  Базаев Кирилл  14750      0     0
295  1  Базаев Кирилл  14800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
291  0    0.767525
Name: Neutral, dtype: float64
292  0    0.772701
Name: Neutral, dtype: float64
293  0    0.774431
Name: Neutral, dtype: float64
294  0    0.777643
Name: Neutral, dtype: float64
295  0    0.784173
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
291  0    0.0
Name: Happy, dtype: float64
292  0    0.0
Name: Happy, dtype: float64
293  0    0.0
Name: Happy, dtype: float64
294  0    0.0
Name: Happy, dtype: float64
295  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
291  0    0.037848
Name: Sad, dtype: float64
292  0    0.033508
Name: Sad, dtype: float64
293  0    0.031536
Name: Sad, dtype: float64
294  0    0.029388
Name: Sad, dtype: float64
295  0    0.025707
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
291  0    0.0
Name: Angry, dtype: float64
292  0    0.0
Name: Angry, dtype: float64
293  0    0.0
Name: Angry, dtype: float64
294  0    0.0
Name: Angry, dtype: float64
295  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
291  0    0.0
Name: Surprised, dtype: float64  ...
292  0    0.0
Name: Surprised, dtype: float64  ...
293  0    0.0
Name: Surprised, dtype: float64  ...
294  0    0.0
Name: Surprised, dtype: float64  ...
295  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
291  0    0.249285
Name: Arousal, dtype: float64              0
292  0    0.249231
Name: Arousal, dtype: float64              0
293  0    0.249196
Name: Arousal, dtype: float64              0
294  0    0.249162
Name: Arousal, dtype: float64              0
295   0    0.24912
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
291                0       5248.5   0          0   0             0         0
292                0         5107   0          0   0             0         0
293                0       5244.5   0          0   0             0         0
294                0            0   0          0   0             0         0
295                0       5223.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
291      0
292      0
293      0
294      0
295      0

[296 rows x 24 columns]
----Time----
14800

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
292  1  Базаев Кирилл  14650      0     0
293  1  Базаев Кирилл  14700      0     0
294  1  Базаев Кирилл  14750      0     0
295  1  Базаев Кирилл  14800      0     0
296  1  Базаев Кирилл  14850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
292  0    0.772701
Name: Neutral, dtype: float64
293  0    0.774431
Name: Neutral, dtype: float64
294  0    0.777643
Name: Neutral, dtype: float64
295  0    0.784173
Name: Neutral, dtype: float64
296  0    0.791893
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
292  0    0.0
Name: Happy, dtype: float64
293  0    0.0
Name: Happy, dtype: float64
294  0    0.0
Name: Happy, dtype: float64
295  0    0.0
Name: Happy, dtype: float64
296  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
292  0    0.033508
Name: Sad, dtype: float64
293  0    0.031536
Name: Sad, dtype: float64
294  0    0.029388
Name: Sad, dtype: float64
295  0    0.025707
Name: Sad, dtype: float64
296  0    0.021902
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
292  0    0.0
Name: Angry, dtype: float64
293  0    0.0
Name: Angry, dtype: float64
294  0    0.0
Name: Angry, dtype: float64
295  0    0.0
Name: Angry, dtype: float64
296  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
292  0    0.0
Name: Surprised, dtype: float64  ...
293  0    0.0
Name: Surprised, dtype: float64  ...
294  0    0.0
Name: Surprised, dtype: float64  ...
295  0    0.0
Name: Surprised, dtype: float64  ...
296  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
292  0    0.249231
Name: Arousal, dtype: float64              0
293  0    0.249196
Name: Arousal, dtype: float64              0
294  0    0.249162
Name: Arousal, dtype: float64              0
295   0    0.24912
Name: Arousal, dtype: float64              0
296  0    0.249111
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
292                0         5107   0          0   0             0         0
293                0       5244.5   0          0   0             0         0
294                0            0   0          0   0             0         0
295                0       5223.0   0          0   0             0         0
296                0       5952.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
292      0
293      0
294      0
295      0
296      0

[297 rows x 24 columns]
----Time----
14850
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
293  1  Базаев Кирилл  14700      0     0
294  1  Базаев Кирилл  14750      0     0
295  1  Базаев Кирилл  14800      0     0
296  1  Базаев Кирилл  14850      0     0
297  1  Базаев Кирилл  14900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
293  0    0.774431
Name: Neutral, dtype: float64
294  0    0.777643
Name: Neutral, dtype: float64
295  0    0.784173
Name: Neutral, dtype: float64
296  0    0.791893
Name: Neutral, dtype: float64
297  0    0.796111
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
293  0    0.0
Name: Happy, dtype: float64
294  0    0.0
Name: Happy, dtype: float64
295  0    0.0
Name: Happy, dtype: float64
296  0    0.0
Name: Happy, dtype: float64
297  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
293  0    0.031536
Name: Sad, dtype: float64
294  0    0.029388
Name: Sad, dtype: float64
295  0    0.025707
Name: Sad, dtype: float64
296  0    0.021902
Name: Sad, dtype: float64
297  0    0.019682
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
293  0    0.0
Name: Angry, dtype: float64
294  0    0.0
Name: Angry, dtype: float64
295  0    0.0
Name: Angry, dtype: float64
296  0    0.0
Name: Angry, dtype: float64
297  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
293  0    0.0
Name: Surprised, dtype: float64  ...
294  0    0.0
Name: Surprised, dtype: float64  ...
295  0    0.0
Name: Surprised, dtype: float64  ...
296  0    0.0
Name: Surprised, dtype: float64  ...
297  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
293  0    0.249196
Name: Arousal, dtype: float64              0
294  0    0.249162
Name: Arousal, dtype: float64              0
295   0    0.24912
Name: Arousal, dtype: float64              0
296  0    0.249111
Name: Arousal, dtype: float64              0
297  0    0.249111
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
293                0       5244.5   0          0   0             0         0
294                0            0   0          0   0             0         0
295                0       5223.0   0          0   0             0         0
296                0       5952.5   0          0   0             0         0
297                0         7522   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
293      0
294      0
295      0
296      0
297      0

[298 rows x 24 columns]
----Time----
14900

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
294  1  Базаев Кирилл  14750      0     0
295  1  Базаев Кирилл  14800      0     0
296  1  Базаев Кирилл  14850      0     0
297  1  Базаев Кирилл  14900      0     0
298  1  Базаев Кирилл  14950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
294  0    0.777643
Name: Neutral, dtype: float64
295  0    0.784173
Name: Neutral, dtype: float64
296  0    0.791893
Name: Neutral, dtype: float64
297  0    0.796111
Name: Neutral, dtype: float64
298  0    0.799017
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
294  0    0.0
Name: Happy, dtype: float64
295  0    0.0
Name: Happy, dtype: float64
296  0    0.0
Name: Happy, dtype: float64
297  0    0.0
Name: Happy, dtype: float64
298  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
294  0    0.029388
Name: Sad, dtype: float64
295  0    0.025707
Name: Sad, dtype: float64
296  0    0.021902
Name: Sad, dtype: float64
297  0    0.019682
Name: Sad, dtype: float64
298   0    0.01831
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
294  0    0.0
Name: Angry, dtype: float64
295  0    0.0
Name: Angry, dtype: float64
296  0    0.0
Name: Angry, dtype: float64
297  0    0.0
Name: Angry, dtype: float64
298  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
294  0    0.0
Name: Surprised, dtype: float64  ...
295  0    0.0
Name: Surprised, dtype: float64  ...
296  0    0.0
Name: Surprised, dtype: float64  ...
297  0    0.0
Name: Surprised, dtype: float64  ...
298  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
294  0    0.249162
Name: Arousal, dtype: float64              0
295   0    0.24912
Name: Arousal, dtype: float64              0
296  0    0.249111
Name: Arousal, dtype: float64              0
297  0    0.249111
Name: Arousal, dtype: float64              0
298  0    0.249497
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
294                0            0   0          0   0             0         0
295                0       5223.0   0          0   0             0         0
296                0       5952.5   0          0   0             0         0
297                0         7522   0          0   0             0         0
298                0       8811.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
294      0
295      0
296      0
297      0
298      0

[299 rows x 24 columns]
----Time----
14950
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
295  1  Базаев Кирилл  14800      0     0
296  1  Базаев Кирилл  14850      0     0
297  1  Базаев Кирилл  14900      0     0
298  1  Базаев Кирилл  14950      0     0
299  1  Базаев Кирилл  15000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
295  0    0.784173
Name: Neutral, dtype: float64
296  0    0.791893
Name: Neutral, dtype: float64
297  0    0.796111
Name: Neutral, dtype: float64
298  0    0.799017
Name: Neutral, dtype: float64
299  0    0.803373
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
295  0    0.0
Name: Happy, dtype: float64
296  0    0.0
Name: Happy, dtype: float64
297  0    0.0
Name: Happy, dtype: float64
298  0    0.0
Name: Happy, dtype: float64
299  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
295  0    0.025707
Name: Sad, dtype: float64
296  0    0.021902
Name: Sad, dtype: float64
297  0    0.019682
Name: Sad, dtype: float64
298   0    0.01831
Name: Sad, dtype: float64
299  0    0.016028
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
295  0    0.0
Name: Angry, dtype: float64
296  0    0.0
Name: Angry, dtype: float64
297  0    0.0
Name: Angry, dtype: float64
298  0    0.0
Name: Angry, dtype: float64
299  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
295  0    0.0
Name: Surprised, dtype: float64  ...
296  0    0.0
Name: Surprised, dtype: float64  ...
297  0    0.0
Name: Surprised, dtype: float64  ...
298  0    0.0
Name: Surprised, dtype: float64  ...
299  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
295   0    0.24912
Name: Arousal, dtype: float64              0
296  0    0.249111
Name: Arousal, dtype: float64              0
297  0    0.249111
Name: Arousal, dtype: float64              0
298  0    0.249497
Name: Arousal, dtype: float64              0
299  0    0.250093
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
295                0       5223.0   0          0   0             0         0
296                0       5952.5   0          0   0             0         0
297                0         7522   0          0   0             0         0
298                0       8811.5   0          0   0             0         0
299                0         8739   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
295      0
296      0
297      0
298      0
299      0

[300 rows x 24 columns]
----Time----
15000

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
296  1  Базаев Кирилл  14850      0     0
297  1  Базаев Кирилл  14900      0     0
298  1  Базаев Кирилл  14950      0     0
299  1  Базаев Кирилл  15000      0     0
300  1  Базаев Кирилл  15050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
296  0    0.791893
Name: Neutral, dtype: float64
297  0    0.796111
Name: Neutral, dtype: float64
298  0    0.799017
Name: Neutral, dtype: float64
299  0    0.803373
Name: Neutral, dtype: float64
300  0    0.810408
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
296  0    0.0
Name: Happy, dtype: float64
297  0    0.0
Name: Happy, dtype: float64
298  0    0.0
Name: Happy, dtype: float64
299  0    0.0
Name: Happy, dtype: float64
300  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
296  0    0.021902
Name: Sad, dtype: float64
297  0    0.019682
Name: Sad, dtype: float64
298   0    0.01831
Name: Sad, dtype: float64
299  0    0.016028
Name: Sad, dtype: float64
300  0    0.013433
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
296  0    0.0
Name: Angry, dtype: float64
297  0    0.0
Name: Angry, dtype: float64
298  0    0.0
Name: Angry, dtype: float64
299  0    0.0
Name: Angry, dtype: float64
300  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
296  0    0.0
Name: Surprised, dtype: float64  ...
297  0    0.0
Name: Surprised, dtype: float64  ...
298  0    0.0
Name: Surprised, dtype: float64  ...
299  0    0.0
Name: Surprised, dtype: float64  ...
300  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
296  0    0.249111
Name: Arousal, dtype: float64              0
297  0    0.249111
Name: Arousal, dtype: float64              0
298  0    0.249497
Name: Arousal, dtype: float64              0
299  0    0.250093
Name: Arousal, dtype: float64              0
300  0    0.250766
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
296                0       5952.5   0          0   0             0         0
297                0         7522   0          0   0             0         0
298                0       8811.5   0          0   0             0         0
299                0         8739   0          0   0             0         0
300                0         7847   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
296      0
297      0
298      0
299      0
300      0

[301 rows x 24 columns]
----Time----
15050
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
297  1  Базаев Кирилл  14900      0     0
298  1  Базаев Кирилл  14950      0     0
299  1  Базаев Кирилл  15000      0     0
300  1  Базаев Кирилл  15050      0     0
301  1  Базаев Кирилл  15100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
297  0    0.796111
Name: Neutral, dtype: float64
298  0    0.799017
Name: Neutral, dtype: float64
299  0    0.803373
Name: Neutral, dtype: float64
300  0    0.810408
Name: Neutral, dtype: float64
301  0    0.814355
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
297  0    0.0
Name: Happy, dtype: float64
298  0    0.0
Name: Happy, dtype: float64
299  0    0.0
Name: Happy, dtype: float64
300  0    0.0
Name: Happy, dtype: float64
301  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
297  0    0.019682
Name: Sad, dtype: float64
298   0    0.01831
Name: Sad, dtype: float64
299  0    0.016028
Name: Sad, dtype: float64
300  0    0.013433
Name: Sad, dtype: float64
301  0    0.011916
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
297  0    0.0
Name: Angry, dtype: float64
298  0    0.0
Name: Angry, dtype: float64
299  0    0.0
Name: Angry, dtype: float64
300  0    0.0
Name: Angry, dtype: float64
301  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
297  0    0.0
Name: Surprised, dtype: float64  ...
298  0    0.0
Name: Surprised, dtype: float64  ...
299  0    0.0
Name: Surprised, dtype: float64  ...
300  0    0.0
Name: Surprised, dtype: float64  ...
301  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
297  0    0.249111
Name: Arousal, dtype: float64              0
298  0    0.249497
Name: Arousal, dtype: float64              0
299  0    0.250093
Name: Arousal, dtype: float64              0
300  0    0.250766
Name: Arousal, dtype: float64              0
301  0    0.251165
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
297                0         7522   0          0   0             0         0
298                0       8811.5   0          0   0             0         0
299                0         8739   0          0   0             0         0
300                0         7847   0          0   0             0         0
301                0       6579.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
297      0
298      0
299      0
300      0
301      0

[302 rows x 24 columns]
----Time----
15100

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
298  1  Базаев Кирилл  14950      0     0
299  1  Базаев Кирилл  15000      0     0
300  1  Базаев Кирилл  15050      0     0
301  1  Базаев Кирилл  15100      0     0
302  1  Базаев Кирилл  15150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
298  0    0.799017
Name: Neutral, dtype: float64
299  0    0.803373
Name: Neutral, dtype: float64
300  0    0.810408
Name: Neutral, dtype: float64
301  0    0.814355
Name: Neutral, dtype: float64
302  0    0.817222
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
298  0    0.0
Name: Happy, dtype: float64
299  0    0.0
Name: Happy, dtype: float64
300  0    0.0
Name: Happy, dtype: float64
301  0    0.0
Name: Happy, dtype: float64
302  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
298   0    0.01831
Name: Sad, dtype: float64
299  0    0.016028
Name: Sad, dtype: float64
300  0    0.013433
Name: Sad, dtype: float64
301  0    0.011916
Name: Sad, dtype: float64
302  0    0.010709
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
298  0    0.0
Name: Angry, dtype: float64
299  0    0.0
Name: Angry, dtype: float64
300  0    0.0
Name: Angry, dtype: float64
301  0    0.0
Name: Angry, dtype: float64
302  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
298  0    0.0
Name: Surprised, dtype: float64  ...
299  0    0.0
Name: Surprised, dtype: float64  ...
300  0    0.0
Name: Surprised, dtype: float64  ...
301  0    0.0
Name: Surprised, dtype: float64  ...
302  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
298  0    0.249497
Name: Arousal, dtype: float64              0
299  0    0.250093
Name: Arousal, dtype: float64              0
300  0    0.250766
Name: Arousal, dtype: float64              0
301  0    0.251165
Name: Arousal, dtype: float64              0
302  0    0.251468
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
298                0       8811.5   0          0   0             0         0
299                0         8739   0          0   0             0         0
300                0         7847   0          0   0             0         0
301                0       6579.0   0          0   0             0         0
302                0       6113.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
298      0
299      0
300      0
301      0
302      0

[303 rows x 24 columns]
----Time----
15150
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
299  1  Базаев Кирилл  15000      0     0
300  1  Базаев Кирилл  15050      0     0
301  1  Базаев Кирилл  15100      0     0
302  1  Базаев Кирилл  15150      0     0
303  1  Базаев Кирилл  15200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
299  0    0.803373
Name: Neutral, dtype: float64
300  0    0.810408
Name: Neutral, dtype: float64
301  0    0.814355
Name: Neutral, dtype: float64
302  0    0.817222
Name: Neutral, dtype: float64
303   0    0.81958
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
299  0    0.0
Name: Happy, dtype: float64
300  0    0.0
Name: Happy, dtype: float64
301  0    0.0
Name: Happy, dtype: float64
302  0    0.0
Name: Happy, dtype: float64
303  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
299  0    0.016028
Name: Sad, dtype: float64
300  0    0.013433
Name: Sad, dtype: float64
301  0    0.011916
Name: Sad, dtype: float64
302  0    0.010709
Name: Sad, dtype: float64
303  0    0.009327
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
299  0    0.0
Name: Angry, dtype: float64
300  0    0.0
Name: Angry, dtype: float64
301  0    0.0
Name: Angry, dtype: float64
302  0    0.0
Name: Angry, dtype: float64
303  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
299  0    0.0
Name: Surprised, dtype: float64  ...
300  0    0.0
Name: Surprised, dtype: float64  ...
301  0    0.0
Name: Surprised, dtype: float64  ...
302  0    0.0
Name: Surprised, dtype: float64  ...
303  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
299  0    0.250093
Name: Arousal, dtype: float64              0
300  0    0.250766
Name: Arousal, dtype: float64              0
301  0    0.251165
Name: Arousal, dtype: float64              0
302  0    0.251468
Name: Arousal, dtype: float64              0
303  0    0.251754
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
299                0         8739   0          0   0             0         0
300                0         7847   0          0   0             0         0
301                0       6579.0   0          0   0             0         0
302                0       6113.5   0          0   0             0         0
303                0         6245   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
299      0
300      0
301      0
302      0
303      0

[304 rows x 24 columns]
----Time----
15200

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
300  1  Базаев Кирилл  15050      0     0
301  1  Базаев Кирилл  15100      0     0
302  1  Базаев Кирилл  15150      0     0
303  1  Базаев Кирилл  15200      0     0
304  1  Базаев Кирилл  15250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
300  0    0.810408
Name: Neutral, dtype: float64
301  0    0.814355
Name: Neutral, dtype: float64
302  0    0.817222
Name: Neutral, dtype: float64
303   0    0.81958
Name: Neutral, dtype: float64
304  0    0.820188
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
300  0    0.0
Name: Happy, dtype: float64
301  0    0.0
Name: Happy, dtype: float64
302  0    0.0
Name: Happy, dtype: float64
303  0    0.0
Name: Happy, dtype: float64
304  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
300  0    0.013433
Name: Sad, dtype: float64
301  0    0.011916
Name: Sad, dtype: float64
302  0    0.010709
Name: Sad, dtype: float64
303  0    0.009327
Name: Sad, dtype: float64
304  0    0.007871
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
300  0    0.0
Name: Angry, dtype: float64
301  0    0.0
Name: Angry, dtype: float64
302  0    0.0
Name: Angry, dtype: float64
303  0    0.0
Name: Angry, dtype: float64
304  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
300  0    0.0
Name: Surprised, dtype: float64  ...
301  0    0.0
Name: Surprised, dtype: float64  ...
302  0    0.0
Name: Surprised, dtype: float64  ...
303  0    0.0
Name: Surprised, dtype: float64  ...
304  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
300  0    0.250766
Name: Arousal, dtype: float64              0
301  0    0.251165
Name: Arousal, dtype: float64              0
302  0    0.251468
Name: Arousal, dtype: float64              0
303  0    0.251754
Name: Arousal, dtype: float64              0
304  0    0.252104
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
300                0         7847   0          0   0             0         0
301                0       6579.0   0          0   0             0         0
302                0       6113.5   0          0   0             0         0
303                0         6245   0          0   0             0         0
304                0       6280.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
300      0
301      0
302      0
303      0
304      0

[305 rows x 24 columns]
----Time----
15250
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
301  1  Базаев Кирилл  15100      0     0
302  1  Базаев Кирилл  15150      0     0
303  1  Базаев Кирилл  15200      0     0
304  1  Базаев Кирилл  15250      0     0
305  1  Базаев Кирилл  15300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
301  0    0.814355
Name: Neutral, dtype: float64
302  0    0.817222
Name: Neutral, dtype: float64
303   0    0.81958
Name: Neutral, dtype: float64
304  0    0.820188
Name: Neutral, dtype: float64
305  0    0.820499
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
301  0    0.0
Name: Happy, dtype: float64
302  0    0.0
Name: Happy, dtype: float64
303  0    0.0
Name: Happy, dtype: float64
304  0    0.0
Name: Happy, dtype: float64
305  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
301  0    0.011916
Name: Sad, dtype: float64
302  0    0.010709
Name: Sad, dtype: float64
303  0    0.009327
Name: Sad, dtype: float64
304  0    0.007871
Name: Sad, dtype: float64
305  0    0.006982
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
301  0    0.0
Name: Angry, dtype: float64
302  0    0.0
Name: Angry, dtype: float64
303  0    0.0
Name: Angry, dtype: float64
304  0    0.0
Name: Angry, dtype: float64
305  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
301  0    0.0
Name: Surprised, dtype: float64  ...
302  0    0.0
Name: Surprised, dtype: float64  ...
303  0    0.0
Name: Surprised, dtype: float64  ...
304  0    0.0
Name: Surprised, dtype: float64  ...
305  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
301  0    0.251165
Name: Arousal, dtype: float64              0
302  0    0.251468
Name: Arousal, dtype: float64              0
303  0    0.251754
Name: Arousal, dtype: float64              0
304  0    0.252104
Name: Arousal, dtype: float64              0
305  0    0.252491
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
301                0       6579.0   0          0   0             0         0
302                0       6113.5   0          0   0             0         0
303                0         6245   0          0   0             0         0
304                0       6280.0   0          0   0             0         0
305                0         6301   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
301      0
302      0
303      0
304      0
305      0

[306 rows x 24 columns]
----Time----
15300

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
302  1  Базаев Кирилл  15150      0     0
303  1  Базаев Кирилл  15200      0     0
304  1  Базаев Кирилл  15250      0     0
305  1  Базаев Кирилл  15300      0     0
306  1  Базаев Кирилл  15350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
302  0    0.817222
Name: Neutral, dtype: float64
303   0    0.81958
Name: Neutral, dtype: float64
304  0    0.820188
Name: Neutral, dtype: float64
305  0    0.820499
Name: Neutral, dtype: float64
306  0    0.820742
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
302  0    0.0
Name: Happy, dtype: float64
303  0    0.0
Name: Happy, dtype: float64
304  0    0.0
Name: Happy, dtype: float64
305  0    0.0
Name: Happy, dtype: float64
306  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
302  0    0.010709
Name: Sad, dtype: float64
303  0    0.009327
Name: Sad, dtype: float64
304  0    0.007871
Name: Sad, dtype: float64
305  0    0.006982
Name: Sad, dtype: float64
306  0    0.006194
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
302  0    0.0
Name: Angry, dtype: float64
303  0    0.0
Name: Angry, dtype: float64
304  0    0.0
Name: Angry, dtype: float64
305  0    0.0
Name: Angry, dtype: float64
306  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
302  0    0.0
Name: Surprised, dtype: float64  ...
303  0    0.0
Name: Surprised, dtype: float64  ...
304  0    0.0
Name: Surprised, dtype: float64  ...
305  0    0.0
Name: Surprised, dtype: float64  ...
306  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
302  0    0.251468
Name: Arousal, dtype: float64              0
303  0    0.251754
Name: Arousal, dtype: float64              0
304  0    0.252104
Name: Arousal, dtype: float64              0
305  0    0.252491
Name: Arousal, dtype: float64              0
306  0    0.252926
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
302                0       6113.5   0          0   0             0         0
303                0         6245   0          0   0             0         0
304                0       6280.0   0          0   0             0         0
305                0         6301   0          0   0             0         0
306                0       6841.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
302      0
303      0
304      0
305      0
306      0

[307 rows x 24 columns]
----Time----
15350
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
303  1  Базаев Кирилл  15200      0     0
304  1  Базаев Кирилл  15250      0     0
305  1  Базаев Кирилл  15300      0     0
306  1  Базаев Кирилл  15350      0     0
307  1  Базаев Кирилл  15400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
303   0    0.81958
Name: Neutral, dtype: float64
304  0    0.820188
Name: Neutral, dtype: float64
305  0    0.820499
Name: Neutral, dtype: float64
306  0    0.820742
Name: Neutral, dtype: float64
307  0    0.822844
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
303  0    0.0
Name: Happy, dtype: float64
304  0    0.0
Name: Happy, dtype: float64
305  0    0.0
Name: Happy, dtype: float64
306  0    0.0
Name: Happy, dtype: float64
307  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
303  0    0.009327
Name: Sad, dtype: float64
304  0    0.007871
Name: Sad, dtype: float64
305  0    0.006982
Name: Sad, dtype: float64
306  0    0.006194
Name: Sad, dtype: float64
307  0    0.005184
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
303  0    0.0
Name: Angry, dtype: float64
304  0    0.0
Name: Angry, dtype: float64
305  0    0.0
Name: Angry, dtype: float64
306  0    0.0
Name: Angry, dtype: float64
307  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
303  0    0.0
Name: Surprised, dtype: float64  ...
304  0    0.0
Name: Surprised, dtype: float64  ...
305  0    0.0
Name: Surprised, dtype: float64  ...
306  0    0.0
Name: Surprised, dtype: float64  ...
307  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
303  0    0.251754
Name: Arousal, dtype: float64              0
304  0    0.252104
Name: Arousal, dtype: float64              0
305  0    0.252491
Name: Arousal, dtype: float64              0
306  0    0.252926
Name: Arousal, dtype: float64              0
307  0    0.253675
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
303                0         6245   0          0   0             0         0
304                0       6280.0   0          0   0             0         0
305                0         6301   0          0   0             0         0
306                0       6841.0   0          0   0             0         0
307                0         8020   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
303      0
304      0
305      0
306      0
307      0

[308 rows x 24 columns]
----Time----
15400

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
304  1  Базаев Кирилл  15250      0     0
305  1  Базаев Кирилл  15300      0     0
306  1  Базаев Кирилл  15350      0     0
307  1  Базаев Кирилл  15400      0     0
308  1  Базаев Кирилл  15450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
304  0    0.820188
Name: Neutral, dtype: float64
305  0    0.820499
Name: Neutral, dtype: float64
306  0    0.820742
Name: Neutral, dtype: float64
307  0    0.822844
Name: Neutral, dtype: float64
308  0    0.825792
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
304  0    0.0
Name: Happy, dtype: float64
305  0    0.0
Name: Happy, dtype: float64
306  0    0.0
Name: Happy, dtype: float64
307  0    0.0
Name: Happy, dtype: float64
308  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
304  0    0.007871
Name: Sad, dtype: float64
305  0    0.006982
Name: Sad, dtype: float64
306  0    0.006194
Name: Sad, dtype: float64
307  0    0.005184
Name: Sad, dtype: float64
308  0    0.004324
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
304  0    0.0
Name: Angry, dtype: float64
305  0    0.0
Name: Angry, dtype: float64
306  0    0.0
Name: Angry, dtype: float64
307  0    0.0
Name: Angry, dtype: float64
308  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
304  0    0.0
Name: Surprised, dtype: float64  ...
305  0    0.0
Name: Surprised, dtype: float64  ...
306  0    0.0
Name: Surprised, dtype: float64  ...
307  0    0.0
Name: Surprised, dtype: float64  ...
308  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
304  0    0.252104
Name: Arousal, dtype: float64              0
305  0    0.252491
Name: Arousal, dtype: float64              0
306  0    0.252926
Name: Arousal, dtype: float64              0
307  0    0.253675
Name: Arousal, dtype: float64              0
308   0    0.25415
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
304                0       6280.0   0          0   0             0         0
305                0         6301   0          0   0             0         0
306                0       6841.0   0          0   0             0         0
307                0         8020   0          0   0             0         0
308                0       9107.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
304      0
305      0
306      0
307      0
308      0

[309 rows x 24 columns]
----Time----
15450
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
305  1  Базаев Кирилл  15300      0     0
306  1  Базаев Кирилл  15350      0     0
307  1  Базаев Кирилл  15400      0     0
308  1  Базаев Кирилл  15450      0     0
309  1  Базаев Кирилл  15500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
305  0    0.820499
Name: Neutral, dtype: float64
306  0    0.820742
Name: Neutral, dtype: float64
307  0    0.822844
Name: Neutral, dtype: float64
308  0    0.825792
Name: Neutral, dtype: float64
309  0    0.827455
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
305  0    0.0
Name: Happy, dtype: float64
306  0    0.0
Name: Happy, dtype: float64
307  0    0.0
Name: Happy, dtype: float64
308  0    0.0
Name: Happy, dtype: float64
309  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
305  0    0.006982
Name: Sad, dtype: float64
306  0    0.006194
Name: Sad, dtype: float64
307  0    0.005184
Name: Sad, dtype: float64
308  0    0.004324
Name: Sad, dtype: float64
309  0    0.003835
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
305  0    0.0
Name: Angry, dtype: float64
306  0    0.0
Name: Angry, dtype: float64
307  0    0.0
Name: Angry, dtype: float64
308  0    0.0
Name: Angry, dtype: float64
309  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
305  0    0.0
Name: Surprised, dtype: float64  ...
306  0    0.0
Name: Surprised, dtype: float64  ...
307  0    0.0
Name: Surprised, dtype: float64  ...
308  0    0.0
Name: Surprised, dtype: float64  ...
309  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
305  0    0.252491
Name: Arousal, dtype: float64              0
306  0    0.252926
Name: Arousal, dtype: float64              0
307  0    0.253675
Name: Arousal, dtype: float64              0
308   0    0.25415
Name: Arousal, dtype: float64              0
309  0    0.254465
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
305                0         6301   0          0   0             0         0
306                0       6841.0   0          0   0             0         0
307                0         8020   0          0   0             0         0
308                0       9107.5   0          0   0             0         0
309                0         9125   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
305      0
306      0
307      0
308      0
309      0

[310 rows x 24 columns]
----Time----
15500

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
306  1  Базаев Кирилл  15350      0     0
307  1  Базаев Кирилл  15400      0     0
308  1  Базаев Кирилл  15450      0     0
309  1  Базаев Кирилл  15500      0     0
310  1  Базаев Кирилл  15550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
306  0    0.820742
Name: Neutral, dtype: float64
307  0    0.822844
Name: Neutral, dtype: float64
308  0    0.825792
Name: Neutral, dtype: float64
309  0    0.827455
Name: Neutral, dtype: float64
310  0    0.827238
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
306  0    0.0
Name: Happy, dtype: float64
307  0    0.0
Name: Happy, dtype: float64
308  0    0.0
Name: Happy, dtype: float64
309  0    0.0
Name: Happy, dtype: float64
310  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
306  0    0.006194
Name: Sad, dtype: float64
307  0    0.005184
Name: Sad, dtype: float64
308  0    0.004324
Name: Sad, dtype: float64
309  0    0.003835
Name: Sad, dtype: float64
310  0    0.003402
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
306  0    0.0
Name: Angry, dtype: float64
307  0    0.0
Name: Angry, dtype: float64
308  0    0.0
Name: Angry, dtype: float64
309  0    0.0
Name: Angry, dtype: float64
310  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
306  0    0.0
Name: Surprised, dtype: float64  ...
307  0    0.0
Name: Surprised, dtype: float64  ...
308  0    0.0
Name: Surprised, dtype: float64  ...
309  0    0.0
Name: Surprised, dtype: float64  ...
310  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
306  0    0.252926
Name: Arousal, dtype: float64              0
307  0    0.253675
Name: Arousal, dtype: float64              0
308   0    0.25415
Name: Arousal, dtype: float64              0
309  0    0.254465
Name: Arousal, dtype: float64              0
310  0    0.254651
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
306                0       6841.0   0          0   0             0         0
307                0         8020   0          0   0             0         0
308                0       9107.5   0          0   0             0         0
309                0         9125   0          0   0             0         0
310                0       8044.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
306      0
307      0
308      0
309      0
310      0

[311 rows x 24 columns]
----Time----
15550
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
307  1  Базаев Кирилл  15400      0     0
308  1  Базаев Кирилл  15450      0     0
309  1  Базаев Кирилл  15500      0     0
310  1  Базаев Кирилл  15550      0     0
311  1  Базаев Кирилл  15600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
307  0    0.822844
Name: Neutral, dtype: float64
308  0    0.825792
Name: Neutral, dtype: float64
309  0    0.827455
Name: Neutral, dtype: float64
310  0    0.827238
Name: Neutral, dtype: float64
311  0    0.827334
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
307  0    0.0
Name: Happy, dtype: float64
308  0    0.0
Name: Happy, dtype: float64
309  0    0.0
Name: Happy, dtype: float64
310  0    0.0
Name: Happy, dtype: float64
311  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
307  0    0.005184
Name: Sad, dtype: float64
308  0    0.004324
Name: Sad, dtype: float64
309  0    0.003835
Name: Sad, dtype: float64
310  0    0.003402
Name: Sad, dtype: float64
311  0    0.002848
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
307  0    0.0
Name: Angry, dtype: float64
308  0    0.0
Name: Angry, dtype: float64
309  0    0.0
Name: Angry, dtype: float64
310  0    0.0
Name: Angry, dtype: float64
311  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
307  0    0.0
Name: Surprised, dtype: float64  ...
308  0    0.0
Name: Surprised, dtype: float64  ...
309  0    0.0
Name: Surprised, dtype: float64  ...
310  0    0.0
Name: Surprised, dtype: float64  ...
311  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
307  0    0.253675
Name: Arousal, dtype: float64              0
308   0    0.25415
Name: Arousal, dtype: float64              0
309  0    0.254465
Name: Arousal, dtype: float64              0
310  0    0.254651
Name: Arousal, dtype: float64              0
311  0    0.254892
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
307                0         8020   0          0   0             0         0
308                0       9107.5   0          0   0             0         0
309                0         9125   0          0   0             0         0
310                0       8044.0   0          0   0             0         0
311                0         7194   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
307      0
308      0
309      0
310      0
311      0

[312 rows x 24 columns]
----Time----
15600

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
308  1  Базаев Кирилл  15450      0     0
309  1  Базаев Кирилл  15500      0     0
310  1  Базаев Кирилл  15550      0     0
311  1  Базаев Кирилл  15600      0     0
312  1  Базаев Кирилл  15650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
308  0    0.825792
Name: Neutral, dtype: float64
309  0    0.827455
Name: Neutral, dtype: float64
310  0    0.827238
Name: Neutral, dtype: float64
311  0    0.827334
Name: Neutral, dtype: float64
312  0    0.827795
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
308  0    0.0
Name: Happy, dtype: float64
309  0    0.0
Name: Happy, dtype: float64
310  0    0.0
Name: Happy, dtype: float64
311  0    0.0
Name: Happy, dtype: float64
312  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
308  0    0.004324
Name: Sad, dtype: float64
309  0    0.003835
Name: Sad, dtype: float64
310  0    0.003402
Name: Sad, dtype: float64
311  0    0.002848
Name: Sad, dtype: float64
312  0    0.002375
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
308  0    0.0
Name: Angry, dtype: float64
309  0    0.0
Name: Angry, dtype: float64
310  0    0.0
Name: Angry, dtype: float64
311  0    0.0
Name: Angry, dtype: float64
312  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
308  0    0.0
Name: Surprised, dtype: float64  ...
309  0    0.0
Name: Surprised, dtype: float64  ...
310  0    0.0
Name: Surprised, dtype: float64  ...
311  0    0.0
Name: Surprised, dtype: float64  ...
312  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
308   0    0.25415
Name: Arousal, dtype: float64              0
309  0    0.254465
Name: Arousal, dtype: float64              0
310  0    0.254651
Name: Arousal, dtype: float64              0
311  0    0.254892
Name: Arousal, dtype: float64              0
312  0    0.254836
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
308                0       9107.5   0          0   0             0         0
309                0         9125   0          0   0             0         0
310                0       8044.0   0          0   0             0         0
311                0         7194   0          0   0             0         0
312                0         7059   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
308      0
309      0
310      0
311      0
312      0

[313 rows x 24 columns]
----Time----
15650
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
309  1  Базаев Кирилл  15500      0     0
310  1  Базаев Кирилл  15550      0     0
311  1  Базаев Кирилл  15600      0     0
312  1  Базаев Кирилл  15650      0     0
313  1  Базаев Кирилл  15700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
309  0    0.827455
Name: Neutral, dtype: float64
310  0    0.827238
Name: Neutral, dtype: float64
311  0    0.827334
Name: Neutral, dtype: float64
312  0    0.827795
Name: Neutral, dtype: float64
313   0    0.82483
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
309  0    0.0
Name: Happy, dtype: float64
310  0    0.0
Name: Happy, dtype: float64
311  0    0.0
Name: Happy, dtype: float64
312  0    0.0
Name: Happy, dtype: float64
313  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
309  0    0.003835
Name: Sad, dtype: float64
310  0    0.003402
Name: Sad, dtype: float64
311  0    0.002848
Name: Sad, dtype: float64
312  0    0.002375
Name: Sad, dtype: float64
313  0    0.002107
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
309  0    0.0
Name: Angry, dtype: float64
310  0    0.0
Name: Angry, dtype: float64
311  0    0.0
Name: Angry, dtype: float64
312  0    0.0
Name: Angry, dtype: float64
313  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
309  0    0.0
Name: Surprised, dtype: float64  ...
310  0    0.0
Name: Surprised, dtype: float64  ...
311  0    0.0
Name: Surprised, dtype: float64  ...
312  0    0.0
Name: Surprised, dtype: float64  ...
313  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
309  0    0.254465
Name: Arousal, dtype: float64              0
310  0    0.254651
Name: Arousal, dtype: float64              0
311  0    0.254892
Name: Arousal, dtype: float64              0
312  0    0.254836
Name: Arousal, dtype: float64              0
313  0    0.254791
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
309                0         9125   0          0   0             0         0
310                0       8044.0   0          0   0             0         0
311                0         7194   0          0   0             0         0
312                0         7059   0          0   0             0         0
313                0       7136.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
309      0
310      0
311      0
312      0
313      0

[314 rows x 24 columns]
----Time----
15700

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
310  1  Базаев Кирилл  15550      0     0
311  1  Базаев Кирилл  15600      0     0
312  1  Базаев Кирилл  15650      0     0
313  1  Базаев Кирилл  15700      0     0
314  1  Базаев Кирилл  15750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
310  0    0.827238
Name: Neutral, dtype: float64
311  0    0.827334
Name: Neutral, dtype: float64
312  0    0.827795
Name: Neutral, dtype: float64
313   0    0.82483
Name: Neutral, dtype: float64
314  0    0.821281
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
310  0    0.0
Name: Happy, dtype: float64
311  0    0.0
Name: Happy, dtype: float64
312  0    0.0
Name: Happy, dtype: float64
313  0    0.0
Name: Happy, dtype: float64
314  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
310  0    0.003402
Name: Sad, dtype: float64
311  0    0.002848
Name: Sad, dtype: float64
312  0    0.002375
Name: Sad, dtype: float64
313  0    0.002107
Name: Sad, dtype: float64
314  0    0.001869
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
310  0    0.0
Name: Angry, dtype: float64
311  0    0.0
Name: Angry, dtype: float64
312  0    0.0
Name: Angry, dtype: float64
313  0    0.0
Name: Angry, dtype: float64
314  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
310  0    0.0
Name: Surprised, dtype: float64  ...
311  0    0.0
Name: Surprised, dtype: float64  ...
312  0    0.0
Name: Surprised, dtype: float64  ...
313  0    0.0
Name: Surprised, dtype: float64  ...
314  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
310  0    0.254651
Name: Arousal, dtype: float64              0
311  0    0.254892
Name: Arousal, dtype: float64              0
312  0    0.254836
Name: Arousal, dtype: float64              0
313  0    0.254791
Name: Arousal, dtype: float64              0
314  0    0.254719
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
310                0       8044.0   0          0   0             0         0
311                0         7194   0          0   0             0         0
312                0         7059   0          0   0             0         0
313                0       7136.0   0          0   0             0         0
314                0         7170   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
310      0
311      0
312      0
313      0
314      0

[315 rows x 24 columns]
----Time----
15750
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
311  1  Базаев Кирилл  15600      0     0
312  1  Базаев Кирилл  15650      0     0
313  1  Базаев Кирилл  15700      0     0
314  1  Базаев Кирилл  15750      0     0
315  1  Базаев Кирилл  15800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
311  0    0.827334
Name: Neutral, dtype: float64
312  0    0.827795
Name: Neutral, dtype: float64
313   0    0.82483
Name: Neutral, dtype: float64
314  0    0.821281
Name: Neutral, dtype: float64
315  0    0.814002
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
311  0    0.0
Name: Happy, dtype: float64
312  0    0.0
Name: Happy, dtype: float64
313  0    0.0
Name: Happy, dtype: float64
314  0    0.0
Name: Happy, dtype: float64
315  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
311  0    0.002848
Name: Sad, dtype: float64
312  0    0.002375
Name: Sad, dtype: float64
313  0    0.002107
Name: Sad, dtype: float64
314  0    0.001869
Name: Sad, dtype: float64
315  0    0.001649
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
311  0    0.0
Name: Angry, dtype: float64
312  0    0.0
Name: Angry, dtype: float64
313  0    0.0
Name: Angry, dtype: float64
314  0    0.0
Name: Angry, dtype: float64
315  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
311  0    0.0
Name: Surprised, dtype: float64  ...
312  0    0.0
Name: Surprised, dtype: float64  ...
313  0    0.0
Name: Surprised, dtype: float64  ...
314  0    0.0
Name: Surprised, dtype: float64  ...
315  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
311  0    0.254892
Name: Arousal, dtype: float64              0
312  0    0.254836
Name: Arousal, dtype: float64              0
313  0    0.254791
Name: Arousal, dtype: float64              0
314  0    0.254719
Name: Arousal, dtype: float64              0
315  0    0.254574
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
311                0         7194   0          0   0             0         0
312                0         7059   0          0   0             0         0
313                0       7136.0   0          0   0             0         0
314                0         7170   0          0   0             0         0
315                0       7100.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
311      0
312      0
313      0
314      0
315      0

[316 rows x 24 columns]
----Time----
15800

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
312  1  Базаев Кирилл  15650      0     0
313  1  Базаев Кирилл  15700      0     0
314  1  Базаев Кирилл  15750      0     0
315  1  Базаев Кирилл  15800      0     0
316  1  Базаев Кирилл  15850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
312  0    0.827795
Name: Neutral, dtype: float64
313   0    0.82483
Name: Neutral, dtype: float64
314  0    0.821281
Name: Neutral, dtype: float64
315  0    0.814002
Name: Neutral, dtype: float64
316  0    0.806645
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
312  0    0.0
Name: Happy, dtype: float64
313  0    0.0
Name: Happy, dtype: float64
314  0    0.0
Name: Happy, dtype: float64
315  0    0.0
Name: Happy, dtype: float64
316  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
312  0    0.002375
Name: Sad, dtype: float64
313  0    0.002107
Name: Sad, dtype: float64
314  0    0.001869
Name: Sad, dtype: float64
315  0    0.001649
Name: Sad, dtype: float64
316  0    0.001375
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
312  0    0.0
Name: Angry, dtype: float64
313  0    0.0
Name: Angry, dtype: float64
314  0    0.0
Name: Angry, dtype: float64
315  0    0.0
Name: Angry, dtype: float64
316  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
312  0    0.0
Name: Surprised, dtype: float64  ...
313  0    0.0
Name: Surprised, dtype: float64  ...
314  0    0.0
Name: Surprised, dtype: float64  ...
315  0    0.0
Name: Surprised, dtype: float64  ...
316  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
312  0    0.254836
Name: Arousal, dtype: float64              0
313  0    0.254791
Name: Arousal, dtype: float64              0
314  0    0.254719
Name: Arousal, dtype: float64              0
315  0    0.254574
Name: Arousal, dtype: float64              0
316  0    0.254362
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
312                0         7059   0          0   0             0         0
313                0       7136.0   0          0   0             0         0
314                0         7170   0          0   0             0         0
315                0       7100.5   0          0   0             0         0
316                0         7048   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
312      0
313      0
314      0
315      0
316      0

[317 rows x 24 columns]
----Time----
15850
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
313  1  Базаев Кирилл  15700      0     0
314  1  Базаев Кирилл  15750      0     0
315  1  Базаев Кирилл  15800      0     0
316  1  Базаев Кирилл  15850      0     0
317  1  Базаев Кирилл  15900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
313   0    0.82483
Name: Neutral, dtype: float64
314  0    0.821281
Name: Neutral, dtype: float64
315  0    0.814002
Name: Neutral, dtype: float64
316  0    0.806645
Name: Neutral, dtype: float64
317   0    0.79521
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
313  0    0.0
Name: Happy, dtype: float64
314  0    0.0
Name: Happy, dtype: float64
315  0    0.0
Name: Happy, dtype: float64
316  0    0.0
Name: Happy, dtype: float64
317  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
313  0    0.002107
Name: Sad, dtype: float64
314  0    0.001869
Name: Sad, dtype: float64
315  0    0.001649
Name: Sad, dtype: float64
316  0    0.001375
Name: Sad, dtype: float64
317  0    0.006368
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
313  0    0.0
Name: Angry, dtype: float64
314  0    0.0
Name: Angry, dtype: float64
315  0    0.0
Name: Angry, dtype: float64
316  0    0.0
Name: Angry, dtype: float64
317  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
313  0    0.0
Name: Surprised, dtype: float64  ...
314  0    0.0
Name: Surprised, dtype: float64  ...
315  0    0.0
Name: Surprised, dtype: float64  ...
316  0    0.0
Name: Surprised, dtype: float64  ...
317  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
313  0    0.254791
Name: Arousal, dtype: float64              0
314  0    0.254719
Name: Arousal, dtype: float64              0
315  0    0.254574
Name: Arousal, dtype: float64              0
316  0    0.254362
Name: Arousal, dtype: float64              0
317  0    0.254223
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
313                0       7136.0   0          0   0             0         0
314                0         7170   0          0   0             0         0
315                0       7100.5   0          0   0             0         0
316                0         7048   0          0   0             0         0
317                0       7054.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
313      0
314      0
315      0
316      0
317      0

[318 rows x 24 columns]
----Time----
15900

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
314  1  Базаев Кирилл  15750      0     0
315  1  Базаев Кирилл  15800      0     0
316  1  Базаев Кирилл  15850      0     0
317  1  Базаев Кирилл  15900      0     0
318  1  Базаев Кирилл  15950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
314  0    0.821281
Name: Neutral, dtype: float64
315  0    0.814002
Name: Neutral, dtype: float64
316  0    0.806645
Name: Neutral, dtype: float64
317   0    0.79521
Name: Neutral, dtype: float64
318  0    0.779065
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
314  0    0.0
Name: Happy, dtype: float64
315  0    0.0
Name: Happy, dtype: float64
316  0    0.0
Name: Happy, dtype: float64
317  0    0.0
Name: Happy, dtype: float64
318  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
314  0    0.001869
Name: Sad, dtype: float64
315  0    0.001649
Name: Sad, dtype: float64
316  0    0.001375
Name: Sad, dtype: float64
317  0    0.006368
Name: Sad, dtype: float64
318  0    0.016261
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
314  0    0.0
Name: Angry, dtype: float64
315  0    0.0
Name: Angry, dtype: float64
316  0    0.0
Name: Angry, dtype: float64
317  0    0.0
Name: Angry, dtype: float64
318  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
314  0    0.0
Name: Surprised, dtype: float64  ...
315  0    0.0
Name: Surprised, dtype: float64  ...
316  0    0.0
Name: Surprised, dtype: float64  ...
317  0    0.0
Name: Surprised, dtype: float64  ...
318  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
314  0    0.254719
Name: Arousal, dtype: float64              0
315  0    0.254574
Name: Arousal, dtype: float64              0
316  0    0.254362
Name: Arousal, dtype: float64              0
317  0    0.254223
Name: Arousal, dtype: float64              0
318  0    0.254087
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
314                0         7170   0          0   0             0         0
315                0       7100.5   0          0   0             0         0
316                0         7048   0          0   0             0         0
317                0       7054.5   0          0   0             0         0
318                0       7046.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
314      0
315      0
316      0
317      0
318      0

[319 rows x 24 columns]
----Time----
15950
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
315  1  Базаев Кирилл  15800      0     0
316  1  Базаев Кирилл  15850      0     0
317  1  Базаев Кирилл  15900      0     0
318  1  Базаев Кирилл  15950      0     0
319  1  Базаев Кирилл  16000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
315  0    0.814002
Name: Neutral, dtype: float64
316  0    0.806645
Name: Neutral, dtype: float64
317   0    0.79521
Name: Neutral, dtype: float64
318  0    0.779065
Name: Neutral, dtype: float64
319  0    0.752424
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
315  0    0.0
Name: Happy, dtype: float64
316  0    0.0
Name: Happy, dtype: float64
317  0    0.0
Name: Happy, dtype: float64
318  0    0.0
Name: Happy, dtype: float64
319  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
315  0    0.001649
Name: Sad, dtype: float64
316  0    0.001375
Name: Sad, dtype: float64
317  0    0.006368
Name: Sad, dtype: float64
318  0    0.016261
Name: Sad, dtype: float64
319  0    0.034162
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
315  0    0.0
Name: Angry, dtype: float64
316  0    0.0
Name: Angry, dtype: float64
317  0    0.0
Name: Angry, dtype: float64
318  0    0.0
Name: Angry, dtype: float64
319  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
315  0    0.0
Name: Surprised, dtype: float64  ...
316  0    0.0
Name: Surprised, dtype: float64  ...
317  0    0.0
Name: Surprised, dtype: float64  ...
318  0    0.0
Name: Surprised, dtype: float64  ...
319  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
315  0    0.254574
Name: Arousal, dtype: float64              0
316  0    0.254362
Name: Arousal, dtype: float64              0
317  0    0.254223
Name: Arousal, dtype: float64              0
318  0    0.254087
Name: Arousal, dtype: float64              0
319  0    0.253912
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
315                0       7100.5   0          0   0             0         0
316                0         7048   0          0   0             0         0
317                0       7054.5   0          0   0             0         0
318                0       7046.5   0          0   0             0         0
319                0         6999   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
315      0
316      0
317      0
318      0
319      0

[320 rows x 24 columns]
----Time----
16000

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
316  1  Базаев Кирилл  15850      0     0
317  1  Базаев Кирилл  15900      0     0
318  1  Базаев Кирилл  15950      0     0
319  1  Базаев Кирилл  16000      0     0
320  1  Базаев Кирилл  16050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
316  0    0.806645
Name: Neutral, dtype: float64
317   0    0.79521
Name: Neutral, dtype: float64
318  0    0.779065
Name: Neutral, dtype: float64
319  0    0.752424
Name: Neutral, dtype: float64
320  0    0.726527
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
316  0    0.0
Name: Happy, dtype: float64
317  0    0.0
Name: Happy, dtype: float64
318  0    0.0
Name: Happy, dtype: float64
319  0    0.0
Name: Happy, dtype: float64
320  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
316  0    0.001375
Name: Sad, dtype: float64
317  0    0.006368
Name: Sad, dtype: float64
318  0    0.016261
Name: Sad, dtype: float64
319  0    0.034162
Name: Sad, dtype: float64
320    0    0.0532
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
316  0    0.0
Name: Angry, dtype: float64
317  0    0.0
Name: Angry, dtype: float64
318  0    0.0
Name: Angry, dtype: float64
319  0    0.0
Name: Angry, dtype: float64
320  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
316  0    0.0
Name: Surprised, dtype: float64  ...
317  0    0.0
Name: Surprised, dtype: float64  ...
318  0    0.0
Name: Surprised, dtype: float64  ...
319  0    0.0
Name: Surprised, dtype: float64  ...
320  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
316  0    0.254362
Name: Arousal, dtype: float64              0
317  0    0.254223
Name: Arousal, dtype: float64              0
318  0    0.254087
Name: Arousal, dtype: float64              0
319  0    0.253912
Name: Arousal, dtype: float64              0
320  0    0.253404
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
316                0         7048   0          0   0             0         0
317                0       7054.5   0          0   0             0         0
318                0       7046.5   0          0   0             0         0
319                0         6999   0          0   0             0         0
320                0       6938.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
316      0
317      0
318      0
319      0
320      0

[321 rows x 24 columns]
----Time----
16050
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
317  1  Базаев Кирилл  15900      0     0
318  1  Базаев Кирилл  15950      0     0
319  1  Базаев Кирилл  16000      0     0
320  1  Базаев Кирилл  16050      0     0
321  1  Базаев Кирилл  16100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
317   0    0.79521
Name: Neutral, dtype: float64
318  0    0.779065
Name: Neutral, dtype: float64
319  0    0.752424
Name: Neutral, dtype: float64
320  0    0.726527
Name: Neutral, dtype: float64
321  0    0.708176
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
317  0    0.0
Name: Happy, dtype: float64
318  0    0.0
Name: Happy, dtype: float64
319  0    0.0
Name: Happy, dtype: float64
320  0    0.0
Name: Happy, dtype: float64
321  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
317  0    0.006368
Name: Sad, dtype: float64
318  0    0.016261
Name: Sad, dtype: float64
319  0    0.034162
Name: Sad, dtype: float64
320    0    0.0532
Name: Sad, dtype: float64
321  0    0.066872
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
317  0    0.0
Name: Angry, dtype: float64
318  0    0.0
Name: Angry, dtype: float64
319  0    0.0
Name: Angry, dtype: float64
320  0    0.0
Name: Angry, dtype: float64
321  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
317  0    0.0
Name: Surprised, dtype: float64  ...
318  0    0.0
Name: Surprised, dtype: float64  ...
319  0    0.0
Name: Surprised, dtype: float64  ...
320  0    0.0
Name: Surprised, dtype: float64  ...
321  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
317  0    0.254223
Name: Arousal, dtype: float64              0
318  0    0.254087
Name: Arousal, dtype: float64              0
319  0    0.253912
Name: Arousal, dtype: float64              0
320  0    0.253404
Name: Arousal, dtype: float64              0
321  0    0.252574
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
317                0       7054.5   0          0   0             0         0
318                0       7046.5   0          0   0             0         0
319                0         6999   0          0   0             0         0
320                0       6938.5   0          0   0             0         0
321                0         6894   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
317      0
318      0
319      0
320      0
321      0

[322 rows x 24 columns]
----Time----
16100

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
318  1  Базаев Кирилл  15950      0     0
319  1  Базаев Кирилл  16000      0     0
320  1  Базаев Кирилл  16050      0     0
321  1  Базаев Кирилл  16100      0     0
322  1  Базаев Кирилл  16150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
318  0    0.779065
Name: Neutral, dtype: float64
319  0    0.752424
Name: Neutral, dtype: float64
320  0    0.726527
Name: Neutral, dtype: float64
321  0    0.708176
Name: Neutral, dtype: float64
322  0    0.691254
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
318  0    0.0
Name: Happy, dtype: float64
319  0    0.0
Name: Happy, dtype: float64
320  0    0.0
Name: Happy, dtype: float64
321  0    0.0
Name: Happy, dtype: float64
322  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
318  0    0.016261
Name: Sad, dtype: float64
319  0    0.034162
Name: Sad, dtype: float64
320    0    0.0532
Name: Sad, dtype: float64
321  0    0.066872
Name: Sad, dtype: float64
322  0    0.078529
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
318  0    0.0
Name: Angry, dtype: float64
319  0    0.0
Name: Angry, dtype: float64
320  0    0.0
Name: Angry, dtype: float64
321  0    0.0
Name: Angry, dtype: float64
322  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
318  0    0.0
Name: Surprised, dtype: float64  ...
319  0    0.0
Name: Surprised, dtype: float64  ...
320  0    0.0
Name: Surprised, dtype: float64  ...
321  0    0.0
Name: Surprised, dtype: float64  ...
322  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
318  0    0.254087
Name: Arousal, dtype: float64              0
319  0    0.253912
Name: Arousal, dtype: float64              0
320  0    0.253404
Name: Arousal, dtype: float64              0
321  0    0.252574
Name: Arousal, dtype: float64              0
322  0    0.251623
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
318                0       7046.5   0          0   0             0         0
319                0         6999   0          0   0             0         0
320                0       6938.5   0          0   0             0         0
321                0         6894   0          0   0             0         0
322                0       6874.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
318      0
319      0
320      0
321      0
322      0

[323 rows x 24 columns]
----Time----
16150
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
319  1  Базаев Кирилл  16000      0     0
320  1  Базаев Кирилл  16050      0     0
321  1  Базаев Кирилл  16100      0     0
322  1  Базаев Кирилл  16150      0     0
323  1  Базаев Кирилл  16200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
319  0    0.752424
Name: Neutral, dtype: float64
320  0    0.726527
Name: Neutral, dtype: float64
321  0    0.708176
Name: Neutral, dtype: float64
322  0    0.691254
Name: Neutral, dtype: float64
323  0    0.670391
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
319  0    0.0
Name: Happy, dtype: float64
320  0    0.0
Name: Happy, dtype: float64
321  0    0.0
Name: Happy, dtype: float64
322  0    0.0
Name: Happy, dtype: float64
323  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
319  0    0.034162
Name: Sad, dtype: float64
320    0    0.0532
Name: Sad, dtype: float64
321  0    0.066872
Name: Sad, dtype: float64
322  0    0.078529
Name: Sad, dtype: float64
323  0    0.087519
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
319  0    0.0
Name: Angry, dtype: float64
320  0    0.0
Name: Angry, dtype: float64
321  0    0.0
Name: Angry, dtype: float64
322  0    0.0
Name: Angry, dtype: float64
323  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
319  0    0.0
Name: Surprised, dtype: float64  ...
320  0    0.0
Name: Surprised, dtype: float64  ...
321  0    0.0
Name: Surprised, dtype: float64  ...
322  0    0.0
Name: Surprised, dtype: float64  ...
323  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
319  0    0.253912
Name: Arousal, dtype: float64              0
320  0    0.253404
Name: Arousal, dtype: float64              0
321  0    0.252574
Name: Arousal, dtype: float64              0
322  0    0.251623
Name: Arousal, dtype: float64              0
323  0    0.250189
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
319                0         6999   0          0   0             0         0
320                0       6938.5   0          0   0             0         0
321                0         6894   0          0   0             0         0
322                0       6874.5   0          0   0             0         0
323                0         6863   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
319      0
320      0
321      0
322      0
323      0

[324 rows x 24 columns]
----Time----
16200

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
320  1  Базаев Кирилл  16050      0     0
321  1  Базаев Кирилл  16100      0     0
322  1  Базаев Кирилл  16150      0     0
323  1  Базаев Кирилл  16200      0     0
324  1  Базаев Кирилл  16250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
320  0    0.726527
Name: Neutral, dtype: float64
321  0    0.708176
Name: Neutral, dtype: float64
322  0    0.691254
Name: Neutral, dtype: float64
323  0    0.670391
Name: Neutral, dtype: float64
324  0    0.654495
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
320  0    0.0
Name: Happy, dtype: float64
321  0    0.0
Name: Happy, dtype: float64
322  0    0.0
Name: Happy, dtype: float64
323  0    0.0
Name: Happy, dtype: float64
324  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
320    0    0.0532
Name: Sad, dtype: float64
321  0    0.066872
Name: Sad, dtype: float64
322  0    0.078529
Name: Sad, dtype: float64
323  0    0.087519
Name: Sad, dtype: float64
324  0    0.090649
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
320  0    0.0
Name: Angry, dtype: float64
321  0    0.0
Name: Angry, dtype: float64
322  0    0.0
Name: Angry, dtype: float64
323  0    0.0
Name: Angry, dtype: float64
324  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
320  0    0.0
Name: Surprised, dtype: float64  ...
321  0    0.0
Name: Surprised, dtype: float64  ...
322  0    0.0
Name: Surprised, dtype: float64  ...
323  0    0.0
Name: Surprised, dtype: float64  ...
324  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
320  0    0.253404
Name: Arousal, dtype: float64              0
321  0    0.252574
Name: Arousal, dtype: float64              0
322  0    0.251623
Name: Arousal, dtype: float64              0
323  0    0.250189
Name: Arousal, dtype: float64              0
324  0    0.248786
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
320                0       6938.5   0          0   0             0         0
321                0         6894   0          0   0             0         0
322                0       6874.5   0          0   0             0         0
323                0         6863   0          0   0             0         0
324                0       6851.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
320      0
321      0
322      0
323      0
324      0

[325 rows x 24 columns]
----Time----
16250
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
321  1  Базаев Кирилл  16100      0     0
322  1  Базаев Кирилл  16150      0     0
323  1  Базаев Кирилл  16200      0     0
324  1  Базаев Кирилл  16250      0     0
325  1  Базаев Кирилл  16300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
321  0    0.708176
Name: Neutral, dtype: float64
322  0    0.691254
Name: Neutral, dtype: float64
323  0    0.670391
Name: Neutral, dtype: float64
324  0    0.654495
Name: Neutral, dtype: float64
325  0    0.647271
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
321  0    0.0
Name: Happy, dtype: float64
322  0    0.0
Name: Happy, dtype: float64
323  0    0.0
Name: Happy, dtype: float64
324  0    0.0
Name: Happy, dtype: float64
325  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
321  0    0.066872
Name: Sad, dtype: float64
322  0    0.078529
Name: Sad, dtype: float64
323  0    0.087519
Name: Sad, dtype: float64
324  0    0.090649
Name: Sad, dtype: float64
325  0    0.089617
Name: Sad, dtype: float64

                                    Angry  \
0     0    NaN
Name: Angry, dtype: object
1     0    NaN
Name: Angry, dtype: object
2     0    NaN
Name: Angry, dtype: object
3     0   NaN
Name: Angry, dtype: float64
4     0    NaN
Name: Angry, dtype: object
..                                    ...
321  0    0.0
Name: Angry, dtype: float64
322  0    0.0
Name: Angry, dtype: float64
323  0    0.0
Name: Angry, dtype: float64
324  0    0.0
Name: Angry, dtype: float64
325  0    0.0
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
321  0    0.0
Name: Surprised, dtype: float64  ...
322  0    0.0
Name: Surprised, dtype: float64  ...
323  0    0.0
Name: Surprised, dtype: float64  ...
324  0    0.0
Name: Surprised, dtype: float64  ...
325  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
321  0    0.252574
Name: Arousal, dtype: float64              0
322  0    0.251623
Name: Arousal, dtype: float64              0
323  0    0.250189
Name: Arousal, dtype: float64              0
324  0    0.248786
Name: Arousal, dtype: float64              0
325   0    0.24792
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
321                0         6894   0          0   0             0         0
322                0       6874.5   0          0   0             0         0
323                0         6863   0          0   0             0         0
324                0       6851.5   0          0   0             0         0
325                0       6825.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
321      0
322      0
323      0
324      0
325      0

[326 rows x 24 columns]
----Time----
16300

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
322  1  Базаев Кирилл  16150      0     0
323  1  Базаев Кирилл  16200      0     0
324  1  Базаев Кирилл  16250      0     0
325  1  Базаев Кирилл  16300      0     0
326  1  Базаев Кирилл  16350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
322  0    0.691254
Name: Neutral, dtype: float64
323  0    0.670391
Name: Neutral, dtype: float64
324  0    0.654495
Name: Neutral, dtype: float64
325  0    0.647271
Name: Neutral, dtype: float64
326  0    0.641993
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
322  0    0.0
Name: Happy, dtype: float64
323  0    0.0
Name: Happy, dtype: float64
324  0    0.0
Name: Happy, dtype: float64
325  0    0.0
Name: Happy, dtype: float64
326  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
322  0    0.078529
Name: Sad, dtype: float64
323  0    0.087519
Name: Sad, dtype: float64
324  0    0.090649
Name: Sad, dtype: float64
325  0    0.089617
Name: Sad, dtype: float64
326  0    0.086698
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
322       0    0.0
Name: Angry, dtype: float64
323       0    0.0
Name: Angry, dtype: float64
324       0    0.0
Name: Angry, dtype: float64
325       0    0.0
Name: Angry, dtype: float64
326  0    0.000227
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
322  0    0.0
Name: Surprised, dtype: float64  ...
323  0    0.0
Name: Surprised, dtype: float64  ...
324  0    0.0
Name: Surprised, dtype: float64  ...
325  0    0.0
Name: Surprised, dtype: float64  ...
326  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
322  0    0.251623
Name: Arousal, dtype: float64              0
323  0    0.250189
Name: Arousal, dtype: float64              0
324  0    0.248786
Name: Arousal, dtype: float64              0
325   0    0.24792
Name: Arousal, dtype: float64              0
326  0    0.247176
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
322                0       6874.5   0          0   0             0         0
323                0         6863   0          0   0             0         0
324                0       6851.5   0          0   0             0         0
325                0       6825.0   0          0   0             0         0
326                0         6801   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
322      0
323      0
324      0
325      0
326      0

[327 rows x 24 columns]
----Time----
16350
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
323  1  Базаев Кирилл  16200      0     0
324  1  Базаев Кирилл  16250      0     0
325  1  Базаев Кирилл  16300      0     0
326  1  Базаев Кирилл  16350      0     0
327  1  Базаев Кирилл  16400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
323  0    0.670391
Name: Neutral, dtype: float64
324  0    0.654495
Name: Neutral, dtype: float64
325  0    0.647271
Name: Neutral, dtype: float64
326  0    0.641993
Name: Neutral, dtype: float64
327  0    0.636386
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
323  0    0.0
Name: Happy, dtype: float64
324  0    0.0
Name: Happy, dtype: float64
325  0    0.0
Name: Happy, dtype: float64
326  0    0.0
Name: Happy, dtype: float64
327  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
323  0    0.087519
Name: Sad, dtype: float64
324  0    0.090649
Name: Sad, dtype: float64
325  0    0.089617
Name: Sad, dtype: float64
326  0    0.086698
Name: Sad, dtype: float64
327  0    0.081031
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
323       0    0.0
Name: Angry, dtype: float64
324       0    0.0
Name: Angry, dtype: float64
325       0    0.0
Name: Angry, dtype: float64
326  0    0.000227
Name: Angry, dtype: float64
327   0    0.00563
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
323  0    0.0
Name: Surprised, dtype: float64  ...
324  0    0.0
Name: Surprised, dtype: float64  ...
325  0    0.0
Name: Surprised, dtype: float64  ...
326  0    0.0
Name: Surprised, dtype: float64  ...
327  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
323  0    0.250189
Name: Arousal, dtype: float64              0
324  0    0.248786
Name: Arousal, dtype: float64              0
325   0    0.24792
Name: Arousal, dtype: float64              0
326  0    0.247176
Name: Arousal, dtype: float64              0
327  0    0.246177
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
323                0         6863   0          0   0             0         0
324                0       6851.5   0          0   0             0         0
325                0       6825.0   0          0   0             0         0
326                0         6801   0          0   0             0         0
327                0       6783.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
323      0
324      0
325      0
326      0
327      0

[328 rows x 24 columns]
----Time----
16400

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
324  1  Базаев Кирилл  16250      0     0
325  1  Базаев Кирилл  16300      0     0
326  1  Базаев Кирилл  16350      0     0
327  1  Базаев Кирилл  16400      0     0
328  1  Базаев Кирилл  16450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
324  0    0.654495
Name: Neutral, dtype: float64
325  0    0.647271
Name: Neutral, dtype: float64
326  0    0.641993
Name: Neutral, dtype: float64
327  0    0.636386
Name: Neutral, dtype: float64
328  0    0.634842
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
324  0    0.0
Name: Happy, dtype: float64
325  0    0.0
Name: Happy, dtype: float64
326  0    0.0
Name: Happy, dtype: float64
327  0    0.0
Name: Happy, dtype: float64
328  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
324  0    0.090649
Name: Sad, dtype: float64
325  0    0.089617
Name: Sad, dtype: float64
326  0    0.086698
Name: Sad, dtype: float64
327  0    0.081031
Name: Sad, dtype: float64
328  0    0.074178
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
324       0    0.0
Name: Angry, dtype: float64
325       0    0.0
Name: Angry, dtype: float64
326  0    0.000227
Name: Angry, dtype: float64
327   0    0.00563
Name: Angry, dtype: float64
328  0    0.012353
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
324  0    0.0
Name: Surprised, dtype: float64  ...
325  0    0.0
Name: Surprised, dtype: float64  ...
326  0    0.0
Name: Surprised, dtype: float64  ...
327  0    0.0
Name: Surprised, dtype: float64  ...
328  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
324  0    0.248786
Name: Arousal, dtype: float64              0
325   0    0.24792
Name: Arousal, dtype: float64              0
326  0    0.247176
Name: Arousal, dtype: float64              0
327  0    0.246177
Name: Arousal, dtype: float64              0
328  0    0.245407
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
324                0       6851.5   0          0   0             0         0
325                0       6825.0   0          0   0             0         0
326                0         6801   0          0   0             0         0
327                0       6783.5   0          0   0             0         0
328                0         6782   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
324      0
325      0
326      0
327      0
328      0

[329 rows x 24 columns]
----Time----
16450
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
325  1  Базаев Кирилл  16300      0     0
326  1  Базаев Кирилл  16350      0     0
327  1  Базаев Кирилл  16400      0     0
328  1  Базаев Кирилл  16450      0     0
329  1  Базаев Кирилл  16500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
325  0    0.647271
Name: Neutral, dtype: float64
326  0    0.641993
Name: Neutral, dtype: float64
327  0    0.636386
Name: Neutral, dtype: float64
328  0    0.634842
Name: Neutral, dtype: float64
329  0    0.636205
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
325  0    0.0
Name: Happy, dtype: float64
326  0    0.0
Name: Happy, dtype: float64
327  0    0.0
Name: Happy, dtype: float64
328  0    0.0
Name: Happy, dtype: float64
329  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
325  0    0.089617
Name: Sad, dtype: float64
326  0    0.086698
Name: Sad, dtype: float64
327  0    0.081031
Name: Sad, dtype: float64
328  0    0.074178
Name: Sad, dtype: float64
329  0    0.070298
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
325       0    0.0
Name: Angry, dtype: float64
326  0    0.000227
Name: Angry, dtype: float64
327   0    0.00563
Name: Angry, dtype: float64
328  0    0.012353
Name: Angry, dtype: float64
329  0    0.012952
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
325  0    0.0
Name: Surprised, dtype: float64  ...
326  0    0.0
Name: Surprised, dtype: float64  ...
327  0    0.0
Name: Surprised, dtype: float64  ...
328  0    0.0
Name: Surprised, dtype: float64  ...
329  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
325   0    0.24792
Name: Arousal, dtype: float64              0
326  0    0.247176
Name: Arousal, dtype: float64              0
327  0    0.246177
Name: Arousal, dtype: float64              0
328  0    0.245407
Name: Arousal, dtype: float64              0
329  0    0.245038
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
325                0       6825.0   0          0   0             0         0
326                0         6801   0          0   0             0         0
327                0       6783.5   0          0   0             0         0
328                0         6782   0          0   0             0         0
329                0       6802.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
325      0
326      0
327      0
328      0
329      0

[330 rows x 24 columns]
----Time----
16500

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
326  1  Базаев Кирилл  16350      0     0
327  1  Базаев Кирилл  16400      0     0
328  1  Базаев Кирилл  16450      0     0
329  1  Базаев Кирилл  16500      0     0
330  1  Базаев Кирилл  16550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
326  0    0.641993
Name: Neutral, dtype: float64
327  0    0.636386
Name: Neutral, dtype: float64
328  0    0.634842
Name: Neutral, dtype: float64
329  0    0.636205
Name: Neutral, dtype: float64
330  0    0.638008
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
326  0    0.0
Name: Happy, dtype: float64
327  0    0.0
Name: Happy, dtype: float64
328  0    0.0
Name: Happy, dtype: float64
329  0    0.0
Name: Happy, dtype: float64
330  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
326  0    0.086698
Name: Sad, dtype: float64
327  0    0.081031
Name: Sad, dtype: float64
328  0    0.074178
Name: Sad, dtype: float64
329  0    0.070298
Name: Sad, dtype: float64
330  0    0.065684
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
326  0    0.000227
Name: Angry, dtype: float64
327   0    0.00563
Name: Angry, dtype: float64
328  0    0.012353
Name: Angry, dtype: float64
329  0    0.012952
Name: Angry, dtype: float64
330  0    0.015981
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
326  0    0.0
Name: Surprised, dtype: float64  ...
327  0    0.0
Name: Surprised, dtype: float64  ...
328  0    0.0
Name: Surprised, dtype: float64  ...
329  0    0.0
Name: Surprised, dtype: float64  ...
330  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
326  0    0.247176
Name: Arousal, dtype: float64              0
327  0    0.246177
Name: Arousal, dtype: float64              0
328  0    0.245407
Name: Arousal, dtype: float64              0
329  0    0.245038
Name: Arousal, dtype: float64              0
330  0    0.244748
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
326                0         6801   0          0   0             0         0
327                0       6783.5   0          0   0             0         0
328                0         6782   0          0   0             0         0
329                0       6802.5   0          0   0             0         0
330                0         6816   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
326      0
327      0
328      0
329      0
330      0

[331 rows x 24 columns]
----Time----
16550
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
327  1  Базаев Кирилл  16400      0     0
328  1  Базаев Кирилл  16450      0     0
329  1  Базаев Кирилл  16500      0     0
330  1  Базаев Кирилл  16550      0     0
331  1  Базаев Кирилл  16600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
327  0    0.636386
Name: Neutral, dtype: float64
328  0    0.634842
Name: Neutral, dtype: float64
329  0    0.636205
Name: Neutral, dtype: float64
330  0    0.638008
Name: Neutral, dtype: float64
331  0    0.642831
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
327  0    0.0
Name: Happy, dtype: float64
328  0    0.0
Name: Happy, dtype: float64
329  0    0.0
Name: Happy, dtype: float64
330  0    0.0
Name: Happy, dtype: float64
331  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
327  0    0.081031
Name: Sad, dtype: float64
328  0    0.074178
Name: Sad, dtype: float64
329  0    0.070298
Name: Sad, dtype: float64
330  0    0.065684
Name: Sad, dtype: float64
331  0    0.057871
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
327   0    0.00563
Name: Angry, dtype: float64
328  0    0.012353
Name: Angry, dtype: float64
329  0    0.012952
Name: Angry, dtype: float64
330  0    0.015981
Name: Angry, dtype: float64
331  0    0.021082
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
327  0    0.0
Name: Surprised, dtype: float64  ...
328  0    0.0
Name: Surprised, dtype: float64  ...
329  0    0.0
Name: Surprised, dtype: float64  ...
330  0    0.0
Name: Surprised, dtype: float64  ...
331  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
327  0    0.246177
Name: Arousal, dtype: float64              0
328  0    0.245407
Name: Arousal, dtype: float64              0
329  0    0.245038
Name: Arousal, dtype: float64              0
330  0    0.244748
Name: Arousal, dtype: float64              0
331  0    0.244399
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
327                0       6783.5   0          0   0             0         0
328                0         6782   0          0   0             0         0
329                0       6802.5   0          0   0             0         0
330                0         6816   0          0   0             0         0
331                0       6796.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
327      0
328      0
329      0
330      0
331      0

[332 rows x 24 columns]
----Time----
16600

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
328  1  Базаев Кирилл  16450      0     0
329  1  Базаев Кирилл  16500      0     0
330  1  Базаев Кирилл  16550      0     0
331  1  Базаев Кирилл  16600      0     0
332  1  Базаев Кирилл  16650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
328  0    0.634842
Name: Neutral, dtype: float64
329  0    0.636205
Name: Neutral, dtype: float64
330  0    0.638008
Name: Neutral, dtype: float64
331  0    0.642831
Name: Neutral, dtype: float64
332  0    0.651985
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
328  0    0.0
Name: Happy, dtype: float64
329  0    0.0
Name: Happy, dtype: float64
330  0    0.0
Name: Happy, dtype: float64
331  0    0.0
Name: Happy, dtype: float64
332  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
328  0    0.074178
Name: Sad, dtype: float64
329  0    0.070298
Name: Sad, dtype: float64
330  0    0.065684
Name: Sad, dtype: float64
331  0    0.057871
Name: Sad, dtype: float64
332  0    0.050157
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
328  0    0.012353
Name: Angry, dtype: float64
329  0    0.012952
Name: Angry, dtype: float64
330  0    0.015981
Name: Angry, dtype: float64
331  0    0.021082
Name: Angry, dtype: float64
332   0    0.02173
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
328  0    0.0
Name: Surprised, dtype: float64  ...
329  0    0.0
Name: Surprised, dtype: float64  ...
330  0    0.0
Name: Surprised, dtype: float64  ...
331  0    0.0
Name: Surprised, dtype: float64  ...
332  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
328  0    0.245407
Name: Arousal, dtype: float64              0
329  0    0.245038
Name: Arousal, dtype: float64              0
330  0    0.244748
Name: Arousal, dtype: float64              0
331  0    0.244399
Name: Arousal, dtype: float64              0
332  0    0.244241
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
328                0         6782   0          0   0             0         0
329                0       6802.5   0          0   0             0         0
330                0         6816   0          0   0             0         0
331                0       6796.0   0          0   0             0         0
332                0         6756   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
328      0
329      0
330      0
331      0
332      0

[333 rows x 24 columns]
----Time----
16650
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
329  1  Базаев Кирилл  16500      0     0
330  1  Базаев Кирилл  16550      0     0
331  1  Базаев Кирилл  16600      0     0
332  1  Базаев Кирилл  16650      0     0
333  1  Базаев Кирилл  16700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
329  0    0.636205
Name: Neutral, dtype: float64
330  0    0.638008
Name: Neutral, dtype: float64
331  0    0.642831
Name: Neutral, dtype: float64
332  0    0.651985
Name: Neutral, dtype: float64
333   0    0.65832
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
329  0    0.0
Name: Happy, dtype: float64
330  0    0.0
Name: Happy, dtype: float64
331  0    0.0
Name: Happy, dtype: float64
332  0    0.0
Name: Happy, dtype: float64
333  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
329  0    0.070298
Name: Sad, dtype: float64
330  0    0.065684
Name: Sad, dtype: float64
331  0    0.057871
Name: Sad, dtype: float64
332  0    0.050157
Name: Sad, dtype: float64
333   0    0.04512
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
329  0    0.012952
Name: Angry, dtype: float64
330  0    0.015981
Name: Angry, dtype: float64
331  0    0.021082
Name: Angry, dtype: float64
332   0    0.02173
Name: Angry, dtype: float64
333  0    0.021141
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
329  0    0.0
Name: Surprised, dtype: float64  ...
330  0    0.0
Name: Surprised, dtype: float64  ...
331  0    0.0
Name: Surprised, dtype: float64  ...
332  0    0.0
Name: Surprised, dtype: float64  ...
333  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
329  0    0.245038
Name: Arousal, dtype: float64              0
330  0    0.244748
Name: Arousal, dtype: float64              0
331  0    0.244399
Name: Arousal, dtype: float64              0
332  0    0.244241
Name: Arousal, dtype: float64              0
333  0    0.244241
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
329                0       6802.5   0          0   0             0         0
330                0         6816   0          0   0             0         0
331                0       6796.0   0          0   0             0         0
332                0         6756   0          0   0             0         0
333                0       6712.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
329      0
330      0
331      0
332      0
333      0

[334 rows x 24 columns]
----Time----
16700

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
330  1  Базаев Кирилл  16550      0     0
331  1  Базаев Кирилл  16600      0     0
332  1  Базаев Кирилл  16650      0     0
333  1  Базаев Кирилл  16700      0     0
334  1  Базаев Кирилл  16750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
330  0    0.638008
Name: Neutral, dtype: float64
331  0    0.642831
Name: Neutral, dtype: float64
332  0    0.651985
Name: Neutral, dtype: float64
333   0    0.65832
Name: Neutral, dtype: float64
334  0    0.664057
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
330  0    0.0
Name: Happy, dtype: float64
331  0    0.0
Name: Happy, dtype: float64
332  0    0.0
Name: Happy, dtype: float64
333  0    0.0
Name: Happy, dtype: float64
334  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
330  0    0.065684
Name: Sad, dtype: float64
331  0    0.057871
Name: Sad, dtype: float64
332  0    0.050157
Name: Sad, dtype: float64
333   0    0.04512
Name: Sad, dtype: float64
334  0    0.040976
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
330  0    0.015981
Name: Angry, dtype: float64
331  0    0.021082
Name: Angry, dtype: float64
332   0    0.02173
Name: Angry, dtype: float64
333  0    0.021141
Name: Angry, dtype: float64
334  0    0.019676
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
330  0    0.0
Name: Surprised, dtype: float64  ...
331  0    0.0
Name: Surprised, dtype: float64  ...
332  0    0.0
Name: Surprised, dtype: float64  ...
333  0    0.0
Name: Surprised, dtype: float64  ...
334  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
330  0    0.244748
Name: Arousal, dtype: float64              0
331  0    0.244399
Name: Arousal, dtype: float64              0
332  0    0.244241
Name: Arousal, dtype: float64              0
333  0    0.244241
Name: Arousal, dtype: float64              0
334  0    0.245436
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
330                0         6816   0          0   0             0         0
331                0       6796.0   0          0   0             0         0
332                0         6756   0          0   0             0         0
333                0       6712.0   0          0   0             0         0
334                0       6678.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
330      0
331      0
332      0
333      0
334      0

[335 rows x 24 columns]
----Time----
16750
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
331  1  Базаев Кирилл  16600      0     0
332  1  Базаев Кирилл  16650      0     0
333  1  Базаев Кирилл  16700      0     0
334  1  Базаев Кирилл  16750      0     0
335  1  Базаев Кирилл  16800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
331  0    0.642831
Name: Neutral, dtype: float64
332  0    0.651985
Name: Neutral, dtype: float64
333   0    0.65832
Name: Neutral, dtype: float64
334  0    0.664057
Name: Neutral, dtype: float64
335  0    0.672632
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
331  0    0.0
Name: Happy, dtype: float64
332  0    0.0
Name: Happy, dtype: float64
333  0    0.0
Name: Happy, dtype: float64
334  0    0.0
Name: Happy, dtype: float64
335  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
331  0    0.057871
Name: Sad, dtype: float64
332  0    0.050157
Name: Sad, dtype: float64
333   0    0.04512
Name: Sad, dtype: float64
334  0    0.040976
Name: Sad, dtype: float64
335   0    0.03528
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
331  0    0.021082
Name: Angry, dtype: float64
332   0    0.02173
Name: Angry, dtype: float64
333  0    0.021141
Name: Angry, dtype: float64
334  0    0.019676
Name: Angry, dtype: float64
335  0    0.017745
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
331  0    0.0
Name: Surprised, dtype: float64  ...
332  0    0.0
Name: Surprised, dtype: float64  ...
333  0    0.0
Name: Surprised, dtype: float64  ...
334  0    0.0
Name: Surprised, dtype: float64  ...
335  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
331  0    0.244399
Name: Arousal, dtype: float64              0
332  0    0.244241
Name: Arousal, dtype: float64              0
333  0    0.244241
Name: Arousal, dtype: float64              0
334  0    0.245436
Name: Arousal, dtype: float64              0
335   0    0.24704
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
331                0       6796.0   0          0   0             0         0
332                0         6756   0          0   0             0         0
333                0       6712.0   0          0   0             0         0
334                0       6678.0   0          0   0             0         0
335                0         6672   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
331      0
332      0
333      0
334      0
335      0

[336 rows x 24 columns]
----Time----
16800

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
332  1  Базаев Кирилл  16650      0     0
333  1  Базаев Кирилл  16700      0     0
334  1  Базаев Кирилл  16750      0     0
335  1  Базаев Кирилл  16800      0     0
336  1  Базаев Кирилл  16850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
332  0    0.651985
Name: Neutral, dtype: float64
333   0    0.65832
Name: Neutral, dtype: float64
334  0    0.664057
Name: Neutral, dtype: float64
335  0    0.672632
Name: Neutral, dtype: float64
336  0    0.681939
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
332  0    0.0
Name: Happy, dtype: float64
333  0    0.0
Name: Happy, dtype: float64
334  0    0.0
Name: Happy, dtype: float64
335  0    0.0
Name: Happy, dtype: float64
336  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
332  0    0.050157
Name: Sad, dtype: float64
333   0    0.04512
Name: Sad, dtype: float64
334  0    0.040976
Name: Sad, dtype: float64
335   0    0.03528
Name: Sad, dtype: float64
336  0    0.031735
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
332   0    0.02173
Name: Angry, dtype: float64
333  0    0.021141
Name: Angry, dtype: float64
334  0    0.019676
Name: Angry, dtype: float64
335  0    0.017745
Name: Angry, dtype: float64
336  0    0.014799
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
332  0    0.0
Name: Surprised, dtype: float64  ...
333  0    0.0
Name: Surprised, dtype: float64  ...
334  0    0.0
Name: Surprised, dtype: float64  ...
335  0    0.0
Name: Surprised, dtype: float64  ...
336  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
332  0    0.244241
Name: Arousal, dtype: float64              0
333  0    0.244241
Name: Arousal, dtype: float64              0
334  0    0.245436
Name: Arousal, dtype: float64              0
335   0    0.24704
Name: Arousal, dtype: float64              0
336  0    0.248967
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
332                0         6756   0          0   0             0         0
333                0       6712.0   0          0   0             0         0
334                0       6678.0   0          0   0             0         0
335                0         6672   0          0   0             0         0
336                0       6669.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
332      0
333      0
334      0
335      0
336      0

[337 rows x 24 columns]
----Time----
16850
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
333  1  Базаев Кирилл  16700      0     0
334  1  Базаев Кирилл  16750      0     0
335  1  Базаев Кирилл  16800      0     0
336  1  Базаев Кирилл  16850      0     0
337  1  Базаев Кирилл  16900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
333   0    0.65832
Name: Neutral, dtype: float64
334  0    0.664057
Name: Neutral, dtype: float64
335  0    0.672632
Name: Neutral, dtype: float64
336  0    0.681939
Name: Neutral, dtype: float64
337  0    0.687133
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
333  0    0.0
Name: Happy, dtype: float64
334  0    0.0
Name: Happy, dtype: float64
335  0    0.0
Name: Happy, dtype: float64
336  0    0.0
Name: Happy, dtype: float64
337  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
333   0    0.04512
Name: Sad, dtype: float64
334  0    0.040976
Name: Sad, dtype: float64
335   0    0.03528
Name: Sad, dtype: float64
336  0    0.031735
Name: Sad, dtype: float64
337  0    0.029165
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
333  0    0.021141
Name: Angry, dtype: float64
334  0    0.019676
Name: Angry, dtype: float64
335  0    0.017745
Name: Angry, dtype: float64
336  0    0.014799
Name: Angry, dtype: float64
337  0    0.013128
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
333  0    0.0
Name: Surprised, dtype: float64  ...
334  0    0.0
Name: Surprised, dtype: float64  ...
335  0    0.0
Name: Surprised, dtype: float64  ...
336  0    0.0
Name: Surprised, dtype: float64  ...
337  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
333  0    0.244241
Name: Arousal, dtype: float64              0
334  0    0.245436
Name: Arousal, dtype: float64              0
335   0    0.24704
Name: Arousal, dtype: float64              0
336  0    0.248967
Name: Arousal, dtype: float64              0
337  0    0.250219
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
333                0       6712.0   0          0   0             0         0
334                0       6678.0   0          0   0             0         0
335                0         6672   0          0   0             0         0
336                0       6669.5   0          0   0             0         0
337                0         6661   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
333      0
334      0
335      0
336      0
337      0

[338 rows x 24 columns]
----Time----
16900

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
334  1  Базаев Кирилл  16750      0     0
335  1  Базаев Кирилл  16800      0     0
336  1  Базаев Кирилл  16850      0     0
337  1  Базаев Кирилл  16900      0     0
338  1  Базаев Кирилл  16950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
334  0    0.664057
Name: Neutral, dtype: float64
335  0    0.672632
Name: Neutral, dtype: float64
336  0    0.681939
Name: Neutral, dtype: float64
337  0    0.687133
Name: Neutral, dtype: float64
338  0    0.692603
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
334  0    0.0
Name: Happy, dtype: float64
335  0    0.0
Name: Happy, dtype: float64
336  0    0.0
Name: Happy, dtype: float64
337  0    0.0
Name: Happy, dtype: float64
338  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
334  0    0.040976
Name: Sad, dtype: float64
335   0    0.03528
Name: Sad, dtype: float64
336  0    0.031735
Name: Sad, dtype: float64
337  0    0.029165
Name: Sad, dtype: float64
338  0    0.026369
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
334  0    0.019676
Name: Angry, dtype: float64
335  0    0.017745
Name: Angry, dtype: float64
336  0    0.014799
Name: Angry, dtype: float64
337  0    0.013128
Name: Angry, dtype: float64
338  0    0.012529
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
334  0    0.0
Name: Surprised, dtype: float64  ...
335  0    0.0
Name: Surprised, dtype: float64  ...
336  0    0.0
Name: Surprised, dtype: float64  ...
337  0    0.0
Name: Surprised, dtype: float64  ...
338  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
334  0    0.245436
Name: Arousal, dtype: float64              0
335   0    0.24704
Name: Arousal, dtype: float64              0
336  0    0.248967
Name: Arousal, dtype: float64              0
337  0    0.250219
Name: Arousal, dtype: float64              0
338  0    0.251159
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
334                0       6678.0   0          0   0             0         0
335                0         6672   0          0   0             0         0
336                0       6669.5   0          0   0             0         0
337                0         6661   0          0   0             0         0
338                0       6645.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
334      0
335      0
336      0
337      0
338      0

[339 rows x 24 columns]
----Time----
16950
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
335  1  Базаев Кирилл  16800      0     0
336  1  Базаев Кирилл  16850      0     0
337  1  Базаев Кирилл  16900      0     0
338  1  Базаев Кирилл  16950      0     0
339  1  Базаев Кирилл  17000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
335  0    0.672632
Name: Neutral, dtype: float64
336  0    0.681939
Name: Neutral, dtype: float64
337  0    0.687133
Name: Neutral, dtype: float64
338  0    0.692603
Name: Neutral, dtype: float64
339   0    0.69992
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
335  0    0.0
Name: Happy, dtype: float64
336  0    0.0
Name: Happy, dtype: float64
337  0    0.0
Name: Happy, dtype: float64
338  0    0.0
Name: Happy, dtype: float64
339  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
335   0    0.03528
Name: Sad, dtype: float64
336  0    0.031735
Name: Sad, dtype: float64
337  0    0.029165
Name: Sad, dtype: float64
338  0    0.026369
Name: Sad, dtype: float64
339  0    0.023625
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
335  0    0.017745
Name: Angry, dtype: float64
336  0    0.014799
Name: Angry, dtype: float64
337  0    0.013128
Name: Angry, dtype: float64
338  0    0.012529
Name: Angry, dtype: float64
339  0    0.011779
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
335  0    0.0
Name: Surprised, dtype: float64  ...
336  0    0.0
Name: Surprised, dtype: float64  ...
337  0    0.0
Name: Surprised, dtype: float64  ...
338  0    0.0
Name: Surprised, dtype: float64  ...
339  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
335   0    0.24704
Name: Arousal, dtype: float64              0
336  0    0.248967
Name: Arousal, dtype: float64              0
337  0    0.250219
Name: Arousal, dtype: float64              0
338  0    0.251159
Name: Arousal, dtype: float64              0
339  0    0.253104
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
335                0         6672   0          0   0             0         0
336                0       6669.5   0          0   0             0         0
337                0         6661   0          0   0             0         0
338                0       6645.5   0          0   0             0         0
339                0         6631   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
335      0
336      0
337      0
338      0
339      0

[340 rows x 24 columns]
----Time----
17000

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
336  1  Базаев Кирилл  16850      0     0
337  1  Базаев Кирилл  16900      0     0
338  1  Базаев Кирилл  16950      0     0
339  1  Базаев Кирилл  17000      0     0
340  1  Базаев Кирилл  17050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
336  0    0.681939
Name: Neutral, dtype: float64
337  0    0.687133
Name: Neutral, dtype: float64
338  0    0.692603
Name: Neutral, dtype: float64
339   0    0.69992
Name: Neutral, dtype: float64
340  0    0.704691
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
336  0    0.0
Name: Happy, dtype: float64
337  0    0.0
Name: Happy, dtype: float64
338  0    0.0
Name: Happy, dtype: float64
339  0    0.0
Name: Happy, dtype: float64
340  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
336  0    0.031735
Name: Sad, dtype: float64
337  0    0.029165
Name: Sad, dtype: float64
338  0    0.026369
Name: Sad, dtype: float64
339  0    0.023625
Name: Sad, dtype: float64
340  0    0.022901
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
336  0    0.014799
Name: Angry, dtype: float64
337  0    0.013128
Name: Angry, dtype: float64
338  0    0.012529
Name: Angry, dtype: float64
339  0    0.011779
Name: Angry, dtype: float64
340  0    0.009823
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
336  0    0.0
Name: Surprised, dtype: float64  ...
337  0    0.0
Name: Surprised, dtype: float64  ...
338  0    0.0
Name: Surprised, dtype: float64  ...
339  0    0.0
Name: Surprised, dtype: float64  ...
340  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
336  0    0.248967
Name: Arousal, dtype: float64              0
337  0    0.250219
Name: Arousal, dtype: float64              0
338  0    0.251159
Name: Arousal, dtype: float64              0
339  0    0.253104
Name: Arousal, dtype: float64              0
340  0    0.255122
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
336                0       6669.5   0          0   0             0         0
337                0         6661   0          0   0             0         0
338                0       6645.5   0          0   0             0         0
339                0         6631   0          0   0             0         0
340                0       6630.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
336      0
337      0
338      0
339      0
340      0

[341 rows x 24 columns]
----Time----
17050
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
337  1  Базаев Кирилл  16900      0     0
338  1  Базаев Кирилл  16950      0     0
339  1  Базаев Кирилл  17000      0     0
340  1  Базаев Кирилл  17050      0     0
341  1  Базаев Кирилл  17100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
337  0    0.687133
Name: Neutral, dtype: float64
338  0    0.692603
Name: Neutral, dtype: float64
339   0    0.69992
Name: Neutral, dtype: float64
340  0    0.704691
Name: Neutral, dtype: float64
341  0    0.708631
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
337  0    0.0
Name: Happy, dtype: float64
338  0    0.0
Name: Happy, dtype: float64
339  0    0.0
Name: Happy, dtype: float64
340  0    0.0
Name: Happy, dtype: float64
341  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
337  0    0.029165
Name: Sad, dtype: float64
338  0    0.026369
Name: Sad, dtype: float64
339  0    0.023625
Name: Sad, dtype: float64
340  0    0.022901
Name: Sad, dtype: float64
341  0    0.022104
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
337  0    0.013128
Name: Angry, dtype: float64
338  0    0.012529
Name: Angry, dtype: float64
339  0    0.011779
Name: Angry, dtype: float64
340  0    0.009823
Name: Angry, dtype: float64
341  0    0.008714
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
337  0    0.0
Name: Surprised, dtype: float64  ...
338  0    0.0
Name: Surprised, dtype: float64  ...
339  0    0.0
Name: Surprised, dtype: float64  ...
340  0    0.0
Name: Surprised, dtype: float64  ...
341  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
337  0    0.250219
Name: Arousal, dtype: float64              0
338  0    0.251159
Name: Arousal, dtype: float64              0
339  0    0.253104
Name: Arousal, dtype: float64              0
340  0    0.255122
Name: Arousal, dtype: float64              0
341  0    0.256215
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
337                0         6661   0          0   0             0         0
338                0       6645.5   0          0   0             0         0
339                0         6631   0          0   0             0         0
340                0       6630.5   0          0   0             0         0
341                0       6666.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
337      0
338      0
339      0
340      0
341      0

[342 rows x 24 columns]
----Time----
17100

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
338  1  Базаев Кирилл  16950      0     0
339  1  Базаев Кирилл  17000      0     0
340  1  Базаев Кирилл  17050      0     0
341  1  Базаев Кирилл  17100      0     0
342  1  Базаев Кирилл  17150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
338  0    0.692603
Name: Neutral, dtype: float64
339   0    0.69992
Name: Neutral, dtype: float64
340  0    0.704691
Name: Neutral, dtype: float64
341  0    0.708631
Name: Neutral, dtype: float64
342  0    0.711318
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
338  0    0.0
Name: Happy, dtype: float64
339  0    0.0
Name: Happy, dtype: float64
340  0    0.0
Name: Happy, dtype: float64
341  0    0.0
Name: Happy, dtype: float64
342  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
338  0    0.026369
Name: Sad, dtype: float64
339  0    0.023625
Name: Sad, dtype: float64
340  0    0.022901
Name: Sad, dtype: float64
341  0    0.022104
Name: Sad, dtype: float64
342  0    0.021193
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
338  0    0.012529
Name: Angry, dtype: float64
339  0    0.011779
Name: Angry, dtype: float64
340  0    0.009823
Name: Angry, dtype: float64
341  0    0.008714
Name: Angry, dtype: float64
342   0    0.00773
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
338  0    0.0
Name: Surprised, dtype: float64  ...
339  0    0.0
Name: Surprised, dtype: float64  ...
340  0    0.0
Name: Surprised, dtype: float64  ...
341  0    0.0
Name: Surprised, dtype: float64  ...
342  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
338  0    0.251159
Name: Arousal, dtype: float64              0
339  0    0.253104
Name: Arousal, dtype: float64              0
340  0    0.255122
Name: Arousal, dtype: float64              0
341  0    0.256215
Name: Arousal, dtype: float64              0
342  0    0.256802
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
338                0       6645.5   0          0   0             0         0
339                0         6631   0          0   0             0         0
340                0       6630.5   0          0   0             0         0
341                0       6666.5   0          0   0             0         0
342                0         6696   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
338      0
339      0
340      0
341      0
342      0

[343 rows x 24 columns]
----Time----
17150
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
339  1  Базаев Кирилл  17000      0     0
340  1  Базаев Кирилл  17050      0     0
341  1  Базаев Кирилл  17100      0     0
342  1  Базаев Кирилл  17150      0     0
343  1  Базаев Кирилл  17200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
339   0    0.69992
Name: Neutral, dtype: float64
340  0    0.704691
Name: Neutral, dtype: float64
341  0    0.708631
Name: Neutral, dtype: float64
342  0    0.711318
Name: Neutral, dtype: float64
343  0    0.716904
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
339  0    0.0
Name: Happy, dtype: float64
340  0    0.0
Name: Happy, dtype: float64
341  0    0.0
Name: Happy, dtype: float64
342  0    0.0
Name: Happy, dtype: float64
343  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
339  0    0.023625
Name: Sad, dtype: float64
340  0    0.022901
Name: Sad, dtype: float64
341  0    0.022104
Name: Sad, dtype: float64
342  0    0.021193
Name: Sad, dtype: float64
343   0    0.02056
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
339  0    0.011779
Name: Angry, dtype: float64
340  0    0.009823
Name: Angry, dtype: float64
341  0    0.008714
Name: Angry, dtype: float64
342   0    0.00773
Name: Angry, dtype: float64
343   0    0.00647
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
339  0    0.0
Name: Surprised, dtype: float64  ...
340  0    0.0
Name: Surprised, dtype: float64  ...
341  0    0.0
Name: Surprised, dtype: float64  ...
342  0    0.0
Name: Surprised, dtype: float64  ...
343  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
339  0    0.253104
Name: Arousal, dtype: float64              0
340  0    0.255122
Name: Arousal, dtype: float64              0
341  0    0.256215
Name: Arousal, dtype: float64              0
342  0    0.256802
Name: Arousal, dtype: float64              0
343  0    0.257215
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
339                0         6631   0          0   0             0         0
340                0       6630.5   0          0   0             0         0
341                0       6666.5   0          0   0             0         0
342                0         6696   0          0   0             0         0
343                0       6691.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
339      0
340      0
341      0
342      0
343      0

[344 rows x 24 columns]
----Time----
17200

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
340  1  Базаев Кирилл  17050      0     0
341  1  Базаев Кирилл  17100      0     0
342  1  Базаев Кирилл  17150      0     0
343  1  Базаев Кирилл  17200      0     0
344  1  Базаев Кирилл  17250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
340  0    0.704691
Name: Neutral, dtype: float64
341  0    0.708631
Name: Neutral, dtype: float64
342  0    0.711318
Name: Neutral, dtype: float64
343  0    0.716904
Name: Neutral, dtype: float64
344  0    0.720495
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
340  0    0.0
Name: Happy, dtype: float64
341  0    0.0
Name: Happy, dtype: float64
342  0    0.0
Name: Happy, dtype: float64
343  0    0.0
Name: Happy, dtype: float64
344  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
340  0    0.022901
Name: Sad, dtype: float64
341  0    0.022104
Name: Sad, dtype: float64
342  0    0.021193
Name: Sad, dtype: float64
343   0    0.02056
Name: Sad, dtype: float64
344  0    0.020996
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
340  0    0.009823
Name: Angry, dtype: float64
341  0    0.008714
Name: Angry, dtype: float64
342   0    0.00773
Name: Angry, dtype: float64
343   0    0.00647
Name: Angry, dtype: float64
344  0    0.005396
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
340  0    0.0
Name: Surprised, dtype: float64  ...
341  0    0.0
Name: Surprised, dtype: float64  ...
342  0    0.0
Name: Surprised, dtype: float64  ...
343  0    0.0
Name: Surprised, dtype: float64  ...
344  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
340  0    0.255122
Name: Arousal, dtype: float64              0
341  0    0.256215
Name: Arousal, dtype: float64              0
342  0    0.256802
Name: Arousal, dtype: float64              0
343  0    0.257215
Name: Arousal, dtype: float64              0
344  0    0.257407
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
340                0       6630.5   0          0   0             0         0
341                0       6666.5   0          0   0             0         0
342                0         6696   0          0   0             0         0
343                0       6691.0   0          0   0             0         0
344                0         6659   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
340      0
341      0
342      0
343      0
344      0

[345 rows x 24 columns]
----Time----
17250
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
341  1  Базаев Кирилл  17100      0     0
342  1  Базаев Кирилл  17150      0     0
343  1  Базаев Кирилл  17200      0     0
344  1  Базаев Кирилл  17250      0     0
345  1  Базаев Кирилл  17300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
341  0    0.708631
Name: Neutral, dtype: float64
342  0    0.711318
Name: Neutral, dtype: float64
343  0    0.716904
Name: Neutral, dtype: float64
344  0    0.720495
Name: Neutral, dtype: float64
345  0    0.724194
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
341  0    0.0
Name: Happy, dtype: float64
342  0    0.0
Name: Happy, dtype: float64
343  0    0.0
Name: Happy, dtype: float64
344  0    0.0
Name: Happy, dtype: float64
345  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
341  0    0.022104
Name: Sad, dtype: float64
342  0    0.021193
Name: Sad, dtype: float64
343   0    0.02056
Name: Sad, dtype: float64
344  0    0.020996
Name: Sad, dtype: float64
345  0    0.019955
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
341  0    0.008714
Name: Angry, dtype: float64
342   0    0.00773
Name: Angry, dtype: float64
343   0    0.00647
Name: Angry, dtype: float64
344  0    0.005396
Name: Angry, dtype: float64
345  0    0.004786
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
341  0    0.0
Name: Surprised, dtype: float64  ...
342  0    0.0
Name: Surprised, dtype: float64  ...
343  0    0.0
Name: Surprised, dtype: float64  ...
344  0    0.0
Name: Surprised, dtype: float64  ...
345  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
341  0    0.256215
Name: Arousal, dtype: float64              0
342  0    0.256802
Name: Arousal, dtype: float64              0
343  0    0.257215
Name: Arousal, dtype: float64              0
344  0    0.257407
Name: Arousal, dtype: float64              0
345  0    0.257407
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
341                0       6666.5   0          0   0             0         0
342                0         6696   0          0   0             0         0
343                0       6691.0   0          0   0             0         0
344                0         6659   0          0   0             0         0
345                0       6616.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
341      0
342      0
343      0
344      0
345      0

[346 rows x 24 columns]
----Time----
17300

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
342  1  Базаев Кирилл  17150      0     0
343  1  Базаев Кирилл  17200      0     0
344  1  Базаев Кирилл  17250      0     0
345  1  Базаев Кирилл  17300      0     0
346  1  Базаев Кирилл  17350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
342  0    0.711318
Name: Neutral, dtype: float64
343  0    0.716904
Name: Neutral, dtype: float64
344  0    0.720495
Name: Neutral, dtype: float64
345  0    0.724194
Name: Neutral, dtype: float64
346  0    0.729085
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
342  0    0.0
Name: Happy, dtype: float64
343  0    0.0
Name: Happy, dtype: float64
344  0    0.0
Name: Happy, dtype: float64
345  0    0.0
Name: Happy, dtype: float64
346  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
342  0    0.021193
Name: Sad, dtype: float64
343   0    0.02056
Name: Sad, dtype: float64
344  0    0.020996
Name: Sad, dtype: float64
345  0    0.019955
Name: Sad, dtype: float64
346  0    0.017904
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
342   0    0.00773
Name: Angry, dtype: float64
343   0    0.00647
Name: Angry, dtype: float64
344  0    0.005396
Name: Angry, dtype: float64
345  0    0.004786
Name: Angry, dtype: float64
346  0    0.004246
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
342  0    0.0
Name: Surprised, dtype: float64  ...
343  0    0.0
Name: Surprised, dtype: float64  ...
344  0    0.0
Name: Surprised, dtype: float64  ...
345  0    0.0
Name: Surprised, dtype: float64  ...
346  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
342  0    0.256802
Name: Arousal, dtype: float64              0
343  0    0.257215
Name: Arousal, dtype: float64              0
344  0    0.257407
Name: Arousal, dtype: float64              0
345  0    0.257407
Name: Arousal, dtype: float64              0
346  0    0.257384
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
342                0         6696   0          0   0             0         0
343                0       6691.0   0          0   0             0         0
344                0         6659   0          0   0             0         0
345                0       6616.5   0          0   0             0         0
346                0         6584   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
342      0
343      0
344      0
345      0
346      0

[347 rows x 24 columns]
----Time----
17350
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
343  1  Базаев Кирилл  17200      0     0
344  1  Базаев Кирилл  17250      0     0
345  1  Базаев Кирилл  17300      0     0
346  1  Базаев Кирилл  17350      0     0
347  1  Базаев Кирилл  17400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
343  0    0.716904
Name: Neutral, dtype: float64
344  0    0.720495
Name: Neutral, dtype: float64
345  0    0.724194
Name: Neutral, dtype: float64
346  0    0.729085
Name: Neutral, dtype: float64
347  0    0.739258
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
343  0    0.0
Name: Happy, dtype: float64
344  0    0.0
Name: Happy, dtype: float64
345  0    0.0
Name: Happy, dtype: float64
346  0    0.0
Name: Happy, dtype: float64
347  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
343   0    0.02056
Name: Sad, dtype: float64
344  0    0.020996
Name: Sad, dtype: float64
345  0    0.019955
Name: Sad, dtype: float64
346  0    0.017904
Name: Sad, dtype: float64
347  0    0.015168
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
343   0    0.00647
Name: Angry, dtype: float64
344  0    0.005396
Name: Angry, dtype: float64
345  0    0.004786
Name: Angry, dtype: float64
346  0    0.004246
Name: Angry, dtype: float64
347  0    0.003554
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
343  0    0.0
Name: Surprised, dtype: float64  ...
344  0    0.0
Name: Surprised, dtype: float64  ...
345  0    0.0
Name: Surprised, dtype: float64  ...
346  0    0.0
Name: Surprised, dtype: float64  ...
347  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
343  0    0.257215
Name: Arousal, dtype: float64              0
344  0    0.257407
Name: Arousal, dtype: float64              0
345  0    0.257407
Name: Arousal, dtype: float64              0
346  0    0.257384
Name: Arousal, dtype: float64              0
347  0    0.257292
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
343                0       6691.0   0          0   0             0         0
344                0         6659   0          0   0             0         0
345                0       6616.5   0          0   0             0         0
346                0         6584   0          0   0             0         0
347                0       6574.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
343      0
344      0
345      0
346      0
347      0

[348 rows x 24 columns]
----Time----
17400

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
344  1  Базаев Кирилл  17250      0     0
345  1  Базаев Кирилл  17300      0     0
346  1  Базаев Кирилл  17350      0     0
347  1  Базаев Кирилл  17400      0     0
348  1  Базаев Кирилл  17450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
344  0    0.720495
Name: Neutral, dtype: float64
345  0    0.724194
Name: Neutral, dtype: float64
346  0    0.729085
Name: Neutral, dtype: float64
347  0    0.739258
Name: Neutral, dtype: float64
348  0    0.749757
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
344  0    0.0
Name: Happy, dtype: float64
345  0    0.0
Name: Happy, dtype: float64
346  0    0.0
Name: Happy, dtype: float64
347  0    0.0
Name: Happy, dtype: float64
348  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
344  0    0.020996
Name: Sad, dtype: float64
345  0    0.019955
Name: Sad, dtype: float64
346  0    0.017904
Name: Sad, dtype: float64
347  0    0.015168
Name: Sad, dtype: float64
348  0    0.012822
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
344  0    0.005396
Name: Angry, dtype: float64
345  0    0.004786
Name: Angry, dtype: float64
346  0    0.004246
Name: Angry, dtype: float64
347  0    0.003554
Name: Angry, dtype: float64
348  0    0.002964
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
344  0    0.0
Name: Surprised, dtype: float64  ...
345  0    0.0
Name: Surprised, dtype: float64  ...
346  0    0.0
Name: Surprised, dtype: float64  ...
347  0    0.0
Name: Surprised, dtype: float64  ...
348  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
344  0    0.257407
Name: Arousal, dtype: float64              0
345  0    0.257407
Name: Arousal, dtype: float64              0
346  0    0.257384
Name: Arousal, dtype: float64              0
347  0    0.257292
Name: Arousal, dtype: float64              0
348  0    0.257106
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
344                0         6659   0          0   0             0         0
345                0       6616.5   0          0   0             0         0
346                0         6584   0          0   0             0         0
347                0       6574.0   0          0   0             0         0
348                0       6573.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
344      0
345      0
346      0
347      0
348      0

[349 rows x 24 columns]
----Time----
17450
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
345  1  Базаев Кирилл  17300      0     0
346  1  Базаев Кирилл  17350      0     0
347  1  Базаев Кирилл  17400      0     0
348  1  Базаев Кирилл  17450      0     0
349  1  Базаев Кирилл  17500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
345  0    0.724194
Name: Neutral, dtype: float64
346  0    0.729085
Name: Neutral, dtype: float64
347  0    0.739258
Name: Neutral, dtype: float64
348  0    0.749757
Name: Neutral, dtype: float64
349  0    0.756061
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
345  0    0.0
Name: Happy, dtype: float64
346  0    0.0
Name: Happy, dtype: float64
347  0    0.0
Name: Happy, dtype: float64
348  0    0.0
Name: Happy, dtype: float64
349  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
345  0    0.019955
Name: Sad, dtype: float64
346  0    0.017904
Name: Sad, dtype: float64
347  0    0.015168
Name: Sad, dtype: float64
348  0    0.012822
Name: Sad, dtype: float64
349  0    0.011374
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
345  0    0.004786
Name: Angry, dtype: float64
346  0    0.004246
Name: Angry, dtype: float64
347  0    0.003554
Name: Angry, dtype: float64
348  0    0.002964
Name: Angry, dtype: float64
349  0    0.002629
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
345  0    0.0
Name: Surprised, dtype: float64  ...
346  0    0.0
Name: Surprised, dtype: float64  ...
347  0    0.0
Name: Surprised, dtype: float64  ...
348  0    0.0
Name: Surprised, dtype: float64  ...
349  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
345  0    0.257407
Name: Arousal, dtype: float64              0
346  0    0.257384
Name: Arousal, dtype: float64              0
347  0    0.257292
Name: Arousal, dtype: float64              0
348  0    0.257106
Name: Arousal, dtype: float64              0
349   0    0.25692
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
345                0       6616.5   0          0   0             0         0
346                0         6584   0          0   0             0         0
347                0       6574.0   0          0   0             0         0
348                0       6573.5   0          0   0             0         0
349                0         6568   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
345      0
346      0
347      0
348      0
349      0

[350 rows x 24 columns]
----Time----
17500

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
346  1  Базаев Кирилл  17350      0     0
347  1  Базаев Кирилл  17400      0     0
348  1  Базаев Кирилл  17450      0     0
349  1  Базаев Кирилл  17500      0     0
350  1  Базаев Кирилл  17550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
346  0    0.729085
Name: Neutral, dtype: float64
347  0    0.739258
Name: Neutral, dtype: float64
348  0    0.749757
Name: Neutral, dtype: float64
349  0    0.756061
Name: Neutral, dtype: float64
350  0    0.762383
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
346  0    0.0
Name: Happy, dtype: float64
347  0    0.0
Name: Happy, dtype: float64
348  0    0.0
Name: Happy, dtype: float64
349  0    0.0
Name: Happy, dtype: float64
350  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
346  0    0.017904
Name: Sad, dtype: float64
347  0    0.015168
Name: Sad, dtype: float64
348  0    0.012822
Name: Sad, dtype: float64
349  0    0.011374
Name: Sad, dtype: float64
350  0    0.010089
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
346  0    0.004246
Name: Angry, dtype: float64
347  0    0.003554
Name: Angry, dtype: float64
348  0    0.002964
Name: Angry, dtype: float64
349  0    0.002629
Name: Angry, dtype: float64
350  0    0.002332
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
346  0    0.0
Name: Surprised, dtype: float64  ...
347  0    0.0
Name: Surprised, dtype: float64  ...
348  0    0.0
Name: Surprised, dtype: float64  ...
349  0    0.0
Name: Surprised, dtype: float64  ...
350  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
346  0    0.257384
Name: Arousal, dtype: float64              0
347  0    0.257292
Name: Arousal, dtype: float64              0
348  0    0.257106
Name: Arousal, dtype: float64              0
349   0    0.25692
Name: Arousal, dtype: float64              0
350  0    0.256729
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
346                0         6584   0          0   0             0         0
347                0       6574.0   0          0   0             0         0
348                0       6573.5   0          0   0             0         0
349                0         6568   0          0   0             0         0
350                0       6554.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
346      0
347      0
348      0
349      0
350      0

[351 rows x 24 columns]
----Time----
17550
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
347  1  Базаев Кирилл  17400      0     0
348  1  Базаев Кирилл  17450      0     0
349  1  Базаев Кирилл  17500      0     0
350  1  Базаев Кирилл  17550      0     0
351  1  Базаев Кирилл  17600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
347  0    0.739258
Name: Neutral, dtype: float64
348  0    0.749757
Name: Neutral, dtype: float64
349  0    0.756061
Name: Neutral, dtype: float64
350  0    0.762383
Name: Neutral, dtype: float64
351  0    0.771683
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
347  0    0.0
Name: Happy, dtype: float64
348  0    0.0
Name: Happy, dtype: float64
349  0    0.0
Name: Happy, dtype: float64
350  0    0.0
Name: Happy, dtype: float64
351  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
347  0    0.015168
Name: Sad, dtype: float64
348  0    0.012822
Name: Sad, dtype: float64
349  0    0.011374
Name: Sad, dtype: float64
350  0    0.010089
Name: Sad, dtype: float64
351  0    0.008445
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
347  0    0.003554
Name: Angry, dtype: float64
348  0    0.002964
Name: Angry, dtype: float64
349  0    0.002629
Name: Angry, dtype: float64
350  0    0.002332
Name: Angry, dtype: float64
351  0    0.001952
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
347  0    0.0
Name: Surprised, dtype: float64  ...
348  0    0.0
Name: Surprised, dtype: float64  ...
349  0    0.0
Name: Surprised, dtype: float64  ...
350  0    0.0
Name: Surprised, dtype: float64  ...
351  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
347  0    0.257292
Name: Arousal, dtype: float64              0
348  0    0.257106
Name: Arousal, dtype: float64              0
349   0    0.25692
Name: Arousal, dtype: float64              0
350  0    0.256729
Name: Arousal, dtype: float64              0
351  0    0.256451
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
347                0       6574.0   0          0   0             0         0
348                0       6573.5   0          0   0             0         0
349                0         6568   0          0   0             0         0
350                0       6554.5   0          0   0             0         0
351                0         6539   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
347      0
348      0
349      0
350      0
351      0

[352 rows x 24 columns]
----Time----
17600

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
348  1  Базаев Кирилл  17450      0     0
349  1  Базаев Кирилл  17500      0     0
350  1  Базаев Кирилл  17550      0     0
351  1  Базаев Кирилл  17600      0     0
352  1  Базаев Кирилл  17650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
348  0    0.749757
Name: Neutral, dtype: float64
349  0    0.756061
Name: Neutral, dtype: float64
350  0    0.762383
Name: Neutral, dtype: float64
351  0    0.771683
Name: Neutral, dtype: float64
352  0    0.779809
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
348  0    0.0
Name: Happy, dtype: float64
349  0    0.0
Name: Happy, dtype: float64
350  0    0.0
Name: Happy, dtype: float64
351  0    0.0
Name: Happy, dtype: float64
352  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
348  0    0.012822
Name: Sad, dtype: float64
349  0    0.011374
Name: Sad, dtype: float64
350  0    0.010089
Name: Sad, dtype: float64
351  0    0.008445
Name: Sad, dtype: float64
352  0    0.007043
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
348  0    0.002964
Name: Angry, dtype: float64
349  0    0.002629
Name: Angry, dtype: float64
350  0    0.002332
Name: Angry, dtype: float64
351  0    0.001952
Name: Angry, dtype: float64
352  0    0.001628
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
348  0    0.0
Name: Surprised, dtype: float64  ...
349  0    0.0
Name: Surprised, dtype: float64  ...
350  0    0.0
Name: Surprised, dtype: float64  ...
351  0    0.0
Name: Surprised, dtype: float64  ...
352  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
348  0    0.257106
Name: Arousal, dtype: float64              0
349   0    0.25692
Name: Arousal, dtype: float64              0
350  0    0.256729
Name: Arousal, dtype: float64              0
351  0    0.256451
Name: Arousal, dtype: float64              0
352  0    0.256181
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
348                0       6573.5   0          0   0             0         0
349                0         6568   0          0   0             0         0
350                0       6554.5   0          0   0             0         0
351                0         6539   0          0   0             0         0
352                0       6531.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
348      0
349      0
350      0
351      0
352      0

[353 rows x 24 columns]
----Time----
17650
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
349  1  Базаев Кирилл  17500      0     0
350  1  Базаев Кирилл  17550      0     0
351  1  Базаев Кирилл  17600      0     0
352  1  Базаев Кирилл  17650      0     0
353  1  Базаев Кирилл  17700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
349  0    0.756061
Name: Neutral, dtype: float64
350  0    0.762383
Name: Neutral, dtype: float64
351  0    0.771683
Name: Neutral, dtype: float64
352  0    0.779809
Name: Neutral, dtype: float64
353  0    0.783328
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
349  0    0.0
Name: Happy, dtype: float64
350  0    0.0
Name: Happy, dtype: float64
351  0    0.0
Name: Happy, dtype: float64
352  0    0.0
Name: Happy, dtype: float64
353  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
349  0    0.011374
Name: Sad, dtype: float64
350  0    0.010089
Name: Sad, dtype: float64
351  0    0.008445
Name: Sad, dtype: float64
352  0    0.007043
Name: Sad, dtype: float64
353  0    0.006247
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
349  0    0.002629
Name: Angry, dtype: float64
350  0    0.002332
Name: Angry, dtype: float64
351  0    0.001952
Name: Angry, dtype: float64
352  0    0.001628
Name: Angry, dtype: float64
353  0    0.001444
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
349  0    0.0
Name: Surprised, dtype: float64  ...
350  0    0.0
Name: Surprised, dtype: float64  ...
351  0    0.0
Name: Surprised, dtype: float64  ...
352  0    0.0
Name: Surprised, dtype: float64  ...
353  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
349   0    0.25692
Name: Arousal, dtype: float64              0
350  0    0.256729
Name: Arousal, dtype: float64              0
351  0    0.256451
Name: Arousal, dtype: float64              0
352  0    0.256181
Name: Arousal, dtype: float64              0
353  0    0.256005
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
349                0         6568   0          0   0             0         0
350                0       6554.5   0          0   0             0         0
351                0         6539   0          0   0             0         0
352                0       6531.5   0          0   0             0         0
353                0         6543   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
349      0
350      0
351      0
352      0
353      0

[354 rows x 24 columns]
----Time----
17700

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
350  1  Базаев Кирилл  17550      0     0
351  1  Базаев Кирилл  17600      0     0
352  1  Базаев Кирилл  17650      0     0
353  1  Базаев Кирилл  17700      0     0
354  1  Базаев Кирилл  17750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
350  0    0.762383
Name: Neutral, dtype: float64
351  0    0.771683
Name: Neutral, dtype: float64
352  0    0.779809
Name: Neutral, dtype: float64
353  0    0.783328
Name: Neutral, dtype: float64
354  0    0.787657
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
350  0    0.0
Name: Happy, dtype: float64
351  0    0.0
Name: Happy, dtype: float64
352  0    0.0
Name: Happy, dtype: float64
353  0    0.0
Name: Happy, dtype: float64
354  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
350  0    0.010089
Name: Sad, dtype: float64
351  0    0.008445
Name: Sad, dtype: float64
352  0    0.007043
Name: Sad, dtype: float64
353  0    0.006247
Name: Sad, dtype: float64
354  0    0.005542
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
350  0    0.002332
Name: Angry, dtype: float64
351  0    0.001952
Name: Angry, dtype: float64
352  0    0.001628
Name: Angry, dtype: float64
353  0    0.001444
Name: Angry, dtype: float64
354  0    0.001281
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
350  0    0.0
Name: Surprised, dtype: float64  ...
351  0    0.0
Name: Surprised, dtype: float64  ...
352  0    0.0
Name: Surprised, dtype: float64  ...
353  0    0.0
Name: Surprised, dtype: float64  ...
354  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
350  0    0.256729
Name: Arousal, dtype: float64              0
351  0    0.256451
Name: Arousal, dtype: float64              0
352  0    0.256181
Name: Arousal, dtype: float64              0
353  0    0.256005
Name: Arousal, dtype: float64              0
354  0    0.255833
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
350                0       6554.5   0          0   0             0         0
351                0         6539   0          0   0             0         0
352                0       6531.5   0          0   0             0         0
353                0         6543   0          0   0             0         0
354                0       6578.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
350      0
351      0
352      0
353      0
354      0

[355 rows x 24 columns]
----Time----
17750
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
351  1  Базаев Кирилл  17600      0     0
352  1  Базаев Кирилл  17650      0     0
353  1  Базаев Кирилл  17700      0     0
354  1  Базаев Кирилл  17750      0     0
355  1  Базаев Кирилл  17800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
351  0    0.771683
Name: Neutral, dtype: float64
352  0    0.779809
Name: Neutral, dtype: float64
353  0    0.783328
Name: Neutral, dtype: float64
354  0    0.787657
Name: Neutral, dtype: float64
355  0    0.795905
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
351  0    0.0
Name: Happy, dtype: float64
352  0    0.0
Name: Happy, dtype: float64
353  0    0.0
Name: Happy, dtype: float64
354  0    0.0
Name: Happy, dtype: float64
355  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
351  0    0.008445
Name: Sad, dtype: float64
352  0    0.007043
Name: Sad, dtype: float64
353  0    0.006247
Name: Sad, dtype: float64
354  0    0.005542
Name: Sad, dtype: float64
355  0    0.004638
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
351  0    0.001952
Name: Angry, dtype: float64
352  0    0.001628
Name: Angry, dtype: float64
353  0    0.001444
Name: Angry, dtype: float64
354  0    0.001281
Name: Angry, dtype: float64
355  0    0.001072
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
351  0    0.0
Name: Surprised, dtype: float64  ...
352  0    0.0
Name: Surprised, dtype: float64  ...
353  0    0.0
Name: Surprised, dtype: float64  ...
354  0    0.0
Name: Surprised, dtype: float64  ...
355  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
351  0    0.256451
Name: Arousal, dtype: float64              0
352  0    0.256181
Name: Arousal, dtype: float64              0
353  0    0.256005
Name: Arousal, dtype: float64              0
354  0    0.255833
Name: Arousal, dtype: float64              0
355  0    0.255582
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
351                0         6539   0          0   0             0         0
352                0       6531.5   0          0   0             0         0
353                0         6543   0          0   0             0         0
354                0       6578.5   0          0   0             0         0
355                0         6610   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
351      0
352      0
353      0
354      0
355      0

[356 rows x 24 columns]
----Time----
17800

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
352  1  Базаев Кирилл  17650      0     0
353  1  Базаев Кирилл  17700      0     0
354  1  Базаев Кирилл  17750      0     0
355  1  Базаев Кирилл  17800      0     0
356  1  Базаев Кирилл  17850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
352  0    0.779809
Name: Neutral, dtype: float64
353  0    0.783328
Name: Neutral, dtype: float64
354  0    0.787657
Name: Neutral, dtype: float64
355  0    0.795905
Name: Neutral, dtype: float64
356  0    0.803902
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
352  0    0.0
Name: Happy, dtype: float64
353  0    0.0
Name: Happy, dtype: float64
354  0    0.0
Name: Happy, dtype: float64
355  0    0.0
Name: Happy, dtype: float64
356  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
352  0    0.007043
Name: Sad, dtype: float64
353  0    0.006247
Name: Sad, dtype: float64
354  0    0.005542
Name: Sad, dtype: float64
355  0    0.004638
Name: Sad, dtype: float64
356  0    0.003868
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
352  0    0.001628
Name: Angry, dtype: float64
353  0    0.001444
Name: Angry, dtype: float64
354  0    0.001281
Name: Angry, dtype: float64
355  0    0.001072
Name: Angry, dtype: float64
356  0    0.000894
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
352  0    0.0
Name: Surprised, dtype: float64  ...
353  0    0.0
Name: Surprised, dtype: float64  ...
354  0    0.0
Name: Surprised, dtype: float64  ...
355  0    0.0
Name: Surprised, dtype: float64  ...
356  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
352  0    0.256181
Name: Arousal, dtype: float64              0
353  0    0.256005
Name: Arousal, dtype: float64              0
354  0    0.255833
Name: Arousal, dtype: float64              0
355  0    0.255582
Name: Arousal, dtype: float64              0
356  0    0.255338
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
352                0       6531.5   0          0   0             0         0
353                0         6543   0          0   0             0         0
354                0       6578.5   0          0   0             0         0
355                0         6610   0          0   0             0         0
356                0       6605.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
352      0
353      0
354      0
355      0
356      0

[357 rows x 24 columns]
----Time----
17850
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
353  1  Базаев Кирилл  17700      0     0
354  1  Базаев Кирилл  17750      0     0
355  1  Базаев Кирилл  17800      0     0
356  1  Базаев Кирилл  17850      0     0
357  1  Базаев Кирилл  17900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
353  0    0.783328
Name: Neutral, dtype: float64
354  0    0.787657
Name: Neutral, dtype: float64
355  0    0.795905
Name: Neutral, dtype: float64
356  0    0.803902
Name: Neutral, dtype: float64
357  0    0.808691
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
353  0    0.0
Name: Happy, dtype: float64
354  0    0.0
Name: Happy, dtype: float64
355  0    0.0
Name: Happy, dtype: float64
356  0    0.0
Name: Happy, dtype: float64
357  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
353  0    0.006247
Name: Sad, dtype: float64
354  0    0.005542
Name: Sad, dtype: float64
355  0    0.004638
Name: Sad, dtype: float64
356  0    0.003868
Name: Sad, dtype: float64
357  0    0.003432
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
353  0    0.001444
Name: Angry, dtype: float64
354  0    0.001281
Name: Angry, dtype: float64
355  0    0.001072
Name: Angry, dtype: float64
356  0    0.000894
Name: Angry, dtype: float64
357  0    0.000793
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
353  0    0.0
Name: Surprised, dtype: float64  ...
354  0    0.0
Name: Surprised, dtype: float64  ...
355  0    0.0
Name: Surprised, dtype: float64  ...
356  0    0.0
Name: Surprised, dtype: float64  ...
357  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
353  0    0.256005
Name: Arousal, dtype: float64              0
354  0    0.255833
Name: Arousal, dtype: float64              0
355  0    0.255582
Name: Arousal, dtype: float64              0
356  0    0.255338
Name: Arousal, dtype: float64              0
357  0    0.255179
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
353                0         6543   0          0   0             0         0
354                0       6578.5   0          0   0             0         0
355                0         6610   0          0   0             0         0
356                0       6605.0   0          0   0             0         0
357                0       6559.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
353      0
354      0
355      0
356      0
357      0

[358 rows x 24 columns]
----Time----
17900

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
354  1  Базаев Кирилл  17750      0     0
355  1  Базаев Кирилл  17800      0     0
356  1  Базаев Кирилл  17850      0     0
357  1  Базаев Кирилл  17900      0     0
358  1  Базаев Кирилл  17950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
354  0    0.787657
Name: Neutral, dtype: float64
355  0    0.795905
Name: Neutral, dtype: float64
356  0    0.803902
Name: Neutral, dtype: float64
357  0    0.808691
Name: Neutral, dtype: float64
358  0    0.813545
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
354  0    0.0
Name: Happy, dtype: float64
355  0    0.0
Name: Happy, dtype: float64
356  0    0.0
Name: Happy, dtype: float64
357  0    0.0
Name: Happy, dtype: float64
358  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
354  0    0.005542
Name: Sad, dtype: float64
355  0    0.004638
Name: Sad, dtype: float64
356  0    0.003868
Name: Sad, dtype: float64
357  0    0.003432
Name: Sad, dtype: float64
358  0    0.003044
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
354  0    0.001281
Name: Angry, dtype: float64
355  0    0.001072
Name: Angry, dtype: float64
356  0    0.000894
Name: Angry, dtype: float64
357  0    0.000793
Name: Angry, dtype: float64
358  0    0.000704
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
354  0    0.0
Name: Surprised, dtype: float64  ...
355  0    0.0
Name: Surprised, dtype: float64  ...
356  0    0.0
Name: Surprised, dtype: float64  ...
357  0    0.0
Name: Surprised, dtype: float64  ...
358  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
354  0    0.255833
Name: Arousal, dtype: float64              0
355  0    0.255582
Name: Arousal, dtype: float64              0
356  0    0.255338
Name: Arousal, dtype: float64              0
357  0    0.255179
Name: Arousal, dtype: float64              0
358  0    0.255024
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
354                0       6578.5   0          0   0             0         0
355                0         6610   0          0   0             0         0
356                0       6605.0   0          0   0             0         0
357                0       6559.0   0          0   0             0         0
358                0         6521   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
354      0
355      0
356      0
357      0
358      0

[359 rows x 24 columns]
----Time----
17950
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
355  1  Базаев Кирилл  17800      0     0
356  1  Базаев Кирилл  17850      0     0
357  1  Базаев Кирилл  17900      0     0
358  1  Базаев Кирилл  17950      0     0
359  1  Базаев Кирилл  18000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
355  0    0.795905
Name: Neutral, dtype: float64
356  0    0.803902
Name: Neutral, dtype: float64
357  0    0.808691
Name: Neutral, dtype: float64
358  0    0.813545
Name: Neutral, dtype: float64
359  0    0.818909
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
355  0    0.0
Name: Happy, dtype: float64
356  0    0.0
Name: Happy, dtype: float64
357  0    0.0
Name: Happy, dtype: float64
358  0    0.0
Name: Happy, dtype: float64
359  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
355  0    0.004638
Name: Sad, dtype: float64
356  0    0.003868
Name: Sad, dtype: float64
357  0    0.003432
Name: Sad, dtype: float64
358  0    0.003044
Name: Sad, dtype: float64
359  0    0.002548
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
355  0    0.001072
Name: Angry, dtype: float64
356  0    0.000894
Name: Angry, dtype: float64
357  0    0.000793
Name: Angry, dtype: float64
358  0    0.000704
Name: Angry, dtype: float64
359  0    0.000589
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
355  0    0.0
Name: Surprised, dtype: float64  ...
356  0    0.0
Name: Surprised, dtype: float64  ...
357  0    0.0
Name: Surprised, dtype: float64  ...
358  0    0.0
Name: Surprised, dtype: float64  ...
359  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
355  0    0.255582
Name: Arousal, dtype: float64              0
356  0    0.255338
Name: Arousal, dtype: float64              0
357  0    0.255179
Name: Arousal, dtype: float64              0
358  0    0.255024
Name: Arousal, dtype: float64              0
359  0    0.254797
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
355                0         6610   0          0   0             0         0
356                0       6605.0   0          0   0             0         0
357                0       6559.0   0          0   0             0         0
358                0         6521   0          0   0             0         0
359                0       6503.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
355      0
356      0
357      0
358      0
359      0

[360 rows x 24 columns]
----Time----
18000

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
356  1  Базаев Кирилл  17850      0     0
357  1  Базаев Кирилл  17900      0     0
358  1  Базаев Кирилл  17950      0     0
359  1  Базаев Кирилл  18000      0     0
360  1  Базаев Кирилл  18050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
356  0    0.803902
Name: Neutral, dtype: float64
357  0    0.808691
Name: Neutral, dtype: float64
358  0    0.813545
Name: Neutral, dtype: float64
359  0    0.818909
Name: Neutral, dtype: float64
360  0    0.820907
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
356  0    0.0
Name: Happy, dtype: float64
357  0    0.0
Name: Happy, dtype: float64
358  0    0.0
Name: Happy, dtype: float64
359  0    0.0
Name: Happy, dtype: float64
360  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
356  0    0.003868
Name: Sad, dtype: float64
357  0    0.003432
Name: Sad, dtype: float64
358  0    0.003044
Name: Sad, dtype: float64
359  0    0.002548
Name: Sad, dtype: float64
360  0    0.002125
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
356  0    0.000894
Name: Angry, dtype: float64
357  0    0.000793
Name: Angry, dtype: float64
358  0    0.000704
Name: Angry, dtype: float64
359  0    0.000589
Name: Angry, dtype: float64
360  0    0.000491
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
356  0    0.0
Name: Surprised, dtype: float64  ...
357  0    0.0
Name: Surprised, dtype: float64  ...
358  0    0.0
Name: Surprised, dtype: float64  ...
359  0    0.0
Name: Surprised, dtype: float64  ...
360  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
356  0    0.255338
Name: Arousal, dtype: float64              0
357  0    0.255179
Name: Arousal, dtype: float64              0
358  0    0.255024
Name: Arousal, dtype: float64              0
359  0    0.254797
Name: Arousal, dtype: float64              0
360  0    0.254576
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
356                0       6605.0   0          0   0             0         0
357                0       6559.0   0          0   0             0         0
358                0         6521   0          0   0             0         0
359                0       6503.5   0          0   0             0         0
360                0         6501   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
356      0
357      0
358      0
359      0
360      0

[361 rows x 24 columns]
----Time----
18050
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
357  1  Базаев Кирилл  17900      0     0
358  1  Базаев Кирилл  17950      0     0
359  1  Базаев Кирилл  18000      0     0
360  1  Базаев Кирилл  18050      0     0
361  1  Базаев Кирилл  18100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
357  0    0.808691
Name: Neutral, dtype: float64
358  0    0.813545
Name: Neutral, dtype: float64
359  0    0.818909
Name: Neutral, dtype: float64
360  0    0.820907
Name: Neutral, dtype: float64
361  0    0.821153
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
357  0    0.0
Name: Happy, dtype: float64
358  0    0.0
Name: Happy, dtype: float64
359  0    0.0
Name: Happy, dtype: float64
360  0    0.0
Name: Happy, dtype: float64
361  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
357  0    0.003432
Name: Sad, dtype: float64
358  0    0.003044
Name: Sad, dtype: float64
359  0    0.002548
Name: Sad, dtype: float64
360  0    0.002125
Name: Sad, dtype: float64
361  0    0.001885
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
357  0    0.000793
Name: Angry, dtype: float64
358  0    0.000704
Name: Angry, dtype: float64
359  0    0.000589
Name: Angry, dtype: float64
360  0    0.000491
Name: Angry, dtype: float64
361  0    0.000436
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
357  0    0.0
Name: Surprised, dtype: float64  ...
358  0    0.0
Name: Surprised, dtype: float64  ...
359  0    0.0
Name: Surprised, dtype: float64  ...
360  0    0.0
Name: Surprised, dtype: float64  ...
361  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
357  0    0.255179
Name: Arousal, dtype: float64              0
358  0    0.255024
Name: Arousal, dtype: float64              0
359  0    0.254797
Name: Arousal, dtype: float64              0
360  0    0.254576
Name: Arousal, dtype: float64              0
361  0    0.254433
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
357                0       6559.0   0          0   0             0         0
358                0         6521   0          0   0             0         0
359                0       6503.5   0          0   0             0         0
360                0         6501   0          0   0             0         0
361                0       6503.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
357      0
358      0
359      0
360      0
361      0

[362 rows x 24 columns]
----Time----
18100

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
358  1  Базаев Кирилл  17950      0     0
359  1  Базаев Кирилл  18000      0     0
360  1  Базаев Кирилл  18050      0     0
361  1  Базаев Кирилл  18100      0     0
362  1  Базаев Кирилл  18150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
358  0    0.813545
Name: Neutral, dtype: float64
359  0    0.818909
Name: Neutral, dtype: float64
360  0    0.820907
Name: Neutral, dtype: float64
361  0    0.821153
Name: Neutral, dtype: float64
362  0    0.821302
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
358  0    0.0
Name: Happy, dtype: float64
359  0    0.0
Name: Happy, dtype: float64
360  0    0.0
Name: Happy, dtype: float64
361  0    0.0
Name: Happy, dtype: float64
362  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
358  0    0.003044
Name: Sad, dtype: float64
359  0    0.002548
Name: Sad, dtype: float64
360  0    0.002125
Name: Sad, dtype: float64
361  0    0.001885
Name: Sad, dtype: float64
362  0    0.001672
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
358  0    0.000704
Name: Angry, dtype: float64
359  0    0.000589
Name: Angry, dtype: float64
360  0    0.000491
Name: Angry, dtype: float64
361  0    0.000436
Name: Angry, dtype: float64
362  0    0.000387
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
358  0    0.0
Name: Surprised, dtype: float64  ...
359  0    0.0
Name: Surprised, dtype: float64  ...
360  0    0.0
Name: Surprised, dtype: float64  ...
361  0    0.0
Name: Surprised, dtype: float64  ...
362  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
358  0    0.255024
Name: Arousal, dtype: float64              0
359  0    0.254797
Name: Arousal, dtype: float64              0
360  0    0.254576
Name: Arousal, dtype: float64              0
361  0    0.254433
Name: Arousal, dtype: float64              0
362  0    0.254293
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
358                0         6521   0          0   0             0         0
359                0       6503.5   0          0   0             0         0
360                0         6501   0          0   0             0         0
361                0       6503.0   0          0   0             0         0
362                0         6500   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
358      0
359      0
360      0
361      0
362      0

[363 rows x 24 columns]
----Time----
18150
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
359  1  Базаев Кирилл  18000      0     0
360  1  Базаев Кирилл  18050      0     0
361  1  Базаев Кирилл  18100      0     0
362  1  Базаев Кирилл  18150      0     0
363  1  Базаев Кирилл  18200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
359  0    0.818909
Name: Neutral, dtype: float64
360  0    0.820907
Name: Neutral, dtype: float64
361  0    0.821153
Name: Neutral, dtype: float64
362  0    0.821302
Name: Neutral, dtype: float64
363  0    0.822369
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
359  0    0.0
Name: Happy, dtype: float64
360  0    0.0
Name: Happy, dtype: float64
361  0    0.0
Name: Happy, dtype: float64
362  0    0.0
Name: Happy, dtype: float64
363  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
359  0    0.002548
Name: Sad, dtype: float64
360  0    0.002125
Name: Sad, dtype: float64
361  0    0.001885
Name: Sad, dtype: float64
362  0    0.001672
Name: Sad, dtype: float64
363  0    0.001399
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
359  0    0.000589
Name: Angry, dtype: float64
360  0    0.000491
Name: Angry, dtype: float64
361  0    0.000436
Name: Angry, dtype: float64
362  0    0.000387
Name: Angry, dtype: float64
363  0    0.000323
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
359  0    0.0
Name: Surprised, dtype: float64  ...
360  0    0.0
Name: Surprised, dtype: float64  ...
361  0    0.0
Name: Surprised, dtype: float64  ...
362  0    0.0
Name: Surprised, dtype: float64  ...
363  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
359  0    0.254797
Name: Arousal, dtype: float64              0
360  0    0.254576
Name: Arousal, dtype: float64              0
361  0    0.254433
Name: Arousal, dtype: float64              0
362  0    0.254293
Name: Arousal, dtype: float64              0
363  0    0.254088
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
359                0       6503.5   0          0   0             0         0
360                0         6501   0          0   0             0         0
361                0       6503.0   0          0   0             0         0
362                0         6500   0          0   0             0         0
363                0       6491.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
359      0
360      0
361      0
362      0
363      0

[364 rows x 24 columns]
----Time----
18200

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
360  1  Базаев Кирилл  18050      0     0
361  1  Базаев Кирилл  18100      0     0
362  1  Базаев Кирилл  18150      0     0
363  1  Базаев Кирилл  18200      0     0
364  1  Базаев Кирилл  18250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
360  0    0.820907
Name: Neutral, dtype: float64
361  0    0.821153
Name: Neutral, dtype: float64
362  0    0.821302
Name: Neutral, dtype: float64
363  0    0.822369
Name: Neutral, dtype: float64
364  0    0.823634
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
360  0    0.0
Name: Happy, dtype: float64
361  0    0.0
Name: Happy, dtype: float64
362  0    0.0
Name: Happy, dtype: float64
363  0    0.0
Name: Happy, dtype: float64
364  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
360  0    0.002125
Name: Sad, dtype: float64
361  0    0.001885
Name: Sad, dtype: float64
362  0    0.001672
Name: Sad, dtype: float64
363  0    0.001399
Name: Sad, dtype: float64
364  0    0.001167
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
360  0    0.000491
Name: Angry, dtype: float64
361  0    0.000436
Name: Angry, dtype: float64
362  0    0.000387
Name: Angry, dtype: float64
363  0    0.000323
Name: Angry, dtype: float64
364   0    0.00027
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
360  0    0.0
Name: Surprised, dtype: float64  ...
361  0    0.0
Name: Surprised, dtype: float64  ...
362  0    0.0
Name: Surprised, dtype: float64  ...
363  0    0.0
Name: Surprised, dtype: float64  ...
364  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
360  0    0.254576
Name: Arousal, dtype: float64              0
361  0    0.254433
Name: Arousal, dtype: float64              0
362  0    0.254293
Name: Arousal, dtype: float64              0
363  0    0.254088
Name: Arousal, dtype: float64              0
364  0    0.253889
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
360                0         6501   0          0   0             0         0
361                0       6503.0   0          0   0             0         0
362                0         6500   0          0   0             0         0
363                0       6491.5   0          0   0             0         0
364                0       6476.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
360      0
361      0
362      0
363      0
364      0

[365 rows x 24 columns]
----Time----
18250
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
361  1  Базаев Кирилл  18100      0     0
362  1  Базаев Кирилл  18150      0     0
363  1  Базаев Кирилл  18200      0     0
364  1  Базаев Кирилл  18250      0     0
365  1  Базаев Кирилл  18300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
361  0    0.821153
Name: Neutral, dtype: float64
362  0    0.821302
Name: Neutral, dtype: float64
363  0    0.822369
Name: Neutral, dtype: float64
364  0    0.823634
Name: Neutral, dtype: float64
365  0    0.824642
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
361  0    0.0
Name: Happy, dtype: float64
362  0    0.0
Name: Happy, dtype: float64
363  0    0.0
Name: Happy, dtype: float64
364  0    0.0
Name: Happy, dtype: float64
365  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
361  0    0.001885
Name: Sad, dtype: float64
362  0    0.001672
Name: Sad, dtype: float64
363  0    0.001399
Name: Sad, dtype: float64
364  0    0.001167
Name: Sad, dtype: float64
365  0    0.001035
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
361  0    0.000436
Name: Angry, dtype: float64
362  0    0.000387
Name: Angry, dtype: float64
363  0    0.000323
Name: Angry, dtype: float64
364   0    0.00027
Name: Angry, dtype: float64
365  0    0.000239
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
361  0    0.0
Name: Surprised, dtype: float64  ...
362  0    0.0
Name: Surprised, dtype: float64  ...
363  0    0.0
Name: Surprised, dtype: float64  ...
364  0    0.0
Name: Surprised, dtype: float64  ...
365  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
361  0    0.254433
Name: Arousal, dtype: float64              0
362  0    0.254293
Name: Arousal, dtype: float64              0
363  0    0.254088
Name: Arousal, dtype: float64              0
364  0    0.253889
Name: Arousal, dtype: float64              0
365   0    0.25376
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
361                0       6503.0   0          0   0             0         0
362                0         6500   0          0   0             0         0
363                0       6491.5   0          0   0             0         0
364                0       6476.0   0          0   0             0         0
365                0         6468   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
361      0
362      0
363      0
364      0
365      0

[366 rows x 24 columns]
----Time----
18300

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
362  1  Базаев Кирилл  18150      0     0
363  1  Базаев Кирилл  18200      0     0
364  1  Базаев Кирилл  18250      0     0
365  1  Базаев Кирилл  18300      0     0
366  1  Базаев Кирилл  18350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
362  0    0.821302
Name: Neutral, dtype: float64
363  0    0.822369
Name: Neutral, dtype: float64
364  0    0.823634
Name: Neutral, dtype: float64
365  0    0.824642
Name: Neutral, dtype: float64
366    0    0.8258
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
362  0    0.0
Name: Happy, dtype: float64
363  0    0.0
Name: Happy, dtype: float64
364  0    0.0
Name: Happy, dtype: float64
365  0    0.0
Name: Happy, dtype: float64
366  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
362  0    0.001672
Name: Sad, dtype: float64
363  0    0.001399
Name: Sad, dtype: float64
364  0    0.001167
Name: Sad, dtype: float64
365  0    0.001035
Name: Sad, dtype: float64
366  0    0.000918
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
362  0    0.000387
Name: Angry, dtype: float64
363  0    0.000323
Name: Angry, dtype: float64
364   0    0.00027
Name: Angry, dtype: float64
365  0    0.000239
Name: Angry, dtype: float64
366  0    0.000212
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
362  0    0.0
Name: Surprised, dtype: float64  ...
363  0    0.0
Name: Surprised, dtype: float64  ...
364  0    0.0
Name: Surprised, dtype: float64  ...
365  0    0.0
Name: Surprised, dtype: float64  ...
366  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
362  0    0.254293
Name: Arousal, dtype: float64              0
363  0    0.254088
Name: Arousal, dtype: float64              0
364  0    0.253889
Name: Arousal, dtype: float64              0
365   0    0.25376
Name: Arousal, dtype: float64              0
366  0    0.253633
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
362                0         6500   0          0   0             0         0
363                0       6491.5   0          0   0             0         0
364                0       6476.0   0          0   0             0         0
365                0         6468   0          0   0             0         0
366                0       6483.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
362      0
363      0
364      0
365      0
366      0

[367 rows x 24 columns]
----Time----
18350
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
363  1  Базаев Кирилл  18200      0     0
364  1  Базаев Кирилл  18250      0     0
365  1  Базаев Кирилл  18300      0     0
366  1  Базаев Кирилл  18350      0     0
367  1  Базаев Кирилл  18400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
363  0    0.822369
Name: Neutral, dtype: float64
364  0    0.823634
Name: Neutral, dtype: float64
365  0    0.824642
Name: Neutral, dtype: float64
366    0    0.8258
Name: Neutral, dtype: float64
367  0    0.826704
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
363  0    0.0
Name: Happy, dtype: float64
364  0    0.0
Name: Happy, dtype: float64
365  0    0.0
Name: Happy, dtype: float64
366  0    0.0
Name: Happy, dtype: float64
367  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
363  0    0.001399
Name: Sad, dtype: float64
364  0    0.001167
Name: Sad, dtype: float64
365  0    0.001035
Name: Sad, dtype: float64
366  0    0.000918
Name: Sad, dtype: float64
367  0    0.000769
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
363  0    0.000323
Name: Angry, dtype: float64
364   0    0.00027
Name: Angry, dtype: float64
365  0    0.000239
Name: Angry, dtype: float64
366  0    0.000212
Name: Angry, dtype: float64
367  0    0.000178
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
363  0    0.0
Name: Surprised, dtype: float64  ...
364  0    0.0
Name: Surprised, dtype: float64  ...
365  0    0.0
Name: Surprised, dtype: float64  ...
366  0    0.0
Name: Surprised, dtype: float64  ...
367  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
363  0    0.254088
Name: Arousal, dtype: float64              0
364  0    0.253889
Name: Arousal, dtype: float64              0
365   0    0.25376
Name: Arousal, dtype: float64              0
366  0    0.253633
Name: Arousal, dtype: float64              0
367  0    0.253449
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
363                0       6491.5   0          0   0             0         0
364                0       6476.0   0          0   0             0         0
365                0         6468   0          0   0             0         0
366                0       6483.5   0          0   0             0         0
367                0         6523   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
363      0
364      0
365      0
366      0
367      0

[368 rows x 24 columns]
----Time----
18400

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
364  1  Базаев Кирилл  18250      0     0
365  1  Базаев Кирилл  18300      0     0
366  1  Базаев Кирилл  18350      0     0
367  1  Базаев Кирилл  18400      0     0
368  1  Базаев Кирилл  18450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
364  0    0.823634
Name: Neutral, dtype: float64
365  0    0.824642
Name: Neutral, dtype: float64
366    0    0.8258
Name: Neutral, dtype: float64
367  0    0.826704
Name: Neutral, dtype: float64
368  0    0.827401
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
364  0    0.0
Name: Happy, dtype: float64
365  0    0.0
Name: Happy, dtype: float64
366  0    0.0
Name: Happy, dtype: float64
367  0    0.0
Name: Happy, dtype: float64
368  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
364  0    0.001167
Name: Sad, dtype: float64
365  0    0.001035
Name: Sad, dtype: float64
366  0    0.000918
Name: Sad, dtype: float64
367  0    0.000769
Name: Sad, dtype: float64
368  0    0.000641
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
364   0    0.00027
Name: Angry, dtype: float64
365  0    0.000239
Name: Angry, dtype: float64
366  0    0.000212
Name: Angry, dtype: float64
367  0    0.000178
Name: Angry, dtype: float64
368  0    0.000148
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
364  0    0.0
Name: Surprised, dtype: float64  ...
365  0    0.0
Name: Surprised, dtype: float64  ...
366  0    0.0
Name: Surprised, dtype: float64  ...
367  0    0.0
Name: Surprised, dtype: float64  ...
368  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
364  0    0.253889
Name: Arousal, dtype: float64              0
365   0    0.25376
Name: Arousal, dtype: float64              0
366  0    0.253633
Name: Arousal, dtype: float64              0
367  0    0.253449
Name: Arousal, dtype: float64              0
368  0    0.253269
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
364                0       6476.0   0          0   0             0         0
365                0         6468   0          0   0             0         0
366                0       6483.5   0          0   0             0         0
367                0         6523   0          0   0             0         0
368                0       6561.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
364      0
365      0
366      0
367      0
368      0

[369 rows x 24 columns]
----Time----
18450
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
365  1  Базаев Кирилл  18300      0     0
366  1  Базаев Кирилл  18350      0     0
367  1  Базаев Кирилл  18400      0     0
368  1  Базаев Кирилл  18450      0     0
369  1  Базаев Кирилл  18500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
365  0    0.824642
Name: Neutral, dtype: float64
366    0    0.8258
Name: Neutral, dtype: float64
367  0    0.826704
Name: Neutral, dtype: float64
368  0    0.827401
Name: Neutral, dtype: float64
369   0    0.82838
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
365  0    0.0
Name: Happy, dtype: float64
366  0    0.0
Name: Happy, dtype: float64
367  0    0.0
Name: Happy, dtype: float64
368  0    0.0
Name: Happy, dtype: float64
369  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
365  0    0.001035
Name: Sad, dtype: float64
366  0    0.000918
Name: Sad, dtype: float64
367  0    0.000769
Name: Sad, dtype: float64
368  0    0.000641
Name: Sad, dtype: float64
369  0    0.000569
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
365  0    0.000239
Name: Angry, dtype: float64
366  0    0.000212
Name: Angry, dtype: float64
367  0    0.000178
Name: Angry, dtype: float64
368  0    0.000148
Name: Angry, dtype: float64
369  0    0.000131
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
365  0    0.0
Name: Surprised, dtype: float64  ...
366  0    0.0
Name: Surprised, dtype: float64  ...
367  0    0.0
Name: Surprised, dtype: float64  ...
368  0    0.0
Name: Surprised, dtype: float64  ...
369  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
365   0    0.25376
Name: Arousal, dtype: float64              0
366  0    0.253633
Name: Arousal, dtype: float64              0
367  0    0.253449
Name: Arousal, dtype: float64              0
368  0    0.253269
Name: Arousal, dtype: float64              0
369  0    0.253152
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
365                0         6468   0          0   0             0         0
366                0       6483.5   0          0   0             0         0
367                0         6523   0          0   0             0         0
368                0       6561.0   0          0   0             0         0
369                0         6569   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
365      0
366      0
367      0
368      0
369      0

[370 rows x 24 columns]
----Time----
18500

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
366  1  Базаев Кирилл  18350      0     0
367  1  Базаев Кирилл  18400      0     0
368  1  Базаев Кирилл  18450      0     0
369  1  Базаев Кирилл  18500      0     0
370  1  Базаев Кирилл  18550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
366    0    0.8258
Name: Neutral, dtype: float64
367  0    0.826704
Name: Neutral, dtype: float64
368  0    0.827401
Name: Neutral, dtype: float64
369   0    0.82838
Name: Neutral, dtype: float64
370  0    0.829982
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
366  0    0.0
Name: Happy, dtype: float64
367  0    0.0
Name: Happy, dtype: float64
368  0    0.0
Name: Happy, dtype: float64
369  0    0.0
Name: Happy, dtype: float64
370  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
366  0    0.000918
Name: Sad, dtype: float64
367  0    0.000769
Name: Sad, dtype: float64
368  0    0.000641
Name: Sad, dtype: float64
369  0    0.000569
Name: Sad, dtype: float64
370  0    0.000504
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
366  0    0.000212
Name: Angry, dtype: float64
367  0    0.000178
Name: Angry, dtype: float64
368  0    0.000148
Name: Angry, dtype: float64
369  0    0.000131
Name: Angry, dtype: float64
370  0    0.000117
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
366  0    0.0
Name: Surprised, dtype: float64  ...
367  0    0.0
Name: Surprised, dtype: float64  ...
368  0    0.0
Name: Surprised, dtype: float64  ...
369  0    0.0
Name: Surprised, dtype: float64  ...
370  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
366  0    0.253633
Name: Arousal, dtype: float64              0
367  0    0.253449
Name: Arousal, dtype: float64              0
368  0    0.253269
Name: Arousal, dtype: float64              0
369  0    0.253152
Name: Arousal, dtype: float64              0
370  0    0.253038
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
366                0       6483.5   0          0   0             0         0
367                0         6523   0          0   0             0         0
368                0       6561.0   0          0   0             0         0
369                0         6569   0          0   0             0         0
370                0       6539.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
366      0
367      0
368      0
369      0
370      0

[371 rows x 24 columns]
----Time----
18550
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
367  1  Базаев Кирилл  18400      0     0
368  1  Базаев Кирилл  18450      0     0
369  1  Базаев Кирилл  18500      0     0
370  1  Базаев Кирилл  18550      0     0
371  1  Базаев Кирилл  18600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
367  0    0.826704
Name: Neutral, dtype: float64
368  0    0.827401
Name: Neutral, dtype: float64
369   0    0.82838
Name: Neutral, dtype: float64
370  0    0.829982
Name: Neutral, dtype: float64
371  0    0.831103
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
367  0    0.0
Name: Happy, dtype: float64
368  0    0.0
Name: Happy, dtype: float64
369  0    0.0
Name: Happy, dtype: float64
370  0    0.0
Name: Happy, dtype: float64
371  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
367  0    0.000769
Name: Sad, dtype: float64
368  0    0.000641
Name: Sad, dtype: float64
369  0    0.000569
Name: Sad, dtype: float64
370  0    0.000504
Name: Sad, dtype: float64
371  0    0.000422
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
367  0    0.000178
Name: Angry, dtype: float64
368  0    0.000148
Name: Angry, dtype: float64
369  0    0.000131
Name: Angry, dtype: float64
370  0    0.000117
Name: Angry, dtype: float64
371  0    0.000098
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
367  0    0.0
Name: Surprised, dtype: float64  ...
368  0    0.0
Name: Surprised, dtype: float64  ...
369  0    0.0
Name: Surprised, dtype: float64  ...
370  0    0.0
Name: Surprised, dtype: float64  ...
371  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
367  0    0.253449
Name: Arousal, dtype: float64              0
368  0    0.253269
Name: Arousal, dtype: float64              0
369  0    0.253152
Name: Arousal, dtype: float64              0
370  0    0.253038
Name: Arousal, dtype: float64              0
371  0    0.252871
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
367                0         6523   0          0   0             0         0
368                0       6561.0   0          0   0             0         0
369                0         6569   0          0   0             0         0
370                0       6539.5   0          0   0             0         0
371                0         6505   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
367      0
368      0
369      0
370      0
371      0

[372 rows x 24 columns]
----Time----
18600

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
368  1  Базаев Кирилл  18450      0     0
369  1  Базаев Кирилл  18500      0     0
370  1  Базаев Кирилл  18550      0     0
371  1  Базаев Кирилл  18600      0     0
372  1  Базаев Кирилл  18650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
368  0    0.827401
Name: Neutral, dtype: float64
369   0    0.82838
Name: Neutral, dtype: float64
370  0    0.829982
Name: Neutral, dtype: float64
371  0    0.831103
Name: Neutral, dtype: float64
372  0    0.832819
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
368  0    0.0
Name: Happy, dtype: float64
369  0    0.0
Name: Happy, dtype: float64
370  0    0.0
Name: Happy, dtype: float64
371  0    0.0
Name: Happy, dtype: float64
372  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
368  0    0.000641
Name: Sad, dtype: float64
369  0    0.000569
Name: Sad, dtype: float64
370  0    0.000504
Name: Sad, dtype: float64
371  0    0.000422
Name: Sad, dtype: float64
372  0    0.000352
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
368  0    0.000148
Name: Angry, dtype: float64
369  0    0.000131
Name: Angry, dtype: float64
370  0    0.000117
Name: Angry, dtype: float64
371  0    0.000098
Name: Angry, dtype: float64
372  0    0.000081
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
368  0    0.0
Name: Surprised, dtype: float64  ...
369  0    0.0
Name: Surprised, dtype: float64  ...
370  0    0.0
Name: Surprised, dtype: float64  ...
371  0    0.0
Name: Surprised, dtype: float64  ...
372  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
368  0    0.253269
Name: Arousal, dtype: float64              0
369  0    0.253152
Name: Arousal, dtype: float64              0
370  0    0.253038
Name: Arousal, dtype: float64              0
371  0    0.252871
Name: Arousal, dtype: float64              0
372  0    0.252708
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
368                0       6561.0   0          0   0             0         0
369                0         6569   0          0   0             0         0
370                0       6539.5   0          0   0             0         0
371                0         6505   0          0   0             0         0
372                0       6486.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
368      0
369      0
370      0
371      0
372      0

[373 rows x 24 columns]
----Time----
18650
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
369  1  Базаев Кирилл  18500      0     0
370  1  Базаев Кирилл  18550      0     0
371  1  Базаев Кирилл  18600      0     0
372  1  Базаев Кирилл  18650      0     0
373  1  Базаев Кирилл  18700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
369   0    0.82838
Name: Neutral, dtype: float64
370  0    0.829982
Name: Neutral, dtype: float64
371  0    0.831103
Name: Neutral, dtype: float64
372  0    0.832819
Name: Neutral, dtype: float64
373  0    0.833018
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
369  0    0.0
Name: Happy, dtype: float64
370  0    0.0
Name: Happy, dtype: float64
371  0    0.0
Name: Happy, dtype: float64
372  0    0.0
Name: Happy, dtype: float64
373  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
369  0    0.000569
Name: Sad, dtype: float64
370  0    0.000504
Name: Sad, dtype: float64
371  0    0.000422
Name: Sad, dtype: float64
372  0    0.000352
Name: Sad, dtype: float64
373  0    0.000312
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
369  0    0.000131
Name: Angry, dtype: float64
370  0    0.000117
Name: Angry, dtype: float64
371  0    0.000098
Name: Angry, dtype: float64
372  0    0.000081
Name: Angry, dtype: float64
373  0    0.000072
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
369  0    0.0
Name: Surprised, dtype: float64  ...
370  0    0.0
Name: Surprised, dtype: float64  ...
371  0    0.0
Name: Surprised, dtype: float64  ...
372  0    0.0
Name: Surprised, dtype: float64  ...
373  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
369  0    0.253152
Name: Arousal, dtype: float64              0
370  0    0.253038
Name: Arousal, dtype: float64              0
371  0    0.252871
Name: Arousal, dtype: float64              0
372  0    0.252708
Name: Arousal, dtype: float64              0
373  0    0.252603
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
369                0         6569   0          0   0             0         0
370                0       6539.5   0          0   0             0         0
371                0         6505   0          0   0             0         0
372                0       6486.5   0          0   0             0         0
373                0       6485.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
369      0
370      0
371      0
372      0
373      0

[374 rows x 24 columns]
----Time----
18700

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
370  1  Базаев Кирилл  18550      0     0
371  1  Базаев Кирилл  18600      0     0
372  1  Базаев Кирилл  18650      0     0
373  1  Базаев Кирилл  18700      0     0
374  1  Базаев Кирилл  18750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
370  0    0.829982
Name: Neutral, dtype: float64
371  0    0.831103
Name: Neutral, dtype: float64
372  0    0.832819
Name: Neutral, dtype: float64
373  0    0.833018
Name: Neutral, dtype: float64
374  0    0.830736
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
370  0    0.0
Name: Happy, dtype: float64
371  0    0.0
Name: Happy, dtype: float64
372  0    0.0
Name: Happy, dtype: float64
373  0    0.0
Name: Happy, dtype: float64
374  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
370  0    0.000504
Name: Sad, dtype: float64
371  0    0.000422
Name: Sad, dtype: float64
372  0    0.000352
Name: Sad, dtype: float64
373  0    0.000312
Name: Sad, dtype: float64
374  0    0.000277
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
370  0    0.000117
Name: Angry, dtype: float64
371  0    0.000098
Name: Angry, dtype: float64
372  0    0.000081
Name: Angry, dtype: float64
373  0    0.000072
Name: Angry, dtype: float64
374  0    0.000064
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
370  0    0.0
Name: Surprised, dtype: float64  ...
371  0    0.0
Name: Surprised, dtype: float64  ...
372  0    0.0
Name: Surprised, dtype: float64  ...
373  0    0.0
Name: Surprised, dtype: float64  ...
374  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
370  0    0.253038
Name: Arousal, dtype: float64              0
371  0    0.252871
Name: Arousal, dtype: float64              0
372  0    0.252708
Name: Arousal, dtype: float64              0
373  0    0.252603
Name: Arousal, dtype: float64              0
374    0    0.2525
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
370                0       6539.5   0          0   0             0         0
371                0         6505   0          0   0             0         0
372                0       6486.5   0          0   0             0         0
373                0       6485.0   0          0   0             0         0
374                0         6491   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
370      0
371      0
372      0
373      0
374      0

[375 rows x 24 columns]
----Time----
18750
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
371  1  Базаев Кирилл  18600      0     0
372  1  Базаев Кирилл  18650      0     0
373  1  Базаев Кирилл  18700      0     0
374  1  Базаев Кирилл  18750      0     0
375  1  Базаев Кирилл  18800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
371  0    0.831103
Name: Neutral, dtype: float64
372  0    0.832819
Name: Neutral, dtype: float64
373  0    0.833018
Name: Neutral, dtype: float64
374  0    0.830736
Name: Neutral, dtype: float64
375  0    0.828231
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
371  0    0.0
Name: Happy, dtype: float64
372  0    0.0
Name: Happy, dtype: float64
373  0    0.0
Name: Happy, dtype: float64
374  0    0.0
Name: Happy, dtype: float64
375  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
371  0    0.000422
Name: Sad, dtype: float64
372  0    0.000352
Name: Sad, dtype: float64
373  0    0.000312
Name: Sad, dtype: float64
374  0    0.000277
Name: Sad, dtype: float64
375  0    0.000232
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
371  0    0.000098
Name: Angry, dtype: float64
372  0    0.000081
Name: Angry, dtype: float64
373  0    0.000072
Name: Angry, dtype: float64
374  0    0.000064
Name: Angry, dtype: float64
375  0    0.000054
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
371  0    0.0
Name: Surprised, dtype: float64  ...
372  0    0.0
Name: Surprised, dtype: float64  ...
373  0    0.0
Name: Surprised, dtype: float64  ...
374  0    0.0
Name: Surprised, dtype: float64  ...
375  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
371  0    0.252871
Name: Arousal, dtype: float64              0
372  0    0.252708
Name: Arousal, dtype: float64              0
373  0    0.252603
Name: Arousal, dtype: float64              0
374    0    0.2525
Name: Arousal, dtype: float64              0
375  0    0.252349
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
371                0         6505   0          0   0             0         0
372                0       6486.5   0          0   0             0         0
373                0       6485.0   0          0   0             0         0
374                0         6491   0          0   0             0         0
375                0       6547.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
371      0
372      0
373      0
374      0
375      0

[376 rows x 24 columns]
----Time----
18800

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
372  1  Базаев Кирилл  18650      0     0
373  1  Базаев Кирилл  18700      0     0
374  1  Базаев Кирилл  18750      0     0
375  1  Базаев Кирилл  18800      0     0
376  1  Базаев Кирилл  18850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
372  0    0.832819
Name: Neutral, dtype: float64
373  0    0.833018
Name: Neutral, dtype: float64
374  0    0.830736
Name: Neutral, dtype: float64
375  0    0.828231
Name: Neutral, dtype: float64
376  0    0.825461
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
372  0    0.0
Name: Happy, dtype: float64
373  0    0.0
Name: Happy, dtype: float64
374  0    0.0
Name: Happy, dtype: float64
375  0    0.0
Name: Happy, dtype: float64
376  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
372  0    0.000352
Name: Sad, dtype: float64
373  0    0.000312
Name: Sad, dtype: float64
374  0    0.000277
Name: Sad, dtype: float64
375  0    0.000232
Name: Sad, dtype: float64
376  0    0.000193
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
372  0    0.000081
Name: Angry, dtype: float64
373  0    0.000072
Name: Angry, dtype: float64
374  0    0.000064
Name: Angry, dtype: float64
375  0    0.000054
Name: Angry, dtype: float64
376  0    0.000045
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
372  0    0.0
Name: Surprised, dtype: float64  ...
373  0    0.0
Name: Surprised, dtype: float64  ...
374  0    0.0
Name: Surprised, dtype: float64  ...
375  0    0.0
Name: Surprised, dtype: float64  ...
376  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
372  0    0.252708
Name: Arousal, dtype: float64              0
373  0    0.252603
Name: Arousal, dtype: float64              0
374    0    0.2525
Name: Arousal, dtype: float64              0
375  0    0.252349
Name: Arousal, dtype: float64              0
376  0    0.252203
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
372                0       6486.5   0          0   0             0         0
373                0       6485.0   0          0   0             0         0
374                0         6491   0          0   0             0         0
375                0       6547.5   0          0   0             0         0
376                0         6745   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
372      0
373      0
374      0
375      0
376      0

[377 rows x 24 columns]
----Time----
18850
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
373  1  Базаев Кирилл  18700      0     0
374  1  Базаев Кирилл  18750      0     0
375  1  Базаев Кирилл  18800      0     0
376  1  Базаев Кирилл  18850      0     0
377  1  Базаев Кирилл  18900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
373  0    0.833018
Name: Neutral, dtype: float64
374  0    0.830736
Name: Neutral, dtype: float64
375  0    0.828231
Name: Neutral, dtype: float64
376  0    0.825461
Name: Neutral, dtype: float64
377  0    0.823706
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
373  0    0.0
Name: Happy, dtype: float64
374  0    0.0
Name: Happy, dtype: float64
375  0    0.0
Name: Happy, dtype: float64
376  0    0.0
Name: Happy, dtype: float64
377  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
373  0    0.000312
Name: Sad, dtype: float64
374  0    0.000277
Name: Sad, dtype: float64
375  0    0.000232
Name: Sad, dtype: float64
376  0    0.000193
Name: Sad, dtype: float64
377  0    0.000172
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
373  0    0.000072
Name: Angry, dtype: float64
374  0    0.000064
Name: Angry, dtype: float64
375  0    0.000054
Name: Angry, dtype: float64
376  0    0.000045
Name: Angry, dtype: float64
377   0    0.00004
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
373  0    0.0
Name: Surprised, dtype: float64  ...
374  0    0.0
Name: Surprised, dtype: float64  ...
375  0    0.0
Name: Surprised, dtype: float64  ...
376  0    0.0
Name: Surprised, dtype: float64  ...
377  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
373  0    0.252603
Name: Arousal, dtype: float64              0
374    0    0.2525
Name: Arousal, dtype: float64              0
375  0    0.252349
Name: Arousal, dtype: float64              0
376  0    0.252203
Name: Arousal, dtype: float64              0
377  0    0.252107
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
373                0       6485.0   0          0   0             0         0
374                0         6491   0          0   0             0         0
375                0       6547.5   0          0   0             0         0
376                0         6745   0          0   0             0         0
377                0       7245.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
373      0
374      0
375      0
376      0
377      0

[378 rows x 24 columns]
----Time----
18900

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
374  1  Базаев Кирилл  18750      0     0
375  1  Базаев Кирилл  18800      0     0
376  1  Базаев Кирилл  18850      0     0
377  1  Базаев Кирилл  18900      0     0
378  1  Базаев Кирилл  18950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
374  0    0.830736
Name: Neutral, dtype: float64
375  0    0.828231
Name: Neutral, dtype: float64
376  0    0.825461
Name: Neutral, dtype: float64
377  0    0.823706
Name: Neutral, dtype: float64
378   0    0.82279
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
374  0    0.0
Name: Happy, dtype: float64
375  0    0.0
Name: Happy, dtype: float64
376  0    0.0
Name: Happy, dtype: float64
377  0    0.0
Name: Happy, dtype: float64
378  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
374  0    0.000277
Name: Sad, dtype: float64
375  0    0.000232
Name: Sad, dtype: float64
376  0    0.000193
Name: Sad, dtype: float64
377  0    0.000172
Name: Sad, dtype: float64
378  0    0.000152
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
374  0    0.000064
Name: Angry, dtype: float64
375  0    0.000054
Name: Angry, dtype: float64
376  0    0.000045
Name: Angry, dtype: float64
377   0    0.00004
Name: Angry, dtype: float64
378  0    0.000035
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
374  0    0.0
Name: Surprised, dtype: float64  ...
375  0    0.0
Name: Surprised, dtype: float64  ...
376  0    0.0
Name: Surprised, dtype: float64  ...
377  0    0.0
Name: Surprised, dtype: float64  ...
378  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
374    0    0.2525
Name: Arousal, dtype: float64              0
375  0    0.252349
Name: Arousal, dtype: float64              0
376  0    0.252203
Name: Arousal, dtype: float64              0
377  0    0.252107
Name: Arousal, dtype: float64              0
378  0    0.252014
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
374                0         6491   0          0   0             0         0
375                0       6547.5   0          0   0             0         0
376                0         6745   0          0   0             0         0
377                0       7245.5   0          0   0             0         0
378                0         7944   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
374      0
375      0
376      0
377      0
378      0

[379 rows x 24 columns]
----Time----
18950
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
375  1  Базаев Кирилл  18800      0     0
376  1  Базаев Кирилл  18850      0     0
377  1  Базаев Кирилл  18900      0     0
378  1  Базаев Кирилл  18950      0     0
379  1  Базаев Кирилл  19000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
375  0    0.828231
Name: Neutral, dtype: float64
376  0    0.825461
Name: Neutral, dtype: float64
377  0    0.823706
Name: Neutral, dtype: float64
378   0    0.82279
Name: Neutral, dtype: float64
379  0    0.823506
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
375  0    0.0
Name: Happy, dtype: float64
376  0    0.0
Name: Happy, dtype: float64
377  0    0.0
Name: Happy, dtype: float64
378  0    0.0
Name: Happy, dtype: float64
379  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
375  0    0.000232
Name: Sad, dtype: float64
376  0    0.000193
Name: Sad, dtype: float64
377  0    0.000172
Name: Sad, dtype: float64
378  0    0.000152
Name: Sad, dtype: float64
379  0    0.000127
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
375  0    0.000054
Name: Angry, dtype: float64
376  0    0.000045
Name: Angry, dtype: float64
377   0    0.00004
Name: Angry, dtype: float64
378  0    0.000035
Name: Angry, dtype: float64
379  0    0.000029
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
375  0    0.0
Name: Surprised, dtype: float64  ...
376  0    0.0
Name: Surprised, dtype: float64  ...
377  0    0.0
Name: Surprised, dtype: float64  ...
378  0    0.0
Name: Surprised, dtype: float64  ...
379  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
375  0    0.252349
Name: Arousal, dtype: float64              0
376  0    0.252203
Name: Arousal, dtype: float64              0
377  0    0.252107
Name: Arousal, dtype: float64              0
378  0    0.252014
Name: Arousal, dtype: float64              0
379  0    0.251878
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
375                0       6547.5   0          0   0             0         0
376                0         6745   0          0   0             0         0
377                0       7245.5   0          0   0             0         0
378                0         7944   0          0   0             0         0
379                0       8482.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
375      0
376      0
377      0
378      0
379      0

[380 rows x 24 columns]
----Time----
19000

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
376  1  Базаев Кирилл  18850      0     0
377  1  Базаев Кирилл  18900      0     0
378  1  Базаев Кирилл  18950      0     0
379  1  Базаев Кирилл  19000      0     0
380  1  Базаев Кирилл  19050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
376  0    0.825461
Name: Neutral, dtype: float64
377  0    0.823706
Name: Neutral, dtype: float64
378   0    0.82279
Name: Neutral, dtype: float64
379  0    0.823506
Name: Neutral, dtype: float64
380  0    0.824392
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
376  0    0.0
Name: Happy, dtype: float64
377  0    0.0
Name: Happy, dtype: float64
378  0    0.0
Name: Happy, dtype: float64
379  0    0.0
Name: Happy, dtype: float64
380  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
376  0    0.000193
Name: Sad, dtype: float64
377  0    0.000172
Name: Sad, dtype: float64
378  0    0.000152
Name: Sad, dtype: float64
379  0    0.000127
Name: Sad, dtype: float64
380  0    0.000106
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
376  0    0.000045
Name: Angry, dtype: float64
377   0    0.00004
Name: Angry, dtype: float64
378  0    0.000035
Name: Angry, dtype: float64
379  0    0.000029
Name: Angry, dtype: float64
380  0    0.000025
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
376  0    0.0
Name: Surprised, dtype: float64  ...
377  0    0.0
Name: Surprised, dtype: float64  ...
378  0    0.0
Name: Surprised, dtype: float64  ...
379  0    0.0
Name: Surprised, dtype: float64  ...
380  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
376  0    0.252203
Name: Arousal, dtype: float64              0
377  0    0.252107
Name: Arousal, dtype: float64              0
378  0    0.252014
Name: Arousal, dtype: float64              0
379  0    0.251878
Name: Arousal, dtype: float64              0
380  0    0.251746
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
376                0         6745   0          0   0             0         0
377                0       7245.5   0          0   0             0         0
378                0         7944   0          0   0             0         0
379                0       8482.5   0          0   0             0         0
380                0         8525   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
376      0
377      0
378      0
379      0
380      0

[381 rows x 24 columns]
----Time----
19050
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
377  1  Базаев Кирилл  18900      0     0
378  1  Базаев Кирилл  18950      0     0
379  1  Базаев Кирилл  19000      0     0
380  1  Базаев Кирилл  19050      0     0
381  1  Базаев Кирилл  19100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
377  0    0.823706
Name: Neutral, dtype: float64
378   0    0.82279
Name: Neutral, dtype: float64
379  0    0.823506
Name: Neutral, dtype: float64
380  0    0.824392
Name: Neutral, dtype: float64
381    0    0.8232
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
377  0    0.0
Name: Happy, dtype: float64
378  0    0.0
Name: Happy, dtype: float64
379  0    0.0
Name: Happy, dtype: float64
380  0    0.0
Name: Happy, dtype: float64
381  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
377  0    0.000172
Name: Sad, dtype: float64
378  0    0.000152
Name: Sad, dtype: float64
379  0    0.000127
Name: Sad, dtype: float64
380  0    0.000106
Name: Sad, dtype: float64
381   0    0.00027
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
377   0    0.00004
Name: Angry, dtype: float64
378  0    0.000035
Name: Angry, dtype: float64
379  0    0.000029
Name: Angry, dtype: float64
380  0    0.000025
Name: Angry, dtype: float64
381  0    0.000022
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
377  0    0.0
Name: Surprised, dtype: float64  ...
378  0    0.0
Name: Surprised, dtype: float64  ...
379  0    0.0
Name: Surprised, dtype: float64  ...
380  0    0.0
Name: Surprised, dtype: float64  ...
381  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
377  0    0.252107
Name: Arousal, dtype: float64              0
378  0    0.252014
Name: Arousal, dtype: float64              0
379  0    0.251878
Name: Arousal, dtype: float64              0
380  0    0.251746
Name: Arousal, dtype: float64              0
381   0    0.25166
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
377                0       7245.5   0          0   0             0         0
378                0         7944   0          0   0             0         0
379                0       8482.5   0          0   0             0         0
380                0         8525   0          0   0             0         0
381                0       7830.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
377      0
378      0
379      0
380      0
381      0

[382 rows x 24 columns]
----Time----
19100

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
378  1  Базаев Кирилл  18950      0     0
379  1  Базаев Кирилл  19000      0     0
380  1  Базаев Кирилл  19050      0     0
381  1  Базаев Кирилл  19100      0     0
382  1  Базаев Кирилл  19150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
378   0    0.82279
Name: Neutral, dtype: float64
379  0    0.823506
Name: Neutral, dtype: float64
380  0    0.824392
Name: Neutral, dtype: float64
381    0    0.8232
Name: Neutral, dtype: float64
382  0    0.821341
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
378  0    0.0
Name: Happy, dtype: float64
379  0    0.0
Name: Happy, dtype: float64
380  0    0.0
Name: Happy, dtype: float64
381  0    0.0
Name: Happy, dtype: float64
382  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
378  0    0.000152
Name: Sad, dtype: float64
379  0    0.000127
Name: Sad, dtype: float64
380  0    0.000106
Name: Sad, dtype: float64
381   0    0.00027
Name: Sad, dtype: float64
382  0    0.000239
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
378  0    0.000035
Name: Angry, dtype: float64
379  0    0.000029
Name: Angry, dtype: float64
380  0    0.000025
Name: Angry, dtype: float64
381  0    0.000022
Name: Angry, dtype: float64
382  0    0.000019
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
378  0    0.0
Name: Surprised, dtype: float64  ...
379  0    0.0
Name: Surprised, dtype: float64  ...
380  0    0.0
Name: Surprised, dtype: float64  ...
381  0    0.0
Name: Surprised, dtype: float64  ...
382  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
378  0    0.252014
Name: Arousal, dtype: float64              0
379  0    0.251878
Name: Arousal, dtype: float64              0
380  0    0.251746
Name: Arousal, dtype: float64              0
381   0    0.25166
Name: Arousal, dtype: float64              0
382  0    0.251576
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
378                0         7944   0          0   0             0         0
379                0       8482.5   0          0   0             0         0
380                0         8525   0          0   0             0         0
381                0       7830.5   0          0   0             0         0
382                0       6527.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
378      0
379      0
380      0
381      0
382      0

[383 rows x 24 columns]
----Time----
19150
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
379  1  Базаев Кирилл  19000      0     0
380  1  Базаев Кирилл  19050      0     0
381  1  Базаев Кирилл  19100      0     0
382  1  Базаев Кирилл  19150      0     0
383  1  Базаев Кирилл  19200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
379  0    0.823506
Name: Neutral, dtype: float64
380  0    0.824392
Name: Neutral, dtype: float64
381    0    0.8232
Name: Neutral, dtype: float64
382  0    0.821341
Name: Neutral, dtype: float64
383  0    0.819072
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
379  0    0.0
Name: Happy, dtype: float64
380  0    0.0
Name: Happy, dtype: float64
381  0    0.0
Name: Happy, dtype: float64
382  0    0.0
Name: Happy, dtype: float64
383  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
379  0    0.000127
Name: Sad, dtype: float64
380  0    0.000106
Name: Sad, dtype: float64
381   0    0.00027
Name: Sad, dtype: float64
382  0    0.000239
Name: Sad, dtype: float64
383    0    0.0002
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
379  0    0.000029
Name: Angry, dtype: float64
380  0    0.000025
Name: Angry, dtype: float64
381  0    0.000022
Name: Angry, dtype: float64
382  0    0.000019
Name: Angry, dtype: float64
383  0    0.000016
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
379  0    0.0
Name: Surprised, dtype: float64  ...
380  0    0.0
Name: Surprised, dtype: float64  ...
381  0    0.0
Name: Surprised, dtype: float64  ...
382  0    0.0
Name: Surprised, dtype: float64  ...
383  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
379  0    0.251878
Name: Arousal, dtype: float64              0
380  0    0.251746
Name: Arousal, dtype: float64              0
381   0    0.25166
Name: Arousal, dtype: float64              0
382  0    0.251576
Name: Arousal, dtype: float64              0
383  0    0.251453
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
379                0       8482.5   0          0   0             0         0
380                0         8525   0          0   0             0         0
381                0       7830.5   0          0   0             0         0
382                0       6527.0   0          0   0             0         0
383                0         5870   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
379      0
380      0
381      0
382      0
383      0

[384 rows x 24 columns]
----Time----
19200

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
380  1  Базаев Кирилл  19050      0     0
381  1  Базаев Кирилл  19100      0     0
382  1  Базаев Кирилл  19150      0     0
383  1  Базаев Кирилл  19200      0     0
384  1  Базаев Кирилл  19250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
380  0    0.824392
Name: Neutral, dtype: float64
381    0    0.8232
Name: Neutral, dtype: float64
382  0    0.821341
Name: Neutral, dtype: float64
383  0    0.819072
Name: Neutral, dtype: float64
384  0    0.817062
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
380  0    0.0
Name: Happy, dtype: float64
381  0    0.0
Name: Happy, dtype: float64
382  0    0.0
Name: Happy, dtype: float64
383  0    0.0
Name: Happy, dtype: float64
384  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
380  0    0.000106
Name: Sad, dtype: float64
381   0    0.00027
Name: Sad, dtype: float64
382  0    0.000239
Name: Sad, dtype: float64
383    0    0.0002
Name: Sad, dtype: float64
384  0    0.000167
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
380  0    0.000025
Name: Angry, dtype: float64
381  0    0.000022
Name: Angry, dtype: float64
382  0    0.000019
Name: Angry, dtype: float64
383  0    0.000016
Name: Angry, dtype: float64
384  0    0.000013
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
380  0    0.0
Name: Surprised, dtype: float64  ...
381  0    0.0
Name: Surprised, dtype: float64  ...
382  0    0.0
Name: Surprised, dtype: float64  ...
383  0    0.0
Name: Surprised, dtype: float64  ...
384  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
380  0    0.251746
Name: Arousal, dtype: float64              0
381   0    0.25166
Name: Arousal, dtype: float64              0
382  0    0.251576
Name: Arousal, dtype: float64              0
383  0    0.251453
Name: Arousal, dtype: float64              0
384  0    0.251333
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
380                0         8525   0          0   0             0         0
381                0       7830.5   0          0   0             0         0
382                0       6527.0   0          0   0             0         0
383                0         5870   0          0   0             0         0
384                0       5725.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
380      0
381      0
382      0
383      0
384      0

[385 rows x 24 columns]
----Time----
19250
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
381  1  Базаев Кирилл  19100      0     0
382  1  Базаев Кирилл  19150      0     0
383  1  Базаев Кирилл  19200      0     0
384  1  Базаев Кирилл  19250      0     0
385  1  Базаев Кирилл  19300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
381    0    0.8232
Name: Neutral, dtype: float64
382  0    0.821341
Name: Neutral, dtype: float64
383  0    0.819072
Name: Neutral, dtype: float64
384  0    0.817062
Name: Neutral, dtype: float64
385  0    0.815396
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
381  0    0.0
Name: Happy, dtype: float64
382  0    0.0
Name: Happy, dtype: float64
383  0    0.0
Name: Happy, dtype: float64
384  0    0.0
Name: Happy, dtype: float64
385  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
381   0    0.00027
Name: Sad, dtype: float64
382  0    0.000239
Name: Sad, dtype: float64
383    0    0.0002
Name: Sad, dtype: float64
384  0    0.000167
Name: Sad, dtype: float64
385  0    0.000148
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
381  0    0.000022
Name: Angry, dtype: float64
382  0    0.000019
Name: Angry, dtype: float64
383  0    0.000016
Name: Angry, dtype: float64
384  0    0.000013
Name: Angry, dtype: float64
385  0    0.000012
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
381  0    0.0
Name: Surprised, dtype: float64  ...
382  0    0.0
Name: Surprised, dtype: float64  ...
383  0    0.0
Name: Surprised, dtype: float64  ...
384  0    0.0
Name: Surprised, dtype: float64  ...
385  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
381   0    0.25166
Name: Arousal, dtype: float64              0
382  0    0.251576
Name: Arousal, dtype: float64              0
383  0    0.251453
Name: Arousal, dtype: float64              0
384  0    0.251333
Name: Arousal, dtype: float64              0
385  0    0.251256
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
381                0       7830.5   0          0   0             0         0
382                0       6527.0   0          0   0             0         0
383                0         5870   0          0   0             0         0
384                0       5725.5   0          0   0             0         0
385                0         5816   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
381      0
382      0
383      0
384      0
385      0

[386 rows x 24 columns]
----Time----
19300

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
382  1  Базаев Кирилл  19150      0     0
383  1  Базаев Кирилл  19200      0     0
384  1  Базаев Кирилл  19250      0     0
385  1  Базаев Кирилл  19300      0     0
386  1  Базаев Кирилл  19350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
382  0    0.821341
Name: Neutral, dtype: float64
383  0    0.819072
Name: Neutral, dtype: float64
384  0    0.817062
Name: Neutral, dtype: float64
385  0    0.815396
Name: Neutral, dtype: float64
386  0    0.811248
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
382  0    0.0
Name: Happy, dtype: float64
383  0    0.0
Name: Happy, dtype: float64
384  0    0.0
Name: Happy, dtype: float64
385  0    0.0
Name: Happy, dtype: float64
386  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
382  0    0.000239
Name: Sad, dtype: float64
383    0    0.0002
Name: Sad, dtype: float64
384  0    0.000167
Name: Sad, dtype: float64
385  0    0.000148
Name: Sad, dtype: float64
386  0    0.000131
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
382  0    0.000019
Name: Angry, dtype: float64
383  0    0.000016
Name: Angry, dtype: float64
384  0    0.000013
Name: Angry, dtype: float64
385  0    0.000012
Name: Angry, dtype: float64
386  0    0.000011
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
382  0    0.0
Name: Surprised, dtype: float64  ...
383  0    0.0
Name: Surprised, dtype: float64  ...
384  0    0.0
Name: Surprised, dtype: float64  ...
385  0    0.0
Name: Surprised, dtype: float64  ...
386  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
382  0    0.251576
Name: Arousal, dtype: float64              0
383  0    0.251453
Name: Arousal, dtype: float64              0
384  0    0.251333
Name: Arousal, dtype: float64              0
385  0    0.251256
Name: Arousal, dtype: float64              0
386   0    0.25118
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
382                0       6527.0   0          0   0             0         0
383                0         5870   0          0   0             0         0
384                0       5725.5   0          0   0             0         0
385                0         5816   0          0   0             0         0
386                0         5997   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
382      0
383      0
384      0
385      0
386      0

[387 rows x 24 columns]
----Time----
19350
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
383  1  Базаев Кирилл  19200      0     0
384  1  Базаев Кирилл  19250      0     0
385  1  Базаев Кирилл  19300      0     0
386  1  Базаев Кирилл  19350      0     0
387  1  Базаев Кирилл  19400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
383  0    0.819072
Name: Neutral, dtype: float64
384  0    0.817062
Name: Neutral, dtype: float64
385  0    0.815396
Name: Neutral, dtype: float64
386  0    0.811248
Name: Neutral, dtype: float64
387   0    0.80621
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
383  0    0.0
Name: Happy, dtype: float64
384  0    0.0
Name: Happy, dtype: float64
385  0    0.0
Name: Happy, dtype: float64
386  0    0.0
Name: Happy, dtype: float64
387  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
383    0    0.0002
Name: Sad, dtype: float64
384  0    0.000167
Name: Sad, dtype: float64
385  0    0.000148
Name: Sad, dtype: float64
386  0    0.000131
Name: Sad, dtype: float64
387   0    0.00011
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
383  0    0.000016
Name: Angry, dtype: float64
384  0    0.000013
Name: Angry, dtype: float64
385  0    0.000012
Name: Angry, dtype: float64
386  0    0.000011
Name: Angry, dtype: float64
387  0    0.000009
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
383  0    0.0
Name: Surprised, dtype: float64  ...
384  0    0.0
Name: Surprised, dtype: float64  ...
385  0    0.0
Name: Surprised, dtype: float64  ...
386  0    0.0
Name: Surprised, dtype: float64  ...
387  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
383  0    0.251453
Name: Arousal, dtype: float64              0
384  0    0.251333
Name: Arousal, dtype: float64              0
385  0    0.251256
Name: Arousal, dtype: float64              0
386   0    0.25118
Name: Arousal, dtype: float64              0
387  0    0.251069
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
383                0         5870   0          0   0             0         0
384                0       5725.5   0          0   0             0         0
385                0         5816   0          0   0             0         0
386                0         5997   0          0   0             0         0
387                0       6503.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
383      0
384      0
385      0
386      0
387      0

[388 rows x 24 columns]
----Time----
19400

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
384  1  Базаев Кирилл  19250      0     0
385  1  Базаев Кирилл  19300      0     0
386  1  Базаев Кирилл  19350      0     0
387  1  Базаев Кирилл  19400      0     0
388  1  Базаев Кирилл  19450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
384  0    0.817062
Name: Neutral, dtype: float64
385  0    0.815396
Name: Neutral, dtype: float64
386  0    0.811248
Name: Neutral, dtype: float64
387   0    0.80621
Name: Neutral, dtype: float64
388  0    0.801798
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
384  0    0.0
Name: Happy, dtype: float64
385  0    0.0
Name: Happy, dtype: float64
386  0    0.0
Name: Happy, dtype: float64
387  0    0.0
Name: Happy, dtype: float64
388  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
384  0    0.000167
Name: Sad, dtype: float64
385  0    0.000148
Name: Sad, dtype: float64
386  0    0.000131
Name: Sad, dtype: float64
387   0    0.00011
Name: Sad, dtype: float64
388  0    0.000092
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
384  0    0.000013
Name: Angry, dtype: float64
385  0    0.000012
Name: Angry, dtype: float64
386  0    0.000011
Name: Angry, dtype: float64
387  0    0.000009
Name: Angry, dtype: float64
388  0    0.000007
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
384  0    0.0
Name: Surprised, dtype: float64  ...
385  0    0.0
Name: Surprised, dtype: float64  ...
386  0    0.0
Name: Surprised, dtype: float64  ...
387  0    0.0
Name: Surprised, dtype: float64  ...
388  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
384  0    0.251333
Name: Arousal, dtype: float64              0
385  0    0.251256
Name: Arousal, dtype: float64              0
386   0    0.25118
Name: Arousal, dtype: float64              0
387  0    0.251069
Name: Arousal, dtype: float64              0
388  0    0.250961
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
384                0       5725.5   0          0   0             0         0
385                0         5816   0          0   0             0         0
386                0         5997   0          0   0             0         0
387                0       6503.0   0          0   0             0         0
388                0       7428.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
384      0
385      0
386      0
387      0
388      0

[389 rows x 24 columns]
----Time----
19450
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
385  1  Базаев Кирилл  19300      0     0
386  1  Базаев Кирилл  19350      0     0
387  1  Базаев Кирилл  19400      0     0
388  1  Базаев Кирилл  19450      0     0
389  1  Базаев Кирилл  19500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
385  0    0.815396
Name: Neutral, dtype: float64
386  0    0.811248
Name: Neutral, dtype: float64
387   0    0.80621
Name: Neutral, dtype: float64
388  0    0.801798
Name: Neutral, dtype: float64
389  0    0.799324
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
385  0    0.0
Name: Happy, dtype: float64
386  0    0.0
Name: Happy, dtype: float64
387  0    0.0
Name: Happy, dtype: float64
388  0    0.0
Name: Happy, dtype: float64
389  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
385  0    0.000148
Name: Sad, dtype: float64
386  0    0.000131
Name: Sad, dtype: float64
387   0    0.00011
Name: Sad, dtype: float64
388  0    0.000092
Name: Sad, dtype: float64
389  0    0.000081
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
385  0    0.000012
Name: Angry, dtype: float64
386  0    0.000011
Name: Angry, dtype: float64
387  0    0.000009
Name: Angry, dtype: float64
388  0    0.000007
Name: Angry, dtype: float64
389  0    0.000007
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
385  0    0.0
Name: Surprised, dtype: float64  ...
386  0    0.0
Name: Surprised, dtype: float64  ...
387  0    0.0
Name: Surprised, dtype: float64  ...
388  0    0.0
Name: Surprised, dtype: float64  ...
389  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
385  0    0.251256
Name: Arousal, dtype: float64              0
386   0    0.25118
Name: Arousal, dtype: float64              0
387  0    0.251069
Name: Arousal, dtype: float64              0
388  0    0.250961
Name: Arousal, dtype: float64              0
389  0    0.250891
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
385                0         5816   0          0   0             0         0
386                0         5997   0          0   0             0         0
387                0       6503.0   0          0   0             0         0
388                0       7428.0   0          0   0             0         0
389                0         7893   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
385      0
386      0
387      0
388      0
389      0

[390 rows x 24 columns]
----Time----
19500

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
386  1  Базаев Кирилл  19350      0     0
387  1  Базаев Кирилл  19400      0     0
388  1  Базаев Кирилл  19450      0     0
389  1  Базаев Кирилл  19500      0     0
390  1  Базаев Кирилл  19550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
386  0    0.811248
Name: Neutral, dtype: float64
387   0    0.80621
Name: Neutral, dtype: float64
388  0    0.801798
Name: Neutral, dtype: float64
389  0    0.799324
Name: Neutral, dtype: float64
390  0    0.796604
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
386  0    0.0
Name: Happy, dtype: float64
387  0    0.0
Name: Happy, dtype: float64
388  0    0.0
Name: Happy, dtype: float64
389  0    0.0
Name: Happy, dtype: float64
390  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
386  0    0.000131
Name: Sad, dtype: float64
387   0    0.00011
Name: Sad, dtype: float64
388  0    0.000092
Name: Sad, dtype: float64
389  0    0.000081
Name: Sad, dtype: float64
390  0    0.000072
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
386  0    0.000011
Name: Angry, dtype: float64
387  0    0.000009
Name: Angry, dtype: float64
388  0    0.000007
Name: Angry, dtype: float64
389  0    0.000007
Name: Angry, dtype: float64
390  0    0.000006
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
386  0    0.0
Name: Surprised, dtype: float64  ...
387  0    0.0
Name: Surprised, dtype: float64  ...
388  0    0.0
Name: Surprised, dtype: float64  ...
389  0    0.0
Name: Surprised, dtype: float64  ...
390  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
386   0    0.25118
Name: Arousal, dtype: float64              0
387  0    0.251069
Name: Arousal, dtype: float64              0
388  0    0.250961
Name: Arousal, dtype: float64              0
389  0    0.250891
Name: Arousal, dtype: float64              0
390  0    0.250823
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
386                0         5997   0          0   0             0         0
387                0       6503.0   0          0   0             0         0
388                0       7428.0   0          0   0             0         0
389                0         7893   0          0   0             0         0
390                0       7606.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
386      0
387      0
388      0
389      0
390      0

[391 rows x 24 columns]
----Time----
19550
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
387  1  Базаев Кирилл  19400      0     0
388  1  Базаев Кирилл  19450      0     0
389  1  Базаев Кирилл  19500      0     0
390  1  Базаев Кирилл  19550      0     0
391  1  Базаев Кирилл  19600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
387   0    0.80621
Name: Neutral, dtype: float64
388  0    0.801798
Name: Neutral, dtype: float64
389  0    0.799324
Name: Neutral, dtype: float64
390  0    0.796604
Name: Neutral, dtype: float64
391   0    0.79102
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
387  0    0.0
Name: Happy, dtype: float64
388  0    0.0
Name: Happy, dtype: float64
389  0    0.0
Name: Happy, dtype: float64
390  0    0.0
Name: Happy, dtype: float64
391  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
387   0    0.00011
Name: Sad, dtype: float64
388  0    0.000092
Name: Sad, dtype: float64
389  0    0.000081
Name: Sad, dtype: float64
390  0    0.000072
Name: Sad, dtype: float64
391  0    0.002468
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
387  0    0.000009
Name: Angry, dtype: float64
388  0    0.000007
Name: Angry, dtype: float64
389  0    0.000007
Name: Angry, dtype: float64
390  0    0.000006
Name: Angry, dtype: float64
391  0    0.000005
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
387  0    0.0
Name: Surprised, dtype: float64  ...
388  0    0.0
Name: Surprised, dtype: float64  ...
389  0    0.0
Name: Surprised, dtype: float64  ...
390  0    0.0
Name: Surprised, dtype: float64  ...
391  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
387  0    0.251069
Name: Arousal, dtype: float64              0
388  0    0.250961
Name: Arousal, dtype: float64              0
389  0    0.250891
Name: Arousal, dtype: float64              0
390  0    0.250823
Name: Arousal, dtype: float64              0
391  0    0.250722
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
387                0       6503.0   0          0   0             0         0
388                0       7428.0   0          0   0             0         0
389                0         7893   0          0   0             0         0
390                0       7606.0   0          0   0             0         0
391                0         6770   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
387      0
388      0
389      0
390      0
391      0

[392 rows x 24 columns]
----Time----
19600

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
388  1  Базаев Кирилл  19450      0     0
389  1  Базаев Кирилл  19500      0     0
390  1  Базаев Кирилл  19550      0     0
391  1  Базаев Кирилл  19600      0     0
392  1  Базаев Кирилл  19650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
388  0    0.801798
Name: Neutral, dtype: float64
389  0    0.799324
Name: Neutral, dtype: float64
390  0    0.796604
Name: Neutral, dtype: float64
391   0    0.79102
Name: Neutral, dtype: float64
392  0    0.787366
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
388  0    0.0
Name: Happy, dtype: float64
389  0    0.0
Name: Happy, dtype: float64
390  0    0.0
Name: Happy, dtype: float64
391  0    0.0
Name: Happy, dtype: float64
392  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
388  0    0.000092
Name: Sad, dtype: float64
389  0    0.000081
Name: Sad, dtype: float64
390  0    0.000072
Name: Sad, dtype: float64
391  0    0.002468
Name: Sad, dtype: float64
392  0    0.004844
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
388  0    0.000007
Name: Angry, dtype: float64
389  0    0.000007
Name: Angry, dtype: float64
390  0    0.000006
Name: Angry, dtype: float64
391  0    0.000005
Name: Angry, dtype: float64
392  0    0.000004
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
388  0    0.0
Name: Surprised, dtype: float64  ...
389  0    0.0
Name: Surprised, dtype: float64  ...
390  0    0.0
Name: Surprised, dtype: float64  ...
391  0    0.0
Name: Surprised, dtype: float64  ...
392  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
388  0    0.250961
Name: Arousal, dtype: float64              0
389  0    0.250891
Name: Arousal, dtype: float64              0
390  0    0.250823
Name: Arousal, dtype: float64              0
391  0    0.250722
Name: Arousal, dtype: float64              0
392  0    0.250625
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
388                0       7428.0   0          0   0             0         0
389                0         7893   0          0   0             0         0
390                0       7606.0   0          0   0             0         0
391                0         6770   0          0   0             0         0
392                0       5825.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
388      0
389      0
390      0
391      0
392      0

[393 rows x 24 columns]
----Time----
19650
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
389  1  Базаев Кирилл  19500      0     0
390  1  Базаев Кирилл  19550      0     0
391  1  Базаев Кирилл  19600      0     0
392  1  Базаев Кирилл  19650      0     0
393  1  Базаев Кирилл  19700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
389  0    0.799324
Name: Neutral, dtype: float64
390  0    0.796604
Name: Neutral, dtype: float64
391   0    0.79102
Name: Neutral, dtype: float64
392  0    0.787366
Name: Neutral, dtype: float64
393  0    0.784513
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
389  0    0.0
Name: Happy, dtype: float64
390  0    0.0
Name: Happy, dtype: float64
391  0    0.0
Name: Happy, dtype: float64
392  0    0.0
Name: Happy, dtype: float64
393  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
389  0    0.000081
Name: Sad, dtype: float64
390  0    0.000072
Name: Sad, dtype: float64
391  0    0.002468
Name: Sad, dtype: float64
392  0    0.004844
Name: Sad, dtype: float64
393  0    0.006668
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
389  0    0.000007
Name: Angry, dtype: float64
390  0    0.000006
Name: Angry, dtype: float64
391  0    0.000005
Name: Angry, dtype: float64
392  0    0.000004
Name: Angry, dtype: float64
393  0    0.000004
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
389  0    0.0
Name: Surprised, dtype: float64  ...
390  0    0.0
Name: Surprised, dtype: float64  ...
391  0    0.0
Name: Surprised, dtype: float64  ...
392  0    0.0
Name: Surprised, dtype: float64  ...
393  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
389  0    0.250891
Name: Arousal, dtype: float64              0
390  0    0.250823
Name: Arousal, dtype: float64              0
391  0    0.250722
Name: Arousal, dtype: float64              0
392  0    0.250625
Name: Arousal, dtype: float64              0
393  0    0.250562
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
389                0         7893   0          0   0             0         0
390                0       7606.0   0          0   0             0         0
391                0         6770   0          0   0             0         0
392                0       5825.0   0          0   0             0         0
393                0         5299   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
389      0
390      0
391      0
392      0
393      0

[394 rows x 24 columns]
----Time----
19700

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
390  1  Базаев Кирилл  19550      0     0
391  1  Базаев Кирилл  19600      0     0
392  1  Базаев Кирилл  19650      0     0
393  1  Базаев Кирилл  19700      0     0
394  1  Базаев Кирилл  19750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
390  0    0.796604
Name: Neutral, dtype: float64
391   0    0.79102
Name: Neutral, dtype: float64
392  0    0.787366
Name: Neutral, dtype: float64
393  0    0.784513
Name: Neutral, dtype: float64
394  0    0.781405
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
390  0    0.0
Name: Happy, dtype: float64
391  0    0.0
Name: Happy, dtype: float64
392  0    0.0
Name: Happy, dtype: float64
393  0    0.0
Name: Happy, dtype: float64
394  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
390  0    0.000072
Name: Sad, dtype: float64
391  0    0.002468
Name: Sad, dtype: float64
392  0    0.004844
Name: Sad, dtype: float64
393  0    0.006668
Name: Sad, dtype: float64
394   0    0.00835
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
390  0    0.000006
Name: Angry, dtype: float64
391  0    0.000005
Name: Angry, dtype: float64
392  0    0.000004
Name: Angry, dtype: float64
393  0    0.000004
Name: Angry, dtype: float64
394  0    0.000003
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
390  0    0.0
Name: Surprised, dtype: float64  ...
391  0    0.0
Name: Surprised, dtype: float64  ...
392  0    0.0
Name: Surprised, dtype: float64  ...
393  0    0.0
Name: Surprised, dtype: float64  ...
394  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
390  0    0.250823
Name: Arousal, dtype: float64              0
391  0    0.250722
Name: Arousal, dtype: float64              0
392  0    0.250625
Name: Arousal, dtype: float64              0
393  0    0.250562
Name: Arousal, dtype: float64              0
394    0    0.2505
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
390                0       7606.0   0          0   0             0         0
391                0         6770   0          0   0             0         0
392                0       5825.0   0          0   0             0         0
393                0         5299   0          0   0             0         0
394                0       5357.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
390      0
391      0
392      0
393      0
394      0

[395 rows x 24 columns]
----Time----
19750
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
391  1  Базаев Кирилл  19600      0     0
392  1  Базаев Кирилл  19650      0     0
393  1  Базаев Кирилл  19700      0     0
394  1  Базаев Кирилл  19750      0     0
395  1  Базаев Кирилл  19800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
391   0    0.79102
Name: Neutral, dtype: float64
392  0    0.787366
Name: Neutral, dtype: float64
393  0    0.784513
Name: Neutral, dtype: float64
394  0    0.781405
Name: Neutral, dtype: float64
395   0    0.77625
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
391  0    0.0
Name: Happy, dtype: float64
392  0    0.0
Name: Happy, dtype: float64
393  0    0.0
Name: Happy, dtype: float64
394  0    0.0
Name: Happy, dtype: float64
395  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
391  0    0.002468
Name: Sad, dtype: float64
392  0    0.004844
Name: Sad, dtype: float64
393  0    0.006668
Name: Sad, dtype: float64
394   0    0.00835
Name: Sad, dtype: float64
395  0    0.009627
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
391  0    0.000005
Name: Angry, dtype: float64
392  0    0.000004
Name: Angry, dtype: float64
393  0    0.000004
Name: Angry, dtype: float64
394  0    0.000003
Name: Angry, dtype: float64
395  0    0.000003
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
391  0    0.0
Name: Surprised, dtype: float64  ...
392  0    0.0
Name: Surprised, dtype: float64  ...
393  0    0.0
Name: Surprised, dtype: float64  ...
394  0    0.0
Name: Surprised, dtype: float64  ...
395  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
391  0    0.250722
Name: Arousal, dtype: float64              0
392  0    0.250625
Name: Arousal, dtype: float64              0
393  0    0.250562
Name: Arousal, dtype: float64              0
394    0    0.2505
Name: Arousal, dtype: float64              0
395  0    0.250409
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
391                0         6770   0          0   0             0         0
392                0       5825.0   0          0   0             0         0
393                0         5299   0          0   0             0         0
394                0       5357.5   0          0   0             0         0
395                0         5545   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
391      0
392      0
393      0
394      0
395      0

[396 rows x 24 columns]
----Time----
19800

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
392  1  Базаев Кирилл  19650      0     0
393  1  Базаев Кирилл  19700      0     0
394  1  Базаев Кирилл  19750      0     0
395  1  Базаев Кирилл  19800      0     0
396  1  Базаев Кирилл  19850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
392  0    0.787366
Name: Neutral, dtype: float64
393  0    0.784513
Name: Neutral, dtype: float64
394  0    0.781405
Name: Neutral, dtype: float64
395   0    0.77625
Name: Neutral, dtype: float64
396  0    0.771391
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
392  0    0.0
Name: Happy, dtype: float64
393  0    0.0
Name: Happy, dtype: float64
394  0    0.0
Name: Happy, dtype: float64
395  0    0.0
Name: Happy, dtype: float64
396  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
392  0    0.004844
Name: Sad, dtype: float64
393  0    0.006668
Name: Sad, dtype: float64
394   0    0.00835
Name: Sad, dtype: float64
395  0    0.009627
Name: Sad, dtype: float64
396  0    0.010502
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
392  0    0.000004
Name: Angry, dtype: float64
393  0    0.000004
Name: Angry, dtype: float64
394  0    0.000003
Name: Angry, dtype: float64
395  0    0.000003
Name: Angry, dtype: float64
396  0    0.000002
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
392  0    0.0
Name: Surprised, dtype: float64  ...
393  0    0.0
Name: Surprised, dtype: float64  ...
394  0    0.0
Name: Surprised, dtype: float64  ...
395  0    0.0
Name: Surprised, dtype: float64  ...
396  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
392  0    0.250625
Name: Arousal, dtype: float64              0
393  0    0.250562
Name: Arousal, dtype: float64              0
394    0    0.2505
Name: Arousal, dtype: float64              0
395  0    0.250409
Name: Arousal, dtype: float64              0
396  0    0.250321
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
392                0       5825.0   0          0   0             0         0
393                0         5299   0          0   0             0         0
394                0       5357.5   0          0   0             0         0
395                0         5545   0          0   0             0         0
396                0       5607.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
392      0
393      0
394      0
395      0
396      0

[397 rows x 24 columns]
----Time----
19850
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
393  1  Базаев Кирилл  19700      0     0
394  1  Базаев Кирилл  19750      0     0
395  1  Базаев Кирилл  19800      0     0
396  1  Базаев Кирилл  19850      0     0
397  1  Базаев Кирилл  19900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
393  0    0.784513
Name: Neutral, dtype: float64
394  0    0.781405
Name: Neutral, dtype: float64
395   0    0.77625
Name: Neutral, dtype: float64
396  0    0.771391
Name: Neutral, dtype: float64
397  0    0.765592
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
393  0    0.0
Name: Happy, dtype: float64
394  0    0.0
Name: Happy, dtype: float64
395  0    0.0
Name: Happy, dtype: float64
396  0    0.0
Name: Happy, dtype: float64
397  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
393  0    0.006668
Name: Sad, dtype: float64
394   0    0.00835
Name: Sad, dtype: float64
395  0    0.009627
Name: Sad, dtype: float64
396  0    0.010502
Name: Sad, dtype: float64
397  0    0.011312
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
393  0    0.000004
Name: Angry, dtype: float64
394  0    0.000003
Name: Angry, dtype: float64
395  0    0.000003
Name: Angry, dtype: float64
396  0    0.000002
Name: Angry, dtype: float64
397  0    0.000002
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
393  0    0.0
Name: Surprised, dtype: float64  ...
394  0    0.0
Name: Surprised, dtype: float64  ...
395  0    0.0
Name: Surprised, dtype: float64  ...
396  0    0.0
Name: Surprised, dtype: float64  ...
397  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
393  0    0.250562
Name: Arousal, dtype: float64              0
394    0    0.2505
Name: Arousal, dtype: float64              0
395  0    0.250409
Name: Arousal, dtype: float64              0
396  0    0.250321
Name: Arousal, dtype: float64              0
397  0    0.250264
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
393                0         5299   0          0   0             0         0
394                0       5357.5   0          0   0             0         0
395                0         5545   0          0   0             0         0
396                0       5607.0   0          0   0             0         0
397                0         5590   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
393      0
394      0
395      0
396      0
397      0

[398 rows x 24 columns]
----Time----
19900

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
394  1  Базаев Кирилл  19750      0     0
395  1  Базаев Кирилл  19800      0     0
396  1  Базаев Кирилл  19850      0     0
397  1  Базаев Кирилл  19900      0     0
398  1  Базаев Кирилл  19950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
394  0    0.781405
Name: Neutral, dtype: float64
395   0    0.77625
Name: Neutral, dtype: float64
396  0    0.771391
Name: Neutral, dtype: float64
397  0    0.765592
Name: Neutral, dtype: float64
398  0    0.759667
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
394  0    0.0
Name: Happy, dtype: float64
395  0    0.0
Name: Happy, dtype: float64
396  0    0.0
Name: Happy, dtype: float64
397  0    0.0
Name: Happy, dtype: float64
398  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
394   0    0.00835
Name: Sad, dtype: float64
395  0    0.009627
Name: Sad, dtype: float64
396  0    0.010502
Name: Sad, dtype: float64
397  0    0.011312
Name: Sad, dtype: float64
398  0    0.011168
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
394  0    0.000003
Name: Angry, dtype: float64
395  0    0.000003
Name: Angry, dtype: float64
396  0    0.000002
Name: Angry, dtype: float64
397  0    0.000002
Name: Angry, dtype: float64
398  0    0.000002
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
394  0    0.0
Name: Surprised, dtype: float64  ...
395  0    0.0
Name: Surprised, dtype: float64  ...
396  0    0.0
Name: Surprised, dtype: float64  ...
397  0    0.0
Name: Surprised, dtype: float64  ...
398  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
394    0    0.2505
Name: Arousal, dtype: float64              0
395  0    0.250409
Name: Arousal, dtype: float64              0
396  0    0.250321
Name: Arousal, dtype: float64              0
397  0    0.250264
Name: Arousal, dtype: float64              0
398  0    0.250209
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
394                0       5357.5   0          0   0             0         0
395                0         5545   0          0   0             0         0
396                0       5607.0   0          0   0             0         0
397                0         5590   0          0   0             0         0
398                0       5578.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
394      0
395      0
396      0
397      0
398      0

[399 rows x 24 columns]
----Time----
19950
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
395  1  Базаев Кирилл  19800      0     0
396  1  Базаев Кирилл  19850      0     0
397  1  Базаев Кирилл  19900      0     0
398  1  Базаев Кирилл  19950      0     0
399  1  Базаев Кирилл  20000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
395   0    0.77625
Name: Neutral, dtype: float64
396  0    0.771391
Name: Neutral, dtype: float64
397  0    0.765592
Name: Neutral, dtype: float64
398  0    0.759667
Name: Neutral, dtype: float64
399  0    0.753391
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
395  0    0.0
Name: Happy, dtype: float64
396  0    0.0
Name: Happy, dtype: float64
397  0    0.0
Name: Happy, dtype: float64
398  0    0.0
Name: Happy, dtype: float64
399  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
395  0    0.009627
Name: Sad, dtype: float64
396  0    0.010502
Name: Sad, dtype: float64
397  0    0.011312
Name: Sad, dtype: float64
398  0    0.011168
Name: Sad, dtype: float64
399  0    0.010449
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
395  0    0.000003
Name: Angry, dtype: float64
396  0    0.000002
Name: Angry, dtype: float64
397  0    0.000002
Name: Angry, dtype: float64
398  0    0.000002
Name: Angry, dtype: float64
399  0    0.000001
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
395  0    0.0
Name: Surprised, dtype: float64  ...
396  0    0.0
Name: Surprised, dtype: float64  ...
397  0    0.0
Name: Surprised, dtype: float64  ...
398  0    0.0
Name: Surprised, dtype: float64  ...
399  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
395  0    0.250409
Name: Arousal, dtype: float64              0
396  0    0.250321
Name: Arousal, dtype: float64              0
397  0    0.250264
Name: Arousal, dtype: float64              0
398  0    0.250209
Name: Arousal, dtype: float64              0
399  0    0.250127
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
395                0         5545   0          0   0             0         0
396                0       5607.0   0          0   0             0         0
397                0         5590   0          0   0             0         0
398                0       5578.5   0          0   0             0         0
399                0         5604   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
395      0
396      0
397      0
398      0
399      0

[400 rows x 24 columns]
----Time----
20000

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
396  1  Базаев Кирилл  19850      0     0
397  1  Базаев Кирилл  19900      0     0
398  1  Базаев Кирилл  19950      0     0
399  1  Базаев Кирилл  20000      0     0
400  1  Базаев Кирилл  20050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
396  0    0.771391
Name: Neutral, dtype: float64
397  0    0.765592
Name: Neutral, dtype: float64
398  0    0.759667
Name: Neutral, dtype: float64
399  0    0.753391
Name: Neutral, dtype: float64
400  0    0.749202
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
396  0    0.0
Name: Happy, dtype: float64
397  0    0.0
Name: Happy, dtype: float64
398  0    0.0
Name: Happy, dtype: float64
399  0    0.0
Name: Happy, dtype: float64
400  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
396  0    0.010502
Name: Sad, dtype: float64
397  0    0.011312
Name: Sad, dtype: float64
398  0    0.011168
Name: Sad, dtype: float64
399  0    0.010449
Name: Sad, dtype: float64
400  0    0.009921
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
396  0    0.000002
Name: Angry, dtype: float64
397  0    0.000002
Name: Angry, dtype: float64
398  0    0.000002
Name: Angry, dtype: float64
399  0    0.000001
Name: Angry, dtype: float64
400  0    0.000001
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
396  0    0.0
Name: Surprised, dtype: float64  ...
397  0    0.0
Name: Surprised, dtype: float64  ...
398  0    0.0
Name: Surprised, dtype: float64  ...
399  0    0.0
Name: Surprised, dtype: float64  ...
400  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
396  0    0.250321
Name: Arousal, dtype: float64              0
397  0    0.250264
Name: Arousal, dtype: float64              0
398  0    0.250209
Name: Arousal, dtype: float64              0
399  0    0.250127
Name: Arousal, dtype: float64              0
400  0    0.250047
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
396                0       5607.0   0          0   0             0         0
397                0         5590   0          0   0             0         0
398                0       5578.5   0          0   0             0         0
399                0         5604   0          0   0             0         0
400                0       5661.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
396      0
397      0
398      0
399      0
400      0

[401 rows x 24 columns]
----Time----
20050
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
397  1  Базаев Кирилл  19900      0     0
398  1  Базаев Кирилл  19950      0     0
399  1  Базаев Кирилл  20000      0     0
400  1  Базаев Кирилл  20050      0     0
401  1  Базаев Кирилл  20100      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
397  0    0.765592
Name: Neutral, dtype: float64
398  0    0.759667
Name: Neutral, dtype: float64
399  0    0.753391
Name: Neutral, dtype: float64
400  0    0.749202
Name: Neutral, dtype: float64
401  0    0.747753
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
397  0    0.0
Name: Happy, dtype: float64
398  0    0.0
Name: Happy, dtype: float64
399  0    0.0
Name: Happy, dtype: float64
400  0    0.0
Name: Happy, dtype: float64
401  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
397  0    0.011312
Name: Sad, dtype: float64
398  0    0.011168
Name: Sad, dtype: float64
399  0    0.010449
Name: Sad, dtype: float64
400  0    0.009921
Name: Sad, dtype: float64
401  0    0.009862
Name: Sad, dtype: float64

                                         Angry  \
0          0    NaN
Name: Angry, dtype: object
1          0    NaN
Name: Angry, dtype: object
2          0    NaN
Name: Angry, dtype: object
3          0   NaN
Name: Angry, dtype: float64
4          0    NaN
Name: Angry, dtype: object
..                                         ...
397  0    0.000002
Name: Angry, dtype: float64
398  0    0.000002
Name: Angry, dtype: float64
399  0    0.000001
Name: Angry, dtype: float64
400  0    0.000001
Name: Angry, dtype: float64
401  0    0.000001
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
397  0    0.0
Name: Surprised, dtype: float64  ...
398  0    0.0
Name: Surprised, dtype: float64  ...
399  0    0.0
Name: Surprised, dtype: float64  ...
400  0    0.0
Name: Surprised, dtype: float64  ...
401  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
397  0    0.250264
Name: Arousal, dtype: float64              0
398  0    0.250209
Name: Arousal, dtype: float64              0
399  0    0.250127
Name: Arousal, dtype: float64              0
400  0    0.250047
Name: Arousal, dtype: float64              0
401  0    0.250008
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
397                0         5590   0          0   0             0         0
398                0       5578.5   0          0   0             0         0
399                0         5604   0          0   0             0         0
400                0       5661.5   0          0   0             0         0
401                0         5755   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
397      0
398      0
399      0
400      0
401      0

[402 rows x 24 columns]
----Time----
20100

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
398  1  Базаев Кирилл  19950      0     0
399  1  Базаев Кирилл  20000      0     0
400  1  Базаев Кирилл  20050      0     0
401  1  Базаев Кирилл  20100      0     0
402  1  Базаев Кирилл  20150      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
398  0    0.759667
Name: Neutral, dtype: float64
399  0    0.753391
Name: Neutral, dtype: float64
400  0    0.749202
Name: Neutral, dtype: float64
401  0    0.747753
Name: Neutral, dtype: float64
402  0    0.745817
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
398  0    0.0
Name: Happy, dtype: float64
399  0    0.0
Name: Happy, dtype: float64
400  0    0.0
Name: Happy, dtype: float64
401  0    0.0
Name: Happy, dtype: float64
402  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
398  0    0.011168
Name: Sad, dtype: float64
399  0    0.010449
Name: Sad, dtype: float64
400  0    0.009921
Name: Sad, dtype: float64
401  0    0.009862
Name: Sad, dtype: float64
402  0    0.009836
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
398      0    0.000002
Name: Angry, dtype: float64
399      0    0.000001
Name: Angry, dtype: float64
400      0    0.000001
Name: Angry, dtype: float64
401      0    0.000001
Name: Angry, dtype: float64
402  0    9.660000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
398  0    0.0
Name: Surprised, dtype: float64  ...
399  0    0.0
Name: Surprised, dtype: float64  ...
400  0    0.0
Name: Surprised, dtype: float64  ...
401  0    0.0
Name: Surprised, dtype: float64  ...
402  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
398  0    0.250209
Name: Arousal, dtype: float64              0
399  0    0.250127
Name: Arousal, dtype: float64              0
400  0    0.250047
Name: Arousal, dtype: float64              0
401  0    0.250008
Name: Arousal, dtype: float64              0
402  0    0.249959
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
398                0       5578.5   0          0   0             0         0
399                0         5604   0          0   0             0         0
400                0       5661.5   0          0   0             0         0
401                0         5755   0          0   0             0         0
402                0       5906.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
398      0
399      0
400      0
401      0
402      0

[403 rows x 24 columns]
----Time----
20150
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
399  1  Базаев Кирилл  20000      0     0
400  1  Базаев Кирилл  20050      0     0
401  1  Базаев Кирилл  20100      0     0
402  1  Базаев Кирилл  20150      0     0
403  1  Базаев Кирилл  20200      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
399  0    0.753391
Name: Neutral, dtype: float64
400  0    0.749202
Name: Neutral, dtype: float64
401  0    0.747753
Name: Neutral, dtype: float64
402  0    0.745817
Name: Neutral, dtype: float64
403  0    0.741676
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
399  0    0.0
Name: Happy, dtype: float64
400  0    0.0
Name: Happy, dtype: float64
401  0    0.0
Name: Happy, dtype: float64
402  0    0.0
Name: Happy, dtype: float64
403  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
399  0    0.010449
Name: Sad, dtype: float64
400  0    0.009921
Name: Sad, dtype: float64
401  0    0.009862
Name: Sad, dtype: float64
402  0    0.009836
Name: Sad, dtype: float64
403  0    0.010709
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
399      0    0.000001
Name: Angry, dtype: float64
400      0    0.000001
Name: Angry, dtype: float64
401      0    0.000001
Name: Angry, dtype: float64
402  0    9.660000e-07
Name: Angry, dtype: float64
403  0    8.085000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
399  0    0.0
Name: Surprised, dtype: float64  ...
400  0    0.0
Name: Surprised, dtype: float64  ...
401  0    0.0
Name: Surprised, dtype: float64  ...
402  0    0.0
Name: Surprised, dtype: float64  ...
403  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
399  0    0.250127
Name: Arousal, dtype: float64              0
400  0    0.250047
Name: Arousal, dtype: float64              0
401  0    0.250008
Name: Arousal, dtype: float64              0
402  0    0.249959
Name: Arousal, dtype: float64              0
403  0    0.249903
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
399                0         5604   0          0   0             0         0
400                0       5661.5   0          0   0             0         0
401                0         5755   0          0   0             0         0
402                0       5906.0   0          0   0             0         0
403                0       6151.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
399      0
400      0
401      0
402      0
403      0

[404 rows x 24 columns]
----Time----
20200

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
400  1  Базаев Кирилл  20050      0     0
401  1  Базаев Кирилл  20100      0     0
402  1  Базаев Кирилл  20150      0     0
403  1  Базаев Кирилл  20200      0     0
404  1  Базаев Кирилл  20250      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
400  0    0.749202
Name: Neutral, dtype: float64
401  0    0.747753
Name: Neutral, dtype: float64
402  0    0.745817
Name: Neutral, dtype: float64
403  0    0.741676
Name: Neutral, dtype: float64
404  0    0.739875
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
400  0    0.0
Name: Happy, dtype: float64
401  0    0.0
Name: Happy, dtype: float64
402  0    0.0
Name: Happy, dtype: float64
403  0    0.0
Name: Happy, dtype: float64
404  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
400  0    0.009921
Name: Sad, dtype: float64
401  0    0.009862
Name: Sad, dtype: float64
402  0    0.009836
Name: Sad, dtype: float64
403  0    0.010709
Name: Sad, dtype: float64
404   0    0.01165
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
400      0    0.000001
Name: Angry, dtype: float64
401      0    0.000001
Name: Angry, dtype: float64
402  0    9.660000e-07
Name: Angry, dtype: float64
403  0    8.085000e-07
Name: Angry, dtype: float64
404  0    6.740000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
400  0    0.0
Name: Surprised, dtype: float64  ...
401  0    0.0
Name: Surprised, dtype: float64  ...
402  0    0.0
Name: Surprised, dtype: float64  ...
403  0    0.0
Name: Surprised, dtype: float64  ...
404  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
400  0    0.250047
Name: Arousal, dtype: float64              0
401  0    0.250008
Name: Arousal, dtype: float64              0
402  0    0.249959
Name: Arousal, dtype: float64              0
403  0    0.249903
Name: Arousal, dtype: float64              0
404  0    0.249855
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
400                0       5661.5   0          0   0             0         0
401                0         5755   0          0   0             0         0
402                0       5906.0   0          0   0             0         0
403                0       6151.5   0          0   0             0         0
404                0         6380   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
400      0
401      0
402      0
403      0
404      0

[405 rows x 24 columns]
----Time----
20250
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
401  1  Базаев Кирилл  20100      0     0
402  1  Базаев Кирилл  20150      0     0
403  1  Базаев Кирилл  20200      0     0
404  1  Базаев Кирилл  20250      0     0
405  1  Базаев Кирилл  20300      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
401  0    0.747753
Name: Neutral, dtype: float64
402  0    0.745817
Name: Neutral, dtype: float64
403  0    0.741676
Name: Neutral, dtype: float64
404  0    0.739875
Name: Neutral, dtype: float64
405  0    0.737232
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
401  0    0.0
Name: Happy, dtype: float64
402  0    0.0
Name: Happy, dtype: float64
403  0    0.0
Name: Happy, dtype: float64
404  0    0.0
Name: Happy, dtype: float64
405  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
401  0    0.009862
Name: Sad, dtype: float64
402  0    0.009836
Name: Sad, dtype: float64
403  0    0.010709
Name: Sad, dtype: float64
404   0    0.01165
Name: Sad, dtype: float64
405  0    0.014992
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
401      0    0.000001
Name: Angry, dtype: float64
402  0    9.660000e-07
Name: Angry, dtype: float64
403  0    8.085000e-07
Name: Angry, dtype: float64
404  0    6.740000e-07
Name: Angry, dtype: float64
405  0    5.980000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
401  0    0.0
Name: Surprised, dtype: float64  ...
402  0    0.0
Name: Surprised, dtype: float64  ...
403  0    0.0
Name: Surprised, dtype: float64  ...
404  0    0.0
Name: Surprised, dtype: float64  ...
405  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
401  0    0.250008
Name: Arousal, dtype: float64              0
402  0    0.249959
Name: Arousal, dtype: float64              0
403  0    0.249903
Name: Arousal, dtype: float64              0
404  0    0.249855
Name: Arousal, dtype: float64              0
405  0    0.249813
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
401                0         5755   0          0   0             0         0
402                0       5906.0   0          0   0             0         0
403                0       6151.5   0          0   0             0         0
404                0         6380   0          0   0             0         0
405                0       6564.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
401      0
402      0
403      0
404      0
405      0

[406 rows x 24 columns]
----Time----
20300

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
402  1  Базаев Кирилл  20150      0     0
403  1  Базаев Кирилл  20200      0     0
404  1  Базаев Кирилл  20250      0     0
405  1  Базаев Кирилл  20300      0     0
406  1  Базаев Кирилл  20350      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
402  0    0.745817
Name: Neutral, dtype: float64
403  0    0.741676
Name: Neutral, dtype: float64
404  0    0.739875
Name: Neutral, dtype: float64
405  0    0.737232
Name: Neutral, dtype: float64
406  0    0.736829
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
402  0    0.0
Name: Happy, dtype: float64
403  0    0.0
Name: Happy, dtype: float64
404  0    0.0
Name: Happy, dtype: float64
405  0    0.0
Name: Happy, dtype: float64
406  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
402  0    0.009836
Name: Sad, dtype: float64
403  0    0.010709
Name: Sad, dtype: float64
404   0    0.01165
Name: Sad, dtype: float64
405  0    0.014992
Name: Sad, dtype: float64
406  0    0.016912
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
402  0    9.660000e-07
Name: Angry, dtype: float64
403  0    8.085000e-07
Name: Angry, dtype: float64
404  0    6.740000e-07
Name: Angry, dtype: float64
405  0    5.980000e-07
Name: Angry, dtype: float64
406  0    5.310000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
402  0    0.0
Name: Surprised, dtype: float64  ...
403  0    0.0
Name: Surprised, dtype: float64  ...
404  0    0.0
Name: Surprised, dtype: float64  ...
405  0    0.0
Name: Surprised, dtype: float64  ...
406  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
402  0    0.249959
Name: Arousal, dtype: float64              0
403  0    0.249903
Name: Arousal, dtype: float64              0
404  0    0.249855
Name: Arousal, dtype: float64              0
405  0    0.249813
Name: Arousal, dtype: float64              0
406  0    0.249769
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
402                0       5906.0   0          0   0             0         0
403                0       6151.5   0          0   0             0         0
404                0         6380   0          0   0             0         0
405                0       6564.5   0          0   0             0         0
406                0         6594   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
402      0
403      0
404      0
405      0
406      0

[407 rows x 24 columns]
----Time----
20350
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
403  1  Базаев Кирилл  20200      0     0
404  1  Базаев Кирилл  20250      0     0
405  1  Базаев Кирилл  20300      0     0
406  1  Базаев Кирилл  20350      0     0
407  1  Базаев Кирилл  20400      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
403  0    0.741676
Name: Neutral, dtype: float64
404  0    0.739875
Name: Neutral, dtype: float64
405  0    0.737232
Name: Neutral, dtype: float64
406  0    0.736829
Name: Neutral, dtype: float64
407  0    0.733818
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
403  0    0.0
Name: Happy, dtype: float64
404  0    0.0
Name: Happy, dtype: float64
405  0    0.0
Name: Happy, dtype: float64
406  0    0.0
Name: Happy, dtype: float64
407  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
403  0    0.010709
Name: Sad, dtype: float64
404   0    0.01165
Name: Sad, dtype: float64
405  0    0.014992
Name: Sad, dtype: float64
406  0    0.016912
Name: Sad, dtype: float64
407  0    0.019641
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
403  0    8.085000e-07
Name: Angry, dtype: float64
404  0    6.740000e-07
Name: Angry, dtype: float64
405  0    5.980000e-07
Name: Angry, dtype: float64
406  0    5.310000e-07
Name: Angry, dtype: float64
407  0    4.445000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
403  0    0.0
Name: Surprised, dtype: float64  ...
404  0    0.0
Name: Surprised, dtype: float64  ...
405  0    0.0
Name: Surprised, dtype: float64  ...
406  0    0.0
Name: Surprised, dtype: float64  ...
407  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
403  0    0.249903
Name: Arousal, dtype: float64              0
404  0    0.249855
Name: Arousal, dtype: float64              0
405  0    0.249813
Name: Arousal, dtype: float64              0
406  0    0.249769
Name: Arousal, dtype: float64              0
407  0    0.249728
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
403                0       6151.5   0          0   0             0         0
404                0         6380   0          0   0             0         0
405                0       6564.5   0          0   0             0         0
406                0         6594   0          0   0             0         0
407                0       6392.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
403      0
404      0
405      0
406      0
407      0

[408 rows x 24 columns]
----Time----
20400

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
404  1  Базаев Кирилл  20250      0     0
405  1  Базаев Кирилл  20300      0     0
406  1  Базаев Кирилл  20350      0     0
407  1  Базаев Кирилл  20400      0     0
408  1  Базаев Кирилл  20450      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
404  0    0.739875
Name: Neutral, dtype: float64
405  0    0.737232
Name: Neutral, dtype: float64
406  0    0.736829
Name: Neutral, dtype: float64
407  0    0.733818
Name: Neutral, dtype: float64
408  0    0.731484
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
404  0    0.0
Name: Happy, dtype: float64
405  0    0.0
Name: Happy, dtype: float64
406  0    0.0
Name: Happy, dtype: float64
407  0    0.0
Name: Happy, dtype: float64
408  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
404   0    0.01165
Name: Sad, dtype: float64
405  0    0.014992
Name: Sad, dtype: float64
406  0    0.016912
Name: Sad, dtype: float64
407  0    0.019641
Name: Sad, dtype: float64
408  0    0.021486
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
404  0    6.740000e-07
Name: Angry, dtype: float64
405  0    5.980000e-07
Name: Angry, dtype: float64
406  0    5.310000e-07
Name: Angry, dtype: float64
407  0    4.445000e-07
Name: Angry, dtype: float64
408  0    3.700000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
404  0    0.0
Name: Surprised, dtype: float64  ...
405  0    0.0
Name: Surprised, dtype: float64  ...
406  0    0.0
Name: Surprised, dtype: float64  ...
407  0    0.0
Name: Surprised, dtype: float64  ...
408  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
404  0    0.249855
Name: Arousal, dtype: float64              0
405  0    0.249813
Name: Arousal, dtype: float64              0
406  0    0.249769
Name: Arousal, dtype: float64              0
407  0    0.249728
Name: Arousal, dtype: float64              0
408  0    0.249719
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
404                0         6380   0          0   0             0         0
405                0       6564.5   0          0   0             0         0
406                0         6594   0          0   0             0         0
407                0       6392.5   0          0   0             0         0
408                0         6088   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
404      0
405      0
406      0
407      0
408      0

[409 rows x 24 columns]
----Time----
20450
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
405  1  Базаев Кирилл  20300      0     0
406  1  Базаев Кирилл  20350      0     0
407  1  Базаев Кирилл  20400      0     0
408  1  Базаев Кирилл  20450      0     0
409  1  Базаев Кирилл  20500      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
405  0    0.737232
Name: Neutral, dtype: float64
406  0    0.736829
Name: Neutral, dtype: float64
407  0    0.733818
Name: Neutral, dtype: float64
408  0    0.731484
Name: Neutral, dtype: float64
409  0    0.730095
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
405  0    0.0
Name: Happy, dtype: float64
406  0    0.0
Name: Happy, dtype: float64
407  0    0.0
Name: Happy, dtype: float64
408  0    0.0
Name: Happy, dtype: float64
409  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
405  0    0.014992
Name: Sad, dtype: float64
406  0    0.016912
Name: Sad, dtype: float64
407  0    0.019641
Name: Sad, dtype: float64
408  0    0.021486
Name: Sad, dtype: float64
409  0    0.022552
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
405  0    5.980000e-07
Name: Angry, dtype: float64
406  0    5.310000e-07
Name: Angry, dtype: float64
407  0    4.445000e-07
Name: Angry, dtype: float64
408  0    3.700000e-07
Name: Angry, dtype: float64
409  0    3.290000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
405  0    0.0
Name: Surprised, dtype: float64  ...
406  0    0.0
Name: Surprised, dtype: float64  ...
407  0    0.0
Name: Surprised, dtype: float64  ...
408  0    0.0
Name: Surprised, dtype: float64  ...
409  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
405  0    0.249813
Name: Arousal, dtype: float64              0
406  0    0.249769
Name: Arousal, dtype: float64              0
407  0    0.249728
Name: Arousal, dtype: float64              0
408  0    0.249719
Name: Arousal, dtype: float64              0
409  0    0.250226
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
405                0       6564.5   0          0   0             0         0
406                0         6594   0          0   0             0         0
407                0       6392.5   0          0   0             0         0
408                0         6088   0          0   0             0         0
409                0       5839.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
405      0
406      0
407      0
408      0
409      0

[410 rows x 24 columns]
----Time----
20500

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
406  1  Базаев Кирилл  20350      0     0
407  1  Базаев Кирилл  20400      0     0
408  1  Базаев Кирилл  20450      0     0
409  1  Базаев Кирилл  20500      0     0
410  1  Базаев Кирилл  20550      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
406  0    0.736829
Name: Neutral, dtype: float64
407  0    0.733818
Name: Neutral, dtype: float64
408  0    0.731484
Name: Neutral, dtype: float64
409  0    0.730095
Name: Neutral, dtype: float64
410  0    0.727207
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
406  0    0.0
Name: Happy, dtype: float64
407  0    0.0
Name: Happy, dtype: float64
408  0    0.0
Name: Happy, dtype: float64
409  0    0.0
Name: Happy, dtype: float64
410  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
406  0    0.016912
Name: Sad, dtype: float64
407  0    0.019641
Name: Sad, dtype: float64
408  0    0.021486
Name: Sad, dtype: float64
409  0    0.022552
Name: Sad, dtype: float64
410  0    0.023513
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
406  0    5.310000e-07
Name: Angry, dtype: float64
407  0    4.445000e-07
Name: Angry, dtype: float64
408  0    3.700000e-07
Name: Angry, dtype: float64
409  0    3.290000e-07
Name: Angry, dtype: float64
410  0    2.920000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
406  0    0.0
Name: Surprised, dtype: float64  ...
407  0    0.0
Name: Surprised, dtype: float64  ...
408  0    0.0
Name: Surprised, dtype: float64  ...
409  0    0.0
Name: Surprised, dtype: float64  ...
410  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
406  0    0.249769
Name: Arousal, dtype: float64              0
407  0    0.249728
Name: Arousal, dtype: float64              0
408  0    0.249719
Name: Arousal, dtype: float64              0
409  0    0.250226
Name: Arousal, dtype: float64              0
410  0    0.250825
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
406                0         6594   0          0   0             0         0
407                0       6392.5   0          0   0             0         0
408                0         6088   0          0   0             0         0
409                0       5839.5   0          0   0             0         0
410                0         5751   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
406      0
407      0
408      0
409      0
410      0

[411 rows x 24 columns]
----Time----
20550
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
407  1  Базаев Кирилл  20400      0     0
408  1  Базаев Кирилл  20450      0     0
409  1  Базаев Кирилл  20500      0     0
410  1  Базаев Кирилл  20550      0     0
411  1  Базаев Кирилл  20600      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
407  0    0.733818
Name: Neutral, dtype: float64
408  0    0.731484
Name: Neutral, dtype: float64
409  0    0.730095
Name: Neutral, dtype: float64
410  0    0.727207
Name: Neutral, dtype: float64
411   0    0.72031
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
407  0    0.0
Name: Happy, dtype: float64
408  0    0.0
Name: Happy, dtype: float64
409  0    0.0
Name: Happy, dtype: float64
410  0    0.0
Name: Happy, dtype: float64
411  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
407  0    0.019641
Name: Sad, dtype: float64
408  0    0.021486
Name: Sad, dtype: float64
409  0    0.022552
Name: Sad, dtype: float64
410  0    0.023513
Name: Sad, dtype: float64
411  0    0.024898
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
407  0    4.445000e-07
Name: Angry, dtype: float64
408  0    3.700000e-07
Name: Angry, dtype: float64
409  0    3.290000e-07
Name: Angry, dtype: float64
410  0    2.920000e-07
Name: Angry, dtype: float64
411  0    2.440000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
407  0    0.0
Name: Surprised, dtype: float64  ...
408  0    0.0
Name: Surprised, dtype: float64  ...
409  0    0.0
Name: Surprised, dtype: float64  ...
410  0    0.0
Name: Surprised, dtype: float64  ...
411  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
407  0    0.249728
Name: Arousal, dtype: float64              0
408  0    0.249719
Name: Arousal, dtype: float64              0
409  0    0.250226
Name: Arousal, dtype: float64              0
410  0    0.250825
Name: Arousal, dtype: float64              0
411  0    0.251875
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
407                0       6392.5   0          0   0             0         0
408                0         6088   0          0   0             0         0
409                0       5839.5   0          0   0             0         0
410                0         5751   0          0   0             0         0
411                0       5856.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
407      0
408      0
409      0
410      0
411      0

[412 rows x 24 columns]
----Time----
20600

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
408  1  Базаев Кирилл  20450      0     0
409  1  Базаев Кирилл  20500      0     0
410  1  Базаев Кирилл  20550      0     0
411  1  Базаев Кирилл  20600      0     0
412  1  Базаев Кирилл  20650      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
408  0    0.731484
Name: Neutral, dtype: float64
409  0    0.730095
Name: Neutral, dtype: float64
410  0    0.727207
Name: Neutral, dtype: float64
411   0    0.72031
Name: Neutral, dtype: float64
412  0    0.714023
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
408  0    0.0
Name: Happy, dtype: float64
409  0    0.0
Name: Happy, dtype: float64
410  0    0.0
Name: Happy, dtype: float64
411  0    0.0
Name: Happy, dtype: float64
412  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
408  0    0.021486
Name: Sad, dtype: float64
409  0    0.022552
Name: Sad, dtype: float64
410  0    0.023513
Name: Sad, dtype: float64
411  0    0.024898
Name: Sad, dtype: float64
412  0    0.026932
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
408  0    3.700000e-07
Name: Angry, dtype: float64
409  0    3.290000e-07
Name: Angry, dtype: float64
410  0    2.920000e-07
Name: Angry, dtype: float64
411  0    2.440000e-07
Name: Angry, dtype: float64
412  0    2.030000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
408  0    0.0
Name: Surprised, dtype: float64  ...
409  0    0.0
Name: Surprised, dtype: float64  ...
410  0    0.0
Name: Surprised, dtype: float64  ...
411  0    0.0
Name: Surprised, dtype: float64  ...
412  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
408  0    0.249719
Name: Arousal, dtype: float64              0
409  0    0.250226
Name: Arousal, dtype: float64              0
410  0    0.250825
Name: Arousal, dtype: float64              0
411  0    0.251875
Name: Arousal, dtype: float64              0
412  0    0.253087
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
408                0         6088   0          0   0             0         0
409                0       5839.5   0          0   0             0         0
410                0         5751   0          0   0             0         0
411                0       5856.0   0          0   0             0         0
412                0       6107.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
408      0
409      0
410      0
411      0
412      0

[413 rows x 24 columns]
----Time----
20650
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
409  1  Базаев Кирилл  20500      0     0
410  1  Базаев Кирилл  20550      0     0
411  1  Базаев Кирилл  20600      0     0
412  1  Базаев Кирилл  20650      0     0
413  1  Базаев Кирилл  20700      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
409  0    0.730095
Name: Neutral, dtype: float64
410  0    0.727207
Name: Neutral, dtype: float64
411   0    0.72031
Name: Neutral, dtype: float64
412  0    0.714023
Name: Neutral, dtype: float64
413  0    0.711394
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
409  0    0.0
Name: Happy, dtype: float64
410  0    0.0
Name: Happy, dtype: float64
411  0    0.0
Name: Happy, dtype: float64
412  0    0.0
Name: Happy, dtype: float64
413  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
409  0    0.022552
Name: Sad, dtype: float64
410  0    0.023513
Name: Sad, dtype: float64
411  0    0.024898
Name: Sad, dtype: float64
412  0    0.026932
Name: Sad, dtype: float64
413  0    0.028954
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
409  0    3.290000e-07
Name: Angry, dtype: float64
410  0    2.920000e-07
Name: Angry, dtype: float64
411  0    2.440000e-07
Name: Angry, dtype: float64
412  0    2.030000e-07
Name: Angry, dtype: float64
413  0    1.810000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
409  0    0.0
Name: Surprised, dtype: float64  ...
410  0    0.0
Name: Surprised, dtype: float64  ...
411  0    0.0
Name: Surprised, dtype: float64  ...
412  0    0.0
Name: Surprised, dtype: float64  ...
413  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
409  0    0.250226
Name: Arousal, dtype: float64              0
410  0    0.250825
Name: Arousal, dtype: float64              0
411  0    0.251875
Name: Arousal, dtype: float64              0
412  0    0.253087
Name: Arousal, dtype: float64              0
413  0    0.253568
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
409                0       5839.5   0          0   0             0         0
410                0         5751   0          0   0             0         0
411                0       5856.0   0          0   0             0         0
412                0       6107.5   0          0   0             0         0
413                0         6306   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
409      0
410      0
411      0
412      0
413      0

[414 rows x 24 columns]
----Time----
20700

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
410  1  Базаев Кирилл  20550      0     0
411  1  Базаев Кирилл  20600      0     0
412  1  Базаев Кирилл  20650      0     0
413  1  Базаев Кирилл  20700      0     0
414  1  Базаев Кирилл  20750      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
410  0    0.727207
Name: Neutral, dtype: float64
411   0    0.72031
Name: Neutral, dtype: float64
412  0    0.714023
Name: Neutral, dtype: float64
413  0    0.711394
Name: Neutral, dtype: float64
414  0    0.708974
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
410  0    0.0
Name: Happy, dtype: float64
411  0    0.0
Name: Happy, dtype: float64
412  0    0.0
Name: Happy, dtype: float64
413  0    0.0
Name: Happy, dtype: float64
414  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
410  0    0.023513
Name: Sad, dtype: float64
411  0    0.024898
Name: Sad, dtype: float64
412  0    0.026932
Name: Sad, dtype: float64
413  0    0.028954
Name: Sad, dtype: float64
414  0    0.030292
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
410  0    2.920000e-07
Name: Angry, dtype: float64
411  0    2.440000e-07
Name: Angry, dtype: float64
412  0    2.030000e-07
Name: Angry, dtype: float64
413  0    1.810000e-07
Name: Angry, dtype: float64
414  0    1.600000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
410  0    0.0
Name: Surprised, dtype: float64  ...
411  0    0.0
Name: Surprised, dtype: float64  ...
412  0    0.0
Name: Surprised, dtype: float64  ...
413  0    0.0
Name: Surprised, dtype: float64  ...
414  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
410  0    0.250825
Name: Arousal, dtype: float64              0
411  0    0.251875
Name: Arousal, dtype: float64              0
412  0    0.253087
Name: Arousal, dtype: float64              0
413  0    0.253568
Name: Arousal, dtype: float64              0
414  0    0.254057
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
410                0         5751   0          0   0             0         0
411                0       5856.0   0          0   0             0         0
412                0       6107.5   0          0   0             0         0
413                0         6306   0          0   0             0         0
414                0       6452.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
410      0
411      0
412      0
413      0
414      0

[415 rows x 24 columns]
----Time----
20750
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
411  1  Базаев Кирилл  20600      0     0
412  1  Базаев Кирилл  20650      0     0
413  1  Базаев Кирилл  20700      0     0
414  1  Базаев Кирилл  20750      0     0
415  1  Базаев Кирилл  20800      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
411   0    0.72031
Name: Neutral, dtype: float64
412  0    0.714023
Name: Neutral, dtype: float64
413  0    0.711394
Name: Neutral, dtype: float64
414  0    0.708974
Name: Neutral, dtype: float64
415  0    0.703908
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
411  0    0.0
Name: Happy, dtype: float64
412  0    0.0
Name: Happy, dtype: float64
413  0    0.0
Name: Happy, dtype: float64
414  0    0.0
Name: Happy, dtype: float64
415  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
411  0    0.024898
Name: Sad, dtype: float64
412  0    0.026932
Name: Sad, dtype: float64
413  0    0.028954
Name: Sad, dtype: float64
414  0    0.030292
Name: Sad, dtype: float64
415  0    0.031457
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
411  0    2.440000e-07
Name: Angry, dtype: float64
412  0    2.030000e-07
Name: Angry, dtype: float64
413  0    1.810000e-07
Name: Angry, dtype: float64
414  0    1.600000e-07
Name: Angry, dtype: float64
415  0    1.340000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
411  0    0.0
Name: Surprised, dtype: float64  ...
412  0    0.0
Name: Surprised, dtype: float64  ...
413  0    0.0
Name: Surprised, dtype: float64  ...
414  0    0.0
Name: Surprised, dtype: float64  ...
415  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
411  0    0.251875
Name: Arousal, dtype: float64              0
412  0    0.253087
Name: Arousal, dtype: float64              0
413  0    0.253568
Name: Arousal, dtype: float64              0
414  0    0.254057
Name: Arousal, dtype: float64              0
415  0    0.254855
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
411                0       5856.0   0          0   0             0         0
412                0       6107.5   0          0   0             0         0
413                0         6306   0          0   0             0         0
414                0       6452.5   0          0   0             0         0
415                0         6515   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
411      0
412      0
413      0
414      0
415      0

[416 rows x 24 columns]
----Time----
20800

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
412  1  Базаев Кирилл  20650      0     0
413  1  Базаев Кирилл  20700      0     0
414  1  Базаев Кирилл  20750      0     0
415  1  Базаев Кирилл  20800      0     0
416  1  Базаев Кирилл  20850      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
412  0    0.714023
Name: Neutral, dtype: float64
413  0    0.711394
Name: Neutral, dtype: float64
414  0    0.708974
Name: Neutral, dtype: float64
415  0    0.703908
Name: Neutral, dtype: float64
416  0    0.701232
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
412  0    0.0
Name: Happy, dtype: float64
413  0    0.0
Name: Happy, dtype: float64
414  0    0.0
Name: Happy, dtype: float64
415  0    0.0
Name: Happy, dtype: float64
416  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
412  0    0.026932
Name: Sad, dtype: float64
413  0    0.028954
Name: Sad, dtype: float64
414  0    0.030292
Name: Sad, dtype: float64
415  0    0.031457
Name: Sad, dtype: float64
416  0    0.031396
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
412  0    2.030000e-07
Name: Angry, dtype: float64
413  0    1.810000e-07
Name: Angry, dtype: float64
414  0    1.600000e-07
Name: Angry, dtype: float64
415  0    1.340000e-07
Name: Angry, dtype: float64
416  0    1.120000e-07
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
412  0    0.0
Name: Surprised, dtype: float64  ...
413  0    0.0
Name: Surprised, dtype: float64  ...
414  0    0.0
Name: Surprised, dtype: float64  ...
415  0    0.0
Name: Surprised, dtype: float64  ...
416  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
412  0    0.253087
Name: Arousal, dtype: float64              0
413  0    0.253568
Name: Arousal, dtype: float64              0
414  0    0.254057
Name: Arousal, dtype: float64              0
415  0    0.254855
Name: Arousal, dtype: float64              0
416  0    0.255692
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
412                0       6107.5   0          0   0             0         0
413                0         6306   0          0   0             0         0
414                0       6452.5   0          0   0             0         0
415                0         6515   0          0   0             0         0
416                0       6406.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
412      0
413      0
414      0
415      0
416      0

[417 rows x 24 columns]
----Time----
20850
2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
413  1  Базаев Кирилл  20700      0     0
414  1  Базаев Кирилл  20750      0     0
415  1  Базаев Кирилл  20800      0     0
416  1  Базаев Кирилл  20850      0     0
417  1  Базаев Кирилл  20900      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
413  0    0.711394
Name: Neutral, dtype: float64
414  0    0.708974
Name: Neutral, dtype: float64
415  0    0.703908
Name: Neutral, dtype: float64
416  0    0.701232
Name: Neutral, dtype: float64
417   0    0.70187
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
413  0    0.0
Name: Happy, dtype: float64
414  0    0.0
Name: Happy, dtype: float64
415  0    0.0
Name: Happy, dtype: float64
416  0    0.0
Name: Happy, dtype: float64
417  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
413  0    0.028954
Name: Sad, dtype: float64
414  0    0.030292
Name: Sad, dtype: float64
415  0    0.031457
Name: Sad, dtype: float64
416  0    0.031396
Name: Sad, dtype: float64
417  0    0.029986
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
413  0    1.810000e-07
Name: Angry, dtype: float64
414  0    1.600000e-07
Name: Angry, dtype: float64
415  0    1.340000e-07
Name: Angry, dtype: float64
416  0    1.120000e-07
Name: Angry, dtype: float64
417  0    9.900000e-08
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
413  0    0.0
Name: Surprised, dtype: float64  ...
414  0    0.0
Name: Surprised, dtype: float64  ...
415  0    0.0
Name: Surprised, dtype: float64  ...
416  0    0.0
Name: Surprised, dtype: float64  ...
417  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
413  0    0.253568
Name: Arousal, dtype: float64              0
414  0    0.254057
Name: Arousal, dtype: float64              0
415  0    0.254855
Name: Arousal, dtype: float64              0
416  0    0.255692
Name: Arousal, dtype: float64              0
417  0    0.256174
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
413                0         6306   0          0   0             0         0
414                0       6452.5   0          0   0             0         0
415                0         6515   0          0   0             0         0
416                0       6406.0   0          0   0             0         0
417                0         6160   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
413      0
414      0
415      0
416      0
417      0

[418 rows x 24 columns]
----Time----
20900

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
414  1  Базаев Кирилл  20750      0     0
415  1  Базаев Кирилл  20800      0     0
416  1  Базаев Кирилл  20850      0     0
417  1  Базаев Кирилл  20900      0     0
418  1  Базаев Кирилл  20950      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
414  0    0.708974
Name: Neutral, dtype: float64
415  0    0.703908
Name: Neutral, dtype: float64
416  0    0.701232
Name: Neutral, dtype: float64
417   0    0.70187
Name: Neutral, dtype: float64
418  0    0.700068
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
414  0    0.0
Name: Happy, dtype: float64
415  0    0.0
Name: Happy, dtype: float64
416  0    0.0
Name: Happy, dtype: float64
417  0    0.0
Name: Happy, dtype: float64
418  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
414  0    0.030292
Name: Sad, dtype: float64
415  0    0.031457
Name: Sad, dtype: float64
416  0    0.031396
Name: Sad, dtype: float64
417  0    0.029986
Name: Sad, dtype: float64
418  0    0.028962
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
414  0    1.600000e-07
Name: Angry, dtype: float64
415  0    1.340000e-07
Name: Angry, dtype: float64
416  0    1.120000e-07
Name: Angry, dtype: float64
417  0    9.900000e-08
Name: Angry, dtype: float64
418  0    8.800000e-08
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
414  0    0.0
Name: Surprised, dtype: float64  ...
415  0    0.0
Name: Surprised, dtype: float64  ...
416  0    0.0
Name: Surprised, dtype: float64  ...
417  0    0.0
Name: Surprised, dtype: float64  ...
418  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
414  0    0.254057
Name: Arousal, dtype: float64              0
415  0    0.254855
Name: Arousal, dtype: float64              0
416  0    0.255692
Name: Arousal, dtype: float64              0
417  0    0.256174
Name: Arousal, dtype: float64              0
418  0    0.257082
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
414                0       6452.5   0          0   0             0         0
415                0         6515   0          0   0             0         0
416                0       6406.0   0          0   0             0         0
417                0         6160   0          0   0             0         0
418                0       5870.5   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
414      0
415      0
416      0
417      0
418      0

[419 rows x 24 columns]
----Time----
20950
1
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
415  1  Базаев Кирилл  20800      0     0
416  1  Базаев Кирилл  20850      0     0
417  1  Базаев Кирилл  20900      0     0
418  1  Базаев Кирилл  20950      0     0
419  1  Базаев Кирилл  21000      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
415  0    0.703908
Name: Neutral, dtype: float64
416  0    0.701232
Name: Neutral, dtype: float64
417   0    0.70187
Name: Neutral, dtype: float64
418  0    0.700068
Name: Neutral, dtype: float64
419  0    0.698672
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
415  0    0.0
Name: Happy, dtype: float64
416  0    0.0
Name: Happy, dtype: float64
417  0    0.0
Name: Happy, dtype: float64
418  0    0.0
Name: Happy, dtype: float64
419  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
415  0    0.031457
Name: Sad, dtype: float64
416  0    0.031396
Name: Sad, dtype: float64
417  0    0.029986
Name: Sad, dtype: float64
418  0    0.028962
Name: Sad, dtype: float64
419  0    0.027755
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
415  0    1.340000e-07
Name: Angry, dtype: float64
416  0    1.120000e-07
Name: Angry, dtype: float64
417  0    9.900000e-08
Name: Angry, dtype: float64
418  0    8.800000e-08
Name: Angry, dtype: float64
419  0    7.350000e-08
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
415  0    0.0
Name: Surprised, dtype: float64  ...
416  0    0.0
Name: Surprised, dtype: float64  ...
417  0    0.0
Name: Surprised, dtype: float64  ...
418  0    0.0
Name: Surprised, dtype: float64  ...
419  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
415  0    0.254855
Name: Arousal, dtype: float64              0
416  0    0.255692
Name: Arousal, dtype: float64              0
417  0    0.256174
Name: Arousal, dtype: float64              0
418  0    0.257082
Name: Arousal, dtype: float64              0
419  0    0.258174
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
415                0         6515   0          0   0             0         0
416                0       6406.0   0          0   0             0         0
417                0         6160   0          0   0             0         0
418                0       5870.5   0          0   0             0         0
419                0         5662   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
415      0
416      0
417      0
418      0
419      0

[420 rows x 24 columns]
----Time----
21000

2
    id           name   time stimul trial  \
0    1  Базаев Кирилл     50      0     0
1    1  Базаев Кирилл    100      0     0
2    1  Базаев Кирилл    150      0     0
3    1  Базаев Кирилл    200      0     0
4    1  Базаев Кирилл    250      0     0
..  ..            ...    ...    ...   ...
416  1  Базаев Кирилл  20850      0     0
417  1  Базаев Кирилл  20900      0     0
418  1  Базаев Кирилл  20950      0     0
419  1  Базаев Кирилл  21000      0     0
420  1  Базаев Кирилл  21050      0     0

                                         Neutral  \
0          0    NaN
Name: Neutral, dtype: object
1          0    NaN
Name: Neutral, dtype: object
2          0    NaN
Name: Neutral, dtype: object
3          0   NaN
Name: Neutral, dtype: float64
4          0    NaN
Name: Neutral, dtype: object
..                                           ...
416  0    0.701232
Name: Neutral, dtype: float64
417   0    0.70187
Name: Neutral, dtype: float64
418  0    0.700068
Name: Neutral, dtype: float64
419  0    0.698672
Name: Neutral, dtype: float64
420  0    0.695695
Name: Neutral, dtype: float64

                                    Happy  \
0     0    NaN
Name: Happy, dtype: object
1     0    NaN
Name: Happy, dtype: object
2     0    NaN
Name: Happy, dtype: object
3     0   NaN
Name: Happy, dtype: float64
4     0    NaN
Name: Happy, dtype: object
..                                    ...
416  0    0.0
Name: Happy, dtype: float64
417  0    0.0
Name: Happy, dtype: float64
418  0    0.0
Name: Happy, dtype: float64
419  0    0.0
Name: Happy, dtype: float64
420  0    0.0
Name: Happy, dtype: float64

                                         Sad  \
0          0    NaN
Name: Sad, dtype: object
1          0    NaN
Name: Sad, dtype: object
2          0    NaN
Name: Sad, dtype: object
3          0   NaN
Name: Sad, dtype: float64
4          0    NaN
Name: Sad, dtype: object
..                                       ...
416  0    0.031396
Name: Sad, dtype: float64
417  0    0.029986
Name: Sad, dtype: float64
418  0    0.028962
Name: Sad, dtype: float64
419  0    0.027755
Name: Sad, dtype: float64
420  0    0.029913
Name: Sad, dtype: float64

                                             Angry  \
0              0    NaN
Name: Angry, dtype: object
1              0    NaN
Name: Angry, dtype: object
2              0    NaN
Name: Angry, dtype: object
3              0   NaN
Name: Angry, dtype: float64
4              0    NaN
Name: Angry, dtype: object
..                                             ...
416  0    1.120000e-07
Name: Angry, dtype: float64
417  0    9.900000e-08
Name: Angry, dtype: float64
418  0    8.800000e-08
Name: Angry, dtype: float64
419  0    7.350000e-08
Name: Angry, dtype: float64
420  0    6.100000e-08
Name: Angry, dtype: float64

                                    Surprised  ...  \
0     0    NaN
Name: Surprised, dtype: object  ...
1     0    NaN
Name: Surprised, dtype: object  ...
2     0    NaN
Name: Surprised, dtype: object  ...
3     0   NaN
Name: Surprised, dtype: float64  ...
4     0    NaN
Name: Surprised, dtype: object  ...
..                                        ...  ...
416  0    0.0
Name: Surprised, dtype: float64  ...
417  0    0.0
Name: Surprised, dtype: float64  ...
418  0    0.0
Name: Surprised, dtype: float64  ...
419  0    0.0
Name: Surprised, dtype: float64  ...
420  0    0.0
Name: Surprised, dtype: float64  ...

                                         Arousal ABDOMINAL_RESP  \
0          0    NaN
Name: Arousal, dtype: object              0
1          0    NaN
Name: Arousal, dtype: object              0
2          0    NaN
Name: Arousal, dtype: object              0
3          0   NaN
Name: Arousal, dtype: float64              0
4          0    NaN
Name: Arousal, dtype: object              0
..                                           ...            ...
416  0    0.255692
Name: Arousal, dtype: float64              0
417  0    0.256174
Name: Arousal, dtype: float64              0
418  0    0.257082
Name: Arousal, dtype: float64              0
419  0    0.258174
Name: Arousal, dtype: float64              0
420  0    0.259139
Name: Arousal, dtype: float64              0

    ABS_BLOOD_VOLUME BLOOD_VOLUME EDA HEART_RATE PLE THORACIC_RESP TONIC_EDA  \
0                  0            0   0          0   0             0         0
1                  0        222.5   0          0   0             0         0
2                  0          223   0          0   0             0         0
3                  0        111.5   0          0   0             0         0
4                  0            0   0          0   0             0         0
..               ...          ...  ..        ...  ..           ...       ...
416                0       6406.0   0          0   0             0         0
417                0         6160   0          0   0             0         0
418                0       5870.5   0          0   0             0         0
419                0         5662   0          0   0             0         0
420                0       5609.0   0          0   0             0         0

    TREMOR
0        0
1        0
2        0
3        0
4        0
..     ...
416      0
417      0
418      0
419      0
420      0

[421 rows x 24 columns]
----Time----
21050